[2022-01-30 07:07] rarkins commented on #11419
Unfortunately I'm not seeing etag on responses from GitHub's GraphQL:

![image](https://user-images.githubusercontent.com/6311784/151690197-15a9a26a-0ab5-42ca-b0d2-582ca060553b.png)

@JamieMagee any chance you can confirm this limitation?

[2022-01-30 07:32] viceice commented on #13910
Sounds good to me.

[2022-01-30 07:48] ccopsey commented on #6576
I think each of your "every major, every minor" permutations should include 2.0.0.

[2022-01-30 08:04] rarkins commented on #11419
We could possibly switch back to the REST API, although it would require one additional GET per PR to get the comments we fetch with GraphQL: https://github.com/renovatebot/renovate/blob/368903ab814f5b19117eaab6c2cb33382be6cad6/lib/platform/github/graphql.ts#L22-L53

[2022-01-30 08:17] hasanawad94 commented on #9526
Hello @rarkins , would you kindly assign this on me ?
I plan to add a check for when the log level has been set to an unexpected value and maybe in that case assign the value to debug.

[2022-01-30 08:25] viceice commented on #9526
@hasanawad94 this value should checked before passing to Bunyan and should raise a config error. So no continue running.

[2022-01-30 08:35] rarkins commented on #6576
It's intentional not to separate minor streams in major releases, although I admit it's not well described by "every major, every minot". I don't think such an option is practical or useful except in some very rare edge cases.

[2022-01-30 08:36] rarkins commented on #13910
I don't have time to work on the test cases today unfortunately

[2022-01-30 09:09] viceice commented on #13910
OK, fixing it now

[2022-01-30 10:22] ccopsey commented on #6576
In your example, if 3.1.0 was also available, would 3.0.0 and 3.1.0 both be candidates in a “every major, every minor” scenario?

If so I think your comment is reasonable, although potentially unintuitive given the configuration options. And hopefully this shouldn’t crop up in practice as the user should track the latest much more closely.

[2022-01-30 10:43] #13910 closed

[2022-01-30 11:08] renovate-release commented on #13910
:tada: This issue has been resolved in version 31.63.1 :tada:

The release is available on:
- [GitHub release](https://github.com/renovatebot/renovate/releases/tag/31.63.1)
- `31.63.1`

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-01-30 11:15] rarkins commented on #6576
No, my intention was that you don't separate minor other than in the current major stream

[2022-01-30 13:34] ChipWolf opened #13916 "Hold label to freeze the current version of the PR"
### What would you like Renovate to be able to do?

We have a few files where the version of a dependency is updated, but each file needs to track the dependency version at a different pace depending on a variety of factors.

### If you have any ideas on how this should be implemented, please tell us here.

It'd be ideal if we could add a label to a Renovate PR that would effectively freeze the ta

[2022-01-30 14:37] rarkins commented on #13916
Freeze the version but keep the PR de-conflicted and/or up to date as configured? Or freeze it with no further commits at all?

[2022-01-30 14:38] ccopsey commented on #6576
I would need separate minors for the latest major to ensure there are candidate versions that satisfy my stability criteria, otherwise the latest major is always out of reach. Without manual intervention I’m always 1 major behind, and each upgrade is large.

Is this really an edge case?

[2022-01-30 14:57] rarkins commented on #6576
What's an example of your "stability criteria"?

[2022-01-30 15:23] StinkyLord commented on #5838
@rarkins i'll take this one

[2022-01-30 15:27] ccopsey commented on #6576
I run renovate via docker and so have control over the version that runs. It is subject to the same 7 stabilityDays that I apply to everything. As it stands I’m still on v30 as there hasn’t been a period of 7 days when the latest v31 has remained constant.

Perhaps the answer here is that due to the continuous deployment nature of renovate, and the fact it is a utility rather than a dependency, st

[2022-01-30 15:36] rarkins commented on #6576
Check out the config option internalChecksFilter=strict. But old doesn't necessarily mean bug-free..

[2022-01-30 17:37] The-Code-Monkey opened #13919 "Not updating package"
### How are you running Renovate?

WhiteSource Renovate hosted app on github.com

### If you're self-hosting Renovate, tell us what version of Renovate you run.

_No response_

### Please select which platform you are using if self-hosting.

_No response_

### If you're self-hosting Renovate, tell us what version of the platform you run.

_No response_

### Was this something which used to work fo

[2022-01-30 17:49] #13919 closed

[2022-01-30 17:49] rarkins commented on #13919
Issues lacking in details like this will be deleted. Please start a discussion instead, with improved details.

[2022-01-30 20:25] rarkins commented on #11537
We've now found problems with the GraphQL API because it does not support either of:
- executable files (we could live without)
- force pushing to an existing branch (critical)

We must now fall back to the idea of the REST API, but the problem with it is that it requires a total of more than 1 API call per file.

One possible way we could overcome this is to push all the data to GitHub using git,

[2022-01-30 21:58] rarkins commented on #11537
I can put a non-branch ref to github, then do an API commit, and then update an existing branch to the new ref (commit):

![image](https://user-images.githubusercontent.com/6311784/151718708-a519e900-6665-4d71-ae91-9d85428fc8bb.png)

Unfortunately the PR is then automatically closed.

Clicking on the commit shows this:
![image](https://user-images.githubusercontent.com/6311784/151718736-865c8e66-a

[2022-01-30 23:07] danports commented on #13910
Oops, my bad, I missed this during my testing. I did run a test on Docker with install-tool and the same invalid YAML was generated, but I must have missed those few lines when reviewing the PR content. 🤦 Thanks for the quick fix @rarkins @viceice!

[2022-01-31 06:09] zharinov commented on #11537
Don't we lose the desired benefit of commit signing if switch to some non-GraphQL approach?
Having force-push implemented via temporary branches and REST, I can confirm it triggers twice more workflow runs on CI.

[2022-01-31 06:44] rarkins commented on #11537
On GitHub, Apps which commit via the API have their commits automatically signed

[2022-01-31 07:44] #6798 closed

[2022-01-31 08:06] renovate-release commented on #6798
:tada: This issue has been resolved in version 31.64.0 :tada:

The release is available on:
- [GitHub release](https://github.com/renovatebot/renovate/releases/tag/31.64.0)
- `31.64.0`

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-01-31 09:09] hasanawad94 commented on #9526
@viceiceTo clear things. This code here in logger->index.ts :
`const stdout: bunyan.Stream = {
  name: 'stdout',
  level:
    (process.env.LOG_LEVEL as bunyan.LogLevel) ||
    /* istanbul ignore next: not testable */ 'info',
  stream: process.stdout,
};`

I believe that the line `(process.env.LOG_LEVEL as bunyan.LogLevel) || 'info'` was meant to set the loglevel to info incase of log level is not

[2022-01-31 09:12] Gabriel-Ladzaretti opened #13922 "Golang: Renovate includes indirect dependencies when running on a windows machine."
### How are you running Renovate?

Self-hosted

### If you're self-hosting Renovate, tell us what version of Renovate you run.

31.63.2

### Please select which platform you are using if self-hosting.

github.com

### If you're self-hosting Renovate, tell us what version of the platform you run.

_No response_

### Was this something which used to work for you, and then stopped?

I never saw this

[2022-01-31 09:16] hasanawad94 commented on #9526
@rarkins @viceice  How about we fix this line `(process.env.LOG_LEVEL as bunyan.LogLevel) || 'info'` instead of making the program stop running incase of an undefined log from the configuration ?

[2022-01-31 09:25] HonkingGoose commented on #13922
Hi @Gabriel-Ladzaretti, the link you gave to your minimal reproduction is not working. Can you fix the link so it points to your reproduction repository? 😉

[2022-01-31 09:28] HenrikPoulsen commented on #2408
Made a draft PR for what I have so far. So I don't spend too much time on something that might go completely against the renovate grain #13923
Any feedback appreciated

[2022-01-31 09:30] Gabriel-Ladzaretti commented on #13922
done :)

[2022-01-31 09:31] rarkins commented on #9526
I suggest to do this:
- Default to `info` if no string has been configured (existing behavior)
- Lowercase the configured string (e.g. DEBUG -> debug)
- Check if the string is a valid value for bunyan's LOG_LEVEL
- Fatally error if it is not

[2022-01-31 10:14] HonkingGoose commented on #13922
@rarkins Do we support running Renovate on a Windows machine? Our docs do not mention the host operating systems that a user can use.

[2022-01-31 11:42] Chumper opened #13925 "defaultRegistryUrls does not work when the manager provides a custom defaultUrl"
### How are you running Renovate?

Self-hosted

### If you're self-hosting Renovate, tell us what version of Renovate you run.

0.0.0-semantic-release (so current main branch)

### Please select which platform you are using if self-hosting.

GitHub Enterprise Server

### If you're self-hosting Renovate, tell us what version of the platform you run.

doesn't matter

### Was this something which use

[2022-01-31 12:13] rarkins commented on #13922
Yes, we should support this. I think we need to split files based on `\r?\r`

[2022-01-31 12:14] AndrewLeedham commented on #13674
@rarkins have I got the syntax right in the above?

[2022-01-31 12:53] dominykas opened #13926 "Support `node_modules` that live in source control"
### What would you like Renovate to be able to do?

Having `node_modules` checked into source control is not a very common pattern, however there is at least one use case where it simplifies life a lot: creating Github Actions. GH expects all the things needed for runtime to be in the repository, so as a developer you're left with either checking in the `node_modules` or using a bundler.

The feat

[2022-01-31 13:06] viceice commented on #13926
Duplicate of #13674

[2022-01-31 13:09] dominykas commented on #13926
Shall I add the detail about wiping `node_modules` _before_ kicking off the upgrade in #13674?

[2022-01-31 13:13] Gabriel-Ladzaretti commented on #13922
@rarkins, would love to be assigned to fix this.
thanks

[2022-01-31 13:23] rarkins commented on #13674
I looked up the source code to check: https://github.com/renovatebot/renovate/blob/25e62d54a47ba9d08580a47358079c53eca5b1a3/lib/workers/branch/execute-post-upgrade-commands.ts#L100-L102

It indicates it's a relative path.

I suggest running it locally where you might be able to debug it (or at least add old fashioned `console.log` messages) to work out how close it's getting. It may not even get i

[2022-01-31 13:45] HonkingGoose commented on #13925
From our `defaultRegistryUrls` docs: [^docs]

It looks like we hard-code a path to the maven registry in the Maven manager code:

https://github.com/renovatebot/renovate/blob/3481d38dc2e1858cb8580e0f195b565926fa5d9c/lib/manager/maven/extract.ts#L60

I think the code wouldn't reach the `defaultRegistryUrls` fallback code as there is a proper `registryURls` hardcoded into the Maven manager, so the s

[2022-01-31 13:53] viceice commented on #13922
I think this needs to be fixed in some more managers. Also make sure to detect line endings and rejoin strings with same line endings. On windows it depends on git configuration, which endings are used, i always configure `input` so most of the time i get `\n`, exerpt some excludions via `.gitattributes` (eq `.bat` and `.cmd` files)

[2022-01-31 13:53] Chumper commented on #13925
My use case is a combination of different options.

I contributed a PR to be able to extract maven registries from a settings.xml in #13592
Before that I defined `registryUrls` for the maven manager to have a set of registries for all repos I manage.
The problem is that this does not scale well because each registry is contacted for each maven package.

My feature mitigates that, so that I now do

[2022-01-31 14:04] rarkins commented on #13925
I don't think that's a reasonable expectation. If you want to look up in both, you'd need both configured in `defaultRegistryUrls`. Those who *don't* want to look up Maven Central can configure only one like you've done.

This part is not intended.

I'm not sure we need this because the datasource already has it: https://github.com/renovatebot/renovate/blob/493fd759de82d87745e329dcdfa8eb215d3cf546

[2022-01-31 14:10] Chumper commented on #13925
If we do that, we break all repos, that have neither `registryUrls` or `defaultRegistryUrls` defined nor any `settings.xml` in the repo.
I am sure that are quite a lot repos.

We can only do that if we provide a default `defaultRegistryUrls` that has the maven central url set.

[2022-01-31 14:35] #13838 closed

[2022-01-31 14:38] rarkins commented on #13922
Any chance we could specify autocrlf ourselves when cloning and git would magically fix it up while Renovate sees only `\n`? https://docs.github.com/en/get-started/getting-started-with-git/configuring-git-to-handle-line-endings

[2022-01-31 14:38] rarkins commented on #13922
![image](https://user-images.githubusercontent.com/6311784/151813204-85be8fa3-fe9e-4a68-8714-2fc6f9eb5bbe.png)

[2022-01-31 14:42] viceice commented on #13922
Yes, we can pass `core.autocrlf = input` to the clone command

[2022-01-31 14:43] viceice commented on #13922
or `core.eol`

[2022-01-31 14:46] viceice commented on #13922
I think we need to detect it, as the `.gitattributes` will override any global config. so the files can again be have `\r\n` line endings.

A sample of mine
*.gitattributes*
[code]

[2022-01-31 14:48] rarkins commented on #13922
If we said "Renovate will work on Windows only if you have lf or auto linefeeds" then would it be an unreasonable restriction?

[2022-01-31 14:51] viceice commented on #13922
Yes i think so. If we don't require to joind the string after split (eg only split for line processing) then i would suggest a util function  `splitLines` which will do `lines.split(/\r?\n/)`.

[2022-01-31 14:55] Chumper commented on #13925
Not sure, need to test that first.

[2022-01-31 15:28] rarkins commented on #13925
It's used by the datasource index code prior to passing to the datasource implementation itself. Take a look at the code I modified in the recent PR because it's part of that

[2022-01-31 17:19] AndrewLeedham commented on #13674
Thanks @rarkins. I managed to recreate the issue locally, the path is correct. However, it would seem that the file is not being updated because it is done so via a `"postinstall"` script. So using `--alow-scripts --skip-installs=false` flags I got it to work.

Am I right in thinking the GitHub App version does not enable these flags/options and I would need to self-host?

Also is there some way t

[2022-01-31 17:23] gaeljw opened #13929 "[sbt] When a common variable is used for multiple dependencies, several PR are opened"
### How are you running Renovate?

Self-hosted

### If you're self-hosting Renovate, tell us what version of Renovate you run.

31.38.4

### Please select which platform you are using if self-hosting.

GitLab self-hosted

### If you're self-hosting Renovate, tell us what version of the platform you run.

13.6.2

### Was this something which used to work for you, and then stopped?

I never saw this

[2022-01-31 17:25] gaeljw commented on #13929
My memory is failing.. I already opened such a bug some time ago which was fixed but look's like it's not anymore: https://github.com/renovatebot/renovate/issues/6706

[2022-01-31 18:29] ChipWolf commented on #13916
I'd prefer the first option

[2022-01-31 19:42] antonym commented on #11106
We are running on GitLab SaaS running:

`renovate/renovate:31.53.2@sha256:e638885dc70836373709aab1f97257a450709241e0ab6ad3eb71d87140cf0161`

We have a version in a Dockerfile we'd like to auto maintain as it increments and push the image to the registry when there is an update. We are setting the following in the repo's renovate.json:

[code]

This would let the repository automerge the commit, le

[2022-01-31 19:44] viceice opened #13932 "WARN: Error ensuring comment"
### How are you running Renovate?

Self-hosted

### If you're self-hosting Renovate, tell us what version of Renovate you run.

31.64.0

### Please select which platform you are using if self-hosting.

Gitea

### If you're self-hosting Renovate, tell us what version of the platform you run.

1.15.10

### Was this something which used to work for you, and then stopped?

It used to work, and then st

[2022-01-31 19:44] ChipWolf opened #13933 "Option for self-hosted to prevent the bot looking for an existing renovate config"
### What would you like Renovate to be able to do?

We have a hybrid situation where one private package (a GitHub release) needs a "self-hosted" Renovate (a GitHub action), and we'd prefer most of our renovation to continue to be performed by the hosted version.

Right now, we supply a special renovate config for this GitHub action; however, no matter what I've tried, during execution Renovate st

[2022-01-31 19:45] viceice commented on #13932
Seeing the warning for both closed PR's

[2022-01-31 19:49] viceice commented on #13933
Technically not possible

[2022-01-31 20:11] ChipWolf commented on #13933
Everything is technically possible 😆
What's the limitation of returning null here with an if function & a new config option?
https://github.com/renovatebot/renovate/blob/7e069f4adce758bef94fc31ea4db8984f3169da9/lib/workers/repository/init/merge.ts#L26

[2022-01-31 20:37] viceice commented on #13933
I don't like that idea.

You can always use a `force` option on global config to override everything from repo config.

[2022-01-31 20:44] ChipWolf commented on #13933
This Frankenstein config appears to do the job, but I'm not certain if it's actually overriding anything, the output still shows all of the original config after massaging.
[code]

[2022-01-31 20:56] ChipWolf commented on #13933
Yeah, confirmed that config doesn't do much, the dependency dashboard is still created among some other things

[2022-01-31 21:05] sboschman opened #13938 "[Helm] Lock file cannot be updated"
### How are you running Renovate?

Self-hosted

### If you're self-hosting Renovate, tell us what version of Renovate you run.

31.64.0

### Please select which platform you are using if self-hosting.

github.com

### If you're self-hosting Renovate, tell us what version of the platform you run.

_No response_

### Was this something which used to work for you, and then stopped?

It used to work,

[2022-01-31 21:34] #13938 closed

[2022-01-31 21:41] cesarsotovalero commented on #13857
The developers of Besu (the official Java client for Ethereum), noticed this and refused to update web3j to v5.0.0, see https://github.com/hyperledger/besu/pull/3241

Furthermore, the latest release of web3j is v4.8.9, according to its official GitHub repo, see https://github.com/web3j/web3j/releases

There is definitely a caveat with this dependency. Even the Maven repository reports many more vu

[2022-01-31 21:54] renovate-release commented on #13838
:tada: This issue has been resolved in version 31.64.1 :tada:

The release is available on:
- [GitHub release](https://github.com/renovatebot/renovate/releases/tag/31.64.1)
- `31.64.1`

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-01-31 21:54] renovate-release commented on #13938
:tada: This issue has been resolved in version 31.64.1 :tada:

The release is available on:
- [GitHub release](https://github.com/renovatebot/renovate/releases/tag/31.64.1)
- `31.64.1`

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-01-31 23:37] Chumper commented on #13925
You are correct, that should work. So we just need to remove the default maven central url from the extraction phase.

[2022-02-01 05:44] rarkins commented on #13933
Duplicate of #6626

See https://github.com/renovatebot/renovate/issues/6626#issuecomment-827870904 for my proposal to add new option to *ignore* repo config

[2022-02-01 05:45] #13933 closed

[2022-02-01 05:47] rarkins commented on #13916
I assumed so. It will be challenging though, because the way it works is today:
- we look up versions
- we decide what updates are necessary
- we put things in branches
- and only then could we possibly look up an existing PR and discover the user wants a different version

[2022-02-01 06:45] horihel commented on #13591
I didn't test it yet, but I think the newly introduced "defaultRegistryUrls" might solve my problem.

i'll try and get a second repro set up quickly

[2022-02-01 07:18] #13932 closed

[2022-02-01 07:22] sboschman commented on #13938
Just upgraded to 31.64.1 and the helm lock files are bumped again. Thank for the quick fix!

[2022-02-01 07:24] viceice commented on #13938
Thanks for confirmation

[2022-02-01 07:43] renovate-release commented on #13932
:tada: This issue has been resolved in version 31.64.2 :tada:

The release is available on:
- [GitHub release](https://github.com/renovatebot/renovate/releases/tag/31.64.2)
- `31.64.2`

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-02-01 07:48] MaronHatoum commented on #8324
Hi,
would you assign this bug to me, please?

[2022-02-01 07:55] #13857 closed

[2022-02-01 07:57] rarkins commented on #13929
Let's have a reproduction and make sure we add a test case for any next fix

[2022-02-01 07:58] rarkins commented on #13674
It's mostly default settings. As a general rule, we don't opt into any of the options related to "trust" of repositories, such as allowing scripts, full installs, exposing env variables, etc.

[2022-02-01 08:16] renovate-release commented on #13857
:tada: This issue has been resolved in version 31.65.0 :tada:

The release is available on:
- [GitHub release](https://github.com/renovatebot/renovate/releases/tag/31.65.0)
- `31.65.0`

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-02-01 09:11] StinkyLord commented on #10033
Hi, assign this to me please

[2022-02-01 09:31] morremeyer commented on #13168
I've been dealing with an edge case regarding the escaping of slashes in the last few days:

We run renovate self-hosted, deployed with the helm chart. This is managed by terraform. The configuration looks as follows (some parts left out for brevity):

[code]

Due to the fact that we're using hcl with `yamlencode` and `jsonencode` nested inside of it, we can't effectively use `/` as regex delimite

[2022-02-01 09:40] Gabriel-Ladzaretti commented on #11428
would love taking on that, please assign it to me. thanks.

[2022-02-01 09:42] viceice commented on #13168
Did you tested `!/(org/repo|org/repo2)/`, i think regex is smart enough to properly detect.

[2022-02-01 09:55] StinkyLord commented on #12013
Hi, Assign this to me please.

[2022-02-01 10:41] AndrewLeedham commented on #13674
Thanks again @rarkins. I'll close this out.

For anyone coming across this issue, for `msw` updating its worker file per version you would need to do the following:
- Use the self-hosted runner (as the GitHub App does not run scripts, `msw` uses a `postinstall` script here)
  - pass `--allow-scripts` flag to enable said scripts.
  - pass `--skip-installs=false` so renovate does not use the `--pack

[2022-02-01 10:41] #13674 closed

[2022-02-01 10:46] jelhan commented on #13804
It even got worse after upgrading Renovate Runner template to `v8.23.1` and adding `{ "postUpdateOptions": ["yarnDedupeHighest"] }. It now not even commits the updated `yarn.lock` anymore for major upgrades. I'm very confused. Haven't seen this yet ever before. I was also not able to reproduce using projects and runners, which I'm able to share publicly. I feel that it is caused by the specific ru

[2022-02-01 11:22] rarkins commented on #13926
I think this one sounds a bit specialist - especially the `node_modules` wiping - so let's keep it as a separate feature discussion.

We already support "vendored" packages in other manages such as `gomod`, `bundler`, `yarn` (cache), and `composer`, if my memory is correct. I think merely adding/updating the `node_modules` is a simple part. Making sure you wipe `node_modules` at the right times is

[2022-02-01 11:27] morremeyer commented on #13168
@viceice I did, but actually had a typo in the string that made it fail. Thank you for making me check it again - it works as you described.

[2022-02-01 12:08] renan-alm commented on #13807
Uploading the two full logs from Jan28 and Feb1.

I noticed something new, only the logs from Jan28 which does a `ls-remote` display the creds, not the one which does `push` (Feb1).

[consoleText_Renovate_Jan28.txt](https://github.com/renovatebot/renovate/files/7978260/consoleText_Renovate_Jan28.txt)
[consoleText_Renovate_Feb1.txt](https://github.com/renovatebot/renovate/files/7978263/consoleText_

[2022-02-01 12:20] KnisterPeter opened #13943 "Per-release sourceUrl support for npm datasource"
### What would you like Renovate to be able to do?

I would like renovate select the sourceUrl per release.
This is helpful if a package moves the source repository (e.g. from github to gitlab).

### If you have any ideas on how this should be implemented, please tell us here.

Currently renovate selects the global repository of a package over the release specific repository:

https://github.com/r

[2022-02-01 12:22] KnisterPeter commented on #13943
This issue was created of a discussion over here: https://github.com/renovatebot/renovate/discussions/13940

[2022-02-01 13:10] rarkins commented on #13943
No, that would be undesirable. The package.sourceUrl value should remain as-is. What you need is for release.sourceUrl to be added if it differs from package.sourceUrl.

[2022-02-01 13:10] rarkins commented on #13943
Need to find a public npm package to test this against, which has different repositories in certain releases

[2022-02-01 13:14] ZauberNerd commented on #13943
@rarkins I did a quick test with npmjs, check out version 8 and 9 of: https://www.npmjs.com/package/zaubernerd-test-package
[code]
As we can see here, npm does respect the updated repository url, while other registries (such as Nexus) might not.

[2022-02-01 13:17] KnisterPeter commented on #13943
If we can group PRs by `release.sourceUrl` then it would be fine.

[2022-02-01 13:18] rarkins commented on #13943
@ZauberNerd thanks. This feature primarily needed as a workaround for incorrect Nexus behavior, but it's still a good thing to have. e.g. let's say someone was updating from v7 to v8 of your package, then we should show the "old" sourceUrl then and not the new one.

[2022-02-01 13:34] rarkins commented on #13807
Thanks. I think this is the relevant part:

[code]

Lines 2 and 3 indicate us adding a token (github.com?) and password auth to our hostRules, and they are not cleared again before the error. So it *seems* like the password should have been added to our sanitizations there, although we can't be 100% sure. The other possibility is that secrets within `err` are not hitting our sanitizations.

[2022-02-01 14:16] Goooler commented on #13295
Also link #12397, #9410.

[2022-02-01 14:23] rarkins commented on #13807
I can't reproduce this using unit tests, e.g. the following passes:

[code]

[2022-02-01 14:53] JonasHavers commented on #13344
I encountered the same problem and found the cause. In the file `lib/datasource/sbt-package/index.ts` the filter function of `parseIndexDir` inside `getArtifactSubdirs` / `parseSubdirs` does to match the artifact name with the root-relative URL paths of the repo's index file, e.g. `kafka-avro-serializer` with `/maven/io/confluent/kafka-avro-serializer/`. Many public Maven/Ivy repos use links relat

[2022-02-01 15:19] JonasHavers commented on #13344
How about we add `x.endsWith(artifact)` or `/${artifact}` to the conditions, @rarkins ?

[2022-02-01 15:38] rarkins commented on #13344
Happy for any PR which is backwards compatible while also fixing the current problem

[2022-02-01 16:02] rarkins commented on #13807
I got it to work once, but still no reproduction:

[code]

I'm kind of tapped out - spent hours trying to reproduce and cannot

[2022-02-01 16:15] rarkins commented on #13807
I got an even closer reproduction failure by removing the platform external error:

[code]

[2022-02-01 16:18] Goooler commented on #13295
I added `fileMatch` to `renovate.json` like this:
[code]
But renovate bot told me an syntax error: `Each Regex Manager must contain a non-empty matchStrings array`, how can I add the `matchStrings` for all deps under `buildSrc`?

[2022-02-01 16:33] Goooler opened #13948 "Trigger renovate-bot to check the syntax of renovate configuration on PRs"
### What would you like Renovate to be able to do?

- After I start a new PR to modify the renovate configuration, I want to trigger renovate-bot to check if there is any syntax error in the configuration.
- After the last step, I may need to check which dependencies can be updated after this PR, how can I do it?

### If you have any ideas on how this should be implemented, please tell us here.

N

[2022-02-01 16:54] rarkins commented on #13295
This feature is not the right place to discuss regex manager howto's. Please raise a discussion instead, but I recommend you read more on regex manager first because I suspect you misunderstand it and shouldn't be using it for this

[2022-02-01 17:58] dominykas commented on #13926
Repo to reproduce the issue: https://github.com/dominykas/test-renovate-13926

Build log: https://app.renovatebot.com/dashboard#github/dominykas/test-renovate-13926/568141763

This does not demonstrate the missing integrity fields (I'll revisit that later), but it does demo the failure to upgrade deps (lockfile has debug@4.3.2, but there is a 4.3.3 already available - this is because `npm install`

[2022-02-01 18:03] HonkingGoose commented on #13948
You can use the `renovate-config-validator` program to check for syntax errors. [^reconfigure-via-pr]

I recommend you enable the Dependency Dashboard [^dashboard], that will give you an overview of all dependencies that you can update.

[^reconfigure-via-pr]: https://docs.renovatebot.com/getting-started/installing-onboarding/#reconfigure-via-pr

[^dashboard]: https://docs.renovatebot.com/key-conc

[2022-02-01 18:08] HonkingGoose commented on #13948
Your issue seems related to this older issue:

- #547

@rarkins do you want to keep this issue, or close it as a duplicate of the earlier issue?

[2022-02-01 18:10] rarkins commented on #13948
They're a bit different

[2022-02-01 18:29] gaeljw commented on #13929
Sure, here is a reproduction project with minimal `build.sbt` and the 2 PRs created by Renovate: https://github.com/gaeljw/renovate1799/pulls

[2022-02-01 18:33] viceice commented on #13807
Maybe you need two repos to scan, and when starting the second, the sanitized values are missing?

[2022-02-01 20:24] or-adar commented on #9540
Hi @rarkins
saw that master has some refrences regarding that feature, and the config file introduces a "minimumConfidence" field for that purpose.
I'm running renovate on a self-hosted gitlab runner, so if I'll pull the latest image of renovate, will I be able to experiment with that feature? or is it not yet published to the public?

and regardless, your doing an awsome job! love this project!

[2022-02-01 20:53] rarkins commented on #9540
No, this is not currently a publicly available feature. The necessary API does/will require authentication

[2022-02-01 21:19] or-adar commented on #9540
@rarkins
Thanks for the response!
what do you mean? There's no option for the public to experiment with this feature?

[2022-02-01 21:46] jojomatik commented on #9540
Oh this is interesting. I will add some of my immediate questions below:

Would I be able to build from source with some adaptions to get this working on my own runner for testing purposes?

Are there any particular reasons other than not extensive enough testing for this feature not to roll out?

[2022-02-01 22:13] rarkins commented on #9540
There's no option

[2022-02-01 22:15] rarkins commented on #9540
It can't work without access to an API fronting a large database. This requires maintenance and operation by a team so that it maintains accuracy and availability. As such, it will likely be free for open source but not private or self-hosted repos.

[2022-02-01 22:58] gopherpro opened #13952 "improve flux manager with custom flags"
### What would you like Renovate to be able to do?

Good day,

I would like to be able to add flags for the flux manager. Currently, flux is always running the following command.
https://github.com/renovatebot/renovate/blob/a98e7afd6800ae55ece79fd82a0f738104838372/lib/manager/flux/artifacts.ts#L19

It would be really nice if you could add some flags. So you can update your flux components even mor

[2022-02-01 23:40] secustor opened #13953 "Replace programming language with categories"
### Describe the proposed change(s).

The `other` category of the [manager docs](https://docs.renovatebot.com/modules/manager/) has become quite big.

I propose following refactor to improve visibility for new users:

| manager   |      old category      |  new category |
|----------|:-------------:|------:|
| ansible | docker | ansible |
| ansible-galaxy |      |   ansible |
| argocd |  |  kubern

[2022-02-02 02:46] eriksw commented on #9578
@rarkins What should we do if we're *want* Renovate to bump indirect dependencies?

Scenario:

*   The package Renovate is maintaining is a tool meant to be used by end users.
*   We depend on A.
*   A is basically "done" and never gets updated.
*   A depends on B.
*   B is updated frequently and has a security vulnerability.

Right now, renovate will never open a PR to get B up to date, so we kee

[2022-02-02 03:19] Goooler commented on #13948
I mean I want to check dependencies in current PR instead of Dependency Dashboard.

[2022-02-02 06:13] rarkins commented on #9578
This is not possible due to Go's Minimum Version Selection concept. Transitive dependencies can't be "bumped" until at least one package depending on it increases its minimum version. In your scenario A must update its go.mod to bump minimum version of B

[2022-02-02 06:16] eriksw commented on #9578
That is not correct.

You can bump the version of a transitive dependency the same as if it was a direct dependency.

[2022-02-02 06:40] viceice commented on #13953
I think we should fully remove the languages and add a new tags option which can have multiple values.

This should also be matchable via package rules.

[2022-02-02 06:45] viceice commented on #13948
You need to create a workflow yourself to run renovate in dry run.

Your can checkout https://github.com/renovatebot/.github/blob/main/.github/workflows/test.yml on how to validate config on PR.

[2022-02-02 06:48] rarkins commented on #13953
Maybe the term "category". I would like to remove language as a semantic concept including from package rules

[2022-02-02 06:49] rarkins commented on #13953
In most cases it would be better replaced by datasource matching in package rules

[2022-02-02 06:50] rarkins commented on #9578
Please provide more details and a reproduction repository demonstrating it so we can take a look

[2022-02-02 06:57] rarkins commented on #9578
This is 4y old but implies that there's a way to manually bump transitive dependencies using go: https://github.com/golang/go/issues/24500#issuecomment-377544342

PRs would be welcome if someone can achieve this in Renovate

[2022-02-02 06:58] rarkins commented on #9578
Needs a reproduction repo (with out of date transitive deps) plus confirmation of exactly which commands to run

[2022-02-02 06:58] eriksw commented on #9578
You bump it exactly the same way you bump a direct dependency.

[2022-02-02 07:11] eriksw commented on #9578
Simple repro: https://github.com/eriksw/renovate-transitive-bump/commits/main

[2022-02-02 07:15] eriksw commented on #9578
With main at https://github.com/eriksw/renovate-transitive-bump/commit/4608150437d57f5a7d85f586a1710c542ee17cb0 the [onboarding message](https://github.com/eriksw/renovate-transitive-bump/pull/1) says:

This is incorrect.

If you run `go get -u` you get a TON of updates:

[code]

[2022-02-02 07:37] rarkins commented on #9578
Not really. This statement refers to direct dependencies, which evidently are up to date. It's really just meant to say "you have no PRs", and is particularly relevant to this discussion. If/when lock file maintenance is supported by Renovate then it would list single "lock file maintenance" PR in that list instead of saying it's empty.

No Renovate manager today raises individual PRs per *transit

[2022-02-02 07:37] rarkins commented on #9578
Reproduction forked to https://github.com/renovate-reproductions/9578

[2022-02-02 07:41] rarkins commented on #9578
One important point: does `go get -u` also update direct dependencies? In this case it's not really "lock file maintenancer" (which is meant to refresh transitive dependencies only) but instead "update absolutely everything - both direct and indirect".

[2022-02-02 07:54] rarkins commented on #13952
I think we'd want it to be more descriptively named, such as `binaryOptions`, and perhaps an array of strings, where the meaning of its value can differ between managers (and so would need to be documented by each). Flux could be the first manager, but this will need an external contribution.

[2022-02-02 08:02] eriksw commented on #9578
That's an unfortunate position because in the scenario in https://github.com/renovatebot/renovate/issues/9578#issuecomment-1027524138 that is exactly what is needed.

There isn't a "lock file maintenancer" command because go _does not have a lock file_, at least, not in the sense of package managers that use range constraints instead of MVS, owing to there being no way to express a maximum version

[2022-02-02 08:09] #13425 closed

[2022-02-02 08:26] rarkins commented on #9578
But in that case you have misunderstood and hijacked this feature request for a different requirement. This feature request is for "lock file maintenance", which is a Renovate term with a specific meaning.

As I said above, we invented the term lock file maintenance and so it can mean whatever we want it to. I understand Go doesn't have a lock file per se, but go.mod/go.sum work together to achiev

[2022-02-02 08:27] rarkins commented on #9578
Regarding the lock file maintenance feature for `gomod` (i.e. this original issue), I think it can be implemented using `go get -u` but we will need to document the caveat that it will update *all* dependencies to the latest, not just transitive or locked.

[2022-02-02 08:28] rarkins commented on #13807
Nope, that didn't work out either. BTW the git timeout on this is massive - maybe a half hour or an hour or something.

[2022-02-02 08:34] viceice commented on #13807
So we should add some timeout for git operations

https://github.com/steveukx/git-js/blob/main/docs/PLUGIN-TIMEOUT.md

[2022-02-02 08:36] renovate-release commented on #13425
:tada: This issue has been resolved in version 31.65.3 :tada:

The release is available on:
- [GitHub release](https://github.com/renovatebot/renovate/releases/tag/31.65.3)
- `31.65.3`

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-02-02 08:41] rarkins opened #13957 "git timeout"
### What would you like Renovate to be able to do?

Have a low git timeout value

### If you have any ideas on how this should be implemented, please tell us here.

https://github.com/steveukx/git-js/blob/main/docs/PLUGIN-TIMEOUT.md

### Is this a feature you are interested in implementing yourself?

Maybe

[2022-02-02 08:41] rarkins commented on #13957
@viceice I think this should be pretty low, e.g. maybe 30 seconds?

[2022-02-02 08:43] rarkins commented on #13807
Here's the last log for reference:

[code]

[2022-02-02 08:54] HonkingGoose commented on #13953
## Use list styling for long lists

We have too many managers under the `other` category, and it's hard to read because its not _styled_ like a list.

Until we rewrite the code to the new structure, could we at least make long items like this go in a list? Like this:

I'd want us to change the [supported datasources](https://docs.renovatebot.com/modules/datasource/#supported-datasources) section a

[2022-02-02 09:15] eriksw opened #13958 "gomod: Update transitive dependencies (with security vulnerabilities)"
### What would you like Renovate to be able to do?

Renovate should update dependencies with security vulnerabilities even if they have the `// indirect` comment in `go.mod`.

The current behavior of totally ignoring dependencies that have the `// indirect` comment means that in this reproduction:

https://github.com/eriksw/renovate-gomod-insecure-transitive

Renovate should have opened a PR to up

[2022-02-02 09:24] horihel commented on #13591
nevermind - defaultRegistryUrls is not used in [getDefaultFeed](https://github.com/renovatebot/renovate/blob/356fdcb3f5783a94a1b0e01c49587a7476118bf7/lib/datasource/nuget/v3.ts#L27), so it stays on the hardcoded default.

that means - at least when lockfiles are in play - defaultRegistryUrls will be treated the same way as registryUrls.

[2022-02-02 09:34] eriksw commented on #13958
Important note: Unless the go version directive in `go.mod` is `1.17` or later, it is incorrect to assume that transitive dependencies will be present in `go.mod`. See the `alt` branch of the repro at https://github.com/eriksw/renovate-gomod-insecure-transitive/tree/alt

If you run `go mod tidy` while the go version directive is present with anything older than `1.17` it won't populate the transit

[2022-02-02 09:48] rarkins commented on #13958
I would prefer if we could (a) support updating the directive in `go.mod`, and (b) write this feature to assume `1.17` or later, after which it sounds like we can assume all transitive dependencies are in the `go.mod`?

[2022-02-02 09:49] viceice commented on #13922
@Gabriel-Ladzaretti Can you validate that [`v31.65.2`](https://github.com/renovatebot/renovate/releases/tag/31.65.2) fixes the issue?

[2022-02-02 10:04] viceice commented on #13957
i think for most repos 10s would also be fine

[2022-02-02 10:13] eriksw commented on #13958
I don't think it's appropriate for Renovate to raise the go version directive, especially not by default, because that would cause problems for the **many** projects that maintain support for older versions of go.

* [84K go.mod with 'go 1.13'](https://github.com/search?q=%22go+1.13%22+filename%3Ago.mod+in%3Afile&type=code)
* [32K go.mod with 'go 1.14'](https://github.com/search?q=%22go+1.14%22+fi

[2022-02-02 10:20] #13497 closed

[2022-02-02 10:31] secustor commented on #13953
I think to have option to give managers multiple categories is definitely useful. e.g. `helmsman` and `helmsfile` could have `helm` as well as `cd` .

I think there are enough use cases like `ansible` and `ansible-galaxy` where it not visible to the users which data sources they can expect.

[2022-02-02 10:35] Gabriel-Ladzaretti commented on #13922
@viceice issue indeed was fixed, dependencies are resolved as expected.
issue can be closed.

[2022-02-02 10:35] #13922 closed

[2022-02-02 10:45] renovate-release commented on #13497
:tada: This issue has been resolved in version 31.66.0 :tada:

The release is available on:
- [GitHub release](https://github.com/renovatebot/renovate/releases/tag/31.66.0)
- `31.66.0`

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-02-02 10:57] rarkins commented on #13958
I disagree that Renovate should not offer to update the go.mod directive. Proposing upgrades is what Renovate does, especially when versions are [end of life](https://endoflife.date/go).

Our goal would be to support semantics like: "Keep my libraries bumped to support non-EOL go versions, and nothing more".

Don't forget that users of Renovate have a choice about whether to accept an update, or t

[2022-02-02 11:36] rarkins commented on #13953
I have an issue open to discuss making managers declare their supported datasources so that we can convert that to docs

[2022-02-02 12:15] HonkingGoose commented on #13953
It sounds like you're thinking of this issue?

- https://github.com/renovatebot/renovate/issues/5651

[2022-02-02 12:45] cascornelissen opened #13960 "Permission issues when npm is being installed in renovate/node sidecar container"
### How are you running Renovate?

Self-hosted

### If you're self-hosting Renovate, tell us what version of Renovate you run.

31.65.1

### Please select which platform you are using if self-hosting.

Bitbucket Server

### If you're self-hosting Renovate, tell us what version of the platform you run.

7.20.0

### Was this something which used to work for you, and then stopped?

I never saw this w

[2022-02-02 12:51] viceice commented on #13960
Groupid needs to be 0, i also think you don't need to override the user if both Are running in containers

[2022-02-02 17:55] eriksw commented on #13958
In light of that constraint, having Renovate bump to 1.17 and then presuming the go.mod to be complete (per behavior of 1.17) seems fine.

I think you would have to be manually modifying `go.mod` (eschewing use of the >=1.17 `go` tool to do dependency management) to wind up with an incomplete `go.mod` after the update to 1.17 is done.

This means supporting pre-1.17 until go 1.19 is out.

Good poi

[2022-02-02 20:41] Wurstnase opened #13964 "Downgrade python post-release package (boto3-stubs 1.20.46.post1 -> 1.20.46)"
### How are you running Renovate?

Self-hosted

### If you're self-hosting Renovate, tell us what version of Renovate you run.

31.66.0

### Please select which platform you are using if self-hosting.

local docker for testing purpose

### If you're self-hosting Renovate, tell us what version of the platform you run.

github/gitlab (not related)

### Was this something which used to work for you,

[2022-02-02 23:35] maxbrunet opened #13967 "bitbucket-cloud: Creating PR fails with default reviewers removed from the workspace"
### How are you running Renovate?

Self-hosted

### If you're self-hosting Renovate, tell us what version of Renovate you run.

latest (31.66.1 as of writing)

### Please select which platform you are using if self-hosting.

Bitbucket Cloud (bitbucket.org)

### If you're self-hosting Renovate, tell us what version of the platform you run.

n/a

### Was this something which used to work for you, an

[2022-02-02 23:50] rlex opened #13968 "helm ignores appversion in chart.yml?"
### How are you running Renovate?

Self-hosted

### If you're self-hosting Renovate, tell us what version of Renovate you run.

31.66.1

### Please select which platform you are using if self-hosting.

github.com

### If you're self-hosting Renovate, tell us what version of the platform you run.

_No response_

### Was this something which used to work for you, and then stopped?

I never saw this

[2022-02-03 06:20] rarkins commented on #13967
Please provide more details

[2022-02-03 06:20] olegkrivtsov commented on #8537
Hi @viceice is my plan for this issue acceptable?

[2022-02-03 06:33] olegkrivtsov commented on #12024
My plan for fixing this issue is the following (copying the idea suggested in the issue description):

1. Change `config:base` to `config:recommended` in code.
2. Change `config:base` to `config:recommended` in our presets.
3. Write migration code.
4. Change references to `config:base` -> `config:recommended` in documentation.

Currently the following occurrencies seem to exist in the code:
[code]

[2022-02-03 06:45] zharinov opened #13971 "Use explicit list of files excluded from strict null checks"
### Describe the proposed change(s).

Explicit list of files that we have to fix in terms of null checks is long.
However, it's more straightforward to maintain: once some file is fixed, you just remove a single line.
Also, we can see the overall progress by looking at `tsconfig.strict.json` LOC count.

[2022-02-03 06:53] rarkins commented on #12024
Also add a hardcoded fallback redirect within the presets lookup in case there's any config:base strings which are missed in migrating somehow

[2022-02-03 06:54] rarkins commented on #8537
Make sure that the simplify function doesn't migrate people to it unnecessarily when there's no update to do

[2022-02-03 07:42] Wurstnase commented on #13964
@rarkins I've updated my logs. Are you still missing something?

[2022-02-03 07:46] viceice commented on #12024
I think `:base` is also a valid preset and needs to be migrated. 🤔

[2022-02-03 07:53] rarkins commented on #12024
Is there a default:base?

[2022-02-03 08:00] bachp opened #13973 "Set assignee via regex capture"
### What would you like Renovate to be able to do?

I have a file with multiple version fields defined, similar to the example in https://docs.renovatebot.com/modules/manager/regex/#advanced-capture.

I would like to assign the merge requests generated for each version filed to different people. But currently I only found a way to do this for the whole file.

### If you have any ideas on how this

[2022-02-03 08:06] viceice commented on #13973
If this are different deps, then you should be able to use package rules with file and depName matchers

[2022-02-03 08:15] ViennaL commented on #2893
@rarkins and @jGleitz, Any chance we get this smart commit message truncation into a release in the near future?
Currently, we cannot update some dependencies in our projects without breaking our commit linting jobs.
I would really appreciate any feedback - thanks in advance.

[2022-02-03 08:24] viceice commented on #2893
This needs a community contribution. It seems @jGleitz is no longer working on this.

[2022-02-03 09:12] da3mon-01 opened #13974 "Terraform modules gitTagsRefMatchRegex does not match Gitlab.com-s ssh format"
### How are you running Renovate?

Self-hosted

### If you're self-hosting Renovate, tell us what version of Renovate you run.

_No response_

### Please select which platform you are using if self-hosting.

gitlab.com

### If you're self-hosting Renovate, tell us what version of the platform you run.

31.66.1

### Was this something which used to work for you, and then stopped?

I never saw this

[2022-02-03 09:23] viceice commented on #13974
This is currently simply not supported and is not but , so please reopen as feature request. Next time please open a discussion first to clarify current and expected behavior.

[2022-02-03 09:23] #13974 closed

[2022-02-03 10:32] secustor commented on #13968
Renovate currently doesn't support updating `appVersion` natively.

The reasoning is that there is no way tell what the `appVersion` is referring to.
For example if `values.yaml` contains multiple image references, Renovate can only guess which image tag to follow.
The same goes for the `sources` key of `Chart.yaml` if multiple or any are defined.

What you can use is a [RegexManager](https://docs

[2022-02-03 10:51] secustor commented on #13968
No, but can you reword it as feature request?

That way we can use it to track this feature.

[2022-02-03 13:18] stekern opened #13977 "Renovate is stuck in a loop making changes to our NPM lockfile"
### How are you running Renovate?

WhiteSource Renovate hosted app on github.com

### If you're self-hosting Renovate, tell us what version of Renovate you run.

_No response_

### Please select which platform you are using if self-hosting.

_No response_

### If you're self-hosting Renovate, tell us what version of the platform you run.

_No response_

### Was this something which used to work fo

[2022-02-03 14:32] rarkins commented on #2893
There is a `replace` directive available for handlebars which you could possibly use to reduce any particularly long strings.

[2022-02-03 14:33] rarkins commented on #13977
In that case, please locate the logs for one branch on the last two times it was updated. You're looking for the runs where you see a `docker run` command in the logs (this is how lock files are updated).

[2022-02-03 14:49] stekern commented on #13977
I've briefly checked the logs, but nothing really pops out. The are no errors or warnings. From what I can tell, this is the most relevant part:
[code]

If you take a look at commit https://github.com/capralifecycle/webapp-deploy-lambda/commit/26f51446024257fe575c188d7c10ed438ef65931 and https://github.com/capralifecycle/webapp-deploy-lambda/commit/78223adbf61ac51a46f0ba326d2a93d20d78d91e, you can

[2022-02-03 17:21] #13971 closed

[2022-02-03 20:37] dominykas commented on #13926
And the integrity part reproduced itself: https://github.com/dominykas/test-renovate-13926/pull/5/files

[2022-02-03 21:06] secustor commented on #13953
To summarize, the requirements are so far:
- `matchLanguage` should for package rules should be dropped
- the `ProgrammingLanguage` should be rename into `Category`
- `Category` should be able to hold multiple values

The topic of long lists and MkDocs tags earns an own issue IMO.

[2022-02-04 05:14] zharinov opened #13992 "Integrate Zod validator with http utils"
### Describe the proposed change(s).

- [ ] Introduce optional parameter for response data validation
- [ ] Create validation-specific error type that fits our exception handling flow

[2022-02-04 05:22] rarkins commented on #13977
That log is missing a little bit (it's truncated, does not include any npm command) and we need it for both commits.

Seems like another key piece of info about this is that it's a vulnerability remediation PR?

[2022-02-04 05:49] renovate-release commented on #13971
:tada: This issue has been resolved in version 31.66.2 :tada:

The release is available on:
- [GitHub release](https://github.com/renovatebot/renovate/releases/tag/31.66.2)
- `31.66.2`

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-02-04 07:26] HonkingGoose commented on #13953
@rarkins what's the best order to tackle these items?

- Enforce manager -> datasource links for better documentation.
- Refactor code as described in the comment above.
- Use list styling for long lists.
- Use tags with MkDocs, once we're sponsors.

[2022-02-04 07:43] rarkins commented on #13953
I think more generally:

1. We need config warnings to be more visible

Dashboard is mostly sufficient, but I think sometimes content is "lost". For config warnings, we should make sure the message is sufficient.

I think we could also add a message to each PR which says something like ":warning: this repository has warnings. Please check the logs of Dependency Dashboard for details". This should

[2022-02-04 08:04] stekern commented on #13977
Yep, this is an automerged vulnerability remediation PR. (On that note, may it make things a bit easier for the maintainers by adding an optional field to the bug template for describing the type of update? Lock file maintenance, direct dependency update, vulnerability remediation, ...?)

Is there a way to temporarily disable updates for this specific vulnerability to avoid getting these changes?

[2022-02-04 08:42] ArsenArsen opened #13994 "Client certificate support for authentication"
### What would you like Renovate to be able to do?

Client certificates are a useful authentication mechanism provided by TLS. They are used by some artifact servers, such as Artifactory, and `got` has support for loading PFX/PKCS12 certificates automatically.

### If you have any ideas on how this should be implemented, please tell us here.

#13991

### Is this a feature you are interested in imp

[2022-02-04 08:48] d-g-n commented on #13994
This issue is related to https://github.com/renovatebot/renovate/discussions/13896. I have checked out the branch from the PR and trialed it locally with a corporate artifactory behind certs and un/pw. Pointing the config to my company provided .p12 store works and allows self-hosted Renovate to work for our org, this would be a great addition.

[2022-02-04 09:04] rarkins opened #13996 "Do not git fetch branch after git push fails"
### How are you running Renovate?

WhiteSource Renovate hosted app on github.com

### If you're self-hosting Renovate, tell us what version of Renovate you run.

_No response_

### Please select which platform you are using if self-hosting.

_No response_

### If you're self-hosting Renovate, tell us what version of the platform you run.

_No response_

### Was this something which used to work fo

[2022-02-04 09:44] rarkins commented on #13994
Please provide more details about both the requirements as well as your proposed solution, including links to external references

[2022-02-04 09:45] #13996 closed

[2022-02-04 10:00] d-g-n commented on #13994
I can only speak about the requirements related to my use case, i can't comment on the implementation unfortunately.

We primarily use Scala/SBT and have several internal libraries that are used throughout our systems, these libraries are compiled and deployed to a central Artifactory (https://jfrog.com/artifactory/) that's custom configured to be only accessible when a developer or CI passes in b

[2022-02-04 10:03] rarkins commented on #13977
There is a limit to how many fields we can add to the bug template before it becomes too difficult to use. There are a LOT of different types of use, not all relate to an update. Thankfully most people voluntarily describe their problem in detail.

[2022-02-04 10:10] rarkins commented on #13977
In both the logs you gave, the branch already existed, whereas we need to see a job when the branch/commit was first created to understand why. A public reproduction would allow us to debug/troubleshoot it directly.

In terms of making the problem go away, you could try setting `"transitiveRemediation": false` in your config to stop this type of nested vulnerability fixing (but it will be for ever

[2022-02-04 10:13] rarkins commented on #13994
We also need to reference documentation for `got` - or perhaps it's Node.js itself - about how it support such certificates.

Another problem with the proposed solution is that it does not support repository config due to it reading from a file. Unless supporting repository is impossible or impractical, we would want the solution to support that.

[2022-02-04 10:16] ArsenArsen commented on #13994
Why not? What would be required for that?

https://github.com/sindresorhus/got/blob/9abdd06d72d90d034299dabd22544d14c897643b/documentation/5-https.md#pfx

[2022-02-04 10:23] renovate-release commented on #13996
:tada: This issue has been resolved in version 31.66.3 :tada:

The release is available on:
- [GitHub release](https://github.com/renovatebot/renovate/releases/tag/31.66.3)
- `31.66.3`

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-02-04 10:31] d-g-n commented on #13994
I think given the fact that with the p12 alongside the passphrase are essentially keys to the kingdom for an org, even though i could see a feasible way for putting this in config by base64 encoding the file, then using the renovate encrypt utility which would allow it to work with the Renovate Github Application as well.

However, i don't think that's viable given the security concerns orgs would

[2022-02-04 10:32] viceice commented on #13994
@ArsenArsen This option should be configurable like other hostRule settings, it should also be possible to configure it as string (pem encoded cert), so it can be configured in a repo `renovate.json`.  Checkout [`hostRules`](https://docs.renovatebot.com/configuration-options/#hostrules) for other options and search the code for them, so you know how to implement it.

[2022-02-04 10:33] viceice commented on #13994
Can be also similar to `privateKey` and `privateKeyPath`

- https://docs.renovatebot.com/self-hosted-configuration/#privatekey
- https://docs.renovatebot.com/self-hosted-configuration/#privatekeypath

[2022-02-04 10:45] ArsenArsen commented on #13994
I'd prefer

[code]

or something along these lines. Keep in mind pkcs12 archives are binary data without a header or plaintext form. I can also provide alternatives for specifying the certificate and key manually but there's very little benefit, especially since that's a less used form of client side authentication. That'd look something like this:

[code]

[2022-02-04 10:56] stekern commented on #13977
@rarkins First of, thanks for the quick response and help.

I understand that you can't include all types of optional parameters to cover all types of different use-cases to the bug template, but I figured it was worth suggesting at least in the case it could be used as a common discriminator. I do try to add the necessary amount of detail to the bug reports I submit, but apologies for the lack in

[2022-02-04 11:09] rarkins commented on #13994
How often is your p12 file changed? And does every developer currently need a copy in order to access artifactory?

[2022-02-04 11:13] d-g-n commented on #13994
In our org there's two main use cases:
- developer p12s are rotated once a year so using them with tooling isn't feasible
- we do have a CI tool built that acquires short-lived certs purely for tooling jobs, these expire within a few hours generally.

I believe there's a policy in place to not create infinite certificates as they can generally give very wide access to org systems. With that in min

[2022-02-04 11:56] rarkins commented on #13994
So.. the p12 files are keys to the kingdom, and every developer has a key? I don't think it's logical to have security concerns about encrypting it into a bot config while no security concerns about having every developer have an unencrypted value of it permanently on their laptop, able to be read by the next computer virus or malicious npm package that comes around. And if you manage to rotate it

[2022-02-04 12:12] rarkins commented on #13977
Perfect! Thank you for taking the time for the reproduction - I'll take a look

[2022-02-04 12:12] ArsenArsen commented on #13994
I was going to ask about this, actually, but I forgot to. Since that's the case, `keyStore?: { pkcs12: string | buffer; passphrase?: string | buffer; }` is probably the best option. pkcs12 being a b64 string or a raw pkcs12 buffer, and passphrase being either plaintext (no b64) or any arbitrary buffer. Thoughts?

[2022-02-04 12:12] stekern commented on #13977
Alright, I've managed to reproduce the issue in my new repository.

Renovate first creates a commit that performs the only automatically fixable change for the Dependabot alert in question (through `npm audit fix` I assume). This is exhibited in https://github.com/stekern/repro-renovate-13977/commit/c6e95adad28fd00c87e926346c6e5baf4ae76c39.

<details><summary>Logs from commit c6e95ad</summary>

[c

[2022-02-04 12:23] ArsenArsen commented on #13994
Also, again, this antagonizing of reading a <4kB file once per request is ridiculous.

[code]

[2022-02-04 13:49] rarkins commented on #13977
FYI the problem is essentially because the `npm` package itself "bundles" its dependencies, which is a really weird way to handle dependencies, and it's fooling our remediation. Our remediation makes a change but then running `npm install` puts the vulnerable package back in. The reason why it's such a problem for you is because of the combination of `ignoreTests` and `automerge`.

[2022-02-04 13:56] viceice commented on #13977
We should probably stop sending any remediation for `npm` children, as they always embed ?

[2022-02-04 14:03] rarkins commented on #13977
I'm planning to abort any time we find that the locked dependency we need to update is part of a bundle

[2022-02-04 14:44] rarkins commented on #13977
I'm hoping to handle this ASAP, or at least be able to tell you if a hotfix is unlikely quickly. If you'd like, I can turn off transitive remediation for your org while you wait? I think it's only turned on by default for public repos right now

[2022-02-04 14:54] stekern commented on #13977
We've determined that the CVE in question is not relevant for the affected repositories and have closed the Dependabot alert. Renovate hasn't made any similar commits after that, so we should be fine until a permanent fix is in place unless you believe there's a high probability the bug may appear in the next couple of days... (there would need to be a new Dependabot alert where `npm` is involved

[2022-02-04 15:12] rarkins commented on #13977
Sounds resolved for now but I'm aiming for a fix too

[2022-02-04 16:01] #13660 closed

[2022-02-04 16:20] nathanpower opened #14009 "pip-compile does not seem to respect python constraints"
### How are you running Renovate?

Self-hosted

### If you're self-hosting Renovate, tell us what version of Renovate you run.

31.66.3

### Please select which platform you are using if self-hosting.

_No response_

### If you're self-hosting Renovate, tell us what version of the platform you run.

_No response_

### Was this something which used to work for you, and then stopped?

I never saw th

[2022-02-04 16:29] patoarvizu opened #14010 "Support git-refs for jsonnet-bundler"
### What would you like Renovate to be able to do?

Some popular jsonnet dependencies like Grafana's [jsonnet-libs](https://github.com/grafana/jsonnet-libs) aren't tagged/versioned so downstream applications usually just point to `master`. Renovate fails to update these dependencies, with the error message `Dependency jsonnet-libs has unsupported value master`, and `"skipReason": "invalid-value"`.

[2022-02-04 16:50] JamieMagee commented on #11419
Yes, ETag headers are only supported on REST API right now.

[2022-02-04 17:20] ChipWolf commented on #6626
Is there a short-term workaround to emulate the behavior of the proposed "ignored" value?

[2022-02-04 17:20] viceice commented on #14009
How are you running renovate? Python constraints are only respected on `binarySource=docker`!

[2022-02-04 17:37] nathanpower commented on #14009
So I have got this results during both:

- Running locally via `docker run renovate/renovate`
- Running on CircleCI via [daniel-shuy/renovate](https://circleci.com/developer/orbs/orb/daniel-shuy/renovate) orb which just wraps the official docker image as I understand

[2022-02-04 17:46] ChipWolf opened #14012 "Hosted renovate interferes with pull requests raised by self-hosted renovate"
### How are you running Renovate?

WhiteSource Renovate hosted app on github.com

### If you're self-hosting Renovate, tell us what version of Renovate you run.

_No response_

### Please select which platform you are using if self-hosting.

_No response_

### If you're self-hosting Renovate, tell us what version of the platform you run.

_No response_

### Was this something which used to work fo

[2022-02-04 17:49] ChipWolf commented on #14012
Oddly, `ignorePrAuthor` is false

[2022-02-04 19:26] rarkins commented on #6626
Not to my knowledge

[2022-02-04 20:04] ChipWolf commented on #6626
We've just decided to fully migrate to Renovate self-hosted in GitHub actions for now.

The only reason is because the github-releases datasource isn't reading releases in our private repos _(even though the bot has access to all our org repos)_ @rarkins

[2022-02-04 20:34] viceice commented on #13440
I didn't see any issues with official v1.16 docker image. (Rootless)

[2022-02-04 20:39] IngCr3at1on commented on #6680
I hate to pigging back on another issue but I appear to be running into this exact issue trying to run renovate on a kubernetes cluster.

the logs show:
[code]
for all of our private repos.

I can confirm from other experience that this error message is generic and shows up in places where only read access is needed.

Just like the OP my pull requests are opened but a note is left with an error fo

[2022-02-04 20:57] rarkins commented on #6626
Is there an issue tracking that?

[2022-02-04 22:32] mcritchlow opened #14017 "Bundler: Support inline gemfile declaration and dependencies"
### What would you like Renovate to be able to do?

see original discussion in #13984

Bundler has support for an inline `gemfile` declaration of dependencies. This is primarily used in the contexts of single file Ruby scripts that need to pull in dependencies.

See: https://bundler.io/guides/bundler_in_a_single_file_ruby_script.htm

Example:

[code]
As suggested in the Discussion, I've tried sett

[2022-02-05 01:45] #8483 closed

[2022-02-05 01:45] #8296 closed

[2022-02-05 01:45] #7558 closed

[2022-02-05 01:45] #6444 closed

[2022-02-05 01:45] #5559 closed

[2022-02-05 01:45] #3075 closed

[2022-02-05 01:58] zml2008 commented on #5619
I've experienced what I believe is this issue as well, in https://github.com/KyoriPowered/indra/pull/70.

My buildscript has:
[code]

When renovate opens a PR to update this issue, it only updates the variant of `org.immutables:value` without a classifier -- see [KyoriPowered/indra@`5c307b7` (#70)](https://github.com/KyoriPowered/indra/pull/70/commits/5c307b7373a6e653a625a4c6cbfd0f8d18adcc1a)

<de

[2022-02-05 03:46] RahulGautamSingh commented on #13359
Currently if `regUrl === https://packagist.org` then the function `packagistOrgLookup` handles it. So, adding code to the this function to check in new-v2-datasource like we were doing with v1 and incase of any problem falling back to old code, should work right?
[code]

[2022-02-05 03:52] ChipWolf commented on #6626
@rarkins not finding one immediately, that would be sensible though

[2022-02-05 04:28] proton-ab commented on #13440
Correct @viceice, https://github.com/go-gitea/gitea/commit/42991dc89a7f3dadb7ad3b36d18b1a74628ec272 is commit that fixes it for 1.16 branch (backport of https://github.com/go-gitea/gitea/pull/18373)

[2022-02-05 04:59] #13440 closed

[2022-02-05 05:17] rarkins commented on #14017
Can you create a new public repo on github.com with that file?

I think we can keep this in the existing bundler manager, and we'll look for the first line to contain the bundle require, and that way we can identify this file type.

[2022-02-05 05:36] zml2008 commented on #5619
I've created a reproducer at https://github.com/zml2008/renovate-issue-5619-reproducer

See https://github.com/zml2008/renovate-issue-5619-reproducer/pull/1 for the incorrect output, with a review comment indicating the expected output.

[2022-02-05 06:25] viceice commented on #13359
We shouldn't fallback to V1 for packagist.org. if there is any error, the fallback would fail too.

[2022-02-05 06:33] rarkins commented on #5619
@zml2008 thanks for your reproduction, including explanation here: https://github.com/zml2008/renovate-issue-5619-reproducer/pull/1#discussion_r800022441

[2022-02-05 06:35] #9728 closed

[2022-02-05 06:56] renovate-release commented on #9728
:tada: This issue has been resolved in version 31.66.5 :tada:

The release is available on:
- [GitHub release](https://github.com/renovatebot/renovate/releases/tag/31.66.5)
- `31.66.5`

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-02-05 07:22] rarkins commented on #11419
We could revert back to using REST for querying PRs if we don't have a concern about the impact of comment fetching.

## We current ensure comments in a PR in these circumstances

### When a PR was closed unmerged, to acknowledge that it will be ignored

We would need to check PR comments for each closed/blocking PR, which could e.g. be 5 API calls per run if the repo has 5 ignored PRs. Alternativ

[2022-02-05 07:33] rarkins commented on #11418
URL would be like `https://api.github.com/repos/renovatebot/renovate/pulls?per_page=10?sort=updated`

One small challenge:
- If we have no cached list then we want to query with 100 per page, BUT
- Once have a cache, we want to query 10 per page.. but the eTag won't match this first time

[2022-02-05 07:43] renovate-release commented on #13925
:tada: This issue has been resolved in version 31.66.6 :tada:

The release is available on:
- [GitHub release](https://github.com/renovatebot/renovate/releases/tag/31.66.6)
- `31.66.6`

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-02-05 08:03] zharinov opened #14021 "Filter out retracted versions of Dart packages"
### What would you like Renovate to be able to do?

Example:
- https://pub.dev/packages/dart_anticaptcha/versions
- https://pub.dartlang.org/api/packages/dart_anticaptcha

### If you have any ideas on how this should be implemented, please tell us here.

Update interface and filter out versions marked with `retracted` flag

### Is this a feature you are interested in implementing yourself?

Yes

[2022-02-05 08:52] #13977 closed

[2022-02-05 09:12] renovate-release commented on #13977
:tada: This issue has been resolved in version 31.67.1 :tada:

The release is available on:
- [GitHub release](https://github.com/renovatebot/renovate/releases/tag/31.67.1)
- `31.67.1`

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-02-05 10:05] #14021 closed

[2022-02-05 10:28] renovate-release commented on #14021
:tada: This issue has been resolved in version 31.68.0 :tada:

The release is available on:
- [GitHub release](https://github.com/renovatebot/renovate/releases/tag/31.68.0)
- `31.68.0`

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-02-06 02:01] #7715 closed

[2022-02-06 02:35] patoarvizu commented on #14010
I created [this repo](https://github.com/patoarvizu/renovate-jsonnet-bundler-repro) with a `jsonnetfile.json` file, a Renovate config, as well as instructions on how to run a minimal self-hosted renovate on a local `k3d` cluster.

Would this be enough?

[2022-02-06 05:19] rarkins commented on #14010
Please let me know if I've understood correctly?
- You don't want that value of master to be *changed*
- You would like Renovate to update the sha value in the lock file

If so, the next step is that we need to know what steps/commands can be used to bump *just one dependency* at a time. Presumably `jb update` would bump everything.

[2022-02-06 05:20] rarkins commented on #14010
Actually I just realized that your reproduction doesn't contain a lock file, so something doesn't seem right either in my understanding or in your reproduction

[2022-02-06 07:17] ngeor opened #14029 "Corrupt pom.xml on Windows"
### How are you running Renovate?

Self-hosted

### If you're self-hosting Renovate, tell us what version of Renovate you run.

31.68.0

### Please select which platform you are using if self-hosting.

github.com

### If you're self-hosting Renovate, tell us what version of the platform you run.

_No response_

### Was this something which used to work for you, and then stopped?

I never saw this

[2022-02-06 07:49] ngeor commented on #14029
Edit: this might be specific to Windows and line endings.

I tried the following steps:

- Delete the renovate bot cache `rm -rf /tmp/renovate`
- Configure my git to not convert line endings to CRLF (which is the default for Windows) with `git config --global core.autocrlf input`.
- Run renovate again, it succeeded to create an MR for mockito upgrade, while it was failing before https://github.com

[2022-02-06 08:41] ngeor commented on #14029
Edit: I created a Linux virtual box with Vagrant and renovate runs fine.

Unfortunately, it also corrected my originally corrupted MR from Windows, so I lost the example of the corruption.

The XML file ended up looking something like

[code]

really messed up.

[2022-02-06 09:24] hasanwhitesource commented on #13609
@rarkins Would you kindly set this on me ?

[2022-02-06 11:46] or-adar opened #14035 "Adding a vulnerabilities table column in PR bodies"
### What would you like Renovate to be able to do?

Adding a vulnerabilities table column in PR bodies

### If you have any ideas on how this should be implemented, please tell us here.

Hi I would like to see a vulnerabilities coloumn in renovate's PR bodies.
I have some ideas of how to acheive what I'm looking for, but can't really figure out how I could put this all together, and I think that t

[2022-02-06 14:11] hasanwhitesource commented on #6134
@rarkins should this issue be resolved now ?

[2022-02-06 14:17] rarkins commented on #6134
Yes, next time you can add eg `Closes #1234` in your PR description to have it happen automatically

[2022-02-06 14:17] #6134 closed

[2022-02-06 15:28] MaronHatoum commented on #8324
Hi,
As I understood from the bug description when **current value**: ==3.2.*,>=3.2.2
and the required new version is: >=4.0.0 we got this fail msg: pep440: failed to calculate newValue
so I tried to reproduce the issue by unit test by calling the getNewValue function,
I prepared input to be sent to **getNewValue**:
`  currentValue                  | rangeStrategy | currentVersion | newVersion | ex

[2022-02-06 16:21] rarkins commented on #8324
Assuming that `rangeStrategy=replace`, we'd want `4.1.1` to produce `==4.1.*` as its new value. For `4.0.0` it should be `==4.0.*` and without the `,>=3.2.2` which you saw.

And yes this can be reproduced/solved/tested using unit test alone like you've done.

[2022-02-06 17:08] patoarvizu commented on #14010
Ah sorry, I missed that. I just updated the repo with a lock file.

The `jsonnetfile.json` is pointing to the `master` branch of `https://github.com/grafana/jsonnet-libs`, but the `version` in the [lock file](https://github.com/patoarvizu/renovate-jsonnet-bundler-repro/blob/main/jsonnetfile.lock.json#L11) is the sha1 of an upstream [commit](https://github.com/grafana/jsonnet-libs/commit/5a128df878

[2022-02-06 17:34] rarkins commented on #14010
Specifically this means supporting rangeStrategy=update-lockfile for jsonnet-bundler, which would cover all dependency types, not just git

[2022-02-06 19:25] onedr0p commented on #13952
@gopherpro for now I'm using `$patch: delete` on the kustomizations so the network policies are not created. For example:

https://github.com/onedr0p/home-ops/blob/main/cluster/base/flux-system/gotk-patches.yaml

and

https://github.com/onedr0p/home-ops/blob/main/cluster/base/flux-system/kustomization.yaml

[2022-02-06 21:02] Gabriel-Ladzaretti commented on #6241
Please assign this to me.
Thanks

[2022-02-07 04:41] JamieMagee commented on #11419
This is a little bit complicated by the fact that GraphQL[^1] and REST API rate limits are separate values. GraphQL calls are the number of points a query cost, whereas REST limits are the number of calls. Also, rate limits for the are _per installation_ [^2].

The simplest thing might be to switch back to REST for everything, and just cache heavily using `ETag` or `If-Modified-Since` headers. Tha

[2022-02-07 05:37] JamieMagee commented on #7154
semi-related: we're also missing a few strict-related options from this configuration: https://github.com/tsconfig/bases/blob/main/bases/strictest.json

[2022-02-07 06:07] #12869 closed

[2022-02-07 06:26] rarkins commented on #11419
Thanks for the tip about HEAD vs GET. With 304s for such a query I had thought in both cases the "impact" of the request on the API backend would be similar and it's mostly just a saving of bytes over the network. Interesting that somehow the HEAD is so much faster.

Can you think of any scenario where if-modified-since works better for us than ETag? I was thinking these optimizations work best fo

[2022-02-07 08:44] #9526 closed

[2022-02-07 09:04] renovate-release commented on #9526
:tada: This issue has been resolved in version 31.68.2 :tada:

The release is available on:
- [GitHub release](https://github.com/renovatebot/renovate/releases/tag/31.68.2)
- `31.68.2`

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-02-07 09:40] astellingwerf opened #14057 "Skipping Maven Central does not align with Maven"
### How are you running Renovate?

Self-hosted

### If you're self-hosting Renovate, tell us what version of Renovate you run.

v31.68.0

### Please select which platform you are using if self-hosting.

GitLab self-hosted

### If you're self-hosting Renovate, tell us what version of the platform you run.

_No response_

### Was this something which used to work for you, and then stopped?

It used

[2022-02-07 10:05] pujanshah3333 commented on #13619
Hey any update here, I'm facing same issue.

[2022-02-07 11:01] rarkins commented on #14057
Do you know if this behavior is documented anywhere? I'm wondering how someone can explicitly decide that they *do not* wish to query Maven Central ever, for example. Raising #14058 in preparation to revert the change

[2022-02-07 11:04] njibhu commented on #4624
I am encountering the same issue. I was actually expecting the behavior to be:
- Renovate will assign the reviewers only when it creates the PR following its configuration, and not touch reviewers anymore until the PR is merged.

And if I want to change the reviewers afterwards myself, renovate won't try to interfere with it
This would play nicely with branch protection rules, and even if there ar

[2022-02-07 11:04] rarkins commented on #14057
I have found https://maven.apache.org/guides/introduction/introduction-to-repositories.html#using-repositories

# Using Repositories

In general, you should not need to do anything with the local repository on a regular basis, except clean it out if you are short on disk space (or erase it completely if you are willing to download everything again).

For the remote repositories, they are used for

[2022-02-07 11:10] rarkins commented on #13925
Reopened due to #14057

[2022-02-07 11:12] rarkins commented on #13925
https://maven.apache.org/guides/introduction/introduction-to-repositories.html#using-repositories
https://maven.apache.org/guides/mini/guide-mirror-settings.html

[2022-02-07 11:15] rarkins commented on #4624
@njibhu sounds like you're expecting https://docs.renovatebot.com/configuration-options/#assignautomerge to default to `true`?

For that scenario we could definitely skip assigning once tests fail.

[2022-02-07 11:17] #14057 closed

[2022-02-07 11:24] njibhu commented on #4624
I missed that configuration setting while reading the doc!
Then ignore my comment above

[2022-02-07 11:29] astellingwerf commented on #13925
From my reading of the code, one can prevent the use of Maven Central by declaring a repository in the POM and using the ID "central".
[code]
results in
[code]

[2022-02-07 11:34] Chumper commented on #13925
yes, that is also my understanding.

Ok, here is a quick overview of my understanding on how Maven works.

1.  There is a super pom which every `pom.xml` explicitly extend from: https://maven.apache.org/guides/introduction/introduction-to-the-pom.html#super-pom
    Here the default maven repo is defined.
    So the maven repo is always set unless explicitly overwritten.

2.  Each repository has an

[2022-02-07 11:37] renovate-release commented on #14057
:tada: This issue has been resolved in version 31.68.3 :tada:

The release is available on:
- [GitHub release](https://github.com/renovatebot/renovate/releases/tag/31.68.3)
- `31.68.3`

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-02-07 11:40] Chumper commented on #13925
I still think that `registryUrls` should overwrite all registries for maven dependencies.
It is not that useful in a corporate environment, like mine, but it still is useful.

For `fallbackRegistryUrls` we should do the following:
* when looking up updates for dependencies and no registry is able to answer the request,
* only then we should add the `fallbackRegistryUrls`

Alternatively, because th

[2022-02-07 11:44] Chumper commented on #13925
TLDR:
* Remove `fallbackRegistryUrls`
* Improve registry extraction from settings.xml and pom.xml files
* Merge registries based on IDs with `settings.xml` taking precedence

@rarkins @astellingwerf Any opinions on that?

[2022-02-07 12:20] redstonedesigner opened #14059 "Renovate failing to make PR on Gitea 1.16.1"
### How are you running Renovate?

Self-hosted

### If you're self-hosting Renovate, tell us what version of Renovate you run.

31.68.0

### Please select which platform you are using if self-hosting.

Gitea

### If you're self-hosting Renovate, tell us what version of the platform you run.

1.16.1

### Was this something which used to work for you, and then stopped?

It used to work, and then sto

[2022-02-07 12:40] akbast commented on #13656
is there any news for this issue?

[2022-02-07 12:48] rarkins commented on #14059
Renovate works fine with many other instances of Gitea, so unfortunately you will need to do some reproducing/troubleshooting if we are to understand what's going wrong with yours.

[2022-02-07 13:05] bobvandevijver opened #14062 "NPM lockfileVersion updated to v2"
### How are you running Renovate?

Self-hosted

### If you're self-hosting Renovate, tell us what version of Renovate you run.

31.66.3-slim

### Please select which platform you are using if self-hosting.

GitLab self-hosted

### If you're self-hosting Renovate, tell us what version of the platform you run.

14.7.1

### Was this something which used to work for you, and then stopped?

It used to

[2022-02-07 13:12] ezloj opened #14063 "maven: parent project in pom is not updated"
### How are you running Renovate?

Self-hosted

### If you're self-hosting Renovate, tell us what version of Renovate you run.

30.1.0

### Please select which platform you are using if self-hosting.

Bitbucket Cloud (bitbucket.org)

### If you're self-hosting Renovate, tell us what version of the platform you run.

5.16.5

### Was this something which used to work for you, and then stopped?

I ne

[2022-02-07 13:19] irgaly commented on #4673
I'm using Google Play Services Libraries in our Android apps.

https://developers.google.com/android/guides/setup

Google Play Services Libraries package names are:

* com.google.android.gms:play-services-location
* com.google.android.gms:play-services-maps
* com.google.android.gms:play-services-auth
* ...

They have independent versions.

Then, I configured this way for creating separated PRs for

[2022-02-07 13:24] astellingwerf commented on #13925
I'm not too aware of the implementation of `manager/maven`, so my rather uninformed idea: Would it make sense to have Maven itself be responsible to render the effective pom:
`mvn org.apache.maven.plugins:maven-help-plugin:3.2.0:effective-pom -Doutput=...`

[2022-02-07 13:37] Chumper commented on #13925
Afaik the reason we are not using maven for the pom parsing/generation is that Renovate is much faster with the typescript implementation, although not that feature rich.

[2022-02-07 13:41] rarkins commented on #13925
Yeah, we now have zero calls to `child_process` for parsing so we really want to avoid that at all costs

[2022-02-07 13:43] astellingwerf commented on #13925
OK, fair enough, but that means that the cost is to reimplement Maven's POM parsing logic in Renovate.

[2022-02-07 13:45] rarkins commented on #13925
I don't think we necessarily need to pass the global pom if the only field we care about is the default repository and we already know what it contains

[2022-02-07 13:48] rarkins commented on #4624
@njibhu I think it will only fully solve your problem once https://github.com/renovatebot/renovate/pull/14065 is merged

[2022-02-07 13:57] rarkins commented on #14062
It's running `bash -l -c \"install-tool npm 6.14.16 && hash -d npm 2>/dev/null || true && npm install --no-audit --ignore-scripts\"` which is as intended. Output:

[code]

That's the first I've seen "legacy tool npm" in a log - pretty sure that's npm words and not ours! I wonder if they made a change which has affected us. It also be because of the addition of `corepack` to node 14: https://nodejs

[2022-02-07 14:26] onedr0p commented on #13952
@kingdonb nice to see you here and would love to see Renovate mentioned in the Flux docs!

While parsing the file is fine to determine what components are installed, it's not great at determining any other `flux install` flags, e.g. `--network-policy=false`

[2022-02-07 14:37] onedr0p commented on #13952
I do not mind using the `$patch: delete` however it does make me more cautious on Flux updates in case new network policies are added, or their names are changed. It doesn't seem like you can write "delete all network policies from a file" with kustomize, unless I missed that in the docs somewhere ;)

[2022-02-07 14:38] rarkins commented on #14062
[code]

If you configure `"constraints": { "node": "^14.0.0"}` in your Renovate config then that will work around the problem until we fix this.

[2022-02-07 14:48] rarkins commented on #14062
@bobvandevijver now I just notice this:

[code]

This would otherwise seem to be a blocking problem

[2022-02-07 14:51] rarkins commented on #14062
@bobvandevijver please recheck your logs, I'm not sure if the logs are from the right run, and also can't explain why you're seeing the E401 error

[2022-02-07 15:01] rarkins commented on #4673
@irgaly please start a new discussion if you're after config help. Please also describe when you're doing that: what leads you to need config in the first place?

[2022-02-07 15:02] rarkins commented on #14063
Please reduce to a standalone *minimal* reproduction

[2022-02-07 15:05] rarkins commented on #14059
When you say:

What changed? Gitea version, or Renovate version?

[2022-02-07 15:06] kingdonb commented on #13952
@onedr0p I am not fully expert in Kustomize (if not me, then who is? seriously though...) but I have seen wildcards used in some surprising places.

I just checked, and `$patch: delete` is not one of them that supports it, so you're right. That's a bit risky.

I think this issue report asked for the feature and I think it got lost in the translation because it looks like the related issue has been

[2022-02-07 15:25] ViennaL commented on #2893
@rarkins , Can you please direct me to an example or some documentation about this feature? Thanks in advance.

[2022-02-07 15:46] LukasAuerbeck opened #14075 "Go sum update of private repositories not possible with version 1.67+/1.68+"
### How are you running Renovate?

Self-hosted

### If you're self-hosting Renovate, tell us what version of Renovate you run.

1.66.4

### Please select which platform you are using if self-hosting.

GitLab self-hosted

### If you're self-hosting Renovate, tell us what version of the platform you run.

14.7.1-ee

### Was this something which used to work for you, and then stopped?

It used to wor

[2022-02-07 15:51] danports commented on #13952
Interesting...I didn't know that `Components` comment existed, probably because I didn't specify `--components` or `--components-extra` when I installed Flux on my clusters. I agree that parsing that comment in order to provide more accurate arguments to `flux install` would be ideal. Beyond this, `flux install` supports several additional parameters like `--cluster-domain` and `--registry` - it's

[2022-02-07 16:12] bobvandevijver commented on #14062
@rarkins The logs are 100% from the right run (cross referenced the timestamp and MR number), but I'm also not sure what the 401 is doing there as the lock file is updated with the private npm mirror we use.

I just added `"constraints": { "node": "^12.0.0" }` to the renovate configuration for that particular project and ticked the force rebase/retry box. It does indeed fix the problem for this pr

[2022-02-07 16:35] Wurstnase opened #14076 "setup-cfg manager didn't resolve namespace packages"
### How are you running Renovate?

Self-hosted

### If you're self-hosting Renovate, tell us what version of Renovate you run.

31.66.0

### Please select which platform you are using if self-hosting.

_No response_

### If you're self-hosting Renovate, tell us what version of the platform you run.

docker

### Was this something which used to work for you, and then stopped?

I never saw this work

[2022-02-07 16:44] kingdonb commented on #13952
I always point people at this section of our docs, and try to highlight the "Automated Upgrades" section, which points out how to use Flux and GitHub Actions together to keep Flux up to date. This always feels like a forgotten corner of our docs, and when I do this, I specify the `--components-extra` field manually, writing it by hand into the GitHub Action yaml.

I'd rather point at a full-featur

[2022-02-07 16:54] mcritchlow commented on #14017
Yes, sorry about that @rarkins

I hope this will work: https://github.com/mcritchlow/renovate-inline-bundler-sample

I ensured all of these dependencies are out of date as well, if that's useful.

[2022-02-07 17:07] patoarvizu commented on #14010
I believe so, at least based on what I'm reading in the documentation (I'm still fairly new to Renovate).

[2022-02-07 17:12] timnolte commented on #13050
Hmm, so this feature appears to not update everything "in range". I have the following in my `composer.json`
[code]
The current version in the lockfile is
[code]
And the latest version of 5.5.x is 5.5.8 which will update when I issue a standard `composer update`.

[2022-02-07 17:35] rarkins commented on #14059
In this case we don't know if it's a Gitea change or Renovate change so need to wait for further feedback

[2022-02-07 17:37] rarkins commented on #14075
How were you authenticating those private repos before? Eg ssh key?

FYI @Chumper

[2022-02-07 17:45] Wurstnase commented on #14076
Same with
[code]

<details><summary>Logs</summary>
[code]
</details>

[2022-02-07 19:07] rarkins commented on #13952
Hi, Renovate maintainer here. Not a Flux user yet but happy to advise on elegant ways to support this capability once the requirements are nailed down. My preference when possible is that the "source of truth" for such things is in the tool's own config, package or lock files so that it's not necessary to duplicate it in Renovate config and potentially drift later on.

[2022-02-07 19:20] patoarvizu commented on #14010
Also, I think I found a separate issue while I was trying to make this work. I can open a separate ticket but wanted to include it here because it may be relevant to the implementation too.

I went outside of my initial use case and started using git labels for dependencies on **private** repos. Renovate can correctly detect the updated dependencies and modify the `jsonnetfile.json` file, but when

[2022-02-07 19:42] kingdonb commented on #13952
There has been a discussion here or there about having a Flux config object which contains global settings for the whole of Flux, so that Flux can be configured on platforms which do not use bootstrap (there's been some discussion about how to configure Flux on platforms like [OpenShift](https://github.com/fluxcd/flux2/discussions/531) where you get to expose your service as a "Subscription" but i

[2022-02-07 20:00] #14075 closed

[2022-02-07 20:03] kingdonb commented on #13952
I am still learning typescript, so I will try to get around to making this change (if nobody beats me to it first!)

[2022-02-07 20:03] rarkins commented on #14010
Separate feature request: private registry support for jb lock files

[2022-02-07 20:09] lfrancke commented on #3486
The crates.io team discussed our proposal and they agreed to look at a solution where the existing metadata endpoint would be changed to only return the most basic information, bringing down the number of DB requests from 8 or so to 1 (hopefully) for which the rate limit could then be raised (or lifted). We'll look into implementing this now.

[2022-02-07 20:23] renovate-release commented on #14075
:tada: This issue has been resolved in version 31.68.6 :tada:

The release is available on:
- [GitHub release](https://github.com/renovatebot/renovate/releases/tag/31.68.6)
- `31.68.6`

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-02-07 20:37] danports commented on #13952
@kingdonb Be my guest! My recent contributions to Renovate were my first time writing TypeScript, and I found it enjoyable.

@rarkins Agreed, much better to keep the configuration DRY.

Yes, I'd advocate for an iterative/flag-by-flag approach to adding Renovate support for the various `flux install` options, starting with `--components-extra`.

It would be useful if `flux install`/`flux bootstrap`

[2022-02-07 20:46] danports commented on #13952
To elaborate on that last idea (though this should probably be in an issue on the Flux repo), we could have Flux write a header like this, which would serve both our purposes here and also (I think) provide value to Flux users who are not (yet 😉) using Renovate:
[code]

[2022-02-07 20:51] Chumper commented on #14075
@LukasAuerbeck Do you mind reporting back if the new version fixes the problem?

[2022-02-08 04:21] kingdonb commented on #13952
The only reason I think that wouldn't be done is because the `flux bootstrap` flags are not necessarily easily translated into `flux install` flags.

In principle it's a fine idea, but what we're really after are the flags to pass to `flux install --export` so that it generates a `gotk-components.yaml` which is in the same vein as our existing one. The upgrade wouldn't change `gotk-sync.yaml` and

[2022-02-08 05:34] irgaly commented on #4673
Sorry, I'm toking about this issue's discussion. I'd like to show `com.google.android.gms` is a worth case example of taking groupName from Maven groupId.

Google Services Libraries have many functionality and they are independent each other, so It should not grouping together by groupName `com.google.android.gms`.

![image](https://user-images.githubusercontent.com/1311446/152923024-101fde02-00d1

[2022-02-08 08:07] LukasAuerbeck commented on #14075
@Chumper I just tested it and everything seems to work fine again!
Thanks for the quick help/fix 👍

[2022-02-08 09:38] PiQx opened #14089 "Do not auto open RP for update submodule"
### How are you running Renovate?

Self-hosted

### If you're self-hosting Renovate, tell us what version of Renovate you run.

renovate@

### Please select which platform you are using if self-hosting.

GitLab self-hosted

### If you're self-hosting Renovate, tell us what version of the platform you run.

gitlab@12.9.4-ee

### Was this something which used to work for you, and then stopped?

I ne

[2022-02-08 10:19] Chumper commented on #14075
Perfect, I broke it in the first place so thank you for reporting ;)

[2022-02-08 11:01] Gabriel-Ladzaretti commented on #6241
@rarkins
should we change the behavior only for major updates as described in the issue and set the upper bound
to the new version's minor only? ie:
[code]

or should we change the behavior to a consistent one, and always stick to the minor.
note: this will change cases related to `a.b.c.d` where we are sticking to `c` or `d` instead it will become `b`.

this the current behavior:
[code]

expected

[2022-02-08 11:10] viceice commented on #7154
Yeah, let's do one step at time and get fully strict.

[2022-02-08 11:25] waghanza commented on #6241
In my point of view, worth to stick with how _user_ has define its constraint

I mean :

+ `>=1.0.0,<2.0.0` should lead to `>=2.0.0,<3.0.0` because **major** wide
+ `>=1.0.0,<1.1.0` should lead to `>=1.1.0,<1.2.0`  because **minor** wide

[2022-02-08 12:11] hasanwhitesource commented on #3391
Hello @rarkins I'm interested in this and I'm to understand the docker part of the project.
I'd like to understand if this function here `lib>datasource>docker>index.ts>getDockerApiTags(registryHost,dockerRepository)` gets all of the tags for a provided docker repository.
For example if I provide `registryHost=https://hub.docker.com/r` `dockerRepository=circleci/node` I should get a list of tags?

[2022-02-08 12:39] viceice commented on #14059
I don't see any issues on my gitea instance

[2022-02-08 12:59] rarkins commented on #3391
Yes, it should get the full list of tags, but IIRC you need one separate API call per tag to get the digest, so we only fetch the digest for a tag once we know we will use it.

[2022-02-08 13:00] soenkeliebau opened #14093 "Yamllint triggered by comments after pinned action versions"
### How are you running Renovate?

WhiteSource Renovate hosted app on github.com

### If you're self-hosting Renovate, tell us what version of Renovate you run.

_No response_

### Please select which platform you are using if self-hosting.

github.com

### If you're self-hosting Renovate, tell us what version of the platform you run.

_No response_

### Was this something which used to work for y

[2022-02-08 13:25] rarkins commented on #14093
Thanks for alerting us to this. On a related note, I was thinking whether we can drop the `renovate:` prefix of the comment too, so that it's a "generic" way to indicate tag and could e.g. be supported by other tools too. Even though we'd no longer be explicitly annotating with `renovate:` I think that a `#  tag=v2.4.0` after an actions hash is pretty unequivocal about what it's for.

A PR would b

[2022-02-08 13:35] hasanwhitesource commented on #3391
@rarkins What do you think if we set the `latestTag` constant to equal to the latest semver value of the latest.
And verify that it matches the sha256 of the latest at `lib>datasource>docker>index.ts>getReleases(lookupName,registryUrl)` before doing `getLabels`.

[2022-02-08 13:48] StinkyLord commented on #12013
![image](https://user-images.githubusercontent.com/56318487/152998527-fb59a60e-2efa-48b1-8891-4caf12c5e6ee.png)
adding dep.depType = "Dependencies"
solved the issue,
apparently we are reading Ruby files and parsing them fine, but Dependency type wasn't assigned as "dependency" so the versions weren't pinned for the gem dependency

[2022-02-08 14:03] rarkins commented on #6241
Instead of:

[code]

We should have:

[code]

i.e. keep a minor range

[2022-02-08 14:53] Gabriel-Ladzaretti commented on #6241
Are you suggesting to update both lower and upper bounds?
I understood from the above that we dont want to narrow the range, which means we dont want to touch the lower bound.
Did i miss understood that?

[2022-02-08 16:09] rarkins commented on #6241
Yes, when the rangeStrategy=replace then we should keep the same "width". We have rangeStrategy=widen too, which would be the one to use if someone wants to only widen the range and keep lower bounds

[2022-02-08 16:15] rarkins commented on #12013
@StinkyLord unfortunately I'm not sure we all understood the issue before. Bundler already sets `depTypes` instead of `depType`, so it's not correct to set `depType=dependencies`.

`:pinDependencies` has been around since Renovate supported only JS. So it meant "pin dependencies and not devDependencies". Unfortunately the description for this preset was not long enough. Here's what I think we need

[2022-02-08 23:19] zeridon opened #14102 "not updating docker image in docker-compose with build context defined"
### How are you running Renovate?

WhiteSource Renovate hosted app on github.com

### If you're self-hosting Renovate, tell us what version of Renovate you run.

_No response_

### Please select which platform you are using if self-hosting.

_No response_

### If you're self-hosting Renovate, tell us what version of the platform you run.

_No response_

### Was this something which used to work fo

[2022-02-09 08:34] HonkingGoose opened #14105 "Drop `renovate:` prefix for pinned GitHub Action dependencies"
### What would you like Renovate to be able to do?

When Renovate pins a GitHub Action dependency to a commit hash, it adds `#renovate: tag=vX.Y.Z` to the end of the line:

[code]

@rarkins thinks we can drop the `renovate:` prefix:

[code]

Direct quote [^quote]:

[^quote]: https://github.com/renovatebot/renovate/issues/14093#issuecomment-1032607127

### If you have any ideas on how this should b

[2022-02-09 09:06] rarkins commented on #14102
Could we perhaps solve this by adding a particular `depType` to the dependency in case `build.context` exists? e.g. we could add depType `build.context`, which would then allow those who still want to ignore them to write a package rule about it but let others like @zeridon to let it be updated

Also looks like we should check build.context in case it's a git ref and extract it as a dep too, but t

[2022-02-09 09:23] #13344 closed

[2022-02-09 09:37] ckotzbauer opened #14106 "Unrelated Security-Update of postcss downgrades package"
### How are you running Renovate?

WhiteSource Renovate hosted app on github.com

### If you're self-hosting Renovate, tell us what version of Renovate you run.

_No response_

### Please select which platform you are using if self-hosting.

_No response_

### If you're self-hosting Renovate, tell us what version of the platform you run.

_No response_

### Was this something which used to work fo

[2022-02-09 09:38] #11428 closed

[2022-02-09 10:00] renovate-release commented on #11428
:tada: This issue has been resolved in version 31.71.0 :tada:

The release is available on:
- [GitHub release](https://github.com/renovatebot/renovate/releases/tag/31.71.0)
- `31.71.0`

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-02-09 10:06] soenkeliebau commented on #14093
Since yamllint and prettier have different viewpoints on what well-formed yaml should look like a fix for this issue might break more things than it fixes.

I have opened https://github.com/adrienverge/yamllint/issues/443 to see if there is a specific reason for 2 being the yamllint default value here.

[2022-02-09 10:06] #14093 closed

[2022-02-09 10:11] soenkeliebau commented on #14105
Happy to pick this up if everybody agrees this is useful.

Should just be a search and replace in the commits for the pr I just closed :)

[2022-02-09 10:13] rarkins commented on #14106
FYI, this remediation comes because GitHub says you have a vulnerability. If you disagree with GitHub on that because it's only used for types, then you can dismiss the alert and Renovate will no longer care about it either.

Here is the relevant logs for this branch:

[code]

Your postcss 7.x comes from here: https://github.com/ckotzbauer/extended-listbox/blob/aaf20d807d1ef9fd8676f69bf20048c0f7f5

[2022-02-09 10:14] viceice commented on #14105
It must be backwards compatible, so renovate can still detect old comments.

[2022-02-09 10:15] rarkins commented on #14105
- When pinning something new: don't use the prefix
- For anything existing: detect the prefix or without prefix, but when updating then remove the prefix

[2022-02-09 10:17] soenkeliebau commented on #14105
I'll take a look, but really have no idea what I am doing here, so might turn out not to be worth me spending ages on something that might take one of you 10 minutes

[2022-02-09 10:27] ckotzbauer commented on #14106
Thanks @rarkins!
I created a repro for this (renovate just opened the same PR): https://github.com/ckotzbauer/renovate-repro

[2022-02-09 11:06] HonkingGoose commented on #12013
I think this is where we want to make the change then?

https://github.com/renovatebot/renovate/blob/64460a75f0aade72fc8f0c2fd8f034ff59ea549c/lib/config/presets/internal/default.ts#L85-L93

[2022-02-09 11:09] HonkingGoose commented on #14105
@soenkeliebau We have a Slack channel where you can ask questions, if you want.

Quote from our [docs on contributing](https://github.com/renovatebot/renovate/blob/main/.github/contributing.md):

[2022-02-09 11:13] #14106 closed

[2022-02-09 11:25] mklenk commented on #13795
We have the exact same problem with a bunch of our symfony bundles, which are incorrectly identified as type "app".
Though we have defined the type as "symfony-bundle" as per official documentation: https://symfony.com/doc/current/bundles/best_practices.html#composer-metadata

I have also tried to pin the dev dependencies manually with a nearly identical preset as @bburnichon :

[code]
which is re

[2022-02-09 11:33] renovate-release commented on #14106
:tada: This issue has been resolved in version 31.71.1 :tada:

The release is available on:
- [GitHub release](https://github.com/renovatebot/renovate/releases/tag/31.71.1)
- `31.71.1`

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-02-09 12:04] soenkeliebau commented on #14105
Thanks! I saw that but figured I'd try to understand things myself for a little while first.

I think I got it working, upside of a morning with a lot of meetings :)

Should be able to create a PR for discussion soon.

[2022-02-09 12:31] hasanwhitesource commented on #13619
@rarkins I've tried to reproduce using the forked test data and received a suggested update to  `5.0.5` for the plugin in question as expected instead of `4.5.3`. here is a link to my generated pr [renovate/configure](https://github.com/hasanwhitesource/13619/pull/1).

@pujanshah3333 Did you try on a different repo or config?

[2022-02-09 13:33] soenkeliebau commented on #14105
I have created #14110 that may or may not address this issue :)

I had two tests fail, but those seem unrelated, they complain about these missing files:
- lib/datasource/docker/common.spec.ts
- lib/datasource/docker/quay.ts

both of which were removed in this commit earlier today: https://github.com/renovatebot/renovate/commit/36ed312142315151075549c569ead4cce7e7a46f

so I'll claim innocence for

[2022-02-09 13:56] debdolph opened #14113 "Renovate fails if old docker tag no longer exists"
### How are you running Renovate?

Self-hosted

### If you're self-hosting Renovate, tell us what version of Renovate you run.

31.68.0

### Please select which platform you are using if self-hosting.

_No response_

### If you're self-hosting Renovate, tell us what version of the platform you run.

Kubernetes

### Was this something which used to work for you, and then stopped?

I never saw this

[2022-02-09 14:36] zeridon commented on #14102
Adding minimal reproduction repository: https://github.com/zeridon/renovate-repro-14102

Both the git repo and docker image referenced in the `docker-compose.yml` do have new tags/labels pushed respectively.

Another possible way to solve this would be to not ignore docker images if the build context looks like public resource (and yes i am aware this is not easily defined).

[2022-02-09 14:45] StinkyLord commented on #12013
to me :pinDependencies seemed like a global config for every dependency out there, the word Dependencies is global, and doesn't only imply that we are looking for the word `dependencies`
see
![image](https://user-images.githubusercontent.com/56318487/153222193-8c9c4a07-a76c-44eb-96ee-1c602dc24b19.png)

changing the description could be a nice solution here, it should say at least what resolvers do

[2022-02-09 14:51] StinkyLord commented on #12013
@rarkins the `rangeStrategy=pin` works as expected, i haven't tried that, because i thought the `:pinDependencies` should do set it automatically for dependencies.
so this issue can be closed i believe, with a
1) small documentation addition(what managers are supported using this flag)
2) description change in code can be an addition in my opinion

please advise.

[2022-02-09 15:18] timnolte opened #14116 "New rangeStrategy=in-range-only Feature is Not Updating Packages as Expected"
Hmm, so this feature appears to not update everything "in range". I have the following in my `composer.json`
[code]
The current version in the lockfile is
[code]
And the latest version of 5.5.x is 5.5.8 which will update when I issue a standard `composer update`.
[code]
With the setup of using `in-range-only` I'm not seeing any attempt to update these packages.

_Originally posted by @timnolte in

[2022-02-09 15:39] viceice commented on #14116
As renovate don't find new versions, it's probably related to:
- #13359

[2022-02-09 15:39] rarkins commented on #14116
Does rangeStrategy=update-lockfile work?

[2022-02-09 15:48] #14105 closed

[2022-02-09 16:11] renovate-release commented on #14105
:tada: This issue has been resolved in version 31.72.0 :tada:

The release is available on:
- [GitHub release](https://github.com/renovatebot/renovate/releases/tag/31.72.0)
- `31.72.0`

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-02-09 16:12] Gabriel-Ladzaretti commented on #6241
I have added the suggested behavior for the pep440 versioning.
working examples:

[code]

some of the changes introduces some bugs regarding "replace" strategy in the "rez" package manger.
do you suggest de-coupling the two with district flows within pep440?

[2022-02-09 16:15] StinkyLord commented on #7755
assign this to me please

[2022-02-09 16:17] StinkyLord commented on #13882
assign this to me please

[2022-02-09 18:14] timnolte commented on #14116
No that doesn't work as mentioned here is a previous issue comment: https://github.com/renovatebot/renovate/discussions/12766#discussioncomment-1783303

Later this issue was opened in response to the behavior I was still seeing: https://github.com/renovatebot/renovate/discussions/12766#discussioncomment-1786490

[2022-02-09 18:16] LeoniePhiline opened #14119 "Monorepo request: parcel"
### What would you like Renovate to be able to do?

# Context
Parcel 2 is a pretty neat bundler, with great performance due to parser and transpiler components built in Rust. I would expect parcel 2 to be picked up by more and more teams in the coming months.

# Problem
Right now I get failing builds because parcel packages are getting individual pull requests.

# Solution
It could be nice if reno

[2022-02-09 18:19] timnolte commented on #14116
@viceice interesting that this could be related to the packagist API, seems like pulling the correct version through the v1 API should still be working shouldn't it?

[2022-02-09 18:19] viceice commented on #14119
Feel free to open a PR to add.

[2022-02-09 18:22] rarkins commented on #14116
Duplicate of #12766 then?

[2022-02-09 18:22] viceice commented on #14116
No, they told that the the old api won't provide all updates. Can somebody compare both Apis for the relevant package?

[2022-02-10 05:20] rarkins commented on #12013
Let's change its behavior to set rangeStrategy=pin for all, but do so in a breaking release.

[2022-02-10 09:04] hasanwhitesource commented on #13604
If we want to read fields having `{}` we need to wrap them in quotes.
I think we should check the contents if it has some fields with `{}` and wrap them in quotes before doing `yaml.loadAll`.
@rarkins Put this on me if you agree or if you have other suggestions to close this

[2022-02-10 09:04] StinkyLord commented on #12013
Makes sense, although this task is full of chat and old description, maybe we should close it as wrong configuration used and relate it to another issue that we will open that describes the breaking change that we want to do.

I suggest that for now, just adding to the documentation temporary until that issue is resolved.

[2022-02-10 09:29] rarkins commented on #13604
If this is valid YAML then we should parse it, and ignore the dep with templated values if we need.

If you mean by this that it's actually invalid YAML because that syntax is from a non-YAML templating syntax, then we should not parse it, and skip the file gracefully. This use case could be supported later using this planned feature: #7333

[2022-02-10 09:43] viceice commented on #13604
PR ready 🙃

[2022-02-10 10:06] sommmen opened #14128 "Use NuGet Release notes"
### What would you like Renovate to be able to do?

I've got several packages where the changes are not in a changelog.md file, and the project's github url is not linked or github releases are not used. In those cases no changelogs are put in the PR's opened by Renovate.

Sample package with release notes:
![image](https://user-images.githubusercontent.com/8641495/153382544-31502d69-68fc-41b6-a8e

[2022-02-10 10:25] marosseleng commented on #12956
Hi folks, is there a plan/implementation on how to mitigate this issue? It can become quite a PR-spam with compose nowadays. I have 6 PRs changing the version of jetpack-compose to 1.1.0 (which I use as a version.ref) and 4 more PRs changing kotlin version to 1.6.

[2022-02-10 11:06] hasanwhitesource commented on #7281
Could this be fixed now or am I not fully understanding the case.
I have forked and tried to reproduce but I have received the branch prefix that was set in the user config [my run](https://github.com/hasanwhitesource/additionalprefix3).
I also saw that the config isn't being overridden after the merge. Am mistaken @rarkins ?

[2022-02-10 11:37] rarkins commented on #12956
This is an open source project so everything is out in the open - there is no need to ask for a status report and it's generally unwelcome.

Have you tried adding a package rule to group them yourself?

I also just noticed that the reproduction provided earlier does not qualify as minimal, so this issue is not ready to start. You could help it along with a minimal reproduction (see linked guide ab

[2022-02-10 11:47] rarkins commented on #14128
Good to start with a minimal reproduction repo to test against.

Next thing to check is: does the NuGet API for those packages tell us about the source URL? e.g. https://www.nuget.org/packages/Microsoft.BingAds.SDK/ doesn't appear to link to its source website on github.com

Here is where we attempt to get `sourceUrl` from the API: https://github.com/renovatebot/renovate/blob/a859c7f27986302841437

[2022-02-10 11:52] marosseleng commented on #12956
Yes, I understand that. I was just looking for an already open issue that describes my problem, saw this one being here quite recently with `status:ready`, didn't see any update since the end of the year, asked about the status.

As per contributing instructions:

If there was a linked PR or another issue or a solution/suggestion response, I wouldn't have asked.

Anyhow, thanks for a suggestion, w

[2022-02-10 12:07] rarkins commented on #12956
In future please just thumbs-up any issues you find, unless you've got something to add which would help other users with the same problem.

[2022-02-10 12:39] viceice commented on #14128
Workaround for the bingads sdk it to add a manual source url here:

https://github.com/renovatebot/renovate/blob/bc3a5281ca2543e5749b2bb0970586b1a17c0f8b/lib/datasource/metadata.ts#L70

[2022-02-10 12:41] viceice commented on #14128
Please vote for:
- BingAds/BingAds-dotNet-SDK#103

[2022-02-10 14:13] Gabriel-Ladzaretti commented on #6241
@rarkins `pep440` and `rez` using the same code, the change of separating widen and replace will affect `rez` as well.
please approve the change so i`ll be able to proceed with coding.

[2022-02-10 14:15] sommmen commented on #14128
Hello - Thanks for taking a look at this!

@rarkins

A public github repo with a .csproj with those libraries would suffice? Or do i need to add test somewhere?
I'm using azure devops personally.

To clarify i want to handle 2 cases:
- There is no link to Github (like BingAds)
- There is a link to Github but there is no changelog file in the Github repo (like BulkExtensions)

Both publish release

[2022-02-10 14:20] rarkins commented on #14128
In this case, there are two possibilities:
- If fetching the release notes at the same time as the list of releases itself is lightweight (no extra API requests) then we could enhance our datasource concept to allow optional release notes per release
- Otherwise, we need to enhance our release notes fetching code (which currently supports GitHub and GitLab hosts) to fetch from NuGet when applicabl

[2022-02-10 14:23] rarkins commented on #6241
`replace` should keep the same precision and width. `widen` should extend the existing range (up). It's ok if we have to modify others if they're also wrong.

[2022-02-10 14:28] viceice commented on #14128
related discussion:
- https://github.com/renovatebot/renovate/discussions/10324

[2022-02-10 14:32] pnordh opened #14137 "Support for inflating helmchart deptype upgrades in the kustomize manager"
### What would you like Renovate to be able to do?

Right now when the kustomize manager resolves an upgrade for a dependency of the helmchart deptype the kustomization.yaml is upgraded but the chart dependency is not inflated which means that the resulting Renovate PR is incomplete for repositories where the inflated chart is vendored (as per kustomizes best practice: https://github.com/kubernete

[2022-02-10 14:36] aishasteege commented on #5933
This would be super helpful!

[2022-02-10 14:36] viceice commented on #14128
related issues:
- #9061

[2022-02-10 14:38] rarkins commented on #14137
Sounds like this would fit into our "artifacts" concept, as we already support vendored components in other managers too. A reproduction is needed here so that we can see an example, and particularly an example of a current PR which is incomplete.

[2022-02-10 15:04] viceice commented on #14128
`releaseNotes` are not included in `CatalogPage` and we don't like to fetch every nuspec` file to get all entries. But this can probably changed when #14138 is done and we can cache those info's for a very long time.

https://docs.microsoft.com/en-us/nuget/api/registration-base-url-resource#catalog-entry

[2022-02-10 15:24] pnordh commented on #14137
Hi, you can find a reproduction here https://github.com/pnordh/renovate-14137-reproduction with the pnordh/renovate-14137-reproduction#1 PR as an example of an "incomplete" PR.

[2022-02-10 15:27] rarkins commented on #14137
Thanks, reproduction forked to https://github.com/renovate-reproductions/renovate-14137-reproduction

[2022-02-10 15:38] stekern opened #14141 "Renovate stuck in a loop reverting its own vulnerability remediation changes"
### How are you running Renovate?

WhiteSource Renovate hosted app on github.com

### If you're self-hosting Renovate, tell us what version of Renovate you run.

_No response_

### Please select which platform you are using if self-hosting.

_No response_

### If you're self-hosting Renovate, tell us what version of the platform you run.

_No response_

### Was this something which used to work fo

[2022-02-10 15:50] MPV commented on #14137
Looping in @andrein (who built the original feature in https://github.com/renovatebot/renovate/pull/12628), in case you have ideas (or want to help out with) a solution for this. 😊

[2022-02-10 16:20] viceice commented on #2960
Is this still an issue? We recently fixed some deduplication issue.

[2022-02-10 16:25] viceice commented on #4724
Isn't this fixed ?
- #10501

[2022-02-10 16:30] #14119 closed

[2022-02-10 16:50] viceice commented on #13037
This is probalby cause by having a `CHANGELOG.md` file and GitHub releases with same content.

- https://github.com/traefik/traefik/releases
- https://github.com/traefik/traefik/blob/master/CHANGELOG.md

[2022-02-10 16:51] renovate-release commented on #9718
:tada: This issue has been resolved in version 31.75.0 :tada:

The release is available on:
- [GitHub release](https://github.com/renovatebot/renovate/releases/tag/31.75.0)
- `31.75.0`

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-02-10 16:51] renovate-release commented on #14119
:tada: This issue has been resolved in version 31.75.0 :tada:

The release is available on:
- [GitHub release](https://github.com/renovatebot/renovate/releases/tag/31.75.0)
- `31.75.0`

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-02-10 17:09] patoarvizu opened #14145 "Private repository support for jb lock files"
### What would you like Renovate to be able to do?

For the `jsonnet-bundler` manager, the `jb update <repo>` command runs outside of Renovate, so the host rules aren't being followed. This means that dependencies hosted on private repos requiring authentication fails.

(Previously mentioned on [this comment](https://github.com/renovatebot/renovate/issues/14010#issuecomment-1031829486).)

### If y

[2022-02-10 17:09] patoarvizu commented on #14010
Done! 👍

[2022-02-10 17:21] ezloj opened #14146 "Replacement doesn't work"
### How are you running Renovate?

Self-hosted

### If you're self-hosting Renovate, tell us what version of Renovate you run.

30.1.0

### Please select which platform you are using if self-hosting.

Bitbucket Cloud (bitbucket.org)

### If you're self-hosting Renovate, tell us what version of the platform you run.

5.16.5

### Was this something which used to work for you, and then stopped?

I ne

[2022-02-10 17:52] HonkingGoose opened #14149 "Support replacement PRs on all managers"
### What would you like Renovate to be able to do?

Right now we only raise replacement PRs for `npm` dependencies.

I think we want to support all managers eventually.
This is a big issue to track support for all managers:

- [ ] `ansible`
- [ ] `docker-compose`
- [ ] `dockerfile`
- [ ] `droneci`
- [ ] `gitlabci`
- [ ] `kubernetes`
- [ ] `cake`
- [ ] `nuget`
- [ ] `mix`
- [ ] `gomod`
- [ ] `gradl

[2022-02-10 18:45] viceice commented on #10649
create a public reproduction on gitlab.com

[2022-02-10 18:46] viceice commented on #10649
or better create a public composer package on gitlab.com and a public consuming reproduction repo on github.com

[2022-02-10 19:03] #13795 closed

[2022-02-10 19:25] renovate-release commented on #13795
:tada: This issue has been resolved in version 31.77.0 :tada:

The release is available on:
- [GitHub release](https://github.com/renovatebot/renovate/releases/tag/31.77.0)
- `31.77.0`

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-02-10 21:43] simonschaufi commented on #5616
Could it be that this issue is resolved now? At least it works for me now with the latest release.

[2022-02-10 21:46] LeoniePhiline commented on #10649
@viceice PR #14160 fixes this.

Problem was that platform token was not used for `'packagist'` context requests.

[2022-02-11 04:36] JamieMagee commented on #14149
#13211 will cover ~75% of managers. I need to get back on that PR

[2022-02-11 05:15] #5933 closed

[2022-02-11 05:37] renovate-release commented on #5933
:tada: This issue has been resolved in version 31.78.0 :tada:

The release is available on:
- [GitHub release](https://github.com/renovatebot/renovate/releases/tag/31.78.0)
- `31.78.0`

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-02-11 06:17] #10143 closed

[2022-02-11 06:17] #2987 closed

[2022-02-11 06:19] rarkins commented on #7333
We want to add a pre processing feature so that we can keep using regular parsing in managers

[2022-02-11 07:18] viceice commented on #10649
It's currently intended to not use the platform token for `packagist`. You should be able to simply add an additional host rule for `packagist`.

[2022-02-11 07:44] #5616 closed

[2022-02-11 07:47] irgaly commented on #12956
Here is reproducer I made. Let's start discussion with this.

https://github.com/irgaly/reproducer-renovate-12956-version-catalog

[2022-02-11 07:47] rarkins commented on #14010
I think there are two separate use cases here:
1. A git ref where there's a version in the URL itself (e.g. `https://github.com/org/repo#v1.1.0`). In this case we want to update the package file and then refresh lock file accordingly. It would be a patch, minor or major version update
2. A git ref where there's no version in the URL (e.g. `https://github.com/org/repo` or `https://github.com/org/re

[2022-02-11 07:50] rarkins commented on #12956
Thanks. Reproduction forked to https://github.com/renovate-reproductions/12956

[2022-02-11 07:53] #4724 closed

[2022-02-11 08:04] subesokun commented on #5534
fyi, following worked for me

renovate.json
[code]

config.js (globally for Renovate)
[code]
and make sure that you've checked in your Gradle wrapper too (`./gradlew`).

[2022-02-11 09:59] rarkins opened #14170 "Use GitHub repo for conan datasource"
### What would you like Renovate to be able to do?

Use GitHub conan repo for datasource fetching.

### If you have any ideas on how this should be implemented, please tell us here.

See advice:
- https://github.com/renovatebot/renovate/pull/12009#issuecomment-1036014602
- https://github.com/renovatebot/renovate/pull/12009#issuecomment-1036025522

### Is this a feature you are interested in implem

[2022-02-11 10:25] mbrodala opened #14172 "Use "rangeStrategy: widen" for "typo3-cms-extension" root"
### What would you like Renovate to be able to do?

If the root (repository) has the Composer `type` of `typo3-cms-extension` then `"rangeStrategy": "widen"` should be used for its `require` dependencies. ATM `replace` is used since #14143

This approach ensures that extensions get a update suggestion to support the next major release of dependencies (including TYPO3) instead of doing a hard cut.

[2022-02-11 10:28] rarkins commented on #14172
Are you proposing that this is the new behavior for `rangeStrategy=auto`?

[2022-02-11 10:30] mbrodala commented on #14172
After reading the current source, yes. It's basically an amend to the change introduced with https://github.com/renovatebot/renovate/pull/14143

[2022-02-11 10:36] rarkins commented on #14172
Sounds good to me

[2022-02-11 11:05] #12626 closed

[2022-02-11 11:20] #2960 closed

[2022-02-11 11:35] #11207 closed

[2022-02-11 11:59] renovate-release commented on #12626
:tada: This issue has been resolved in version 31.79.0 :tada:

The release is available on:
- [GitHub release](https://github.com/renovatebot/renovate/releases/tag/31.79.0)
- `31.79.0`

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-02-11 11:59] renovate-release commented on #11207
:tada: This issue has been resolved in version 31.79.0 :tada:

The release is available on:
- [GitHub release](https://github.com/renovatebot/renovate/releases/tag/31.79.0)
- `31.79.0`

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-02-11 13:17] rarkins commented on #14170
Here's one example of where we use git in a datasource: https://github.com/renovatebot/renovate/blob/0786775005ae1382d4789f7690faba63af17eaa5/lib/datasource/crate/index.ts#L211-L245

I'm pretty sure though that `--depth=1` (i.e. "shallow" clone) is not efficient for long-living fetching and we'd be better with blobless clone.

[2022-02-11 13:20] #14141 closed

[2022-02-11 13:35] LeoniePhiline commented on #14172
Is someone already in progress of creating a PR?

[2022-02-11 13:40] rarkins commented on #14170
The conan datasource seems to return a pretty simple result currently: https://github.com/renovatebot/renovate/blob/0786775005ae1382d4789f7690faba63af17eaa5/lib/datasource/conan/index.spec.ts#L89-L115

Using `poco` as an example, here's the `config.yaml`: https://github.com/conan-io/conan-center-index/blob/master/recipes/poco/config.yml

And a more detailed `all/conandata.yaml`: https://github.com

[2022-02-11 13:40] jelhan commented on #13804
I was able to switch to CI runners, which support docker-in-docker (dind). But I'm still seeing `integrity` and `resolved` values in `yarn.lock` file being removed. :sob:

[2022-02-11 13:41] renovate-release commented on #14141
:tada: This issue has been resolved in version 31.79.1 :tada:

The release is available on:
- [GitHub release](https://github.com/renovatebot/renovate/releases/tag/31.79.1)
- `31.79.1`

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-02-11 13:51] mbrodala commented on #14172
Not yet, the change itself should be rather straightforward. Not sure if we need test adjustments this time.

[2022-02-11 13:53] jelhan commented on #13804
I'm still not able to reproduce using a test-project, which I'm allowed to share publicly. Maybe it helps, if I provide the relevant part of the log for one example commit, which is wrong?

<details><summary>Commit</summary>

[code]
</details>

<details><summary>Relevant part of CI logs</summary>

[code]
</details>

<details><summary>Relevant part of renovate-log.ndjson</summary>

[code]
</details

[2022-02-11 14:02] LeoniePhiline commented on #10649
Part of the issue is that when authentication to one of the composer manager's `repositoryUrls` fails, the user is not informed; not even in debug mode. This code path misses all diagnostics output.

This means that there are two separate issues:

If a platform provides an "all in one" feature set, such as gitlab (repo, ci/cd, package registries for multiple languages/ecosystems, docker dependency

[2022-02-11 14:06] LeoniePhiline commented on #14172
At least an added test for the typo3 extension package type is necessary.

[2022-02-11 14:23] LeoniePhiline commented on #14172
I've made a draft - let me know if that looks good to everyone.

[2022-02-11 16:12] #14172 closed

[2022-02-11 16:14] mbrodala commented on #14172
Thanks a lot for the quick adaption. :heart:

[2022-02-11 16:33] renovate-release commented on #14172
:tada: This issue has been resolved in version 31.80.0 :tada:

The release is available on:
- [GitHub release](https://github.com/renovatebot/renovate/releases/tag/31.80.0)
- `31.80.0`

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-02-11 16:35] LeoniePhiline commented on #14172
he

[2022-02-11 16:44] dirkoberhaus opened #14177 "pinDigest is also used in other managers than docker"
### How are you running Renovate?

Self-hosted

### If you're self-hosting Renovate, tell us what version of Renovate you run.

31.79.1

### Please select which platform you are using if self-hosting.

_No response_

### If you're self-hosting Renovate, tell us what version of the platform you run.

Linux (Docker container)

### Was this something which used to work for you, and then stopped?

It

[2022-02-11 17:46] mhetzel commented on #14170
Does it matter that renovate is using the v2 api and [conan issue](https://github.com/conan-io/conan/issues/10298) is on the v1 api? @memsharded

[2022-02-11 20:35] Charles546 opened #14179 "Support GoMock in golang artifact downloading"
### What would you like Renovate to be able to do?

We use GoMock to generate mock objects in our CI/CD pipelines. See the [Makefile](https://github.com/honeydipper/honeydipper/blob/8effa3d16e059187a1cbd7d76874c1e344a23da5/Makefile#L28-L45) for details. The mocking files are not stored in GitHub, but instead, are generated whenever they are needed. Renovate uses `go get` to download the modules an

[2022-02-11 21:17] memsharded commented on #14170
No, it is basically the same backend for that endpoint, that one didn't change really between v1 and v2 apis.

[2022-02-11 22:42] gregoryfischer opened #14182 "Support bumpVersion for all languages"
### What would you like Renovate to be able to do?

Support bumpVersion for all languages.

I find that even minor version bumps can break a maven application and patching is only safe to perform in an automated fashion making "bumpVersion": "patch" essential for maven.

Ideally, I would like to see all version refinement configs to be applied across all languages and packages.

### If you have an

[2022-02-11 23:48] astellingwerf commented on #10893
The issue indeed is still there. I attempted to fix this, but found that everything seems to be in place in `lib\config\presets`. It uses `lib/util/http/index.ts`, which uses `hostRules` iff they're set, but that's what seems to be lacking.

I'd guess the fix would be to invoke `lib/util/host-rules.ts`'s `add` function before and between preset resolution to ensure that all known host rules are co

[2022-02-12 00:08] adambiggs commented on #10691
Any updates on this? Or any workarounds to install private composer packages until a fix is implemented?

[2022-02-12 09:22] rarkins opened #14190 "docs: show env and cli names for config options"
### Describe the proposed change(s).

`redisUrl` example: https://github.com/renovatebot/renovate/blob/e92ef1ac455b748965eee7efe4028649763b7dce/lib/config/options/index.ts#L279-L285

https://docs.renovatebot.com/self-hosted-configuration/#redisurl

Currently looks like:

![image](https://user-images.githubusercontent.com/6311784/153705273-4ce795b6-7338-470b-b4ee-95dedd35119b.png)

Unless `env` or

[2022-02-13 04:17] travi opened #14196 "looping upgrade and downgrade of `ansi-regex` from competing `ansi-regex` and `node-fetch` vulnerability fixes"
### How are you running Renovate?

WhiteSource Renovate hosted app on github.com

### If you're self-hosting Renovate, tell us what version of Renovate you run.

_No response_

### Please select which platform you are using if self-hosting.

_No response_

### If you're self-hosting Renovate, tell us what version of the platform you run.

_No response_

### Was this something which used to work fo

[2022-02-13 06:25] #14170 closed

[2022-02-13 06:25] rarkins commented on #13811
Code was reverted

[2022-02-13 06:28] rarkins commented on #13168
@secustor @viceice I forget the current status of this one after the various rollbacks and commits

[2022-02-13 06:35] rarkins commented on #11419
Maybe a better solution: instead of removing PR comments for blocked PRs, we keep them - but we make sure our repo cache records if we've added a comment already so that we don't try again (assuming cache is in use).

[2022-02-13 06:48] rarkins opened #14197 "Store PR comment state in repo cache"
### Describe the proposed change(s).

Using repo cache, keep a mapping of PR number -> comment title -> hash of comment body. Wrap platform.ensureComment* with a new internal module so that the cache is checked first and a “no op” performed for ensureComment(). I’m not sure we can safely noop ensureCommentRemoval() unless we perhaps distinguish between “don’t know” and “we know we ensured its remo

[2022-02-13 06:53] zharinov commented on #14197
- Ref: #11419

[2022-02-13 08:09] viceice commented on #13811
We should have a general issue to remove the coverage skip as much as possible.

[2022-02-13 08:12] viceice commented on #14197
We need to make sure that self hosted user are aware to cache that, otherwise they get new comments? Or do we still check before add then?

[2022-02-13 08:18] viceice commented on #13168
No idea, sorry. 🤷‍♂️

[2022-02-13 08:24] rarkins commented on #14197
No, they won't get new/duplicate comments, but they'll use up an API request each run to get the list of PR comments

[2022-02-13 08:26] viceice commented on #14197
That's fine. 👍

[2022-02-13 08:42] rarkins commented on #14196
I believe that this type of problem will be resolved by https://github.com/renovatebot/renovate/pull/14173, which I just put live in the app today. Sorry for the noise you've received before that.

BTW I'm not 100% sure what will happen to PRs in existence prior to this fix - I couldn't work out an easy way to remove them so I think they'll remain open/orphaned for now.

Unfortunately npm no longe

[2022-02-13 09:20] renovate-release commented on #13609
:tada: This issue has been resolved in version 31.81.2 :tada:

The release is available on:
- [GitHub release](https://github.com/renovatebot/renovate/releases/tag/31.81.2)
- `31.81.2`

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-02-13 09:22] hasanwhitesource commented on #7333
@rarkins @viceice What do you think if we create a new optional function in the ManagerApi interface that takes the `content` of the packageFile and does the preprocessing on it whenever some preprocessing is needed for a packageFile, and then returns the content after processing.

[2022-02-13 09:59] rarkins commented on #7333
Anything we implement should be done generically and not tied to any particular manager. The pre-processing as described above is generic: handlebars compilation, env substitution, and regex replaces.

One challenge is that `extractPackageFile` [takes content as an argument](https://github.com/renovatebot/renovate/blob/f72517dc2fc3a0ce1254749d4164d22783329a9b/lib/manager/index.ts#L61) while `extra

[2022-02-13 10:13] hasanwhitesource commented on #7333
@rarkins Could you please give an example of a run with the proposed approach above? I'm not sure I understand your exact idea.
Will this `packageFilePreProcess` that is mentioned be a new configuration to add ?

[2022-02-13 11:45] HonkingGoose commented on #14170
This issue is closed with PR #14176 and released as Renovate version `31.81.0`.

[2022-02-13 11:53] HonkingGoose opened #14200 "Remove coverage skip as much as possible"
### Describe the proposed change(s).

As requested by @viceice [^quote]

Open issues that mention test coverage or are blocked by a lack of test coverage:

- [ ] #12873
- [ ] #12858
- [ ] #11201
- [ ] #10831
- [ ] #9651
- [ ] #9624
- [ ] #9997

[^quote]: https://github.com/renovatebot/renovate/issues/13811#issuecomment-1037911014

[2022-02-13 11:54] #13811 closed

[2022-02-13 15:32] hasanwhitesource commented on #10354
I think the bug in this case is here where we go and straight away return the highest value from the releases https://github.com/renovatebot/renovate/blob/b0ce30b59a2c31a58b2f71972b89ad13832cde9f/lib/workers/repository/process/lookup/filter-checks.ts#L34

@rarkins would you kindly assign this to me and lets continue investigating a solution ?

[2022-02-13 16:27] travi commented on #14196
ah, ok. i missed the previous report. i appreciate the explanation. do you think there is an opportunity to encourage bringing that behavior back to npm?

i'll close this for now and just keep an eye on things, assuming #14173 resolves the issue. thanks!

[2022-02-13 16:27] #14196 closed

[2022-02-13 17:01] rarkins commented on #14196
I had hoped the behaviour would come back (essentially it can leave you with invalid lock files too, which npm ci doesn't complain about) but I haven't raised it yet because my use case is pretty edgy

[2022-02-13 21:37] secustor commented on #13168
The commit which introduced this has been reverted.

[2022-02-14 01:49] #13633 closed

[2022-02-14 05:59] #13168 closed

[2022-02-14 07:07] remal opened #14207 "Support Docker credential helpers"
### What would you like Renovate to be able to do?

We run out GitLab CI pipelines in [EKS](https://aws.amazon.com/eks/) environment. To authenticate in [ECR](https://aws.amazon.com/ecr/) we use [amazon-ecr-credential-helper](https://github.com/awslabs/amazon-ecr-credential-helper). This [Docker credential helper](https://docs.docker.com/engine/reference/commandline/login/#credential-helpers) work

[2022-02-14 07:32] remal opened #14208 "Support exclusive repositories"
### What would you like Renovate to be able to do?

Our projects uses `io.confluent:kafka-avro-serializer` dependency from https://packages.confluent.io/maven/ repository. The problem is that this repository has some dependencies that we would like to download from Maven Central only like `org.apache.kafka:kafka-clients`.

For this purpose we use a code like this in our Gradle `build.gradle` file:

[2022-02-14 08:35] MaronHatoum commented on #13482
Hi,
would you assign this bug to me, please?

[2022-02-14 09:04] fgreinacher opened #14209 "Renovate suggests upgrade to Alpine edge"
### How are you running Renovate?

WhiteSource Renovate hosted app on github.com

### If you're self-hosting Renovate, tell us what version of Renovate you run.

_No response_

### Please select which platform you are using if self-hosting.

_No response_

### If you're self-hosting Renovate, tell us what version of the platform you run.

_No response_

### Was this something which used to work fo

[2022-02-14 09:10] viceice commented on #14208
`excludeRegistryUrls` is an interesting idea. 🤔

[2022-02-14 10:24] KayBestmann1123 commented on #13619
@hasanwhitesource is it possible that you've linked the wrong url? Because i can see neither a PR nor any by renovate created branch.

In addition the same mix up is still happening in the given test repository, as well as in multiple repositories on my end.
For reference the suggested renovate commit from the given test repository: [renovate/java-java](https://github.com/KayBestmann1123/renovatet

[2022-02-14 10:39] #10033 closed

[2022-02-14 10:50] fgreinacher commented on #14209
That's correct!

Fully agree, this is Alpine-specific, it comes from tags like this: https://git.alpinelinux.org/aports/tag/?h=v20210212

That sounds like a good idea, do you have something like this in mind?

[code]

[2022-02-14 11:25] rarkins commented on #14207
We would prefer solutions to authentication which don't require running binaries, because otherwise they cannot be configured in hosted scenarios like the app.

It would be OK for us to consider supporting these if it's a fallback/fallthrough solution if no credentials are available in config.

To start with, can you describe why the existing ECR credentials support we have isn't suitable for you?

[2022-02-14 11:27] rarkins commented on #14209
I was thinking something more like:

[code]

Would that work?

[2022-02-14 11:52] MaronHatoum commented on #13803
Hi,
I want to help with this bug, can you please assign it to me, please?

[2022-02-14 12:24] remal commented on #14207
We have a lot of repositories and don't set `AWS_ACCESS_KEY_ID` and `AWS_SECRET_KEY` for our CI jobs. So, we just use amazon-ecr-credential-helper that authenticate us in ECR automatically.

We have [AWS MFA](https://aws.amazon.com/iam/features/mfa/) enabled for all AWS accounts and it will be really hard to get some service accounts that will allow using `AWS_ACCESS_KEY_ID` and `AWS_SECRET_KEY` w

[2022-02-14 12:46] StinkyLord commented on #13929
@rarkins please assign to me

[2022-02-14 13:00] #14076 closed

[2022-02-14 15:02] RahulGautamSingh commented on #14116
This PR only handles `registryUrl===https://packagist.org` and the URL being discussed here is `https://wpackagist.org`

[2022-02-14 15:12] rarkins commented on #14207
I thought that the ECR library we use would already take care of this when we call this function: https://github.com/renovatebot/renovate/blob/f2bffdad3ae1d4126aa2e20df949e414d1665031/lib/datasource/docker/index.ts#L207

[2022-02-14 15:22] hasanwhitesource commented on #3391
@rarkins Just to verify the requirements that are suggested
We would like to retrieve the highest semver of the latest tag whenever tag is specified to be latest or not specified?

Also something that I'm facing that maybe relevant to this is I have a docker file that has simply `FROM circleci/node:latest` in it and when I try to renovate the repo it does not suggest updates. [(repo in question)](

[2022-02-14 15:27] rarkins commented on #3391
No, this feature is for pinning the digest, not pinning the tag version.

That is correct behavior. What type of update were you hoping for?

[2022-02-14 15:37] rarkins commented on #3391
@hasanwhitesource I tried creating a reproduction repo for this but it looks to me like this may have already been closed. If you check out this reproduction PR, they are all pinned to a digest: https://github.com/renovate-reproductions/3391/pull/1/files

However the PR table is wrong.. maybe you could fix that and then I think we're done?

Screenshot:
![image](https://user-images.githubuserconten

[2022-02-14 15:57] RahulGautamSingh commented on #14116
We get the same list from both APIs.

[2022-02-14 16:03] RahulGautamSingh commented on #14116
We get the same list from both APIs. Both APIs return 5.9.0 as the latest version for this package.

[2022-02-14 17:30] #10893 closed

[2022-02-14 17:51] renovate-release commented on #10893
:tada: This issue has been resolved in version 31.81.6 :tada:

The release is available on:
- [GitHub release](https://github.com/renovatebot/renovate/releases/tag/31.81.6)
- `31.81.6`

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-02-14 18:59] rarkins commented on #14209
I think let's add it to workarounds then.

[2022-02-14 19:17] rimas-kudelis opened #14221 "Bitbucket cloud: allow using OAuth to token"
### What would you like Renovate to be able to do?

I managed to set up a self-hosted instance of Renovate to check all our Bitbucket repositories, it's launched as a Bitbucket pipelines job.

However, at the moment it has to authenticate using an app password as a Bitbucket user. Meanwhile, Bitbucket allows [authenticating as an integration](https://developer.atlassian.com/cloud/bitbucket/rest/in

[2022-02-14 19:29] viceice commented on #14221
Did you tried to set `token` instead of `username` and `password` as platform options?

[2022-02-14 19:32] viceice commented on #14221
Is it possible to use the token for git operations? If not then the token wouldn't improve anything, as we push changes via git cli.

[2022-02-14 19:40] rimas-kudelis commented on #14221
Wow, that was extremely quick!

I didn't know that you use git commandline to push. :)

However, Bitbucket allows [cloning the repo using the OAuth access token](https://developer.atlassian.com/cloud/bitbucket/rest/intro/#repository-cloning). I just did that, then edited some file, made a commit and successfully pushed it back. So yeah, it seems possible.

[2022-02-14 20:20] viceice commented on #14221
Ok, so we need to change the condition i mentioned and then we need to update git url computation in `initRepo` to support token too.

I think we can some use other platforms as sample.

[2022-02-14 20:24] viceice commented on #14221
Here
https://github.com/renovatebot/renovate/blob/d0ab02c64317444d8c7c167a82c9891860e6078e/lib/platform/bitbucket/index.ts#L201-L206

[2022-02-14 20:27] rimas-kudelis commented on #14221
I also just tested that I can make a PR with that app token – and yes, I can.

[2022-02-14 21:53] hungcs opened #14226 "Renovate not picking up submodule"
### How are you running Renovate?

WhiteSource Renovate hosted app on github.com

### If you're self-hosting Renovate, tell us what version of Renovate you run.

_No response_

### Please select which platform you are using if self-hosting.

github.com

### If you're self-hosting Renovate, tell us what version of the platform you run.

_No response_

### Was this something which used to work for y

[2022-02-14 22:30] #14209 closed

[2022-02-14 22:52] renovate-release commented on #14209
:tada: This issue has been resolved in version 31.81.7 :tada:

The release is available on:
- [GitHub release](https://github.com/renovatebot/renovate/releases/tag/31.81.7)
- `31.81.7`

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-02-15 06:37] pujanshah3333 commented on #13619
Where do you see that?

I have tried with same config.

[2022-02-15 06:40] rarkins commented on #13619
You can see v5.0.5 in the body of the linked onboarding PR

[2022-02-15 07:27] #12124 closed

[2022-02-15 07:48] renovate-release commented on #12124
:tada: This issue has been resolved in version 31.82.1 :tada:

The release is available on:
- [GitHub release](https://github.com/renovatebot/renovate/releases/tag/31.82.1)
- `31.82.1`

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-02-15 08:20] #8647 closed

[2022-02-15 08:34] viceice commented on #8647
Are we really done here?

[2022-02-15 09:50] StinkyLord commented on #14190
@rarkins  now that i read and seen the classes (index.ts and generate-docs.ts) i would like to ask you to add the Expected result to the ticket for a single flag,
you said "add rows" to the table, but im not sure what to add or how to do it can you please give me an example of how it should look like?

[2022-02-15 10:41] rarkins commented on #14190
If you run `yarn build:docs` then you can find the generated docs in tmp/docs

Using this as an example from `self-hosted-configuration.md`, I'd expect this example to then look like:

Raw:

[code]

Converted:

## allowPlugins
Configure this to true if repositories are allowed to run install plugins.

| Name       | Value   |
| ---------- | ------- |
| globalOnly | true    |
| type       | boolean

[2022-02-15 10:43] dirkoberhaus commented on #14177
Hi, I've created a minimal repo to reproduce the error:

https://gitlab.com/oberhaus77/renovate-test

Kind regards

[2022-02-15 10:44] roni-frantchi opened #14233 "Root-level workspace pnpm constraint not used when updating workspace package"
### How are you running Renovate?

WhiteSource Renovate hosted app on github.com

### If you're self-hosting Renovate, tell us what version of Renovate you run.

_No response_

### Please select which platform you are using if self-hosting.

_No response_

### If you're self-hosting Renovate, tell us what version of the platform you run.

_No response_

### Was this something which used to work fo

[2022-02-15 10:53] rarkins commented on #14177
Thanks for the reproduction. Forked to https://github.com/renovate-reproductions/14177

The `pinDigests` *is* intended to be usable by other managers though, so the title of this bug report isn't the right one. Please expand the title/description so that it's clearer on the problem, e.g. does "Error updating gitlabci includes if pinDigests=true" describe your problem?

[2022-02-15 11:03] StinkyLord commented on #14190
Thank you, i'm on it!

[2022-02-15 12:35] dirkoberhaus commented on #14177
Yes, this is the problem I've seen with Renovate version 31.81.7

The last version without that problem in our Renovate job seems to be 28.26.0.

[2022-02-15 12:35] marcospassos opened #14238 "Renovate seems to ignore npmrc in nested directories"
### How are you running Renovate?

WhiteSource Renovate hosted app on github.com

### If you're self-hosting Renovate, tell us what version of Renovate you run.

_No response_

### Please select which platform you are using if self-hosting.

github.com

### If you're self-hosting Renovate, tell us what version of the platform you run.

_No response_

### Was this something which used to work for y

[2022-02-15 12:38] roni-frantchi commented on #14233
@rarkins I've tried to reproduce the error on this repository, but on _**that**_ repo I do see Renovate is using the right version:

[code]

On my [original run](https://app.renovatebot.com/dashboard#github/env0/env0/578990013) I do not see that, and it fails as the wrong `pnpm` version is used...
Does Renovate suppose to resolve the `pnpm` version based on `npm.packageManager`?

[2022-02-15 12:41] rarkins commented on #14238
Unlike `node` and `node_modules`, `npm` does not "hunt" up every directory for `.npmrc`. As clarified in https://stackabuse.com/the-ultimate-guide-to-configuring-npm/

![image](https://user-images.githubusercontent.com/6311784/154063642-2f3d2f23-ca4e-4b93-b138-139134b88108.png)

If you have a `package.json` in a subdirectory and it has a `.npmrc` in the same `subdirectory` and you think it's being

[2022-02-15 12:44] rarkins commented on #14233
https://github.com/renovatebot/renovate/blob/6b5a40de8dceef3574f60e58ae8f85369fd279d6/lib/manager/npm/extract/index.ts#L189-L213

[2022-02-15 12:46] rarkins commented on #14177
As a workaround, configure `pinDigests` for only Docker this way:

[code]

[2022-02-15 12:52] marcospassos commented on #14238
Sorry for the log, @rarkins.

As mentioned, we do have a `.npmrc` in the same directory (both in the root and the nested directory).

Also, not sure if it's related, but the Dashboard shows the following warning (it's the only one in 100 repositories where Renovate is activated showing that message):

![image](https://user-images.githubusercontent.com/943036/154065503-c848b6a2-4150-4af2-9db4-ed130

[2022-02-15 13:37] rarkins commented on #14238
Re: the dashboard warning, that's a sign that `registryUrls` have been configured for one or more npm packages, e.g. using `packageRules`. This is currently unsupported for `npm` - custom registries need to be in the `.npmrc` file or `npmrc` config option.

[2022-02-15 14:00] marcospassos commented on #14238
Thank you for the feedback. We're working on a reproduction repo to share with you.

[2022-02-15 15:26] JamieMagee commented on #8647
There's some cleanup to do, but the majority of the work is now done.

[2022-02-15 15:32] timnolte commented on #14116
@RahulGautamSingh OK, thanks for confirming then that this has nothing to do with the API version and is another new issue.

[2022-02-15 16:55] JoergHeinicke5005 commented on #13619
I guess you are referring to

![image](https://user-images.githubusercontent.com/53432510/154110107-fb94bbdd-b93f-4ec0-bc37-64dc818c400c.png)

We are getting similar from Renovate in our repositories:
![image](https://user-images.githubusercontent.com/53432510/154109805-4b14ee12-2bd6-4bfb-8c93-93a06c730369.png)

But when it's actually creating the commit, it looks like:
![image](https://user-image

[2022-02-15 19:06] ddolcimascolo opened #14241 "React material-ui monorepo preset stopped working"
### How are you running Renovate?

Self-hosted

### If you're self-hosting Renovate, tell us what version of Renovate you run.

27.25.0

### Please select which platform you are using if self-hosting.

GitLab self-hosted

### If you're self-hosting Renovate, tell us what version of the platform you run.

14.7.2

### Was this something which used to work for you, and then stopped?

It used to work,

[2022-02-15 19:44] #5838 closed

[2022-02-15 19:58] viceice commented on #14241
This needs a change:
https://github.com/renovatebot/renovate/blob/5480202a59a8b05efd58c109e227e5dc8d850cfa/lib/config/presets/internal/monorepo.ts#L132

Needs to be converted to array and the new repo url should be added.

[2022-02-15 20:06] renovate-release commented on #5838
:tada: This issue has been resolved in version 31.82.2 :tada:

The release is available on:
- [GitHub release](https://github.com/renovatebot/renovate/releases/tag/31.82.2)
- `31.82.2`

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-02-15 20:06] renovate-release commented on #8647
:tada: This issue has been resolved in version 31.82.2 :tada:

The release is available on:
- [GitHub release](https://github.com/renovatebot/renovate/releases/tag/31.82.2)
- `31.82.2`

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-02-15 20:49] rimas-kudelis opened #14243 "Bitbucket Cloud: declined pull requests can neither be renamed not reopened"
### What would you like Renovate to be able to do?

If I close Renovate's pull request in Bitbucket, it currently adds a comment to it which ends like this:

The problem is that this is simply not possible, at least via the Bitbucket UI. I can't edit the title of a closed issue neither as an organization admin, nor as the user Renovate runs as. Same applies to reopening the PR: there's a [decade-o

[2022-02-15 21:21] viceice commented on #14243
Does bitbucket supports labels? Then it could be done like in:
- #6552

[2022-02-16 01:32] zephraph opened #14245 "Cargo dependencies with two digit version aren't being updated properly"
### How are you running Renovate?

WhiteSource Renovate hosted app on github.com

### Please select which platform you are using if self-hosting.

github.com

### Was this something which used to work for you, and then stopped?

I never saw this working

### Describe the bug

@ahl reached out to me about renovate not updating rust dependencies in [one of our open source repos](https://github.com/o

[2022-02-16 06:11] roni-frantchi commented on #14233
@rarkins managed to [recreate it](https://github.com/roni-frantchi/renovate-repro-issue-14233/pull/5).
The issue happens when pnpm workspaces.

`pnpm i` respects the constraints set on the root of the workspace, while Renovate looks for the constraint on `package-x` and not the root workspace, and as it tries to `pnpm i` the entire monorepo, it fails.

[2022-02-16 07:27] zephraph commented on #14245
I'm still digging into this. It could be a logical bug. Unlike npm numeric versions like `1.0.0`, `1.0`, and `1` are actually equivalent to `^1.0.0`, `^1.0`, and `^1` respectively. It's called out in the cargo docs as the [caret-requirement](https://doc.rust-lang.org/cargo/reference/specifying-dependencies.html#caret-requirements). Indeed if you look at the [dependencies for syn](https://crates.io

[2022-02-16 08:20] rarkins commented on #14233
Please confirm if I understand right:

So at the root you have: https://github.com/roni-frantchi/renovate-repro-issue-14233/blob/6fec432231828bce395a24c6390a14342c08db1f/package.json#L20

In the subdirectory [you don't have a constraint](https://github.com/roni-frantchi/renovate-repro-issue-14233/blob/main/package-x/package.json)

So therefore Renovate doesn't see/use any constraint?

[2022-02-16 08:23] roni-frantchi commented on #14233
Yes @rarkins  - Renovate doesn't respect the **root** `package.json` constraint (it looks at the workspace `package.json`), but `pnpm` does respect it the root constraint, and fails.

[2022-02-16 08:24] roni-frantchi commented on #14233
@rarkins saw you mislabelled this issue - note we're talking `**p**npm`, not `npm`
<img width="430" alt="image" src="https://user-images.githubusercontent.com/3658029/154224470-a403768b-eb28-440b-bcc2-73715c8eab48.png">

[2022-02-16 08:25] rarkins commented on #14233
Two possibilities:
1. When workspaces are detected during extract phase, sub-packages "inherit" the same constraints, or
2. We calculate the constraint during artifacts updating, by looking in the "right" (root) directory

I think (2) is better, because it's compatible with any scenario which requires us to update the pnpm version *and* update a lock file in the same branch.

[2022-02-16 08:26] HonkingGoose commented on #14243
There are open feature requests to add a "label PR feature" to Bitbucket Cloud and Bitbucket server:

- [Bitbucket Cloud label PR feature request](https://jira.atlassian.com/browse/BCLOUD-11976)
- [Bitbucket Server label PR feature request](https://jira.atlassian.com/browse/BSERV-10715)

[2022-02-16 08:29] rarkins commented on #14243
I'd *prefer* to avoid comments, because of these challenges:
- I assume it takes an extra API call per-PR we check, and
- We probably should also validate that the person who commented has "authorization" to reset the PR's status

[2022-02-16 08:30] rarkins commented on #14233
It's labeled correctly because all npm ecosystem managers are implemented in lib/manager/npm/*

[2022-02-16 08:39] fgreinacher opened #14247 "Cannot update poetry lockfile for platform-hosted PyPI packages"
### How are you running Renovate?

Self-hosted

### If you're self-hosting Renovate, tell us what version of Renovate you run.

31.66.4

### Please select which platform you are using if self-hosting.

GitLab self-hosted

### If you're self-hosting Renovate, tell us what version of the platform you run.

14.7.2

### Was this something which used to work for you, and then stopped?

I never saw this

[2022-02-16 08:41] HonkingGoose commented on #14241
Hi @ddolcimascolo!

Do you want to fix the preset with a PR?

If you want, I can "assign" the issue to you, so we know you're working on the issue.
But I can also leave the issue for somebody else to work on.

Let me know what you want. 😉

---

By the way, you should update your version of Renovate. You're multiple versions behind. 😉

[2022-02-16 08:51] rimas-kudelis commented on #14243
There are no tags in bitbucket PR's indeed.

What I can do on a declined PR as an organization admin seems to be limited to the following:
- Approve/Unapprove it
- Add comments
- Delete comments
- Like comments
- Reply to comments
- Create tasks
- Create tasks from comments
- Create Jira issues from comments
- Delete tasks (but only the ones linked to comments)
- (Un)mark tasks as done

If comment

[2022-02-16 08:56] HonkingGoose commented on #5822
We already have badges with the relative package age in our "Merge Confidence table":

![package-age-merge-confidence](https://user-images.githubusercontent.com/34918129/154229540-095b58ee-876e-4aae-ba05-53f2b50fab53.png)

Do you want to keep this issue around and do more work, or are you happy to close it and just rely on the Merge Confidence badges?

[2022-02-16 08:57] rarkins commented on #14243
Seems like it would need to be comments

[2022-02-16 09:28] rimas-kudelis commented on #14221
Hi!

I have a problem. It lies in that I have no idea how to wire it all up, what to patch and where. I'm not a TS developer, and ctrl+clicking on `initPlatform()` in PhpStorm doesn't find any usages of the method even after enabling the JS+TS plugin and restarting, so I'm not sure if I have to actually pass it the token from somewhere or if it all works magically somehow.

Also, I suppose I shoul

[2022-02-16 09:28] #5822 closed

[2022-02-16 09:49] rarkins commented on #14245
If you pin your dependencies, does it work?

[2022-02-16 09:59] viceice commented on #14243
Is this feature request for bitbucket.org or bitbucket server? I thought it's about the cloud. Those have fully different Apis and are different platforms on renovate.

Btw, that's the reason why I migrated to gitea from bitbucket server. 😉

[2022-02-16 10:00] viceice commented on #14243
What about hiding this behind a feature flag? So by default we don't check comment's?

[2022-02-16 10:01] rimas-kudelis commented on #14243
My bad, I've adjusted the title. this feature request is for bitbucket.org, just like you assumed.

[2022-02-16 10:03] viceice commented on #14243
Ok, So we can ignore bitbucket server here. 😉

[2022-02-16 10:21] rimas-kudelis commented on #14243
I don't think this makes much sense, if comments would be the only way of reopening a pull request in Bitbucket.
I'm wondering why you guys don't consider PR approval as an possible trigger though.

[2022-02-16 10:27] HonkingGoose commented on #14243
It doesn't make sense to me that I should approve a PR that is closed in order for Renovate to rename/reopen the PR. I would forget the workflow and would need to read the Renovate documentation each time to re-learn how it works.

[2022-02-16 10:33] rimas-kudelis commented on #14243
Isn't that what this comment is for – so that you don't forget?
![image](https://user-images.githubusercontent.com/2812673/154246636-874ebbfb-2b4c-428f-afaa-fb9a541c584a.png)

[2022-02-16 10:40] rimas-kudelis commented on #14243
Of course, whatever they are, the correct instructions should be in that message.

[2022-02-16 11:45] ddolcimascolo commented on #14241
Hello @HonkingGoose

Will do, you can assign the issue to me

[2022-02-16 12:05] ddolcimascolo commented on #14241
Fixed in https://github.com/renovatebot/renovate/pull/14252

[2022-02-16 13:21] viceice commented on #14243
Basically yes, but we would like to avoid it on most platforms because it's simply not needed there. Using comments would cause a lot more API requests, which we try to avoid as much as possible.

We also already have a comments API, so we won't implemented something new for bitbucket only comment's. We only need to check the comments when we need to decide if we should open a new PR if there is a

[2022-02-16 13:44] HonkingGoose opened #14254 "Replacement preset for Material-UI to MUI"
### What would you like Renovate to be able to do?

Renovate should create a replacement PR to handle the rename of _Material-UI_ to _MUI_.
See the [blog post from MUI](https://mui.com/blog/material-ui-is-now-mui/) to learn more about their rename.

### If you have any ideas on how this should be implemented, please tell us here.

1. Figure out which packages were renamed
1. Add replacement PR pre

[2022-02-16 14:07] #14241 closed

[2022-02-16 14:09] PhilipAbed commented on #14190
@rarkins should i do this only for the self hosted? or for both
 `configuration-options.md`;
  `self-hosted-configuration.md`;

[2022-02-16 14:12] rarkins commented on #14190
I think let's do both. Not all options support cli config so let's see how it looks

[2022-02-16 14:28] renovate-release commented on #14241
:tada: This issue has been resolved in version 31.84.2 :tada:

The release is available on:
- [GitHub release](https://github.com/renovatebot/renovate/releases/tag/31.84.2)
- `31.84.2`

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-02-16 14:54] PhilipAbed commented on #14190
i said i think its only for self hosted because i see the implementation for cli params are only for self hosted
![image](https://user-images.githubusercontent.com/42116482/154290549-0c58226f-8409-4afe-9b60-97fe7088b26f.png)

see code,
in that case i will have to remove that "if" but i dont know the consequences :D and thats why im asking

[2022-02-16 15:01] morremeyer commented on #2213
Hey everyone, Anaconda engineer here. We've assembled a small group of engineers that will look into adding functionality for conda over time.

Please note that none of us is working on this full time right now, but work will be done over time.

I've started implementing a datasource for conda in #14257, any help with my testing issue and feedback in general is very welcome!

[2022-02-16 15:51] remal commented on #14207
@rarkins, you're right - Renovate correctly works with ECR repositories in EKS environment. Closing the issue.

[2022-02-16 15:51] #14207 closed

[2022-02-16 15:54] khitrenovich commented on #13882
I spotted the same issue in Renovate app on GitHub - PR title and description are not updated to reflect the fact that the PR was bumped to the next version. Can it be related?

In the screenshot below, `vm2` was bumped to v3.9.8, but the PR title and description still mention v3.9.7. We spotted that only because we have [linting on PR titles](https://github.com/amannn/action-semantic-pull-request

[2022-02-16 16:02] mil7 opened #14261 "helmv3: Renovate cannot handle local dependencies anymore"
### How are you running Renovate?

Self-hosted

### If you're self-hosting Renovate, tell us what version of Renovate you run.

31.80.1

### Please select which platform you are using if self-hosting.

GitLab self-hosted

### If you're self-hosting Renovate, tell us what version of the platform you run.

GitLab Community Edition 13.12.10

### Was this something which used to work for you, and then

[2022-02-16 16:20] zharinov commented on #11537
Probably, GraphQL isn't worth it. We can predictably create signed commits using 3 REST API calls versus GraphQL query that will fail in most cases: rebase is more frequent than branch creation.

[2022-02-16 16:43] Robin-KEB commented on #13030
So I had the same issue, that's how I found this issue on github and I found out I was not part of the 'team' in azure devops.
I used `az devops team list-member --organization <https_org_url> --project <project_name>` to get the team (There was just one default team) and used the team id for
`az devops team list-member --organization <https_org_url> --project HMI_Dev --team <team_id>`
I was not p

[2022-02-16 17:13] rarkins commented on #13882
Is it only temporary and gets updated on the next run?

[2022-02-16 17:15] rarkins commented on #14261
@secustor

[2022-02-16 17:20] khitrenovich commented on #13882
I see it was indeed updated 2 hours later (actually, less than half an hour ago). It might be a red herring then. Sorry about that!

[2022-02-16 17:53] rarkins commented on #14190
I didn't realise that we already had it in self hosted actually

[2022-02-16 19:08] rimas-kudelis commented on #14243
I actually quite like Renovate being so explicit about what it can do and how to trigger that. I would probably want to keep it that way even if the repositories weren't hosted by Bitbucket.

That said, others might have different preferences, so it might be a good idea to put this feature under a toggle. I would keep the toggle on by default though, so that people can turn it off if it annoys the

[2022-02-16 19:40] astellingwerf commented on #14190
Well, we don't, as "env" and "cli" are both in the array of `ignoredKeys` in `tools/docs/config.ts`'s `genTable` function.

[2022-02-16 19:45] viceice commented on #14243
Disagree, because of the extra API load for renovate, which is a big concern. So if not partially enable i would disable by default.

Yes, it's probably forgotten. Feel free to send a PR to fix. 🤗

[2022-02-16 20:54] #14247 closed

[2022-02-16 21:19] renovate-release commented on #14247
:tada: This issue has been resolved in version 31.84.3 :tada:

The release is available on:
- [GitHub release](https://github.com/renovatebot/renovate/releases/tag/31.84.3)
- `31.84.3`

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-02-17 03:38] karen-kua opened #14268 "Gitlab v4 API needs encoded namespaced repo paths"
### How are you running Renovate?

Self-hosted

### If you're self-hosting Renovate, tell us what version of Renovate you run.

31.84.3

### Please select which platform you are using if self-hosting.

gitlab.com

### If you're self-hosting Renovate, tell us what version of the platform you run.

14.6.4-ee

### Was this something which used to work for you, and then stopped?

I never saw this work

[2022-02-17 05:42] rimas-kudelis commented on #14243
I guess you're worried about Renovate Cloud? I'm more focused in a self-hosted open-source version which we are using. For this version, API limits is not exactly your concern.

[2022-02-17 05:57] #4294 closed

[2022-02-17 06:37] renovate-release commented on #4294
:tada: This issue has been resolved in version 31.85.0 :tada:

The release is available on:
- [GitHub release](https://github.com/renovatebot/renovate/releases/tag/31.85.0)
- `31.85.0`

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-02-17 06:57] mil7 commented on #14261
@secustor: Woah, that was fast. Thanks for the PR. 💐

[2022-02-17 07:53] #14261 closed

[2022-02-17 08:14] renovate-release commented on #14261
:tada: This issue has been resolved in version 31.85.1 :tada:

The release is available on:
- [GitHub release](https://github.com/renovatebot/renovate/releases/tag/31.85.1)
- `31.85.1`

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-02-17 08:20] #14268 closed

[2022-02-17 08:25] PhilipAbed commented on #13929
@rarkins please assign to me

[2022-02-17 08:27] PhilipAbed commented on #14190
@rarkins Please change the assignee to this account :D,

I do see half the implementation there, but it was in Ignored, see what i did in the PR

[2022-02-17 08:28] PhilipAbed commented on #13882
@rarkins please assign to this account instead thanx!

[2022-02-17 08:45] renovate-release commented on #14268
:tada: This issue has been resolved in version 31.85.2 :tada:

The release is available on:
- [GitHub release](https://github.com/renovatebot/renovate/releases/tag/31.85.2)
- `31.85.2`

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-02-17 09:01] PhilipAbed commented on #13882
@rarkins if thats temporary and after 2 hours it gets updated then is this issue as good as closed? or u still see a bug?

[2022-02-17 09:50] rarkins commented on #13882
It's still a bug

[2022-02-17 10:06] DutchBlackOp opened #14273 "Renovate build fails with get config.js on Node 16 (Windows/node 16/Custom config.js)"
### How are you running Renovate?

Self-hosted

### If you're self-hosting Renovate, tell us what version of Renovate you run.

31.82.1

### Please select which platform you are using if self-hosting.

Azure DevOps Server

### If you're self-hosting Renovate, tell us what version of the platform you run.

Version Azure DevOps Server 2020 Update 1.1

### Was this something which used to work for yo

[2022-02-17 11:00] rarkins commented on #14273
I think we'll need a Windows user to contribute a fix for this

[2022-02-17 11:07] MaronHatoum commented on #13482
Hi
after investigating the issue here I noticed a few things:
1. the flag abortOnError is implemented inside the HTTP calling method.
2. the docker/npm and others create a new ExternalHostError which is not returned by the HTTP call.

Because as I see in the code, it doesn't handle the abortOnError flag when throwing the exception instead the code throws new exception
 without handling the flag, a

[2022-02-17 11:47] PhilipAbed commented on #13929
@gaeljw i checked https://github.com/renovatebot/renovate/issues/6706, it appears we aggregate by `group` name,
and in that task we had :
`libraryDependencies ++= Seq(
  "io.cucumber" %% "cucumber-scala" % cucumberVersion % Test,
  "io.cucumber" % "cucumber-junit" % cucumberVersion % Test,
  "io.cucumber" % "cucumber-picocontainer" % cucumberVersion % Test
)`

all of them have the same group `io.c

[2022-02-17 13:10] rarkins commented on #13482
Thanks. What I think this means it that for Docker and npm, we are not aborting on *every* error and instead specific ones. Therefore it's not the HTTP layer (which understands `abortOnError`) but instead the datasource itself, which doesn't understand `abortOnError`. I'm not sure of the best solution for this, because we also don't want to embed Docker/npm awareness into our http layer.

[2022-02-17 14:03] #13803 closed

[2022-02-17 14:34] PhilipAbed commented on #13929
@gaeljw
Currently the code checks the lines and parses the lines according to some regex,
if we want to aggregate the lines i will have to do big changes to the way we parse the file.
hopefully not breaking anything on the way.

Then we will have an open issue like you said and i'm quoting:
 `A drawback of the current mechanism is that if we setup automerge for dependencies with "matchDepTypes": [

[2022-02-17 15:49] renovate-release commented on #13803
:tada: This issue has been resolved in version 31.86.1 :tada:

The release is available on:
- [GitHub release](https://github.com/renovatebot/renovate/releases/tag/31.86.1)
- `31.86.1`

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-02-17 17:19] gaeljw commented on #13929
Yeah, I was guessing this would not be easy.

I didn't check but maybe there's something we do for Maven build properties (`<properties><xxx>1.0.0</xxx></properties>`) that could be reused for sbt? Or maybe there's the same issue for Maven actually.

Regarding the automerge drawback, it's already current behavior. If there was only 1 PR containing change for several dependencies with different sco

[2022-02-17 21:10] travi opened #14285 "replacement definition not being recognized"
### How are you running Renovate?

WhiteSource Renovate hosted app on github.com

### If you're self-hosting Renovate, tell us what version of Renovate you run.

_No response_

### Please select which platform you are using if self-hosting.

_No response_

### If you're self-hosting Renovate, tell us what version of the platform you run.

_No response_

### Was this something which used to work fo

[2022-02-18 06:50] rarkins commented on #13359
Do we have a plan for now to detect when non packagist hosts support v2?

[2022-02-18 07:03] RahulGautamSingh commented on #13359
Not to my knowledge. We will need to create a new issue to discuss it

[2022-02-18 08:09] #13359 closed

[2022-02-18 09:54] HaveFun83 commented on #13952
It will be really great if there is an option to configure the flux install custom flags

[2022-02-18 10:01] viceice commented on #13952
Please don't post `me too` comments. Use 👍 to vote for the issue. Otherwise you'll make a lot noise for subscribed users.

[2022-02-18 13:44] icanhazstring opened #14298 "Disabled peer and dev dependencies ist not working"
### How are you running Renovate?

Self-hosted

### If you're self-hosting Renovate, tell us what version of Renovate you run.

31.86.0

### Please select which platform you are using if self-hosting.

Bitbucket Server

### If you're self-hosting Renovate, tell us what version of the platform you run.

7.20

### Was this something which used to work for you, and then stopped?

I never saw this wor

[2022-02-18 13:50] viceice commented on #14298
Peer and dev dependencies only work on renovate npm manager. Composer update types have different names

[2022-02-18 14:06] rarkins commented on #14137
Can someone give an example of what a *complete* PR would look like? Then I am better placed to comment

[2022-02-18 14:40] ostrya opened #14300 "Support pinned snapshot versions in maven datasource"
### What would you like Renovate to be able to do?

I have two feature requests:

1. When enabling "pinDigests" (could also be a new configuration parameter specific to maven), existing snapshot dependencies in the pom.xml should be replaced by the most recent artifact version (e.g. 1.0-SNAPSHOT -> 1.0-20220217.135012-1), so that the build is more reproducible.

2. Independent from whether the fla

[2022-02-18 14:56] fgreinacher opened #14302 "Renovate fails to create changelog when using Node codenames"
### How are you running Renovate?

Self-hosted

### If you're self-hosting Renovate, tell us what version of Renovate you run.

latest

### Please select which platform you are using if self-hosting.

gitlab.com

### If you're self-hosting Renovate, tell us what version of the platform you run.

_No response_

### Was this something which used to work for you, and then stopped?

I never saw this w

[2022-02-18 15:03] fgreinacher commented on #14302
`"newVersion": "fermium"` in the logs looks wrong to me. IMO `fermium` should be treated as a range and therefore never be treated as a version.

[2022-02-18 15:58] fgreinacher commented on #14302
@rarkins You introduced this fallback in https://github.com/renovatebot/renovate/pull/7107/files#diff-2d6258b53c64f3e013820ac6e6d1edcbd9d23e0b9eff5d7c035e77f987b27030R58. Do you remember why? ”Massaging legacy" vars seems like something we could probably get rid of 😀

[2022-02-18 16:42] bodinsamuel commented on #10326
hey,

Just pinging back, it seems to happen quite a lot lately (maybe because something is even faster on your end ahah).
Another "solution" would be have a minimum lifespan for a PR before merging.

[2022-02-18 16:52] viceice commented on #10326
@bodinsamuel please open a new discussion and provide your config. Maybe we can identify a config issue, as I've never seen this issue on my self hosted renovate's nor on GitHub app.

[2022-02-18 16:53] travi commented on #10326
i would second that i've seen more of this happening lately. when it does happen, i often don't notice it for a bit on projects that i'm not actively working on, so sometimes the logs for the run that resulted in the merge are already unavailable.

for example, i just reverted [this one](https://github.com/form8ion/remove-greenkeeper/pull/477) this morning and only noticed it because another updat

[2022-02-18 16:55] travi commented on #10326
also, i've seen the recommendation to enable branch protection suggested, but i use trunk-based development in most cases, so branch protection would unfortunately prevent pushing directly to the mainline. (i really wish it was possible to enable protection when branches are used, but not enforce for direct pushes)

[2022-02-18 17:08] TobiX opened #14303 "Proxy support for the gradle-wrapper manager"
### What would you like Renovate to be able to do?

As a whole, Renovate works nicely behind a cooperate proxy, just setting the environment variables `http_proxy`, `https_proxy` and `no_proxy` and renovate can do its job for both external source and the internal company Artifactory, so thanks for that. 👍

But if I understand the code (and the error log) correctly, the `gradle-wrapper` manager spa

[2022-02-18 17:09] bodinsamuel commented on #10326
Here an example:
https://github.com/algolia/dns-filter/pull/226

job id is one of those one 581744297, 581744283, 581744265, 581695208 (please make it available in the PR 😢 )

[2022-02-18 17:25] viceice commented on #14303
I'm sure the proxy vars should be passed to child containers.

https://github.com/renovatebot/renovate/blob/f3bdb9470c11da1194edc9e85d34231692dc1853/lib/util/exec/env.ts#L3

So can you check the logs for the docker commands? Or doesn't java respect those variables?

[2022-02-18 17:56] halkeye opened #14304 "Bump version isn't working for helmv3"
### How are you running Renovate?

WhiteSource Renovate hosted app on github.com

### If you're self-hosting Renovate, tell us what version of Renovate you run.

_No response_

### Please select which platform you are using if self-hosting.

_No response_

### If you're self-hosting Renovate, tell us what version of the platform you run.

_No response_

### Was this something which used to work fo

[2022-02-18 19:19] TobiX commented on #14303
Java doesn't :disappointed:
See for example https://docs.oracle.com/javase/8/docs/technotes/guides/net/proxies.html

[2022-02-18 19:46] travi commented on #10326
admin level access is the only exception, unfortunately, which doesn't cover a valid trunk-based development workflow in use for a whole team

when doing trunk-based development, it is important to run verification before pushing (ideally before each commit), so git hooks become very valuable in such workflows. along those lines, though, it is also possible to force-push to the mainline if _no_ pr

[2022-02-19 12:35] kajstrom commented on #9257
@rarkins @HonkingGoose This issue can be closed as #14201 has been merged

[2022-02-19 12:39] #9257 closed

[2022-02-19 14:21] HonkingGoose commented on #9257
This feature is available in Renovate version [`31.86.0`](https://github.com/renovatebot/renovate/releases/tag/31.86.0).

[2022-02-19 16:30] icanhazstring opened #14309 "Renovatebo composert security vulnerability report not working"
### How are you running Renovate?

Self-hosted

### If you're self-hosting Renovate, tell us what version of Renovate you run.

31.89.2

### Please select which platform you are using if self-hosting.

Bitbucket Server

### If you're self-hosting Renovate, tell us what version of the platform you run.

7.20

### Was this something which used to work for you, and then stopped?

I never saw this wor

[2022-02-19 16:47] rarkins commented on #14309
GitHub vulnerability alerts work on GitHub only. Please don't raise any more bugs or feature requests - start with a discussion from
now on.

[2022-02-19 21:34] danports commented on #13952
@kingdonb Any updates? I don't want to rush you, but it also seems like this is a significant issue for Flux users on Renovate, so if you haven't gotten to it, I'd like to at least knock out the initial `--components-extra` fix myself soon.

[2022-02-20 06:41] MPV commented on #14137
@andrein Thanks for taking a look!

That sentence in the Kustomize docs means “if there is already a chart downloaded, it won’t try again”.

However, if one were to remove the downloaded chart, running Kustomize again, it will download it again.

So I think running `helm` for downloading shouldn’t be necessary as `Kustomize` can do it (as long as the “cached” chart in the repo has been deleted bef

[2022-02-20 07:06] strayer opened #14314 "Support Argo CD Image Updater annotations"
### What would you like Renovate to be able to do?

Argo CD Image Updater can automatically update Docker image tags in ArgoCD GitOps repos. This is configured by annotations on the Application manifest.

Ideally I'd like Argo CD Image Updater to auto update semver patch releases and let Renovate open PRs for major and minor releases.

Argo CD Image Updater documentation: https://argocd-image-upda

[2022-02-20 08:33] PhilipAbed commented on #13929
@gaeljw no, the current behavior checks every dependency line alone, and extracts every scope from each line and adds it as information on the dependency, but doesn't check for variables.
adding Variables is like adding another hierarchy above it that holds the dependencies

@rarkins please advise, should i implement this change? making PRs for each Variable? what should be the logic?

[2022-02-20 08:35] rarkins commented on #13929
I think it may be best to leave for @zharinov who authored the parser and has done similar things before. However, it's not high priority if there's a simple workaround of creating groups manually through config.

[2022-02-20 08:39] MaronHatoum commented on #13861
Hi
can you please assign this issue to me?

[2022-02-20 08:50] MaronHatoum commented on #11450
Hi
can you please assign this issue to me?

[2022-02-20 08:52] MaronHatoum commented on #11291
Hi
can you please assign this issue to me?

[2022-02-20 08:53] ylemkimon commented on #13804
Could you try running with [`skipInstalls: false`](https://docs.renovatebot.com/self-hosted-configuration/#skipinstalls)?

[2022-02-20 09:07] viceice commented on #11450
This is a little bit more complicated, so should be done in multiple Pr's. Start with types move.

Then we can do the options refactoring, which will hit a lot datasources.

[2022-02-20 09:40] rarkins commented on #14314
Hi @strayer,

Could you create an example/reproduction repository to demonstrate both:
- What Renovate does today (or does it not update at all what you want?)
- What a future PR would look like after this feature is implemented?

[2022-02-20 10:37] viceice commented on #11291
Please remove only the snapshot tests. There are some other tests using that function, which are ok to leave as is.

[2022-02-20 11:05] nyg opened #14317 "Wrong dependency in commit message"
### How are you running Renovate?

WhiteSource Renovate hosted app on github.com

### If you're self-hosting Renovate, tell us what version of Renovate you run.

_No response_

### Please select which platform you are using if self-hosting.

_No response_

### If you're self-hosting Renovate, tell us what version of the platform you run.

_No response_

### Was this something which used to work fo

[2022-02-20 11:30] gaeljw commented on #13929
@PhilipAbed I meant current behaviour regarding automerge. Today there are 2 PRs, one for each scope. One will be automerged because the scope match, the other not _but_ as the 1st merge actually updates the shared variable it's the same as if the 2nd PR was merged (2nd PR will actually be auto closed right after).

[2022-02-20 11:30] gaeljw commented on #13929
To be fair, this is clearly not a massive issue for me and I understand it's really not easy to fix.

[2022-02-20 11:49] PhilipAbed commented on #13929
I think its possible but it's that i dont know how to continue since there's no clear requirement of how i should proceed from product point of view,
what logic should i follow?
Open PR for every Variable or for every scope (like now)
or what's should i do in case i have the same variable with more than 1 scope?

[2022-02-20 12:12] viceice commented on #13929
I think using one variable in multiple scopes is a config error.

[2022-02-20 12:15] gaeljw commented on #13929
I would group dependencies by variable first if any, then for remaining dependencies group by the "group name".

I expect people that use variable to use it everywhere it makes sense, thus no need to mix the two grouping strategies for a single dependency.

Scope shouldn't matter for the grouping, does it? 🤔

For instance, given the following:
[code]

I would expect 3 PRs with:
- artifact1 and art

[2022-02-20 12:17] gaeljw commented on #13929
On the contrary, it's fairly common. Having a library that provides a core dependency for runtime and another dependency with helpers for testing purposes.

[2022-02-20 13:27] hasanwhitesource commented on #3391
@rarkins Just to be clear in this case should the change column be from current tag to new tag for all based on the new digest ?

[2022-02-20 13:56] rarkins commented on #3391
@hasanwhitesource this field is "cosmetic" so can be whatever we think is most informative to the user. If someone is pinning a digest like this, then "current tag to new tag" won't help because the tag isn't changing. The new digest needs to be included somehow.

For digest pinning we could maybe just do something like `-> a7215d21ccc` to indicate that it's going from no digest to that particular

[2022-02-20 15:06] PhilipAbed commented on #13929
I thought u have 1 variable called LibraryDependencies that has 2 dependenices with scopes
now you are saying that you wan to check if there are any connection to any variable, that is not doable,
i cant differentiate if the version is actually a version or a variable.
to do that i will need to parse every variable i have, put it in a map and check everything against it.
now lets say i did that, w

[2022-02-20 15:19] #14190 closed

[2022-02-20 15:59] SashRaven commented on #13219
I want to raise this issue and ask for help (or clarification) with rebaseWhen=never.
I need to use rebaseWhen=never cause my repo has a long ci test and rebase triggers a lot of ci jobs that prevent deploying features, cause ci queue is occupied by renovate.
No, I'm not using prCreation=not-pending.
And yes, with rebaseWhen=auto - renovate creates PRs as expected.
With rebase=never renovate:
- do

[2022-02-20 16:17] JustArchi opened #14323 "Renovate docs on `rebaseWhen=auto` are not explicit enough - `behind-base-branch` when auto-merging"
### How are you running Renovate?

WhiteSource Renovate hosted app on github.com

### If you're self-hosting Renovate, tell us what version of Renovate you run.

_No response_

### Please select which platform you are using if self-hosting.

_No response_

### If you're self-hosting Renovate, tell us what version of the platform you run.

_No response_

### Was this something which used to work fo

[2022-02-20 16:35] rarkins commented on #13219
@SashRaven Please create a separate issue with minimal reproduction repo as this current one is classified as a dashboard problem while you are describing something different

[2022-02-20 17:56] #14323 closed

[2022-02-20 18:30] gaeljw commented on #13929
Nope, sorry if this was not clear, `libraryDependencies` is a reserved variable of SBT in which we append the dependencies.

I believe it's already done because Renovate correctly detects variables and suggest upgrades on the variable. But maybe this is not part of the same code/process.

First group dependencies by shared variable no matter the group name. Then for all others dependencies not usi

[2022-02-20 19:10] renovate-release commented on #14323
:tada: This issue has been resolved in version 31.89.5 :tada:

The release is available on:
- [GitHub release](https://github.com/renovatebot/renovate/releases/tag/31.89.5)
- `31.89.5`

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-02-20 21:40] ivankatliarchuk opened #14328 "Renovate fails to create or update labels when there are an empty labels"
### How are you running Renovate?

Self-hosted

### If you're self-hosting Renovate, tell us what version of Renovate you run.

31.89.4

### Please select which platform you are using if self-hosting.

GitLab self-hosted
GitHub self-hosted

### If you're self-hosting Renovate, tell us what version of the platform you run.

docker renovate/renovate:31

### Was this something which used to work for

[2022-02-21 01:22] maxbrunet commented on #13568
@viceice @rarkins Any thoughts? I'm ready to open a PR if it is good with you

[2022-02-21 01:50] kingdonb commented on #13952
I have been back to this thread a couple times but haven't made any progress on it myself. Have at it!

[2022-02-21 04:00] danports commented on #13952
OK, no problem. https://github.com/renovatebot/renovate/pull/14332 addresses `--components`. The other options to consider support for appear to be `--cluster-domain`, `--image-pull-secret`, `--network-policy`, `--registry`, `--toleration-keys`, and `--watch-all-namespaces`.

[2022-02-21 07:25] PhilipAbed commented on #13929
Thanks, now the requirement is clear, let me check it out

[2022-02-21 08:06] MaronHatoum commented on #11450
Hi @viceice,
I already did the first phase(types move) and I will create PR soon.
what should I do in the second phase?

[2022-02-21 09:26] PhilipAbed commented on #13929
@gaeljw
please check this test:
https://github.com/StinkyLord/renovate1799/pull/1
is that what you are looking for?

i changed the
`  if (variables[rawVersion]) {
    result.groupName = `${rawVersion} for ${groupId}`;
  }`

to
[code]

i noticed that it was group +variable needed to do this,
i tried making it only with variable, regardless of group, but not sure if that breaks anything
@zharinov @r

[2022-02-21 10:25] HonkingGoose commented on #13973
I see that @rarkins and @viceice have given this issue a thumbs-down.

What do you maintainers want to do with this issue, close it `won't do` or keep it around?

[2022-02-21 10:45] hasanwhitesource commented on #3391
@rarkins Is this right : https://github.com/hasanwhitesource/DockerDigestRepro/pull/1 ?

[2022-02-21 10:49] mmalyska opened #14336 "Gitea - 409 Conflict response in createPr with every trigger"
### How are you running Renovate?

Self-hosted

### If you're self-hosting Renovate, tell us what version of Renovate you run.

31.89

### Please select which platform you are using if self-hosting.

Gitea

### If you're self-hosting Renovate, tell us what version of the platform you run.

1.16.1

### Was this something which used to work for you, and then stopped?

I never saw this working

### D

[2022-02-21 11:08] TobiX commented on #14303
Okay, adding this to the Renovate config works:
[code]

Do you consider it in scope for Renovate to "help" admins and generate this automatically from the "standard" proxy variables?

Otherwise I consider this solved 👍

[2022-02-21 11:23] rarkins commented on #14303
I think it would be a nice feature if Renovate did this automatically

[2022-02-21 11:25] rarkins commented on #14336
Do existing PRs already exist?

Are they created by the same user as you are running with?

What do you have in your bot `config.json`? username, password, token, etc.

[2022-02-21 11:32] rarkins commented on #3391
I'd prefer to get rid of the part highlighted in red here:

![image](https://user-images.githubusercontent.com/6311784/154947250-91975dfb-99ff-4343-aff0-61ffaf5e3691.png)

[2022-02-21 11:41] viceice commented on #11450
No, we should move got options to a child object of renovate http options.

[2022-02-21 11:44] gaeljw commented on #13929
Definitely look's good :+1:

[2022-02-21 11:47] Nisden commented on #13030
Looks like adding the user explicitly as an member solves the issue for me as well.

The most annoying thing about this is that the user was already added via an group membership, so the interface refused to add him. I had to add him as Team Administrator and then remove the administrator role again.

[2022-02-21 11:47] #13030 closed

[2022-02-21 11:49] mmalyska commented on #14336
1. The PR from screenshot is the existing one. The time is 37s because for the test i deleted PR and branch to see if it is created without errors(and indeed it is).
2. Yes the running user is always `renovate` (bot account).
3. The config.json is in example repository -> https://github.com/mmalyska/renovate-gitea-bug-repro/blob/main/renovate/resources/config.yaml
The only thing that exist in secr