[2021-03-01 09:39] abernix commented on #4762
This repository seems to be a reproduction that surfaces the problem:

https://github.com/abernix/renovate-cargo-downgrade-bumps-repro/issues/1

Note that it doesn't happen with the default extension of `config:base` (see https://github.com/abernix/renovate-cargo-downgrade-bumps-repro/pull/2/commits/9bedd85c81f120d528769c4f75e3ac86818d9973), which _does_ in fact properly attempt to _upgrade_ the `

[2021-03-01 13:29] ikercrg opened #8912 "Configured registry is not set in package-lock.json"
**What Renovate type, platform and version are you using?**

I use the one which is explained here: https://gitlab.com/renovate-bot/renovate-runner

"renovateVersion": "24.63.0"

Our company has its own GitLab instance and I use a mirror of the renovate/runner project for creating the project that is mentioned.

**Describe the bug**

Having the following configuration in renovate.json:

`{
  "grad

[2021-03-01 13:34] #8912 closed

[2021-03-01 16:00] chgl opened #8919 "Helm values updates are ignored during successive runs when bumpVersion is enabled"
**What Renovate type, platform and version are you using?**

Renovate GitHub App.

**Describe the bug**

If bumpVersion is enabled and the helm-values manager attempts to update an image version in values.yaml and additionally tries to bump the Chart.yaml when updating a helm chart, there seems to be an ordering issue where sometimes both files are correctly updated and sometimes just the Chart.ya

[2021-03-01 16:45] waberc opened #8921 "Check dependency versions compatibility instead of blindly proposing latest one"
**What would you like Renovate to be able to do?**

I am using Renovate in a python project (but this might apply to other technologies) where I have a requirements.txt file I initially created with "pip freeze" to have all pip libraries versions managed. It worked fine for a while now.

### Actual
However now I am getting troubles with this:

[code]
Renovate creates me a MR to upgrade to latest i

[2021-03-01 16:51] codyoss commented on #8850
Thank you, I can confirm I am now getting PRs again!

[2021-03-01 16:54] fgreinacher opened #8922 "Post upgrade task failure causes Renovate failure"
**What Renovate type, platform and version are you using?**

Self-hosted GitLab

**Describe the bug**

Renovate exits with an error code when a postUpgradeTask fails. I'd expect this to be reflected in the MR instead.

**Relevant debug logs**

[code]

See https://gitlab.com/fgreinacher/renovate-post-upgrade-task-error/-/jobs/1064173334 for the full output.

**Have you created a minimal reproductio

[2021-03-01 17:19] #8921 closed

[2021-03-01 17:27] rarkins commented on #8919
I'm reverting it in PR #8926 as I can't work out what could be causing this behavior. Can you resubmit the feature with fix in a new PR if/once you work it out?

[2021-03-01 17:32] rarkins commented on #8922
Duplicate of #8856 ? Can you add the reproduction there if so?

Also to clarify: it doesn't cause Renovate to *exit* immediately, but it does cause Renovate to exit with a non-zero exit code ("fail") once it's *finished?

[2021-03-01 17:35] #8859 closed

[2021-03-01 17:44] chgl commented on #8919
I will! Thank you!

[2021-03-01 18:20] renovate-release commented on #8859
:tada: This issue has been resolved in version 24.70.0 :tada:

The release is available on:
- [GitHub release](https://github.com/renovatebot/renovate/releases/tag/24.70.0)
- `24.70.0`

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-03-01 20:59] fgreinacher commented on #8856
We're also having this issue. My repro is at  https://gitlab.com/fgreinacher/renovate-post-upgrade-task-error/-/tree/master with a failing run available at https://gitlab.com/fgreinacher/renovate-post-upgrade-task-error/-/jobs/1064173334.

[2021-03-01 21:00] fgreinacher commented on #8922
Yes, same issue. I added my repro there!

[2021-03-01 21:00] #8922 closed

[2021-03-02 00:33] gr2m commented on #4354
I had the need to close all dashboard issues after [disabling the option in our central config](https://github.com/octokit/.github/commit/b3cfdba7f34e89b6a959524cbaff790a861e0f49#diff-7b5c8955fc544a11b4b74eddb4115f9cc51c9cf162dbffa60d37eeed82a55a57). I expected renovate to close the issues itself but that was not the case.

Anyway, here is the script in case anyone needs it:
https://github.com/oct

[2021-03-02 05:33] elliotleelewis opened #8932 "Renovate loses ".npmrc" context when trying to regenerate lock files"
**What Renovate type, platform and version are you using?**

Self-hosted in Azure DevOps. Using packages from both NPMJS and a private feed in Azure DevOps (Azure Artifacts)

**Describe the bug**

Renovate is trying to create a PR for a private NPM package, but falls over itself when generating the lock-file, and gets a "401 Unauthorized" from the private feed.

![image](https://user-images.github

[2021-03-02 05:58] roni-frantchi commented on #8903
Hey @rarkins - problem persists this morning.
Here are the logs on the latest run - perhaps those entries you've added could shed some light -
https://app.renovatebot.com/dashboard#github/env0/env0/310399106

[code]

[2021-03-02 07:48] andreibsk opened #8936 "The `cloneSubmodules` option doesn't work when configured in user config (e.g. renovate.json)"
**What Renovate type, platform and version are you using?**

GitHub marketplace application (version 24.68.1 according to Renovate Dashboard)

**Describe the bug**

I have two private repositories hosted on GitHub. One of them is a submodule in the main repository. I have configured the Renovate GitHub marketplace app to run in the main repository with `"cloneSubmodules": false` as it (the submodu

[2021-03-02 08:02] rarkins commented on #8936
See #8924 for further context

The additional question is specific to the hosted github app. If both repos are private, and both are in the same org, and both have Renovate installed, then the token granted should have access to both.

[2021-03-02 10:15] 56KBs opened #8937 "Go module v2+ major upgrades unreported"
**What Renovate type, platform and version are you using?**

Self-hosted, GitLab, Renovate 24.60

**Describe the bug**

When depending on Go modules which versions are v2 or above, Renovate fails to identify major updates.

**Relevant debug logs**

[code]

**Have you created a minimal reproduction repository?**

https://github.com/56KBs/renovate-reproduction-repo

Please read the [minimal reproduc

[2021-03-02 10:42] #8932 closed

[2021-03-02 10:45] rarkins commented on #8937
Is there any way Renovate can confidently identify `v5` as a version and not a submodule? e.g. are submodules forbidden from being of the format `v\d+` ?

[2021-03-02 10:49] rarkins commented on #8903
I suspect that the duplicate remove warnings don't really *change* anything, but we'll try to clean that up. The root cause is still that `yarn` times out. If that's repeatable then no PR will be successful until then.

It would be useful if we could work out whether `yarn` really does need this long for every install for this repo on our worker infrastructure or whether there's some other problem

[2021-03-02 10:55] roni-frantchi commented on #8903
@rarkins I have tried but haven't found a cases where Renovate succeeds for a while now.
We run `yarn install` on GitHub Actions as well as other CI/CD providers - haven't seen an instance where it takes more than 4 minutes, tops.

Any chance it's running out of memory and hangs..?

[2021-03-02 12:07] 56KBs commented on #8937
I'm not aware of specific restrictions that disallow naming a module such that it looks like a sub-module. In-fact, part of the recommendations from the Golang developers state that major version bumps should exist as sub-modules within your repository, meaning that with `github.com/caarlos0/env/v5 v5.1.4` the `v5` could be a sub-module within the repository (But doesn't have to be).

I would have

[2021-03-02 12:55] rarkins opened #8941 "transitiveRemediation: vulnerable version can get added back by `npm install`"
**What Renovate type, platform and version are you using?**

**Describe the bug**

A transitive remediation PR may still contain the vulnerable dependency version added back as a sub-dependency.

Example: https://github.com/renovate-tests/hubot-cne/pull/3/files (see line 1697)

**Relevant debug logs**

[code]

**Have you created a minimal reproduction repository?**

Please read the [minimal reprod

[2021-03-02 12:58] rarkins commented on #8941
Probably necessary: run `npm` as part of `updateLockedDependency()` so that the result can be validated afterwards.

Maybe possible: if the vulnerable dependency comes *back* then try again with the new package/lock file

[2021-03-02 18:51] andreibsk commented on #8936
Thanks for the reply and quick update in the discussion thread (https://github.com/renovatebot/renovate/discussions/8924#discussioncomment-422661), sorry I missed it.

I'll make sure to check the logs tomorrow as both repos satisfy the mentioned criteria for the bot to have access to them (both of them even received the onboarding PR).

[2021-03-03 08:14] andreibsk commented on #8936
Follow-up with the logs from the new version (24.71.2):

[code]

[2021-03-03 08:20] rarkins commented on #8936
@andreibsk we maybe need to treat that as a separate issue/bug. @JamieMagee I forget what the status on "private submodules" was or how it's meant to work.

[2021-03-03 10:41] abernix commented on #4762
Fwiw, in an attempt to analyze the problem or offer a PR that solves this myself, I setup the [local development](https://github.com/renovatebot/renovate/blob/master/docs/development/local-development.md) process and tried reproducing this from a local Renovate instance against the reproduction repository that I offered above.

In doing so, the dry-run mode suggested that it would do the right thi

[2021-03-03 10:42] HonkingGoose opened #8960 "chore: Label incoming issues with priority-5-triage label"
**What would you like Renovate to be able to do?**

We need a way to remind ourselves to add a proper priority label to incoming issues.

I'm seeing new incoming issues which do not have a priority label.
I suspect this is because it's not longer a fully manual job to add labels, that the maintainers and triagist forget to add the priority label.

**Did you already have any implementation ideas?**

[2021-03-03 11:18] rarkins commented on #8960
Instead would it work to have a search for all issues which are *missing* a priority label?

[2021-03-03 11:32] HonkingGoose commented on #8960
That would cover all use cases, both old and newer issues.
But it's less easy to use, as you need to copy/paste the query from the triage markdown document.
When you have a label, you can just search for all occurrences of that label by clicking on the label.

I'll let you decide which you prefer. 😉

[2021-03-03 11:48] rarkins commented on #8960
ok, no problem with the new label

[2021-03-03 12:40] HonkingGoose commented on #8017
@rarkins I'm not sure if you're still waiting on a reproduction here? I was going to toggle the stale-bot on this, but I'll let you do that if needed.

[2021-03-03 12:42] HonkingGoose commented on #8212
I've labeled this `reproduction:provided` because there is a minimal reproduction for range strategy.
I don't know if this is was what you guys need, so feel free to change the label if needed. 😄

[2021-03-03 12:45] HonkingGoose commented on #8657
@rarkins What do you want to do with this?

[2021-03-03 12:51] HonkingGoose commented on #8684
@rarkins I've triggered the remaining issues that were labeled `reproduction:needed` before the stale-bot action was in effect.
I've also pinged you to resolve some issues that I don't know how to resolve. 😄

[2021-03-03 12:52] #7112 closed

[2021-03-03 13:40] #8960 closed

[2021-03-03 13:41] viceice commented on #8960
Can /should we remove `status:...` from closed issues?

[2021-03-03 13:49] HonkingGoose commented on #8960
If we want to remove `status:` badges after issues are closed, we should find a way to automate that, because everybody is going to forget to do that. 😄

Also on a related note: the `status:in-progress` badge should probably be applied automatically via a bot action once a issue is targeted with `Closed #<issue_number>` via a PR.
I notice issues are still labeled `status:requirements` or `status:r

[2021-03-03 13:51] viceice commented on #8960
I think we need a new issue to clarify those things 😉

[2021-03-03 13:53] HonkingGoose commented on #8960
Will make a new issue. 😄

[2021-03-03 13:55] HonkingGoose opened #8964 "chore: Automatically remove `status:` labels when issue is closed"
**What would you like Renovate to be able to do?**

@viceice suggested that we remove any `status:` labels from issues that are closed.

**Did you already have any implementation ideas?**

If we agree that this is a good thing to do, we should automate stripping `status:` labels from closed issues, because we will forget to do this 95% of the time, including me... 😄 🙃

[2021-03-03 13:59] HonkingGoose opened #8965 "chore: replace `status:` label from issue with `status:in-progress` once targeted with PR"
**What would you like Renovate to be able to do?**

Issues get labeled `status:requirements` and `status:ready` on a consistent basis, which is good.
We are nowhere near as consistent with applying the `status:in-progress` label for things that are in progress.

I see issues targeted with a PR still say: `status:requirements` or `status:ready`, while they should be `status:in-progress`.. 😄

**Did

[2021-03-03 14:00] HonkingGoose commented on #8960
See issues #8964 and #8965 to discuss this further.

[2021-03-03 14:00] rarkins commented on #8964
Yes, let's have an action that runs on issue close and:
- Fetches the list of labels
- Checks for any starting with `status:`
- Removes any it has found

IIRC the default GITHUB_TOKEN has rights to change labels.

For ones that are already closed we can remove them manually quite easily.

[2021-03-03 14:12] rarkins commented on #8965
On PR open or PR body update we should:

- Check the PR body for any instances of the following syntax: https://docs.github.com/en/github/managing-your-work-on-github/linking-a-pull-request-to-an-issue#linking-a-pull-request-to-an-issue-using-a-keyword
- If found, ensure the issue(s) have `status:requirements` if they are open

FYI I checked GitHub's GraphQL scheme for `PullRequest` and it doesn't

[2021-03-03 14:18] HonkingGoose commented on #8965
Don't we miss the `status:ready` labels then?
How about this:

* If found, ensure the issue(s) have `status:requirements` OR `status:ready` if they are open

[2021-03-03 14:23] renovate-release commented on #8960
:tada: This issue has been resolved in version 24.72.0 :tada:

The release is available on:
- [GitHub release](https://github.com/renovatebot/renovate/releases/tag/24.72.0)
- `24.72.0`

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-03-03 14:42] rarkins commented on #8965
Sorry, that was a typo. I have fixed it to `status:in-progress`

[2021-03-03 15:14] HonkingGoose opened #8966 "deprecate env substitution"
**What would you like Renovate to be able to do?**

Copy/pasting this from the discussion into a proper issue so it doesn't get lost.

**Did you already have any implementation ideas?**

From @viceice:

https://github.com/renovatebot/renovate/discussions/8939#discussioncomment-424350

[2021-03-03 15:16] HonkingGoose commented on #8966
Feel free to edit the original post so that it makes sense, I don't know anything about this problem. 😄

[2021-03-03 15:36] divyenduz commented on #8657
Sorry couldn't get to a reproduction and I won't have time to do that. Please feel free to close this or push it forward accordingly. This should be super easy to reproduce though with renovate CLI 🙏

[2021-03-03 15:57] #8657 closed

[2021-03-03 16:09] orf opened #8968 "Renovate fails if boto3-stubs is added to a Poetry lockfile"
**What Renovate type, platform and version are you using?**

Latest release

**Describe the bug**

Some pypi packages have pretty wacky versions: https://pypi.org/project/boto3-stubs/ (1.17.19.0). This causes renovate to exit when creating a SemVer object from it if it is defined in a Poetry lockfile:

`boto3-stubs = "*"`

**Relevant debug logs**

[code]

**Have you created a minimal reproduction

[2021-03-04 06:12] mscharley commented on #3681
@rarkins This has the help wanted tag but hasn't been updated in a few months. Is there anything outstanding that needs help specifically? ie, how can we help move this along? This would be very helpful for me to have at the moment.

[2021-03-04 06:19] rarkins commented on #3681
Next step is someone to summarise exactly what need to be done and how that fits into the Renovate general flow.

Eg is it a new manager, what external commands need running, etc.

[2021-03-04 06:47] roni-frantchi commented on #8903
Hey @rarkins
Any leads there?..
Something else we can help with?..
Right now we're having to fix our lock file on a daily basis due Renovate PRs

[2021-03-04 07:02] rarkins commented on #8903
The next thing to try would be to see if the yarn command can succeed if given more time. If you can submit a PR with a new admin config option allowing customisable exec timeouts then I could temporarily increase the limit in the app to test this. It's currently hard coded to 15 minutes.

[2021-03-04 07:17] mscharley commented on #3681
What would that look like? For reference, this is about one of the simplest possible rush repos out there: https://github.com/mscharley/node-presets

1. Detect rush repository based on `rush.json` in the top level. My gut says that if this file exists it would replace any attempts at using npm/yarn/etc.
2. Update package.json files as normal for NPM, either using the normal detection mechanisms or

[2021-03-04 08:02] rarkins commented on #3681
So in that case:
- New manager `rush` or maybe `rushjs` (doesn't really matter which.. is there likely to be any other `rush`?)
- Default `fileMatch` is `["(^|/)rush\\.json"]
- I think the best approach would be adding a `extractAllPackageFiles()` function to this manager which then returns each `package.json` individually with its deps
- Add an `updateArtifacts()` function which runs `install-run

[2021-03-04 08:07] rarkins opened #8974 "Transitive Remediation: capture when direct dependencies are updated"
**What would you like Renovate to be able to do?**

In scenarios where a transitive dependency needs remediating, and a direct dependency needs updating in order to achieve that, describe this change in the PR's update table.

**Did you already have any implementation ideas?**

This can only be known by the `updateLockedDependency()` function. It needs to return some info about this which is then

[2021-03-04 08:10] rarkins commented on #8941
The above example was fixed as a bug was found which caused it, but there's a new edge case here: https://github.com/LastKing/markdown-menu/pull/32/files

In short, the vulnerability fix release has been badly versions as `5.0.0-security.0`, which is (a) unstable and (b) *less* than the `5.0.0` release it's fixing. Although Renovate sets the version, `npm install` reverts it.

Ideally we should ab

[2021-03-04 08:11] rarkins opened #8975 "Transitive remediation: document when a dependency is *removed*"
**What would you like Renovate to be able to do?**

Make it clear to the user when a transitive dependency has been remediated through removal instead of upgrade.

**Did you already have any implementation ideas?**

`updateLockedDependency()` needs to detect this and return it in its results. Could be challenging if the transitive dependency has multiple paths and not all are removed.

[2021-03-04 08:22] mscharley commented on #3681
So, the `change` command adds these files into the repo: https://github.com/mscharley/node-presets/pull/9/commits/96c709219b10be2514ecc831f16ed03cfa0cc258

Other than adding cruft to a repo that doesn't use them, I don't believe they're actively harmful. A configuration option would be good. In lieu of adding a a configuration option, I would definitely run it. Adding it won't hurt people who aren

[2021-03-04 08:29] mscharley commented on #3681
Wait, I take that back after re-reading the config option, `bumpVersion` does sound appropriate and has the right options too, though an explicit `"none"` might be needed as well to say "Please include the changelog files, but don't actually increment the version".

[2021-03-04 08:53] rarkins opened #8976 "Transitive remediation: try to remove blocking parent"
**What would you like Renovate to be able to do?**

At times where a dependency can't be updated because a parent or ancestor dependency has an incompatible constraint, check whether the blocking parent/ancestor can actually be *removed* by its parents.

**Did you already have any implementation ideas?**

Don't quit as soon as a blocking parent dependency is found.

[2021-03-04 09:06] mscharley commented on #3681
Multiple runs after adding all the updates should be idempotent and do nothing though obviously it's going to be a hit to runtime. I haven't tried, but running after each update will likely fail in many cases due to conflicting version specifications across the whole repository. `rush` has only one global resolution pool so if it can't resolve a single version that satisfies every package.json it'

[2021-03-04 10:35] gkalpak opened #8981 "Renovate unnecessarily rebases PRs"
**What Renovate type, platform and version are you using?**

We are using the Renovate App on GitHub.

**Describe the bug**

On the [angular/ngcc-validation](https://github.com/angular/ngcc-validation) repo, in the last few days (at least), we have noticed the following behavior:

Once Renovate merges one of its PRs, it will rebase all its open PRs, although there should be no merge conflicts crea

[2021-03-04 10:37] #8981 closed

[2021-03-04 11:37] Leksat commented on #8804
A use case from https://github.com/renovatebot/renovate/discussions/8984: Drupal project updates.

Drupal configuration is stored in Git, but updates from Drupal core or modules can modify it. To achieve completely automated updates we need:
- Pre: Install Drupal using existing configuration.
- Update dependencies.
- Post: Run Drupal updates and export the updated config.

[2021-03-04 11:51] Leksat commented on #8804
For the above Drupal config use case:

Ideally before any changes are made.

And a counter question:
If we install dependencies in the pre-upgrade task (and also in the post-upgrade), can this be a problem for Renovate?

In the same container. In the post-upgrade task we need to have the database (sqlite) generated in the pre-upgrade.

[2021-03-04 12:05] roni-frantchi commented on #8903
@rarkins I'm not sure what that means - where do I config those?
Also - I fail to see how running `yarn install` would need to take over 15 minutes running on Renovate container compared to GitHub Actions, CircleCI Seed.run or locally - I mean it really seems to be something that is specific to the container, wouldn't you say?

[2021-03-04 12:25] rarkins commented on #8903
Here are your options:
1. Run Renovate self-hosted, on as fast a machine as you need. Hopefully it doesn't have the same problem
2. Contribute a feature to this repo to make the "docker run" timeout configurable so that we can increase it in the app to see whether `yarn install` ever completes for your repo if given extra time.

The purpose of (2) is to work out if the problem is because `yarn` ru

[2021-03-04 12:28] rarkins commented on #8804
Please explain why Drupal needs to be installed prior to updating dependencies. Keeping in mind that Renovate updates dependencies directly. I normally would not see any reason why a command needs to be run prior to us editing the e.g. `requirements.txt` ourselves.

[2021-03-04 13:26] Leksat commented on #8804
That's the way it works 🤷

Drupal, as a usual CMS, consists of two parts: code and database. But there is also a third one: configuration. The active configuration lives in the database, but it can be exported to (or imported from) yaml files. The best practice is to not change any configuration on prod, but rather update it in dev/local environment, export to Git and then deploy to prod where it

[2021-03-04 13:34] rarkins commented on #8804
Define "module updates"?

We are literally editing a text file. I think you're referring to some command someone would normally run?

[2021-03-04 13:40] Leksat commented on #8804
Oh, yes, sorry. So a module release can provide one or more update functions which need to be executed after the code update. I think the most common word for this would be "migrations". But in Drupal they are called [updates](https://api.drupal.org/api/drupal/core%21lib%21Drupal%21Core%21Extension%21module.api.php/function/hook_update_N/9.1.x).

[2021-03-04 14:54] jjathman opened #8986 "Support a git-submodule using a non-standard port"
**What would you like Renovate to be able to do?**

This is related to the discussion here: https://github.com/renovatebot/renovate/discussions/8529. We have a Git submodule which is accessed over ssh on the non-standard port of 7999. When the Renovate `git-submodule` adjusts the URL from the submodule from `ssh` to `https` it still uses the existing non-standard port of 7999. I would like Renovat

[2021-03-04 15:41] rarkins commented on #8986
Is this submodule needed for the purpose of *updating* it (using the git submodules manager in Renovate) or because the files in it are needed for other dependency updates?

e.g. would skipping git submodule initialization work as an alternative?

[2021-03-04 15:52] jjathman commented on #8986
Yes in this case skipping the submodule completely would also work which I think is already an issue? https://github.com/renovatebot/renovate/issues/8936 seems to cover that case. That was the original thing I attempted to do but it didn't work how I expected. Is there a way to globally disable cloning of submodules? I didn't see anything [here](https://docs.renovatebot.com/self-hosted-configurati

[2021-03-04 16:13] rarkins commented on #8986
Are you self-hosted though? I assumed from the ports you may be running Bitbucket. Self-hosted submodule disablement should work if you put it in the bot's config.js or env

[2021-03-04 16:18] secustor opened #8987 "Use configured GitlabToken for Docker datasource authorization"
**What would you like Renovate to be able to do?**
We are using a self hosted instance of Gitlab and Renovate.
The docker registry provided by Gitlab is served under another domain ( e.g. gitlab.example.com vs registry.example.com )
Because the registry is served by Gitlab, the Gitlab token configured by `gitlab_api_token` should be reused for authentication.

**Did you already have any implementa

[2021-03-04 16:21] jjathman commented on #8986
Yes, we are running self-hosted. Do you mean put `cloneSubmodules: false` in to the bot's configuration?

[2021-03-04 16:34] jjathman commented on #8986
@rarkins that seemed to work! I don't think I ever realized that the self-hosted configuration options allowed for putting all the regular configuration options at that level. Very helpful, thank you!

[2021-03-04 16:34] #8986 closed

[2021-03-04 16:34] rarkins commented on #8986
Yes, either that or `RENOVATE_CLONE_SUBMODULES=false` in env. The problem in that issue is that the decision whether to clone submodules is taken before the repo config is read. But if the value is added to bot config it should function as intended

[2021-03-04 16:39] rarkins commented on #8987
Can you add `hostRules` using the bot config (e.g. `config.js`) which allows variable substitution? e.g.

[code]

[2021-03-04 17:51] HonkingGoose opened #8988 "update rebaseWhen docs and update text in Renovate PR body"
**What would you like Renovate to be able to do?**

I'm rescuing this from the discussion (https://github.com/renovatebot/renovate/discussions/8982) to prevent this from being missed later on.

As far as I can see from the discussion there, there's a problem with the current descriptions in the [docs on `rebaseWhen`](https://docs.renovatebot.com/configuration-options/#rebasewhen).

It seems that t

[2021-03-04 17:52] HonkingGoose commented on #8988
@rarkins and @viceice I'm not totally clear on what needs changing here, so feel free to expand on the requirements.

[2021-03-05 06:06] rarkins opened #8994 "GitHub: Authentication token format updates"
Documenting this here but I don't think this affects us: https://github.blog/changelog/2021-03-04-authentication-token-format-updates/

Mostly because existing format tokens aren't deprecated yet. The only time we distinguish between tokens is looking for `x-access-token` for app tokens, which wouldn't change.

[2021-03-05 06:06] #8994 closed

[2021-03-05 08:39] viceice commented on #5574
Seeing more wron changelogs, repro: [viceice-tests/renovate-changelog1](https://github.com/viceice-tests/renovate-changelog1)

- Old entries for typescript-eslint/typescript-eslint: viceice-tests/renovate-changelog1#1
- Duplicate entries for traefik: viceice-tests/renovate-changelog1#2

[2021-03-05 08:40] viceice commented on #5574
It's manager independend

[2021-03-05 09:28] #8525 closed

[2021-03-05 09:29] #8562 closed

[2021-03-05 09:44] renovate-release commented on #8525
:tada: This issue has been resolved in version 24.73.1 :tada:

The release is available on:
- [GitHub release](https://github.com/renovatebot/renovate/releases/tag/24.73.1)
- `24.73.1`

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-03-05 09:45] renovate-release commented on #8562
:tada: This issue has been resolved in version 24.73.1 :tada:

The release is available on:
- [GitHub release](https://github.com/renovatebot/renovate/releases/tag/24.73.1)
- `24.73.1`

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-03-05 15:41] Jiehong opened #8996 "feature: how to handle more than 1 repository at the same time (self hosted)"
We're running renovate as a self-hosted app (docker image running as a kubernetes cronjob), and it's set to all repos of a given bitbucket project.

However, it does check each repository one by one, and so it takes quite a while (like 1 hour for 50 repositories)

Is there a way to make renovate process like 5 repositories in parallel?

I was unable to find an option for that.

[2021-03-05 16:01] #8996 closed

[2021-03-05 16:45] #8895 closed

[2021-03-05 17:00] renovate-release commented on #8895
:tada: This issue has been resolved in version 24.74.1 :tada:

The release is available on:
- [GitHub release](https://github.com/renovatebot/renovate/releases/tag/24.74.1)
- `24.74.1`

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-03-05 17:18] #8894 closed

[2021-03-05 17:33] renovate-release commented on #8894
:tada: This issue has been resolved in version 24.74.2 :tada:

The release is available on:
- [GitHub release](https://github.com/renovatebot/renovate/releases/tag/24.74.2)
- `24.74.2`

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-03-06 05:38] jetersen opened #9001 "Private shared preset cannot be loaded from public github repo within the same org"
**What Renovate type, platform and version are you using?**

hosted app

**Describe the bug**

We have public repo that attempts to use a shared presets on a private repo:
https://github.com/Specshell/specshell.software.maven.pom/blob/main/.github/renovate.json
https://github.com/Specshell/specshell.software.maven.pom/issues/59
We have several other private repos that successfully can retrieve the

[2021-03-06 05:52] rarkins commented on #9001
Public repos receive a token which is only valid for the current repo and does not grant private access to others.

[2021-03-06 05:59] #9001 closed

[2021-03-06 06:01] JamieMagee opened #9003 "custom repo port should be rewritten when converting from SSH to HTTP"
@JamieMagee does git-submodules work if the port for SSH access isn't the same as what should be used for HTTPS access? We have a submodule with a url like `ssh://git@bitbucket.mycompany.com:7999/dev/myrepo.git` but it looks like when the URL is converted to HTTPS it is still maintaining the non-standard port of `7999`. I don't see that hostRules supports specifying a port.

I can make this a new

[2021-03-06 10:48] HonkingGoose commented on #4225
I'm not sure if it is worth our time/effort to create a `bower` package manager for use with Renovate when the creators of Bower say this on their [homepage](https://bower.io/):

The Bower team also made a short guide on [how to migrate away from bower](https://bower.io/blog/2017/how-to-migrate-away-from-bower/).

Also it's been a long time since this issue was opened and nobody else chimed in: "H

[2021-03-06 11:06] rarkins commented on #4225
My general principal of whether to keep feature requests open is "would I accept a well written PR to implement this?". And that would still be true.

Let's do this: we'll close this issue due to lack of demand, but anyone welcome to submit a PR if they really need it.

[2021-03-06 11:06] #4225 closed

[2021-03-06 11:06] viceice commented on #4225
I think we can close this. Bower isn't widely used anymore

[2021-03-06 15:28] roni-frantchi commented on #8903
@rarkins just had a build that **did** pass - thought you had mentioned it might help to see if there is one and compare the logs - https://app.renovatebot.com/dashboard#github/env0/env0/312070875

[2021-03-06 18:45] erzz commented on #6713
Related - but not the same so if you want me to open a seperate issue please say :)

I followed the PR's and they will be great for local: includes - but there are various other types of include which also result in a similar error

The common types of include we use are:
`template`: as you know about seeing as renovate-runner project uses it
`remote`: could be any HTTP and or GIT repo

I don't se

[2021-03-06 19:07] viceice commented on #6713
@erzz can you please paste some concrete sample pipeline and write down what there should happen.

You can use any fake repos of cause.

[2021-03-06 19:44] rarkins commented on #8903
@roni-frantchi are you sure there's a "docker run" in that job? I don't see one

[2021-03-06 19:46] HonkingGoose opened #9005 "renovate-config-validator accepts bad supportPolicy strings"
**What Renovate type, platform and version are you using?**

I'm "black-box testing" the `renovate-config-validator` where I'm just feeding it bad stuff and seeing if it raises a warning. 😄

**Describe the bug**

**Steps to reproduce:**

1. Create a `renovate.json` file that looks like this:

[code]

2. `supportPolicy` has a bad string in it: `lts_lates` is misspelled, it should be `lts_latest`
3.

[2021-03-06 19:48] rarkins opened #9006 "Don't rebase out of date branches when automerge=true and rebaseWhen=conflicted"
**What Renovate type, platform and version are you using?**

Hosted app, but not important

**Describe the bug**

Renovate rebases out of date automerging branches even if rebaseWhen=conflicted. Renovate should instead *not* rebase if the branch is out of date and therefore *not* automerge. Ideally this should be noted in the automerge description message in the PR body too.

**Relevant debug logs

[2021-03-06 19:54] HonkingGoose commented on #9005
Hi @rarkins,

I'm willing to "black-box" test this validator more, and report any bugs or weird stuff that I find.

Do you like this idea or not?
Do you have any suggestions for the process that I should follow (maybe make a separate `renovate-config-black-box` repository with branches for each separate reproduction?)

I will hold off on making more issues until I get a "go / no go" on this idea.

[2021-03-06 20:02] rarkins opened #9007 "Try out destiny file renaming"
It would be interesting to test this out: https://github.com/benawad/destiny

It currently produces some whacky results:

[code]

But still I think this could be interesting to run.

[2021-03-06 20:06] rarkins opened #9008 "Use GitHub environments for releasing"
Link: https://docs.github.com/en/actions/reference/environments

@viceice or @JamieMagee do you have your head around these yet? Could we use this to further protect our main branches in repos, including for the secrets we need like the Docker Hub token?

[2021-03-06 20:08] rarkins commented on #9005
I don't mind having an issue for each of these but they'd mostly be classified as low priority and unlikely to be done unless yourself or someone from the community strongly cares.

[2021-03-06 21:05] HonkingGoose commented on #9005
I care about the validator being correct, but I'm not able to fix it for you, unfortunately. 😞 So we would be relying on community fixes for this.

I don't think there's much point in me going hunting for bugs that will not get fixed in a reasonable time-frame, as that just clutters up the repository issue list. Developer time is limited, so you must prioritize what to do first, so I'm not mad at

[2021-03-07 00:02] nejch commented on #7041
Does anyone else here have a use case to manage the dependency versions of actual debian packages themselves, in `debian/control` files via Depends/Pre-Depends and so on? https://debian-handbook.info/browse/stable/sect.package-meta-information.html

[2021-03-07 05:08] rarkins commented on #7859
In GitHub `mergeMethod` is checked as part of `initRepo` because the information can be returned in the same answer as other repo information: https://github.com/renovatebot/renovate/blob/bf5cb0f87d984347e5c8d810393eb4d3a5fbcb7a/lib/platform/github/index.ts#L236-L242

It's then used later in the mergePr method: https://github.com/renovatebot/renovate/blob/bf5cb0f87d984347e5c8d810393eb4d3a5fbcb7a/l

[2021-03-07 05:09] #7574 closed

[2021-03-07 05:17] #6044 closed

[2021-03-07 05:54] #8492 closed

[2021-03-07 05:57] rarkins commented on #6713
The original reproduction by @j0nm1 is no longer on gitlab.com so this issue is back to `status:requirements` until someone can create one

[2021-03-07 06:10] rarkins commented on #8903
I found another case where `yarn install` worked:

[code]

Duration is 90 seconds - not even close to the 15 minute timeout. But I also note that it's doing a full install including pulling down `node_modules` and using a lower version of `yarn` (1.19.0) than we installed (1.22.0):

[code]

Are you using a `yarn` binary which you have committed to the repo?

[2021-03-07 06:24] roni-frantchi commented on #8903
Yes @rarkins, we're using `yarn policies` - https://classic.yarnpkg.com/en/docs/cli/policies/#toc-policies-set-version

[2021-03-07 06:27] roni-frantchi commented on #8903
The example you showed is actually of an `e2e` project that isn't part of our `yarn workspaces` - and so it has a much less dependencies

[2021-03-07 06:30] roni-frantchi commented on #8903
Sorry so looks like that PR that passed was of someone from our team fixing the `yarn.lock` manually again - Renovate failed on that one too with:
[code]

Looks like Renovate fails consistently on that large monorepo.

[2021-03-07 07:16] rarkins commented on #8903
Related: #9013

[2021-03-07 07:59] roni-frantchi commented on #8903
@rarkins got a PR that did get merged and its yarn.lock updated automatically by Renovate 20 minutes ago.
I think that is its log: https://app.renovatebot.com/dashboard#github/env0/env0/313188719

[2021-03-07 08:17] #7513 closed

[2021-03-07 08:33] renovate-release commented on #7513
:tada: This issue has been resolved in version 24.74.3 :tada:

The release is available on:
- [GitHub release](https://github.com/renovatebot/renovate/releases/tag/24.74.3)
- `24.74.3`

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-03-07 08:41] viceice commented on #9008
I haven't used them yet. But can maybe improve security.

[2021-03-07 08:44] rarkins commented on #8968
Lowering priority due to inability to reproduce

[2021-03-07 09:00] #9006 closed

[2021-03-07 09:16] renovate-release commented on #9006
:tada: This issue has been resolved in version 24.74.4 :tada:

The release is available on:
- [GitHub release](https://github.com/renovatebot/renovate/releases/tag/24.74.4)
- `24.74.4`

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-03-07 10:45] Ornias1993 commented on #8919
@chgl Nice work on the issue report, looking forward to your renewed PR!

[2021-03-07 11:45] viceice commented on #8919
closing this in favor of #8231

[2021-03-07 11:45] #8919 closed

[2021-03-07 11:47] viceice commented on #8231
We need a new pr for this, as the previous caused a bug and had been reverted, see #8926 and #8919

[2021-03-07 11:52] Ornias1993 opened #9015 "helm-values not correctly parsing linuxserver.io tags"
**What Renovate type, platform and version are you using?**

Latest (as of 07-03-2021)

**Describe the bug**

helm-values should support rendering complex versioning formats.
However, it doesn't render the most basic linuxserver.io format at all:
`version-3.0.4.993`
source: https://hub.docker.com/r/linuxserver/sonarr

This might, on first sight, be due to the 4-dot versioning format.
However, as s

[2021-03-07 11:54] j0nm1 commented on #6713
Hi, totally forgot about this issue. The repository is now public again.

[2021-03-07 11:55] #9015 closed

[2021-03-07 12:55] danez commented on #8354
Same happens for me. No special config or git hooks. The only thing that recently changed was that the default branch was renamed from `master` to `main`.

[2021-03-07 13:47] rarkins commented on #8354
The extract cache should be based on (a) the branch name, and (b) the commit SHA. If either has changed, then the extract cache should have been invalidated. @danez was there no other error message printed as to why the push failed? Have you manually resolved it yet or is it still possible to view the problem live and debug? Because of the nature of this problem it probably wouldn't reproduce if I

[2021-03-07 13:52] danez commented on #8354
There is no other message in the log. The branch it happens is a new one. One preexisting branches do get updated/pushed before the error happens. https://github.com/reactjs/react-tabs/branches

I haven't solved the problem yet, do you want access to the repo?

[2021-03-07 14:22] rarkins commented on #8354
I don't expect I should need any collaborator access, and it's public, so I shouldn't need anything further.

If you can hold out for a few days for me to try to work out why it's failing to git push then it could benefit others if successful. i.e. as opposed to attempting manual actions to resolve it.

[2021-03-07 14:39] rarkins commented on #8354
Troubleshooting out loud:

- https://github.com/reactjs/react-tabs/pull/375 was opened 21 days ago and updated 2 hours ago and seems fine. It's targeting `main`, presumably which was auto-migrated from `master` by GitHub when you changed default branch
- There is only one branch that fails to create, and it's an Actions workflow.

[code]

First thing to rule out is whether it's related to Actions

[2021-03-07 14:44] rarkins commented on #8903
@roni-frantchi indeed, I can see it completed successfully in with `"durationMs": 897064,`, i.e. 3 seconds before 15 minutes!.

So right now it seems the root cause is that `yarn install` times out because it usually takes more than 15 minutes, which is our default child process limit.

The Renovate app doesn't have any warm yarn cache or existing `node_modules` to speed things up, so comparing to

[2021-03-07 14:45] danez commented on #8354
Ohhhh, I just had a similar thing with gitpod.io. The permissions of the github app were missing the workflow permission there too.
Let me check.

[2021-03-07 14:58] erzz commented on #6713
I'll add a specific reproduction for the case I refer to here as well.

I have started work on a Gitlab CI templates project which we use across various projects.  Its public so you can see what kinds of things we are talking about and I am even trying to create good docs in it too :)

But the essentials are - I don't want to write a image scanning job by hand for every project - so I create a tem

[2021-03-07 15:02] danez commented on #8354
Okay while I wait for someone to fix the permissions, which I'm fairly confident is the culprit, I just remembered when I had the same issue with gitpod.io. I also wasn't able to push but github actually responded with a message. So it might be possible to display the message?

[code]

[2021-03-07 15:03] rarkins commented on #6713
@erzz the value you show above for `include.remote` is a non-updateable value, e.g. no version. For the other ones, they look like they should work out of the box with the gitlab-ci, but could potentially be renovated with the `regex` manager instead of not. I don't *see* anything that seems like it's the same problem as the topic of this issue. Maybe you can create a Discussion in the meantime an

[2021-03-07 15:07] erzz commented on #6713
@rarkins

Renovate does read in the includes - even the remotes and seems to do it very well. It discovers that the included file has an update-able value (the image tag) but then when it comes to trying to create a PR for it - it fails because it is attempting to to a string replace in the local git repo - but of course it doesn't exist.

The logic is to detect "remote:" and know that it will nee

[2021-03-07 15:07] rarkins commented on #8354
We look for something similar here: https://github.com/renovatebot/renovate/blob/40a048d67daee3e65a7721cd450213342b952f3f/lib/util/git/index.ts#L686-L693

But instead it seems to be missing a meaningful message and falls through to https://github.com/renovatebot/renovate/blob/40a048d67daee3e65a7721cd450213342b952f3f/lib/util/git/index.ts#L700 (which is why I have some doubts about the root cause -

[2021-03-07 15:09] rarkins commented on #8354
It's possible that the git library we use is suppressing that error message and no longer passing it up. Unfortunately I don't have any "old" installations to test that hunch on, and it's pretty inconvenient to test too.

[2021-03-07 15:16] danez commented on #8354
I'm spinning up renovate locally right now. As long as I have this "broken" repo I might as well use it and will check if I can find where this message is or if it changed, etc.

[2021-03-07 15:20] rarkins commented on #8354
It's likely a bit of work to fully reproduce, and I don't think you can do it on the same repo. Probably:
- Create an app (easiest is if you make it private for your account only) without the appropriate workflow update permissions
- Create a repo with an action to update
- Generate a temporary (they're 1hr) token for your account: not sure if any simple tools exist for that yet
- Configure Renova

[2021-03-07 15:20] rarkins commented on #8354
Alternatively you could use that token and simply try to clone, modify and git push manually - that way you'd be sure to get the full git error once you reproduce.

[2021-03-07 15:22] danez commented on #8354
I'm confident because of this. It nowhere mentions `workflow`, whereas I see `workflow` being mentioned in other orgs I'm in:
<img width="608" alt="Screenshot 2021-03-07 at 16 20 16" src="https://user-images.githubusercontent.com/231804/110244884-21c44c00-7f61-11eb-970a-0e9d6d08c09b.png">

[2021-03-07 15:26] HonkingGoose commented on #9005
@rarkins I think this can be labeled status ready if you're happy with this as the end-result?

[2021-03-07 16:17] roni-frantchi commented on #8903
Awesome @rarkins thanks.
Let's see if #9013 helps.
I'll look into adding that increased timeout for further testing otherwise

[2021-03-07 16:38] #8723 closed

[2021-03-07 16:43] danez commented on #8354
I opened a PR with `simple-git` to fix the workflow permission error detection. 🤞

[2021-03-07 16:57] renovate-release commented on #8723
:tada: This issue has been resolved in version 24.75.0 :tada:

The release is available on:
- [GitHub release](https://github.com/renovatebot/renovate/releases/tag/24.75.0)
- `24.75.0`

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-03-07 17:49] HonkingGoose commented on #8988
Putting this at `priority-3-normal` as what we have now seems to confuse our users. 😄

https://github.com/renovatebot/renovate/discussions/8982#discussioncomment-439745

[2021-03-07 19:20] HonkingGoose opened #9020 "migrate from rebase to refresh terminology"
**What would you like Renovate to be able to do?**

I think that the way we currently use the term `rebase` is confusing.
The term `rebase` carries a lot of semantic weigh because Git also use the term `rebase`.
Also, what Renovate calls a `rebase` is not the way Git means and uses the term `rebase`...

In the discussion at PR #8029 the Renovate team settled on using `refresh` instead of `rebase`.

[2021-03-07 20:27] #8937 closed

[2021-03-07 20:44] rarkins commented on #6629
@zharinov can you check if `gradle-lite` handles this correctly?

[2021-03-07 20:45] #6910 closed

[2021-03-07 20:58] renovate-release commented on #8937
:tada: This issue has been resolved in version 24.75.1 :tada:

The release is available on:
- [GitHub release](https://github.com/renovatebot/renovate/releases/tag/24.75.1)
- `24.75.1`

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-03-07 21:19] zharinov commented on #6629
For `gradle-lite` it seems to be fixed

[2021-03-07 21:19] #7096 closed

[2021-03-07 22:11] Trim21 opened #9025 "poetry repo is broken because docker image try to install poetry-core instead of poetry"
**What Renovate type, platform and version are you using?**

github app

**Describe the bug**

https://github.com/Trim21/transmission-rpc/pull/59

Renovate failed to update an artifact related to this branch. You probably do not want to merge this PR as-is.

the branch becomes conflicted, or
you check the rebase/retry checkbox if found above, or
you rename this PR's title to start with "rebase!" t

[2021-03-07 22:30] rarkins commented on #5150
@zharinov can you take a look at this for `gradle-lite`?

[2021-03-07 22:32] #4833 closed

[2021-03-08 04:48] viceice commented on #9025
Regression of #9012

[2021-03-08 04:55] #8126 closed

[2021-03-08 05:13] renovate-release commented on #8126
:tada: This issue has been resolved in version 24.76.1 :tada:

The release is available on:
- [GitHub release](https://github.com/renovatebot/renovate/releases/tag/24.76.1)
- `24.76.1`

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-03-08 06:02] roni-frantchi commented on #8903
Hey @rarkins I'm seeing several PRs that are looking good this morning - guess #9013 has done the trick!
Thanks! Much appreciated 🙏

[2021-03-08 06:06] #8903 closed

[2021-03-08 06:41] rarkins commented on #9025
Although it seems like we could massage `poetry-core` to `poetry` and it would work, I'm not sure what else might still be broken, so I have reverted that functionality to extract from `core.masonry.api`. It was suggested by a single user, but clearly wasn't fully checked, so we'll leave it out until someone else can more fully specify it.

[2021-03-08 07:13] #9025 closed

[2021-03-08 07:29] renovate-release commented on #9025
:tada: This issue has been resolved in version 24.76.2 :tada:

The release is available on:
- [GitHub release](https://github.com/renovatebot/renovate/releases/tag/24.76.2)
- `24.76.2`

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-03-08 07:46] rarkins commented on #6629
Please use either `:enableGradleLite` or `:switchToGradleLite` presets

[2021-03-08 07:46] #6629 closed

[2021-03-08 08:11] #7588 closed

[2021-03-08 08:21] rarkins commented on #8337
Already solved

[2021-03-08 08:21] #8337 closed

[2021-03-08 08:26] renovate-release commented on #7588
:tada: This issue has been resolved in version 24.76.3 :tada:

The release is available on:
- [GitHub release](https://github.com/renovatebot/renovate/releases/tag/24.76.3)
- `24.76.3`

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-03-08 08:35] HonkingGoose commented on #6885
There's a typo in the PR title:

Change `reopsitory` -> `repository`

[2021-03-08 08:42] HonkingGoose commented on #3247
Just checking what the status of this is now, as this is labeled `priority-5-triage` right now, and I'm not fully clear on if we need more stuff to be done before we can close this issue.

@rarkins said:

For the first strategy we only have the `aws-java-sdk monorepo` as a monorepo preset for `amazon` dependencies, do we want/need more presets here maybe?

The second strategy is met by:
- the `pac

[2021-03-08 08:45] HonkingGoose commented on #3317
@rarkins I think we still need a reproduction repository here to make progress on this issue?

[2021-03-08 08:50] HonkingGoose commented on #3464
@rarkins Can we move this to `status:ready` now? I think we have what we need to get started?

You said:

If you agree that we're ready to go, please label it `status:ready` and attach a priority label that you find appropriate. 😉

[2021-03-08 08:51] rarkins commented on #3464
I think let's get a reproduction repo first, covering the cases we need

[2021-03-08 08:54] viceice commented on #5574
Missing changelog at all here: renovatebot/github-action#538

Changelog is here: https://github.com/wagoid/commitlint-github-action/blob/master/CHANGELOG.md
Releases are empty.

[2021-03-08 09:00] HonkingGoose commented on #3566
@rarkins @viceice This issue should probably be reviewed, as there has been no real change to this issue since it was opened. We only moved some labels around... 😉

[2021-03-08 09:02] #8354 closed

[2021-03-08 09:04] viceice commented on #3566
I think this is ready to be implemented but would need a community contribution 🙃

[2021-03-08 09:07] HonkingGoose commented on #3717
Do we need other stuff before we can begin? New `datasources` maybe?

I also get the impression that we're waiting on examples given this comment from **rarkins**:

Maybe we should label this `blocked` if we're waiting for examples/input from other users?

Also I'm not sure what `priority` label to give this, so I'll let the Renovate team decide.

[2021-03-08 09:15] HonkingGoose opened #9033 "question: want me to nudge you for "spring cleaning" or deal with it yourself?"
**What would you like Renovate to be able to do?**

We have a lot of issues till in `priority-5-triage`, and also some issues that have not seen any movement in a long time (1+ year).

I was going to go through all of the old stuff and nudge the Renovate maintainers, but this might be really annoying to you...

So I'm asking here: What kind of action do you prefer? Do you want to get nudged/pinged

[2021-03-08 09:16] #9033 closed

[2021-03-08 09:33] monstro805 commented on #3566
ok how can i help

On Mon, Mar 8, 2021 at 1:04 AM Michael Kriese <notifications@github.com>
wrote:

[2021-03-08 09:37] viceice commented on #3566
I think the `gradle-wrapper` manager can be used as base for this

[2021-03-08 09:58] secustor commented on #8987
Thx that works!

But maybe a reuse of other configuration values could be helpful feature. WDYT?

[2021-03-08 10:07] viceice commented on #8987
@secustor checkout #8070

[2021-03-08 10:11] #6890 closed

[2021-03-08 10:16] rarkins commented on #9008
Based on the UI it seems like Organization secrets don't belong to environments and therefore wouldn't be relevant/benefited by such a thing. @JamieMagee can you confirm?

[2021-03-08 10:17] rarkins commented on #3566
First step is probably to add a `maven-version` datasource modeled after lib/datasource/gradle-version

[2021-03-08 10:22] rarkins commented on #3717
I think we can close this. Reasoning:
- Datasources need to exist, and probably most already do. Any extras should have their own issue for tracking
- It's unlikely we can accurately detect install patterns on our own without sacrificing accuracy, so it's better to use Dockerfile annotations like we do here: https://github.com/renovatebot/docker-renovate-full/blob/master/Dockerfile
- Updating anno

[2021-03-08 10:22] #3717 closed

[2021-03-08 10:26] rarkins commented on #9008
![image](https://user-images.githubusercontent.com/6311784/110308681-b6ca5200-8000-11eb-9214-318e2300c033.png)

I wonder if the above is needed anymore but worry about the implications if I were to delete it :)

I thought our GH Pages were fully built in github.com/renovatebot/renovatebot.github.io

[2021-03-08 10:27] rarkins commented on #9008
@JamieMagee I've assigned this one to you as I hope you are best placed to conclude if using environments provides any practical security benefit for our deployment scenario

[2021-03-08 10:30] HonkingGoose commented on #8111
I think we can label this `status:ready` now? We seem to have decided on a course of action?

[2021-03-08 10:32] HonkingGoose commented on #8049
Do you want to work on this @viceice? Not sure if you want to be assigned to this or not, but you seem to have been working on/thinking about this already?

[2021-03-08 10:33] rarkins commented on #8111
When I read the above I'm still not sure exactly what needs to be done, and we don't have a reproduction repo either. So I think leave it as requirements

[2021-03-08 10:41] HonkingGoose commented on #8007
Reading this issue, it's not really clear if we have decided on a course of action yet? It seems to be stuck in `status:requirements` for now?

I'll label it priority-3 for now, because I do think there's utility to be had from this feature. Feel free to adjust this label as needed.

[2021-03-08 10:43] HonkingGoose commented on #7906
Do we want to close the issue (as it's been quite a while without a response), or do we want to nudge the user again, and see what happens?

[2021-03-08 10:45] #7906 closed

[2021-03-08 10:47] HonkingGoose commented on #7862
@rarkins We have a offer on the table from @tzellman to work on this, but I don't think we have the full requirements yet. Are we waiting on something else, or do we just need to get some time to think about this some more?

I've labeled it `priority-3-normal` for now, but we might consider the waste of CI resources and human-effort to be worth a `priority-2-important`?

[2021-03-08 10:51] HonkingGoose commented on #7815
@skaasten do you still want to work on this? We could assign you to this issue, so that we know you would be working on it. But feel free to refuse, no pressure! 😄

[2021-03-08 10:56] HonkingGoose commented on #7793
@rarkins I'm not sure if you actually _want_ to implement this feature or not?

The general feeling I'm getting from your posts is that doing this would lead to "more state more problems", and that you didn't like the idea of it, but you might have changed your mind or found an easier way to solve the problem?

[2021-03-08 11:04] HonkingGoose commented on #7167
Di we make further progress with debugging the problem? Reading this issue, I'm not sure that we're actually `status:ready`, because we don't know the cause of the issue???

[2021-03-08 11:12] viceice commented on #8049
no time for this yet 🙃

[2021-03-08 11:14] HonkingGoose commented on #6899
The way I'm reading this issue, is that we need to figure out what the rules are for the Composer version sorting, before we can proceed:

So it seems we still need to do this:

[2021-03-08 11:14] zharinov commented on #5150
@rarkins works fine: https://github.com/renovate-testing/test-5150-gradle-wrong-replacement/pulls

[2021-03-08 11:20] HonkingGoose commented on #6659
@rarkins You said you needed these items done first, before we can proceed with solving this issue?

Just checking in here what the current status of those items is, as you probably know if we did that or not. 😄

[2021-03-08 11:24] HonkingGoose commented on #6613
Do we want/need a separate issue to track adding such a warning to the docs?

[2021-03-08 11:25] HonkingGoose commented on #6613
I've labeled it `bug` for now, but if you feel it needs to be `feature` please change it to that. 😄

[2021-03-08 11:33] HonkingGoose commented on #6438
Is there a list somewhere of those managers that rely on third party binaries/images?

Also what kind of message do we want to put in the section in their readme's?

I would take a stab at fixing this myself but I don't have the necessary information to start. 😄

[2021-03-08 11:37] viceice commented on #6659
ref #8810

[2021-03-08 11:44] viceice commented on #6438
You need to check all manager and if there is an `artifact.ts` then there will be a tool usage in it for most of them 🙃

[2021-03-08 11:51] rarkins commented on #6438
What I had in mind was to have a convention for describing artifacts generation, and that we add a custom lint check that looks whether a manager exports `updateArtifacts()` and if so then fails the test if the heading is not present in its README.

[2021-03-08 11:52] rarkins commented on #8007
I'm ok with a new config option like `autodiscoverTeam` that is passed through to the GitHub `getRepos()` command.

[2021-03-08 11:56] rarkins commented on #5150
If this is still a problem for anyone, please see the `:enableGradleLite` and `:switchToGradleLite` presets.

[2021-03-08 11:56] #5150 closed

[2021-03-08 11:57] rarkins commented on #6899
Next step is to prove directly that Composer sorts the list of versions differently to how we do.

[2021-03-08 11:59] rarkins commented on #6975
I'm marking this as ready although I think it will require quite a bit of experimentation to get to work (it's not easy to specify exactly how it should work without trying to code it first).

[2021-03-08 12:02] rarkins commented on #7167
Actually there is a reproduction repo, so I think it's OK to leave as `ready`

[2021-03-08 12:03] rarkins commented on #7793
If it's a valid dependency update problem, we'd like to solve it. Sometimes difficult problems get an elegant solution eventually, once the code base progresses or maybe we just think about it more. I'll leave it open so that it's not forgotten and others can add ideas or sentiment.

[2021-03-08 12:06] rarkins commented on #7862
We are waiting on a response to the question from @secustor

This would definitely add non-elegant complexity to work around a bug/problem in GitLab, so we want to make sure we definitely understand it first

[2021-03-08 12:20] HonkingGoose commented on #6438
I like the idea of having a test to verify if we have the docs. 🚀

So we will first need to decide on what the text in the heading should be. 😄

[2021-03-08 12:34] HonkingGoose commented on #6474
Could we fix this in a "band-aid" way by making a new group/mono-repo preset for the `gRPC` libraries? We don't currently group `gRPC` packages at all (but maybe that's for a good reason... 😄).

That way we might fix the immediate problem until we have time to fix it in a more proper global fashion?

[2021-03-08 12:36] #8203 closed

[2021-03-08 12:40] viceice commented on #6474
Shouldn't this work with `gradle-lite` ?

[2021-03-08 12:41] rarkins commented on #6427
@yangm97 if you're still using Renovate and having a problem with this, can you test if the new `gradle-lite` manager satisfies your requirements? Enable it by adding `:enableGradleLite` to your presets and switch to it permanently by disabling the previous `gradle` manager with `:switchToGradleLite`

[2021-03-08 12:42] rarkins commented on #6474
https://docs.renovatebot.com/modules/manager/gradle-lite/

[2021-03-08 12:42] HonkingGoose commented on #6388
Just asking here, do we have enough to start work with the basic reproduction of:

Or do we need a reproduction repository, or are we waiting on something else?

I'm asking because the only thing that changed on this issue is that we've been labeling it a lot, but not really making any progress on it. 😄

[2021-03-08 12:45] secustor commented on #8987
@viceice  yeah that would fit my use case

[2021-03-08 12:46] HonkingGoose commented on #6338
I suppose having `stabilityDays` mask failed lockfile updates is worth a `priority-2-important` label, but maybe you'd rather have it at `priority-3-normal` instead, so feel free to overrule this. 😄

[2021-03-08 12:50] rarkins commented on #6438
Maybe something like:

[code]

Although now I'm thinking most of the above could be expressed semantically instead of in MD :)

[2021-03-08 12:54] rarkins commented on #6338
Maybe we could do this:

Minimum:
- Set the `renovate/artifacts` status check to error on the commit. It should remain even once the PR is eventually created, so at least it doesn't "look good"

Improved:
- Use check runs instead of status checks for GitHub, where we can embed the artifacts failure there (it could even take the place of embedding it using a comment)

Alternative:
- Mark the check

[2021-03-08 12:54] #8987 closed

[2021-03-08 12:56] HonkingGoose commented on #6300
What's the status of this? Are we waiting for answers on the latest questions from **rarkins**?

I noticed we had a offer to help build this functionality from the issue creator, but I don't know if that is still a valid offer now.

I'll label it `priority-4-low` for now, until we have some clarity on how to move this forward. 😄

[2021-03-08 12:59] #8988 closed

[2021-03-08 13:03] HonkingGoose commented on #6173
@rarkins I saw that you assigned this issue to yourself, but it's been a long time since we had meaningful movement on this issue, or at least it _seems_ that way from looking at the current issue.

Did you end up making any progress on this? Maybe you already fixed it somewhere else in the code but forget to close the issue?

I'll let you decide on the proper priority for this issue. 😉

[2021-03-08 13:05] HonkingGoose commented on #8988
Question for @rarkins: didn't you _also_ want to update the Renovate bot PR body text? I noticed you've closed this issue with PR #9031 but that was a `docs:` change only.

[2021-03-08 13:12] #7663 closed

[2021-03-08 13:13] viceice commented on #6388
I think this should work with latest renovate.

ref: #8450  #8474

[2021-03-08 13:19] viceice commented on #6388
verified, works: https://github.com/viceice-tests/docker-manifest-list/pull/6

linux docker job fails as expected

[2021-03-08 13:19] #6388 closed

[2021-03-08 13:22] viceice commented on #6338
I would be happy with a simply status check. so i can force re rebase manually if required

[2021-03-08 13:28] renovate-release commented on #8203
:tada: This issue has been resolved in version 24.77.1 :tada:

The release is available on:
- [GitHub release](https://github.com/renovatebot/renovate/releases/tag/24.77.1)
- `24.77.1`

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-03-08 13:28] renovate-release commented on #8988
:tada: This issue has been resolved in version 24.77.1 :tada:

The release is available on:
- [GitHub release](https://github.com/renovatebot/renovate/releases/tag/24.77.1)
- `24.77.1`

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-03-08 13:28] renovate-release commented on #7663
:tada: This issue has been resolved in version 24.77.1 :tada:

The release is available on:
- [GitHub release](https://github.com/renovatebot/renovate/releases/tag/24.77.1)
- `24.77.1`

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-03-08 13:32] HonkingGoose commented on #5854
Is supporting Google's `kpt` tool for containers still a thing we want to work on?
I noticed there were some question on the format and workflow.

`kpt` itself is not stable yet (See https://github.com/GoogleContainerTools/kpt/releases), latest release is `v0.38.1`.

[2021-03-08 13:35] HonkingGoose commented on #4989
Are we still having issues with the current Renovate code? Last comment was from December 2019, so might be worth taking a look again?

[2021-03-08 13:38] abernix commented on #7474
🤔 It seems that, despite having `engines.npm` set to a 6.x range, that the attempt to update is still happening with npm 7:

From https://github.com/apollographql/apollo-server/pull/4998#issuecomment-792746046:

[code]

Is there another way that this is meant to be configured/conveyed?

[2021-03-08 13:40] HonkingGoose commented on #4410
Do we still want/need this? It's been a long time since this issue was raised, and I'm just checking in here to see what we think about it now.

[2021-03-08 13:41] HonkingGoose commented on #4726
From what I gather, this would be a big potentially breaking change? At least it seems to me that this is a totally different concept than what Renovate uses now?

Do we still want to make such a big sweeping change?

I'm asking because this issue is from Oct 2019, and the code base has probably changed a lot in that time. 😄

I noticed we have some related issues linking back to this one, so might

[2021-03-08 13:42] rarkins commented on #7474
@abernix please create a new bug report issue and locate the relevant job logs from `app.renovatebot.com`. We'd want to see any mentions of `constraints` in the logs as well as see the debugging prior to the `docker run` command being executed.

[2021-03-08 13:44] abernix commented on #7474
@rarkins I tried checking the logs on the dashboard, but it doesn't appear to be loading right now for me: https://app.renovatebot.com/dashboard (I tried logging out, but now I can't log in again)

[2021-03-08 13:45] rarkins commented on #4726
Big change to our config logic: yes

Potentially breaking: it would change the way we resolve configs, fixing many things which produce confusing behaviour today but also changing some behaviour that people may have been relying on.

Not at all. The end result will be that most cases function exactly as they were

Yes, and we must

It's a lot of work, and we haven't decided how to handle the backw

[2021-03-08 13:46] HonkingGoose commented on #7474
@rarkins The Renovate Dashboard won't let me login either. Do you want a new issue from me to track this? Or is this something internal?

[2021-03-08 13:48] rarkins commented on #7474
Can you try again now? I restarted the API process and I think that's cleared it

[2021-03-08 13:49] rarkins commented on #4410
Let's use #8677 instead, I didn't remember this one was open

[2021-03-08 13:49] #4410 closed

[2021-03-08 13:50] #4989 closed

[2021-03-08 13:52] rarkins commented on #5854
It's ok to keep open feature requests for any package manager as long as it's in use by people, but they may not be implemented except by an outside contributor

[2021-03-08 14:08] HonkingGoose commented on #7859
@rarkins Did you mean to have no priority labels on this issue? You removed the `priority-2-important` label, was that intended?

[2021-03-08 14:27] abernix commented on #7474
@rarkins Dashboard is good now! Thanks.

[2021-03-08 14:43] abernix opened #9036 "Newer version of npm being used despite 'engines.npm' constraints"
**What Renovate type, platform and version are you using?**

Hosted App via GitHub; Renovate (`24.77.0` according to the dashboard)

**Describe the bug**

Despite having `engines.npm` set to a 6.x range within the `package.json`, the renovation is still happening with npm 7.  Here is the output showing that :

From https://github.com/apollographql/apollo-server/pull/4998#issuecomment-792746046:

[

[2021-03-08 15:18] rarkins commented on #9036
Which version of `node` was selected for the `docker run`? Can you locate and paste the full command in here?

[2021-03-08 15:19] rarkins commented on #6173
Yes, this is already implemented but I missed closing this issue. Example: https://github.com/renovatebot/renovate/blob/7fe97bfd2c9c811c2723cb441226a1d41fbd11b6/lib/datasource/docker/index.ts#L23

[2021-03-08 15:19] #6173 closed

[2021-03-08 17:44] 56KBs commented on #7859
This information isn't currently available within the GitLab Projects API - https://gitlab.com/gitlab-org/gitlab/-/issues/261458

[2021-03-08 18:23] rarkins commented on #7859
Is it visible through any other endpoint?

[2021-03-08 19:08] abernix commented on #9036
@rarkins I'd looked, but I don't see any output regarding the `docker run` command within the log output on the Renovate Dashboard.  Where should I be looking?

The only reference to `docker` I can find in the output (with browser's Cmd-F) is:

[code]

.... which I'm sure is not what you're looking for. 😉

[2021-03-08 19:26] rarkins commented on #9036
You'll need to make sure you find the job log that matches with the timestamp of the commit which failed. "Docker run" commands aren't repeated every run so that's why you wouldn't see it on other runs

[2021-03-08 20:33] skaasten commented on #7815
😄 I have a work-around, so we can close this if no-one else is asking for it.

[2021-03-08 20:55] #7815 closed

[2021-03-09 00:59] int128 opened #9040 "Support multiple platforms in Homebrew formula"
**What would you like Renovate to be able to do?**

I'd like to update the versions of multiple platforms in a formula. Currently `homebrew` manager updates only first match, for example, https://github.com/int128/homebrew-tap/pull/2. Also it would be nice to update `version` line.

Here is an example of expected diff:

[code]

**Did you already have any implementation ideas?**

I have investigate

[2021-03-09 02:11] aminya commented on #1342
Here is my prototype interface for this feature:

Provide a config for the packages that need to be updated together:
[code]

if `batchUpdate` is:

- `false`: (the default) no batch update
[code]

- `true`:  then update all packages together
[code]

- `array of array`: this option allows low-level configuration. Accept the groups of packages that need to be updated together:
[code]

  This allows

[2021-03-09 03:39] JamieMagee commented on #9008
I don't think we're the target audience for environments. They're really designed for end-user applications that go through multiple deployment stages, from staging to production. Our concerns, as an npm library, aren't really the same.

I'd recommend reading [the documentation for the equivalent feature in Azure DevOps](https://docs.microsoft.com/en-us/azure/devops/pipelines/process/environments?

[2021-03-09 05:42] viceice commented on #9040
I think we first need to refactor the manager to use artifact handling and update the urls and sha256 in updateArtifact function.

[2021-03-09 05:48] #9008 closed

[2021-03-09 09:00] onigoetz opened #9042 "Pull Requests created and closed in an infinite loop"
**What Renovate type, platform and version are you using?**

* Self Hosted
* Renovate 24.70.1 (docker renovate/renovate:24.70.1)
* GitHub Enterprise

**Describe the bug**

A pull Request for minor dependencies updates is created, then closed then on the next run a new one is created. And goes in a forever loop. I'm 100% sure that it's renovate that closes the issue

![Screenshot_2021-03-09 sq sq-w

[2021-03-09 09:22] rarkins commented on #9042
As a general guide: if logs are too long for you to be able to sanitize and post, then they're probably also too long for anyone else to review. Focus on a minimal reproduction, sanitize, and share. But tell us more about your exact config first.

[2021-03-09 09:45] onigoetz commented on #9042
Yes, I wrote a wrapper that basically runs the Renovate docker image every hour and passes an app token to it.

That's the thing, it only happens on some repositories, it's not reproducible easily on smaller repositories, it seems to happen in cases there are a lot of dependencies updates at the same time.

I understand your point about the logs and I completely agree, but I've never seen this hap

[2021-03-09 09:54] rarkins commented on #9042
You really need to be capturing debug logs at all times, and make sure they're timestamped. Then look at the *commit* that caused the branch to close, and correlate it to the logs.

It's helpful if you can generalize on the observations, e.g. does it only happen for "all" repositories, does it only happen for certain package managers, does it only happen on big repositories, etc. That type of info

[2021-03-09 11:26] dserkowski opened #9043 "Maven: support for nested placeholders in properties"
**What would you like Renovate to be able to do?**

Before I created this issue, I noticed https://github.com/renovatebot/renovate/issues/3461. However, my case is more complex. I have a project in which I am using properties that nested other properties, i.g.
[code]
and `<tomcat.artifact.version>` is used as a version of some of my dependencies. After reviewing Renovate logs, I found something li

[2021-03-09 13:55] onigoetz commented on #9042
<details>
 <summary>Shorter Summary `grep -E "472|31307ee|e2a3bdc" -B 5 -A 5`</summary>

[code]
</details>

<details>
 <summary>Longer Summary `grep -E "472|31307ee|e2a3bdc|all-minor-patch" -B 5 -A 5`</summary>

[code]
</details>

<details>
 <summary>Configuration</summary>

[code]
</details>

Side note: I updated this morning to Renovate 24.76.0 the problem persists

So I made a bit more investig

[2021-03-09 14:19] rarkins commented on #9042
It thinks yarn.lock has changed:

[code]

But our own commit logging shows no files have changed:

[code]

Pushing this is what would cause the PR to be subsequently closed by GitHub.

@viceice can you think of any problem if we were to add a check after git.commit and if changes/deletions/insertions are all 0 then log a warning and abort the `git.push`?

[2021-03-09 14:46] viceice commented on #9042
no, abort should be fine

[2021-03-09 16:16] viceice commented on #5646
the github action is now passing all renovate env variables to the docker container since v24.77.2

[2021-03-09 16:26] mzl-md commented on #5646
We fixed our problem a while ago setting `encrypted.npmToken` and `npmrc` instead of `encrypted.npmrc` in our shared configuration:
[code]

I'll reset the demo repo to the original version and see if your fix solved the problem.

[2021-03-09 16:28] viceice commented on #5646
Our new best practise is now to use hostRule instead of npmToken

[2021-03-09 16:31] onigoetz commented on #9042
oh okay, but does it start from the latest commit on the PR branch or from the latest commit on the HEAD ?

[2021-03-09 17:02] vitoyucepi opened #9052 "[gitlab] Gitlab.com shared runners can't properly detect if docker dind is started up"
**What Renovate type, platform and version are you using?**
Renovate runner repository configured according to [official renovate guide](https://gitlab.com/renovate-bot/renovate-runner) at gitlab

**Describe the bug**

Part two of a [question](https://gitlab.com/renovate-bot/renovate-runner/-/issues/16).
Each time renovate job is started gitlab runner tries to check if docker dind service is runni

[2021-03-09 17:11] viceice commented on #9052
Thisis a gitlab issue, not a renovate one. If you know how, you can try to use renovate with dind and docker certs. I'm not able to fix that currently.

[2021-03-09 17:12] 56KBs commented on #3348
I have looked at a potential implementation of this functionality - Focused around using the `marwan-at-work/mod` tool within renovate.

The implementation itself appears to be fairly straightforward when making us of the `mod` tool, requiring changes similar to the following within `lib/manager/gomod/artifacts.ts`:

[code]
[code]

Please note: I'm aware there are potential issues in this code - T

[2021-03-09 17:26] viceice commented on #3627
Duplicate of #3348

[2021-03-09 17:26] #3627 closed

[2021-03-09 18:18] rarkins commented on #9052
Shall we move this to a discussion?

[2021-03-09 18:28] vitoyucepi commented on #9052
Probably I've already found an issue.

It seems the difference is in container entrypoint script.
https://github.com/docker-library/docker/blob/9728dce92752348ac2623bcf96436f1a89e15dd3/docker-entrypoint.sh
This entrypoint sets additional variables.
So currently I'm testing updated gitlab-ci.yml
[code]

[2021-03-09 20:02] rarkins commented on #9042
It starts with the PR branch and if it detects any changes are necessary then it restarts that branch using the latest base branch commit.

[2021-03-09 20:05] rarkins commented on #3348
Would this modify the existing `go.mod`? Does `go` have the concept of installing something "globally" into $PATH like an `npm install --global` does?

I think it's a good idea to go with this tool, for the reasons you mention.

[2021-03-09 20:23] bpfoster opened #9055 "Helm-values does not pin digest"
**What Renovate type, platform and version are you using?**
Self-hosted, version 24.77.3

**Describe the bug**

When enabling digest pinning, docker image tags found by the helm-values manager are unable to be pinned.

Given a helm values.yaml like this:
[code]

While the digest is correctly found, it will not get added to the tag.

**Relevant debug logs**
An error like this will be thrown:
[code]

[2021-03-09 20:37] viceice commented on #9055
I've tried to fix it, but it's not as easy as it looks like. 😉

But sure you can try it.

[2021-03-09 21:56] viceice commented on #9052
If it's solvable with those env vars only, we should add them to the dind template. You can send a pr if you like 🤗

[2021-03-09 22:31] #9042 closed

[2021-03-09 22:46] fullstackzach commented on #7278
Hey there - Let me take a look and see if I can create a minimal reproduction repo - I'll do so on public github since I don't think this is specific to gitlab

[2021-03-09 22:47] renovate-release commented on #9042
:tada: This issue has been resolved in version 24.78.1 :tada:

The release is available on:
- [GitHub release](https://github.com/renovatebot/renovate/releases/tag/24.78.1)
- `24.78.1`

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-03-10 06:46] k-yle opened #9061 "get changelog from npm"
**What would you like Renovate to be able to do?**

To be able to fetch the changelog from the npm package itself, if renovate can't find it on GitHub or GitLab.

If npm sees a `CHANGELOG` file, [it will always publish it](https://docs.npmjs.com/cli/v7/using-npm/developers#:~:text=CHANGELOG). This makes it potentially a more reliable than searching through the repo for tags, releases or changelog-

[2021-03-10 06:52] k-yle commented on #2926
Hi @rarkins, I had a go at fixing this but ran out of time. I think the issue are:
1. [this API call](https://github.com/renovatebot/renovate/blob/74d7691/lib/workers/pr/changelog/github/index.ts#L55) needs `?recursive=1` to return all files, not just the root level one; and
2. the regex from `changelog-filename-regex` uses `^` and `$` so it doesn't work if the file name is `packages/x/CHANGELOG.m

[2021-03-10 07:00] viceice commented on #7894
https://github.blog/2021-03-09-git-clone-vulnerability-announced/

[2021-03-10 07:37] rarkins commented on #9061
I think this has enough positives that it's worth doing. Some downsides to note:
1. Releases are immutable, so the CHANGELOG entry for a release will never be added (if missing) or updated (if incorrect or incomplete) after publication
2. We are relying on yet-another-external-service in the form of unpkg
3. It's npm-only, naturally

In my experience CHANGELOG entries often *are* updated post-rele

[2021-03-10 08:18] giokara-oqton opened #9063 "Docker packagerules do not get triggered"
**What Renovate type, platform and version are you using?**

App: Hosted
Platform: Github
Version: 24.78.0

**Describe the bug**

Docker packagerules with daily schedule is never triggered.

**Relevant debug logs**

Relevant part in the renovate.json file:

[code]

From the log of 10th of March, 2021, 1:05 am, no mention of the docker dependency is made, only of git-submodules which is also enable

[2021-03-10 08:20] HonkingGoose commented on #9052
@viceice do you want to assign @vitoyucepi to this issue?

[2021-03-10 08:26] vitoyucepi commented on #9052
mr is ready https://gitlab.com/renovate-bot/renovate-runner/-/merge_requests/181

[2021-03-10 08:27] HonkingGoose commented on #6591
@rarkins I'm not sure what priority to give this one. Also did we figure out what we need already or not? It still labeled `status:requirements` after all this time.

[2021-03-10 08:32] rarkins commented on #6591
Marking it as low until we have a better idea of what's needed

[2021-03-10 08:33] #9063 closed

[2021-03-10 08:39] #9052 closed

[2021-03-10 08:39] viceice commented on #9052
merged

[2021-03-10 08:40] viceice commented on #9052
@vitoyucepi Next time if the issue is specific to our gitlab pipeline template file the issue directly on that repo . Thanks for contribution.

[2021-03-10 08:54] k-yle commented on #9061
Sounds great @rarkins!

As you said, I think it would be valuable to have npm as a fallback source if the better options (GitHub/GitLab) fail.

That's definitely a drawback, but if this is the last resort then I think showing _something_ is better than _nothing_. And if the package has a CI process to generate a changelog alongside the release then this won't be an issue.

[2021-03-10 08:55] vitoyucepi commented on #9052
@viceice thanks. I wasn't sure what is the cause of the problem.

[2021-03-10 09:03] viceice commented on #9052
If you're not sure, open a discussion intead. 😉

[2021-03-10 10:13] rarkins commented on #9061
Yes, I agree. There are still a few unknowns to explore here - for example we usually try to avoid datasource-specific logic in lib/workers/* files - but I think this is acceptable to move ahead to development with, if you or someone else is willing.

[2021-03-10 11:08] reggaemuffin commented on #1342
This to me seems like the most sensible approach, I just now have exactly this problem where react-dom and react depend on each other and I need to now manually create a pr to update both at the same time, because the ts types are incompatible.

[2021-03-10 12:08] rarkins commented on #1342
In my proposal, if you had 20 updates in a period and one was bad - you'd end up with 2 PRs (containing 19 good updates and 1 bad update respectively).

In this proposal, you'd end up with 20 separate PRs (19 good ones and 1 bad one). It's not a good outcome, and the longer you wait between updates or the more dependencies you have, the more likely the outcome.

This is not a relevant example. Pac

[2021-03-10 15:47] gremo commented on #7474
Hi, for me "force" seems not to work.

Renovate is still creating PR with NPM version 7 (see https://github.com/gremo/nest-winston/commit/4f8ddb801da9c886dd8f642748b8ef1e5f9f92bf). Any help is much appreciated!

[code]

[2021-03-10 17:05] JamieMagee commented on #7474
@gremo Can you please open a new issue, or comment on an existing open issue. @abernix's issue #9036 appears to be relevant.

[2021-03-10 18:10] #8785 closed

[2021-03-10 18:27] renovate-release commented on #8785
:tada: This issue has been resolved in version 24.78.3 :tada:

The release is available on:
- [GitHub release](https://github.com/renovatebot/renovate/releases/tag/24.78.3)
- `24.78.3`

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-03-10 20:26] rarkins commented on #9036
I think this is *caused* by your `force` object, because it overrides the detected `constraints` from `package.json`. I've raised a fix PR here: https://github.com/apollographql/apollo-server/pull/5020

[2021-03-11 07:02] yutailang0119 opened #9077 "When updating for SwiftPM, tag with prefix may be inserted to version"
**What Renovate type, platform and version are you using?**

- Renovate for GitHub

**Describe the bug**

If tags rule of the target repository has a prefix, Renovate will insert it as a version.
In this case, Swift Package Manager will not be able to resolve dependencies.

For example, [realm/realm-cocoa](https://github.com/realm/realm-cocoa) has this problem.

**Relevant debug logs**

No error w

[2021-03-11 07:39] rarkins commented on #9077
Agreed, must have been fat fingers on mobile

[2021-03-11 08:22] bobvandevijver commented on #8497
Why not use the PHP constraint from the `composer.json` file by default? I'm currenlty running into the issue where renovate tries to update a package which is not supported by our PHP constraint.

[2021-03-11 08:23] rarkins opened #9079 "Catch and log where PR creation fails because one already exists"
**What would you like Renovate to be able to do?**

In scenarios where we attempt to create a PR which one already exists for the branch, detect, log and handle it gracefully.

**Did you already have any implementation ideas?**

Currently this error is thrown:

[code]

`platform.createPr()` doesn't catch errors so it's passed all the way up. We should instead catch it and log the error gracefully

[2021-03-11 08:38] rarkins commented on #8497
@bobvandevijver that's exactly how this would work. I think you're just confused by me using some internal Renovate terminology in the description. `constraints` is an object which is extracted by the package manager, in this case `lib/manager/composer`.

#2355 is related but not directly relevant to this issue.

[2021-03-11 09:20] rarkins commented on #9079
@viceice can you figure out out why (a) `statusCode` is in `err.response` and not present in `err` here, and (b) why everything still seems to work considering we have 107 results for `err.statusCode` in the codebase?

[2021-03-11 09:29] rarkins commented on #9079
Is it possible that https://github.com/renovatebot/renovate/blob/master/lib/util/http/legacy.ts ensures that `err.statusCode` works when called in code, but then it's not showing up when *logged* ?

[2021-03-11 09:55] viceice commented on #9079
yes, it would need `enumerable:true` to be serialized / printed. But we better should try to remove that legacy code.

[2021-03-11 10:26] stimberm opened #9080 "Update for private registry docker image in docker-compose file is detected, but no PR is created"
**What Renovate type, platform and version are you using?**

GitHub private repositories
private docker registry (artifactory)
using app.renovatebot.com

**Describe the bug**

renovate correctly detects a docker image in a docker-compose file, the expected update is mentioned in the logs, with a branchName.

The pull request is not created.

For public images mentioned in the same docker-compose f

[2021-03-11 10:42] stimberm commented on #9080
I think I was too fast with this issue ...
apparently major docker updates do not get a PR by default?
I am trying to add the `docker:enableMajor` preset. If that works, I'll close this issue.

[2021-03-11 10:47] #9080 closed

[2021-03-11 11:11] uhthomas commented on #3347
Hi!

I would be really interested in this functionality. Renovate currently quite dumbly will update deps in `go.mod` and `go.sum` but leave the WORKSPACE untouched.

There are some considerations which I understand make this more challenging than may first seem:
- How do we know which version of Bazel to run?
- How do we know which version of Gazelle to run? Do we just use what is defined in the

[2021-03-11 14:51] #9079 closed

[2021-03-11 15:08] renovate-release commented on #9079
:tada: This issue has been resolved in version 24.78.5 :tada:

The release is available on:
- [GitHub release](https://github.com/renovatebot/renovate/releases/tag/24.78.5)
- `24.78.5`

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-03-11 16:46] viceice opened #9088 "Only pass docker env to docker cli instead of all childs"
**What Renovate type, platform and version are you using?**

all, doesn't matter

**Describe the bug**

Currenly renovate pass all docker cli related env to all child process. We should only pass those to the docker cli call when `trustLevel!=high`

**Relevant debug logs**

**Have you created a minimal reproduction repository?**

Please read the [minimal reproductions documentation](https://github

[2021-03-11 16:51] 56KBs commented on #3348
No modifications will occur to a `go.mod` file when installing with a version suffix e.g `@latest` or `@v0.4.1`. Executables will be installed $GOBIN (Defaults to $GOPATH/bin or $HOME/go/bin if the $GOPATH is not set).

Assuming the $GOBIN directory is set to somewhere on $PATH it would effectively result in a global install similar to npm

[2021-03-11 17:10] rarkins commented on #3348
Great. We'd need to make sure our prebuilt containers are set up like that but sounds workable. In that case it seems like it can be a postUpdateOption or even default behaviour for major updates *if* were confident nobody will need to opt out

[2021-03-11 18:23] #8651 closed

[2021-03-11 18:39] renovate-release commented on #8651
:tada: This issue has been resolved in version 24.79.0 :tada:

The release is available on:
- [GitHub release](https://github.com/renovatebot/renovate/releases/tag/24.79.0)
- `24.79.0`

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-03-11 19:30] EllieMaeUI opened #9090 "Support for npm flag --legacy-peer-deps"
**What would you like Renovate to be able to do?**

With npm 7 there is a breaking change that ensures whether package.json satisfies all peer dependency constraints. in npm 6 it was a warning rather an error. Currently there is not an option to pass the --legacy-peer-deps npm install flag to renovate and let it use the flag in post update lifecycle
https://github.com/renovatebot/renovate/blob/mas

[2021-03-11 19:31] wiruzman commented on #1149
Our workflow in Azure Pipelines is:
- Renovate creates pull requests
- Using an Azure Function to determine all active pull requests without a work item and creates them and attach it to pull request using Azure DevOps REST API.

[2021-03-11 19:45] rarkins commented on #9090
Can't you put it on an npmrc which you commit to the repo?

[2021-03-11 19:59] EllieMaeUI commented on #9090
@rarkins that works. thanks for the suggestion. we can close this feature request

[2021-03-11 19:59] #9090 closed

[2021-03-11 20:27] #9036 closed

[2021-03-11 20:30] rarkins commented on #1149
When you are attaching the work item to the PR, can you also update the PR to auto-complete?

[2021-03-12 02:30] miyajan opened #9093 "The PR description says patch update, but matchUpdateType says minor."
**What Renovate type, platform and version are you using?**

Renovate for GitHub

**Describe the bug**

The PR description by renovate shows it as a patch update, as shown below.

<img width="569" alt="screenshot- 2021-03-12 11 20 27" src="https://user-images.githubusercontent.com/945853/110882262-096b7d00-8325-11eb-9bb4-460eca48d47a.png">

But the `minor` rule of `matchUpdateTypes` is applied ins

[2021-03-12 04:46] #9093 closed

[2021-03-12 06:14] abernix commented on #9036
Thanks very much, @rarkins.  And thanks for the PR to fix it.

[2021-03-12 06:29] abernix opened #9096 "Provide link in PR body to specific *run* logs to facilitate self-debugging"
**What would you like Renovate to be able to do?**

The Dashboard logs for a Renovate run are pretty useful, but triangulating PRs that have been raised to actual job lobs can be a bit tedious.  Providing a link to the particular Dashboard run in the body of the PR (rather than just a link to the Dashboard, generally), would be very useful in self-debugging.

For example, on https://github.com/apo

[2021-03-12 06:48] rarkins commented on #9096
Renovate applies package rules and merges cascading config potentially hundreds of times every run, so logging that would be pretty overwhelming (your defensive mechanism approach).

Because job logs are deep-linkable, we could in theory deep link to a job, however the challenge is (a) which job log to link to, and (b) how to make sure we don't keep updating it unnecessarily each time there's a ne

[2021-03-12 06:49] JorisVanEijden commented on #4542
I have set up a repro repo for this issue: https://github.com/JorisVanEijden/renovate-repro
I used the drupal/private_message package because this is what triggered the bug for me.

Conditions:
- composer.json `minimum-stability` is "dev"
- range in composer.json is ^2.0
- installed version in composer.lock is 2.0.0@beta16
- there are no non-beta 2.x versions of the package available
- `rangeStrat

[2021-03-12 06:53] rarkins commented on #4542
@JorisVanEijden can you file that as a bug instead? We should not be causing internal *errors* even if not supporting constraint-based lookups yet.

[2021-03-12 07:20] JorisVanEijden opened #9097 "Internal error with composer minimum-stability "dev""
**What Renovate type, platform and version are you using?**

Self hosted 24.78.4 as well as GitHub app.

**Describe the bug**

Internal error when these conditions are met:
- composer.json `minimum-stability` is "dev"
- range in composer.json is ^2.0
- installed version in composer.lock is 2.0.0@beta16
- there are no non-beta 2.x versions of the package available
- `rangeStrategy` is "update-lockf

[2021-03-12 07:21] viceice commented on #9096
If pr is created with not-pending, we can't safe initial commit run. 🤔

[2021-03-12 07:25] viceice commented on #9097
It's passing `null` or `undefined` as `input` to here:

https://github.com/renovatebot/renovate/blob/74d7691befa635c1220d8569936273bfb950e748/lib/versioning/composer/index.ts#L54-L58

[2021-03-12 07:29] viceice commented on #9097
https://github.com/renovatebot/renovate/blob/eb8f895f2eb16cfa4f2614887a48ee6184a154a8/lib/workers/repository/process/lookup/index.ts#L190-L195

https://github.com/renovatebot/renovate/blob/df2db74c06e94a301f1e123b9a9697b528f71158/lib/workers/repository/process/lookup/bucket.ts#L23-L24

So either `currentVersion` or `newVersion` is missing

[2021-03-12 07:31] rarkins commented on #9096
We could store in commitMessageBody but it's a little hacky. Alternative - a custom status check which links to the job log? It's tied to the commit hash so seems to fit.

[2021-03-12 07:49] JorisVanEijden commented on #9097
currentVersion is missing.
https://github.com/renovatebot/renovate/blob/74d7691befa635c1220d8569936273bfb950e748/lib/workers/repository/process/lookup/index.ts#L138-L145
`getCurrentVersion()` filters all available versions (from https://packages.drupal.org/8/drupal/private_message$a9388660b0392b0125689f3b76d2e51c49d09e479e78acb80029f962ac319e5f.json) by the current range `^2.0`, which leaves nothi

[2021-03-12 08:07] viceice commented on #9096
Yeah, commit status seems best solution here

[2021-03-12 08:10] viceice commented on #9097
Repo worker needs a fix too, as current version can be null, so we should fix the `getBucket` function to graqcefully handle null values

[2021-03-12 08:15] wiruzman commented on #1149
That is also a solution :)

[2021-03-12 10:03] cleverer commented on #8044
#9086 seems to have broken git-submodules for me. (lots of `Found no results from datasource that look like a version` messages). Is this related to this issue?

[2021-03-12 10:06] rarkins commented on #8044
@cleverer sorry for the inconvenience. As I think there's a high chance that PR caused it as you suspect, we'll revert it immediately in #9098 and release that today.

[2021-03-12 10:11] HonkingGoose commented on #4973
@rarkins What is the status of this issue nowadays? It's been a long time since this issue was reported, so maybe this is now fixed?

[2021-03-12 10:25] HonkingGoose opened #9100 "replace null/false/true with auto/disabled/enabled respectively"
**What would you like Renovate to be able to do?**

Quote from @rarkins while reviewing (https://github.com/renovatebot/renovate/pull/9082#pullrequestreview-610615109), emphasis mine:

I think that having `null` mean many different things is a recipe for confusion. The fact that you can apparently use `null` to override a value that was `non-null` makes no sense to me.

I like the idea to replace

[2021-03-12 10:55] rarkins commented on #9100
Thanks! Can you check out existing definitions file for how many Boolean options default to null?

Once we address those we can move on to non-Boolean fields like strings to consider how to handle null

[2021-03-12 10:57] rarkins commented on #4973
I think it possibly still applies

[2021-03-12 11:20] viceice commented on #8044
So this need to be fixed before we can redo #9086

[2021-03-12 11:34] HonkingGoose commented on #9100
I think you want me to trawl through this file? https://github.com/renovatebot/renovate/blob/master/lib/config/definitions.ts
Just checking before I start work, as it's no good to work on the wrong file. 🙃

How detailed do you want me to be? Do you just want a generic list of: `<number> of Boolean options that default to null` or do you want more information in a table format or something?

[2021-03-12 11:35] HonkingGoose commented on #4973
@rarkins Ah okay. Do we want to wait for the assigned user to complete the work, or do we want to free up the issue for somebody else to work on?

I don't know why a comment was deleted, so I'll let you deal with that. 😄

[2021-03-12 11:36] viceice commented on #9100
I think a table would be great 🙃

[2021-03-12 11:42] HonkingGoose commented on #9100
@viceice What information should the table display then? 🙃 Can you make a mock-up of the fields you care about?

[2021-03-12 11:44] rarkins commented on #9100
List is fine I think. Not sure what other info needed?

[2021-03-12 13:56] HonkingGoose commented on #9100
## List of Boolean options that default to `null`

Sourced from `lib/config/definitions.ts` from `master` branch.

### Explictly lists `null` as the `default:` value:

| Name           | Default |
| -------------- | ------- |
| `skipInstalls` | `null`  |

## List of Boolean options missing a explicit `default:` value:

Name:

- `enabled`
- `onboarding`
- `updateNotScheduled`
- `updateLockFiles`
-

[2021-03-12 14:30] HonkingGoose commented on #9100
@rarkins @viceice Was this list what you had in mind to start with?

[2021-03-12 14:33] gremo opened #9103 "Renovate still try to use NPM v7, despite i'm using the configuration "force.constraints.node""
I've read the documentation in order to use the "old" NPM v6 ([the constraints setting](https://docs.renovatebot.com/configuration-options/#constraints)).

My current `renovate.json` is the following:

- Original in my repo: https://github.com/gremo/nest-winston/blob/master/renovate.json
- Changes merged on 03/03/21: https://github.com/gremo/nest-winston/commit/44d2bbb29bd61a2f4ddbb0a58c796ca662db

[2021-03-12 14:34] gremo commented on #7474
@JamieMagee thanks created a new issue https://github.com/renovatebot/renovate/issues/9103. Hope I find where the problem is.

[2021-03-12 15:02] rarkins commented on #9103
Remove your force statement (recommended), or add an npm constraint to it. Right now your forced constraints are overriding the detected npm constraint, so in the absence of any npm constraint the latest npm is being installed.

[2021-03-12 15:04] rarkins commented on #7474
It's the same scenario as for @abernix - forced constraints with node only now don't stop npm@latest from being installed.

[2021-03-12 16:22] gremo commented on #7474
Thanks @rarkins, so... what's the proposed / working solution?

[2021-03-12 16:25] viceice commented on #7474
@gremo Do not use the force constraints and let the renovatew magic work.

Als long there is a v1 lockfile, renovate will force node v14 and npm v6.

[2021-03-12 16:26] #9103 closed

[2021-03-12 16:53] valdisrigdon commented on #5406
@rarkins Can you point to where to enable this for the`gitlab` platform? It looks like it's always going to get the `http` url.

[2021-03-12 16:57] agaudreault-jive opened #9105 "Support Jenkins plugins yaml format"
**What would you like Renovate to be able to do?**

Allow to parse the plugin file defined in yaml format. Jenkins plugin manager supports both [text and yaml format](https://github.com/jenkinsci/plugin-installation-manager-tool#plugin-input-format).

I want renovate to update the plugin when a version is specified. The jenkins specification allows pattern to fetch from different registries (relea

[2021-03-12 16:58] viceice commented on #5406
renovate doesn't support cloning over ssh for gitlab

https://github.com/renovatebot/renovate/blob/74d7691befa635c1220d8569936273bfb950e748/lib/platform/gitlab/index.ts#L220-L237

[2021-03-12 17:00] viceice commented on #5406
`bitbucket-server` is using ssh only if http is not available

https://github.com/renovatebot/renovate/blob/ef2a13f4f28f5b2c163991c0c5d4f53b4f45ea9f/lib/platform/bitbucket-server/index.ts#L179-L183

[2021-03-12 19:00] agaudreault-jive commented on #9105
@maxdanilov You might be interested by this since you did the initial implementation for plugins.txt

[2021-03-12 19:22] valdisrigdon opened #9107 "Creating the MR on the forked GitLab project if the project is forked using `target_project_id`"
**What would you like Renovate to be able to do?**

Attempting to run with `includeForks: true` so that a forked repository contains the renovate branches. Our setup includes the upstream repository having protected branches and supports a development workflow where all developer branches are created on forked repositories but PRs are targeted to the upstream repository.

**Did you already have an

[2021-03-12 19:48] narwold commented on #8386
https://docs.github.com/en/graphql/reference/mutations#enablepullrequestautomerge

[2021-03-12 20:14] rarkins commented on #9107
Please describe the workflow in detail.

For example, what reasons are there for not running Renovate against the parent repo to begin with? Did you create the fork just for the reason of Renovate, or it exists for some other reason?

We have the concept of `forkMode` for GitHub, where it *creates* the fork if necessary under its own account.

[2021-03-12 20:29] valdisrigdon commented on #9107
I've updated the description with a few more details!

[2021-03-12 20:46] rarkins commented on #9107
No, because not everybody has the same workflow as you, and it would be an unwelcome change of behavior for many. It definitely would require configuration if implemented.

There are a lot of *other* platform interactions other than just "create MR" that need to be considered. The full list is [here](https://github.com/renovatebot/renovate/blob/master/lib/platform/types.ts#L138-L178) and someone w

[2021-03-12 21:15] valdisrigdon commented on #9107
That's a great point, yes, a config option would be required.

That list is quite long. The MR exists on the upstream fork, so all "MR" actions would expect the MR to exist there. We don't use GitLab issues, so I'm unsure about that. The branch exists on the forked repository, so "branch" actions would go against the source repository.

The fork is already created and the default branch is pull mi

[2021-03-12 21:22] rarkins commented on #9107
It's not, but it probably could be. What is the relationship between forked and mirrored repositories though- can a repository be *both* in GitLab? I had expected it to be either, not both.

I don't anticipate that would be a huge thing to implement, once requirements are settled. In that case though you'd run it on the parent project and not on a fork/mirror?

[2021-03-12 21:33] brechtvhb commented on #7310
Hi Jamie,

Any progresss on this issue? I noted that the ticket you raised is closed now https://github.com/microsoft/azure-devops-node-api/issues/422. Is it because the api client was regenerated or because nothing happened within the ticket?

[2021-03-12 21:39] valdisrigdon commented on #9107
There are two repositories and both are in GitLab, in different GitLab groups. `upstream` contains only the default branch, and all branches are protected. All development is done on the `dev` fork, which contains all the feature branches for all developers, forked from `upstream`, and protected branches from `upstream` are mirrored to `dev`. When an MR is opened from the GitLab UI, they default t

[2021-03-13 00:27] cpsauer commented on #5151
Heads that there's another common variant of this where the artifact is provided as an object rather than a single string.

Example[ from their docs page](https://github.com/bazelbuild/rules_jvm_external)
[code]

[2021-03-13 00:27] ext commented on #4973
I haven't tried it out recently because we ended up disabling `unpublishSafe`. But leaving it disabled is causing issues since we also use a npm dependency proxy so sometimes when package A is being updated dependency B might not be in the proxy cache yet yielding an error when running `npm install`.

But I could try enabling it again (well I guess it is `stabilityDays` now) to see if the issue pe

[2021-03-13 01:53] JamieMagee commented on #7310
@brechtvhb It looks like it was closed due to inactivity. I've commented on the issue, and will followup internally if required.

[2021-03-13 05:59] rarkins commented on #9107
To confirm I understand: developers all share and have write access to the dev project? I.e. you don't all have your own forks but instead a shared fork? And all MRs are raised directly against upstream instead of merged to dev first?

[2021-03-13 06:20] JamieMagee commented on #8044
I am restarting the investigation on this one.

[2021-03-13 07:59] rarkins commented on #8044
I got pretty far myself on this long ago but have lost the branch. IIRC I was just trying to use git-refs normally

[2021-03-13 08:26] #9055 closed

[2021-03-13 08:57] renovate-release commented on #9055
:tada: This issue has been resolved in version 24.80.0 :tada:

The release is available on:
- [GitHub release](https://github.com/renovatebot/renovate/releases/tag/24.80.0)
- `24.80.0`

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-03-13 09:13] rarkins opened #9110 "Use klona"
**What would you like Renovate to be able to do?**

Replace our util/clone with `klona`

**Did you already have any implementation ideas?**

I tried this, and it resulted in exceptions. It seems that fast-safe-stringify is saving us from a circular reference that `klona` does not. I don't think we have a lot to gain from `klona` however I would like to make sure there's no deep problem in our curr

[2021-03-13 09:27] rarkins opened #9111 "Remove RENOVATE_LEGACY_GIT_AUTHOR_EMAIL support"
**What would you like Renovate to be able to do?**

No longer use RENOVATE_LEGACY_GIT_AUTHOR_EMAIL

**Did you already have any implementation ideas?**

Document it in a breaking release, recommend gitIgnoredAuthors instead

[2021-03-13 09:32] viceice opened #9112 "http layer is passing relative url to queue"
I'm not sure if this is a test only issue, will investigate futher
![image](https://user-images.githubusercontent.com/1798109/111025855-3e400880-83e7-11eb-9294-695b36b52641.png)

ref #9109

[2021-03-13 09:45] #6713 closed

[2021-03-13 10:01] renovate-release commented on #6713
:tada: This issue has been resolved in version 24.80.2 :tada:

The release is available on:
- [GitHub release](https://github.com/renovatebot/renovate/releases/tag/24.80.2)
- `24.80.2`

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-03-13 10:10] viceice commented on #9112
fixed:
https://github.com/renovatebot/renovate/blob/d7ce18e0c47398149b08f1cf6fdf213b825c3bc6/test/globals.ts#L6-L9

[2021-03-13 10:10] #9112 closed

[2021-03-13 11:46] secustor commented on #8075
Looks like everything is merged.
I think this can be closed.

[2021-03-13 11:56] secustor commented on #8792
@rarkins Are you missing still any requirements?
I think we have everything to start the implementation.

[2021-03-13 12:50] rarkins commented on #8075
@secustor still some work to be done: #9114

[2021-03-13 13:28] #8075 closed

[2021-03-13 13:48] HonkingGoose opened #9115 "refactor extractPackageFile to use js-yaml"
**What would you like Renovate to be able to do?**

From @viceice:

**Did you already have any implementation ideas?**

~If we're going to be using `js-yaml` here, might be a good idea to migrate from `js-yaml` v3 to v4 first (see issue #8234)?~ That way you're doing the refactoring on top of up-to-date packages.

[2021-03-13 13:59] HonkingGoose commented on #9111
If we removing this from the code, we also need to remove it from the docs fully.

Searching for `RENOVATE_LEGACY_GIT_AUTHOR_EMAIL` gives one hit on current `master` in the `docs/usage/self-hosted-configuration.md` file. 😉

Link to file and section where the old property is mentioned: https://github.com/renovatebot/renovate/blob/master/docs/usage/self-hosted-configuration.md#gitauthor

[2021-03-13 14:17] #8682 closed

[2021-03-13 14:17] HonkingGoose commented on #9100
## I think I'm done for now

I have done the top part of the quote (check out existing definitions file), and have removed my assignment from this issue, so that somebody else can do the necessary refactoring in the code.

## But ping me again for the second part

Ping me once the code is in the proper state for me create a list for that part.

[2021-03-13 14:29] languitar commented on #2496
Another perspective why this could be helpful: I'd like to dry run renovate in merge requests changing the `renovate.json` to be sure that everything works as expected. This is currently impossible because the config from the merge request is never used by renovate.

[2021-03-13 14:33] renovate-release commented on #8075
:tada: This issue has been resolved in version 24.81.0 :tada:

The release is available on:
- [GitHub release](https://github.com/renovatebot/renovate/releases/tag/24.81.0)
- `24.81.0`

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-03-13 14:33] renovate-release commented on #8682
:tada: This issue has been resolved in version 24.81.0 :tada:

The release is available on:
- [GitHub release](https://github.com/renovatebot/renovate/releases/tag/24.81.0)
- `24.81.0`

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-03-13 15:35] martinbonnin opened #9117 "prNotPendingHours not honoured"
**What Renovate type, platform and version are you using?**

Using the hosted renovate App on https://github.com/apollographql/apollo-android/ (renovate.json [here](https://github.com/apollographql/apollo-android/blob/main/renovate.json))

**Describe the bug**

prNotPendingHours is not honoured. Despite having set `prNotPendingHours=1`, the PR never gets created. The logs show:

[code]

**Relevant

[2021-03-13 15:40] #9117 closed

[2021-03-13 23:13] Fyko commented on #5647
I was able to resolve this in one of my projects by using `jest-circus` as my test runner:
[code]

[2021-03-13 23:53] viceice commented on #5647
We already use `jest-circus`

[2021-03-14 02:44] aminya commented on #8323
I also have this issue. A minimal reproduction is available in this repository:
https://github.com/AtomLinter/linter-eslint

I use the following in my npmrc
[code]

The renovate config:
[code]

[2021-03-14 02:51] aminya commented on #1342
I was able to configure renovate the way I wanted using the following. Now, I only get two PRs maximum every weekend for dependencies and devDependencies separately. devDependencies are merged automatically if the CI passes, and dependencies require manual testing:

[code]

[2021-03-14 08:27] #8893 closed

[2021-03-14 08:42] renovate-release commented on #8893
:tada: This issue has been resolved in version 24.82.0 :tada:

The release is available on:
- [GitHub release](https://github.com/renovatebot/renovate/releases/tag/24.82.0)
- `24.82.0`

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-03-14 11:52] rarkins commented on #6311
Duplicate of #2702

[2021-03-14 11:52] #6311 closed

[2021-03-14 15:58] rarkins commented on #8044
FYI `lib/datasource/git-submodules` is now the last datasource which uses `registryUrls` directly:

![image](https://user-images.githubusercontent.com/6311784/111075015-361ac280-84e6-11eb-8427-1cc6f3b5e5ae.png)

I'm hoping we can remove the `git-submodules` datasource and use `git-refs` instead.

[2021-03-14 17:27] valdisrigdon commented on #9107
This is correct.

[2021-03-14 18:29] ViRb3 commented on #8562
@rarkins I just received a PR from the Renovate bot with a rather strange change:

https://github.com/ViRb3/renovate-bug-mrr/pull/4/files
[code]

v2 should have replaced v1 in the requires. Is this a regression?

[2021-03-14 18:50] rarkins commented on #8562
Please file a fresh bug report and we'll decide if we need to roll it back. Looks like go added back v1 after Renovate changed it directly

[2021-03-14 21:06] ViRb3 opened #9127 "Go mod update from v1 to v2 results in duplicate import"
**What Renovate type, platform and version are you using?**
- Public Renovate Github Bot

**Describe the bug**

I have a Go module repo that, in its `Go.mod` file, references:
[code]
The latest version of `fiber` is `v2.4.1`. When Renovate sends a PR, it looks like this:

https://github.com/ViRb3/renovate-bug-mrr/pull/4/files
[code]

Notice that both the old v1 import and the new v2 import are pre

[2021-03-15 00:52] JamieMagee opened #9130 "Change devcontainer base"
**What would you like Renovate to be able to do?**

Be able to run the full renovate test suite on GitHub Codespaces

**Did you already have any implementation ideas?**

After a little bit of investigation I believe the base image, Debian Buster, is the cause of much of the issues when attempting to debug Renovate in GitHub codespaces. The old version of `git` is one of the prime suspects, as we a

[2021-03-15 05:12] viceice commented on #9130
I think we should use our buildpack as base and add all required tools here.

In a later step i would recommend to move the image building to a new repo, so local build will speed up a lot.

[2021-03-15 05:15] JamieMagee commented on #9130
Sounds good. Nearly all the buildpack scripts we need are there anyway.

[2021-03-15 06:11] #8044 closed

[2021-03-15 07:18] Stefan-J-Hanke opened #9134 "Allow to autoassign config issues"
**What would you like Renovate to be able to do?**

We are not _really_ using Issues in GitLab, so I was unaware of a config error that I did make. It surfaced as GitLab issue and I just recently found out...

**Did you already have any implementation ideas?**

Add a config option, at the point of creating the config issue, assign it. For consistency reasons, I'd prefer something akin to the _assi

[2021-03-15 08:05] Morl99 opened #9135 "Renovate does not help if the GitLab User does not have enough permissions for automerge"
**What Renovate type, platform and version are you using?**
Self hosted Renovate on a self hosted GitLab CE 13.8.3
Renovate is run via a docker container in a scheduled pipeline, current renovate version (changing daily ;)): 24.83.0

**Describe the bug**
This one took me some time to hunt down. After creating a few new projects and configuring them in our renovate pipeline, we noticed, that autome

[2021-03-15 08:06] renovate-release commented on #8044
:tada: This issue has been resolved in version 24.84.0 :tada:

The release is available on:
- [GitHub release](https://github.com/renovatebot/renovate/releases/tag/24.84.0)
- `24.84.0`

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-03-15 08:20] nono opened #9136 "Missing go.sum entry"
**What Renovate type, platform and version are you using?**

We are using renovate on GitHub, via the GitHub App.

**Describe the bug**

Our builds fail on some PR made by renovate, with the error:

It looks like the go.sum entry was already missing previously, but it fails only with Go 1.16 (before the missing go.sum entry was ignored).

You can find an example of such a PR here: https://github.c

[2021-03-15 08:35] HonkingGoose commented on #9135
I'd say this is more of a feature request, so labeling it as such. 😄

[2021-03-15 08:44] rarkins commented on #9135
Needs reproduction and debugging by someone with this setup so that we can know which logic flow is covered within lib/platform/gitlab/*. It would seem that `pr.canMerge` is not `true` but we don't know if that's something GitLab is returning to us gracefully or via an error.

[2021-03-15 08:45] rarkins commented on #9135
This is not really "needs reproduction" but instead someone with this setup needs to do the work if they want this implemented.

[2021-03-15 08:45] HonkingGoose commented on #9136
For the Renovate wizards, here's their current config:

[code]

Link to their config file: https://github.com/cozy/cozy-stack/blob/master/.renovaterc.json

[2021-03-15 08:47] rarkins commented on #9127
@56KBs looks related to your recent changes, but maybe fixed by #3348?

[2021-03-15 08:50] HonkingGoose commented on #6047
@rarkins What is the current status of this issue? I see that we ping-ponged around a bit with the labels from blocked to in-progress, back to blocked.

Is there something we're still waiting on? Or did we manage to get ourselves unblocked in the meantime?

[2021-03-15 08:54] HonkingGoose commented on #5784
@viceice @rarkins This is probably a stupid idea but would this be one of the cases where trying out the `gradle-lite` manager might reduce memory usage? Or would that cause more issues than it solves? I've not seen any mentions of `gradle-lite` yet in this issue, so might be worth a try???

[2021-03-15 09:03] HonkingGoose commented on #5972
I saw that @JamieMagee made PR #5558 that might help with creating the necessary stuff to start work on this issue.
But PR #5558 is still in a draft state and is badly out-of-date compared to current `master`.

Are we `status:blocked` until PR #5558 lands? Or do we need some other thing before we can start? Or do we need to think some more about a possible solution?

[2021-03-15 09:05] rarkins commented on #5784
Yes, I'd say our solution to this now is definitely "use `gradle-lite` instead".

[2021-03-15 09:05] #5784 closed

[2021-03-15 09:07] rarkins commented on #6047
Already implemented: [dockerImagePrefix](https://docs.renovatebot.com/self-hosted-configuration/#dockerimageprefix)

[2021-03-15 09:07] #6047 closed

[2021-03-15 09:17] nono commented on #9136
https://github.com/renovatebot/renovate/issues/6213 looks related

[2021-03-15 09:53] HonkingGoose commented on #2958
I think we can tick the box for `build(deps): update dependency @renovatebot/ruby-semver to v1` as we control this package ourselves, and I don't think we made any breaking changes when bumping `ruby-semver` to v1... 😉

[2021-03-15 09:56] 56KBs commented on #9127
Yes this should be fixed by #3348. The fix for #8946 has exposed this issue, which is pretty much unavoidable until #3348 is completed.

Here's a long answer explaining why this is happening:

Renovate will update `require github.com/gofiber/fiber v1.14.6` into `require github.com/gofiber/fiber/v2 v2.6.0` within the `go.mod` file correctly.

Following this change it will run `go get -d ./...` to e

[2021-03-15 10:20] HonkingGoose commented on #3720
To the Renovate developers: what's the status of this issue?

[2021-03-15 10:22] HonkingGoose commented on #3945
@rarkins Did we get the ability to bump lockfiles already? Or are we still waiting on something?

[2021-03-15 10:27] HonkingGoose commented on #4291
What's the status of this issue?

It seems PR #4292 fixed some parts of the problem reported by the OP:

incorrect path was being requested and the retry logic was using too
large of numbers for the milliseconds to wait.

I think we haven't decided on how to deal with the Artifactory issue yet? @rarkins said:

[2021-03-15 10:35] HonkingGoose commented on #4487
What's the current status of this issue? The last comment was from september 2019, so I think a lot might have changed already. 😄

[2021-03-15 10:44] mastermatt commented on #4291
The issue of stalling for hours was resolved by the mentioned PR.

Because of the shortcoming in Artifactory, at my company we've never been able to successfully enabled Renovate for Ruby repos. According to the linked Jira ticket, it seems Artifactory might support the route as of 7.11.1 that came out recently. But we haven't updated to 7.x yet so I can't confirm.

I'm going to close this issue,

[2021-03-15 10:44] #4291 closed

[2021-03-15 11:22] rarkins commented on #3446
This is now done

[2021-03-15 11:22] #3446 closed

[2021-03-15 11:27] rarkins commented on #3945
Yes, we did

[2021-03-15 11:51] dlouzan commented on #3720
FYI we have been using internally the approach I outlined above for a couple of months now. It's not perfect and the setup requires some fiddling, but it has worked quite nicely.

[2021-03-15 12:36] rarkins opened #9145 "Refactor/improve npmrc handling"
**What would you like Renovate to be able to do?**

Parse `.npmrc` during npm extract phase and not use it at all in npmjs datasource.

**Did you already have any implementation ideas?**

npm extract should detect all relevant `.npmrc` config and return it as part of extract, e.g.
- For scope instructions, use that to determine the `registryUrl` of affected deps
- Use hostRules and/or packageRules

[2021-03-15 12:37] rarkins opened #9146 "Datasource return registryUrl with response"
**What would you like Renovate to be able to do?**

Return `registryUrl` field with datasource lookup responses.

**Did you already have any implementation ideas?**

[code]

Blocked by #9145

[2021-03-15 12:40] rarkins commented on #9146
Docker datasource may need the ability *return* the `registryUrl` with its response, e.g. to indicate that something like `quay.io/foo/bar` was not looked up from the default docker.io registry.

[2021-03-15 12:52] rarkins commented on #9145
Here is where the datasource determines which `registryUrl` should be used: https://github.com/renovatebot/renovate/blob/6ebe8ba508d5fc2dc46e7592a014f7e0bbdea913/lib/datasource/npm/get.ts#L83-L88

This should instead be determined at extract time.

Here is where the datasource determines auth from the `.npmrc`: https://github.com/renovatebot/renovate/blob/6ebe8ba508d5fc2dc46e7592a014f7e0bbdea913/l

[2021-03-15 12:56] rarkins commented on #9145
@viceice what are your thoughts on deprecating `npmrc` as a config field? Options:
- Document that if scoped lookups are required then these should be committed to the repo in a `.npmrc` (doesn't mean auth needs to be committed.. just scope instructions)
- Allow converting of `packageRules` to `.npmrc` scope instructions via some type of convention. e.g. packageRule follows convention:

[code]

co

[2021-03-15 13:08] viceice commented on #9145
I think scopes should be in repo `.npmrc`, also the default registry should be read from `.npmrc` if configured (extraction phase)

I'm ok to fully ignore repo `.npmrc` and force users to configure packageRules, so no npmrc handling needed here.

On artifacts: write all npm hostRules to parent of repo / temp dir and allow usage like dotnet manager. If this not doable, write it to repo npmrc as cur

[2021-03-15 15:02] rarkins commented on #9145
I expect there would be *some* users who have no `.npmrc` in their repos and have default registry and/scope configured in individual developer machines. So in such a case it wouldn't work until they add the non-token parts of the `.npmrc` to the repo.

I hadn't thought of being so strict, but maybe it's a good idea. The following scenarios which "just work" today would then not?
- scoped registry

[2021-03-15 15:38] rarkins commented on #9145
Something we could do as a transition stage:
- Add the extra intelligence to the extra phase (including registryUrls, hostRules, etc)
- Keep the existing logic in the datasource
- Compare the existing logic result for registryUrl and auth to what we get from the "new" approach and log if they differ

I could suppress the logs in the app for users but capture it myself to see if we can solve any of

[2021-03-15 15:42] narwold commented on #8660
I'm experiencing this issue w/ the `renovate/renovate` image on Buildkite. Any current workarounds?

[2021-03-15 15:51] rarkins commented on #8660
@narwold are you also using an ECR registry?

[2021-03-15 16:02] rarkins commented on #9145
Here's where we use `NPM_TOKEN` today:

[If the decrypted config includes `npmToken`, and there's a *configured* `.npmrc` with `${NPM_TOKEN}`, then we substitute it in the string](https://github.com/renovatebot/renovate/blob/74d7691befa635c1220d8569936273bfb950e748/lib/config/decrypt.ts#L51-L58). Applicable only to the app.

[If there's no authentication from `.npmrc` parsing in the npm datasource

[2021-03-15 16:05] narwold commented on #8660
I believe so, but you know... I'm not actually trying to update ECR dependencies here; they just so happen to be referenced in my repo. Turning off the `dockerfile` manager actually solved my problem as it turns out.

[2021-03-15 16:13] rarkins commented on #8660
Disabling just the ECR images using package patterns should hopefully be enough.

@viceice this has lasted a while with no fix apparent. Should we add a hard exit after a setTimeout?

[2021-03-15 16:17] viceice commented on #8660
@rarkins Maybe use an env variable a workaround to do a force exit when renovate is done?

[2021-03-15 16:35] rarkins commented on #9145
Proposal:
- the npm manager finds any `.npmrc` file next to `package.json` during extract phase and saves it into `managerData.npmrc`
- the npm datasource does not use `.npmrc` in any way - file system or config
- the npm manager reads the `.npmrc` file back during artifacts updating, massages it if necessary, and writes it back

Question is whether or how to handle a *configured* `npmrc`. For max

[2021-03-15 18:23] caphrim007 commented on #8660
the AWS team behind the SDK, as i mentioned in a previous post, seems to have de-prioritzed (what I think) is the solution (or towards a solution?). I haven't commented back on this thread yet because they haven't made any commits related to it. just fyi.

[2021-03-15 22:45] Niksko commented on #8842
@Chippiewill could you [add to this existing test](https://github.com/renovatebot/renovate/blob/0747c9aef44504aa627c470f760306edf5d7afa4/lib/config/validation.spec.ts#L293)? Seems like you should be able to add the `extractVersionTemplate` field to that test to make sure it passes validation.

[2021-03-16 07:51] rarkins commented on #8660
@viceice does #9152 looko?

[2021-03-16 08:36] viceice opened #9155 "Support rolling docker tags (like bitnami use)"
**What would you like Renovate to be able to do?**

Support updating  `3.4.6-debian-9-r24` docker tags

- `3.4.6-debian-9-r24` -> `3.4.6-debian-9-r25` (patch)
- `3.4.6-debian-9-r24` -> `3.4.6-debian-10-r1` (major?)
- `3.4.6-debian-9-r24` -> `3.4.7-debian-9-r1` (patch)

https://docs.bitnami.com/tutorials/understand-rolling-tags-containers/

Current workaround is to use `allowedVersions` regex filte

[2021-03-16 08:52] rarkins commented on #9155
Maybe a new type of versioning is necessary to treat the two halves as separate versions? Or could we do it during extract and essentially extract the same dep twice, with two different `extractVersion` approaches?

[2021-03-16 09:21] viceice commented on #9155
I think this is a more genral version of #4860  4 part versioning

[2021-03-16 09:39] rarkins commented on #9155
Would you want to update debian versions independently of bitnami versions though?

e.g. if you're on `3.4.6-debian-9-r2` and there's also `3.4.7-debian-9-r2`, `3.4.6-debian-10-r1` and `3.4.6-debian-9-r3` and `3.4.7-debian-10-r1` then which PRs to propose and what type of update are they?

[2021-03-16 09:50] viceice commented on #9155
As far as i know:

- `-debian-9` and `-debian-10` are the base images, bitnami will only provide both versions for a short time, so i would propose this as `major` update
- `-r2`, `-r26`  are the rolling release version, which is incremented on every rebuild and will never be changed again (aka immutable tags`, so i think a `patch` update would be fine for me
- `3.4.6`, `3.4.7`, `3.5.1` ... -> nor

[2021-03-16 11:20] eyalzek opened #9157 "Renovate getting the wrong latest tag with the docker datasource"
**What Renovate type, platform and version are you using?**

hosted app on Github

**Describe the bug**

renovate uses the wrong tag in the `getLabels` request for the image: `quay.io/bitnami/sealed-secrets-controller`.

**Relevant debug logs**

[code]

**Have you created a minimal reproduction repository?**

reproduction is done here (the relevant image is `quay.io/bitnami/sealed-secrets-controll

[2021-03-16 11:55] jokay commented on #2835
This is what worked for me:

[code]

I see no problem using this for an internal (not exposed to the internet) instance of GitLab.

[2021-03-16 11:57] rarkins commented on #9157
The reproduction repository seems different from the description here. Can you please double check and clarify?

[2021-03-16 12:02] eyalzek commented on #9157
It's not, it just had some additional stuff in there. I cleaned it up so it's more obvious.

[2021-03-16 12:04] rarkins commented on #2835
Careful as that will also make any external connections insecure (eg GitHub.com or Docker hub )

[2021-03-16 12:26] #9157 closed

[2021-03-16 13:34] HonkingGoose commented on #8684
@rarkins Is the `reproduction:needed` label actually triggering the stale bot to close the issue after `x` time?

I thought we said that the bot gives you 2 weeks to work on the reproduction or comment in the issue.

I'm seeing issues with the `reproduction:needed` label that have not been updated in 2 weeks, but they're not getting closed out by the stale bot.

[2021-03-16 14:02] deveth0 opened #9162 "GitLab !reference Keyword causes YAMLException"
**What Renovate type, platform and version are you using?**

Renovate 24.85.1, both on self-hosted GitLab and GitLab.com

**Describe the bug**

I recently added a project to renovate's scope that includes a gitlab-ci.yml that uses the `!reference` keyword:

[code]

When running renovate, it tries to validate the yml file but failes, cause !reference is not a valid identifier in yml.

**Relevant de

[2021-03-16 14:07] viceice commented on #9162
it's because of #8810

[2021-03-16 14:13] viceice commented on #9162
adding a try-catch block as workaround now

[2021-03-16 14:14] deveth0 commented on #9162
wow, that was fast :)

I just modified the demo project to use "remote" instead of "local", just to verifiy. Same issue.

[2021-03-16 14:15] viceice commented on #9162
Do you have a documentation for the `!reference [.setup, script]`  expression?

[2021-03-16 14:17] deveth0 commented on #9162
@viceice sure, I just used the gitlab documentation for the mvp: https://docs.gitlab.com/ee/ci/yaml/#reference-tags

[2021-03-16 14:34] HonkingGoose commented on #5461
I'm not sure what the problem is here, as there is not enough information for me to fix this... 😕
Do we still have a problem with the current docs?

[2021-03-16 14:41] HonkingGoose commented on #2355
Bumping this up to `priority-2-important` because of:

[2021-03-16 14:55] viceice commented on #9162
PR waiting for review 🙃

[2021-03-16 15:18] rarkins commented on #8684
I don't think we have any bot written yet, the label is kind of a hollow warning of what might happen :)

[2021-03-16 15:20] rarkins commented on #2355
Looks like it needs a reproduction?

[2021-03-16 15:21] rarkins commented on #5461
Not sure but anyone finding it in future can feel free to submit a PR directly

[2021-03-16 15:21] #5461 closed

[2021-03-16 15:22] JamieMagee commented on #5972
I would consider this blocked for now, due to #5558, unless someone comes up with an alternative approach.

[2021-03-16 15:27] HonkingGoose commented on #8684
We can use: https://github.com/actions/stale to create a stale-bot.
I think I would be able to make the necessary config, as the docs are easy to read and understand, and they have plenty of examples.

Do you want a PR from me to create the stale bot?

[2021-03-16 15:35] viceice commented on #8684
@HonkingGoose Go ahead 🙃

[2021-03-16 16:17] rarkins commented on #8684
But can it be customized suitably for our needs? We only want to mark ones as stale if labels include `reproduction:needed` and `type:bug`

[2021-03-16 16:23] HonkingGoose commented on #8684
We can use `only-issue-labels: "reproduction:needed,type:bug"` to tell the stale bot to only jump into action on issues that have both the `reproduction:needed` AND the `type:bug` labels.

I'll go push up my draft PR so you can take a look. 😉

[2021-03-16 16:27] twarner-sofi opened #9164 "Gradle kotlin 3 argument notation dependency is not updated"
**What Renovate type, platform and version are you using?**

Self hosted v24.83.0, pointed at gitlab.com

Gradle 6.8.3

**Describe the bug**

When using Gradle kotlin build scripts, dependencies using the three argument notation (looks like `implementation("group", "name", "version")` are not updated, even though they are detected and listed in the MR description. If no other dependencies updates

[2021-03-16 16:35] rarkins commented on #9164
Could you try out our new `gradle-lite` manager to see if it handles your use case? It's based on JS parsing and updating instead of using `gradle` directly.

Change your config to:

[code]

[2021-03-16 17:22] twarner-sofi commented on #9164
Switching to gradle-lite fixed this particular issue, but I ran into other issues when trying on a larger project:

- Could not use custom repositories to find new versions of internal libraries.
- Could not update dependencies using the notation `api("com.fasterxml.jackson.core:jackson-databind:${property("jacksonVersion")}")`
- Did not respect packageRules excluding certain dependencies from maj

[2021-03-16 17:24] rarkins commented on #9164
Yes, minimal reproductions for each separately would be perfect. Cc @zharinov

[2021-03-16 17:59] HonkingGoose commented on #9164
Closing this specific issue, as it was fixed by using `gradle-lite`.

For the other issues you listed:

We would very much like separate issues and reproductions. 😉
Thanks for helping out! 🚀

[2021-03-16 17:59] #9164 closed

[2021-03-16 18:14] #9162 closed

[2021-03-16 18:21] deveth0 commented on #9162
awesome, thank you! I'll keep you posted, if the build still fails when this is released ;)

[2021-03-16 18:30] renovate-release commented on #9162
:tada: This issue has been resolved in version 24.87.1 :tada:

The release is available on:
- [GitHub release](https://github.com/renovatebot/renovate/releases/tag/24.87.1)
- `24.87.1`

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-03-16 21:30] dserkowski commented on #9043
I prepared an example repo: https://github.com/dserkowski/renovateTest
* configured pom.xml to present the above issue. In this case, Renovate should create PR for [bumping org.apache.struts.struts2-core version](https://github.com/dserkowski/renovateTest/blob/main/pom.xml#L20)
* run on the latest docker image (renovate/renovate:24.86-slim) - [see runRenovate.sh file](https://github.com/dserkowski

[2021-03-16 21:54] rarkins commented on #9043
Have you confirmed that Renovate happily upgrades from 2.5.22-atlassian-1 to 2.5.26-atlassian-2 when there's *not* any complications like nested placeholders? I would like to rule out that it's anything related to the version suffix changing.

[2021-03-16 21:57] twarner-sofi opened #9166 "Gradle-lite - Autodetect registryUrls"
**What would you like Renovate to be able to do?**

Currently, when using the gradle-lite manager, by default it does not take into account any custom repositories defined in your gradle files, instead only using maven central. This will make it fail to update any artifacts that are not available in those repos.

Specifying "registryUrls" in renovate.json works to fetch these dependencies, but it

[2021-03-16 22:17] twarner-sofi commented on #9166
Repro and logs added.

To be clear, I don't think this is a bug, manually specifying registryUrls works as expected. This is a feature request to automatically detect them. 🙂

[2021-03-16 22:27] dserkowski commented on #9043
Yes, after joining those two properties into one, this PR has been created https://github.com/dserkowski/renovateTest/pull/9.
And as you can see, after applying the current configuration, the PR has been automatically declined by Renovate.

[2021-03-17 02:23] shayneholmes opened #9168 "GONOPROXY environment variable isn't passed to go"
**What Renovate type, platform and version are you using?**

Self-hosted on private GitLab, tested against 24.28.1 and 24.87.0.

**Describe the bug**

`go get` doesn't receive the `GONOPROXY` environment variable, so my team can't `go get` certain internal dependencies.

**Relevant debug logs**

I've anonymized some identifiers:

[code]

**Have you created a minimal reproduction repository?**

Ple

[2021-03-17 04:44] rarkins commented on #9166
@HonkingGoose we need to update our auto text to not be bug specific :)

[2021-03-17 05:01] #9168 closed

[2021-03-17 05:18] renovate-release commented on #9168
:tada: This issue has been resolved in version 24.88.0 :tada:

The release is available on:
- [GitHub release](https://github.com/renovatebot/renovate/releases/tag/24.88.0)
- `24.88.0`

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-03-17 07:41] deveth0 commented on #9162
works fine!

[2021-03-17 08:01] rarkins opened #9170 "Deprecate npm-based presets"
**What would you like Renovate to be able to do?**

Deprecate and remove support for npm-based Renovate presets as gracefully as possible.

**Did you already have any implementation ideas?**

As part of #9145 I'm rediscovering all the "weird" ways we use npm and npmrc. We want to make the npm datasource as normal as possible, but today it is far from it:
- There is a `setNpmrc()` function which ca

[2021-03-17 08:02] rarkins commented on #9170
@viceice @JamieMagee I keep alternating between "Removing npm presets is the right thing to do" vs thinking of hacky ways to keep it working. Any ideas?

[2021-03-17 08:06] rarkins opened #9171 "Support config presets for all platforms"
**What would you like Renovate to be able to do?**

Support config presets on all platforms. It looks like we're missing Bitbucket Cloud and Azure DevOps. This would be important for deprecating npm-hosted presets (#9170).

**Did you already have any implementation ideas?**

Ideally there wouldn't be a need for lib/config/presets/[platform]/ directories and instead standardize an extra function or

[2021-03-17 08:21] rarkins commented on #9171
First step: refactor existing lib/config/[platform] to use https://github.com/renovatebot/renovate/blob/bcc3f0e2642846638d0b58dbe402812afe6b47b4/lib/platform/types.ts#L142

[2021-03-17 08:34] viceice commented on #9170
what about splitting the "simply" npm preset resolve from normal npm datasource. so we duplicate some code for some period, until we fully remove that.

private npm presets then only work on npmjs.com

[2021-03-17 08:36] viceice commented on #9171
Blocked by #8217

[2021-03-17 08:37] viceice commented on #9171
Related (maybe duplicate ?) to #7448

[2021-03-17 08:42] rarkins commented on #9171
I think these are all related. I think first step is to take existing functionality are remove/move as much of the platform-specific code from lib/config and use lib/platform instead. Then hopefully the additional work to support the two remaining platforms is minimal.

[2021-03-17 08:46] rarkins commented on #9171
Actually, I have probably underestimated things a little in the above. Our platform code traditionally operates on the *currently initialized* repository, but for presets it would need to fetch from an alternative repository. @zharinov please research this and let us know if any decision needs making.

[2021-03-17 08:48] rarkins commented on #9170
That could be a good idea. The downside is we'll end up with a lot of complexity ported over, needing to keep supporting `npmrc` config, etc.

[2021-03-17 08:55] #8684 closed

[2021-03-17 08:57] HonkingGoose opened #9172 "lint and warn when a packageRule object has both matchUpdateTypes AND allowedVersions"
**What would you like Renovate to be able to do?**

A user was trying to exclude certain Docusaurus v2 releases with this config:

[code]

Renovate still opened PRs to update to the `canary` releases. The user asked why it was not working.

@rarkins then said (emphasis mine):

So the requirement is:

IF a `packageRule` object
HAS `matchUpdateTypes` AND `allowedVersions`
THEN warn user that this is

[2021-03-17 08:58] viceice commented on #9171
I think some of the ideas from #7448 will help 😉

[2021-03-17 08:59] viceice commented on #9170
maybe adding some logging and warning about npm preset usage, so you can track in app to see usage?

[2021-03-17 09:00] viceice commented on #9170
if almost all are using npmjs, we can simply exclude npmrc handling and force a package rule usage if the presets are private, or migrate to platform presets

[2021-03-17 09:01] HonkingGoose commented on #9166
@rarkins gotcha, I'll go make a issue to track this, and will make a PR a bit later.

[2021-03-17 09:04] HonkingGoose opened #9174 "update bot text for reproduction:needed to be bug/feature independent"
**What Renovate type, platform and version are you using?**

Problem is with Renovate bot repo bot config.

**Describe the bug**

A user posted a `feature` type issue, which got labeled `reproduction:needed`.
The bot then posted a message which refers to `bugs` which is confusing. 😄

The bot should have text that refers to issue instead of bug/feature.

**Relevant debug logs**

**Have you created

[2021-03-17 09:05] rarkins opened #9175 "Refactor npm presets to not use npm datasource"
We should refactor our npm preset logic - including duplicating code if necessary - so that it is independent of lib/datasource/npm.

Start with a full copy/paste including the hacky stuff like `setNpmrc()` and then we see which bits we can remove.

Pre-requisite for #9145 and #9170

[2021-03-17 09:22] eyalzek opened #9176 "Fetching tags from docker registry is limited to 20 pages"
**What would you like Renovate to be able to do?**

At the moment pagination is limited to 20 pages:
https://github.com/renovatebot/renovate/blob/master/lib/datasource/docker/index.ts#L458-L464
this proves problematic in certain registries/repositories as this means that renovate might not fetch _all_ tags, but only a subset. Having the option to remove/set the value for this limit will help mitig

[2021-03-17 09:36] rarkins commented on #9176
Unlimited or user-controlled pagination limits have the following risks:
- Overloading ourselves (could be thousands of pages)
- Overloading the remote resource (they may have no intention of anyone ever fetching *all* tags)
- Getting blocked by the remote resource
- A very easy attack vector

Therefore controlling pagination limits should be an admin/self-hosted configuration option only.

[2021-03-17 09:41] eyalzek commented on #9176
Makes sense. Will bumping the 20 page default be an option? As the tag limit is otherwise set to 10000 (https://github.com/renovatebot/renovate/blob/master/lib/datasource/docker/index.ts#L450) it might be fine to set the page limit at around 50?

[2021-03-17 09:53] rarkins commented on #9176
The limit is not so much because we are worried about the total items returned but because of total requests. Paginating 50 or more requests - potentially per image - is really not good. We ideally wouldn't want to paginate more without a better way of caching. e.g. if quay.io could return items in the order of most recent then it wouldn't be such a problem, because we could stop fetching as soon

[2021-03-17 10:10] viceice commented on #9176
Opened an issue for quay.io to fix the ordering

https://issues.redhat.com/browse/PROJQUAY-1741

[2021-03-17 10:16] viceice commented on #9176
Ok, made some more tests, docker hub returns tags alpha sorted, so we can get the issue there too, when there are too many tags.

[2021-03-17 10:18] eyalzek commented on #9176
It looks like this is not an issue with the v1 api:
`curl -sL  'https://quay.io/api/v1/repository/bitnami/sealed-secrets-controller/tag/' | jq`

this gets the latest tags as opposed to:
`curl -sL  'https://quay.io/v2/bitnami/sealed-secrets-controller/tags/list'  | jq`

[2021-03-17 12:53] renovate-release commented on #8684
:tada: This issue has been resolved in version 24.89.0 :tada:

The release is available on:
- [GitHub release](https://github.com/renovatebot/renovate/releases/tag/24.89.0)
- `24.89.0`

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-03-17 13:13] rarkins commented on #9145
Other approaches:

### Backwards-compatible `.npmrc` handling

In this scenario, we'd stop using the external library which reads from the file system during datasource lookup and instead find the home directory `~/.npmrc` ourselves the first time it's needed.

### Keep supporting a "global" `.npmrc`, but it must be in config

In this scenario, `~/.npmrc` is never read by Renovate or its dependenc

[2021-03-17 14:48] rarkins commented on #9145
We currently use https://github.com/rexxars/registry-auth-token, which in turn calls https://github.com/dominictarr/rc, which employs `fs.statSync` and tries a lot of files.

[2021-03-17 14:55] rarkins commented on #9145
One problem:
- If you have `~/.npmrc` and `/current/pwd/.npmrc` then they get *merged*
- If you configure `config.npmrc` and there's `/current/pwd/.npmrc` then the configured `npmrc` completely overrides it

Is that approach still valid?

[2021-03-17 16:30] zharinov commented on #9171
What about these steps?
- Extract `platform.getRepo(repo: string)` from `initRepo`
- Use this method to discover `defaultBranch` for preset repo
- Refactor `getJsonFile()` so that additional parameters can override `config`-based ones

[2021-03-17 16:36] rarkins commented on #9171
I thought some platforms let you query a file/path directly without needing to know a d specify the default branch? If so then push that logic into the platform getFile logic

[2021-03-17 17:00] falkenbt commented on #9043
I have a similar case when using [jib ](https://github.com/GoogleContainerTools/jib) to build container images and I would like to renovate the image version in the pom.xml:

[code]

[2021-03-17 17:05] PatrickSachs opened #9182 "Elixir: mix.exs dependency version changed to "0..0""
**What Renovate type, platform and version are you using?**

Hosted App, GitHub

**Describe the bug**

Renovate opened a PR that wants to change my `mix.exs` (Elixir) dependency `"gettext"` from `"0.11"` to `"0..0" `, which is not a valid version number for Mix.

This is probably related to the project not compiling correctly. *[Assumption]*

![image](https://user-images.githubusercontent.com/7840

[2021-03-17 19:03] rarkins commented on #9145
Current behavior:
- config.npmrc overrides all
- `$pwd/.npmrc` takes precedence over and is not merged with `~/.npmrc`
- `~/.npmrc` is the fallback

[2021-03-17 19:48] rarkins commented on #9182
This is a problem that likely comes from the versioning, in other words it can probably be replicated and then fix confirmed using unit tests.

[2021-03-17 19:49] rarkins commented on #9043
@falkenbt not the same thing, please create a discussion so we can assess if it's solvable in config or needs a new feature

[2021-03-17 21:17] twarner-sofi opened #9184 "Gradle-lite - does not detect property() call in kts"
**What Renovate type, platform and version are you using?**

Self hosted v24.88.0 pointed at https://gitlab.com

**Describe the bug**

Gradle-lite manager does not detect dependency versions in the form `api("group:name:${property("propName")}")` when using build.gradle.kts build file.

For example:

build.gradle.kts:

[code]

gradle.properties:

[code]

gradle.properties should be updated with th

[2021-03-17 21:34] #9174 closed

[2021-03-17 21:51] #6424 closed

[2021-03-17 22:31] benlangfeld commented on #4051
@rarkins Are there any plans to implement this, or any guidance on how it should be implemented?

[2021-03-18 05:03] viceice commented on #4051
This would be a new manager and require a community contribution.

[2021-03-18 08:18] dominykas opened #9189 "Lock file PR not getting updated if already open (unless "rebase" checkbox ticked)"
**What Renovate type, platform and version are you using?**

Self-hosted

**Describe the bug**

When a "lock file maintenance" PR is already it open, it does not get updated even if there are new items to be updated in there.

If the PR has `If you want to rebase/retry this PR, check this box` ticked, then the update does happen as expected.

This has regressed quite a while ago (several months?),

[2021-03-18 08:21] #9189 closed

[2021-03-18 09:09] HonkingGoose opened #9194 "chore: finetune stale action"
**What would you like Renovate to be able to do?**

The stale action ran, but "runs out of steam" before dealing with all issues, as we can see by the "warning" it raises at the end of the log output: `Warning: Reached max number of operations to process. Exiting.`

We now have a log that we can look at to see how the action works on our repo.
It seems to go through the repository issues, most rec

[2021-03-18 09:27] rarkins commented on #9194
If the next night it runs it finds another 5 or 10, then I think we're ok. Once this stale bot reaches a steady state, 30 could be enough per day. Will be good to hear what the maintainer says.

[2021-03-18 10:19] HonkingGoose opened #9195 "docs: warn users from using requiredStatusChecks:null and automerge:true"
**What would you like Renovate to be able to do?**

Our documentation doesn't properly warn users not to combine `"requiredStatusChecks": null` with `automerge=true`. Using both options at once can result in a broken baseBranch as @viceice explained in a discussion:

Go to the original discussion (#9193) to get the full context.

**Did you already have any implementation ideas?**

- Put a warning

[2021-03-18 10:23] HonkingGoose commented on #9195
I'm not quite sure if we want to have 3 warnings (2 in config options, 1 in automerge guide), or just 1 (only the automerge guide)?

What do you think @rarkins?

[2021-03-18 11:43] benlangfeld commented on #4051
@viceice I can take a shot at it. Do you have any pointers on how to achieve @rarkins' second point? An example from another manager, perhaps?

[2021-03-18 11:48] viceice commented on #4051
checkout

https://github.com/renovatebot/renovate/blob/40a59cc9e0687a6302a5a5992949564af6b507c7/lib/manager/bundler/artifacts.ts#L40-L51

[2021-03-18 12:35] ahoeing opened #9200 "Improve documentation for using renovate GitHub Plugin with private maven repositories"
**What would you like Renovate to be able to do?**

I read that renovate is able to scan private repositories. But I have not found any documentation about how to configure the credentials in GitHub.  All I found was: https://docs.renovatebot.com/java/

Maybe you can Improve the documentation or maybe it is not possible for the GitHub plugin?

[2021-03-18 12:37] broksonic21 opened #9201 "RenovateBot: NPM version ignores force/constraints, complains a new version is available."
**What Renovate type, platform and version are you using?**

Hosted app

**Describe the bug**

We have this:

[code]

Which should require 7.6.3 NPM. But 7.6.0 is installed, at least when there's an artifact conflict, and complains that 7.6.3 is required.

But we get a warning in our logs that there's a newer NPM. Is there a way to force it up to use the latest?

**Relevant debug logs**

[code]

*

[2021-03-18 12:41] HonkingGoose commented on #9200
Renovate can scan private repositories just fine if you're using the GitHub hosted app, see: https://docs.renovatebot.com/install-github-app/

How are you using Renovate bot right now?

---

I'm moving this to the discussion tab, as it seems more of configuration help problem than a problem with the current docs.

[2021-03-18 12:42] #9200 closed

[2021-03-18 12:47] HonkingGoose commented on #9201
What platform are you using, GitHub/GitLab/something else?

[2021-03-18 12:50] broksonic21 commented on #9201
Github.

I set up a repro environment here: https://github.com/broksonic21/renovate_npm_version_repro

You can see the warning in the artifact issue here: https://github.com/broksonic21/renovate_npm_version_repro/pull/2

[2021-03-18 12:51] rarkins commented on #9201
FYI it's not recommended to use `force` at any time and support for it will be dropped soon

[2021-03-18 12:52] broksonic21 commented on #9201
Our main purpose was to ensure we used a package-lock v2 supported npm across a number of repros. What's the recommended/best way to do that? Happy to change and see if it fixes up my issue too. or is just having a v2 formatted package-lock sufficient?

[2021-03-18 12:52] rarkins commented on #9201
Please download the logs for when the PR was created from app.renovatebot.com and upload here. We'll want to look for any mention of "constraints" as well as what the final "docker run" command is. But also I really wonder if you remove your `force` config altogether if it works

[2021-03-18 12:53] rarkins commented on #9201
If it's a v2 lockfile and no other constraint present then Renovate should run `npm i -g npm` which installs `npm@latest`

[2021-03-18 12:54] rarkins commented on #9201
FYI without any constraints it would default to Node LTS (v14) but then install npm latest (v7)

[2021-03-18 12:55] broksonic21 commented on #9201
[code]

That's with force constraints...

[2021-03-18 12:58] HonkingGoose commented on #9201
@broksonic21 Please put your big log into a Markdown summary like this:

[code]
Your long log goes here.
[code]

---

Live example:

<details><summary>Click me to see logs</summary>
<p>

[code]

</p>
</details>

[2021-03-18 13:00] rarkins commented on #9201
There is no "docker run" text in that log so does not seem to be the correct run

[2021-03-18 13:04] broksonic21 commented on #9201
@rarkins - sorry about that, grabbed wrong one - should be updated now above.

[2021-03-18 13:04] broksonic21 commented on #9201
But you are correct. Removing force/constraints does indeed fix this (repro environment is up at https://github.com/broksonic21/renovate_npm_repro_without_constraints/pull/2 )

[2021-03-18 13:07] rarkins commented on #9201
When `force` was used, the command run was `npm i -g 'npm@>= 7.6.3'`. That does work for me locally (including the space), so I'm not sure why `7.6.0` would have been installed. I'm guessing the install somehow failed and `7.6.0` might be the default version bundled with the latest `node@15`?

[2021-03-18 13:08] rarkins commented on #9195
what are the current warnings we have?

[2021-03-18 13:15] broksonic21 opened #9203 "npm: way to run with --ignore-legacy-peer-deps always?"
Github Hosted

**Describe the bug**

With package-lock v2 (npm@7) there are some cases where you always need to install with --ignore-legacy-peer-deps until packages catch up, or in some held-back version scenarios.

Is it possible to get renovate to always run in that mode to avoid artifact issues via config?

See https://github.com/broksonic21/renovate_npm_repro_without_constraints/pull/2 for an

[2021-03-18 13:17] HonkingGoose commented on #9195
I don't think we warn about this properly _at all_. I've just searched in the live Renovate docs website for `requiredStatusChecks` and `automerge` but didn't find anything that seems to apply directly to this problem.

We have a "Renovate Docs Automerge configuration and troubleshooting" guide, that mentions requiredStatusChecks null, but that does not have a warning about the bad combination eit

[2021-03-18 13:21] rarkins commented on #9195
I think the above warning is enough. Almost the only reason people would use it is for enabling automerge anyway. @viceice do you think we need to make it stronger? If so then we can rewrite this bit - no need for any new section.

[2021-03-18 13:21] #9203 closed

[2021-03-18 13:22] HonkingGoose opened #9205 "docs: explain better how to lookup private Maven repositories"
**What would you like Renovate to be able to do?**

A Renovate user was missing proper documentation on how to configure Renovate bot to fetch results from a private Maven repository (#9200).

The user looked in https://docs.renovatebot.com/java/ for help, but did not get what they needed out of that.

**Did you already have any implementation ideas?**

@rarkins mentioned the solution:

I don't kn

[2021-03-18 13:24] rarkins commented on #9205
Can you assess how feasible it would be to make the current private modules doc generic instead of npm-specific, or if we should create a new doc which is generic?

[2021-03-18 13:37] HonkingGoose commented on #9195
My current understanding of how it works: If you tell Renovate bot that you do not care about `requiredStatusCheck` by setting it to `null`, and then also tell Renovate bot to `automerge` = `true`, then you're basically throwing away your safety barrier that are the required tests. In essence you're telling Renovate bot: _I don't care what happens next, automerge away! Feel free to mess up my base

[2021-03-18 13:41] viceice commented on #9195
I think this text can be improved. Maybe we should refer from options to that part too. 🤔

[2021-03-18 13:45] rarkins commented on #9195
Let's make the last sentence here much more strongly worded :)

![image](https://user-images.githubusercontent.com/6311784/111636186-86509800-87f8-11eb-839b-fd6d0c6c88d3.png)

(from https://github.com/renovatebot/renovate/blob/master/docs/usage/configuration-options.md)

[2021-03-18 14:24] #9195 closed

[2021-03-18 14:37] HonkingGoose commented on #9205
I notice I'm already trying to update the current private modules doc (see PR #8906) so might want to take a look at that and get that merged before I start on another branch... 😄

[2021-03-18 14:47] rarkins opened #9209 "Support admin-only option for redirecting presets"
**What would you like Renovate to be able to do?**

As a bot admin, I'd like the ability to "change" a deprecated preset to another without manually changing every repository. e.g. from npm-based preset to platform-based.

**Did you already have any implementation ideas?**

A new config object, e.g. `presetMigrations`, like so:

[code]

When this exists, I think two separate things need doing:
- I

[2021-03-18 17:30] mrclrchtr commented on #6473
I have exactly the same problem and would be very happy if there would be a possibility that the bot can approve his own MR.

[2021-03-18 17:35] rarkins commented on #6473
It needs to be worked out how Renovate can know that it needs to approve its own MR, and then when it should do it. e.g. is it something to detect once per-repo per-run, or does it need to be detected per-MR? And should it set the approval immediately after MR creation?

[2021-03-18 18:09] viceice commented on #6473
I think a better solution is to create a separate bot to do the approval, It can be triggered by repo pr pipeline.

[2021-03-18 18:15] viceice commented on #8660
We have a new experimental environment variable to force a hard exit, so please have a try until the issue is fixed upstream on aws sdk.

`RENOVATE_X_HARD_EXIT=true`

https://docs.renovatebot.com/self-hosted-experimental/#renovate_x_hard_exit

[2021-03-18 18:16] viceice commented on #8660
Maybe it's time to raise an issue at aws sdk.

[2021-03-19 00:44] renovate-release commented on #9195
:tada: This issue has been resolved in version 24.89.2 :tada:

The release is available on:
- [GitHub release](https://github.com/renovatebot/renovate/releases/tag/24.89.2)
- `24.89.2`

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-03-19 00:44] renovate-release commented on #6424
:tada: This issue has been resolved in version 24.89.2 :tada:

The release is available on:
- [GitHub release](https://github.com/renovatebot/renovate/releases/tag/24.89.2)
- `24.89.2`

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-03-19 00:44] renovate-release commented on #9174
:tada: This issue has been resolved in version 24.89.2 :tada:

The release is available on:
- [GitHub release](https://github.com/renovatebot/renovate/releases/tag/24.89.2)
- `24.89.2`

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-03-19 09:56] HonkingGoose commented on #9194
I have copy/pasted my questions and the maintainers response in full so we're not missing any context:

## My questions to the maintainer

I still don't understand what the `operations-per-run` property means (even after reading the new text this PR adds).

The default setting for the `operations-per-run` property is 30. But what does that number mean?

- Will the action only check 30 issues each

[2021-03-19 11:36] gbirke opened #9218 "Support phive lockfile for PHP"
**What would you like Renovate to be able to do?**

I'd like renovate to look for the file `.phive/phive.xml` and check the version numbers specified there to see if there are new versions. phive has a handful of popular tools (phpunit, phpstan, etc) with [a custom list of releases of tools](https://phar.io/how-it-works.html) and can also use GitHub releases

[phive](https://github.com/phar-io/phi

[2021-03-19 11:59] rarkins commented on #9194
@HonkingGoose do we have open issues matching the criteria that the action is currently missing, even on the second run?

i.e. is the concern that the current limits are not enough, or that they might soon be not enough?

[2021-03-19 12:03] rarkins commented on #9218
First is to work out if we need a new datasource, as you've started. The xml file doesn't appear to have versions, but instead be a kind of aliases file pointing short names to full repos. So any datasources would need to first fetch this xml to use as a kind of lookup directory and then fetch from the URL it provides for the dependency and parse that response to get releases? I see some of them a

[2021-03-19 14:07] AB-xdev opened #9219 "Renovate fails create PullRequest on Bitbucket Server (when special characters are in the chagelog?)"
Similar to #6424

#### Background:
We use Renovate in Docker (``renovate/renovate:24-slim``) and set ``RENOVATE_UNICODE_EMOJI`` to ``false``.
This also get's detected by Renovate as I see in the logs (Loglevel=Debug):
[code]
The targeted repo - where the problem occurs - is on a Bitbucket Server (7.6) which uses MySQL (5.7) in the background.

#### The problem

The creation of the PR for [``org.te

[2021-03-19 14:28] cypressious opened #9220 "package-lock.json is reset to lockfileVersion 1 despite npm 7 constraints"
**What Renovate type, platform and version are you using?**

We're using Renovate on a private GitLab via GitLab CI.

Out `templates/renovate.gitlab-ci.yml` file looks as follows:

[code]

**Describe the bug**

We have a Frontend project that we've recently upgraded to npm 7 which comes with a new `package-lock.json` format signified by the `"lockfileVersion": 2` line.

Every Merge Request by Reno

[2021-03-19 14:32] rarkins commented on #9219
This is the function which emojifies or not: https://github.com/renovatebot/renovate/blob/19e16ff7f0feb9228a8e40de20d67fd2c690ee70/lib/util/emoji.ts#L10-L12

But maybe the problem is that the emojies are *already* in the changelog. In which case we need that function to try to de-emoji too?

[2021-03-19 14:34] remal opened #9221 "org.assertj:assertj-assertions-generator can't be updated by Renovate ('invalid-value' skip reason)"
**What Renovate type, platform and version are you using?**

Renovate as a CI/CD job on GitLab.

**Describe the bug**

I have `org.assertj:assertj-assertions-generator` dependency and it's not being updated (likely due to `invalid-value` skip reason)

**Relevant debug logs**
[code]

You can find full logs [attached](https://github.com/renovatebot/renovate/files/6171827/renovate.job.logs.txt).

**H

[2021-03-19 14:42] rarkins commented on #9220
Your reproduction repository does not reproduce for me: https://github.com/renovate-tests/renovate-npm7-issue/pulls

Please generate PRs yourself to verify.

BTW you should not need to use `constraints` or `force` in your `renovate.json` at all.

[2021-03-19 14:48] AB-xdev commented on #9219
@rarkins

Yes, I think this is exactly my problem.

[2021-03-19 14:51] rarkins commented on #9219
Looks like `emoji.strip` or `emoji.replace` might work, but it would need testing.

[2021-03-19 15:30] HonkingGoose commented on #9194
The concern is that the current limits are _just about_ enough for what we have _right now_.

It seems that `operations-per-run` set to 30 allows the action to process 764 issues/PRs.
We currently have 725 issues + 42 PRs which makes 767 in total.
I guess we're right on the  limit of what 30 `operations-per-run` will allow us to process.

But we should also consider that we might need those GitHub

[2021-03-19 15:37] rarkins commented on #9194
I think increasing it to 40 is quite fine if that's enough to address it for now

[2021-03-19 15:46] HonkingGoose commented on #9194
764 issues/PRs in 30 operations-per-run points: 25,4 issues/PRs per point.
If it scales linearly, we can estimate that 40 operations x 25,4 issues/prs processed = 1016 issues/PRs processed in total.

So we should be good for about 1000 total open issues/PRs then. 😄

[2021-03-19 15:54] #9194 closed

[2021-03-19 17:00] cypressious commented on #9220
We're using GitLab CI on a private GitLab instance where I'm able to reproduce on the given sample, so I'm assuming it has something to do with it.

[2021-03-19 17:03] viceice commented on #9220
Simply remove `force` and `constraints` from config and it should work work, renovate will use the `engines` from `package.json`

[2021-03-19 17:06] cypressious commented on #9220
@viceice That's what we had initially when the issue started occuring, so it doesn't seem to help.

[2021-03-19 17:06] viceice commented on #9220
@cypressious You need to use the dind version, because we have node v14 with npm v6 preinstalled on the full renovate image.

Your other option is to downgrade to npm v6 if you can't use dind.

[2021-03-19 17:08] cypressious commented on #9220
@viceice Can you point me to a documentation on how to use the didn version? Thanks

[2021-03-19 17:08] viceice commented on #9220
constraints are only working when using renovate with `binarySource=docker`  otherwise renovate can only use global installed tools.

So another options is to build your own renovate image and install npm v7 ontop the default image

[2021-03-19 17:09] viceice commented on #9220
https://gitlab.com/renovate-bot/renovate-runner

[2021-03-19 17:10] #9220 closed

[2021-03-19 21:46] renovate-release commented on #9194
:tada: This issue has been resolved in version 24.89.3 :tada:

The release is available on:
- [GitHub release](https://github.com/renovatebot/renovate/releases/tag/24.89.3)
- `24.89.3`

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-03-20 08:27] #9175 closed

[2021-03-20 09:45] dasrecht opened #9229 "MultiArch Builds for RenovateBot - ARM64"
**What would you like Renovate to be able to do?**

As more and more infrastructure runs on ARM64 architecture, it would be nice to see Renovate also releasing ARM64 images.

**Did you already have any implementation ideas?**

- [x] Build all binaries (`xxx-prebuild`) repos at https://github.com/containerbase for `ARM64`
  - [ ] renovatebot/internal-tools#242
  - [x] containerbase/ruby-prebuild#7

[2021-03-20 10:03] viceice commented on #9229
`ls-lint` is a dev dep. I think `re2` is more an issue.

Also our full buildpack images need to be arm64 compatible first.

[2021-03-20 10:09] viceice commented on #9229
I'm the [buildpack](https://github.com/renovatebot/docker-buildpack) maintainer and not interested in ARM64, so this would need a community contribution.

[2021-03-20 13:40] renovate-release commented on #9175
:tada: This issue has been resolved in version 24.89.4 :tada:

The release is available on:
- [GitHub release](https://github.com/renovatebot/renovate/releases/tag/24.89.4)
- `24.89.4`

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-03-20 18:30] Trim21 opened #9231 "poetry.lock can't get updated"
**What Renovate type, platform and version are you using?**
github app

**Describe the bug**

when `lockFileMaintain` is enabled, `poetry.lock` should update but renovate can't create correct PR

**Relevant debug logs**

[code]

**Have you created a minimal reproduction repository?**

Please read the [minimal reproductions documentation](https://github.com/renovatebot/renovate/blob/master/docs/dev

[2021-03-20 18:36] rarkins commented on #9231
What do the logs say?

[2021-03-20 18:51] Trim21 commented on #9231
[code]

[2021-03-20 18:54] rarkins commented on #9231
Have you run `poetry` locally to confirm the lock file needs updating?

[2021-03-20 18:55] Trim21 commented on #9231
yes

[code]

[2021-03-20 21:36] #8856 closed

[2021-03-20 21:51] renovate-release commented on #8856
:tada: This issue has been resolved in version 24.90.0 :tada:

The release is available on:
- [GitHub release](https://github.com/renovatebot/renovate/releases/tag/24.90.0)
- `24.90.0`

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-03-20 22:13] mrbusche opened #9234 "Gradle milestone releases updated incorrectly"
**What Renovate type, platform and version are you using?**

Hosted app on github.com

**Describe the bug**

gradle milestone releases aren't parsed correctly. I'm using `gradle-7.0-milestone-1-bin.zip` and renovate offered to update me to [gradle-7.0-milestone-6.8.3-bin.zip](https://github.com/mrbusche/cottage-checker/pull/110/files) and [gradle-7.0-milestone-1.12-bin.zip](https://github.com/mrbu

[2021-03-20 23:03] #8674 closed

[2021-03-20 23:05] rarkins commented on #9234
Please create a minimal reproduction first and then we can advise on the best way to address it

[2021-03-20 23:17] renovate-release commented on #8674
:tada: This issue has been resolved in version 24.91.0 :tada:

The release is available on:
- [GitHub release](https://github.com/renovatebot/renovate/releases/tag/24.91.0)
- `24.91.0`

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-03-20 23:19] #4762 closed

[2021-03-20 23:35] renovate-release commented on #4762
:tada: This issue has been resolved in version 24.91.1 :tada:

The release is available on:
- [GitHub release](https://github.com/renovatebot/renovate/releases/tag/24.91.1)
- `24.91.1`

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-03-21 00:10] aravindparappil46 commented on #8803
I'm guessing my qualm is related to this issue, hence commenting here!

I can confirm that in BitBucket Cloud (with self-hosted `renovate 24.89.2`), the code for zero-width character is being printed in the Onboarding PR for packages that have an @ in their name
![image](https://user-images.githubusercontent.com/43161107/111888977-c742db00-89b7-11eb-895d-a61ff169efc1.png)

I'm not facing the other

[2021-03-21 03:16] mrbusche commented on #9234
Here's a new repo from start.spring.io where I updated gradle-wrapper.properties to point to `gradle-7.0-milestone-1-bin.zip`

The PR dependency upgrades are to [`gradle-7.0-milestone-6.8.3-bin.zip`](https://github.com/mrbusche/renovate-gradle-example/pull/2/files) and [`gradle-7.0-milestone-1.12-bin.zip`](https://github.com/mrbusche/renovate-gradle-example/pull/1/files) when the latest is `gradle

[2021-03-21 06:53] rarkins commented on #9234
I think I've seen this raised before so we might have a duplicate issue elsewhere. It looks like the lib/manager/gradle-wrapper/extract function is capturing the current value wrong. It's not milestone-aware and thinks it's upgrading you from gradle 1 to gradle 6.8.3

[2021-03-21 06:54] rarkins commented on #8803
I think best to raise as a separate issue.

[2021-03-21 07:02] rarkins commented on #9234
Suggestion:
- Add your file to https://github.com/renovatebot/renovate/tree/master/lib/manager/gradle-wrapper/__fixtures__
- Add a test to https://github.com/renovatebot/renovate/blob/master/lib/manager/gradle-wrapper/extract.spec.ts and verify it extracts incorrectly
- Fix the regex in https://github.com/renovatebot/renovate/blob/master/lib/manager/gradle-wrapper/extract.ts (I'm guessing)
- Submi

[2021-03-21 07:02] rarkins commented on #9234
Extracted `currentValue` needs to be `7.0-milestone-1`

[2021-03-21 12:38] fgreinacher commented on #9134
Duplicate of https://github.com/renovatebot/renovate/issues/8359?

[2021-03-21 13:47] viceice commented on #9134
Duplicate of #8359

[2021-03-21 13:47] #9134 closed

[2021-03-21 17:37] JamieMagee commented on #7310
@brechtvhb I followed up internally with the current maintainers, but wasn't able to get a response either. I'll see if I can take over maintainership of that repository.

[2021-03-21 20:02] ArchiFleKs opened #9238 "[terraform] module are not updated if source and version are not at the top of the module definition"
**What Renovate type, platform and version are you using?**

Hosted app

**Describe the bug**

When using Terraform if module source and version are not defined at the top, they are not updated

[code]

**Relevant debug logs**

I can see other module getting parsed:

[code]

**Have you created a minimal reproduction repository?**

https://github.com/ArchiFleKs/renovate9238-2/blob/master/main.tf ->

[2021-03-21 21:00] HonkingGoose commented on #9234
@rarkins Might you be thinking of issue `#5619` maybe?

[2021-03-21 21:41] rarkins commented on #9234
No, it was another gradle milestone issue, but maybe was only in a Discussion

[2021-03-21 21:44] rarkins commented on #9238
I can't see why it shouldn't work, so a reproduction should help. Alternatively a failing unit test in lib/manager/terraform would also be helpful instead

[2021-03-21 21:58] k2snowman69 commented on #8659
I managed to get it to create a PR that created an invalid version number, but not exactly the scenario I mentioned:
https://github.com/k2snowman69/bug-renovate-peer-dep/pull/3/files

[2021-03-22 08:14] nono commented on #9136
I had the same errors on several pull requests this week too. Cf https://github.com/cozy/cozy-apps-registry/pull/234/checks?check_run_id=2164028827#step:6:56 for example.

[2021-03-22 08:16] rarkins commented on #9136
Absent of a reproduction, let's consider this a duplicate of #6213

[2021-03-22 08:16] #9136 closed

[2021-03-22 10:12] ArchiFleKs commented on #9238
You're right this is working here https://github.com/ArchiFleKs/renovate-9238, my repo is a private repository wiht the following configuration

[code]

[2021-03-22 10:20] ArchiFleKs commented on #9238
@rarkins I have replicated the issue here https://github.com/ArchiFleKs/renovate9238-2

I think renovate expect :
[code]

With no whitespaceor stuff in between, when doing:

[code]

It does not update.

[2021-03-22 10:22] rarkins commented on #9238
@ArchiFleKs in that case is the double slash just a coincidence, and the top of this bug should be updated to reflect it seems like a HCL whitespace parsing problem instead?

[2021-03-22 10:24] ArchiFleKs commented on #9238
You are right I have updated the definition

[2021-03-22 10:26] rarkins commented on #9238
For whoever fixes this, I suggest:
- Copy and paste this failing HCL exactly into a new test fixture for the `terraform` manager
- Verify the expect result is not achieved
- Adjust the extract logic in the manager until it works

Once extraction is correct, there's hopefully not anything else needing fixing.

[2021-03-22 10:34] fgreinacher opened #9243 "Sounds like the right approach is then to add vscode as an engine, and abandon this PR?"
Sounds like the right approach is then to add vscode as an engine, and abandon this PR?

_Originally posted by @JamieMagee in https://github.com/renovatebot/renovate/issues/7465#issuecomment-708457220_

[2021-03-22 10:35] #9243 closed

[2021-03-22 12:30] bytestream opened #9244 "Regression in 24.89.2"
**What Renovate type, platform and version are you using?**

GitLab self-hosted

**Describe the bug**

See https://github.com/renovatebot/renovate/pull/9211#issuecomment-803646077

**Relevant debug logs**

See above

**Have you created a minimal reproduction repository?**

* Version 24.91.2 - `npm install` fails and comment is added to MR
  https://gitlab.com/bytestream/renovate-bot/-/jobs/1117160

[2021-03-22 12:59] rarkins opened #9245 "OpenShift v4 compatibility"
**What would you like Renovate to be able to do?**

Have its default images compatible with OpenShift v4 "out of the box".

**Did you already have any implementation ideas?**

Although the Renovate images are no longer built in this repo, I choose to create this issue here for maximum visibility. Previously OpenShift compatibility was added by @mikaelkolkinn in #4764. Past issues indicate both @pa

[2021-03-22 13:26] rarkins commented on #9244
Where is the `.npmrc` coming from? i.e. the one referred to by `Error: Failed to replace env in config: ${GITLAB_TOKEN}`.

e.g. is it a `.npmrc` that's mounted into the home directory of the GitLab runner? I don't see it in the repository.

[2021-03-22 13:28] bytestream commented on #9244
It's in the repository that renovate is running on: https://gitlab.com/bytestream/renovate-npm/-/blob/master/.npmrc

[2021-03-22 13:30] alclonky commented on #9245
we are running on OpenShift v4 with the following fixes:

[code]

uid_entrypoint:
[code]

[2021-03-22 13:41] viceice commented on #9245
`/home/ubuntu` should already be owned by root group, so that change shouldn't required 🤔

[2021-03-22 13:49] mikaelkolkinn commented on #9245
I no longer work at the place where we used OpenShift, so I'm afraid I cannot help with verifying things.

[2021-03-22 14:45] holc-tkomp opened #9246 "Add a way to disable auto rebase for a specific PR"
Basically #4766, we're using Github though.

**What would you like Renovate to be able to do?**

I'd like to be able to temporarily disable auto-rebase functionality for specific PRs.

Long story short: We're currently having an issue with our pipeline, which causes the tests to fail. The more agents/jobs are ran in quick succession, the higher is the chance for more of them to fail. Running them

[2021-03-22 14:49] viceice commented on #9246
Are those pr's automerge enabled? normally renovate only rebase if required, when `rebaseWhen=auto`

[2021-03-22 14:50] holc-tkomp commented on #9246
Yes, automerge is enabled.

[2021-03-22 14:53] holc-tkomp commented on #9246
For example, lets say we have 5 renovates pending, which failed for one reason or another.

- One is re-runned (re-running tests manually), then merged once it's green.
- The 4 left are then automatically rebased and I already know that they'll (the tests) mostly fail due to issue on our pipeline (thus would prefer to prevent them from auto-rebasing, so I can trigger the rebase manually).

[2021-03-22 14:59] viceice commented on #9246
So there is no option for this. I thought already about something like a `concurrentAutomergePrLimit` but not had the time to do so. That would maybe help here. Maybe another option is to limit your pipeline concurrency.

[2021-03-22 15:08] #9105 closed

[2021-03-22 15:11] rarkins commented on #9246
If you add a commit - including any empty one - on top of a PR then it will disable rebasing

[2021-03-22 15:11] holc-tkomp commented on #9246
`concurrentAutomergePrLimit` doesn't sound like it would help here, more like `concurrentAutorebasePrLimit` 😛.

I created this as a feature request as from what I searched there was nothing like this available (as you just said). Maybe if we get more people interested in this we could get it done. I'll maybe look into some renovate's code, but given that I haven't yet and I've been using it for no

[2021-03-22 15:14] holc-tkomp commented on #9246
Yeah, but that's more of a workaround and also not a pretty one 😕.

[2021-03-22 15:23] rarkins commented on #9245
@alclonky that is fantastic help, thanks!

FYI `renovate/whitesource:1.3.0` transitioned to use the [renovate buildpack](https://github.com/renovatebot/docker-buildpack) with this as the important bits:

[code]

I'd be interested to know how much of your script you can remove before it stops working. The user/group/home/etc should already be there.

I had *thought* that OpenShift v4 should add `/e

[2021-03-22 15:25] viceice commented on #9246
another workaround is to close them temporary

[2021-03-22 15:56] alclonky commented on #9245
OpenShift seems to add the user to /etc/passwd [https://www.openshift.com/blog/a-guide-to-openshift-and-uids](https://www.openshift.com/blog/a-guide-to-openshift-and-uids). But the userid is random and in case of renovate this random userid has to have an home directory which he whould not get without the uid_entrypoint.

you can test this without OpenShift by running the container with random use

[2021-03-22 16:22] rarkins commented on #9245
I got the impression that OpenShift would either (a) respect any configured `$HOME` if it exists, or (b) create it. We'd want to go with (a) if that's the case. Then we need to see if the tools all recognize this `$HOME` even if it's user 1238521351325 but `HOME=/home/something`

I got the impression that OpenShift does a bunch of "stuff" before it executes a container so testing it without OpenSh

[2021-03-22 16:30] alclonky commented on #9245
OpenShift does nothing inside the container as far as I know. The /etc/passwd part was new for me but wont help because the user needs to get the $HOME which wont work without the entrypoint

The $HOME and the permissions for $HOME for the random userid where the only Issues we had, and should be testable as I said. We are running renovate in OpenShift with this "workaround" since we started using

[2021-03-22 16:43] rarkins commented on #9245
My hope was that if HOME was already in the container and writable by group 0 then any random user should (a) know which home dir to use and (b) have sufficient access. It doesn't necessarily even need to be under /home either.

However we already have a custom entrypoint so hopefully no obstacle to adding whatever we need.

[2021-03-22 17:41] rarkins commented on #9244
I think it's possible that prior, Renovate used to *delete* that `.npmrc` file temporarily before running `npm install`. Would that have still worked?

[2021-03-22 17:45] rarkins commented on #9245
This seems relevant: https://access.redhat.com/articles/4859371

Includes:

[2021-03-22 18:03] bytestream commented on #9244
Yes I think so too. I run `npm config` before running renovate which at the moment does the same thing as the `.npmrc` file, so I guess that's why it still works in `v24.89.1`

The `.npmrc` file is there to ease setup in the repository, and the environment variable replacement is a documented npm feature.  https://docs.npmjs.com/using-private-packages-in-a-ci-cd-workflow#create-and-check-in-a-proj

[2021-03-22 19:35] brechtvhb commented on #7310
@JamieMagee Thanks for following up!

[2021-03-22 20:36] rarkins commented on #9244
If you are the owner of both the bot and the repos then setting `trustLevel=high` in config.js will mean that environment variables are used in `.npmrc` files.

[2021-03-22 20:39] rarkins commented on #9244
You can also manually configure using `customEnvVariables`, e.g.

[code]

[2021-03-22 21:24] bytestream commented on #9244
It looks like `customEnvVariables` has done the trick; I'll continue to monitor. Thanks very much @rarkins

[2021-03-22 21:24] #9244 closed

[2021-03-23 11:08] fzoske opened #9252 "Assign GitLab MRs on creation and not as update"
**What would you like Renovate to be able to do?**
Assign the MRs in GitLab directly to one of the assinees on creation instead of updating the MR.

In the emails generetad by GitLab currently only contain: "Assignee changed to <USER>" but it would be great to have the description of the MR in the mail as well.

Best regards,
Fabian

[2021-03-23 11:20] dominykas opened #9253 "An option to refresh lock file update PRs when they get stale"
**What would you like Renovate to be able to do?**

Background discussion: https://github.com/renovatebot/renovate/discussions/9190

At the moment, renovate will not update lock file update PRs unless the "Rebase" checkbox is ticked. Unless the PRs get merged quickly enough, they can go stale. This could result in a delay before the next PR is opened (by default - up to a week).

Renovate should h

[2021-03-23 11:22] viceice commented on #9252
This would need a general refactoring, as renovate currently don't assign any reviewers (beside some platform defaults) to any pr.

[2021-03-23 11:35] fzoske commented on #9252
@viceice But renovate currently assigns the prs to the configured assignees, but at a later point.

[2021-03-23 11:44] viceice commented on #9252
@fzoske Yes, it's a completly separate function for all renovate supported platforms

https://github.com/renovatebot/renovate/blob/74d7691befa635c1220d8569936273bfb950e748/lib/platform/types.ts#L152

[2021-03-23 13:12] rarkins commented on #9252
I don't have any objection to assigning at the time of creation and saving an API call while we're at it, but we need to work out how to do that elegantly so that platforms which don't support it in an extra operation can do so. e.g. maybe pass assignees and reviewers to the createPr function in platform and let the platform decide whether it can add them directly with the PR creation or do a seco

[2021-03-23 13:15] rarkins commented on #9253
Or if it becomes conflicted - can you confirm?

Can you elaborate on what you mean by this? Seems like a piece of information is missing here. By "next PR" do you mean the next non-maintenance PR, or do you mean "next maintenance PR if you decide to close or merge the existing stale automerge PR"?

I'm assuming you mean.. as long as it's within its schedule window, or you would prefer at any time?

[2021-03-23 14:38] dominykas commented on #9253
This. If you merge/close the PR, the next "lock file maintenance" might only get opened in a few days.

Truth be told, since we're running our own nightly job, I'd personally probably set this value to zero (we have a toggle to explicitly request the maintenance at any time), but I'm not sure what makes sense for other people and the SaaS version.

I can see logic and value in both approaches - "r

[2021-03-23 15:14] languitar opened #9256 "Fails to detect new Python coverage version with invalid version warning"
**What Renovate type, platform and version are you using?**

We are using the latest Docker tag for self-hosting Renovate (renovate/renovate:24.93.1) with Gitlab. The issue is also reproducible on Github with the managed app.

**Describe the bug**

https://github.com/languitar/renovate-coverage-reproduction is a reproduction case of the issue. A Python project contains an outdated version of the `

[2021-03-23 15:20] pellmont opened #9257 "bumpVersion for maven package manager"
**What would you like Renovate to be able to do?**
We would like to do version bumps based on maven dependency updates.
Use case is for example if you repackage or reassemble an external library you would want to reflect the semantic version behavior of your dependency

**Did you already have any implementation ideas?**
no

[2021-03-23 15:45] HonkingGoose commented on #9256
This _might_ be a duplicate of some other `poetry` or `pep440` issue, I notice that we have some issues open still for both those things. I'll let the Renovate maintainers decide if this is a duplicate or its own issue. 😄

Relevant searches:

- https://github.com/renovatebot/renovate/issues?q=is%3Aissue+is%3Aopen+pep440
- https://github.com/renovatebot/renovate/issues?q=is%3Aissue+is%3Aopen+poetry

[2021-03-23 16:14] rarkins commented on #9253
You made a statement about "renovate will not update lock file update PRs unless..." which I thought was incomplete, so asked you to clarify if you have experience that they are not rebased when conflicted. And yes the use case is that another PR - could be Renovate's or not - modifies the lock file in a conflicting way. If you don't know, then we can simply loosen the PR description to not be so

[2021-03-23 18:22] dominykas commented on #9253
Oh, cook, I was not aware of this behavior! Thanks for clarifying.

I'll see if I can test it - otherwise sure, agreed - whatever makes sense.

[2021-03-23 18:38] rdsubhas opened #9258 "Jobs failing with uncaught-error status: .git/index.lock: No space left on device"
**What Renovate type, platform and version are you using?**

* Type: **Renovate Hosted App**
* Platform: **GitHub**
* Language: **javascript**
* Manager: **yarn**

**Describe the bug**

Renovate jobs on a private repo continuously failing with `caught-error` status in dashboard. Root cause in the logs: `Unable to create '/mnt/renovate/gh/goeuro/apps-integrator/.git/index.lock': No space left on de

[2021-03-23 18:39] languitar commented on #5011
I'm not sure if my reproduction case from the possibly duplicated issue #9256 helps to resolve this.

[2021-03-23 18:41] languitar commented on #9256
Ah, I searched for fragments from the stack trace that the self-hosted version outputs and couldn't find any matching issue.

[2021-03-23 18:56] #9258 closed

[2021-03-23 19:03] HonkingGoose commented on #9256
@languitar Don't worry about it, you tried searching beforehand, and that's what matters. It's really hard to figure out if you're duplicating anything with 720+ open issues. So don't feel bad about this. 😉

In any case, if it turns out this is a duplicate of `#5011` we now have a reproduction which we didn't have before. So your still helping out. 😄

[2021-03-24 01:10] mrbusche commented on #9234
This also applies to RC versions, i.e. `distributionUrl=https\://services.gradle.org/distributions/gradle-7.0-rc-1-bin.zip`
Extracted `current-value` should be `gradle-7.0-rc-1`
Will try to find time to get this one sorted out.

[2021-03-24 07:10] #9234 closed

[2021-03-24 07:40] renovate-release commented on #9234
:tada: This issue has been resolved in version 24.94.0 :tada:

The release is available on:
- [GitHub release](https://github.com/renovatebot/renovate/releases/tag/24.94.0)
- `24.94.0`

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-03-24 08:02] #9201 closed

[2021-03-24 08:14] rarkins opened #9264 "npm: support node constraints filtering"
**What would you like Renovate to be able to do?**

Skip proposing package updates if they don't meet the `engines.node` constraints of the package.json being updated.

**Did you already have any implementation ideas?**

I thought for sure this has been discussed in an issue before, and I recall a back and forth with @ljharb on it, however I cannot find any existing issue so creating this one.

If

[2021-03-24 08:34] HonkingGoose commented on #9264
I guess https://github.com/renovatebot/renovate/issues/2443 and https://github.com/renovatebot/renovate/issues/4826 are related as well?

[2021-03-24 08:37] rarkins commented on #9264
Yes, it's #4826! Somehow that escaped my issue searches. I'll close this as a duplicate.

[2021-03-24 08:37] #9264 closed

[2021-03-24 08:37] rarkins commented on #4826
**What would you like Renovate to be able to do?**

Skip proposing package updates if they don't meet the `engines.node` constraints of the package.json being updated.

**Did you already have any implementation ideas?**

I thought for sure this has been discussed in an issue before, and I recall a back and forth with @ljharb on it, however I cannot find any existing issue so creating this one.

If

[2021-03-24 08:38] HonkingGoose commented on #9264
Yay! I finally linked the proper issue for once! 😄 🚀

[2021-03-24 09:33] #9256 closed

[2021-03-24 09:35] DavidSpek opened #9268 "Support for Amazon ECR (Public Gallery)"
**What would you like Renovate to be able to do?**

A large part of the Kubeflow project has moved their container images to the Amazon ECR Public Gallery. However, it seems as though the API to list image tags on the Public Gallery is blocked behind authentication (see [here](https://github.com/aws/containers-roadmap/issues/1262)). Because of this, Renovate cannot get the latest tags for images h

[2021-03-24 09:40] viceice commented on #9268
We need some explicit public ecr implementation like here:

https://github.com/renovatebot/renovate/blob/f1a4102dd9496b0a0564e6d7fe48327025ed5c67/lib/datasource/docker/index.ts#L125

[2021-03-24 09:45] rarkins commented on #9268
We'll need someone familiar with ECR in order to move this from requirements to ready. Hopefully it's as simple as:
- Recognizing when we need special handling for public ECR (because it does not support the tags list)
- Retrieving credentials
- Calling the right custom AWS API to get the list of tags

If we use the AWS SDK it might handle the second two parts together for us, if the machine Renov

[2021-03-24 09:49] renovate-release commented on #9256
:tada: This issue has been resolved in version 24.94.2 :tada:

The release is available on:
- [GitHub release](https://github.com/renovatebot/renovate/releases/tag/24.94.2)
- `24.94.2`

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-03-24 10:54] languitar commented on #9256
Thanks for the quick fix again!

[2021-03-24 12:59] chgl opened #9269 "Latest docker-compose 1.27 specification is not supported"
**What Renovate type, platform and version are you using?**

GitHub App

**Describe the bug**

Since docker-compose version 1.27, the `version:` top-level Element is no longer required for a valid docker-compose.yaml file (https://github.com/compose-spec/compose-spec/blob/master/spec.md#version-top-level-element).

See also https://docs.docker.com/compose/: `version: "3.9"  # optional since v1.27.

[2021-03-24 14:09] viceice commented on #9269
Workaround: Simply (re)add the version.

[2021-03-24 15:12] chgl commented on #9269
Yeah absolutely, I think it's a strange choice to suddenly make the version optional again. But in case anyone runs into the same behavior there's at least an issue for it. If my proposed solution seems reasonable I can implement it and hopefully redeem myself for #8919 :)

[2021-03-24 15:18] croachrose opened #9271 "Post-upgrade modifications can be dropped"
**What Renovate type, platform and version are you using?**

v24.17.2
self-hosted renovate in GitHub actions

**Describe the bug**

1. Use go vendor to upgrade a go dependency and copy to `vendor/`
2. `go vendor` deletes all BUILD.bazel files from `vendor/`
3. Our post-upgrade script regenerates build files
4. renovate ignores the undeleted files because they are now identical in content to how th