[2021-11-28 16:00] #12871 closed

[2021-11-28 22:15] nairb774 opened #12877 "git-submodule manager/git-refs datadource fails on Let's Encrypt certs"
### How are you running Renovate?

WhiteSource Renovate hosted app on github.com

### If you're self-hosting Renovate, tell us what version of Renovate you run.

_No response_

### Please select which platform you are using if self-hosting.

_No response_

### If you're self-hosting Renovate, tell us what version of the platform you run.

_No response_

### Describe the bug

It seems like the git-

[2021-11-29 06:07] zharinov commented on #12870
Hi @RahulGautamSingh, don't worry about this one, I'll do anything needed

[2021-11-29 08:20] augi commented on #12854
Yes, I will prepare a minimal reproduction repository later this week 🤞

[2021-11-29 10:32] FrankHoogmans opened #12879 "platformAutomerge does not set auto-complete on Azure Devops"
### How are you running Renovate?

Self-hosted

### If you're self-hosting Renovate, tell us what version of Renovate you run.

Latest (npx renovate)

### Please select which platform you are using if self-hosting.

Azure DevOps (dev.azure.com)

### If you're self-hosting Renovate, tell us what version of the platform you run.

Latest (npx renovate)

### Describe the bug

I can not get the PR's to

[2021-11-29 10:44] rarkins commented on #12879
Did you read the 28.0.0 release notes regarding this feature? https://github.com/renovatebot/renovate/releases/tag/28.0.0

[2021-11-29 10:49] FrankHoogmans commented on #12879
Yes. I have tried several combinations of `azureAutoComplete` and `automerge`, but I can't get the PR set to auto-complete.
I have updated and tested the minimal repro to also include the `azureAutoComplete` flag again, but to no avail.

[2021-11-29 10:54] rarkins commented on #12879
Note: Autocomplete is set only at PR creation time. Can you do something to trigger a new PR while logging at debug log level, and then copy paste the logs for that particular branch here?

[2021-11-29 10:55] FrankHoogmans commented on #12879
I'm going to try that :)

[2021-11-29 12:05] FrankHoogmans commented on #12879
@rarkins I have tried your suggestion and it to works 👍

So, anyone needing this:
Enabling both `automerge` and `azureAutocomplete` resolved my issue.

[2021-11-29 12:05] #12879 closed

[2021-11-29 12:49] olegkrivtsov commented on #4619
I'd like to help with this one.

[2021-11-29 12:50] olegkrivtsov commented on #4381
I'd like to help with this one.

[2021-11-29 12:51] viceice commented on #4619
i think `master` can be simply replaced by `HEAD`

[2021-11-29 12:53] viceice commented on #4381
@olegkrivtsov I think we can close this. because bitbucket server is deprecated and i no longer use it 😉

[2021-11-29 12:54] olegkrivtsov commented on #11909
I'd like to take this one.

[2021-11-29 12:58] rarkins commented on #11909
Let's combine this with our next major release

[2021-11-29 13:01] rarkins commented on #4381
I don't mind if it's a few by lines. Still a few years worth left

[2021-11-29 13:06] viceice commented on #4381
Seems nobody trapped into this beside me (while reading release notes) 🤷‍♂️

[2021-11-29 13:08] viceice commented on #12843
👉 https://docs.renovatebot.com/configuration-options/#fetchreleasenotes

[2021-11-29 13:14] #4381 closed

[2021-11-29 13:17] rarkins commented on #12843
Please create a minimal reproduction repo

[2021-11-29 13:17] rarkins commented on #12843
gitlab.com will be ok

[2021-11-29 15:28] h-no commented on #12852
Here is a repo that fails when running `GONOSUMDB="github.com/h-no/*" go mod tidy`: https://github.com/h-no/renovate-reproduction-repo
I have not managed to get Renovate to want to update it into a state where `go mod tidy` fails however, do you need this?

[2021-11-29 17:32] rarkins commented on #12852
I usually prefer to be able to run an e2e test which verifies that a PR achieves the desired result. I guess in this case we can maybe just add the new option and be reasonably confident that it works.

[2021-11-29 19:16] #12070 closed

[2021-11-29 19:48] renovate-release commented on #12070
:tada: This issue has been resolved in version 29.28.2 :tada:

The release is available on:
- [GitHub release](https://github.com/renovatebot/renovate/releases/tag/29.28.2)
- `29.28.2`

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-11-29 19:51] h-no commented on #12852
I totally understand and appreciate if we can make that assumption. If I have a moment of inspiration I will let you know here.

One implementation detail that I guess needs to be figured out is what to do when `gomodTidy` is implicitly enabled:
[code]

[2021-11-29 21:37] donmahallem opened #12891 "Renovate removing dependencies in "unaffected" package in monorepo"
### How are you running Renovate?

WhiteSource Renovate hosted app on github.com

### If you're self-hosting Renovate, tell us what version of Renovate you run.

_No response_

### Please select which platform you are using if self-hosting.

_No response_

### If you're self-hosting Renovate, tell us what version of the platform you run.

_No response_

### Describe the bug

Dependencies are purge

[2021-11-30 03:22] olegkrivtsov commented on #7810
I'd like to take this one.

[2021-11-30 04:20] rarkins commented on #7810
Actually, I have changed my mind on this one. We should be moving towards off the shelf parsing and simpler extract functions, but combine them with the ability to "transform" files prior to extraction to fix any incompatibilities. Closing this.

[2021-11-30 04:20] #7810 closed

[2021-11-30 07:50] mzeijen commented on #12843
Disabling fetching release notes is not the fix. We do want it to fetch release notes, but only from sources that it can actually access, like our own Gitlab instance.

With all due respect, but creating a reproduction path to me seems a bit unnecessary. It will take me more time to do so, then it takes to implement the actual fix.

Adding an if statement just before [this](https://github.com/reno

[2021-11-30 08:34] olegkrivtsov commented on #11167
I'd like to help with this one.

[2021-11-30 08:44] viceice commented on #11167
checkout https://github.com/renovatebot/renovate/pull/9979 for a starter

[2021-11-30 08:45] olegkrivtsov commented on #7049
I'd like to take this one.

[2021-11-30 09:43] olegkrivtsov commented on #11167
As far as I can see [#9979](https://github.com/renovatebot/renovate/pull/9979) implements exactly what is required. I see that PR is Merged, but I don't see that changes in current `main`:

https://github.com/renovatebot/renovate/blob/d7713a39e9a3edb570eecc070d32198c956bd8f4/lib/workers/global/initialize.ts#L37-L47

So my plan for fixing this issue would be: take PR #9979 as a base and basicly do

[2021-11-30 09:54] rarkins commented on #11167
See https://github.com/renovatebot/renovate/pull/10106

IIRC it was failing on Windows CI

[2021-11-30 10:21] Turbo87 commented on #7636
FWIW in https://github.com/rust-lang/crates.io we have the same issue. I always have to manually delete the lockfile branches, but the other branches are deleted automatically.

I can't confirm though that the existing branches are reused. If I don't delete the lockfile branches then no new PRs will be opened in the next week until those branches are deleted.

[2021-11-30 11:23] rarkins commented on #7636
@Turbo87 so your use case is that you have the bors bot do the merge, but it doesn't delete the branch after? Can you enable automatic branch deletion using GitHub's features or does something block that?

[2021-11-30 11:51] rarkins commented on #12877
When I run locally, it does not reproduce. This would indicate that it's related to the Ubuntu-based base image we use to run Renovate in the app. I'll keep debugging further.

[2021-11-30 11:58] viceice commented on #12877
I'm using those certs too and do not have any issues with renovate.

I think @nairb774  is blocking the certificate validation request or the server is missing the intermediate certificate.

He needs to use the chained certificate files for the server, so it can send the intermediate certificate to the client.

[2021-11-30 11:59] rarkins commented on #12877
@viceice are you using the same type of certs with the hosted app though?

[2021-11-30 12:02] viceice commented on #12877
no, i'm using our docker image, published manually to ghcr

https://github.com/visualon/docker-images/blob/main/linux/renovate/Dockerfile

I don't need to configure any cert's on renovate, it works out of the box for me

[2021-11-30 12:03] viceice commented on #12877
so it miust be a difference to the hosted app docker image

[2021-11-30 12:17] Turbo87 commented on #7636
yeah, correct.

I don't seem to have access to that setting, but I can ask to enable it 👍

the easiest for us would be if renovate would delete the branch after the PR is merged, just like it does for regular dependency update PRs, but from your comment above it sounds like there are reasons that make this a little more complicated.

[2021-11-30 12:51] HonkingGoose commented on #11167
Direct quote from yourself: [^comment]

[^comment]: https://github.com/renovatebot/renovate/pull/10106#issuecomment-846368995

[2021-11-30 13:05] rarkins commented on #7636
Yeah, the challenge is knowing 100% sure that the branch is "abandoned" and not needed.

[2021-11-30 13:06] rez- commented on #4145
This would great for reducing the amount of concurrent builds in Jenkins whenever the merge requests need to be rebased.

[2021-11-30 13:22] rarkins commented on #4145
The amount of rebasing of stale PRs is directly tied to the number of open PRs. Why not reduce concurrent PRs further?

Also, I assume that you're really just wanting to limit how many commits you have, because every commit triggers a job? It's not necessarily about staleness alone?

[2021-11-30 13:43] jjonescz commented on #4145
Imagine you have 10 PRs created over time, with e.g., 1 hour between each PR created, so CI builds run in sequence, no pressure there. Then you merge one PR, the other 9 are rebased immediately and now all 9 CI builds run in parallel. That's my use-case.

Sure, there are solutions to this (disabling automatic rebase and triggering it manually; or limiting open PRs and manually selecting them in De

[2021-11-30 13:51] rarkins commented on #4145
I had in mind the existing solution of `prConcurrentLimit`.

Why have e.g. 10 concurrently open PRs in the first place and not e.g. 3? What good is a stale PR (i.e. stale because of this new feature blocking rebasing) compared to it simply being in the queue to be created once one of the three open ones are merged or closed? This approach also doesn't require manual input.

[2021-11-30 19:15] viceice commented on #11167
I think we now have a label to force a full ci run to catch the error. 🤗

[2021-11-30 19:16] viceice commented on #12843
I think we instead should catch the host disabled error at appropriate line of code.

[2021-11-30 19:25] philippe-granet commented on #4145
At work, we have the same problem, but with Gitlab-CI.
To reduce pressure on our Gitlab runners, I have do that:
* launch renovate bot only at night, when developers sleep
* use tags (https://docs.gitlab.com/ee/ci/yaml/#tags) to launch jobs on branches `renovate/*` only on specific runners with limited concurrent build:
[code]
So build launched by renovate bot only execute on runners with tags `ta

[2021-11-30 19:35] #4145 closed

[2021-12-01 00:27] eriksw commented on #6647
@SamuelCabralCruz's fix worked for me too.

It would be great if renovate could either do this automatically (add the version from the require directive to the replace directive so that they match) or at least a hint about it in the error message.

[2021-12-01 00:33] SamuelCabralCruz commented on #6647
@eriksw Just to make it clear, I guess you are referring to my second approach right?

[2021-12-01 00:43] eriksw commented on #6647
@SamuelCabralCruz Correct. (No changes to the renovate config, just adding a matching version to the replace directive.)

[2021-12-01 07:11] liangshengzhong opened #12903 "Add the ability to automatically re-trigger a GitLab pipeline if it fails."
### What would you like Renovate to be able to do?

Sometimes GitLab pipeline may fail for some reason (no available resource to run), it doesn't actually need someone to do a real fix. We just need to re-trigger the pipeline. It would be great if renovate can allow the pipeline to be automatically triggered again after the pipeline fails for a period of time.

### If you have any ideas on how thi

[2021-12-01 08:40] #12877 closed

[2021-12-01 08:58] rarkins commented on #12903
Sorry, but I don't like this idea. If your pipelines are flaky then you're going to need a human to retry them.

[2021-12-01 08:58] #12903 closed

[2021-12-01 11:22] HonkingGoose commented on #2958
@viceice Can you click on the box for: `docs: update references to renovate/renovate to v29.28.2` we have some really outdated references on our documentation site. 😉 I don't know why it didn't update us more regularly?

[2021-12-01 12:35] PlusMinus0 opened #12912 "Gitlab git host rule for gomod does not work"
### How are you running Renovate?

Self-hosted

### If you're self-hosting Renovate, tell us what version of Renovate you run.

https://gitlab.com/renovate-bot/renovate-runner/

### Please select which platform you are using if self-hosting.

gitlab.com

### If you're self-hosting Renovate, tell us what version of the platform you run.

_No response_

### Describe the bug

The url created for git

[2021-12-01 12:48] rarkins commented on #12912
Have you tried username/password instead of token?

[2021-12-01 13:04] PlusMinus0 commented on #12912
No, because the doc says, it needs to be token, and as I understand the code, it should not work. But if you tell me, that it should work, I will try.

[2021-12-01 13:19] PlusMinus0 commented on #12912
Update: If I set username and password, renovate will fail earlier, because it cannot find the repositories anymore.

[code]

[2021-12-01 13:26] rarkins commented on #12912
Yes, you're right. I just checked the source code: https://github.com/renovatebot/renovate/blob/dc9b5a0599502dc958ffe99525a4e55bde1b93e5/lib/manager/gomod/artifacts.ts#L39-L78

[2021-12-01 13:57] HonkingGoose opened #13348 "Fix Markdown generation script so output is correct"
**What browser are you using?**

Firefox 94.0.2 (64 bit) on Windows 11

**Describe the bug**

The config JSON is displayed too big.

Affected page example: https://docs.renovatebot.com/presets-config/

![bad-display-config-preset](https://user-images.githubusercontent.com/34918129/144246816-a6e64971-00d9-4339-a6bc-d5eb0d4d62d5.png)

**Steps to reproduce**

1. Edit the `mkdocs.yml` file, like this:

[2021-12-01 14:32] #10962 closed

[2021-12-01 15:02] renovate-release commented on #10962
:tada: This issue has been resolved in version 29.29.2 :tada:

The release is available on:
- [GitHub release](https://github.com/renovatebot/renovate/releases/tag/29.29.2)
- `29.29.2`

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-12-01 18:38] sanmibuh commented on #7214
It could be fantastic having this feature

[2021-12-02 04:11] olegkrivtsov commented on #11167
I tried to google "Windows CI", and no luck ( Could you please advice where I can find some info/instructions on how to run Renovate in Windows CI?

[2021-12-02 05:43] rarkins commented on #11167
This repo. We don't test in windows in PRs by default but we do once it hits main branch

[2021-12-02 06:22] PlusMinus0 commented on #12912
Unfortunately it's not a quick fix, because the used library git-url-parse does not support username:password@url (if I understand it correctly).

[code]

Makes me wonder, if I'm just doing something wrong. Same with faking the token, I don't see, where the username would get removed.

[2021-12-02 06:56] rarkins commented on #12912
One challenge here is that we can't always assume that any GitLab token we have is a CI token. E.g. it's possible to run Renovate with a GitLab PAT instead of CI token. Is there a way to distinguish the token types by their length or prefix?

[2021-12-02 06:58] rarkins commented on #7214
PRs welcome

[2021-12-02 07:06] rarkins commented on #11167
As @viceice pointed out, I think we now have a way to run the full tests (including windows) on-demand in PRs. So I suggest re-raising the same code, getting the CI tests to run, and then investigating from there.

[2021-12-02 07:09] olegkrivtsov commented on #3804
I'd like to help with this one.

[2021-12-02 07:13] olegkrivtsov commented on #11167
Could you please advice how to enable the label for full ci run? Should I check the docs of GitHub Actions? https://docs.github.com/en/actions

[2021-12-02 07:18] viceice commented on #11167
@olegkrivtsov Please open a draft pr, then we add `ci:fulltest` label, which causes full ci run (including windows and macos)

[2021-12-02 07:47] PlusMinus0 commented on #12912
Even, if I use `process.env.RENOVATE_TOKEN`, (which is a PAT, right?) I get the same error.

From Gitlabs page about [project access tokens](https://docs.gitlab.com/ee/user/project/settings/project_access_tokens.html) (emphasis mine):

[2021-12-02 08:38] augi commented on #12854
As I promised, here is the minimal reproduction repository: https://github.com/augi/renovate-issue-reproduction

Hope this helps to resolve this issue 🙏

[2021-12-02 09:23] rarkins opened #12914 "Improved age filtering/controls"
### What would you like Renovate to be able to do?

Be able to control not only the release's minimum age (`stabilityDays`) but also the potential to control all of these separately or at once:
- release age (`stabilityDays`.. needs renaming)
- minor age
- major age

The idea is you can e.g. control through config: "Don't raise a major PR until it's at least a month old, and no new release for 3 d

[2021-12-02 09:46] PlusMinus0 commented on #12912
I am one step further. Tried setting the token again with `<username>:<token>` and login appears to work. But I get the error

Will do some more debugging, but it might be, that a hint in the docs to include the username in the token might suffice.

[2021-12-02 10:14] olegkrivtsov commented on #9902
I've spent some time inspecting the code of

https://github.com/renovatebot/renovate/blob/fa01e11d9455f7a7434dc087dc584612902e4261/lib/workers/repository/process/lookup/index.ts#L30

since this function seems to be what creates the `packageFiles with updates`. I'm a bit confused what exactly is wrong here and what should be instead.

Regarding the dependency `golang.org/x/oauth2`, this dependency

[2021-12-02 10:18] HonkingGoose commented on #12914
Do you want to rename `stabilityDays` -> `minimumReleaseAge` in a new `breaking` release soon then? We're already gearing up for more `breaking` changes right now. I think the new name is way better! 😄

[2021-12-02 11:08] rarkins commented on #12914
We don't *need* to do a breaking release as long as we add migration code, which in this case should be fairly easy.

[2021-12-02 11:09] augi commented on #12854
Renovate has just processed the repository and updated just one dependency, as reported. The dependency with just one variable used is not updated.

So the reproduction is successful.

[2021-12-02 11:16] #9902 closed

[2021-12-02 11:16] HonkingGoose commented on #12914
Do you want a new issue to track the rename of `stabilityDays` -> `minimumReleaseAge`?

[2021-12-02 11:21] rarkins commented on #12914
Let's keep it here for now, we can maybe break it out later if we implement it separately. We will want to use a new unified syntax for all.

BTW `minimumMinorAge` is shorter but I worried it might "sound wrong". What do you think?

[2021-12-02 11:22] secustor commented on #12914
Wouldn't it be more intuitive from the UX perspective to use the `major`, `minor` configuration blocks instead of `minimumMinor`or `minimumMajor`?

[2021-12-02 11:25] rarkins commented on #12914
No, because then they'd get merged over the top and you could have only one. Also, you wouldn't know if it applies to `2.3.4`, `2.3.0` or `2.0.0`.

[2021-12-02 11:45] rarkins commented on #3804
Doesn't look like there's been any demand for this for 3 years, so let's treat it as low priority

[2021-12-02 12:18] PlusMinus0 commented on #12912
Okay, the error message seems strange:

"stderr":"go: gitlab.com/myorg/sd/spielwiese/my-test-package@v1.0.2: reading gitlab.com/myorg/sd/**spielwiese/my-test-package/spielwiese/my-test-package**/go.mod at revision spielwiese/my-test-package/v1.0.2: git ls-remote -q origin in /builds/myorg/build-infrastructure/renovate-runner/renovate/cache/others/go/pkg/mod/cache/vcs/9f82b0d95d783db95146c9082d9c51

[2021-12-02 12:41] rarkins commented on #12912
I don't know. Maybe the `insteadOf` command is interfering? What's your hostRule look like?

[2021-12-02 13:01] PlusMinus0 commented on #12912
Apart from the token, just like in the first post.

[2021-12-02 14:08] Stefan-J-Hanke opened #12918 "Link to GitLab Release page in MR is wrong"
### How are you running Renovate?

Self-hosted

### If you're self-hosting Renovate, tell us what version of Renovate you run.

29.2.6

### Please select which platform you are using if self-hosting.

GitLab self-hosted

### If you're self-hosting Renovate, tell us what version of the platform you run.

14.5.1

### Describe the bug

Renovate created an MR in a GitLab repository for a dependency ho

[2021-12-02 14:12] rarkins commented on #12918
Please paste the markdown of the MR here as closely as possible to the original

[2021-12-02 14:17] rarkins commented on #12912
Can you try with a longer matchHost, e.g. `https://gitlab.com/myorg/sd/spielwiese/my-test-package/`?

BTW one challenge is that Renovate already adds a hostType=gitlab rule by default, so any that you add in your own hostRules will be in addition to it. Have you tried with *no* hostRules entry but instead using the PAT to run Renovate instead of the CI token?

[2021-12-02 14:20] Stefan-J-Hanke commented on #12918
Unsure what you mean by _the markdown_. The MR just contains the HTML directly created by Renovate?

[2021-12-02 14:21] rarkins commented on #12918
Renovate should be sending markdown to gitlab, not html. You can usually see it by clicking the "edit" icon on the MR body description. You wrote "contained a link" but that's too vague so I want to see the full thing.

[2021-12-02 14:23] Stefan-J-Hanke commented on #12918
Oh my 🤣  trying a lame excuse: actually I'm distracted by a meeting. Will do.

[2021-12-02 14:31] Stefan-J-Hanke commented on #12918
This MR contains the following updates:

| Package | Type | Update | Change |
|---|---|---|---|
| [DotNetNugetPackageName](https://self.hosted/group1/group2/project1) | nuget | major | [`3.1.4` -> `4.0.1`](https://self.hosted/group1/group2/project1/-/compare/3.1.4...4.0.1) |

---

### Release Notes

<details>
<summary>group1/group2/project1</summary>

### [`v4.0.1`](https://self.hosted/group1/grou

[2021-12-02 14:31] viceice commented on #12918
I think this happens, when the links are relative, I've seen this too

[code]

[2021-12-02 14:39] Stefan-J-Hanke commented on #12918
@viceice unsure why this is linking to the CHANGELOG.md file and not the release page (https://gitlab.com/gitlab-org/gitlab-foss/-/releases/v14.5.0)?

[2021-12-02 14:41] viceice commented on #12918
I think because they also have a changelog.md in repo root and renovate somehow prefers that. 🤷‍♂️

[2021-12-02 14:44] Stefan-J-Hanke commented on #12918
good guess - indeed it looks like that's the case.

[2021-12-02 14:45] rarkins commented on #12918
I don't see any `/project/-/releases/` in the above, only a `/project/-/compare/`

[2021-12-02 16:24] osigida opened #12923 "Exceptions are swallowed on PR merge for BitBucket integration"
### How are you running Renovate?

Self-hosted

### If you're self-hosting Renovate, tell us what version of Renovate you run.

v29.29.2

### Please select which platform you are using if self-hosting.

Bitbucket Cloud (bitbucket.org)

### If you're self-hosting Renovate, tell us what version of the platform you run.

_No response_

### Describe the bug

Exceptions on PR merge are swallowed for Bi

[2021-12-02 16:48] wizgob opened #12924 ""azureAutoComplete" option does not set auto-complete on PR"
### How are you running Renovate?

Self-hosted

### If you're self-hosting Renovate, tell us what version of Renovate you run.

29.30.0

### Please select which platform you are using if self-hosting.

Azure DevOps (dev.azure.com)

### If you're self-hosting Renovate, tell us what version of the platform you run.

_No response_

### Describe the bug

I'm using a self hosted renovate with azure dev

[2021-12-02 17:10] #12924 closed

[2021-12-02 17:49] edmeister opened #12926 "Bitbucket-tags fetched from Terraform modules produce a 404 when pulling tags from Bitbucket"
### How are you running Renovate?

Self-hosted

### If you're self-hosting Renovate, tell us what version of Renovate you run.

Latest

### Please select which platform you are using if self-hosting.

Bitbucket Cloud (bitbucket.org)

### If you're self-hosting Renovate, tell us what version of the platform you run.

_No response_

### Describe the bug

My previous PR (https://github.com/renovatebo

[2021-12-02 20:34] setchy commented on #10955
**TLDR**
After some local debugging this seems to due to the shutdown of jcenter.bintray.com and certain jars not being available on repo.maven.apache.org.

**Details**
When renovate checks the datasource (maven) for releases of `com.apollographql.federation:federation-graphql-java-support` since v0.5.0, it correctly finds the 5 available from [repo.maven.apache.org](https://repo.maven.apache.org/

[2021-12-02 20:34] #10955 closed

[2021-12-02 20:48] setchy commented on #10954
Resolved with #12543

[2021-12-02 20:48] #10954 closed

[2021-12-03 01:31] twarner-sofi commented on #12837
Above seems to be working for us. Thanks for the help.

[2021-12-03 01:31] #12837 closed

[2021-12-03 03:43] olegkrivtsov commented on #3670
I'd like to take this one.

[2021-12-03 03:50] olegkrivtsov commented on #3728
I'd like to take this one.

[2021-12-03 03:52] olegkrivtsov commented on #4729
I'd like to help with this one.

[2021-12-03 06:02] rarkins commented on #3728
Actually this one needs a reproduction first

[2021-12-03 07:18] olegkrivtsov commented on #7049
My plan for fixing this issue:

1. Find all instances of `fs.readFile` as follows:

[code]

2. Walk through each item of that list and try to replace with `fs.readLocalFile` where possible.

[2021-12-03 08:14] ezloj opened #12936 "Bitbucket Server local presets don't support path or tag settings"
### What would you like Renovate to be able to do?

https://docs.renovatebot.com/config-presets/#self-hosted-git: Bitbucket local presets will only work for files that are stored in repo root.

Given a config such as `local>PROJECT/repostitory:path/preset#feature/branch`, renovate will fail with the following query:
https://git.impello.co.uk/rest/api/1.0/projects/PROJECT/repos/repostitory/browse/p

[2021-12-03 08:22] rarkins commented on #12936
What is the correct URL which should be used to specify a branch/tag?

[2021-12-03 08:23] rarkins commented on #7049
Focus on lib/manager only

[2021-12-03 08:41] rarkins commented on #3670
Blocked by #11024

[2021-12-03 09:42] ezloj commented on #12936
@rarkins
`https://hosted.bitbucket.url/projects/<project>/repos/<repo>/browse/path/preset.json?at=refs%2Fheads%2Ffeature%2Fbranch`

for `local>PROJECT/repostitory:path/preset#feature/branch`

So just needs `?at=refs%2Fheads%2Ffeature%2Fbranch`
or for tags `?at=refs%2Ftags%2F<tag_name>`

[2021-12-03 09:45] Stefan-J-Hanke commented on #12918
Just browsed the code a bit and I'd like to change [this line of code](https://github.com/renovatebot/renovate/blob/e8e99ef5b74a1117f9dc840dc01a4778a7c459ee/lib/workers/pr/changelog/release-notes.ts#L112). Never ran renovate locally let's see ...

[2021-12-03 10:15] rarkins commented on #12936
@olegkrivtsov can you take a look?

[2021-12-03 10:16] rarkins commented on #12918
Should work in gitpod too

[2021-12-03 11:32] #12926 closed

[2021-12-03 11:51] renovate-release commented on #12926
:tada: This issue has been resolved in version 29.31.1 :tada:

The release is available on:
- [GitHub release](https://github.com/renovatebot/renovate/releases/tag/29.31.1)
- `29.31.1`

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-12-03 13:28] RahulGautamSingh commented on #12071
@viceice @rarkins Is this issue still relevant since we are now caching the regex?

[2021-12-03 14:05] ruudvanderweijde commented on #12586
https://github.com/renovatebot/renovate/pull/12587#issuecomment-979440479

[2021-12-03 14:05] #12586 closed

[2021-12-03 14:10] rarkins commented on #12071
I'm not sure if there's much to gain now by moving them out of loops. IIRC @viceice thinks not?

[2021-12-03 14:12] rarkins opened #12944 "regex: add option to disable caching"
### Describe the proposed change(s).

Some regex patterns use dynamic strings and should not be cached. Instead, we should:
- Add a new optional second param to `regEx` being `useCache = true`
- Add `false` as second param for all such regexes
- Ensure such regexes are moved out of loops if they *are* reused multiple times (so that we don't create them multiple times within one function call)

[2021-12-03 14:12] rarkins commented on #12944
@RahulGautamSingh

[2021-12-03 14:14] rarkins commented on #12944
Example would be something like:

[code]

[2021-12-03 14:47] viceice commented on #12071
Yes, not much gain now, but we should generalize some commen regex.

[2021-12-03 18:09] jamesdh opened #12948 "Renovate creates multiple/duplicate Dependency Dashboard issues"
### How are you running Renovate?

Self-hosted

### If you're self-hosting Renovate, tell us what version of Renovate you run.

29.31.0

### Please select which platform you are using if self-hosting.

github.com

### If you're self-hosting Renovate, tell us what version of the platform you run.

renovatebot/github-action@v29.31.0

### Describe the bug

I originally found [this issue](https://issu

[2021-12-03 18:15] jamesdh commented on #12948
Is it possible the query is not correctly substituting the "createdBy" name and therefore unable to find the issue?

[2021-12-03 18:26] rarkins commented on #12948
You can see the list of URLs at the end of the repo run

[2021-12-03 18:46] jamesdh commented on #12948
@rarkins I'm not sure what URL's you're referring to. Do you mean this?

[code]

[2021-12-03 18:52] rarkins commented on #12948
There should be a more detailed log of URLs after that IIRC

[2021-12-03 18:53] jamesdh commented on #12948
Unfortunately not. I get "Repository finished" followed by "Renovate exiting" immediately after that.

[2021-12-03 19:01] rarkins commented on #12948
And you're running with debug logs right?

[2021-12-03 19:02] jamesdh commented on #12948
Yep.

[2021-12-03 20:04] rarkins commented on #12948
You should see something like this:

[code]

Note the *urls* list before the hostStats you posted earlier.

[2021-12-03 20:11] jamesdh commented on #12948
[code]

I filtered out all the logged URL's that were clearly just registry lookups as "..."

[2021-12-03 20:42] rarkins commented on #12948
Most likely explanation is that there's a mismatch in username. Please provide the full config (e.g. config.js) you are using, and clarify which type of token it is.

[2021-12-03 21:02] jamesdh commented on #12948
Actually I think you nailed it. Also, do we have to append "[bot]" to the username (similar to "renovate[bot]" if using the Renovate GitHub App) if we're using our own GitHub App for auth? I had to do that for the GraphQL query to return results correctly. Or does Renovate figure that out automatically?

[2021-12-03 21:57] DAGRSAG opened #12951 "PR gets auto-merged even if stabilityDays check is not green"
### How are you running Renovate?

Self-hosted

### If you're self-hosting Renovate, tell us what version of Renovate you run.

29.30.1

### Please select which platform you are using if self-hosting.

GitHub Enterprise Server

### If you're self-hosting Renovate, tell us what version of the platform you run.

3.2.4

### Describe the bug

I believe there is a problem when autoMerge is used in comb

[2021-12-03 22:04] rarkins commented on #12948
You need to append `[bot]` to the username. See https://docs.renovatebot.com/getting-started/running/#running-as-a-github-app

[2021-12-04 14:27] F43nd1r opened #12956 "Renovate creates multiple PRs for common versions in gradle version catalog"
### How are you running Renovate?

Self-hosted

### If you're self-hosting Renovate, tell us what version of Renovate you run.

renovatebot/github-action@v29.32.1

### Please select which platform you are using if self-hosting.

github.com

### If you're self-hosting Renovate, tell us what version of the platform you run.

_No response_

### Describe the bug

When using gradle version catalog vers

[2021-12-04 23:09] aarongoldenthal opened #12958 "Error generating package-lock.json"
### How are you running Renovate?

Self-hosted

### If you're self-hosting Renovate, tell us what version of Renovate you run.

29.32.1 (run per https://gitlab.com/renovate-bot/renovate-runner/)

### Please select which platform you are using if self-hosting.

gitlab.com

### If you're self-hosting Renovate, tell us what version of the platform you run.

_No response_

### Describe the bug

Renova

[2021-12-05 00:40] ryancausey opened #12959 "AWS Terraform provider update generates invalid .terraform.lock.hcl"
### How are you running Renovate?

Self-hosted

### If you're self-hosting Renovate, tell us what version of Renovate you run.

renovate/renovate:29.32.1-slim

### Please select which platform you are using if self-hosting.

gitlab.com

### If you're self-hosting Renovate, tell us what version of the platform you run.

GitLab SaaS

### Describe the bug

It seems that the Terraform manager no longe

[2021-12-05 05:44] rarkins commented on #12958
@viceice I need to test this. Perhaps is npm not preinstalled in the latest node?

[2021-12-05 06:02] rarkins commented on #12958
[code]

[2021-12-05 08:27] #12958 closed

[2021-12-05 08:42] renovate-release commented on #12958
:tada: This issue has been resolved in version 29.32.3 :tada:

The release is available on:
- [GitHub release](https://github.com/renovatebot/renovate/releases/tag/29.32.3)
- `29.32.3`

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-12-05 18:52] #12959 closed

[2021-12-05 19:07] renovate-release commented on #12959
:tada: This issue has been resolved in version 29.32.4 :tada:

The release is available on:
- [GitHub release](https://github.com/renovatebot/renovate/releases/tag/29.32.4)
- `29.32.4`

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-12-06 02:53] ryancausey commented on #12959
I can confirm this is fixed. Thanks everyone!

[2021-12-06 03:31] olegkrivtsov commented on #12936
My plan for fixing this issue:

1. Edit `lib/config/presets/index.ts` and modify the function `parsePreset()`:
https://github.com/renovatebot/renovate/blob/87abbebc1dadef142155b4ee04ffc40e1c44f5ae/lib/config/presets/index.ts#L75

Ensure it handles the URLs which cause failure.

2. Modify the function `fetchJSONFIle()` in Bitbucket source:

https://github.com/renovatebot/renovate/blob/main/lib/conf

[2021-12-06 03:40] olegkrivtsov commented on #11207
I'd like to help with this one.

[2021-12-06 03:42] olegkrivtsov commented on #10892
I'd like to take this one.

[2021-12-06 05:29] rarkins commented on #12936
Sounds like it could be a good idea to do in two steps- bitbucket first, and then parsing later. Important too that you can reproduce the problem

[2021-12-06 08:53] mowies opened #12966 "Treat Kubernetes repositories as monorepo"
### What would you like Renovate to be able to do?

Renovate supports lots of different monorepos, but what I think would be a nice addition are the kubernetes repositories. They are not set up as a monorepo but I think if they are used as dependency, they should be treated as a monorepo and updated all at the same time.
I have an example here from the [Keptn](https://github.com/keptn/keptn/) proj

[2021-12-06 08:59] viceice commented on #12966
https://github.com/renovatebot/renovate/blob/d1e8528305150b34ee109c586a985caf7afa7443/lib/config/presets/internal/monorepo.ts#L4-L10

[2021-12-06 09:00] viceice commented on #12966
There needs to be a new entry for the mentioned mono repo.

[2021-12-06 09:53] rarkins commented on #12966
@viceice perhaps better to add them to `group:recommended`? https://github.com/renovatebot/renovate/blob/3f0ec61b71b2a179eb5bb28ad8c9b7d70fe96940/lib/config/presets/internal/group.ts#L47

[2021-12-06 10:17] viceice commented on #12966
I think it depends on `sourceUrl`. If it's available, we should use it to group, otherwise we need a new manual group.

[2021-12-06 10:51] rarkins commented on #12966
If updating them separately almost always fails, then `group:monorepo` is ok by me even if from different repos. If they *can* be updated separately but most would want them combined, then `group:recommended`

[2021-12-06 11:42] #12853 closed

[2021-12-06 13:38] Leksat commented on #651
And https://github.com/marketplace/actions/composer-diff

[2021-12-06 14:07] rarkins opened #12977 "Build Renovate and add to releases"
### Describe the proposed change(s).

Once a GitHub release is done, let's "build" Renovate and it to each release. Perhaps can start with the JS version (using `ncc`) but `pkg` is also an option if we only need one platform

[2021-12-06 19:40] renovate-release commented on #12853
:tada: This issue has been resolved in version 29.32.5 :tada:

The release is available on:
- [GitHub release](https://github.com/renovatebot/renovate/releases/tag/29.32.5)
- `29.32.5`

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-12-06 23:45] cypher7682 commented on #7526
Same issue here. We're seeing

`{{#if isMajor}}` statements, along with all the major release information, in all our onboarding PRs D:

[2021-12-07 00:53] eriksw commented on #6647
Hm, adding the false version cause problems for a downstream project. It complains that it can't fetch the invalid version.

    Repo A (monorepo):
        .../module alpha:
            (nothing interesting)
        .../module beta:
            relatively requires and replaces alpha using an invalid version

    Repo B:
        .../module gamma:
            requires beta. can't be built because th

[2021-12-07 00:54] baardsen opened #12983 "Duplicate PR when referencing both plugin and library in gradle toml file"
### How are you running Renovate?

WhiteSource Renovate hosted app on github.com

### If you're self-hosting Renovate, tell us what version of Renovate you run.

_No response_

### Please select which platform you are using if self-hosting.

_No response_

### If you're self-hosting Renovate, tell us what version of the platform you run.

_No response_

### Describe the bug

In a repository that u

[2021-12-07 08:24] herndlm commented on #10649
Interesting, I seem to be having the same problem but not related to GitLab. My composer.json has 2 custom repos, basically looking like this
[code]
And I see that renovate is able to lookup packages from baz but not the ones from foo/bar because it tries to look on packagist.
[code]
I can though access `https://foo/bar/p/vendor/package.json` just perfectly fine.

I'll try to debug / fix this late

[2021-12-07 11:37] mhabzda opened #12988 "Respect repositories defined as an ext property for Gradle"
### What would you like Renovate to be able to do?
Created from the discussion - https://github.com/renovatebot/renovate/discussions/12975
Gitlab project for reproduction - https://gitlab.com/mqhabzda/renovate-gradle-issue/-/tree/main

I'd like to define repository URLs as ext Gradle properties and be able to use different repos based on a condition with Renovate such as:
[code]

### If you have a

[2021-12-07 16:51] stephaniewang526 opened #12994 "missing dependency update"
### How are you running Renovate?

WhiteSource Renovate hosted app on github.com

### If you're self-hosting Renovate, tell us what version of Renovate you run.

_No response_

### Please select which platform you are using if self-hosting.

_No response_

### If you're self-hosting Renovate, tell us what version of the platform you run.

_No response_

### Describe the bug

renovate-bot did not u

[2021-12-07 21:05] eriksw opened #12999 "Indirect dependencies in dependent go modules need to be updated"
### What would you like Renovate to be able to do?

Because go modules include indirect dependencies in the `go.mod` and `go.sum`, when Renovate updates a go module, it also needs to update dependent modules.

Scenario:

    monorepo/a:
        has a dependency that renovate is updating
    monorepo/b:
        has a dependency on monorepo/a
        has a replace rule for monorepo/a => ../a

[2021-12-08 04:18] #12854 closed

[2021-12-08 04:32] renovate-release commented on #12854
:tada: This issue has been resolved in version 29.33.1 :tada:

The release is available on:
- [GitHub release](https://github.com/renovatebot/renovate/releases/tag/29.33.1)
- `29.33.1`

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-12-08 08:39] herndlm commented on #10649
@mrgesco this might have been fixed with my changes that were released in 29.34.0. Let me know if it works now. If not fixed yet - I might be able to help out here. But I need at least a redacted output of your https://<GITLAB_URL>/api/v4/group/<GOURP_ID>/-/packages/composer/packages.json

[2021-12-08 09:33] arturgrigorenko201 opened #13003 "Not sure whether this should be opened as a bug report or a feature request:"
Not sure whether this should be opened as a bug report or a feature request:

It appears that renovate doesn't track/act appropriately on peer go module relationships, specifically, when it updates a _direct_ dependency of one go module, it doesn't update the _indirect_ dependencies of the go modules that depend on the updated module.

Scenario:

    monorepo/go/a:
        has a dependency that re

[2021-12-08 09:35] eriksw commented on #13003
This is a duplicate of #12999

[2021-12-08 09:59] #13003 closed

[2021-12-08 10:38] #10388 closed

[2021-12-08 10:55] osigida opened #13004 "Renovate decides not to reuse branch when it looks un-modified"
### How are you running Renovate?

Self-hosted

### If you're self-hosting Renovate, tell us what version of Renovate you run.

29.30.1

### Please select which platform you are using if self-hosting.

Bitbucket Cloud (bitbucket.org)

### If you're self-hosting Renovate, tell us what version of the platform you run.

_No response_

### Describe the bug

Renovate decides to not reuse branch when th

[2021-12-08 10:57] rarkins commented on #13004
Could you expand/rephrase your bug description so that it is more understandable?

[2021-12-08 10:57] renovate-release commented on #10388
:tada: This issue has been resolved in version 29.34.1 :tada:

The release is available on:
- [GitHub release](https://github.com/renovatebot/renovate/releases/tag/29.34.1)
- `29.34.1`

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-12-08 11:08] osigida commented on #13004
@rarkins is it better now?

[2021-12-08 11:11] HonkingGoose opened #13006 "Show Renovate version in `prBody`"
### What would you like Renovate to be able to do?

Our users get confused after Renovate has a major update, and open discussions/issues asking about a change that is explained in the changelogs. Example: https://github.com/renovatebot/renovate/discussions/12925#discussion-3719282

We cannot reliably link to a changelog right now (maybe later if we integrate Octoclairvoyant or build our own Renov

[2021-12-08 12:11] #11167 closed

[2021-12-08 12:39] renovate-release commented on #11167
:tada: This issue has been resolved in version 29.35.0 :tada:

The release is available on:
- [GitHub release](https://github.com/renovatebot/renovate/releases/tag/29.35.0)
- `29.35.0`

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-12-08 13:16] rarkins commented on #13004
I don't see anything wrong in the logs, apart from the last part where Bitbucket Cloud rejects the push. Is there a line before that which you think indicates a mistake?

[2021-12-08 13:21] #12966 closed

[2021-12-08 13:21] osigida commented on #13004
indeed, but why local copy become not up-to-date, when there were no changes?

[2021-12-08 13:28] osigida commented on #13004
@rarkins I added few more lines to debug to make this particular flow clear
https://github.com/renovatebot/renovate/pull/13009

once it is merged and released, I guess it will be easier to understand what is going on

[2021-12-08 13:34] rarkins commented on #13004
I don't think those will help.

Based on the log message, it's this logic being triggered:

[code]

It's most likely something like this: https://stackoverflow.com/questions/56191415/why-is-git-push-force-with-lease-failing-with-rejected-stale-info-even

BTW I suggest you try again with persistRepoData=false if you're using it

[2021-12-08 13:39] renovate-release commented on #12966
:tada: This issue has been resolved in version 29.36.0 :tada:

The release is available on:
- [GitHub release](https://github.com/renovatebot/renovate/releases/tag/29.36.0)
- `29.36.0`

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-12-08 13:43] osigida commented on #13004
Indeed we use `persistRepoData: true,` will try it.

However that sounds like a huge performance issue, fetch + rebase should be kinda enough...

I would expect Renovate to be able to deal with such kinda issues, or be able to recover somehow. It looks like it misses `git rebase` somewhere in the flow...

[2021-12-08 13:49] rarkins commented on #13004
My best guess is that the solution lies in the link I gave above.

[2021-12-08 13:55] osigida commented on #13004
`Adding the --prune option to my initial git pull (before doing my rebase) corrects this problem.` ?
maybe, but that means Renovate could do that as well

for me it looks like Renovate does not merge branches/PRs it opened itself, and which have no changes form outside

[2021-12-08 13:57] rarkins commented on #13004
Yes. Something for you to test locally?

I don't know what you mean by this

[2021-12-08 14:11] osigida commented on #13004
@rarkins I have no issues to rebase a branch manually, but that I a bit silly to rebase Renovate's branches.
I would expect it rebase itself, however it does not work like that.

the flow looks like that
1) renovate open a PR (this dependency has a history of updates, so there were PR's and branches)
2) master has changed, one of the developers merged something
3) renovate tries to update the PR a

[2021-12-08 14:15] osigida commented on #13004
`persistRepoData=false` helped (on the second run, looks like it did clean up in the end of the first run)
means there is an issue in the way it fetch and rebase change requests

[2021-12-08 14:36] secustor opened #13012 "Ignore retracted versions of go dependencies"
### What would you like Renovate to be able to do?

Currently Renovate picks simply the tags of a dependency and uses semver to get the highest version.
In case the highest version is retracted this this leads to unwanted upgrades.

 Example:
https://pkg.go.dev/k8s.io/client-go@v1.5.2?tab=versions
https://github.com/kubernetes/client-go/blob/v1.5.2/go.mod

### If you have any ideas on how this sho

[2021-12-08 14:40] Heisenberg74 opened #13013 "Renovate exit with code 0 when a Azure repository is disabled"
### What would you like Renovate to be able to do?

I would like Renovate doesn't exit with 0 when Azure Repository is disabled.

Right now, I use renovate running on Kubernetes as a CronJob.
If I disable a repos in Azure, renovate will fail, and Job will restart continuously.

### If you have any ideas on how this should be implemented, please tell us here.

Maybe by setting WARNING instear ERROR

[2021-12-08 14:49] erezrokah opened #13014 "Bug(lock-file): Renovate creates out of schedule lock file PRs"
### How are you running Renovate?

WhiteSource Renovate hosted app on github.com

### If you're self-hosting Renovate, tell us what version of Renovate you run.

_No response_

### Please select which platform you are using if self-hosting.

_No response_

### If you're self-hosting Renovate, tell us what version of the platform you run.

_No response_

### Describe the bug

Related to https://git

[2021-12-08 15:15] rarkins commented on #13014
The log says `DEBUG: No schedule defined(branch="renovate/lock-file-maintenance")`, so it seems pretty clear that Renovate doesn't think it's weekly. Are you seeing the same for any other branches or just the lock file maintenance?

[2021-12-08 15:33] rarkins commented on #13014
I've done a dry run locally with `printConfig: true` option and the resolved config looks "right":

[code]

*Maybe* this other reference could be interfering, but I don't expect so:

[code]

So now we need to work out why the schedule is somehow getting "lost".

BTW the schedule field controls when the branch is created, not when the PR is created. So if the branch already existed, then the schedu

[2021-12-08 15:35] erezrokah commented on #13014
Thanks @rarkins for the quick replies, we delete branches on merge so we should not have old branches.

I merged https://github.com/netlify/netlify-cms/pull/6040 just in case to see if a new one is created

[2021-12-08 15:43] erezrokah commented on #13014
It's not recreating the PR since there are not changes, but the logs are the same:

[code]

[2021-12-08 16:09] rarkins commented on #13012
Is this problem mostly avoided if GOPROXY is in use?

[2021-12-08 16:36] HonkingGoose commented on #13006
# Mockup with collapsed debug section (real markdown)

[![WhiteSource Renovate](https://app.renovatebot.com/images/banner.svg)](https://renovatebot.com)

This PR contains the following updates:

| Package | Change | Age | Adoption | Passing | Confidence |
|---|---|---|---|---|---|
| [prettier](https://prettier.io) ([source](https://togithub.com/prettier/prettier)) | [`2.5.0` -> `2.5.1`](https://re

[2021-12-08 16:50] osigida opened #13016 "Renovate merges branches outside of the schedule"
### How are you running Renovate?

Self-hosted

### If you're self-hosting Renovate, tell us what version of Renovate you run.

29.34.1

### Please select which platform you are using if self-hosting.

Bitbucket Cloud (bitbucket.org)

### If you're self-hosting Renovate, tell us what version of the platform you run.

_No response_

### Describe the bug

We defined a schedule for Renovate like foll

[2021-12-08 16:58] viceice commented on #13016
This is expected behavior, you can maybe try this: https://docs.renovatebot.com/configuration-options/#updatenotscheduled

[2021-12-08 17:01] osigida commented on #13016
@viceice I'm more than fine with updates and open PR's as soon as there is a need.
But I'm not fine with Merge, and it looks like at some point Renovate forgets about merge hours

[2021-12-08 17:10] viceice commented on #13016
There is no schedule for (auto) merge, this is currently by design. The schedule is only for when the branch for an update can be created (or updated with `updateNotScheduled=false`).

[2021-12-08 17:13] osigida commented on #13016
@viceice have you noticed ` mergeStatus=no automerge` in the log?

[2021-12-08 17:15] rarkins commented on #13006
I was meaning the renovate version for each of those actually. Eg if branch is created separately from PR then the version of renovate which created the commit may be more important than the version which created the PR later

[2021-12-08 17:16] viceice commented on #13016
I thiunk you're interested in https://github.com/renovatebot/renovate/issues/4866

[2021-12-08 17:18] viceice commented on #13016
This message means, renovate couldn't automerge via git branch merge and falls back to pr automerge

[2021-12-08 20:52] secustor commented on #13012
No, shouldn't make any difference as these proxies return all available versions even the retracted ones.

Regardless, the implementation will be easier when using proxies as we can download the `go.mod` directly from the same API as the versions are queried.
https://proxy.golang.org/k8s.io/client-go/@v/v1.5.2.mod

[2021-12-09 07:47] syphernl opened #13024 "Git version check too strict"
### How are you running Renovate?

Self-hosted

### If you're self-hosting Renovate, tell us what version of Renovate you run.

29.36.2

### Please select which platform you are using if self-hosting.

gitlab.com

### If you're self-hosting Renovate, tell us what version of the platform you run.

_No response_

### Describe the bug

## Issue
Renovate mentions that our Git version is too old:

[cod

[2021-12-09 07:55] ge-vlad-romanov opened #13025 "Renovate keeps reverting lockfileversion to 1 despite engine constraint"
### How are you running Renovate?

Self-hosted

### If you're self-hosting Renovate, tell us what version of Renovate you run.

29.33

### Please select which platform you are using if self-hosting.

GitHub Enterprise Server

### If you're self-hosting Renovate, tell us what version of the platform you run.

_No response_

### Describe the bug

Our git repo has a package-lock.json file with lockfi

[2021-12-09 09:01] olegkrivtsov commented on #12936
Hi @rarkins @viceice I'd like to request for advice from you. I think that the documentation https://docs.renovatebot.com/config-presets/ may need some clarification/improvement. If I follow the documentation, I get confused about the sense of `//` and `:`. For example:

[code]

The function `parsePreset` does the parsing of this string correctly. This will be parsed as: presetSource=local; packag

[2021-12-09 10:00] viceice commented on #12936
I see, the docs are missing a fix. use the github values as reference, i'll push a pr soon to fix it.

`sub` preset is an old concept. it will just return a sub part of the json file.

[2021-12-09 11:09] viceice commented on #12936
https://github.com/renovatebot/renovate/pull/13029

[2021-12-09 12:23] Nisden opened #13030 "Reviewers not getting added on Azure DevOps"
### How are you running Renovate?

Self-hosted

### If you're self-hosting Renovate, tell us what version of Renovate you run.

29.36.2

### Please select which platform you are using if self-hosting.

Azure DevOps (dev.azure.com)

### If you're self-hosting Renovate, tell us what version of the platform you run.

_No response_

### Describe the bug

One of my users are not getting added as an rev

[2021-12-09 12:45] #7882 closed

[2021-12-09 12:46] #11909 closed

[2021-12-09 13:21] sebarthel89 commented on #3970
any updates or workarounds to that ?

We try to only create branches, PRs and automerge within a certain time range (Monday, 7-9).

As described, renovate still merges PRs although it's not part of the defined schedule window.

[2021-12-09 13:40] HonkingGoose commented on #13006
Whoops, I was thinking of Git commits... 🙈
I've hidden the previous comment as it was totally wrong.

Here's the improved mockup! 😉

# Mockup with collapsed debug section `v0.3`

[![WhiteSource Renovate](https://app.renovatebot.com/images/banner.svg)](https://renovatebot.com)

This PR contains the following updates:

| Package | Change | Age | Adoption | Passing | Confidence |
|---|---|---|---|---

[2021-12-09 13:47] HonkingGoose commented on #12977
Do you mean `@vercel/ncc` [^vercel/ncc]?

I'm not sure what "build Renovate and add it to each release means" here. Do you intend for people to be able to "download Renovate" from the GitHub releases page?

[^vercel/ncc]: https://github.com/vercel/ncc

[2021-12-09 14:43] rarkins commented on #13030
How many reviewers are you adding in total?

[2021-12-09 14:58] ajoux-accor opened #13034 "[ packageRules ] Versioning & compatibility"
### How are you running Renovate?

Self-hosted

### If you're self-hosting Renovate, tell us what version of Renovate you run.

renovate/renovate:29.34.1

### Please select which platform you are using if self-hosting.

gitlab.com

### If you're self-hosting Renovate, tell us what version of the platform you run.

_No response_

### Describe the bug

Using versioning with compatibility at the begi

[2021-12-09 15:20] rarkins commented on #13034
Please put the reproduction on github.com so that we can fork it

[2021-12-09 15:27] ajoux-accor commented on #13034
Hi @rarkins , i just updated the link of files in the issue to match the github fork.
The github fork project can be found here : https://github.com/ajoux-accor/renovate/

[2021-12-09 16:55] viceice opened #13035 "Export an async function from `config.js`"
### What would you like Renovate to be able to do?

I like to do some async stuff in the `config.js`, so i should be able to export an async function.

### If you have any ideas on how this should be implemented, please tell us here.

see https://github.com/renovatebot/renovate/discussions/13033

### Is this a feature you are interested in implementing yourself?

Maybe

[2021-12-09 16:56] viceice commented on #13035
@rarkins @JamieMagee Comments? Suggestions?

[2021-12-09 17:08] rarkins commented on #13035
I hadn't realised it would be so simple. If it works, I can't think of any problems

[2021-12-09 17:10] Heisenberg74 commented on #13013
Sorry, I forgot to put my logs. It should be ok now. Thanks

[2021-12-09 17:11] viceice commented on #13035
we can first use `is.function` to check if it's a plain object or function.
If it's a function, we can simply invoke and await it.
maybe ca can also await the expoted value, so the export can also be a simple promise.

[2021-12-09 17:59] rarkins commented on #13035
A plain object could contain a function too though?

[2021-12-09 18:01] pmorch commented on #13035
What use case would benefit from being able to return an async function that is already not served by being able to return a `Promise` of a config?

[2021-12-09 18:22] pmorch commented on #13035
Perhaps my example would've been clearer to read like this :

[code]

[2021-12-09 18:31] pmorch commented on #13035
:-) It works. The example in #13033 works against our internal gitlab where `repositories` ends up with exactly the projects containing the `helm` topic.

[2021-12-09 18:34] viceice commented on #13035
I like to also support exporting a function directly, which makes code not much more complicated.

[2021-12-09 18:35] viceice opened #13037 "Duplicate changelog entries"
### How are you running Renovate?

WhiteSource Renovate hosted app on github.com

### If you're self-hosting Renovate, tell us what version of Renovate you run.

_No response_

### Please select which platform you are using if self-hosting.

_No response_

### If you're self-hosting Renovate, tell us what version of the platform you run.

_No response_

### Describe the bug

Duplicate changelog en

[2021-12-09 18:37] viceice commented on #13037
possibly because of
- https://github.com/renovatebot/renovate/pull/12543

/cc @sergVedmak

[2021-12-09 19:00] pmorch commented on #13035
And it does make `config.js` a little simpler to read:

[code]

So now it could be a function or not, that returns/is a promise or a plain object. The diff becomes a little larger and more test cases are required, but yes, not by much:

[code]
(I've used `is.fn` instead of `is.function` because `is.function` is deprecated)

[2021-12-09 19:41] HonkingGoose opened #13038 "Wrong links in our own autogenerated Renovate `30.0.0` release notes"
### How are you running Renovate?

WhiteSource Renovate hosted app on github.com

### If you're self-hosting Renovate, tell us what version of Renovate you run.

_No response_

### Please select which platform you are using if self-hosting.

_No response_

### If you're self-hosting Renovate, tell us what version of the platform you run.

_No response_

### Describe the bug

**Steps to reproduce:*

[2021-12-09 19:54] rarkins commented on #13038
I thought that github used to redirect all `/issues/x` urls to `/pull/x` if it was a PR.

I'm pretty sure `semantic-release` generates the text fully itself.

FYI here is the raw markdown:

[code]

[2021-12-09 19:56] viceice commented on #13038
I think GitHub disable the redirect. Not sure if it's intentional.

[2021-12-09 19:58] rarkins commented on #13038
FYI @travi @gr2m, have you seen this before? I've been browsing the semantic-release repos and don't see mention of something

[2021-12-09 20:01] travi commented on #13038
this is the behavior that i remember as well. if might be worth starting by reaching out to github support to see if the redirects were removed accidentally before effort is put into working around this.

[2021-12-09 20:07] rarkins commented on #13038
@JamieMagee Jamieeeeeeeeeeeeeeeeee

[2021-12-09 20:17] rarkins commented on #13013
I think the first thing we need to do is detect this git error as "not found":

[code]

That might be enough, but I'm not sure.

[2021-12-09 20:20] travi commented on #13038
for some context, [`@semantic-release/release-notes-generator`](https://github.com/semantic-release/release-notes-generator) uses [`conventional-changelog-writer`](https://github.com/conventional-changelog/conventional-changelog/tree/master/packages/conventional-changelog-writer) to generate the notes.

i found [an issue](https://github.com/conventional-changelog/conventional-changelog/issues/655)

[2021-12-09 20:23] viceice commented on #13013
`TF401019` would be enough.

[2021-12-09 20:34] Nisden commented on #13030
Just one

[2021-12-09 21:38] rarkins commented on #13030
So to be exact, this is the first time you've tried adding a reviewer, and it doesn't work? It's not that just one user in particular doesn't work?

Have you tried using a username instead of email? I checked our tests and we appear to use both in the test: https://github.com/renovatebot/renovate/blob/8dfb48e07bf127a0a6a7c687281cdd11927b7b90/lib/platform/azure/index.spec.ts#L964

[2021-12-09 21:43] JamieMagee commented on #13038
It wasn't me 👀

[2021-12-09 21:45] viceice commented on #13038
Do you know something? 🤭

[2021-12-10 03:40] olegkrivtsov commented on #3862
I'd like to take this one.

[2021-12-10 04:24] JamieMagee commented on #13035
I agree with Rhys on this. The changes look minimal, easily tested, and yet enables a lot for Renovate users. It gets a 👍 from me.

[2021-12-10 04:36] olegkrivtsov commented on #10892
Hi @rarkins it seems the pull request https://github.com/renovatebot/renovate/pull/10909 was already merged and presents in `lib/datasource/gitlab-packages`. Maybe this issue needs to be closed?

[2021-12-10 06:01] rarkins commented on #3862
@olegkrivtsov this might already be implemented as part of the changes made by @zharinov recently. Please check it out and close this if so. The logic for reducing query size has certainly been added already

[2021-12-10 06:15] #10892 closed

[2021-12-10 07:17] #12936 closed

[2021-12-10 07:32] renovate-release commented on #12936
:tada: This issue has been resolved in version 30.1.0 :tada:

The release is available on:
- [GitHub release](https://github.com/renovatebot/renovate/releases/tag/30.1.0)
- `30.1.0`

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-12-10 07:59] Nisden commented on #13030
Ill try and add the reviewer by username (To see if it works)

Its only this email having the issue.
We have two different rules that apply different reviewers (all singular), the other rule works correctly, and uses email as well.

[2021-12-10 08:19] rarkins commented on #13034
It turns out that the `git-tags` datasource was applying `semver.isVersion()` filtering before passing the results back to the application. This meant that the `develop-` versions were being filtered out early/unnecessarily before your custom regex versioning could be applied. Once #13043 is merged, your config should work as-is. Thanks for taking the time for the reproduction

[2021-12-10 08:20] rarkins commented on #13030
Renovate does not change its behavior based on what string you pass to reviewers, so if it works for one email and not another email, it's most likely Azure rejecting it for some unknown reason.

[2021-12-10 08:44] pmorch commented on #13035
@viceice : you write in the original post:

Do you want to do it or would you like me to prepare a PR?

If you'd like me to do it, would this be an appropriate commit message?

[code]

[2021-12-10 08:47] rarkins commented on #13035
Please go ahead with a PR.

Is it really breaking though? I thought it would be backwards compatible.

[2021-12-10 08:49] pmorch commented on #13035
Breaking? I'm glad I asked. Is there some convention in the commit message that implies that the change is breaking? As far as I can see it is backwards compatible.

[2021-12-10 09:03] viceice commented on #13035
I think it's not breaking, so remove `!` from the message header

[2021-12-10 09:12] #13034 closed

[2021-12-10 09:14] rarkins commented on #13035
Yes `feat(config)!` denotes a breaking change due to the `!`

[2021-12-10 09:26] viceice commented on #12157
@ste93cry You can manually create a pr and add the required `renovate.json` with your needs.

Yes, I think we can make them warning only if onboading?

[2021-12-10 09:29] renovate-release commented on #13034
:tada: This issue has been resolved in version 30.1.2 :tada:

The release is available on:
- [GitHub release](https://github.com/renovatebot/renovate/releases/tag/30.1.2)
- `30.1.2`

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-12-10 09:33] rarkins opened #13045 "Dependency replacement can cause changelog, PR body errors"
### How are you running Renovate?

WhiteSource Renovate hosted app on github.com

### If you're self-hosting Renovate, tell us what version of Renovate you run.

_No response_

### Please select which platform you are using if self-hosting.

_No response_

### If you're self-hosting Renovate, tell us what version of the platform you run.

_No response_

### Describe the bug

I noticed errors in th

[2021-12-10 09:44] Nisden commented on #13030
Is there a lower logFileLevel then `debug`?
As the current log does not include any indication of the failure.

[2021-12-10 09:51] viceice commented on #13030
you can use `trace` but that will be huge

[2021-12-10 10:45] olegkrivtsov commented on #3862
Hi @rarkins I was able to find a couple of files mentioning GraphQL:

1. https://github.com/renovatebot/renovate/blob/eeedadede767ecd3c9728f67c672f14a382c84bf/lib/util/http/github.ts#L260
2. https://github.com/renovatebot/renovate/blob/main/lib/platform/github/index.ts

I don't see neither the special handling of the 502 error code nor the query size reducing logic. Could it be that the recent PR

[2021-12-10 10:56] #11984 closed

[2021-12-10 10:58] viceice commented on #11984
@rarkins should we open a new issue to track managers which aren't ready yet?

[2021-12-10 11:01] rarkins commented on #11984
Were you thinking one common issue with checkboxes or one issue per manager? If the latter, we should open them only once buildpack supports user install.

Another big change is for me to support both language + manager dynamically. e.g. node is ready?

[2021-12-10 11:03] rarkins commented on #3862
Here is where we reduce the pagination size: https://github.com/renovatebot/renovate/blob/a9d334874aa172ba9afc7ffdc526b405c2f43411/lib/util/http/github.ts#L348

[2021-12-10 11:03] viceice commented on #11984
yes, that's the idea.

BTW: node should be ready for dynamic install now 🙃

[2021-12-10 11:16] pmorch commented on #13035
Ok, I'll use this:
[code]

[2021-12-10 11:17] olegkrivtsov commented on #3862
Thank you. I think we don't handle the 502 error separately. Here is how the errors between 500 and 600 are handled:

https://github.com/renovatebot/renovate/blob/a9d334874aa172ba9afc7ffdc526b405c2f43411/lib/util/http/github.ts#L71

My plan would be to add another else-if and check for code 502. It it equals, throw a special exception so it stops iterating.

[2021-12-10 11:39] renovate-release commented on #11984
:tada: This issue has been resolved in version 30.2.0 :tada:

The release is available on:
- [GitHub release](https://github.com/renovatebot/renovate/releases/tag/30.2.0)
- `30.2.0`

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-12-10 11:43] rarkins commented on #3862
Don't we want to continue iterating, but with a lower pagination count?

[2021-12-10 12:09] tarioch commented on #4951
Is there any workaround for this? Our corp policy doesn't allow any . in the branch names, therefore a lot of prs don't get created :(

[2021-12-10 13:29] Nisden commented on #13030
I tried changing it to trace, but from what I can see, it still gives no indication what-so-ever on why the reviewer is not added.

[2021-12-10 15:36] travi commented on #13045
it does seem like peer-dependencies are not handled very well at this point, but there are enough ways to handle that type of update that i wasn't surprised, especially remembering [this comment from the initial implementation](https://github.com/renovatebot/renovate/pull/5558#discussion_r738008790).

i found it odd that the normal additive approach was used rather than replacing the range definit

[2021-12-10 15:50] rarkins opened #13050 "Support new rangeStrategy=in-range-only"
### What would you like Renovate to be able to do?

Some people prefer to leave the package file unchanged and *only* do update-lockfile within the existing range.

### If you have any ideas on how this should be implemented, please tell us here.

The results should essentially be like `update-lockfile` but discard any updates which need a change to the package file.

We should recommend against i

[2021-12-10 16:06] rarkins commented on #13030
If Azure threw any errors then you'd see an error in Renovate's logs

[2021-12-10 18:44] #12270 closed

[2021-12-10 18:44] #11139 closed

[2021-12-10 20:41] rarkins commented on #4951
Here's a workaround that seems to work: https://github.com/renovate-reproductions/no-dots/blob/bcd17df9e6bcf021336fac719a4a0894322613f4/renovate.json#L2

[2021-12-10 20:58] tarioch commented on #4951
Hmm, I'm getting

[code]

Version: 30.2.0

config looks like this:

[code]

[2021-12-10 21:05] rarkins commented on #4951
Sorry, you need 30.2.1 to avoid that validation error

[2021-12-10 21:20] tarioch commented on #4951
Just upgraded to 30.2.1, but still doesn't seem to work, produces branch like this:

[code]

if this makes any difference, I'm using bitbucket server

[2021-12-10 21:22] rarkins commented on #4951
If you can reproduce it in a public github repo, then I can take a look. Note thought that the app is not yet upgraded

[2021-12-10 21:31] tarioch commented on #4951
I think this is tied to maven artifacts. If you look at the example

[code]

It seems to do the correct thing for the last part lombok-1-x but not for the groupId.

[2021-12-10 21:54] tarioch commented on #4951
Hmm,

I now tried

[code]

but it still doesn't work, will now try to replace also in branchPrefix, just to be sure

[2021-12-10 21:57] rarkins commented on #4951
It might be because the branchTopic contains a nested template which is not replaced

[2021-12-10 22:00] tarioch commented on #4951
I had also tried with

[code]

which didn't help either

[2021-12-10 22:20] tarioch commented on #4951
I created https://github.com/renovate-reproductions/no-dots/pull/4 which hopefully would reproduce the issue in your repo.

[2021-12-10 22:31] tarioch commented on #4951
Compared how it looks with and without the workaround, there is at least some effect

Without
[code]

With
[code]

[2021-12-10 22:34] tarioch commented on #4951
Is the issue that replace only replaces the last dot instead of all of them? That could be another explanation.

[2021-12-10 23:00] schuch commented on #8342
I close this issue to clean up behind me.

I never found out what caused the problem in our case. Maybe it was just a bug in our Gitlab instance.

[2021-12-10 23:00] #8342 closed

[2021-12-11 00:01] wjentner opened #13054 "Authentication failure after update to v30"
### How are you running Renovate?

Self-hosted

### If you're self-hosting Renovate, tell us what version of Renovate you run.

30.2.1

### Please select which platform you are using if self-hosting.

GitLab self-hosted

### If you're self-hosting Renovate, tell us what version of the platform you run.

kubernetes v1.21.7; gitlab community edition 14.5.2

### Describe the bug

After updating to v3

[2021-12-11 01:50] #12749 closed

[2021-12-11 01:50] #12664 closed

[2021-12-11 05:54] wwuck commented on #13038
https://github.com/github/feedback/discussions/8623

[2021-12-11 07:04] rarkins commented on #12124
Is there any easy way we can reproduce this problem locally?

One idea I have: run it in the debugger, with a pause sometime prior to the commit/push. Then intentionally edit the same branch on GitHub.com before resuming. This might be enough to cause the push --with-lease to fail.

[2021-12-11 07:06] rarkins commented on #11778
I think that the use of GOPROXY resolves the majority of this, because the majority of monorepo Go packages are public. But we still would like to fix this for when we do direct lookups. Before this we need to know more about how Go's algorithm works. E.g. how it knows to ignore "root" tags.

[2021-12-11 07:10] rarkins commented on #11769
Nuget versioning is here: https://github.com/renovatebot/renovate/blob/main/lib/versioning/nuget/index.ts

Sounds like for this issue we need to improve the compare() function.

[2021-12-11 07:20] rarkins commented on #11426
We don't want to invalidate the entire cache if an unused manager is changed, or perhaps a new one is added. Therefore the invalidation of cache should be based on each manager and:
- manager .TS contents hash
- fileMatch
- manager config of those with matches

So:
- if fileMatch changes then we invalidate the cache.
- We also invalidate it if the config for a matched manager is different
- We inv

[2021-12-11 07:23] rarkins commented on #1502
For now I'm classifying this as status:blocked because I want to complete the refactoring of migration code first, so that key ordering is preserved as much as possible. Without it, migration PRs will be harder to read.

[2021-12-11 08:37] viceice commented on #11769
![image](https://user-images.githubusercontent.com/1798109/145670232-63232d4f-7487-4dd0-8b71-ff3e43ec4461.png)

[2021-12-11 13:18] roobre commented on #13054
I believe this could be related to:

(https://github.com/renovatebot/renovate/releases/tag/30.0.0)

This should have been fixed here: https://github.com/renovatebot/helm-charts/pull/170

But unfortunately the line introduced in that PR will not be evaluated because the whole `env` section is guarded by another if: https://github.com/renovatebot/helm-charts/blob/5e50b02fcc60139538e07e1079464ce0fa9d

[2021-12-11 13:23] viceice opened #13057 "Deprecate generic `create` versioning in favor of `GenericVersioningApi` class"
### Describe the proposed change(s).

refactor all usages of
https://github.com/renovatebot/renovate/blob/ab018191fac6961b5f9d0a73261ac8fba0b4566f/lib/versioning/loose/generic.ts#L109-L112

to use `GenericVersioningApi`
https://github.com/renovatebot/renovate/blob/ab018191fac6961b5f9d0a73261ac8fba0b4566f/lib/versioning/loose/generic.ts#L126-L128

This will simplify and remove redundant code.

---

[2021-12-11 13:32] #13054 closed

[2021-12-11 13:37] #11769 closed

[2021-12-11 13:39] viceice commented on #4951
`"branchTopic": "{{{replace '\\.' '-' depNameSanitized}}}-{{{newMajor}}}{{#if separateMinorPatch}}{{#if isPatch}}.{{{newMinor}}}{{/if}}{{/if}}.x{{#if isLockfileUpdate}}-lockfile{{/if}}"` has explicit dots and you only replace them in `depNameSanitized`.

We use `g` flag for replace, so all dots should be replaced.
https://github.com/renovatebot/renovate/blob/a86eceb7d4f8650b2b62c4d8450e0c68a3e4af8

[2021-12-11 13:52] renovate-release commented on #11769
:tada: This issue has been resolved in version 30.2.2 :tada:

The release is available on:
- [GitHub release](https://github.com/renovatebot/renovate/releases/tag/30.2.2)
- `30.2.2`

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-12-11 14:21] rarkins commented on #4951
BranchTopic gets overridden in a few configs option objects though

[2021-12-11 14:23] viceice commented on #4951
So he needs to use `branchName`?

[2021-12-11 14:37] rarkins commented on #4951
I'm not sure it will fully work as is. The dot is coming from an implicit group name

[2021-12-11 15:22] defunctzombie commented on #6842
Is there still a plan to enable git lfs support for the hosted app? Or is the recommendation to self-host?

[2021-12-11 15:31] viceice commented on #6842
Yes, but still needs some time for all preparations.

[2021-12-11 18:53] tarioch commented on #4951
is there any way to do the replacement on that implicit group?

[2021-12-11 19:34] viceice commented on #4951
I think you can manually override the group slug

[2021-12-11 19:37] tarioch commented on #4951
Yes, but can I change the pattern? I don't want to change all groups manually. So it should stay the group from pom but just replace . With -

[2021-12-11 19:55] viceice commented on #4951
Currently not possible. Sorry

[2021-12-12 03:23] BeeeQueue commented on #8323
Repro: https://github.com/BeeeQueue/renovate-pnpm-repro

I made a workflow that passes if the lockfile is not updated so the PRs can be easily identified

[2021-12-12 09:53] #4619 closed

[2021-12-12 10:08] renovate-release commented on #4619
:tada: This issue has been resolved in version 30.3.1 :tada:

The release is available on:
- [GitHub release](https://github.com/renovatebot/renovate/releases/tag/30.3.1)
- `30.3.1`

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-12-12 11:32] RahulGautamSingh commented on #12944
On it.

[2021-12-12 11:55] RahulGautamSingh commented on #12944
I don't think it will be possible to take regex out of for-loop in some cases like this one:
[code]

[2021-12-12 12:05] rarkins commented on #12944
Exactly. That's why we need to disable caching in such cases

[2021-12-12 13:23] lukashass commented on #8323
@BeeeQueue Thanks for the reproduction.

It seems like the leading `./` in the packages filter is the problem (see https://github.com/lukashass/renovate-pnpm-repro) as also mentioned in https://github.com/renovatebot/renovate/issues/8323#issuecomment-901579729

The leading `./` is supported by pnpm as it successfully detects packages with it. As far as i can tell, the support is not explicit thoug

[2021-12-12 13:27] BeeeQueue commented on #8323
Is a leading ./ considered a bad practice or worse for some reason? Otherwise i don't see why it shouldn't be supported

If it won't be supported it would at least be nice with a warning about it somewhere if someone runs into it again

[2021-12-12 14:27] HonkingGoose opened #13069 "Use different example for internal package updates in Use Cases docs"
### Describe the proposed change(s).

## Problem

Our docs give an example of how we use submodule updating to automate our docs releases [^docs].
We will need to change our docs so that we use a different example [^code], as our current example will be outdated soon.

### Affected text:

## Related PRs:

- https://github.com/renovatebot/renovatebot.github.io/pull/107/
- https://github.com/renovat

[2021-12-12 16:11] lukashass commented on #8323
I see two ways of supporting leading `./` right now:

### The naive way

[code]

This should work just fine, but is obviously limited to just `./`.
For example `../` (packages in parent directory) and anything more complicated is not covered. While cases with packages in parent directories are probably uncommon, this seems to be supported by pnpm.

### Use `find-packages`

To also cover the case a

[2021-12-12 16:20] BeeeQueue commented on #8323
I can also recommend [@manypkg/get-packages](https://github.com/Thinkmill/manypkg/tree/master/packages/get-packages) which is supports multiple workspace tools

[2021-12-12 20:47] zml2008 opened #13074 "Add Guava to the list of known monorepos"
### What would you like Renovate to be able to do?

Google's [Guava](https://github.com/google/guava/) project is a commonly used library in the Java ecosystem. It consists of several libraries that are released together, currently:

- `com.google.guava:guava`
- `com.google.guava:guava-gwt`
- `com.google.guava:guava-testlib`

I would like these to automatically be updated in one PR, as libraries l

[2021-12-13 00:02] pmorch commented on #13035
As described in #13075, it runs out that 9aa97af5b346f82b48564c20c66783b51c3022d9 introduced around the same time as my original discussion in #13033 also did an extra `await` so `Promises` are now handled, so I didn't have to. But #13075 now tests both Promises and functions, even though it actually only handles functions.

[2021-12-13 01:03] wwuck commented on #12124
I'm not sure if I'm seeing the same problem on self-hosted renovate or if it's a different bug.

I have a `packageRules` enabled to group multiple packages, and renovate creates the initial PR for one dependency in the group.  When a second dependency in the group is updated, renovate will rebase and change the PR title but the PR body message is not changed to include the new dependency update.

[2021-12-13 05:12] rarkins commented on #12124
No, that's a different problem

[2021-12-13 07:20] rarkins commented on #13074
Relevant file: https://github.com/renovatebot/renovate/blob/main/lib/config/presets/internal/monorepo.ts

[2021-12-13 09:25] henrist opened #13081 "gradle-wrapper not updating distributionSha256Sum if grouped with other update"
### How are you running Renovate?

WhiteSource Renovate hosted app on github.com

### If you're self-hosting Renovate, tell us what version of Renovate you run.

_No response_

### Please select which platform you are using if self-hosting.

github.com

### If you're self-hosting Renovate, tell us what version of the platform you run.

_No response_

### Describe the bug

Reproduction: https://git

[2021-12-13 09:49] olegkrivtsov commented on #7049
Hi @viceice could you please reopen this since I didn't completed migration for other managers?

[2021-12-13 09:52] viceice commented on #7049
You should avoid the fixes or closes keyword in PR if you don't want to close the related issue. 😉

[2021-12-13 10:07] henrist commented on #13081
I've tried to dig through the source to understand what goes on. The only explanation I can think of is that the code that should reset the version for some reason is not properly executed. The code branch should be run since it _does_ add the sha256 parameter to the command executed. `newPackageFileContent` should also be correct since it successfully extracts the distribution URL from it.

https

[2021-12-13 10:54] #13074 closed

[2021-12-13 11:11] renovate-release commented on #7049
:tada: This issue has been resolved in version 30.4.0 :tada:

The release is available on:
- [GitHub release](https://github.com/renovatebot/renovate/releases/tag/30.4.0)
- `30.4.0`

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-12-13 11:11] renovate-release commented on #13074
:tada: This issue has been resolved in version 30.4.0 :tada:

The release is available on:
- [GitHub release](https://github.com/renovatebot/renovate/releases/tag/30.4.0)
- `30.4.0`

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-12-13 14:26] viceice commented on #13037
another sample https://github.com/viceice/dotnet-ts-testing/pull/185

[2021-12-13 15:03] pmorch commented on #10011
After the merge of #13075, it will be possible to do that sort of custom autodiscover-filtering yourself by using JavaScript to gather the list of repositories and then provide that list of repositories in the exported configuration like this:

[code]

[2021-12-13 15:10] rarkins commented on #13037
I guess it's treating an empty one as "different" from its sibling package

[2021-12-13 15:19] astellingwerf opened #13089 "Alphabetical order of `repoGroups` in `monorepo.ts`"
### Describe the proposed change(s).

Based on @viceice comment on #13087, we'll wanna fix the order of the `repoGroups` in `lib/config/presets/internal/monorepo.ts`. I'm planning to fix this myself (but don't have the privileges to assign it to me).

[2021-12-13 15:30] renovate-release commented on #13037
:tada: This issue has been resolved in version 30.4.1 :tada:

The release is available on:
- [GitHub release](https://github.com/renovatebot/renovate/releases/tag/30.4.1)
- `30.4.1`

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-12-13 17:18] travi commented on #13038
saw [this](https://github.com/github/feedback/discussions/8691#discussioncomment-1798886) today and confirmed that things seem to be working again. i think this can be closed

[2021-12-13 18:21] HonkingGoose commented on #13038
Closing this issue, the problem is resolved now!

Thank you everybody for helping debug the problem and providing helpful links! 🥳

[2021-12-13 18:21] #13038 closed

[2021-12-13 21:51] #13035 closed

[2021-12-14 04:56] rarkins commented on #7620
Yes, but maybe it's already solved - pleases verify

[2021-12-14 06:48] viceice opened #13095 "`kindest/node` is named `node.js` on dashboard"
### How are you running Renovate?

WhiteSource Renovate hosted app on github.com

### If you're self-hosting Renovate, tell us what version of Renovate you run.

_No response_

### Please select which platform you are using if self-hosting.

_No response_

### If you're self-hosting Renovate, tell us what version of the platform you run.

_No response_

### Describe the bug

`kindest/node` is clas

[2021-12-14 06:49] viceice commented on #13095
https://github.com/renovatebot/renovate/blob/65ed85a652db4e7e5de6f6d0b806afa362b1751c/lib/config/presets/internal/group.ts#L34-L45

[2021-12-14 07:13] #13095 closed

[2021-12-14 07:31] renovate-release commented on #13095
:tada: This issue has been resolved in version 31.2.0 :tada:

The release is available on:
- [GitHub release](https://github.com/renovatebot/renovate/releases/tag/31.2.0)
- `31.2.0`

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-12-14 12:53] pret-a-porter commented on #12062
@rarkins Please, assign this one to me

[2021-12-14 22:40] ishowta opened #13111 "Setting `:preserveSemverRanges` or `rangeStrategy` together with `config:js-app` or `config:js-lib` has no effect and is not user-friendly."
### What would you like Renovate to be able to do?

#### Problem
`config:js-app` and `config:js-lib` set `:pinAllExceptPeerDependencies` and `:pinOnlyDevDependencies` respectively, both of which use `packageRules - matchPackagePatterns`.
https://docs.renovatebot.com/presets-default/#pinallexceptpeerdependencies

And these will probably override `rangeStrategy`.

Thus, if a user (like me) tries to

[2021-12-15 01:43] sunecosuri opened #13112 "want to support a custom registry for the circleci orbs datasource."
### What would you like Renovate to be able to do?

 In the environment of an on-premise circleci server, the registry URL is not 'https://circleci.com'. So it would be nice if you could support changing the destination of the registry as desired.

### If you have any ideas on how this should be implemented, please tell us here.

If you set L8(customRegistrySupport) to true, it will look like it w

[2021-12-15 01:50] sunecosuri commented on #13112
related: https://github.com/renovatebot/renovate/pull/9142

[2021-12-15 01:51] #12794 closed

[2021-12-15 08:44] RahulGautamSingh commented on #12869
Hey @rarkins , can I take this one?

[2021-12-15 08:46] rarkins commented on #12869
@RahulGautamSingh sure, feel free to do one from the list per PR

[2021-12-15 11:57] olegkrivtsov commented on #7049
@rarkins regarding https://github.com/renovatebot/renovate/pull/13124#issuecomment-994686719

If we exclude `spec.ts` files, the only production manager file requiring the change is this one:

[code]

https://github.com/renovatebot/renovate/blob/d0d482155dbc8ec6d901105c246fb1542b6a3b00/lib/manager/terraform/lockfile/hash.ts#L29

But this particular instance can't be fixed because the file is creat

[2021-12-15 12:01] ishowta commented on #13111
[this](https://github.com/ishowta/my-test-repo-of-renovate) is minimal reproduction repository.
- [renovate.json](https://github.com/ishowta/my-test-repo-of-renovate/blob/main/renovate.json)
- [Github Action for renovate](https://github.com/ishowta/my-test-repo-of-renovate/blob/main/.github/workflows/renovate.yml)
- [Pin dependencies pull request](https://github.com/ishowta/my-test-repo-of-renovat

[2021-12-15 12:19] rarkins commented on #7049
I think that is OK. @viceice wdyt?

[2021-12-15 12:29] viceice commented on #7049
OK, but tests should also only mock our fs instead of system fs or fs-extra.

greadle deep can be ignored, as we will remove it soon.

[2021-12-15 13:19] erezrokah commented on #13014
Ok, so this has gotten worse, see https://github.com/erezrokah/netlify-plugin-epsagon/pulls?q=is%3Apr+is%3Aclosed

![image](https://user-images.githubusercontent.com/26760571/146193595-2d116def-8213-4fe9-90ea-3d6467433e1b.png)

[2021-12-15 13:26] TilmannBach opened #13125 "renovate cant load helm informations since version 30.x"
### How are you running Renovate?

Self-hosted

### If you're self-hosting Renovate, tell us what version of Renovate you run.

31.2.0

### Please select which platform you are using if self-hosting.

GitLab self-hosted

### If you're self-hosting Renovate, tell us what version of the platform you run.

GitLab 14.5.2

### Describe the bug

Renovat Bot cant get SOME package informations for helm pa

[2021-12-15 13:54] rarkins commented on #13014
I suggest you disable automerge or requiredStatusChecks=null. Npm is generating a different random string each run and then you have configured it to automerge immediately.

[2021-12-15 15:09] aaronadamsCA opened #13126 "[Node] Lock file maintenance gets stuck in conflicted (outdated) state"
### How are you running Renovate?

WhiteSource Renovate hosted app on github.com

### If you're self-hosting Renovate, tell us what version of Renovate you run.

_No response_

### Please select which platform you are using if self-hosting.

_No response_

### If you're self-hosting Renovate, tell us what version of the platform you run.

_No response_

### Describe the bug

Job ID 530403537, bran

[2021-12-15 15:13] rarkins commented on #13126
Can you create a repo which is in this state?

[2021-12-15 15:20] rarkins commented on #13125
There's been an increased number of warnings in the hosted app since this upgrade: https://app.renovatebot.com/package-diff?name=renovate&from=30.3.1&to=31.0.0

[2021-12-15 15:22] rarkins commented on #13125
@viceice I suspect it must be this change though: https://github.com/renovatebot/renovate/commit/b81e380c62caccc82868eebe200cd785806de20b#diff-a329a2367773be905043e68e6cb102f54cfaae8683c63422d06003e965dd373c

[2021-12-15 15:24] rarkins commented on #13111
`repositories` is not a valid field in `renovate.json`

[2021-12-15 15:29] viceice commented on #13125
@rarkins What are the warnings? I'm unsure what can cause those from the diff.

[2021-12-15 15:30] rarkins commented on #13125
@viceice same type as in the above, e.g. `WARN: Failed to parse index.yaml from .... `

[2021-12-15 15:34] viceice commented on #13125
strange, can we make a repro? I'm on mobile

[2021-12-15 16:25] tprochazka commented on #4109
To create Gerrit PR it is only necessary to do simple push command
`git.exe push  origin refs/heads/master:refs/for/master`
just instead of `master` there must by special reference `refs/for/master`

And you basically don't need to amend the last commit if you want just update the previous PR, you need just use the same `Change-Id: I8deb93e6ffba6005234b0d46d5ae9f285f9775a8` inside of the commit me

[2021-12-15 16:53] #13125 closed

[2021-12-15 17:02] HonkingGoose commented on #12914
@rarkins I think you have decided on a better name, but forgot to mention it in this issue?

Relevant part of something you said elsewhere [^quote]:

[^quote]: https://github.com/renovatebot/.github/pull/32#issuecomment-994720312

[2021-12-15 17:06] rarkins commented on #12914
I'm not sure it's better :)

[2021-12-15 17:10] renovate-release commented on #13125
:tada: This issue has been resolved in version 31.2.2 :tada:

The release is available on:
- [GitHub release](https://github.com/renovatebot/renovate/releases/tag/31.2.2)
- `31.2.2`

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-12-15 17:14] HonkingGoose commented on #12914
Oh I see! I misunderstood your comment... 🙈

I thought it was meant in a "I've found a better name" way, but it's really more like: "I know there's a feature request out there somewhere with this sort of feature, what's the name again?" way... 😄

It's tricky to find a better name that works for `major`, `minor` and `patch` level updates delays.

[2021-12-15 19:25] markussiebert opened #13131 "Support for other AWS Resources"
### What would you like Renovate to be able to do?

If you deploy a lot of infrastructure with AWS you may face several versioning problems. I want to give you some examples:

1. RDS (relational databases)

If you deploy databases you have to specify engine versions of your database instance. Thats fine ... you lookup that one you like and that's it. But than you have to take care of this instance

[2021-12-15 20:19] jamesdh commented on #12948
The appended `[bot]` ultimately ended up being the issue. Thanks for the clarification @rarkins!

[2021-12-15 20:19] #12948 closed

[2021-12-16 00:13] ishowta commented on #13111
I was confusing the repository configuration with the BOT configuration. Created `config.js`. Could you please check it?

[2021-12-16 05:31] rarkins commented on #13111
If you specify printConfig=true in your config.js then it should print out the full config after all presets are resolved. This will probably give us an indication of why the ordering is not happening why you expect.

[2021-12-16 05:35] rarkins commented on #13131
This sounds like a good idea. Do you know if AWS exposes any sort of API so that Renovate could query to learn e.g. the supported versions of Postgres in RDS?

[2021-12-16 05:46] ishowta commented on #13111
full config: https://gist.github.com/ishowta/6f8c59fee6be6ad0035378c2ce3ac6a7

https://gist.github.com/ishowta/6f8c59fee6be6ad0035378c2ce3ac6a7#file-config-json-L1812-L1823

[2021-12-16 05:52] ishowta commented on #13111
This is a feature request, and I don't consider it a bug. Just for the record.

[2021-12-16 07:25] mowies commented on #12999
We have the same issue in keptn/keptn :(
Renovate PR: https://github.com/keptn/keptn/pull/6377
Update PR to fix the dependencies: https://github.com/keptn/keptn/pull/6381

[2021-12-16 08:37] RehanSaeed opened #13136 "GitHub Action Updates Should Update Files Outside .github Directory"
### What would you like Renovate to be able to do?

I have project templates which contain GitHub Actions `.yml` files. These files do not live under the `.github/workflows` directory and so currently Renovate does not update them.

I would like Renovate to look for GitHub Actions `yml` files across the entire repo and update them.

### If you have any ideas on how this should be implemented, plea

[2021-12-16 09:01] rarkins commented on #13136
It's not a good idea to scan every yml file in every repo just in case they are an actions file. If it's the same format then you can use `fileMatch` to extend the existing patterns. Does that work for you?

[2021-12-16 09:02] rarkins commented on #13136
![image](https://user-images.githubusercontent.com/6311784/146340680-d780e214-f0b8-4f07-b9c2-6df8cefe4da2.png)

https://docs.renovatebot.com/modules/manager/github-actions/

[2021-12-16 09:19] RehanSaeed commented on #13136
That works, thanks.

[2021-12-16 09:20] RehanSaeed commented on #13136
Wait, would it make sense to scan for `**/.github/workflows/**/*.yml` instead of `.github/workflows/**/*.yml`?

[2021-12-16 09:22] markussiebert commented on #13131
I have to look into every Service, if they have something like apis, but for RDS we have the DescribeDbEngineVersions Command.

https://docs.aws.amazon.com/AWSJavaScriptSDK/v3/latest/clients/client-rds/classes/describedbengineversionscommand.html

I think we should start with the aws-rds-datasource, because I think this is the most important service (at least for me).

[2021-12-16 09:25] HonkingGoose commented on #13131
The Amazon RDS docs cover a `DescribeDBEngineVersions` [^docs] command, which does what you want, I think.

Sample response:

[code]

[^docs]: https://docs.aws.amazon.com/AmazonRDS/latest/APIReference/API_DescribeDBEngineVersions.html

[2021-12-16 09:30] HonkingGoose commented on #13136
I think the default/recommended path [^path] to put your workflow files is in the `.github/workflows` directory, if I'm reading the GitHub Docs correctly:

[^path]: https://docs.github.com/en/actions/learn-github-actions/workflow-syntax-for-github-actions#about-yaml-syntax-for-workflows

[2021-12-16 09:41] RehanSaeed commented on #13136
Yes thats correct.

I have a repo containing project templates which means I need to keep them elsewhere.

[2021-12-16 09:43] rarkins commented on #13136
I think we could widen our default `fileMatch` in that way too. The main point is that we won't check every yml file in every repository "just in case". If you can ensure they are always within a ".github/workflows/" directory - whether at the root or not - would seem like a suitable compromise.

[2021-12-16 09:47] 56KBs opened #13138 "`GOPRIVATE`/`GONOPROXY` parsed incorrectly"
### How are you running Renovate?

Self-hosted

### If you're self-hosting Renovate, tell us what version of Renovate you run.

31.2.2

### Please select which platform you are using if self-hosting.

GitLab self-hosted

### If you're self-hosting Renovate, tell us what version of the platform you run.

_No response_

### Describe the bug

When parsing the `GOPRIVATE`/`GONOPROXY` environment varia

[2021-12-16 10:06] 56KBs commented on #13138
From looking at this further I can see some attempt to fix up the value into a regex format, https://github.com/renovatebot/renovate/blob/ee2e155f1fd032ec77bed942ee7b797137bb5dd2/lib/datasource/go/releases-goproxy.ts#L55-L56 however this does not appear to be functioning as expected as I am experiencing internal modules being looked up via the goproxy

[2021-12-16 10:14] mmslkr opened #13139 "Fetching changelogs from github.com fails when the source URL contains "gitlab""
### How are you running Renovate?

Self-hosted

### If you're self-hosting Renovate, tell us what version of Renovate you run.

31.2.2

### Please select which platform you are using if self-hosting.

GitLab self-hosted

### If you're self-hosting Renovate, tell us what version of the platform you run.

31.2.2

### Describe the bug

When fetching changelogs, Renovate checks the source URL to decid

[2021-12-16 10:22] HonkingGoose opened #13140 "Document the rules for creating/editing Renovate internal presets"
### Describe the proposed change(s).

We're getting PRs from contributors to:

- Create/edit `lib/config/presets/internal/group.ts`
- Create/edit `lib/config/presets/internal/replacements.ts`
- Create/edit `lib/config/presets/internal/monorepo.ts`

There are some rules, but they're not written down anywhere, that I know of.
I want to make a new file called `creating-editing-renovate-presets` and p

[2021-12-16 11:02] RehanSaeed commented on #13136
Potential PR to fix this issue:

https://github.com/renovatebot/renovate/pull/13143

[2021-12-16 11:07] rarkins commented on #13131
Could be nice if we have a single datasource - maybe even called just `aws` which has a known set of lookup names it supports, e.g. `rds-postgres`, etc.

[2021-12-16 11:37] DanySK opened #13146 "Gradle TOML catalog plugin dependencies with a short syntax cause an 'invalid-config'"
### How are you running Renovate?

WhiteSource Renovate hosted app on github.com

### If you're self-hosting Renovate, tell us what version of Renovate you run.

_No response_

### Please select which platform you are using if self-hosting.

_No response_

### If you're self-hosting Renovate, tell us what version of the platform you run.

_No response_

### Describe the bug

Updates work when in t

[2021-12-16 12:15] rarkins commented on #13146
Needs a minimal reproduction, this one has 7 different package files:

[code]

[2021-12-16 12:46] rarkins commented on #13138
Glob matching is normally for file names though. We should work out what the path.Match equivalent is in JS, if any

[2021-12-16 12:48] rarkins commented on #13138
Their docs say `'*'         matches any sequence of non-/ characters` so how does `gitlab.example.com/*` match `gitlab.example.com/group/repository`? Is it a partial match?

[2021-12-16 13:00] #13111 closed

[2021-12-16 13:01] #13136 closed

[2021-12-16 13:41] morremeyer opened #13148 "devcontainer fails to build"
### How are you running Renovate?

Self-hosted

### If you're self-hosting Renovate, tell us what version of Renovate you run.

_No response_

### Please select which platform you are using if self-hosting.

_No response_

### If you're self-hosting Renovate, tell us what version of the platform you run.

_No response_

### Describe the bug

This issue might be related to #12156.

When building th

[2021-12-16 13:50] rarkins commented on #13139
I think it's possibly the combination of also running *on* gitlab self-hosted too

[2021-12-16 13:56] 56KBs commented on #13138
Yes, it appears to be doing a partial match - https://github.com/golang/mod/blob/master/module/module.go#L795-L841

The unit tests for this in the go code doesn't directly cover my example scenario, however manually inserting additional test cases in there does prove that is the behaviour that is happening.

[2021-12-16 14:13] rarkins commented on #13138
@zharinov sounds like we might need a custom solution for this:

[code]

@56KBs can the test cases you found be easily convertible into our own test cases so that we can verify an eventual solution? (and compare how accurate we are today)

[2021-12-16 14:17] viceice commented on #13148
This should fixy the issue
- https://github.com/containerbase/node/pull/5

[2021-12-16 14:18] viceice commented on #12156
This should fix the issue
- https://github.com/containerbase/node/pull/5

[2021-12-16 14:22] mmslkr commented on #13139
In my case, it really is just the check for
[code]
because changing the `depName` from `voxpupuli/puppet-gitlab_ci_runner` to `voxpupuli/puppet-GITLAB_ci_runner` solves it. But thanks for looking into it.

[2021-12-16 14:24] DanySK commented on #13146
Hi @rarkins, do you need a minimal reproduction even though it is tested and solved in #13147?

[2021-12-16 15:39] #13146 closed

[2021-12-16 16:10] renovate-release commented on #13146
:tada: This issue has been resolved in version 31.3.0 :tada:

The release is available on:
- [GitHub release](https://github.com/renovatebot/renovate/releases/tag/31.3.0)
- `31.3.0`

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-12-16 16:10] renovate-release commented on #13111
:tada: This issue has been resolved in version 31.3.0 :tada:

The release is available on:
- [GitHub release](https://github.com/renovatebot/renovate/releases/tag/31.3.0)
- `31.3.0`

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-12-16 19:48] scrocquesel commented on #13125
Just to let you know that the error didn't show up in the dashboard issue. I think the WARN log level is not enough in this case.

[2021-12-16 20:19] scrocquesel opened #13156 "helm aliases should be resolved in the helm datasource"
### What would you like Renovate to be able to do?

When extracting helm dependencies with regex manager, helm alias are not evaluate by the datasource. Currently it is up to the different helm managers to resolve the alias with the global helmAlias and they do it in different ways.
https://github.com/renovatebot/renovate/blob/ede1d2b5872c766fe98125d34680c167b42bc0b5/lib/manager/helmfile/extract.t

[2021-12-16 20:23] rarkins commented on #13156
The presence of duplicated code in managers doesn't necessarily mean it should be moved to the datasource. Aliases is a helm-specific concept we would prefer not to add to our generic datasource interface and `registryUrls` should be used instead.

[2021-12-16 21:19] scrocquesel commented on #13156
Sure, but in some way, the config is open to manager which is also generic. Why the difference between datasource and manager.
That said, an issue is that aliases can either be global or local to file being processed. Meaning, the manager should also be able to forward local aliases to the datasource.

But then we are stuck to only use supported helm file format to extract helm dependency. As an e

[2021-12-17 01:55] richardkazuomiller opened #13158 "Show number of days when age is greater than the stability days requirement"
### What would you like Renovate to be able to do?

The age badge seems to say "NEW" for a long time. I'm not sure how long, but the earliest badge I can find that has a number is 22 days. If the definition of "NEW" is 21 days, I think that's quite long in some cases. Although the stability days PR check tells us whether the PR is new enough or not, it would be nice to be able to see `3d` when the

[2021-12-17 05:52] rarkins commented on #13158
NEW is also used when the package/release is not found in the DB. Is it a private package?

[2021-12-17 07:51] #6568 closed

[2021-12-17 08:10] renovate-release commented on #6568
:tada: This issue has been resolved in version 31.4.0 :tada:

The release is available on:
- [GitHub release](https://github.com/renovatebot/renovate/releases/tag/31.4.0)
- `31.4.0`

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-12-17 08:43] #12944 closed

[2021-12-17 09:02] renovate-release commented on #12944
:tada: This issue has been resolved in version 31.4.1 :tada:

The release is available on:
- [GitHub release](https://github.com/renovatebot/renovate/releases/tag/31.4.1)
- `31.4.1`

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-12-17 09:18] HonkingGoose commented on #5098
Relevant quote from @rarkins [^quote]

[^quote]: https://github.com/renovatebot/renovate/pull/13135#issuecomment-996502814

[2021-12-17 10:06] olegkrivtsov commented on #3862
Regarding POST requests which result in error 502, got doesn't retry them by default: https://github.com/sindresorhus/got/blob/main/documentation/7-retry.md#methods

"By default, Got does not retry on POST."

I don't see any places in the code that would override this behavior.

I researched the `graphql` code to understand how exactly it handles error 502, and it seems that it already handles it

[2021-12-17 10:11] olegkrivtsov commented on #13050
I'd like to help with this one.

[2021-12-17 10:12] rarkins commented on #3862
OK, reassigning to @zharinov as he's worked in this area before

[2021-12-17 10:16] olegkrivtsov commented on #6798
I'd like to take this one.

[2021-12-17 10:17] olegkrivtsov commented on #6512
I'd like to take this one.

[2021-12-17 11:24] rarkins opened #13168 "autodiscoverFilter with commas"
This seems to be breaking our setup where we define the filter similar to this:

[code]

This gets mapped to the following value in 31.2.2

[code]

But it breaks to the following after that.

[code]

_Originally posted by @cascornelissen in https://github.com/renovatebot/renovate/issues/13100#issuecomment-996645166_

[2021-12-17 11:29] rarkins commented on #13168
@secustor I don't think we have any way to distinguish between an intentional list separated by commas vs a single string which includes commas. Here's our code:

https://github.com/renovatebot/renovate/blob/8b3b80c3e41d97f78d0ee884feb4a02603b4f081/lib/workers/global/config/parse/cli.ts#L50-L59

[2021-12-17 11:31] rarkins commented on #13168
I think this is a workaround: `RENOVATE_AUTODISCOVER_FILTER=["project/{a,b,c,d,*-app}"]`

But we probably should revert this in v31 and document it as a breaking change (for edge cases) for v32

[2021-12-17 11:47] rarkins opened #13170 "forking renovate failures"
### How are you running Renovate?

WhiteSource Renovate hosted app on github.com

### If you're self-hosting Renovate, tell us what version of Renovate you run.

_No response_

### Please select which platform you are using if self-hosting.

_No response_

### If you're self-hosting Renovate, tell us what version of the platform you run.

_No response_

### Describe the bug

I observed that a numb

[2021-12-17 11:55] cascornelissen commented on #13168
Just tried out what you suggested @rarkins but that results in the following (stripped out a bit for brevity)

[code]

[2021-12-17 12:07] fgreinacher commented on #12156
Works like a charm, thanks for taking care @viceice!

[2021-12-17 12:47] #13138 closed

[2021-12-17 14:04] renovate-release commented on #13138
:tada: This issue has been resolved in version 31.5.0 :tada:

The release is available on:
- [GitHub release](https://github.com/renovatebot/renovate/releases/tag/31.5.0)
- `31.5.0`

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-12-17 16:16] rarkins commented on #13170
I have filed a bug, but I'm not sure if it can be expected to be diagnosed or fixed quickly.

Known affected repos, which I'm not deleting due to open PRs, include:

https://github.com/GoogleCloudPlatform/cloud-sql-jdbc-socket-factory
https://github.com/GoogleCloudPlatform/python-docs-samples
https://github.com/googleapis/gapic-generator-go
https://github.com/metacontroller/metacontroller
https://

[2021-12-17 16:22] JustinBeckwith commented on #13170
Thank you for noticing and digging into this!  Honestly, deleting the forks and re-sending PRs isn't a big deal here.  Especially if it helps you debug what's happening :)

[2021-12-17 16:38] rarkins commented on #13170
I'm trying to remember what the problem was last time I deleted forks. IIRC it means open PRs are simply closed - which means "ignored" - and not recreated. But if I log in with the bot's credentials and rename+close them first then it should work, if you're ok with that?

[2021-12-17 17:56] JustinBeckwith commented on #13170
Tell you what - I don't want to make that decision unilaterally, and everyone at Google is off today through the weekend :) I am going to plus in @bcoe and @danoscarmike as FYI.

[2021-12-17 18:35] richardkazuomiller commented on #13158
No, I'm seeing it for stuff like eslint

[2021-12-17 18:38] richardkazuomiller commented on #13158
Here's the URL of the badge: <https://badges.renovateapi.com/packages/npm/eslint/8.4.1/age-slim>

It's 11 days old right now

[2021-12-17 21:28] maxbrunet opened #13176 "bitbucket-cloud: Updating PR fails with reviewers removed from the workspace"
### How are you running Renovate?

Self-hosted

### If you're self-hosting Renovate, tell us what version of Renovate you run.

latest (31.3.1 as of writing)

### Please select which platform you are using if self-hosting.

Bitbucket Cloud (bitbucket.org)

### If you're self-hosting Renovate, tell us what version of the platform you run.

_No response_

### Describe the bug

Similar to #10700, exc

[2021-12-18 01:59] asoneji commented on #6568
I was able to verify GitHub enterprise support for pods with `31.4.0` is fixed!

@zpei0411 Could you please also give it a try?

[2021-12-18 02:00] asoneji commented on #6568
Thanks for the help Renovate team!

[2021-12-18 09:18] rarkins opened #13181 "Publish CJS + ESM"
### What would you like Renovate to be able to do?

Publish both CJS + ESM so that downstream tools can migrate gradually to ESM, prior to us supporting ESM only once #9890 is done

### If you have any ideas on how this should be implemented, please tell us here.

@viceice :)

### Is this a feature you are interested in implementing yourself?

No

[2021-12-18 09:19] rarkins commented on #9890
Blocked by #13181

[2021-12-19 03:51] charleskorn opened #13189 "Non-existent or inaccessible Docker image causes Renovate to fail"
### How are you running Renovate?

WhiteSource Renovate hosted app on github.com

### If you're self-hosting Renovate, tell us what version of Renovate you run.

_No response_

### Please select which platform you are using if self-hosting.

_No response_

### If you're self-hosting Renovate, tell us what version of the platform you run.

_No response_

### Describe the bug

If any Dockerfile that

[2021-12-19 11:19] HonkingGoose commented on #7667
PR #5558 is merged. 🥳

You'll now get a special `replacement` PR to update from a deprecated npm package to the community suggested replacement. [^presets]
You can also make your own replacement PR rules, for `npm` packages. [^docs]

I'm not sure what we should do with this issue now that we have `npm` replacement support.
Do you want a new issue to track adding replacement PR support for more pac

[2021-12-19 13:02] rarkins commented on #6478
Duplicate of #5098

[2021-12-19 13:02] #6478 closed

[2021-12-19 13:10] rarkins commented on #7667
I think let's close this one. @JamieMagee how many separate issues do you think are necessary for the remaining replacement logic? 1 for auto replace plus 1 for each manager which implements its own update logic?

[2021-12-19 13:47] olegkrivtsov commented on #7620
Hi @rarkins I've checked and the problem still exists. I tried to fix it in https://github.com/renovatebot/renovate/pull/13196

[2021-12-19 19:13] #7667 closed

[2021-12-20 04:15] JamieMagee commented on #7667
Let me get the PR out for autoreplace, and then I can open the others. I haven't had much time for renovate development recently, but that's what Christmas is for, right? 😅

[2021-12-20 10:28] olegkrivtsov commented on #6512
Hi @rarkins I've tried to reproduce this, but Renovate works OK for me.

1. I forked the repo https://github.com/lsst-sqre/roundtable
2. I ran Renovate `yarn start`:

[code]

The stack trace provided in this issue description doesn't give enough info where the exception happens.

Maybe you can provide some more info on this problem?

[2021-12-20 10:41] olegkrivtsov commented on #6798
My plan for implementing this is the following:

1. Add a new datasource to `lib/datasource/golang-version`. Maybe use the `ruby-version` datasource as a base (it seems that datasource is very similar to what needs to be implemented).
2. Use https://go.dev/dl/ as the URL to scrape. As far as I can see, this HTML page can be parsed/scraped with regexes and golang versions can be extracted.

I've al

[2021-12-20 10:59] #6512 closed

[2021-12-20 11:21] viceice commented on #6798
Can you check if they also publish some JSON or yaml files? So we don't need those Regex stuff.

[2021-12-20 11:52] rarkins commented on #6798
We also want to make sure that we don't propose upgrades to people before the downloads are ready. @viceice This is maybe a chicken and egg problem if we want to use this datasource ourselves for building go images but also if we were to send people PRs which rely on our images being ready already.

[2021-12-20 12:21] viceice commented on #6798
yes, currently we use the golang docker images, so we're pretty sure all builds are ready.

here's the source for the release list: https://github.com/golang/website/blob/master/internal/history/release.go

[2021-12-20 12:47] HonkingGoose commented on #13006
@rarkins can you please take a look at the post above (mockup version `0.3`) and tell me if it's what you had in mind?

I don't know if mockup version `0.3` captures _all_ the possible state changes, here's what I have now:

[2021-12-20 15:44] rarkins commented on #13170
FYI I found that GitHub's web UI allowed me to manually resolve those repos, so at this moment I'm not aware of any still outstanding

[2021-12-20 15:44] #13170 closed

[2021-12-20 15:50] #5210 closed

[2021-12-20 21:45] fmustapha commented on #9592
Hello, any updates on this. I am getting the same warning in Azure Devops. The pipeline built successfully but I do not see any PRs created.

[2021-12-21 02:08] olegkrivtsov commented on #6798
Thanks @viceice, so my plan would be to use the URL https://github.com/golang/website/blob/master/internal/history/release.go you provided to extract versions.

[2021-12-21 02:58] olegkrivtsov commented on #13013
I'd like to help with this one.

[2021-12-21 04:35] olegkrivtsov commented on #11207
My plan for fixing this issue:

1. Modify `lib/config/options/index.ts` and add a new config option `globalPresets`:

[code]

2. Modify documentation and describe the new option.
3. Modify `lib/workers/global/index.ts`
https://github.com/renovatebot/renovate/blob/1445fb07bf1f530bb635e66b3521a1966ec9712f/lib/workers/global/index.ts#L84-L94

and call `resolveConfigPresets()` in it to immediately res

[2021-12-21 08:16] #3862 closed

[2021-12-21 08:20] rarkins commented on #13006
Seems OK to me. I'm wondering if I even *need* first commit and PR creation versions, but maybe we include them just in case? One downside is that the length of markdown is not minimal, meaning that it leaves less space for e.g. release notes. I'm not sure we need the links to release tags

[2021-12-21 10:15] 56KBs opened #13214 "Private GitLab Go Module Authentication Broken"
### How are you running Renovate?

Self-hosted

### If you're self-hosting Renovate, tell us what version of Renovate you run.

31

### Please select which platform you are using if self-hosting.

GitLab self-hosted

### If you're self-hosting Renovate, tell us what version of the platform you run.

_No response_

### Describe the bug

When using Renovate with GitLab containing modules that requir

[2021-12-21 10:30] rarkins commented on #13214
.netrc was never supported or documented. Please resubmit this as a feature request if the current capability does not meet your needs.

[2021-12-21 10:30] #13214 closed

[2021-12-21 10:32] rarkins commented on #13214
What I mean is that we don't intend to "unbreak" something as a bug fix which wasn't an intentional feature to begin with. If it can be supported properly as a feature because our current approach doesn't work then let's discuss.

[2021-12-21 10:40] 56KBs commented on #13214
Ah I was unaware that `~/.netrc` was never intended as a functional feature. It looks like #12912 would resolve my issue.

[2021-12-21 11:24] olegkrivtsov commented on #13050
My plan for fixing this issue:

1. Update `lib/config/options/index.ts` and describe the `in-range-only` strategy under the existing `rangeStrategy` option.
2. As the existing docs for `update-lockfile` (says)[https://docs.renovatebot.com/configuration-options/#rangestrategy]:

[code]

So, update the `getNewValue()` function in the above mentioned managers in `lib/versioning`. The function will al

[2021-12-21 11:28] rarkins commented on #13050
If rangeStrategy=in-range-only then you need to behave like update-lockfile but discard any updates where newValue !== currentValue.

[2021-12-21 11:45] olegkrivtsov commented on #13013
My plan for fixing this issue:

1. Modify `lib/workers/repository/error.ts` around this place:
https://github.com/renovatebot/renovate/blob/9b2c4b5af2b9a4bd94724885c6fb062d7ed14bfe/lib/workers/repository/error.ts#L87-L91

Check if the platform is Azure and `err.message` contains TF401019, then return `REPOSITORY_NOT_FOUND` instead of unknown error.

[2021-12-21 12:18] viceice commented on #13013
I think you need to modify here:
https://github.com/renovatebot/renovate/blob/d1229b228c403d68bebab5f56bba84a0e427c635/lib/platform/azure/index.ts#L174-L177

and add

[code]

[2021-12-21 12:54] HonkingGoose commented on #13006
How about we create a minimal version of the feature first, find out what code we need to make that work, then release it, and see how our users react to it?

We can always write more code later on if needed. 😄

I'm thinking of something like this:

- Use mockup `v0.3` as base, with these changes:
  - Drop the links to the Renovate release tags
  - Drop the `First commit` and `PR creation` list it

[2021-12-21 12:58] rarkins commented on #13006
Sounds good.

BTW this is not a purely simple idea, because it is adding a new type of "state". Previously, we would statelessly decide "what text should this PR body have?" and then update the PR if it was in any way different from what's already there. Now, we instead need to embed this within a special section, fetch that section from the existing PR, and then insert it into our model of "what

[2021-12-21 13:05] renovate-release commented on #3862
:tada: This issue has been resolved in version 31.11.0 :tada:

The release is available on:
- [GitHub release](https://github.com/renovatebot/renovate/releases/tag/31.11.0)
- `31.11.0`

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-12-21 13:09] #12912 closed

[2021-12-21 13:26] renovate-release commented on #12912
:tada: This issue has been resolved in version 31.11.1 :tada:

The release is available on:
- [GitHub release](https://github.com/renovatebot/renovate/releases/tag/31.11.1)
- `31.11.1`

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-12-21 15:54] annuh opened #13219 "Renovate does not (re)create a PR when using rebaseWhen=never"
### How are you running Renovate?

WhiteSource Renovate hosted app on github.com

### If you're self-hosting Renovate, tell us what version of Renovate you run.

_No response_

### Please select which platform you are using if self-hosting.

_No response_

### If you're self-hosting Renovate, tell us what version of the platform you run.

_No response_

### Describe the bug

Renovate does not auto

[2021-12-21 16:08] rarkins commented on #13219
Interesting, I have an existing fix PR related to rebaseWhen=never here: https://github.com/renovatebot/renovate/pull/13218

It was solving another problem, but may help with yours.

I will try to test it against your reproduction to see if it already fixes it.

[2021-12-21 17:06] rarkins commented on #13219
Actually that's quite an edge case. I recommend you don't use `rebaseWhen=never` in general, but definitely not with prCreation=not-pending.

[2021-12-21 18:32] volker-raschek opened #13220 "GITHUB_COM_TOKEN missing after upgrade from 29.14.0 to 31.11.2"
### How are you running Renovate?

Self-hosted

### If you're self-hosting Renovate, tell us what version of Renovate you run.

31.11.2

### Please select which platform you are using if self-hosting.

Gitea

### If you're self-hosting Renovate, tell us what version of the platform you run.

1.15.2

### Describe the bug

Failed to start renovate after update from 29.14.0-slim to 31.11.2.

[code]

[2021-12-21 19:37] RahulGautamSingh commented on #12869
Enabled strictNullChecks in semver and semver-coerced. Not sure how to check their boxes.

[2021-12-22 01:53] #12843 closed

[2021-12-22 06:10] #13013 closed

[2021-12-22 07:38] #7620 closed

[2021-12-22 08:02] renovate-release commented on #13013
:tada: This issue has been resolved in version 31.11.5 :tada:

The release is available on:
- [GitHub release](https://github.com/renovatebot/renovate/releases/tag/31.11.5)
- `31.11.5`

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-12-22 08:02] renovate-release commented on #7620
:tada: This issue has been resolved in version 31.11.5 :tada:

The release is available on:
- [GitHub release](https://github.com/renovatebot/renovate/releases/tag/31.11.5)
- `31.11.5`

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-12-22 08:42] markussiebert opened #13232 "Let Renovate be able to resolve secrets"
### What would you like Renovate to be able to do?

It would be nice if renovate could resolve secrets from several backends out of the box, as they are needed to perform actions with renovate. So you need your credentials for the gitapi, or some repositories.

It would be great if we could resolve the at runtime from backends like AWS SecretsManager, or SOPS, Azure Stuff?

### If you have any ide

[2021-12-22 08:47] viceice commented on #13232
You can export an async function from `config.js`, there you can resolve any custom secrets.

[2021-12-22 08:53] secustor commented on #13168
@rarkins WDYT about implement the optional regex interpreter before the breaking version, so that user can migrate in the meanwhile?

e.g "project/{a,b,c,d,*-app}" --> "regex:project\/(a|b|c|d|.*-app)"

[2021-12-22 09:02] rarkins commented on #13168
Maybe use `/ ... /` as the indicator though, or could that be a valid glob pattern?

[2021-12-22 09:52] markussiebert commented on #13232
ok, maybe you can explain it a little bit more? Sounds really interesting

[2021-12-22 10:15] viceice commented on #13232
*config.js*
[code]

[2021-12-22 10:43] secustor commented on #13168
As I am aware the trailing `/` is not valid in glob, but I have proposed `regex:` as we use it in different places already.
E.g. versioning. https://docs.renovatebot.com/modules/versioning/

[2021-12-22 10:47] viceice commented on #13168
we are also using `/ ... /` for regex

- https://docs.renovatebot.com/configuration-options/#allowedversions
- https://docs.renovatebot.com/configuration-options/#matchcurrentversion

[2021-12-22 12:31] HonkingGoose opened #13239 "Use monospaced style for Boolean values, and references to Renovate config options"
### Describe the proposed change(s).

https://github.com/renovatebot/renovate/blob/main/lib/config/options/index.ts has `description:` fields, that are also used to generate a part of the config option documentation.

I want to use the monospaced style for things like:

- [x] `true` or `false` Booleans
- [x] References to Renovate concepts like `packageRules`
- [x] References to filenames like `co

[2021-12-22 14:44] rarkins commented on #10110
npmrc data can come from multiple locations:
- global config via direct config (e.g. `config.js`)
- read from `~/.npmrc` if `detectGlobalConfig=true`
- repo config (e.g. `renovate.json`)
- checked into repo (next to `package.json`)

Ultimately these need to be combined and converted into hostRules + packageRules before calling the datasource.

`hostRules` are not path-specific so the later one wil

[2021-12-22 15:06] rarkins commented on #10110
If we have any `hostRules` with `hostType=npm` and auth, then we need to either create a `.npmrc`, or add to it if it already exists. If one already exists, should the lines be added before, or after?

And if the `.npmrc` from inside the repo contains variables, should we substitute?

I think we should consider *never* supporting variable substitution in `.npmrc` files, to simplify things for us.

[2021-12-22 15:19] kennethjor opened #13251 "Gradle Wrapper should update the version in the wrapper task as well"
### What would you like Renovate to be able to do?

Many people define a `wrapper` task in their Gradle files like

[code]
Renovate correctly updates the `gradle-wrapper.properties` file with the new version, but it would be neat if it could also detect this wrapper task definition and update that in the same way.

### If you have any ideas on how this should be implemented, please tell us here.

[2021-12-22 17:59] annuh opened #13252 "Renovate ignores rebaseWhen=conflicted for minor updates"
### How are you running Renovate?

WhiteSource Renovate hosted app on github.com

### If you're self-hosting Renovate, tell us what version of Renovate you run.

_No response_

### Please select which platform you are using if self-hosting.

_No response_

### If you're self-hosting Renovate, tell us what version of the platform you run.

_No response_

### Describe the bug

We are using `rebaseWh

[2021-12-22 18:00] annuh commented on #13219
Thanks for the tip! I've removed those settings and now I'm back to the original problem (why we needed `rebase=never` in the first place), but I've created a new issue for that 🙂

[2021-12-22 19:11] catostrophe commented on #3728
It seems that #11327 doesn't fix this issue. Still can't update -SNAPSHOT deps without setting `RENOVATE_EXPERIMENTAL_NO_MAVEN_POM_CHECK`.

[2021-12-22 19:50] rarkins commented on #3728
Needs reproduction

[2021-12-22 21:03] catostrophe commented on #3728
It turned out even RENOVATE_EXPERIMENTAL_NO_MAVEN_POM_CHECK didn't work out.

[2021-12-22 22:33] michaelheyman commented on #6885
We are also blocked from using the docker datasource because of this issue.

The related issue suggests that this is a policy issue, which is not the case for us.

Ideally, like this issue suggests, we would be able to somehow configure which `ecrRegex` where the tag list replacement is being done, or check against the 405 and maybe the `Docker-Distribution-Api-Version` header before retrying with

[2021-12-23 00:59] julienvey opened #13256 "Go dependencies update fails with `Could not forward go, probably wrong PATH variable.`"
### How are you running Renovate?

Self-hosted

### If you're self-hosting Renovate, tell us what version of Renovate you run.

31.11.6

### Please select which platform you are using if self-hosting.

GitLab self-hosted

### If you're self-hosting Renovate, tell us what version of the platform you run.

We are running renovate on a Kubernetes cluster as a cronjob

### Describe the bug

At some po

[2021-12-23 04:30] olegkrivtsov commented on #7623
I'd like to take this one.

[2021-12-23 04:35] olegkrivtsov commented on #6487
I'd like to help with this one.

[2021-12-23 06:06] rarkins commented on #6487
Let's get a reproduction first, including lock file if it's relevant

[2021-12-23 06:07] rarkins commented on #7623
Actually this might already be done - at least, in the lookupUpdates() function. There might be some per-manager work left to be done for some, but they should be split into separate issues with their own reproductions. Closing this.

[2021-12-23 06:07] #7623 closed

[2021-12-23 06:10] rarkins commented on #13256
That sounds like it's being thrown from `go` itself?

[2021-12-23 06:10] rarkins commented on #6885
PRs welcome. It needs someone using this setup of ECR to fix and verify it.

[2021-12-23 08:47] julienvey commented on #13256
🤷 I checked on the pod directly, go is present in `/usr/local/bin`

If I run a fresh `git clone` then `go get -d ./...` in the pod, I don't see any errors

[2021-12-23 09:12] viceice commented on #13256
Please describe your renovate deployment in more detail? which docker image are you using? are you doing any special modifications?

[2021-12-23 09:32] julienvey commented on #13256
We are using a copy of the docker hub image renovate/renovate. (we just reuploaded it to our internal registry)

We run it with the following cronjob, the only setup we do is for git credentials and token access

<details><summary>Cronjob</summary>

[code]

</details>

We use the following config

<details><summary>Config</summary>

[code]

</details>

[2021-12-23 09:47] viceice commented on #13256
your command should be:
[code]

1. Use bash for right renovate env
2. Use `$HOME` as username will change in future
3. Use official `renovate` comand, to not be dependend on renovate location, which may also change in future.

maybe it has something todo with `GONOSUMDB` env?

[2021-12-23 10:27] julienvey commented on #13256
Ok, the change from `sh` to `bash` seems to fix the problem. Not sure at which version it started to fail, but now it's fine.

Thanks @viceice for pointing in the right direction 👏

[2021-12-23 10:27] #13256 closed

[2021-12-23 14:07] fgreinacher opened #13270 "Consider LTS versions when upgrading Node.js docker image"
### What would you like Renovate to be able to do?

Renovate should consider LTS semantics when upgrading Node.js Docker images.

See https://github.com/renovatebot/renovate/discussions/10163 for more context.

### If you have any ideas on how this should be implemented, please tell us here.

We could add something like this to `config:base`

[code]

This would not work out-of-the-box when people

[2021-12-23 15:18] rarkins commented on #13270
Very closely related: https://github.com/renovatebot/renovate/issues/5990

My idea is to separate the concept of compatibility from version, so that e.g. instead of docker versioning being compatibility-aware, instead we split typical docker tags into version-compatibility.

[2021-12-24 07:00] olegkrivtsov commented on #4296
I'd like to take this one.

[2021-12-24 07:01] olegkrivtsov commented on #4294
I'd like to help with this one.

[2021-12-24 11:32] rarkins commented on #11207
Blocked by #12205

[2021-12-26 08:09] rarkins commented on #5990
I don't think we can reuse `extractVersion` because the following are quite difference concepts:
- How to split strings found within the repo into the version part and the compatibility part (e.g. `14.16.0-alpine` into `{currentValue:"14.16.0",compatibility:"alpine"}`)
- How to extract a the version we care about from a datasource, e.g. `v14.16.0` -> `{version:"14.16.0"}` [currently `extractVersio

[2021-12-27 02:32] m4theushw commented on #5640
I have this same need. In my case, I don't need support for commit hash but only the branch name at the end of the URL, which might not be the default one. I started to look on how to support this kind of dependency and we could reuse the `git-refs` datasource and bypass the locked version set by `yarn.lock`. Can I open a PR with what I've done so far?

[2021-12-27 03:00] renovate-release opened #13287 "The automated release is failing 🚨"
## :rotating_light: The automated release from the `main` branch failed. :rotating_light:

I recommend you give this issue a high priority, so other packages depending on you can benefit from your bug fixes and new features again.

You can find below the list of errors reported by **semantic-release**. Each one of them has to be resolved in order to automatically publish your package. I’m sure you

[2021-12-27 07:28] rarkins commented on #5640
@m4theushw can you create a reproduction first and show manually what the PR should look like? Then I can advise if a PR would be a good idea.

[2021-12-27 09:26] herndlm commented on #2355
With Composer 2.2 and #13154 the update behaviour should have been greatly improved.

The discussion here is a bit mixed though - should Renovate still get the feature that was initially described here (using the PHP constraint on lookup to not create PRs of deps that need newer PHP versions)?

Or is what is described in https://github.com/renovatebot/renovate/issues/2355#issuecomment-641884830 en

[2021-12-27 11:43] #13287 closed

[2021-12-27 12:43] bobvandevijver commented on #2355
In my opinion this can be closed. I like that Renovate opens a PR for a dependency, even though it requires a newer PHP version, as it still will post on why it cannot be installed with the given constraints. It is a good reminder that the project most probably should be updated to a newer PHP version anyways.

[2021-12-27 13:47] m4theushw commented on #5640
@rarkins Here's the reproduction: https://github.com/m4theushw/renovate-git-urls

The real application using this dependency is https://github.com/mui-org/material-ui-x/blob/master/package.json#L68

To add support for branch-based git urls, the first step would be to replace the `skipReason` below with the information for the dependency. The datasource would be set to `git-refs`. For the versionin

[2021-12-27 16:03] icedream commented on #2355
How is the resolve on considering dependencies based on what's defined in config.platform? I think it was mentioned in this discussion but I missed what was decided/implemented for that, that would at least be a solution for projects that can not be upgraded to newer PHP versions but still need properly working update PRs (e. g. projects based on CMS with plugins to be kept updated such as Shopwar

[2021-12-27 16:21] herndlm commented on #2355
@icedream The latest renovate (combined with Composer 2.2) is not ignoring the PHP platform requirement anymore, so when running `composer update` Composer internally should just use `config.platform` as expected. See also https://docs.renovatebot.com/configuration-options/#composerignoreplatformreqs

[2021-12-28 04:42] olegkrivtsov commented on #12956
I'd like to help with this one.

[2021-12-28 04:45] olegkrivtsov commented on #12727
I'd like to take this one.

[2021-12-28 05:56] logosmjt opened #13295 "Support scan buildSrc's Dependencies?"
### What would you like Renovate to be able to do?

[code]

There are many projects that manage dependencies in this way.
Renovate could support this way to scan?

### If you have any ideas on how this should be implemented, please tell us here.

Scan `Dependencies.kt` and `build.gradle.kts`.

### Is this a feature you are interested in implementing yourself?

Maybe

[2021-12-28 06:26] suzuki-shunsuke commented on #686
This issue seems to be solved by https://github.com/renovatebot/renovate/pull/11565 .

[2021-12-28 06:27] rarkins commented on #12956
I think we probably need @zharinov to take this one

[2021-12-28 07:02] olegkrivtsov commented on #4296
My plan for implementing this:

1. I guess there will be needed a new manager, e.g. `envfile`? So, I would add it to `lib/manager/envfile`. Take `lib/pyenv` as a base maybe.
2. In the `envfile` manager's `extract.ts`, split the file into lines. For each line, check if it contains `number #renovate: xxxx/yyyyy`. If so, consider this a dependency.

Could you please tell me if this is an acceptable s

[2021-12-28 07:05] rarkins commented on #4296
I think let's go back to "requirements" stage with this one and also put it into a reproduction.

I don't want any new manager - the idea is that people could annotate the docker compose file and not need their own regex manager

[2021-12-28 07:05] #686 closed

[2021-12-28 07:07] rarkins commented on #13295
It sounds like something we might be able to add support for. Can you create a reproduction to begin with?

[2021-12-28 07:13] rarkins commented on #5640
Can you manually create the PR you expect? I'm not sure what you're expecting because it's set to a non-versioned branch name

[2021-12-28 07:40] olegkrivtsov commented on #4294
Not sure if the description of this issue is outdated, but I didn't find `lib/versioning/git/storage.ts`. So, I assume the issue is related to `lib/util/git/index.ts`.

I looked for an existing approaches to retrying git commands, and found this script used in Chromium: https://commondatastorage.googleapis.com/chrome-infra-docs/flat/depot_tools/docs/html/git-retry.html
Source: https://chromium.goo

[2021-12-28 08:12] herndlm commented on #11019
@mbrodala since https://github.com/renovatebot/renovate/pull/13187 the minor version is extracted as well on constraint detection, this might help too. I have not tried it yet but https://docs.renovatebot.com/self-hosted-configuration/#binarysource (set to install) sounds very promising too, I think this is going to become the default at some point.

[2021-12-28 08:28] mbrodala commented on #11019
Thanks for the info, right now it seems to work fine in any case so I'll close this.

[2021-12-28 08:28] #11019 closed

[2021-12-28 09:20] rarkins commented on #4294
Maybe you can wrap the existing git instead? Or so that the existing file remains essentially the same

[2021-12-28 11:19] jbergstroem opened #13299 "{{version}} in commitMessageExtra contains "v""
### How are you running Renovate?

WhiteSource Renovate hosted app on github.com

### If you're self-hosting Renovate, tell us what version of Renovate you run.

_No response_

### Please select which platform you are using if self-hosting.

_No response_

### If you're self-hosting Renovate, tell us what version of the platform you run.

_No response_

### Describe the bug

When using `{{version}

[2021-12-28 12:20] avm99963 commented on #4109
I myself use Gerrit and would like to join in the efforts to make renovate available for gerrit, so I'll fork @derkoe's branch and try to figure out how to continue implementing it (I'm new to renovate!).

If someone else is also interested in continuing @derkoe's work, please say so and we can coordinate!

[2021-12-28 21:30] riconnon commented on #6684
FWIW I think there's also a bug in the limit logic...
https://github.com/renovatebot/renovate/blob/main/lib/workers/repository/process/write.ts#L24-L33
Here we observe the remaining PRs and branches and then update the max limit based on that, which if the current value is >0 will result in reducing the limit by the current value each time, in addition to incrementing current.

[2021-12-28 22:25] aaronadamsCA commented on #13126
That might be more difficult than it's actually worth. As soon as one sub-dependency released and Renovate re-ran, this issue cleared itself, because "yarn.lock hasn't changed vs. main" was no longer the case.

It lasted long enough for me to fiddle around with it, get frustrated, and file the bug; but not much longer than that.

To create a stable minimal reproduction, I think I would need to pub

[2021-12-29 02:22] logosmjt commented on #13295
According to these two issues,
https://github.com/renovatebot/renovate/pull/4086
https://github.com/renovatebot/renovate/issues/5480
is it recommended to update fileMatch?

[2021-12-29 06:26] #12071 closed

[2021-12-29 08:09] logosmjt commented on #13295
I migrated this [small sample](https://github.com/logosmjt/JetpackComposeSample) to `buildSrc`.

[2021-12-29 08:37] renovate-release commented on #12071
:tada: This issue has been resolved in version 31.14.0 :tada:

The release is available on:
- [GitHub release](https://github.com/renovatebot/renovate/releases/tag/31.14.0)
- `31.14.0`

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-12-29 09:23] olegkrivtsov commented on #12727
My plan for fixing this issue:

1. Modify `lib/manager/pip_requirements/extract.ts`:

https://github.com/renovatebot/renovate/blob/cc34a1b4e918b267d6e928b57b31d853fe15223c/lib/manager/pip_requirements/extract.ts#L23

In the `extractPkgFile()` function, ensure we handle the line of this format (with environment markers):

[code]

Just ignore environment markers part for now, and add the dependency

[2021-12-29 09:26] olegkrivtsov commented on #8537
I'd like to help with this one.

[2021-12-29 09:38] viceice commented on #12727
The python version should be added as constraint to the dep.

[2021-12-29 14:55] flicken opened #13305 "Initial Elm support"
### What would you like Renovate to be able to do?

Support updating [Elm](https://elm-lang.org/) dependencies in `elm.json` files.  This should include the `dependencies` and `test-dependencies` and possibly `elm-version`.

### If you have any ideas on how this should be implemented, please tell us here.

Based on @rarkins' [outline in #8187](https://github.com/renovatebot/renovate/issues/8187#is

[2021-12-29 15:08] HonkingGoose commented on #13299
Have you tried using removing the `v` character from the `"commitMessageExtra": "{{newVersion}}"` configuration option and seeing what that gives you?

[2021-12-29 15:27] jbergstroem commented on #13299
Thanks for the suggestion. Unfortunately that would lead to the default case of not having `v` before the version number (except in this case just reported)

[2021-12-29 15:31] HonkingGoose commented on #13299
Oh okay, it was worth a try maybe... 😄

[2021-12-29 19:06] mikes02 opened #13306 "Error updating branch: update failure"
### How are you running Renovate?

Self-hosted

### If you're self-hosting Renovate, tell us what version of Renovate you run.

29.32.1

### Please select which platform you are using if self-hosting.

GitLab self-hosted

### If you're self-hosting Renovate, tell us what version of the platform you run.

13.11.3

### Describe the bug

I am unable to determine what is causing 'Error updating branch

[2021-12-30 01:18] suzuki-shunsuke opened #13308 "Support Renovate Preset Config Manager"
### What would you like Renovate to be able to do?

Update Renovate Preset Config.

e.g. https://github.com/aquaproj/aqua-renovate-config

AS IS

[code]

TO BE

[code]

https://docs.renovatebot.com/modules/manager/

There is no manager for Preset Config yet.

### If you have any ideas on how this should be implemented, please tell us here.

I think Renovate supports parsing Renovate Config, so it

[2021-12-30 07:54] viceice commented on #13308
You can use a Regex manager for it

[2021-12-30 07:56] rarkins commented on #13308
I think we can have a dedicated package manager for this.

Should match all our supported file names except `package.json`.

[2021-12-30 07:57] rarkins commented on #5480
FYI we have migrated to a JS-based parser for Gradle now, and would implement it there instead of the previous approach

[2021-12-30 08:01] rarkins commented on #13299
I think what we should do is add two new derived values `prettyNewVersion` and `prettyNewMajor` which are exposed to templating. These should prepend `v` to the `newVersion` and `newMajor` if it doesn't already exist. Then we can update our default templates to use it instead of e.g. `v{{newVersion}}`.

[2021-12-30 08:05] rarkins commented on #12727
@viceice I think let's just ignore the markers first, and add support for using them second. Otherwise this could get held up with edge cases. We need a second issue once this is done

[2021-12-30 09:11] suzuki-shunsuke commented on #13308
# New package manager questionnaire

**Did you read our documentation on adding a package manager?**

- [x] I've read the [adding a package manager](/renovatebot/renovate/blob/HEAD/docs/development/adding-a-package-manager.md) documentation.

## Basics

### Name of package manager

`renovate-preset` or `renovate-preset-config` or `renovate-config-preset`.

I think `renovate-preset` is good.

### W

[2021-12-30 10:54] suzuki-shunsuke commented on #13308
https://github.com/renovatebot/renovate/issues/13308#issuecomment-1002912174

I agree, but I think the regular expression is a little complicated and the test and debug is difficult,
so it is ideal that Renovate supports this Manager.

[2021-12-30 10:58] suzuki-shunsuke commented on #13308
This is an example of the workaround using Regex Manager.

https://github.com/suzuki-shunsuke/test-renovate/blob/c31c7744e99c2637786db9e47a6381c458e814c2/renovate.json#L12-L29

https://github.com/suzuki-shunsuke/test-renovate/pull/122/files

[2021-12-30 11:27] suzuki-shunsuke commented on #13308
The other approach is to create a default preset for Renovate Preset Config and add it to `config:base`.

[2021-12-30 11:49] trietsch opened #13315 "[GitLab] Renovate does not rebase PR, while it's stale and tries to merge it resulting in a HTTP 405"
### How are you running Renovate?

Self-hosted

### If you're self-hosting Renovate, tell us what version of Renovate you run.

v7.45.1

### Please select which platform you are using if self-hosting.

gitlab.com

### If you're self-hosting Renovate, tell us what version of the platform you run.

_No response_

### Describe the bug

Use case:
- Existing PR, 1 commit behind the base branch
- Schedu

[2021-12-30 13:08] suzuki-shunsuke commented on #13308
## Reference

* https://github.com/renovatebot/renovate/blob/main/docs/development/adding-a-package-manager.md
* https://docs.renovatebot.com/configuration-options/
* https://docs.renovatebot.com/config-presets/

[2021-12-30 13:20] jbergstroem commented on #13299
Would that not also not imply that `newVersion` or `newMajor` would lack `v` in the case of said package? Im thinking that's my problem at the moment, no? Perhaps logic surrounding `version`, `newVersion` and `newMajor` is different - but yeah, having specific logic to deal with a prepended `v` seems to be the way to go.

[2021-12-30 13:31] rarkins commented on #13299
What I propose has no effect on newVersion or newMajor

[2021-12-30 13:45] jbergstroem commented on #13299
Gotcha.

[2021-12-30 18:33] ferferga opened #13317 "Accept wildcard in matchUpdateTypes"
### What would you like Renovate to be able to do?

One thing we love from renovate is trhe ability to group dependency updates together, so we're not constantly spammed by Pull Requests.

Grouping is based in the set of rules specified by the user in ``renovate.json``. If not specifying the ``matchUpdateTypes`` array, by default, the major/minor/patch groups will be separated. If you want to grou

[2021-12-30 18:33] oliviertassinari commented on #5640
@rarkins This is the PR we would expect https://github.com/mui-org/material-ui-x/pull/3526/files.

I think that the answer on this one from @piotr-s-brainhub would be the latest git hash commit this branch refers to.

[2021-12-30 19:03] viceice commented on #13317
If you remove the match update type completely, the rule will be applied to all updates.

So i don't think we need the wildcard

[2021-12-30 19:04] viceice commented on #5640
That's a lockfile only update. Use lockfile maintenance for this.

[2021-12-30 19:19] ferferga commented on #13317
When setting up renovate I had no ``matchUpdateTypes`` specified and I recall it separating minor and patch updates in the configuration resume it provides prior configuration.

Now you're making me doubt, I'll check when we get another round of updates from it in our repo and update the issue (and the linked PR) accordingly.

[2021-12-30 19:26] viceice commented on #13317
You should look at the `separateXXX` config options.

[2021-12-30 19:35] rarkins commented on #13317
I think you'll find that default behaviour is to split major and non-major into two groups, but you can change that by setting separateMajorMinor=false. It's a setting I advise to use sparingly though, because major updates are often breaking

[2021-12-30 19:41] m4theushw commented on #5640
@viceice The dependency is not versioned for lockfile maintenance to work. There's a branch name at the end of the URL: `https://github.com/RobertHebel/gatsby-docs-kit.git#upgrade-gatsby-to-v2`. We need that Renovate upgrade the resolved value to be the last commit hash in the specified branch.

[2021-12-30 19:47] viceice commented on #5640
Lockfile maintenance should work, as renovate simply deletes the lockfile and let yarn re-create, so yarn should resolve to latest commit.

Renovate never directly changes the lockfile.

[2021-12-30 22:52] m4theushw commented on #5640
I added a versioned dependency (lodash in this case) to my [test repo](https://github.com/m4theushw/renovate-git-urls) and enabled lockfile maintenance. It created two PRs: one to [update lodash](https://github.com/m4theushw/renovate-git-urls/pull/4/files) and another "Lock file maintenance" updating the resolved hash of the git url. The problem is that the [lockfile maintenance PR](https://github

[2021-12-30 22:57] oliviertassinari commented on #5640
@m4theushw I approached it differently in https://github.com/mui-org/material-ui-x/pull/3500

[2021-12-31 15:41] marcovmun opened #13320 "PackageRule option `matchBaseBranches` should support regex wildcard"
### What would you like Renovate to be able to do?

I want to configure special package rules only for all of my release branches., but not for main branch.
Now I use matchBaseBranches to list all of release branches, but I have to update this for every new release branch created.

**Current configuration**
[code]

The reason for special rules for all the release branches to disable Major upgrades

[2021-12-31 16:27] rarkins commented on #13320
I think we could reuse matchBaseBranches but denote regex as starting and ending with /…/ to denote regex like we do with some other fields

[2022-01-02 15:25] #11149 closed

[2022-01-02 21:51] jojomatik commented on #9540
I'm a huge fan of automation and was therefore looking into renovate. This feature would definitely convince me to using renovate over dependabot.

I don't feel to confident about auto-merging anything based on version changes that are partially still changed by users. Using the automatically computed confidence value for libraries with a large userbase would give me enough confidence to automatic

[2022-01-03 06:28] kennethjor commented on #13251
Sorry for the delay. Holidays and whatnot. Minimal repo created here: https://github.com/kennethjor/renovate-bot-gradle-build-minimal-repo - please let me know if it's not sufficient.

[2022-01-03 07:01] rarkins commented on #13251
We need to decide if this should be detected as part of our `gradle` manager or `gradle-wrapper`

[2022-01-03 07:35] kennethjor opened #13333 "Update version of Java Lombok inside the Gradle configuration"
### What would you like Renovate to be able to do?

Update the version of Lombok (`org.projectlombok/lombok`) inside the `build.gradle` configuration:

[code]

The minimal repo can be found here: https://github.com/kennethjor/renovate-bot-lombok-plugin-minimal-repo

### If you have any ideas on how this should be implemented, please tell us here.

I don't.

### Is this a feature you are interested

[2022-01-03 07:52] rarkins commented on #13333
Is this a standard? If so then can you point us to documentation of lombok versions in build.gradle specifically?

[2022-01-03 07:54] rarkins commented on #13333
It is not mentioned here: https://projectlombok.org/setup/gradle

[2022-01-03 07:56] kennethjor commented on #13333
@rarkins It's how you set up the Lombok Gradle plugin: https://docs.freefair.io/gradle-plugins/6.3.0/reference/#_lombok.

[2022-01-03 08:57] kennethjor commented on #13333
@rarkins To be honest, I had a feeling there'd be some pushback on this one, as it _is_ very specific.

I've worked with Java for a long time and I think I've encountered two or so Gradle plugins that could be configured in this way, Lombok being one of them. In my own subjective experience, I don't think it's common.

A workaround would be to use Lombok without the Gradle plugin and then Renovate

[2022-01-03 09:02] kennethjor commented on #13333
This is about the version of Lombok being set on the plugin config.

[2022-01-03 10:19] kennethjor commented on #13333
I had a look a the repo responsible for the Gradle plugin, and it looks like they have Dependabot running to update the default Lombok version. The reason I define the version directly is that I wanted to use the latest one and it wasn't the default in the plugin yet. It just became a habit.

The "official" workaround could thus be to just not define the version at all. I'd be happy with this.

[2022-01-03 12:27] renovate-release commented on #11149
:tada: This issue has been resolved in version 31.15.0 :tada:

The release is available on:
- [GitHub release](https://github.com/renovatebot/renovate/releases/tag/31.15.0)
- `31.15.0`

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-01-03 14:12] ademar59 opened #13343 "Onboarding PR have no labels"
### What would you like Renovate to be able to do?

I have set:

`"labels": ["dependencies"],`

And Onboarding pr have no labels.

### If you have any ideas on how this should be implemented, please tell us here.

A bug or a feature request to add a new config parameter like the undocumented `dependencyDashboardLabels` : `onboardingLabels`

### Is this a feature you are interested in implementing

[2022-01-03 14:16] pederpansen opened #13344 "Renovate does not find updates of dependencies in custom maven repository"
### How are you running Renovate?

Self-hosted

### If you're self-hosting Renovate, tell us what version of Renovate you run.

28.26.0

### Please select which platform you are using if self-hosting.

gitlab.com

### If you're self-hosting Renovate, tell us what version of the platform you run.

_No response_

### Describe the bug

I'm trying to get updates for a Scala/SBT project. Reproduction r

[2022-01-03 14:25] ademar59 opened #13345 "Extends the templating fields for dependencyDashboardFooter"
### What would you like Renovate to be able to do?

Hi,

I want to customize the footer on dependency dashboard with the project url.

But templating is not available for this parameter : https://docs.renovatebot.com/templates/

### If you have any ideas on how this should be implemented, please tell us here.

I could be nice to have all the dependencyDashboard parameter with templating : title, h

[2022-01-03 14:25] ademar59 opened #13346 "Onboarding: support customizable header and footer"
### What would you like Renovate to be able to do?

Hi,

I want to customize the footer on onbaording PR  with text with the project url.

But
- no onbaordingPrFooter parameter is available
- templating is only available for those parameters : https://docs.renovatebot.com/templates/

### If you have any ideas on how this should be implemented, please tell us here.

I could be nice to have all the

[2022-01-03 16:20] viceice commented on #13348
🤔 Maybe we need to split this issue. first part is fixing the generated markdown. second step is to enable the highlighting

[2022-01-03 18:46] HonkingGoose commented on #13348
I've split the issue into two parts now. 😉

[2022-01-03 19:02] ferferga commented on #13317
@rarkins @viceice Hello again guys!

Finally had some time to check what you say and I can confirm that without the array in a test repo, I get the same PRs 👍.
Must have been an overlook from my side during the onboarding process.

Thank you very much for your work in renovate, it's an awesome tool!

[2022-01-03 19:02] #13317 closed

[2022-01-04 04:08] olegkrivtsov commented on #7272
I'd like to take this one.

[2022-01-04 04:10] olegkrivtsov commented on #7267
I'd like to help with this one.

[2022-01-04 07:40] rarkins commented on #13317
I'm happy if anyone else in future wants to request this feature though - there's at least one use case for it

[2022-01-04 07:45] viceice commented on #13317
Which use case? It's essentially the same like not adding the match to the rule. 🤔

[2022-01-04 08:59] suzuki-shunsuke opened #13358 "renovate-config-validator passed even if renovate configuration is invalid JSON5"
### How are you running Renovate?

WhiteSource Renovate hosted app on github.com

### If you're self-hosting Renovate, tell us what version of Renovate you run.

_No response_

### Please select which platform you are using if self-hosting.

github.com

### If you're self-hosting Renovate, tell us what version of the platform you run.

_No response_

### Describe the bug

`renovate-config-validato

[2022-01-04 09:00] rarkins commented on #13317
IIRC it's when you want to Eg disable all updates except patch. Depends whether you prefer listing all update types except patch or doing two rules - one disabling all and then a second enabling only patch

[2022-01-04 09:01] suzuki-shunsuke commented on #13358
BTW, I can't find the document about `renovate-config-validator`, and `renovate-config-validator` doesn't support help command and help option, so I don't know the specification of `renovate-config-validator`.

[code]

[2022-01-04 09:02] viceice opened #13359 "Migrate packagist API to v2"
### What would you like Renovate to be able to do?

Currently renovate uses the old composer / packagist v1 API, with will soon no longer updated on packagist.org

- https://blog.packagist.com/deprecating-composer-1-support/
- composer/composer#10340
- #13188

### If you have any ideas on how this should be implemented, please tell us here.

Sure, read docs and use new endpoints

- https://packagi

[2022-01-04 10:19] olegkrivtsov commented on #8537
My plan for fixing this issue:

1. Modify `lib/versioning/pep440/index.spec.ts` and add the new test as suggested.
2. Modify `lib/versioning/pep440/range.ts` and introduce a new function `simplifyComplexRanges()` which would check if the `currentValue` contains something like `==3.2.*,>=3.2.2` and transform it into `~=3.2.2` (according to this page: https://www.python.org/dev/peps/pep-0440/#versio

[2022-01-04 10:43] viceice commented on #8537
Blocked by #13334

[2022-01-04 11:57] msw-kialo opened #13363 "Terraform provider: flapping branch state when combined with other updates"
### How are you running Renovate?

Self-hosted

### If you're self-hosting Renovate, tell us what version of Renovate you run.

31.15.0

### Please select which platform you are using if self-hosting.

github.com

### If you're self-hosting Renovate, tell us what version of the platform you run.

_No response_

### Describe the bug

Terraform provider updates with rangeStrategy `update-lockfile` a

[2022-01-04 12:02] mrkamel commented on #3861
am i right that the `cap` strategy would solve https://github.com/renovatebot/renovate/discussions/13347 as well?!

[2022-01-04 12:18] viceice commented on #13363
What's the log when it fails?

[2022-01-04 12:49] msw-kialo commented on #13363
That is the *failing* / *incorrect* log. [Previously](https://app.renovatebot.com/dashboard#github/msw-kialo/renovate-flapping-grouped-terraform-updates/545880926), renovate opened the PR with two changed files (`version.sh` from the regex manager, and one `terraform/.terraform.lock.hcl`). So on this following run, nothing should be changed: current and available versions did not change.

The `reg

[2022-01-04 12:59] rv2673 opened #13365 "Repology datasource package filtering not working as expected"
### How are you running Renovate?

Self-hosted

### If you're self-hosting Renovate, tell us what version of Renovate you run.

31.15.0

### Please select which platform you are using if self-hosting.

github.com

### If you're self-hosting Renovate, tell us what version of the platform you run.

github.com

### Describe the bug

When I add repology as datasource trough the regex manager, but reno

[2022-01-04 14:15] rarkins commented on #3861
No, it's solving a different problem

[2022-01-04 17:15] anomiex opened #13371 "Composer 2.2 breaks updates in monorepos with certain dependency structures"
### How are you running Renovate?

WhiteSource Renovate hosted app on github.com

### If you're self-hosting Renovate, tell us what version of Renovate you run.

_No response_

### Please select which platform you are using if self-hosting.

_No response_

### If you're self-hosting Renovate, tell us what version of the platform you run.

_No response_

### Describe the bug

Consider a monorepo wh

[2022-01-04 18:11] multani commented on #4728
I think this has been implemented in #7670 already, no?

[2022-01-04 18:59] travisgroth commented on #4728
@multani not completely.  The chart version isn't bumped by the helm-values manager AFACT.  The practical result is that if you bump your image version, the chart metadata isn't updated.  Only updates to your chart's _dependencies_ properly bump the chart version.

You can see the difference in these two PRs:

https://github.com/pomerium/pomerium-helm/pull/232/files (helmv3 manager update)
https:/

[2022-01-04 19:00] rarkins commented on #13371
What logic do you think Renovate could implement or do differently?  And is this caused by grouping rules you added or because the same dependency is updated in two subfolders?

[2022-01-04 19:43] timnolte commented on #13050
I'd be happy to test this out, though I'm not quite sure how to do that. I have an example repository setup where I would want it to function like this.

[2022-01-04 22:31] anomiex commented on #13371
Hmm. Poking at this again, I've convinced myself there really is a composer bug here too as it happens even if *no* updates are being done. I filed that as composer/composer#10431.

But I'm not entirely sure that when they fix it that it won't still leave a problem here.

The problem (theoretically if they fix composer/composer#10431 in the most minimal manner) is that the changes to `a/composer.j

[2022-01-05 01:04] aabouzaid opened #13373 "Jenkins plugins datasource versioning is broken"
### How are you running Renovate?

WhiteSource Renovate hosted app on github.com

### If you're self-hosting Renovate, tell us what version of Renovate you run.

_No response_

### Please select which platform you are using if self-hosting.

_No response_

### If you're self-hosting Renovate, tell us what version of the platform you run.

_No response_

### Describe the bug

Jenkins rolled out a n

[2022-01-05 03:30] mywednesday commented on #6568
@asoneji @rarkins How do you fix this issue? Could you show the configure file?

[2022-01-05 03:39] asoneji commented on #6568
The following worked for me: `renovate "YOUR_GITHUB_REPO" --token=YOUR_TOKEN_HERE --endpoint="https://github.Your_Domain.com/api/v3/"`

[2022-01-05 05:32] JamieMagee commented on #12156
Shall we switch back to the standard image? `mcr.microsoft.com/vscode/devcontainers/typescript-node:14` or one of the other tags[^1]

[^1]: https://mcr.microsoft.com/v2/vscode/devcontainers/javascript-node/tags/list

[2022-01-05 07:00] kennethjor commented on #13251
A quick workaround for this, if anyone else happens to look for it: you can just remove the version from the build file. Renovate Bot will handle the upgrade in the properties file and install new wrapper files, so this task is not needed any longer.

[2022-01-05 07:39] mywednesday commented on #6568
I should install `renovate` by `npm`, and run the above script, right?

[2022-01-05 07:49] #13365 closed

[2022-01-05 07:53] #13320 closed

[2022-01-05 08:08] renovate-release commented on #13320
:tada: This issue has been resolved in version 31.19.0 :tada:

The release is available on:
- [GitHub release](https://github.com/renovatebot/renovate/releases/tag/31.19.0)
- `31.19.0`

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-01-05 08:11] rarkins commented on #13333
If it's common for plugins to define a "short" config like this then we can consider supporting it, e.g. with a series of in-built mappings such as lombok->io.freefair.lombok-base. Are there any other plugins which do similarly?

[2022-01-05 08:14] rarkins commented on #13345
Is "project URL" already a field supported in templates? If not then what is it?

[2022-01-05 08:33] tpansino opened #13375 "Terraform lock files not updating if generated with Terragrunt"
### How are you running Renovate?

WhiteSource Renovate hosted app on github.com

### If you're self-hosting Renovate, tell us what version of Renovate you run.

_No response_

### Please select which platform you are using if self-hosting.

_No response_

### If you're self-hosting Renovate, tell us what version of the platform you run.

_No response_

### Describe the bug

I'm trying to get Reno

[2022-01-05 09:22] HonkingGoose commented on #13375
I see the `### Have you created a minimal reproduction repository?` section is _within_ the "foldout", can you please edit the raw Markdown of your post so that it's formatted correctly? 😉

[2022-01-05 09:23] viceice commented on #13375
Terragrunt manager don't support lockfiles, please open a feature requests as told in discussion

[2022-01-05 09:23] #13375 closed

[2022-01-05 10:19] ademar59 commented on #13345
It is the project path you can set to RENOVATE_EXTRA_FLAGS to analyse a project

ex: renovate-bot/renovate-runner for https://gitlab.com/renovate-bot/renovate-runner

[2022-01-05 10:24] mrkamel commented on #7283
hi, we have the same issue regarding the summary not being correct in a ruby project using grouped updates. I set up a repo for reproduction and installed renovate from the github marketplace. Renovate creates this pull request https://github.com/mrkamel/renovate-summary-issue/pull/1 stating it would update faraday to 2.0 but the changes to Gemfile.lock don't tell the same story. Hope this helps.

[2022-01-05 10:50] #13348 closed

[2022-01-05 10:54] rarkins commented on #7283
@mrkamel is this minimal? Eg only occurs if all four are updated at once?

[2022-01-05 10:55] rarkins commented on #13345
I still don't understand what you mean

[2022-01-05 10:56] gjasny commented on #6842
FYI: buildpack git-lfs install is broken: https://github.com/containerbase/buildpack/pull/238

[2022-01-05 12:58] ademar59 commented on #13345
The gitlab variables name is CI_PROJECT_PATH

https://docs.gitlab.com/ee/ci/variables/predefined_variables.html

In the documentation of renovate in gitlab, you call it `project name` https://gitlab.com/renovate-bot/renovate-runner
[code]

[2022-01-05 13:04] rarkins commented on #13345
Those are just a list of repositories. Renovate runs on one at a time. The project URL env is not part of renovate so is not something we would pass through.

[2022-01-05 13:08] ademar59 commented on #13345
In the log info, this is logged as repository

 INFO: Repository started (repository=mobivia/driverservices/cloud-platform/digipaas-sandbox/digipaas-sandbox-ops)
       "renovateVersion": "31.14.1"
 INFO: Dependency extraction complete (repository=mobivia/driverservices/cloud-platform/digipaas-sandbox/digipaas-sandbox-ops)
       "baseBranch": "master",
       "stats": {
         "managers": {

[2022-01-05 13:21] rarkins commented on #13345
Yes, and repository is exposed to templates so you could use that

[2022-01-05 13:29] aabouzaid commented on #13373
@rarkins I've created a reproduction repository and updated the issue with the details.

[2022-01-05 15:00] onedr0p opened #13385 "Support artifacthub's 'artifacthub.io/changes' annotation for Helm release changelogs"
### What would you like Renovate to be able to do?

It would be neat if renovate could render a changelog from the `artifacthub.io/changes` field in the Helm charts's `Chart.yaml`

`artifacthub.io/changes` is explained here: https://artifacthub.io/docs/topics/annotations/helm/

This is set by either an array:

[code]

or by a simple string:

[code]

### If you have any ideas on how this should be

[2022-01-05 15:02] infraredgirl opened #13388 "Make the name “Renovate” configurable"
### What would you like Renovate to be able to do?

We are running RenovateBot internally wrapped with our own tooling, our custom configuration, our own machine user, and so on. We’d like to use the internal tool name everywhere, which mostly happens through the configuration and machine user changes, but there are a few places where the name “Renovate” is hard-coded, so we’d like to request that

[2022-01-05 15:05] viceice commented on #13385
Changelogs fetch needs a major rewrite before we can support new sources.

[2022-01-05 15:13] onedr0p commented on #13385
@viceice thanks for the info. Would you mind labeling this issue as `manager:helm` as well. Thanks again!

[2022-01-05 15:15] viceice commented on #13385
No, as changelogs are a completely different concept in renovate. There is no manager involved.

We don't plans to allow managers to intercept changelog processing.

[2022-01-05 15:17] viceice commented on #13388
Please describe more in detail where you want changes.

[2022-01-05 15:18] viceice commented on #13373
I think you can workaround via assign different versioning with package rules.

[2022-01-05 15:35] infraredgirl commented on #13388
- Example 1: by artifact update failure, comments gets posted referencing "Renovate". This is hard-coded in Renovate source code and cannot currently be configured with existing configuration options.
<img width="716" alt="Screenshot 2022-01-05 at 16 30 56" src="https://user-images.githubusercontent.com/1786860/148244144-166b1a81-2625-4587-bfb2-97bf15efc9e8.png">

- Example 2: also by artifact upd

[2022-01-05 16:36] JamieMagee opened #13389 "Jest test suite hangs indefinitely"
### How are you running Renovate?

WhiteSource Renovate hosted app on github.com

### If you're self-hosting Renovate, tell us what version of Renovate you run.

_No response_

### Please select which platform you are using if self-hosting.

_No response_

### If you're self-hosting Renovate, tell us what version of the platform you run.

_No response_

### Describe the bug

When running tests wit

[2022-01-05 16:53] MarkusH commented on #11552
There's now a new version 0.16.0 of `hashin` out that should fix the behavior: https://github.com/peterbe/hashin#version-history

[2022-01-05 16:59] JamieMagee commented on #11552
And here's the update PR: https://github.com/renovatebot/docker-buildpack/pull/269

[2022-01-05 17:53] kennethjor commented on #13333
The only one I can think of is Gradle, as mentioned over in https://github.com/renovatebot/renovate/issues/13251

[2022-01-05 18:50] mrkamel commented on #7283
@rarkins i guess no, but i don't know for sure. we faced this issue today as reported and dont use renvoate that long yet. however, yesterday we had a similar issue when renovate wanted to update rails to version 7 and stated that in the summary even though in the code it wasnt changed to v7 because `bundle update` wasnt able to update in the pipeline. this is maybe a bit different, but it is a di

[2022-01-05 19:16] elsbrock commented on #5794
Provider dependencies should already be managed I assume, since they are usually specified as
package dependency of your project.

[2022-01-05 19:27] asoneji commented on #6568
It all depends on how you are running renovate. I did the following which works for me:

1. Install renovate
   * `npm install -g renovate`
1. Run renovate
   * `renovate "YOUR_GITHUB_REPO" --token=YOUR_TOKEN_HERE --endpoint="https://github.Your_Domain.com/api/v3/" --expose-all-env=true`
      *  `endpoint` is not needed if you're repo is in public github
      * `expose-all-env` is not needed if

[2022-01-05 19:27] piclemx commented on #5794
@elsbrock  Yes, for the provider coming from multiple languages. You can't do that with the version of a container.

[2022-01-06 03:19] olegkrivtsov commented on #7430
I'd like to help with this one.

[2022-01-06 05:36] RahulGautamSingh commented on #12869
Enabled strictNullChecks in ruby and ruby/strategies.

[2022-01-06 06:19] JamieMagee commented on #13389
I'm getting closer to a root cause. The `EC2Client` in `AwsMachineImageDataSource` is not mocked out in any test cases, except for it's own tests. Applying this patch causes the tests to pass:

[code]

[2022-01-06 06:39] tpansino commented on #13375
@viceice after looking more at the code, I think this is actually just a bug, but I will still file it as a Feature Request anyway.

[2022-01-06 06:50] tpansino opened #13393 "Support updating Terragrunt-generated `terraform.lock.hcl` files"
### What would you like Renovate to be able to do?

Terraform lock files are generated when running Terragrunt commands (because Terragrunt is just a wrapper of Terraform). These lock files are exactly the same as lock files generated by using Terraform directly, but they don't currently seem to be updated as part of lock file maintenance ([minimal repo](https://github.com/tpansino/renovatebot-ter

[2022-01-06 07:21] RahulGautamSingh commented on #13359
Hey @viceice I would like to work on this issue, can I be assigned to this please?

[2022-01-06 07:45] rarkins commented on #13359
Do we need to retain fallback if there are registries which only support v1?

[2022-01-06 08:14] viceice commented on #13393
As I told before in renovate terragrunt and terraform are two different managers and only the terraform manager supports lockfiles.

This should be easily extended to the terragrunt manager.

Maybe it's enough to re-export the update artifacts function from terraform manager.

[2022-01-06 08:14] rv2673 commented on #10135
@rarkins Any progress on this issue?
Don't know enough about the internals of renovate. But what I read from the linked issues and PR's.

Would the following also work to make the override scenarios possible?:
- With package rules make matching lookupName possible with regex, together with something like extractVersion an or extractVersionTemplate. This would allow overriding/modify lookup name(an

[2022-01-06 08:16] viceice commented on #13359
Yes, we should cache per registry which api version is supported. So we don't retry failing api for each package.

[2022-01-06 09:27] rwxd opened #13397 "Pip Requirements from a private Repository via SSH"
### What would you like Renovate to be able to do?

Hi, it would be nice to support pip requirements from private repos via SSH.

An example `requirements.txt` would be like this:

[code]

### If you have any ideas on how this should be implemented, please tell us here.

Renovate already supports in the Ansible Galaxy File a git link, e.g. `git@gitlab.company.com/my-role.git`.

### Is this a featu

[2022-01-06 09:36] HonkingGoose opened #13400 "Use relative URLs to our docs pages, instead of `https://docs.renovatebot.com/`"
### What would you like Renovate to be able to do?

Many of our internal documentation links are hard-coded to our documentation page domain. For example in `docs/usage/config-presets.md`:

[code]

Using relative links [^mdn-web-docs] would have the following benefits:

- Makes the documentation Markdown files self-referencing (which makes the published docs bundle on GitHub releases actually usab

[2022-01-06 10:47] #12727 closed

[2022-01-06 11:03] renovate-release commented on #12727
:tada: This issue has been resolved in version 31.19.1 :tada:

The release is available on:
- [GitHub release](https://github.com/renovatebot/renovate/releases/tag/31.19.1)
- `31.19.1`

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-01-06 11:03] renovate-release commented on #13348
:tada: This issue has been resolved in version 31.19.1 :tada:

The release is available on:
- [GitHub release](https://github.com/renovatebot/renovate/releases/tag/31.19.1)
- `31.19.1`

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-01-06 11:15] HonkingGoose commented on #9313
From a earlier post in this thread:

I think we did step 1 of this list, @viceice recently moved the files from the docs side to the main repo side, you can find these files here now: https://github.com/renovatebot/renovate/tree/main/tools/docs, also see PR https://github.com/renovatebot/renovate/pull/11429

I don't know what the status is of step 2 and 3 of your list though...

[2022-01-06 11:37] olegkrivtsov commented on #7430
My plan for fixing this issue:

1. Modify `docs/configuration-options.md` as it seems to be the most suitable for describing the precedence order of config files.

https://github.com/renovatebot/renovate/blob/main/docs/usage/configuration-options.md

2. Add this block of text and describe the config file precedence:

"Renovate loads and merges the configuration options in the following order:
  -

[2022-01-06 12:04] rarkins commented on #7430
Actually for this issue we just want to document renovate.json, .renovaterc, etc

[2022-01-06 12:24] viceice commented on #9313
I think we can close this, as the docs are already published as release asset.

[2022-01-06 12:38] #9313 closed

[2022-01-06 12:47] rarkins commented on #13397
We don't currently officially support any datasources via ssh, although some people self hosting have workarounds to copy a private key into the running container/VM before executing Renovate.

[2022-01-06 12:52] rarkins commented on #13388
I'm ok with this approach. A while ago I tried to remove a lot of the user-facing hard coding where it made sense to say "the bot" etc.

[2022-01-06 14:00] rwxd commented on #13397
I already use the workaround with the private key and with ansible-galaxy it works very well. Could I try to implement the same for pip requirements?

[2022-01-06 19:43] anark opened #13407 "Renovate no longer updates Ruby gems"
### How are you running Renovate?

WhiteSource Renovate hosted app on github.com

### If you're self-hosting Renovate, tell us what version of Renovate you run.

_No response_

### Please select which platform you are using if self-hosting.

_No response_

### If you're self-hosting Renovate, tell us what version of the platform you run.

_No response_

### Describe the bug

Renovate stopped provi

[2022-01-06 21:20] aabouzaid commented on #13373
@viceice is it possible with all those version variates?

[2022-01-07 00:38] tpansino commented on #13393
Yes, and I think there is confusion - Terragrunt does not have lock files. It calls Terraform, which creates the lockfiles.

That is why I think this may be a bug and not a feature request - because Terragrunt does not have lock files, and the tool currently supports Terraform lock files, so it seems like it should work 🤷

Regardless - I am offering to do some or all of the work to figure this out

[2022-01-07 00:42] tpansino commented on #13393
I just saw this note in the Contributor docs. I will ask for a Slack invite to get more information. 🙇

[2022-01-07 07:38] rarkins commented on #13373
If it's not possible to assign the right versioning via packageRules then there will be nothing which the Jenkins manager can do about it either.

I suggest that in the Jenkins manager we can test if the current value is valid semver and if not then fall back to loose versioning. If any other versioning is needed then the user can apply it via packageRules, assuming we can't easily auto detect it.

[2022-01-07 08:04] mrkamel commented on #7283
@rarkins fyi... after merging the linked PR, renovate today created a PR to update faraday again (since it didn't update it to the most recent version in the last one). The summary states: faraday `1.8.0` -> `2.0.1`, but in the changes faraday gets updated to `faraday (1.9.3)` only.

[2022-01-07 09:23] achimgrimm commented on #5534
Hi @rarkins,

is there any update on this feature?

Regards

[2022-01-07 09:28] rarkins commented on #5534
No. See my previous comment about next steps

[2022-01-07 09:48] ademar59 commented on #13345
I don't understand what means 👎

What's the solution?

[2022-01-07 10:00] achimgrimm commented on #5534
I ran the docker image on my project and the output looks good.
But I did not find the lock file on my local project afterwards. Is that correct?

If I run the command `./gradlew dependencies --write-locks` without the docker images, the lock file is generated.

[2022-01-07 10:11] rarkins commented on #5534
We need to work out which command can be run with our existing Docker image. A "works on my machine" solution doesn't get us as far as we need.

[2022-01-07 10:13] achimgrimm commented on #5534
Is this something I can help you with? The command itself is a regular gradle command. see https://docs.gradle.org/current/userguide/dependency_locking.html#generating_and_updating_dependency_locks

[2022-01-07 10:38] infraredgirl commented on #13388
Thanks @rarkins! In that case, could we move forward with the PR https://github.com/renovatebot/renovate/pull/13369 - i.e. remove the `draft` flag and review it? /cc @viceice

[2022-01-07 10:49] viceice commented on #13388
That PR is far from complete.

@rarkins i think we have a user strings config object, which should be used for this?

[2022-01-07 11:03] viceice commented on #5534
Do the steps are
- implement update artifacts function
- detect lockfiles
- update lockfiles if they are found

[2022-01-07 11:06] viceice commented on #5534
I would also only support this with Gradle wrapper, so we can use the java docker images. And don't need to install Gradle globally.

[2022-01-07 11:08] rarkins commented on #5534
We first need someone to verify the exact commands to run and that it works. @achimgrimm seemed to indicate that the lock file was missing when he ran it via Docker.

[2022-01-07 13:16] ademar59 commented on #13346
I've used prFooter as PR onboardingFooter and it works fine except in onboarding code no use of template function

[2022-01-07 13:43] splincode opened #13424 "Incorrect update action files"
### How are you running Renovate?

WhiteSource Renovate hosted app on github.com

### If you're self-hosting Renovate, tell us what version of Renovate you run.

_No response_

### Please select which platform you are using if self-hosting.

github.com

### If you're self-hosting Renovate, tell us what version of the platform you run.

_No response_

### Describe the bug

if I have comments in my

[2022-01-07 13:49] viceice commented on #13424
Move the comments before or after the line as workaround.

[2022-01-07 14:01] rarkins commented on #13424
Link is to a public repository, not a minimal reproduction

[2022-01-07 14:03] splincode commented on #13424
@rarkins oh, sorry - https://github.com/Angular-RU/angular-ru-sdk

[2022-01-07 14:05] rarkins commented on #13424
Please see the autogenerated comment above for our definition of minimal reproduction

[2022-01-07 14:19] olegkrivtsov commented on #7430
Hi @rarkins thank you, so my plan would be to modify this block in https://github.com/renovatebot/renovate/blob/main/docs/usage/configuration-options.md:

[code]

And make it as follows:

[code]

(The mentioned precedence order is defined in https://github.com/renovatebot/renovate/blob/main/lib/config/app-strings.ts).

[2022-01-07 14:32] viceice commented on #7430
@rarkins i think we should deprecate the last one (docs only for now)

[2022-01-07 15:54] anomiex commented on #13371
So good news, it looks like the fix in composer/composer#10431 will indeed probably make this issue go away without changes to renovate! I suppose we'll have to wait for Composer to release a version 2.2.4 to fully test that though.

[2022-01-07 15:56] rv2673 opened #13425 "Dockerfile and gitlabci manager fail to detect variables at the start of image strings"
### How are you running Renovate?

Self-hosted

### If you're self-hosting Renovate, tell us what version of Renovate you run.

31.21.0

### Please select which platform you are using if self-hosting.

github.com

### If you're self-hosting Renovate, tell us what version of the platform you run.

github.com

### Describe the bug

Dockerfile (and gitlabci manager through the same function) try filt

[2022-01-08 05:19] aabouzaid commented on #13373
@rarkins as I understand (and please correct me if I'm wrong), each datasource could set its own way to handle the versioning as shown in the [versioning](https://github.com/renovatebot/renovate/tree/cc76e41/lib/versioning) folder and if that is not set [it uses the default value](https://github.com/renovatebot/renovate/blob/ea28c6a/lib/datasource/index.ts#L213) "SemVer" by default.

So all that's

[2022-01-08 08:14] HonkingGoose opened #13428 "Update documentation that covers `daniel-shuy/renovate` Circle CI Orb"
### Describe the proposed change(s).

Affected page: https://docs.renovatebot.com/examples/self-hosting/#circleci

The `3.0.0` version of the `daniel-shuy/renovate` Orb has breaking changes [^release-notes]:

If we want to bump the version of the Orb in our docs to the latest `3.x` range, we should update our docs/examples as well, I think.

This issue is to get help on what we should change in th

[2022-01-08 08:26] viceice commented on #13428
Can we ping the original author, who probably know how to update?

[2022-01-08 08:37] HonkingGoose commented on #13428
Hi @daniel-shuy 👋

I noticed your `daniel-shuy/renovate` Circle CI Orb has been updated to a new major version (`v3.0.0`).
The Renovate documentation was written with a older version of your Orb.

Can you provide help on how to update the Renovate documentation to account for changes in version `3.x` of your `daniel-shuy/renovate` orb? Maybe we should change the examples/code/explanations?

You ca

[2022-01-08 08:51] HonkingGoose commented on #13424
Re-opening this issue.

I made a minimal reproduction: https://github.com/renovate-reproductions/13424

I've confirmed this works on a private copy/paste of the repository. I don't know why Renovate bot is not running on the `renovate-reproductions/13424` repo, maybe it needs to be enabled by an administrator of the `renovate-reproductions` organization?

[2022-01-08 08:58] HonkingGoose commented on #13424
Duplicate of #12260

[2022-01-08 08:58] #13424 closed

[2022-01-08 11:09] secustor commented on #13393
If you only need lock file maintenance, then in fact a simple wrapper of https://github.com/renovatebot/renovate/blob/de140c24ff3d515af2c434fc7e7fde46b4ae59a8/lib/manager/terraform/lockfile/index.ts#L59 should work.

This wrapper should only call the Terraform function if `config.updateType === 'lockFileMaintenance'` tough, else it will fail as the updated dependency will not be a provider but a m

[2022-01-08 16:21] secustor opened #13431 "only labels defined by `addLabels` are added to OnboardingPRs"
### How are you running Renovate?

WhiteSource Renovate hosted app on github.com

### If you're self-hosting Renovate, tell us what version of Renovate you run.

_No response_

### Please select which platform you are using if self-hosting.

gitlab.com

### If you're self-hosting Renovate, tell us what version of the platform you run.

_No response_

### Describe the bug

Onboarding PRs only take

[2022-01-08 18:47] mxdvl opened #13432 "Update banner SVG"
### What would you like Renovate to be able to do?

The [banner on the Renovate PRs](https://app.renovatebot.com/images/banner.svg) does not support dark mode.

![renovate banner](https://app.renovatebot.com/images/banner.svg)

### If you have any ideas on how this should be implemented, please tell us here.

This can easily be fixed by changing the first three elements (a `rect`angle and two `pol

[2022-01-08 18:48] mxdvl commented on #13432
Comparison on a dark background:

<img width="827" alt="image" src="https://user-images.githubusercontent.com/76776/148656008-f6c887dc-044a-4c8b-9fd5-6a28feca116b.png">

[2022-01-09 06:44] budimanjojo opened #13438 "jsonnet-bundler keeps getting timeout"
### How are you running Renovate?

WhiteSource Renovate hosted app on github.com

### If you're self-hosting Renovate, tell us what version of Renovate you run.

_No response_

### Please select which platform you are using if self-hosting.

_No response_

### If you're self-hosting Renovate, tell us what version of the platform you run.

_No response_

### Describe the bug

Here is the file: http

[2022-01-09 09:44] zharinov opened #13440 "Git clone is failing when blobs filter is unavailable on platform"
### How are you running Renovate?

Self-hosted

### If you're self-hosting Renovate, tell us what version of Renovate you run.

Latest

### Please select which platform you are using if self-hosting.

Gitea

### If you're self-hosting Renovate, tell us what version of the platform you run.

Latest

### Describe the bug

Gitea doesn't support shallow clone yet, which causes our our HTTPS authentica

[2022-01-09 09:55] renovate-release commented on #12869
:tada: This issue has been resolved in version 31.21.1 :tada:

The release is available on:
- [GitHub release](https://github.com/renovatebot/renovate/releases/tag/31.21.1)
- `31.21.1`

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-01-09 09:57] viceice commented on #13440
You can enable it in gitea.

[2022-01-09 10:00] viceice commented on #13440
https://docs.gitea.io/en-us/clone-filters/

[2022-01-09 10:03] zharinov commented on #13440
Thank you, now I see. So, maybe log this link for this particular stack trace?

[2022-01-09 10:04] h3llrais3r commented on #12727
@rarkins I've just checked my test repo, and the requirement is still not taken into account.

[2022-01-09 10:05] viceice commented on #13440
You need this in `.gitconfig`:

[code]

Are you using the official docker image?

[2022-01-09 10:08] zharinov commented on #13440
No, I've just tried to run with their public test instance.

[2022-01-09 10:12] viceice commented on #13440
🤔 For me it works even without the upload filter, but it will do a full clone then automatically. Maybe they have some extra filtering on the test instance?

[2022-01-09 10:23] zharinov commented on #13440
Possible ways to fix are:
- Make `fullClone` configurable by the Renovate admin
- Graceful fallback to full cloning

[2022-01-09 13:35] Chumper opened #13448 "Detect maven repositories automatically"
### What would you like Renovate to be able to do?

I would like Renovate to detect maven repositories automatically.

At the moment we need to define additional repositories manually in the [config](https://docs.renovatebot.com/java/#custom-registry-support-and-authentication):
[code]

Normally when custom repositories are used the `settings.xml` is also committed to the repo.
"Default" paths are

[2022-01-09 14:03] rarkins commented on #13448
This seems suited to the https://docs.renovatebot.com/self-hosted-configuration/#detectglobalmanagerconfig option

I think it should be restricted to well-known paths though, e.g. `~/.m2/settings.xml` and `~/.mvn/settings`, unless there's an extremely important reason why self-hosted users couldn't use that?

[2022-01-09 14:09] Chumper commented on #13448
The option you mentioned would be suitable if we want to detect settings files on the Renovate host as well.

In this case I am talking about `settings.xml` files committed to the repository.

At my company we have an Artifactory server with each team having their own maven repository.
So I currently have added the most common repos to the bot config.
However this will not scale well, because each

[2022-01-09 15:15] rarkins commented on #13448
If the file is committed to the repo then it should be detected by the maven manager automatically. I  prefer if we can make no config option required. Eg we "enforce" that they use one of the well known locations.

[2022-01-09 15:39] rarkins commented on #13448
Another possibility which *would* allow custom files would be if we add `settings.xml` to `fileMatch`.

[2022-01-09 15:41] Chumper commented on #13448
That would also work, so the parser knows if it is a dependency or a settings file and parses accordingly.
Seems like a more elegant solution.
So we add `settings.xml` to the filematch and in the `extract.ts` we check if it is a settings file and if so add detected repos to the list.

[2022-01-09 16:00] rarkins commented on #13448
Yes. I guess it means either:
- [simplest] treat anything in `settings.xml` as a settings file, or
- [less simple] parse as xml, then use logic to determine if it's a settings or pom file

Then anything found in the settings files would be applied to all parsed pom files?

[2022-01-09 16:07] Chumper commented on #13448
I woul go for the second option as we already have a XML Parser available.
Depending on the naming I would either call `extractPackage`: https://github.com/renovatebot/renovate/blob/main/lib/manager/maven/extract.ts#L316
or call a new function `extractRegistryUrls` from the file.
The new function will add the found registriesUrl to the config that is passed.

[2022-01-09 17:57] #13389 closed

[2022-01-09 18:13] renovate-release commented on #13389
:tada: This issue has been resolved in version 31.21.2 :tada:

The release is available on:
- [GitHub release](https://github.com/renovatebot/renovate/releases/tag/31.21.2)
- `31.21.2`

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-01-09 21:11] fgreinacher opened #13450 "Support for Node.js codenames"
### What would you like Renovate to be able to do?

Renovate should understand [Node.js release codenames](https://nodejs.org/en/about/releases/).

It should e.g. know that `fermium` equals `v14` and offer upgrading it to `gallium`.

### If you have any ideas on how this should be implemented, please tell us here.

I am not sure if we can somehow do this in the current [`node` versioning logic](ht

[2022-01-10 03:20] olegkrivtsov commented on #7867
I'd like to take this one.

[2022-01-10 04:06] olegkrivtsov commented on #7715
I'd like to take this one.

[2022-01-10 04:14] olegkrivtsov commented on #4051
I'd like to help with this one.

[2022-01-10 06:58] achimgrimm commented on #5534
I am wondering if I could generate/update a lock file with a post upgrade command like this.
[code]

I will give it a go today and see if it works.

[2022-01-10 07:03] viceice commented on #7715
Please create a new reproduction, this is maybe already  fixed

[2022-01-10 07:25] rarkins commented on #7867
@viceice Do you think we need more than the workaround? I'm happy with that as a solution.

[2022-01-10 07:27] viceice commented on #7867
I think the workaround is enough. Nobody commented a requirement for this afterwards.

[2022-01-10 07:41] fgreinacher commented on #13450
Needs https://github.com/renovatebot/renovate/issues/13270 so that it works for Docker images

[2022-01-10 07:55] MarjanaVoronina opened #13456 "Renovate stopped upgrading some packages"
### How are you running Renovate?

Self-hosted

### If you're self-hosting Renovate, tell us what version of Renovate you run.

26.21.7 but also tried with the 31.21.1 and it did not work either

### Please select which platform you are using if self-hosting.

Bitbucket Server

### If you're self-hosting Renovate, tell us what version of the platform you run.

_No response_

### Describe the bug

[2022-01-10 09:02] rarkins commented on #13450
I guess we could overload the current `node` versioning to support this special case.

[2022-01-10 09:02] #7867 closed

[2022-01-10 09:04] rarkins commented on #5534
Only if self-hosted, and you're running with the full image or have Java preinstalled

[2022-01-10 09:27] rarkins commented on #13448
Sounds fine to me, including adding `settings.xml` patterns to the default `fileMatch`

[2022-01-10 09:29] MarjanaVoronina commented on #13456
Logs added.

[2022-01-10 09:31] HonkingGoose commented on #13450
The Node.js codenames are listed here:

https://github.com/renovatebot/renovate/blob/0bd8a6e5f6ad200d375a96285b9a6381e79c0007/data/node-js-schedule.json#L86-L92

[2022-01-10 09:33] viceice commented on #13456
This is not a bug, it's again a result of changing the `:preserveSemverRange` preset, with is now a package rule, so global `rangeStrategy` setting no longer works when extending `config:base`.

So you need to exclude that preset `preserveSemverRanges`

* https://docs.renovatebot.com/presets-default/#preservesemverranges
* https://docs.renovatebot.com/configuration-options/#ignorepresets

[2022-01-10 09:52] #13431 closed

[2022-01-10 10:09] renovate-release commented on #13431
:tada: This issue has been resolved in version 31.22.0 :tada:

The release is available on:
- [GitHub release](https://github.com/renovatebot/renovate/releases/tag/31.22.0)
- `31.22.0`

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket: