[2020-02-20 11:47] MattIPv4 commented on #5528
👍 Feel free to comment on that PR so we have feedback there

[2020-02-20 13:14] #5528 closed

[2020-02-20 17:44] j4cbo opened #5535 "Replace dependency with a different package"
### Which Renovate are you using?

Renovate Open Source CLI

WhiteSource Renovate App

### What would you like to do?

Hi there -

Here's my use case: I'm in an organization with a whole bunch of repos each containing a Dockerfile. We have an internal docker image registry, where we recently forked an external dependency to an internal package with some local changes. We'd like to replace all refe

[2020-02-20 18:42] omerlh opened #5531 "Add support for private helm repositories"
**What would you like Renovate to be able to do?**
Being able to run renovate against a private helm repository and let it update `requirements.yaml` file accordingly.

**Describe the solution you'd like**
Being able to provide credentials, similar to how it works with Docker.

**Describe alternatives you've considered**
Running some kind of proxy that handles authentication
**Additional context**

[2020-02-20 19:08] rarkins commented on #5531
What type of auth is used? Eg Bearer token, Basic auth? And is it failing to look up or failing later during checksum update?

[2020-02-20 19:11] omerlh commented on #5531
I'm asking after looking at the code and notice it does not support authentication :) I'm not sure what the standard is, actually, but look like [Azure ACR](https://github.com/Azure/acr/blob/master/docs/Token-BasicAuth.md) support both bearer and auth token.

[2020-02-20 19:25] rarkins commented on #5531
I minimized my previous comment because I mixed up Helm and Go Modules.

For private helm, there'd be the need for:
1. Renovate needs to know which host to look up. This is done via [registryUrls](https://github.com/renovatebot/renovate/blob/8582c3916bc325327f9114ef8037f388a3b4fa5a/lib/datasource/helm/index.ts#L92) in the helm datasource
2. You need a `hostRules` entry for that endpoint, hostname

[2020-02-21 03:37] kamatama41 opened #5534 "Support updating Gradle dependency lockfiles"
**What would you like Renovate to be able to do?**
Gradle supports locking dependencies [since 4.8](https://docs.gradle.org/4.8/release-notes.html#locking-of-dynamic-dependencies) like `yarn.lock`. So I'd like Renovate to update them in a dependency update.

Currently my Gradle project uses it with Renovate but CI fails with inconsistency between lock files and `build.gradle`

**Describe the solut

[2020-02-21 04:50] rarkins commented on #5534
This is a great idea. Can you create a reference repository on GitHub using Gradle lock files that can be used to test against? e.g. should ideally require at least a few PRs too.

[2020-02-21 05:17] kamatama41 commented on #5534
Got it, I've created https://github.com/kamatama41/gradle-dependency-lock-example for the purpose, and will add a Gradle project which uses dependency locking.

[2020-02-21 05:26] viceice commented on #5527
maybe related facebook/jest#6399

[2020-02-21 05:36] rarkins commented on #5527
On Mac I get this warning sometimes: `Running coverage on untested files...A worker process has failed to exit gracefully and has been force exited. This is likely caused by tests leaking due to improper teardown. Try running with --runInBand --detectOpenHandles to find leaks.`

Then when doing do:

[code]

[2020-02-21 05:40] viceice commented on #5527
![image](https://user-images.githubusercontent.com/1798109/75007341-0e893000-5475-11ea-8f29-471701ed1b30.png)

🤔

[2020-02-21 06:14] rarkins opened #5536 "Advanced rebase options"
Today we support:
- Rebase if stale (out of date) by any commit
- Rebase if conflicted

I'm thinking of some others which would be useful:
- Rebase only if versions of other dependencies within the package file changed (e.g. due to a Renovate PR merge)
- Rebase only if the *list* of dependencies within the package file changed (e.g. users adds or deletes a dependency within the same `package.json`

[2020-02-21 06:50] viceice commented on #5527
![image](https://user-images.githubusercontent.com/1798109/75010987-ca029200-547e-11ea-90ae-5fdbf5e941d3.png)
Thats even more strange

[2020-02-21 07:09] rarkins commented on #5527
Are there any tests / subdirectories that don’t have 1700+ MB?

[2020-02-21 07:15] viceice commented on #5527
yes, if i only run manager

[2020-02-21 07:35] rarkins commented on #5527
How would running other tests contribute to manager tests consuming more heap?

[2020-02-21 07:35] viceice commented on #5527
facebook/jest#8331 fixes the problem

![image](https://user-images.githubusercontent.com/1798109/75013708-1fda3880-5485-11ea-9f34-35a751c6e2f5.png)

[2020-02-21 07:37] viceice commented on #5527
fix:
![image](https://user-images.githubusercontent.com/1798109/75013879-6def3c00-5485-11ea-8333-e9a61bcc28ef.png)

[2020-02-21 08:11] hisener opened #5537 "Support regex allowing or ignoring of versions"
**What would you like Renovate to be able to do?**

In [Maven versions plugin](https://www.mojohaus.org/versions-maven-plugin/index.html) you can specify various rules in [`version-number-rules.xml`](https://www.mojohaus.org/versions-maven-plugin/version-rules.html). It is possible to ignore versions using regular expressions, e.g., `<ignoreVersion type="regex">.*-jboss-\d+</ignoreVersion>`. It wo

[2020-02-21 08:12] hisener opened #5538 "Handle mismatches between maven-metadata.xml and the directories"
**What Renovate type are you using?**

Renovate Open Source CLI (using the docker image `renovate/renovate:19.141.0`)

**Describe the bug**

When a registry (nexus repository in my case) has a reference to a non-existing artifact version (`1.0-SNAPSHOT`) in `maven-metadata.xml`. Renovate tries to upgrade to that version even though the artifact doesn't exist.

[code]

The local `.m2` repository:

[2020-02-21 08:21] rarkins commented on #5537
I note the following example from the maven versions plugin:

[code]

Ideally Renovate could allow either:
- Version constraint syntax (like `allowedVersions`) today
- Regex (like proposed here)

Also we should allow it to be a list/array.

Finally, probably a good idea if we can have consistent naming. `ignoredVersions` would match best with `allowedVersions`, but on the other hand we have `ignor

[2020-02-21 08:24] rarkins commented on #5538
To sanity check the metadata xml versions, what do we need to do?

- Validate the directory name-only? or
- Validate directory + file name

Although this will add requests to do, I think we can do it efficiently by:
- Using a `HEAD` query merely to check it exists
- For each dependency, storing a list of yes/no results for each version and then caching it aggressively (e.g. for a day). That means

[2020-02-21 08:34] hisener commented on #5538
I think the latter would be better. I am not sure it can happen on registries but I have seen empty directory and a directory without `.jar` file (only `.pom` file) on a local maven repository.

[2020-02-21 08:44] rarkins commented on #5538
In that case is the `.jar` file deterministically named? e.g. `${url}/${version}/${artifact-id}-${version}.jar`?

[2020-02-21 09:28] hisener commented on #5538
Yes, I think so. Found this question, https://stackoverflow.com/a/13371622/3528626.
According to https://cwiki.apache.org/confluence/display/MAVENOLD/Repository+Layout+-+Final

The layout enforces to use the following:
[code]

[2020-02-21 10:10] rarkins commented on #5538
Thanks.

I think we can go with this new logic:

- Check cache for existing result. If found, return it.
- Otherwise, query metadata xml
- If found, query cache for artifact results
- If no artifact cache, or it doesn't include any of the metadata versions, then query each artifact URL with a HEAD request to see if it exists. Cache the results
- Use the artifact results to filter the metadata resu

[2020-02-21 13:00] rarkins opened #5539 "Revisit high level terms for user understanding"
Per Repository, Renovate will do this:

 - Load config
 - Work out which managers are enabled
 - Filter the files list for those matching configured fileList
 - Parse each file to extract dependencies (not: may also parse/extract from adjacent files too)
 - For each dependency, look up all available versions from its datasource
 - Use each package's versioning scheme to determine if updates are av

[2020-02-21 18:11] matir91 opened #5544 "Renovate bot should use project's gradle wrapper"
**Describe the bug**
`"gradle --init-script renovate-plugin.gradle renovate"` is executed with your own gradle instance (right now it's using a gradle with version `5.6.4`). However, it should use the project wrapper to init this plugin (or al least the same version).

For example, [Gradle Play publisher min gradle required version is](https://github.com/Triple-T/gradle-play-publisher/commit/a6473

[2020-02-21 18:17] rarkins commented on #5544
@matir91 can you create a (simple) public repo on github.com that reproduces the problem?

[2020-02-21 18:29] #5527 closed

[2020-02-21 19:05] countergram commented on #3019
It does look like `abc/xyz` looks up on npmjs.com, even without the presence of a `@` leading character.

[2020-02-21 20:06] matir91 commented on #5544
I've created [this project](https://github.com/matir91/renovatebot-wrapper-error), it has only two commits.
1. The AS sample app initialization
2. The plugin setup
[log.txt](https://github.com/renovatebot/renovate/files/4237840/log.txt)

[2020-02-21 20:20] rarkins commented on #5544
Thanks. I think we detect/use the gradle wrapper when it's non-Docker, but ignore it when it's Docker. What would be the most fool-proof?

1. Run with gradle wrapper within latest gradle image we have? or
2. Work out what gradle image should be used and run it directly?

[2020-02-21 20:35] matir91 commented on #5544
Both options will work. However, In my opinion the first one makes me more sense. You create a project with gradle, it contains a wrapper to use, so I think we should use that wrapper.

Renovate knows that gradle is set up, and it try to apply a gradle plugin using the project gradle setup. So, from my point of view it should use the project gradle wrapper

[2020-02-21 21:08] JamieMagee commented on #5471
@slauger So I have a repo [JamieMagee/renovate-git-submodule-repro](https://github.com/JamieMagee/renovate-git-submodule-repro). It's not setup with a private repo, but that shouldn't affect it. SSH access is what's important here.

I wasn't able to repro the exact issue on GitHub or GitLab, but I have some followup questions for you:

1. Can you run `git ls-remote git@gitlab.example.com:misc/test

[2020-02-21 21:10] JamieMagee commented on #5535
I think the related issue is #2223?

[2020-02-22 01:59] kamatama41 commented on #5534
I've set up the repository. It has a Gradle project with dependency locking and Renovate is configured.

For example, CI of [the Renovate's PR](https://github.com/kamatama41/gradle-dependency-lock-example/pull/3) failed with the following error message

[code]

ref: https://github.com/kamatama41/gradle-dependency-lock-example/runs/461517525

[2020-02-22 02:08] kamatama41 commented on #5534
FYI: As a workaround, I created a GitHub Action to correct the lockfiles and apply it to Renovate PRs. https://github.com/kamatama41/gradle-lockfiles-update-action

Here is an example of Renovate PR that the Action is applied. I'd like lockfiles to be updated like this. https://github.com/kamatama41/nsocket/pull/57/files

[2020-02-22 15:37] darl commented on #838
Playing with this feature right now and cannot get it working.
It appears that post-upgrade tasks executed before package updates got flushed to disk (in `platform.commitFilesToBranch` function).
Is it intended?

[2020-02-22 20:59] rarkins opened #5551 "Support log context"
**What would you like Renovate to be able to do?**

Support a configurable log context.

**Describe the solution you'd like**

Log context can be autogenerated either per-run or per-repo, or provided by config.

**Additional context**

Needs to work with the hosted app's "job id" concept. Probably also will embed metadata into PR bodies, Issues and comments for easier debugging

[2020-02-23 06:31] #5551 closed

[2020-02-23 06:37] omerlh commented on #5531
Regarding the code - it was my mistake.

How can you add a static bearer token? Those tend to be valid for one hour usually...

[2020-02-23 06:43] rarkins commented on #5531
Does ACR support any non-ephemeral authentication approaches?

[2020-02-23 07:04] omerlh commented on #5531
Regarding the code - it was my mistake.

How can you add a static bearer token? Those tend to be valid for one hour usually...

[2020-02-23 07:05] omerlh commented on #5531
I think it supports basic auth, I need to check that

[2020-02-23 08:18] rarkins opened #5554 "Test coverage: complete datasource"
`yarn jest datasource` should result in 100% coverage of `lib/datasource`. Today it does not, meaning that we rely on code in other sections (e.g. workers) to fully test it. We can keep the other tests, but we should add to what we have so that `datasource` can be tested completely on its own.

[2020-02-23 08:52] rarkins opened #5555 "Refactor logging levels"
`logger.error`: Should be for times when we have made a mistake in the code, e.g. when we catch an unexpected error.

`logger.warn`: Problems with user input that users or administrators may need to look into, or with third party datasources or platforms.

`logger.info`: Anything that would be useful statistically, e.g.
- Processing repository
- Branch, PR, Issue or Comment created/updated/deleted

[2020-02-23 09:06] rarkins opened #5557 "De-duplicate datasource error handling"
Most datasources replicate the same error handling but we could centralize it. Concepts:

- Some hosts are critical/essential automatically (e.g. default registry hosts such as npmjs.org and rubygems.org). Any server-side errors for these (e.g. timeouts, connection lost, 429 or 5xx errors) result in `datasource-failure` errors and aborting the run.
- We should make this concept configurable, e.g.

[2020-02-23 10:35] rarkins commented on #5557
If we named it `abortOnError` instead of `essentialHost`, then it would fit in with both host- and package-based semantics and perhaps be more understandable. A challenge is we don't have a good way to match hosts (registryUrls) using packageRules.

[2020-02-23 20:21] rarkins opened #5559 "Branch update skipped when conflicted"
**What Renovate type are you using?**

master

**Describe the bug**

At times branches can be skipped when conflicted, if the current branch content is equal to the one being pushed.

**Did you see anything helpful in debug logs?**

[code]

**To Reproduce**

1. Create a repository with `package.json` (no lock file) including `left-pad` v1.0.0
2. Onboard and run Renovate (it should create a PR for

[2020-02-24 05:56] #5414 closed

[2020-02-24 05:57] viceice commented on #5414
Done 🎉

[2020-02-24 09:49] ZyanKLee commented on #3464
docker binary might be used in shell scripts inline like such:

[code]

[2020-02-24 10:01] ZyanKLee commented on #3464
I'd say the easiest first step would be to follow the suggestion of @krohrsb and search for defined variables beginning with the pattern of "DOCKER_IMAGE" which may then be extended by a custom identifier to allow multiple images per Jenkinsfile.
For example:

[code]
or
[code]

[2020-02-24 10:06] viceice commented on #3464
@ZyanKLee I would prefer to a more general way, see #1938

[2020-02-24 10:13] ZyanKLee commented on #3464
@viceice I wasn't aware about that idea. It would be even better, indeed.

[2020-02-24 10:37] micheelengronne commented on #4503
If anybody asks, passing the credentials through the ENV variable (so BUNDLE_GITHUB__COM=username:password) doesn't work.

[2020-02-24 10:44] micheelengronne commented on #4503
Waiting for https://github.com/renovatebot/renovate/pull/5269

[2020-02-24 10:59] viceice opened #5563 "feat(docs): add self-hosted cli gettting started section"
**What would you like Renovate to be able to do?**
We should add some info from [docs/development/self-hosting.md](https://github.com/renovatebot/renovate/blob/master/docs/development/self-hosting.md)
to https://docs.renovatebot.com getting started section.

It would hopefully solve issues like renovatebot/config-help#548

[2020-02-24 11:13] rarkins commented on #5563
Yes, I think the self-hosting doc is mistakenly in `docs/development` for historical reasons. Probably the majority of it could be relocated to usage and then published to docs.

Documenting "administration" topics vs "usage" topics has always been a challenge. I don't want to confuse regular Renovate users with irrelevant bot admin topics if we can avoid it. Maybe the flow is "Installation" at to

[2020-02-24 11:20] rarkins commented on #4503
@micheelengronne GitHub has quite a few ways to authenticate - OAuth tokens, App tokens, Personal Access Tokens, etc - can you verify if *none* of GitHub's tokens ever work with `BUNDLE_GITHUB__COM=` or if you just tried a subset?

[2020-02-24 11:23] micheelengronne commented on #4503
In fact I tested with my own Geminabox. So, `BUNDLE_MY__HOST__NAME=username:password` and it still doesn't work. In my dev and prod environment, bundle can fetch my Geminabox gems that way.

[2020-02-24 11:24] rarkins commented on #4503
Do you mean you tested with Renovate?

Renovate filters the list of env variables by default unless you set `trustLevel=high` in your bot config (e.g. `config.js` or `RENOVATE_TRUST_LEVEL=high` in env

[2020-02-24 11:27] micheelengronne opened #5564 "PR not acceptable for merging with ansible-galaxy manager"
**What Renovate type are you using?**

self-hosted Renovate with self-hosted gitlab-ce.

PR done via the ansible-galaxy manager gives `PR not acceptable for merging`. Branches are shown on Gitlab, releases notes are correctly fetched from Github but they never automerge.

**Did you see anything helpful in debug logs?**

I saw `INFO: PR not acceptable for merging`

**To Reproduce**

Use the `ansibl

[2020-02-24 11:27] micheelengronne commented on #4503
oh ok, I didn't know that. I will try again.

[2020-02-24 11:36] micheelengronne commented on #4503
It doesn't seem to work either. I have `INFO: RubyGems lookup failure: authentication failed` and:

[code]

[2020-02-24 11:38] micheelengronne commented on #4503
It seems to break before bundler is called. So, the ENV auth for Bundler is not called yet.

[2020-02-24 11:40] micheelengronne commented on #4503
I also put that in my hostRules:

[code]
Maybe, the `hostType` is wrong.

[2020-02-24 11:42] rarkins commented on #4503
These are off-topic for the current issue, so I am going to minimize them to avoid confusion. Let's wait on @bilby91 to deliver #5269 and first and not spam the participants of this issue so hard that they unsubscribe. Private Bundler authentication is not supported until then.

[2020-02-24 13:58] bilby91 commented on #4503
@rarkins When you get a chance take a look at my last question on the PR, I did some progress on the weekend but need to double check some behaviours.

[2020-02-24 14:36] rarkins opened #5565 "Autodetect GitLab fast-forward branch controls"
**What would you like Renovate to be able to do?**

Detect this setting:
![image](https://user-images.githubusercontent.com/6311784/75160871-1cf87580-571b-11ea-84a8-35e1e281d08d.png)

And if `rebaseWhen=auto` then change this to `rebaseWhen=behind-base-branch`, like we do with GitHub's branch protection.

**Describe the solution you'd like**

Exactly like the same in GitHub

**Describe alternative

[2020-02-24 14:57] viceice commented on #5565
[project-merge-method](https://docs.gitlab.com/ee/api/projects.html#project-merge-method)

[2020-02-25 05:34] #5565 closed

[2020-02-25 09:21] grit96 commented on #4806
This sounds like a great idea and something I would like to see added.

Another config option I would like to see is the ability to rebase other branches after renovate is finished.

e.g.

- Merge all passing passing renovate branches are into the base branch.
- Go through each of the other open non-renovate PRs with the same base branch and rebase them onto the base branch.

This would reduce the

[2020-02-25 10:12] rarkins commented on #4806
Not as easy as it sounds. Setting aside the risk that merge of an update to package A into master could actually break the update to B, that update to A might also result in a conflict in B's branch. Even if not, platforms like GitHub can take seconds to recalculate, so temporarily return "not ready for merge" results for B and other branches if Renovate tried them too quickly. You'd need some arb

[2020-02-25 10:34] grit96 commented on #4806
For the first point, I mean wait until all renovate branches are automerged through the normal process. Then after that has happened, start rebasing non-renovate branches.

[2020-02-25 10:44] rarkins opened #5573 "Support GitLab "merge trains""
**What would you like Renovate to be able to do?**

Support GitLab's "merge train" concept for dependencies, if it's feasible.

**Describe the solution you'd like**

Ideally Renovate MRs could be layered on top of each other to reduce the amount of rebasing required after each merge.

**Describe alternatives you've considered**

Today, rebasing can be an O(n) task.

**Additional context**

https:/

[2020-02-25 10:45] rarkins commented on #5573
@leipert do you have any experience using merge trains to judge if this is feasible or not?

[2020-02-25 11:13] LeJeanbono commented on #4754
The command passed this morning :
`DEBUG: Start gradle command
{
  "cmd": "gradle --init-script renovate-plugin.gradle renovate"
}
DEBUG: Using docker to execute
DEBUG: exec completed
{
  "cmd": "docker run --rm -v \"/mnt/renovate/gl/csuite/datawarehouse\":\"/mnt/renovate/gl/csuite/datawarehouse\" -v \"/tmp/renovate-cache\":\"/tmp/renovate-cache\" -w \"/mnt/renovate/gl/csuite/datawarehouse/api\" r

[2020-02-25 11:29] viceice commented on #4754
@LeJeanbono No warn or error message?

@rarkins  Can the first error be an old git version?

[2020-02-25 11:34] rarkins commented on #4754
Possibly. @LeJeanbono when you say it passed, I assume you also mean it *worked* and extracted the expected dependencies?

Also can you tell us the two job IDs - working and not-working?

[2020-02-25 11:57] walschap commented on #5150
@JamieMagee For me this means incrementing the constraint only. Leaving the dependency with the implicit version. It's flavour using explicit dependencies without constraints or implicit with constraints, so I wouldn't want to be forced in one or the other. Only updating explicit versions does that.

[2020-02-25 12:08] LeJeanbono commented on #4754
Ko : https://app.renovatebot.com/dashboard#gitlab/csuite/datawarehouse/145354480
Work : https://app.renovatebot.com/dashboard#gitlab/csuite/datawarehouse/145339348
Ko : https://app.renovatebot.com/dashboard#gitlab/csuite/datawarehouse/145316250
On the working one, I see `"seconds": 59` => Maybe a timeout at 60 ?

[2020-02-25 12:09] LeJeanbono commented on #4754
@viceice You've got the warn in my first message, no errors.
git version 2.17.1

[2020-02-25 13:03] viceice commented on #4754
We have a timeout! @rarkins What is the default timeout for the app?

https://github.com/renovatebot/renovate/blob/ecd981bf6403723868f37d96b380a8fcdde864a2/lib/manager/gradle/index.ts#L178-L181

[2020-02-25 13:04] rarkins commented on #4754
The app doesn't change any of the timeouts. Does that mean it's taking more than 10 minutes to simply extract the dependencies?

[2020-02-25 13:05] viceice commented on #4754
can you look at the logs? here are no time stamps

[2020-02-25 13:26] LeJeanbono commented on #4754
Can you give me the git describe command please?
Is there other tasks during the init script ?

[2020-02-25 13:38] mayfieldiv commented on #4806
It seems like doing anything to non-Renovate branches should be out of scope for a dependency updater such as Renovate

[2020-02-25 13:43] grit96 commented on #2645
My use case for this is because I run renovate on a schedule so that CI resources aren't clogged up during the day, and want to queue merges to happen during the schedule.

I use `:automergePatch` and manually review major and minor updates, so it would be great to be able to approve update MRs and queue them to merge during the schedule.

[2020-02-25 13:58] rarkins commented on #2645
Yes, so I think we need to do it like this:

- [ ] A new option to enable this feature, disabled by default for security/access control reasons
- [ ] For GitHub and GitLab, add a new checkbox if enabled. Also support label-based automerge for all, but especially for Bitbucket and Azure DevOps. Do not make the label name configurable - it should always be `automerge` or `merge`
- [ ] If the box is

[2020-02-25 14:46] rarkins commented on #4754
Here's timestamped logs of a failure:

[code]

The timestamp indicates that it failed about 69 seconds after the previous log message, so doesn't appear to be timer-related.

Here's the timestamped logs of a (very rare) success:

[code]

I can confirm it found a lot of deps and updates in those three files.

[2020-02-25 16:07] viceice commented on #4754
@LeJeanbono We do not call git directly, we simply call out gradle plugin:
https://github.com/renovatebot/renovate/blob/ecd981bf6403723868f37d96b380a8fcdde864a2/lib/manager/gradle/gradle-updates-report.ts#L35-L68

Can you try to run that manually? or provide a minimal public repo to reproduce the issue.
Maybe one of your gradle plugins are the issue here.

[2020-02-25 16:15] rarkins commented on #4754
I tried Google searching for the log message in the failures and pretty much only find this issue

[2020-02-25 16:19] viceice commented on #4754
Tried that too, nothig found 😅

[2020-02-25 17:15] grit96 commented on #5079
I've also noticed that I don't get release notes in my GitLab merge requests. I am running renovate from the CLI via cron.

[2020-02-25 17:34] wyardley opened #5574 "Release notes ordering issue"
**What Renovate type are you using?**
pro (self-hosted) - 18.x

**Describe the bug**
With internal (and now some external dependencies), sometimes we'll see release notes repeated, e.g., if there are two releases, the release notes for the most recent are repeated twice under each version.

This one doesn't seem to have GH releases, so maybe it's weirdness with NPM itself?
Compare this:
![image](h

[2020-02-25 17:38] viceice commented on #5079
@grit96 have configured a GitHub token?

[2020-02-25 20:32] adamdecaf opened #5575 "upgrade curl/wget dependencies (.travis.yml)"
**What would you like Renovate to be able to do?**
It would be fantastic if renovatebot could upgrade curl/wget commands where a version is identified. I've found this happens in HTML (`<script>` tag updates).

**Describe the solution you'd like**
A pull request like [the following](https://github.com/moov-io/moov-io/pull/39), but for curl/wget commands.

An example manual PR I've created is this:

[2020-02-25 20:33] adamdecaf commented on #5575
I have no idea what's involved with renovatebot to do this, but I'd help out with some guidance.

[2020-02-26 06:06] rarkins commented on #5575
Hi @adamdecaf, thanks for suggesting this use case. I don't think we'd add a *manager* specifically for this, but instead allow you to configure it using a generic regex-based approach described in #1938. I'll close this one and please subscribe there for updates of when it's implemented.

[2020-02-26 06:06] #5575 closed

[2020-02-26 06:07] rarkins commented on #5079
Yes, Renovate needs a github.com token defined or it won't attempt to add Release Notes. See https://github.com/renovatebot/renovate/blob/master/docs/development/self-hosting.md#githubcom-token-for-release-notes

[2020-02-26 06:07] #5079 closed

[2020-02-26 12:26] chris2k2 commented on #2868
Are there any news on this?

[2020-02-26 12:42] rarkins commented on #2868
No, I’m not aware of anyone starting it. Gitea platform support was added recently so they would be a good reference for anyone wanting to add CodeCommit.

[2020-02-26 16:38] jspenguin2017 commented on #2868
It turns out that I'm way more busy than I expected, so unfortunately I don't think I can start on this any time soon.

[2020-02-26 19:48] hongaar opened #5616 "How to clone private repository with composer"
### Which Renovate are you using?

WhiteSource Renovate App

### Which platform are you using?

GitHub.com

### Have you checked the logs? Don't forget to include them if relevant

Yes. They contain more or less the same info as below.

### What would you like to do?

We configured Renovate for a PHP/Composer project which contains packages from a private GitHub repository.

Renovate can't run com

[2020-02-26 20:51] JamieMagee commented on #5150
Okay, I think I've got enough information to implement this now.

Renovate should pin/update a dependency without a version, only if no constraint exists. If a constraint exists, Renovate should update the constraint, and leave the dependency as-is.

Thanks for all your help in nailing down the expected behaviour.

[2020-02-27 14:12] rarkins opened #5580 "Deprecate lookupType"
- Split `github` datasource into `github-tags` and `github-releases`

[2020-02-27 22:05] nejch opened #5583 "Allow configuration files in .gitlab directory"
**What would you like Renovate to be able to do?**
GitLab uses a `.gitlab/` dir in pretty much the same way as GitHub's `.github/`
, so it'd be nice to be able to put config files in there as well.

[2020-02-27 22:19] bengummer opened #5585 "Allow `endpoint` to be overridden for Bitbucket Cloud"
**What would you like Renovate to be able to do?**
I work on the Bitbucket Cloud team and we're trying to use Renovate for some of our repos, which live on our internal instance of Bitbucket Cloud so the base URL is different to `api.bitbucket.org`. We have tried configuring Renovate with our custom `endpoint` but are getting the error `Bitbucket Cloud endpoint can only be https://api.bitbucket.or

[2020-02-27 23:00] rarkins commented on #5585
@bengummer please go ahead with a PR. The main idea was to try to catch people making the mistake of configuring platform `bitbucket` thinking it was Bitbucket Server. Could be good to add an explicit log early along the lines of "Running in Bitbucket Cloud mode on custom endpoint".

[2020-02-27 23:03] rarkins commented on #5585
By the way, I've been interested to add bitbucket.org as a supported host in the free hosted app I run at WhiteSource. If you'd like to discuss that any time, please drop me an email.

[2020-02-28 00:49] bengummer commented on #5585
Awesome thanks @rarkins i'll put up a PR - and will fwd your message re: WhiteSource to a PM on the Bitbucket Cloud team.

[2020-02-28 01:16] bengummer commented on #5585
@rarkins i've got a PR up at #5587 - happy to make any changes you suggest

[2020-02-28 11:07] #5583 closed

[2020-02-28 12:44] leaumar opened #5592 "Onboarding repo is unexpectedly slow/unresponsive: repo staleness detection not visible to user"
**PS**: after writing the entire post below, github suggested "similar issues" that cleared everything up. It seems renovate considered my repo stale the moment it posted its onboarding PR, my updates to the repo since then have not been picked up yet, and this entire situation is the logical result of renovate's stale repo scheduling.

#3926 mentions the stale scheduling but not which renovation

[2020-02-28 18:14] worldtiki commented on #3897
Sorry for commenting on an old thread but, for Maven dependencies, where is the release timestamp sourced from?
The docs are not very clear. I've been getting a few PRs open almost immediately after a new version is available and I'm not quite sure how to fix this.

[2020-02-28 18:55] rarkins commented on #3897
There may not be a timestamp retrieves. Best if you raise a new issue

[2020-02-28 23:58] slauger commented on #5471
- submodule-renovate-test: the main repository
- test-repo: the submodule (included in the main repository)

My current gitlab-ci.yml:
[code]

Log Output for test_ssh_connection job:
[code]

 Log output for renovate_gitlab job:

[code]

[2020-02-29 06:42] rarkins opened #5596 "Automate `hostType` insertion for datasource requests"
`hostType` is an important field for the application of `hostRules`. Currently, each datasource implementation must remember to add the field to the `got` options it sends. Perhaps we could abstract this away by having a common `got` wrapper that takes the datasource's `id` as a parameter and extends the util/got implementation to automatically add the `hostType` to options on every request it rec

[2020-02-29 08:56] #5580 closed

[2020-02-29 09:04] rarkins commented on #5554
![image](https://user-images.githubusercontent.com/6311784/75604613-d4560900-5ada-11ea-85fa-5e158567398b.png)

To reproduce:
- Run `yarn jest datasource` locally
- Open the `coverage/index.html` file

[2020-02-29 09:07] viceice commented on #5554
Also we need to add test for branch coverage. There are a lot of missing else tests.

[2020-02-29 09:08] rarkins commented on #2893
@jGleitz sorry for the delay in getting back to you. I've been thinking about it and will respond soon

[2020-02-29 09:09] rarkins commented on #5277
This work is now complete. Note: similar approach has been taken for `datasource` too.

[2020-02-29 09:09] #5277 closed

[2020-02-29 09:11] rarkins opened #5597 "Add and enforce `readme.md` for all managers"
This readme is then used to build docs.renovatebot.com too. An example of a manager which has a readme.md: https://docs.renovatebot.com/modules/manager/nuget/

The enforcement can be part of `loadModules`

[2020-02-29 09:15] rarkins commented on #5554
Maybe create a new issue for that?

[2020-02-29 10:22] viceice commented on #5597
I think we should use a test case for that. Because the markdown files are not there at runtime.

[2020-02-29 10:24] rarkins commented on #5597
Good point. I maybe did that for versioning already and forgot :)

[2020-02-29 10:57] #5544 closed

[2020-02-29 21:52] viceice commented on #5596
Sounds good

[2020-02-29 21:56] #5597 closed

[2020-03-01 06:26] rarkins opened #5604 "Move DOCKER_USERNAME passing into datasource"
Shouln't we move this to the datasource as optional api function for config initialization?

_Originally posted by @viceice in https://github.com/renovatebot/renovate/pull/5595_

[2020-03-01 06:54] rarkins opened #5605 "Add `git-refs` datasource"
**What would you like Renovate to be able to do?**

Support a full git "refs" datasource in addition to the current `git-tags` datasource.

**Describe the solution you'd like**

Pretty much exactly like `git-tags` but not filtering for only tags: https://github.com/renovatebot/renovate/blob/aaa7728264c01a0c2752e3a4afc7dae52b7f7933/lib/datasource/git-tags/index.ts#L27

Naturally the code should be

[2020-03-01 07:05] rarkins opened #5606 "Move tests into lib"
Tests for datasources and managers are already part of `lib`. Now it's time to move the rest.

[2020-03-01 07:15] #5489 closed

[2020-03-01 08:29] rarkins opened #5607 "Separate npm/yarn/pnpm/lerna managers"
**What would you like Renovate to be able to do?**

Have separate Renovate "managers" for npm/yarn/pnpm/lerna instead of the combined one today.

**Describe the solution you'd like**

If they were separated into different managers then it could simplify the code a lot.

**Describe alternatives you've considered**

Keeping as-is, with "npm" as a single manager.

**Additional context**

Today we sup

[2020-03-01 08:43] rarkins opened #5608 "Better handling of "additional" files"
We now have a few cases, such as in Gradle and Maven, where Renovate may extract and update a file which is not the original "package file".

In some cases we require users to define `fileMatch` for the extra file, while in others we find and later update it automatically.

I noticed a use case from `ansible-galaxy` that should make us consider if we make this concept have first-class support, e.g

[2020-03-01 09:03] #1718 closed

[2020-03-01 09:08] rarkins opened #5609 ""No repositories defined for.." warnings"
**What Renovate type are you using?**

Log messages come from the hosted app

**Describe the bug**

**Did you see anything helpful in debug logs?**

Lots like this:

[code]

**To Reproduce**

Fork https://github.com/adrw/misk-web and run Renovate against it

[2020-03-01 09:10] rarkins opened #5610 "`galaxy` datasource 5xx errors should throw `DatasourceError`"
If a 5xx error is thrown when fetching from the `galaxy` datasource then Renovate should catch that error and throw a `DatasourceError` instead, e.g. like `npm` does.

[2020-03-01 09:48] viceice commented on #5608
I think adding the file property, where the change was found is the better idea. With that we can use our generic replacement to update the file and add it to the commit.

[2020-03-01 09:56] viceice commented on #5607
That really a challenge, because those managers are somehow equivalent. 🤔

What about using the npm manager to only update `package.json` if required.

add other lock-file manager to update lock files. eg. `yarn-lockfile`, `pnpm-lockfile`, `npm-lockfile` ...
So we run them if we find lockfiles for them. So the only challenge would be to check if we need to run a lockfile update.

[2020-03-01 10:00] rarkins commented on #5608
Yes that was part of the idea. Would make generic replacement much easier!

[2020-03-01 10:17] rarkins commented on #5607
I don’t think it could work with them being separate. One thing that maybe could work is if more than one manager can do the same work and it doesn’t cause a problem

[2020-03-01 14:00] zharinov commented on #5609
We can get rid of `warn` using default `registryUrl`. But for this particular repo Renovate produces Gradle json report containing Kotlin-specific packages only, without actual dependencies from `packageFile` content 🤷‍♀️

[2020-03-02 07:26] alexandernanberg commented on #3018
@rarkins Is the fix live for the GitHub app? I'm experiencing a similar issue, I can open another PR with more details if this issue is fixed

[2020-03-02 08:08] #5609 closed

[2020-03-02 10:32] PlaytikaGithub opened #5618 "PR declined in Bitbucket keeps being recreated"
**What Renovate type are you using?**

Renovate Self Hosted 19.153.2
Stash (Atlassian Bitbucket v5.16.3)

**Describe the bug**

Renovate created a PR to upgrade versions , I declined the PR and the during the next run Renovate created a new PR.

**Did you see anything helpful in debug logs?**

[12:20:01][Step 2/2] DEBUG: getBranchPr(renovate/all) (repository=inli/reno, branch=renovate/all)
[12:20:

[2020-03-02 10:37] viceice commented on #5618
Can you show use the relevat parts of your configuration? Any maybe a screenshot from the pr body?

[2020-03-02 11:02] rarkins commented on #5618
I'd guess this is an "immortal" PR because it's named `renovate/all`. If you group all dependencies into an "all" PR and then decline it and expect Renovate to not create a new one, then you won't get any PRs in future. Why group them all together and then decline them all?

[2020-03-02 11:13] BlueVirusX opened #5619 "Dependency with multiple classifiers is not updated correctly"
**What Renovate type are you using?**

I am using self-hosted Renovate in combination with a self-hosted Gitlab instance.

**Describe the bug**

Currently I am facing a bug when using classifiers. I have some dependencies which use the same group and name but different classifiers.
Like this:
[code]

* Problem 1:
When the a new version of the dependency is available Renovate creates only a MR for

[2020-03-02 12:01] rarkins commented on #5619
Hi, this needs reproduction in a public github.com repository in order to be debugged.

[2020-03-02 12:24] rarkins opened #5620 "Defer invalid/unsupported values until after extract phase"
In Renovate managers it's fairly common for each manager to check a versioning `isValid()` command during extraction phase. The problem with this approach is that users do not have the flexibility to apply a custom versioning scheme (where the value *is* valid) using `packageRules`.

We should review each manager and change it thusly:

- Do not check `isValid()` in the extract phase (unless it wou

[2020-03-02 13:32] ikesyo commented on #5619
This is similar/related to #4910.

[2020-03-02 14:05] rarkins opened #5622 "customManagers multi matchStrings support"
**What would you like Renovate to be able to do?**

Support multiple matchStrings per custom manager.

**Describe the solution you'd like**

- `matchStrings` can have a length > 1
- regex matches are performed nested/recursively until the array is empty
- matched groups are merged from left to right

[2020-03-02 14:23] rarkins opened #5623 "Add `semver-coerced` versioning"
**What would you like Renovate to be able to do?**

Support `semver` versioning with `semver.coerce` enabled for inputs.

**Describe the solution you'd like**

Wrap inputs in `semver.coerce` and then pass them to the regular `semver` versioning for a result.

**Describe alternatives you've considered**

`loose` version scheme can't detect unstable versions.

[2020-03-02 17:44] esetnik commented on #3018
I believe i'm having the same issue on the gitlab app. My lockfile maintenance MRs are getting closed instead of updated when I make other changes to the project that cause them to become conflicted.

[2020-03-02 22:42] ViralRuparel commented on #5606
Will do this, please assign

[2020-03-03 00:17] jonohill opened #5626 "Support parsing and evaluating build arguments specified before the FROM"
**What would you like Renovate to be able to do?**

Support parsing and evaluating build arguments specified before the FROM.

**Describe the solution you'd like**

As Renovate parses each line before the FROM, Renovate should read any default ARG values along the way (ARG being the only statement that can legally appear before a FROM anyway).
Where these ARG values are used as part of the FROM re

[2020-03-03 02:22] maplesteve opened #5627 "Renovate picks wrong / default(?) repo path for shared config if configured with encrypted npmToken and npmrc"
**What Renovate type are you using?**

GitHub App

**Describe the bug**

We have a shared config in a private Github repo. Other repos reference this and Renovate does its excellent job. Since we host packages in the private GitHub Package registry, we added a PAT (encrypted as advisd in the docs) as the encrypted `npmToken` and the GitHub registry as `npmrc` properties to the `renovate.json` file

[2020-03-03 02:22] maplesteve opened #5646 "Renovate picks wrong / default(?) repo path for shared config if configured with encrypted npmToken and npmrc"
**What Renovate type are you using?**

GitHub App

**Describe the bug**

We have a shared config in a private Github repo. Other repos reference this and Renovate does its excellent job. Since we host packages in the private GitHub Package registry, we added a PAT (encrypted as advisd in the docs) as the encrypted `npmToken` and the GitHub registry as `npmrc` properties to the `renovate.json` file

[2020-03-03 04:46] viceice commented on #5627
It's failing, because you override the default npm registry. So renovate will try to resolve all npm packages from GitHub registry.

So the solution would be to scope your GitHub org and only forward those packages to GitHub registry.

Eg: publish presets as `@ourOrgName/renovate-config`, reference as `@ourOrgName:preset-name`.

Configure scoped registry:  https://docs.npmjs.com/using-npm/scope.ht

[2020-03-03 07:34] viceice commented on #4093
superseeded by #5607

[2020-03-03 07:34] #4093 closed

[2020-03-03 07:36] viceice commented on #3930
I'll have a look at this, cause we have resolutions at renovate too.

[2020-03-03 07:49] rarkins commented on #5626
This sounds like a reasonable addition to our `dockerfile` manager, however once #5617 is merged you could work around the problem that way.

[2020-03-03 10:52] #4511 closed

[2020-03-03 15:22] petemoore opened #5631 "go mod tidy not run after go.mod/go.sum updated"
**What Renovate type are you using?**

Hosted app on github.

**Describe the bug**

The Renovate PR's we get for go (golang) dependency updates don't run `go mod tidy` after applying the changes, and so we always get additional noise (that causes our CI to failure) due to the additional unneeded entries in `go.mod` and `go.sum` since these files have not been cleaned. Our CI requires that they rem

[2020-03-04 11:00] piotr-s-brainhub opened #5638 "dependencies dashboard"
As renovate sometimes skipped some of my dependencies and renovate dashboard was not enough for me, I decided to implement my own dashboard showing all dependency versions though it's readonly because it would require too much work from me to make it clickable.

I have something like that:
<img width="1440" alt="Screenshot 2020-03-04 at 11 35 37" src="https://user-images.githubusercontent.com/2085

[2020-03-04 11:04] piotr-s-brainhub opened #5639 "fixing vulnerabilities"
It would be nice if renovate could fix all or at least a part of vulnerabilities, dependabot isn't able to fix.

[2020-03-04 11:07] piotr-s-brainhub opened #5640 "handling git dependencies"
Sometimes I have dependencies in my `package.json` defined as a link to a git (GitHub, BitBucket or GitLab) repo, possibly with a branch name or a hash.

So it would be nice if renovate allowed me two options:
- replace git dependencies into NPM dependencies
- update git dependencies to the newest hash

[2020-03-04 11:13] piotr-s-brainhub opened #5641 "Node.js version in CircleCI config not updated"
**What Renovate type are you using?**
GitHub App

**Describe the bug**
This repo https://github.com/brainhubeu/cucumber-steps has Node.js v8.17 in `.circleci/config.yml` but there's no renovate PR updating it to the newest 12.16.1.

**Did you see anything helpful in debug logs?**
No

[2020-03-04 11:29] rarkins commented on #5640
We don't plan to support this automatically, because there's too many ways such PRs could be wrong/unwelcome. We assume most people will use a GitHub dependency instead of npm for a good reason, and we may not know it.

This is possible. Can you collect the possible syntaxes that would need to be supported?

[2020-03-04 11:30] rarkins commented on #5639
Let's track this in #3080 instead

[2020-03-04 11:30] #5639 closed

[2020-03-04 11:37] piotr-s-brainhub commented on #5640
`"@brainhubeu/gatsby-docs-kit": "RobertHebel/gatsby-docs-kit.git#upgrade-gatsby-to-v2",`
`"@brainhubeu/gatsby-docs-kit": "https://github.com/RobertHebel/gatsby-docs-kit.git#upgrade-gatsby-to-v2",`
`"react-native-camera": "git+https://git@github.com/react-native-community/react-native-camera",`

at the begin:
- `git+https://git@github.com/`
- `https://github.com/`
- nothing so it's GitHub as defaul

[2020-03-04 11:50] rarkins commented on #5640
How could Renovate know what to upgrade `RobertHebel/gatsby-docs-kit.git#upgrade-gatsby-to-v2` to though? That seems like a very specific branch and not something to be updated. I had expected more like `RobertHebel/gatsby-docs-kit.git#abcdef0` which then could be handled as so:
- Check the latest commit on the default branch
- If it's not `abcdef0` then update it to the latest commit

*Adding* a

[2020-03-04 12:01] piotr-s-brainhub commented on #5640
it wasn't a good example, the hash should be updated only if there's already a hash

[2020-03-04 13:11] rarkins commented on #5640
Phase 1: If a hash exists then update it
Phase 2: If no hash or commitish reference exists but pinDigests is enabled, then add a commit hash

[2020-03-04 13:34] zharinov opened #5642 "Ensure SBT datasource follows conventions for cross-compiled artifacts"
**What would you like Renovate to be able to do?**
Though Renovate is already trying to find matching subdirectory in Maven repos, I'm not completely sure it's always optimal. If this logic would match to how SBT resolves Scala versions, we can delete notice from [doc details](https://docs.renovatebot.com/modules/manager/sbt/).

**Describe the solution you'd like**
Find `sbt.build` files that use

[2020-03-04 14:16] #5620 closed

[2020-03-04 16:01] christophehurpeau commented on #5230
Hello, do you plan to work on this ? Is there something I can do to help ?

[2020-03-04 16:14] rarkins commented on #5230
If you can create one or more repos to test against plus identify any shortcomings compared to today then that would help. I’m not using v2 yet so don’t have personal experience to reflect on

[2020-03-04 17:10] christophehurpeau commented on #5230
I have this repo: https://github.com/christophehurpeau/pob-eslint-config

[2020-03-04 17:55] rarkins commented on #5230
And how are Renovate PRs wrong today? What’s missing?

[2020-03-04 20:07] rarkins opened #5643 "Refactor: Create constants for `skipReason`"
Let's define a new constants file for `skipReason`. I think right how we have a lot of inconsistency and duplication. Perhaps though we can first convert these into constants and then afterwards consolidate them.

[2020-03-04 20:23] ViralRuparel commented on #5643
Assign this one to me.

[2020-03-04 22:16] JamieMagee commented on #4040
This would be extremely useful helm/helm#3276

[2020-03-05 09:20] christophehurpeau commented on #5230
There's an error: https://github.com/christophehurpeau/pob-eslint-config/pull/116#issuecomment-586036038
I look at the log in app.renovatebot.com/dashboard and the real error seems to be: `Error: Unsupported option name (\"--ignore-scripts\")`

[code]

[2020-03-05 09:41] rarkins commented on #5230
I'm not sure that the app is using Yarn v2 already, but in that case that error message is extra concerning

[2020-03-05 09:43] rarkins commented on #5646
Moving this back to the main repo, although unsure yet of the best fix

[2020-03-05 09:50] arcanis commented on #5230
All such settings are now expected to be kept within the yarnrc or the environment, so that they affect all commands and not only the one running now. In this case you'd replace `--ignore-scripts` with `YARN_ENABLE_SCRIPTS=0` in the env.

[2020-03-05 09:51] arcanis commented on #5230
(Note that the engine and platform checks haven't been implemented yet but will generate warnings, not errors, so you won't need options or settings)

[2020-03-05 10:50] BlueVirusX commented on #5619
@rarkins
Hi, I tried to create a [reproduction sample](https://github.com/BlueVirusX/renovate_issue_5619), but the renovate bot has some problems with my repository.

[Logs:](https://app.renovatebot.com/dashboard#github/BlueVirusX/renovate_issue_5619/148646020)
[code]

Any ideas why gradle extraction is failing?

[2020-03-05 10:52] rarkins opened #5647 "Memory leak during tests"
Successful tests often end with this warning: `Running coverage on untested files...A worker process has failed to exit gracefully and has been force exited. This is likely caused by tests leaking due to improper teardown. Try running with --runInBand --detectOpenHandles to find leaks.`

This is on OSX but may be platform-independent.

[2020-03-05 10:53] viceice commented on #5647
Yes, I've seen them too. `--detectOpenHandles` never find something relevant. 🤔

[2020-03-05 11:32] rarkins commented on #5619
When I debug it locally I get `stdout: "JAVA_HOME not set and cannot find javac to deduce location, please set JAVA_HOME."`

@viceice do you think we have a problem with our `renovate/gradle` image?

[2020-03-05 11:49] #5467 closed

[2020-03-05 12:21] zharinov commented on #5642
1. For stable scala versions `>= 2.10.0`, drop the minor part.
Scala: `2.12.9`
Dep: `"com.example" %% "foo" % "1.2.3"`:
POM: `.../com/example/foo_2.12/1.2.3/foo_2.12-1.2.3.pom`
2. For other scala versions, use it as is.
Scala: `2.8.1`
Dep: `"com.example" %% "foo" % "1.2.3"`:
POM: `.../com/example/foo_2.8.1/1.2.3/foo_2.8.1-1.2.3.pom`
\
Scala: `2.12.0-RC1`
Dep: `"com.example" %% "foo" % "1.2.3"`:
PO

[2020-03-05 12:42] #5642 closed

[2020-03-05 13:17] R-omk commented on #4601
To fix this issue, it need to remove all unnecessary manipulations with the git tags:
https://github.com/renovatebot/renovate/blob/cbe1246/lib/datasource/go/index.ts#L88-L90

To fetch new dependency for go modules  just need to run  native go  command:
[code]
its will  look like
[code]

then  just again parse go.mod

@rarkins

related:
https://github.com/renovatebot/renovate/pull/2584

[2020-03-05 13:18] Marsup opened #5650 "Lockfile PRs auto-closed when they shouldn't be"
**What Renovate type are you using?**

Self-hosted Renovate on Github.

**Describe the bug**

Since some time, lockfile PRs are either auto-closed when there's a conflict or when we explicitely tick the rebase checkbox, while there is still work to do though, you'll notice in the logs it even updates the PR right before closing it. I'd say it happened on or around the change about `rebaseWhen` (we

[2020-03-05 13:45] R-omk commented on #4601
^^  Such a solution will be completely independent of the source storage method and is preferred.
`go get`  will do everything himself, and even much better than manually searching for dependencies by tags in a git.

All problems with authorization are easily solved as described in the header of this topic:

.gitconfig
[code]

Optionally, for self-signed certificates, you can add a special flag  `

[2020-03-05 13:59] rarkins opened #5651 "Enforce manager -> datasource links for better documentation"
I think users would benefit if each manager's documentation page stated which `datasource` values it supported, e.g. `docker`, `github-tags`, etc. Ideally this would be auto-generated from the code like we do for `fileMatch` (see https://docs.renovatebot.com/modules/manager/cocoapods/ for an example).

I can think of a few ways to do this, although each has a downside:

1. Scan each manager's file

[2020-03-05 14:16] rarkins commented on #4601
From my experience implementing dozens of managers, any time we've used binaries for lookups and then attempted to parse the results, it's been very painful. And trust me, the following is never ever true, regardless of manager:

I am not encouraged either by the rapid changing of Go's modules implementation, if we are to be the one interpreting it and trying to keep up - ideally we could wait unt

[2020-03-05 14:39] R-omk commented on #4601
Currently, the go modules look better and more stable than a year ago.

`go get` now has more advantages, for example:

https://github.com/golang/go/wiki/Modules#daily-workflow

It can build a stable version from a branch name natively supported in the go module.

go.mod become look like:
[code]

This is a very useful feature for the renovatebot that automates the development and testing process.

[2020-03-05 14:48] rarkins commented on #4601
Happy to receive a PR if you have time. Remember that Renovate does a lot more than simple upgrades though. For example if a dependency has a patch upgrade, a minor upgrade, and two major upgrades then it's entirely possible to configure Renovate to receive four separate PRs to choose from (but by default it's maximum two - the latest major and latest non-major).

BTW I had hoped that using the ne

[2020-03-05 14:49] danez commented on #5616
I have the exact same issue, with the difference that we use bitbucket server and not github. We actually have an `auth.json` file (https://getcomposer.org/doc/articles/http-basic-authentication.md) next to `composer.json`, but this file does not seem to be picked up when renovate bot runs.
The file though usually works, because otherwise our producton servers wouldn't be able to connect to our pr

[2020-03-05 14:55] piotr-s-brainhub opened #5652 "a community to report bugs"
As `renovate` community is already big and it's still growing, I thought it would be great to have a place to report breaking changes occurring in a new patch or minor version e.g. https://github.com/Automattic/mongoose/issues/7660

I see the following categories:
- serious vulnerability - a new version is a real virus e.g. sending somewhere the content of local files - IMO, even NPM should get ri

[2020-03-05 14:57] danez commented on #5616
I see that the renovate code, creates it's own auth.json file here: https://github.com/renovatebot/renovate/blob/master/lib/manager/composer/artifacts.ts#L101
Would you accept a PR that instead of overwritting the file, merges it with whatever is already there?

[2020-03-05 15:05] rarkins commented on #5616
Absolutely!

[2020-03-05 15:09] R-omk commented on #4601
Of course, I understand that he can make several separate PRs:

For example, it can even make three requests for each package individually:

[code]
The last example is good for nightly builds.

As an optimization, it can simultaneously get all possible versions using two commands (below) and then make separate PR for each package if necessary
[code]
For local repositories, we explicitly disable pr

[2020-03-05 20:57] #5606 closed

[2020-03-06 08:07] #1938 closed

[2020-03-06 08:08] rarkins commented on #1938
Example: https://github.com/renovate-tests/regexmanager1/pull/1

[2020-03-06 08:12] R-omk commented on #3348
Here is a tool that does exactly what you need
https://github.com/marwan-at-work/mod

[2020-03-06 10:36] christophehurpeau commented on #5230
so the problem is on this line: https://github.com/renovatebot/renovate/blob/92722fc00c88e52a854a95b02a622198ba1c3741/lib/manager/npm/post-update/yarn.ts#L91 ? does `YARN_ENABLE_SCRIPTS=0` is also supported in yarn 1 ?

[2020-03-06 10:50] arcanis commented on #5230
As far as I can tell, yep!

No, it's 2.x only (it can be semver-checked on `yarn --version`).

[2020-03-06 11:25] rarkins commented on #1938
Docs: https://docs.renovatebot.com/modules/manager/regex/

Feedback welcome! I also hope to build up a small army of presets around this functionality and do better at documenting *those* too.

[2020-03-06 11:26] rarkins commented on #5422
Docs on the regex manager just released: https://docs.renovatebot.com/modules/manager/regex/

This now needs an `apk` datasource added.

[2020-03-06 11:27] rarkins commented on #3464
We just released "regex" manager support, allowing for custom search patterns within files. Docs: https://docs.renovatebot.com/modules/manager/regex/

[2020-03-06 11:28] rarkins commented on #5626
Not a full solution but probably a valid workaround: https://docs.renovatebot.com/modules/manager/regex/

[2020-03-06 11:45] rarkins commented on #5480
As a workaround it should be possible to add a custom rule using our new regex-based manager: https://docs.renovatebot.com/modules/manager/regex/

[2020-03-06 11:49] rarkins commented on #4051
As a workaround it should be possible to add a custom rule using our new regex-based manager: https://docs.renovatebot.com/modules/manager/regex/

However I don't see any `.tool-versions` file in that repo today

[2020-03-06 11:50] rarkins commented on #4522
I think this behavior shouldn't happen anymore. Renovate checks that each force push is not empty/duplicate

[2020-03-06 11:50] #4522 closed

[2020-03-06 11:51] rarkins commented on #4674
@fgreinacher I think this should now be possible Both `manager` and `datasource` implementation can be wholly contained and dynamically detected now within `lib/manager/*` and `lib/datasource/*` respectively. I would be interested to hear if this approach works for you.

[2020-03-06 11:52] rarkins commented on #4781
We just added `cdnjs` support recently so this could be next on our list. Looks like we'd need to add support for each CDN in `datasource` first. Can you provide more details/specifications about their URLs, APIs, etc?

[2020-03-06 11:53] micheelengronne commented on #3634
With the custom manager, it is possible to handle dependencies. What is missing though are datasources.

Inspec dependencies can be stored on a local path, an url, `supermarket` and `chef compliance server`. See https://www.inspec.io/docs/reference/profiles/

[2020-03-06 11:54] rarkins commented on #4992
Needs first a `go-version` datasource added.

[2020-03-06 11:55] #4971 closed

[2020-03-06 11:55] rarkins commented on #4959
As a workaround it should be possible to add a custom rule using our new regex-based manager: https://docs.renovatebot.com/modules/manager/regex/

[2020-03-06 11:56] rarkins commented on #3717
As a workaround it should be possible to add a custom rule using our new regex-based manager: https://docs.renovatebot.com/modules/manager/regex/
However potentially new datasources are needed first. So far this feature request is short on examples so not possible to be sure.

[2020-03-06 11:56] rarkins commented on #5214
As a workaround it might be possible to add a custom rule using our new regex-based manager: https://docs.renovatebot.com/modules/manager/regex/

[2020-03-06 11:57] rarkins commented on #5377
As a workaround it might be possible to add a custom rule using our new regex-based manager: https://docs.renovatebot.com/modules/manager/regex/

Depends how complex your dependency definitions are of course

[2020-03-06 12:26] vschoener commented on #4959
Pretty nice too, I'll give it a try

[2020-03-06 14:18] rarkins commented on #5173
I think to avoid accidental conflicts it's good to unify under green/yellow/red. I started on this and it's definitely harder than it looks.

[2020-03-06 15:48] aaronjensen commented on #4051
@rarkins interesting. Which repo are you referring to? asdf is the tool that makes use of `.tool-versions`, not the repo I was writing in about. The repo is private.

[2020-03-06 16:06] rarkins commented on #4051
Ok but in that case there’s no reference repositories for us to look at?

[2020-03-06 17:11] aaronjensen commented on #4051
Here's an example `.tool-versions`:

[code]

Is that good or do you need an actual repo with that in it?

[2020-03-06 22:51] ViralRuparel commented on #5610
Could you please elaborate and also how can I reproduce it?

[2020-03-07 00:33] ViralRuparel commented on #4959
assign this to me @rarkins

[2020-03-07 00:57] ViralRuparel commented on #4436
please use below in your .editorconfig file:
[code]
This should resolve your issue

[2020-03-07 01:45] rarkins commented on #5610
Updated description

[2020-03-07 03:07] ExE-Boss commented on #4436
@ViralRuparel That will still result in `renovate.json` being created with the inferior spaces instead of the superior tabs.

[2020-03-07 03:12] ViralRuparel commented on #4436
Working only with tabs, then below will work for you:
[code]

[2020-03-07 04:02] rarkins commented on #4436
@ViralRuparel I don't think any of these changes work, because currently Renovate doesn't pay attention to `.editorconfig` when stringifying its `renovate.json`

[2020-03-07 04:04] ViralRuparel commented on #4436
okay!

[2020-03-07 04:10] rarkins commented on #4051
If you want to try it, I suggest doing it in a public repo so that it's easiest to troubleshoot

[2020-03-07 11:13] #5554 closed

[2020-03-07 13:16] #5610 closed

[2020-03-08 14:03] #5173 closed

[2020-03-08 19:51] ChristianMurphy opened #5667 "Detect and follow Maven group and artifact moves"
**What would you like Renovate to be able to do?**
Some maven artifacts change group and artifact ids on major releases.
Many projects include a link forward to the new location, for example the "Note: This artifact was moved to" sections of:
* https://mvnrepository.com/artifact/commons-collections/commons-collections
* https://mvnrepository.com/artifact/org.apache.commons/commons-io
* https://mvn

[2020-03-08 20:18] rarkins commented on #5667
Is essentially the same concept as #5535 ?

[2020-03-08 20:23] ChristianMurphy commented on #5667
Similar concept, this would not be a manual rename, but could be automatically extracted from maven central.
More related to https://github.com/renovatebot/renovate/issues/2223

[2020-03-08 20:26] ChristianMurphy commented on #5667
ran into this on https://github.com/Jasig/SimpleContentPortlet/pull/152

[2020-03-08 20:31] ChristianMurphy opened #5668 "Dependency dashboard issue out of sync, listing PRs as open when they are not"
**What Renovate type are you using?**

Hosted renovate, with GitHub on https://github.com/Jasig/uPortal-start

**Describe the bug**

The dependency dashboard issue lists several PRs as open (unlinked) when they have not been opened.

https://github.com/Jasig/uPortal-start/issues/440

---
screenshot:

![Screenshot_2020-03-08 Update Dependencies (Renovate Bot) · Issue #440 · Jasig uPortal-start](htt

[2020-03-08 20:33] rarkins commented on #5668
Can you tell me for the ones that aren't linked, do they:
- all exist?
- some exist but some don't?
- none exist?

[2020-03-08 20:34] ChristianMurphy commented on #5668
none exist

[2020-03-08 20:36] rarkins commented on #5668
Thanks. I would like to see if it resets to correct on the next run too, i.e is it temporary or permanent.

[2020-03-08 20:37] rarkins commented on #5667
OK, we would need to get that info out of the API somehow though.

[2020-03-08 20:48] ChristianMurphy commented on #5667
It looks like this can be detected through the relocation metadata https://maven.apache.org/guides/mini/guide-relocation.html

[2020-03-08 21:06] ChristianMurphy commented on #5668
Next run appears to have finished, https://app.renovatebot.com/dashboard#github/Jasig/uPortal-start/149878694
PRs and master issue are the same after.

[2020-03-09 04:34] #5643 closed

[2020-03-09 04:47] lephuongbg opened #5670 "STOPPED status is considered green in Bitbucket platform"
**What Renovate type are you using?**

self-hosted Renovate on Bitbucket Pipelines

**Describe the bug**

On Bitbucket, the STOPPED status of a commit (result of manually stopping a pipeline during its run) is considered as success and as a result, the branch is auto-merged on subsequent run of renovate.

**Did you see anything helpful in debug logs?**

[code]

**To Reproduce**

1. Run renovate
2.

[2020-03-09 04:56] #5670 closed

[2020-03-09 06:18] rarkins opened #5671 "Composer lockfile updates hanging"
**What Renovate type are you using?**

App

**Describe the bug**

Composer updates never return.

**Did you see anything helpful in debug logs?**

From testing manually:

[code]

**To Reproduce**

1. Git clone https://github.com/geea-develop/heroku-laravel-mongodb
2. Manually update `laravel/framework` in `composer.json` to `5.8.37`
3. Run `docker run --rm -v `pwd`:`pwd` -w `pwd` renovate/composer

[2020-03-09 06:32] rarkins commented on #5671
Seems like it's a Composer problem with no solution: https://github.com/composer/composer/issues/7665

[2020-03-09 07:01] zharinov commented on #5671
So do we need mechanism for timeout process termination?

[2020-03-09 07:29] rarkins commented on #5671
Yes. A general one seems essential now but I’m working on pushing through a Composer-specific commit today

[2020-03-09 08:16] JamieMagee opened #5672 "Add Repology datasource"
**What would you like Renovate to be able to do?**
Add support for the [Repology API](https://repology.org/api) as a datasource

**Describe the solution you'd like**
Since the [regex manager](https://docs.renovatebot.com/modules/manager/regex/) has been added, a lot of scenarios around Dockerfiles have been unlocked. With the existing datasources we can _kind of_ support updating system packages,

[2020-03-09 10:15] #3568 closed

[2020-03-09 11:21] alan-agius4 opened #5674 "Keep getting lock-file-maintenance PRs when they are merged"
**What Renovate type are you using?**

**Describe the bug**
We are receiving PRs for lock file maintenance, in the last couple of we received 3 after each other. Once the lock file update gets merged we receive another one.

https://github.com/angular/universal/pull/1541
https://github.com/angular/universal/pull/1540
https://github.com/angular/universal/pull/1539

**Did you see anything helpful in

[2020-03-09 11:43] zharinov commented on #4376
Seems to be fixed

[2020-03-09 11:43] #4376 closed

[2020-03-09 11:56] rarkins commented on #5674
@alan-agius4 I think it may be because the branch is left there after merging. The "schedule" for lock file maintenance is what controls branch *creation*, so if a branch already exists when Renovate runs then essentially the schedule is bypassed. If there were not updates necessary to the lock file then you'd see it autodeleted, but because there were some new updates, you saw it updated and then

[2020-03-09 12:12] alan-agius4 commented on #5674
Thanks for the insight.

[2020-03-09 12:12] #5674 closed

[2020-03-09 12:30] Majkl578 opened #5675 "Renovate using legacy PHP, incompatible with PHP 7.3+ code"
**What Renovate type are you using?**

self-hosted, GitLab

**Describe the bug**

I was recently investigating why our Renovate bot stopped working. It turned out it's using legacy PHP version 7.2.24 which makes it crash on parse error (with PHP 7.4 code).

**Did you see anything helpful in debug logs?**

[code]

**Additional context**

I see Renovate is using `--ignore-platform-reqs`, this is ext

[2020-03-09 12:33] #5671 closed

[2020-03-09 13:18] rarkins commented on #5668
Seems like they're stuck in an "intermediate state" as you say. Converting all our return values/result values into TypeScript enums at the moment, after that we should hopefully catch the problem.

[2020-03-09 13:19] rarkins commented on #5667
OK, waiting on #2223

[2020-03-09 13:23] rarkins commented on #5675
- [ ] PHP version in our `Dockerfile` can be updated
- [ ] We could remove the ignoring of platform reqs for self-hosted, but would need to work out how to configure that

[2020-03-09 13:47] zharinov commented on #4689
Can't find timestamps for Terraform: https://registry.terraform.io/v1/modules/gruntwork-io/network/google/versions. Maybe, I need some another URL?

[2020-03-09 14:17] nonsenz commented on #2355
hi,
i am wondering if there is any idea how and when to address this? we would really love to use dependabot, but i can't see how it is usable in a php project if composer.json `platform` is ignored and `--ignore-platform-reqs` is activated? if somebody uses dependabot in a php project: how are you doing this?

[2020-03-09 14:21] rarkins commented on #4689
Looks like you'd need to query each version one by one: https://www.terraform.io/docs/registry/api.html#sample-request-6

But such querying could be cached for a very long time, similar to how we did with maven datasource found/not found results although for much longer.

[2020-03-09 15:21] Majkl578 commented on #5675
I think this could be a bit tricky, given that people can use basically any arbitrary `"ext-foo": "*"` as dependency. Probably good for a separate issue for some research first.

Regarding PHP, I see you are using Ubuntu, I can highly recommend `deb.sury.org` as a source for the latest PHP versions even for LTS Ubuntu/Debian (the author is also a PHP maintainer in Debian project).
https://deb.sury

[2020-03-09 20:44] JamieMagee commented on #4040
Initial work is [here](https://github.com/JamieMagee/helm-renovate). Will move into the renovatebot org once it's been cleaned up.

Still to do:
- [ ] Fix chart testing automation
- [ ] Write README
- [ ] Group renovate updates

[2020-03-09 21:58] Trim21 commented on #3557
package maybe compatible after upgrade, too. So `incompatible` should be removed.

Not same but relatived problem.

[2020-03-10 05:51] rarkins opened #5680 "Remove xargs docker use for Windows"
Docker container cleanup won't currently work on Windows due to xargs use. We should convert it ourselves.

[2020-03-10 05:52] #3930 closed

[2020-03-10 06:17] rarkins opened #5682 "Refactor default registryUrls logic"
If a datasource has a default registry URL (e.g. `https://registry.npmjs.org`), it should be added to the config at the datasource stage and not at the extract stage.

- [ ] Each datasource should export a new field `defaultRegistryUrls` (if applicable)
- [ ] The datasource index should check if the `registryUrls` field already has any values and if not then add the `defaultRegistryUrls` to `regis

[2020-03-10 09:53] viceice commented on #3464
here is a sample i use:

[code]

It works for digest updates too. 🎉

[2020-03-10 10:32] simoneb opened #5683 "repository-changed error"
### Which Renovate are you using?

WhiteSource Renovate App

### Which platform are you using?

GitHub.com

### Have you checked the logs? Don't forget to include them if relevant

[code]

### What would you like to do?

I'm seeing all the recent jobs in a repository showing this output. I am noticing that the master issue in that repository is out of date and doesn't match the PRs that are open,

[2020-03-10 10:50] rarkins commented on #5683
Looks like we're not sending the `state` field in the POST body.

[2020-03-10 10:57] rarkins commented on #5683
Patch in progress

[2020-03-10 11:00] #5683 closed

[2020-03-10 11:01] rarkins commented on #5683
I'll let you know once the release is live in the app, so you can confirm the fix. I was able to reproduce and verify locally though.

[2020-03-10 11:04] simoneb commented on #5683
Awesome, thanks. Once it is, is there any action I need to do on the repo(s), which are affected?

[2020-03-10 11:09] ZyanKLee commented on #3464
my approach is a little more general (but does not yet support digests):

[code]

In Jenkinsfile before the start of the pipeline we can `def` variables named by a specific scheme and assign them the version number. If needed a comment with a `lookupName` can be added at the end of the same line.

The name of this variable has to consist of three parts divided by underscores (_): <datasource>_vers

[2020-03-10 11:15] rarkins commented on #5683
I would expect they'd "just work" the next time they are checked

[2020-03-10 11:21] rarkins commented on #3464
This is really great. I'd like to:
- Start putting these approaches into presets that can be shared/imported instead of copy/pasted
- Create a new set of example/showcase repos that demonstrate the code/config/results

[2020-03-10 11:49] ZyanKLee commented on #3464
sure, you got my blessings :)

[2020-03-10 13:08] BlueVirusX commented on #5619
@rarkins Can I do anything to resolve this `JAVA_HOME` issue?

[2020-03-10 14:48] mxey opened #6793 "regex manager: use a prefix for looking up versions"
### Which Renovate are you using?

Renovate Open Source CLI

### Which platform are you using?

GitLab self-hosted

### Have you checked the logs? Don't forget to include them if relevant

[code]

### What would you like to do?

In this Dockerfile:

[code]

I would like to renovate `CUE_VERSION`. Unfortunately, the CUE releases on GitHub are named like `v0.0.14`, so there is a `v` prefix. Renovate

[2020-03-10 15:23] rarkins opened #5685 "Eliminate or Pin external actions"
Let's either copy/paste (if allowed by license) or pin to SHAs all external actions scripts we use.

[2020-03-10 15:34] ZyanKLee commented on #3464
Perhaps hold back my example. It's not working as expected. We will have another look at it tomorrow.

[2020-03-11 08:15] JamieMagee commented on #5685
I think pinning is a more sustainable solution.

[2020-03-11 09:24] ZyanKLee commented on #3464
after we fixed the issue with the regex (I got confused due to the fact that the regex would match the whole file, not line by line), you may now add it to whatever docs and preset you like.

[2020-03-11 09:44] ZyanKLee commented on #3464
variant with docker digest:
[code]

[2020-03-11 16:24] ChristianMurphy commented on #5668
:+1:
linking related PR https://github.com/renovatebot/renovate/pull/5664

[2020-03-11 17:14] rarkins commented on #5668
I'm working on a branch that should solve this once and forever, but so far it's like pulling on a thread that keeps going - changes needed in a lot of code.

[2020-03-11 23:07] maplesteve commented on #5646
@rarkins Do you have an estimate when a fix will be available?
A lot of our repos are currently not "renovated" because of this issue. As a workaround we could remove the `npmrc` property from all the "renovate.json" files but would leave it, if a fix is near. Thanks!

[2020-03-12 05:29] viceice commented on #5646
@maplesteve You should configure your  `npmrc` as follows:

[code]

if you are using npm lockfile you need to use following `npmrc`  (encrypt it)
[code]

[2020-03-12 12:37] mykter commented on #1938
Looks terrific. Like the improvement on my example of embedding source info inline as comments.

[2020-03-12 12:48] mykter opened #5701 "regex manager docs: enumerate data sources"
**What would you like Renovate to be able to do?**
When using regex manager (#1938), find the ids of all the data sources that can be used

**Describe the solution you'd like**
The docs should either explain how to identify the id for each source, or just provide a complete list.

**Describe alternatives you've considered**
Go hunting through the code. Guess. Try and find a config-validation mode,

[2020-03-12 13:44] rarkins commented on #5701
There's some TBD code to fill this in here in the docs: https://docs.renovatebot.com/modules/datasource/

[2020-03-13 01:56] jmhodges opened #5705 "Go modules.txt files are breaking on missing `## explicit`"
When renovatebot updates a Go go.mod file (like this PR https://github.com/jmhodges/howsmyssl/pull/314/files ), it's removing the "## explicit" lines in `modules.txt`. That's breaking the build when are run with `go install -mod=vendor` is run with Go 1.14.

See https://travis-ci.org/github/jmhodges/howsmyssl/builds/660876132 (exact problem in the details below)

<details>
============go: inconsis

[2020-03-13 06:00] rarkins commented on #5705
Renovate does not touch that `modules.txt` file directly - it is only updated by `go` itself when Renovate calls `go mod vendor`. Is it possibly caused by a mismatch in `go` versions, e.g. if behavior changed between versions?

[2020-03-13 09:39] SkReD opened #5709 "Possibility to reset approvals count in gitlab when gitLabAutomerge set to true"
**What would you like Renovate to be able to do?**
Gitlab allow to configure approvals count per repo, but dont have setting to auto-configure it per-mergre request depending on conditions. This is blocks automerge of merge request from renovate.

**Describe the solution you'd like**
I want to have setting like `gitLabResetApprovers` possibly with `Automerge` postfix but it seems too long for sett

[2020-03-13 11:34] rarkins opened #5710 "Set user agent string based on renovate version"
It would be nice if Renovate's http requests could include a user agent string that includes its *own version*. e.g. learning this from `package.json` if it can find it.

[2020-03-13 13:09] rarkins commented on #5709
Is it really possible that a user or bot has permissions to "bypass" approvals for its own MRs?

[2020-03-13 13:14] SkReD commented on #5709
Yes. You can edit mr required approvals count even in merge request ui.

[2020-03-13 13:28] viceice commented on #5709
I don't think this feature is available in the opensource version. If I remember correctly it is a paid feature, named approval rules or something like that.

[2020-03-13 13:45] SkReD commented on #5709
It is configured by default approvals count in project settings, and than can be customized in concrete mr by manual editing. Just test it in cloud version at https://gitlab.com/SkReD/test/-/merge_requests/1. User with developer access can edit mr approvals count there.

[2020-03-13 13:50] viceice commented on #5709
![image](https://user-images.githubusercontent.com/1798109/76626702-f1a6c080-6539-11ea-9f3b-36e7452ad36d.png)
https://docs.gitlab.com/ee/api/merge_requests.html#approvals-starter

[2020-03-13 13:55] SkReD commented on #5709
ok. So if it is in paid version only, it should not be supported? And, anyway, in cloud it is supported on free plan

[2020-03-13 14:02] viceice commented on #5709
I don't say that we shouldn't support that scenario. I only want to mentions that this is a paid feature, see https://about.gitlab.com/pricing/

So it can be difficult to implement without a paid seat. (I prsonally don't have a paid seat)

Anyway I'm not sure, if this is a feature for the renovate bot. Maybe this should be done with another bot. like we use for our wn approvals on github: [renovat

[2020-03-13 14:37] SkReD commented on #5709
Cant find official way for creating such app for gitlab.
I thought that adding such setting directly in renovate would be in line with `gitLabAutomerge` setting, that is already exists.

[2020-03-13 15:59] rarkins commented on #5709
Even if it's a feature for paid-only, I think it's fine to support. Our first decision is whether it belongs in Renovate or not. i.e. should Renovate have the option to bypass reviewers for its own MRs, or should there be "another bot". I'm thinking it's useful if Renovate can do it.

Next questions are how (which API endpoint or setting) and then finally naming.

[2020-03-13 16:05] viceice commented on #5709
ok, [here](https://docs.gitlab.com/ee/api/merge_request_approvals.html#merge-request-level-mr-approvals) is the api. Will be very complex, because the  rules seems to need to be check on several levels

[2020-03-13 16:10] SkReD commented on #5709
We use this one https://docs.gitlab.com/ee/api/merge_request_approvals.html#change-approval-configuration in our pipelines. What other levels beside mr itself shoud be checked?

[2020-03-13 16:59] viceice commented on #5709
this api is deprecated and will be remove with v13 (coming in may 2020?)
![image](https://user-images.githubusercontent.com/1798109/76642896-57a04180-6554-11ea-816e-d95a8d187df5.png)

[2020-03-13 21:50] biergit opened #5718 "Renovate requires force push capabilities"
**What Renovate type are you using?**

Selfhosted Bitbucket Server

**Describe the bug**

Renovate created a first PR successfully for a new version of dependency `x` but it is not merged before the next version of the same dependency `x` happens.

**Did you see anything helpful in debug logs?**

[code]

**To Reproduce**

Sorry don't have a public Bitbucket repo / account.

[2020-03-13 22:45] biergit commented on #5718
Ok, it seems it is intended behavior as I've found in this doc: https://github.com/renovatebot/renovate/blob/master/docs/development/branches-commits.md

I definitely need a workaround for this as allowing force pushes is a no go in my environment.

[2020-03-14 05:02] rarkins commented on #5718
Force pushing is essential to Renovate's workflow, unfortunately that means there is no workaround available.

Any time Renovate needs to update a branch, it performs a force-push. This includes:
- A new version is available, or
- The existing branch has become conflicted, or
- Renovate has been configured to keep all its branches up to date with master

The conflicted case in particular would be

[2020-03-14 05:02] #5718 closed

[2020-03-14 07:42] viceice commented on #5718
@biergit you should disable history rewrite for renovate branches only.

[2020-03-14 10:13] biergit commented on #5718
Thanks guys I'll try to convince the right people to allow this :)

[2020-03-16 00:40] lephuongbg opened #5723 "Renovate fails to auto-merge due to "Artifact update failure" on Bitbucket Pipelines"
**What Renovate type are you using?**

Self-hosted on Bitbucket Pipelines (slim image)

**Describe the bug**

Renovate can create a pull request successfully for new version of poetry dependency, but fail to auto-merge in subsequent run due to "Artifact update problem".

**Did you see anything helpful in debug logs?**

This is the error in the comment for "Artifact update problem":

[code]

**To R

[2020-03-16 01:51] msheakoski commented on #5675
I am running into this issue as well for a Symfony 5 app. It eventually reaches a point where a certain package contains PHP 7.4 code and lockfile maintenance starts to fail:

[code]

The code that triggers the error (PHP 7.4 typed properties):
https://github.com/Ocramius/PackageVersions/blob/651c372efc914aea8223e049f85afaf65e09ba23/src/PackageVersions/Installer.php#L34

[2020-03-16 05:35] viceice commented on #5675
Is it save to upgrade our php from 7.2 to 7.4? or do we need multiple versions?

MAybe we need multiple versions?

[2020-03-16 05:40] viceice commented on #5675
ok, multiple versions would be preferred, as some composer files explicit require a php version
![image](https://user-images.githubusercontent.com/1798109/76726327-1628b580-6751-11ea-9541-7444dcbb4352.png)

[2020-03-16 06:03] rarkins commented on #5675
It's a little challenging to support both multiple versions of PHP as well as Composer, i.e. then it becomes a "matrix". In Ruby we can get away with it because the Bundler install takes just a second or two, so then we dynamically switch Ruby base image version with "docker run" followed by dynamically installing the correct Bundler version.

[2020-03-16 06:03] rarkins commented on #5675
I think for now that installing the latest PHP in our Dockerfiles would be best

[2020-03-16 06:04] viceice commented on #5675
ok, working on it

[2020-03-16 07:20] viceice opened #5726 "Current regexManager docu is wrong"
The [current documentation](
https://docs.renovatebot.com/modules/manager/regex/#advanced-capture) for the generic regexManager does not work.

[code]

`Syntax error - can't find = in "#". Must be of the form: name=value`

Workaround is to provide separate manager for each `ENV`

[2020-03-16 07:46] rarkins commented on #5726
The examples I used were the ones I tested with during development. We should definitely not need one manager per env

[2020-03-16 07:48] viceice commented on #5726
![image](https://user-images.githubusercontent.com/1798109/76734269-de2a6e00-6762-11ea-9190-5e5c6cd284fa.png)

VSCode is complaining too, does normal docker build works?

[2020-03-16 07:49] rarkins commented on #5726
oh, hmm - now I see what you mean, sorry. Can't recall if I ran `docker build` :o)

[2020-03-16 07:52] rarkins commented on #5726
https://stackoverflow.com/a/51021890/3005034 relevant?

[2020-03-16 07:52] rarkins commented on #5726
I guess we could put comments *above* each ENV line instead

[2020-03-16 07:54] viceice commented on #5726
If regex matching works it would be a better option

[2020-03-16 07:57] viceice commented on #5726
tested locally, build always fails with syntax error
![image](https://user-images.githubusercontent.com/1798109/76734867-1b433000-6764-11ea-8466-b3e5416a9f2a.png)

[2020-03-16 08:43] rarkins commented on #5726
Sorry, it's the `docker build` itself that's failing.. not the parsing

[2020-03-16 11:41] Majkl578 commented on #5675
@viceice You can easily co-install multiple versions from the repository I mentioned above.

[2020-03-16 12:16] viceice commented on #5675
@Majkl578 I know, we prefer to only have one version on our full docker image and have multiple images for the app, which uses the docker tools.

[2020-03-16 12:36] rarkins commented on #5675
I’m interested to know how multiple versions of PHP can work? Can Composer itself auto-switch or do we need to run a command to change default PHP version before running Composer?

[2020-03-16 15:45] Majkl578 commented on #5675
No, one is always default as `php` (typically the highest one). Composer starts using `#!/usr/bin/env php` but you can explicitly run it with specific PHP version like `php7.2 composer.phar install`.

[2020-03-16 15:46] Majkl578 commented on #5675
I can imagine one can create a rather simple wrapper based on `platform.php` or `require.php` entry to select which version will be used.

[2020-03-16 16:08] viceice commented on #5675
🤔 so we have mustiple composer versions with multiple php versions?

Do we really need different php versions for composer install, or is it enough to have a supported version? Or does the php version depends on the current project too?

[2020-03-16 20:36] rarkins commented on #5675
How many versions of PHP do we need to support? e.g. are all minor versions considered equivalent, so we can have latest `7.4.x`, latest `7.3.x` and that's it?

[2020-03-16 20:41] msheakoski commented on #5675
I think the main issue is compatibility with newer PHP syntax in order for composer to install packages without hitting any errors.

PHP 7.4 should be backwards-compatible with v7.2+, which is the current minimum supported version. https://www.php.net/supported-versions.php

[2020-03-16 20:46] viceice commented on #5675
So using 7.4 would be enough. Users have to update to a supported version, which should be compatible with 7.4?

[2020-03-16 20:51] msheakoski commented on #5675
I do not believe that users need to make any changes. If they are using any major framework or composer package, they are already required to use a minimum of PHP 7.2 anyway.

Even if they were not using 7.2, the backwards compatibility in most cases goes back to the PHP 5.x series which stopped receiving updates over a year ago.

[2020-03-17 05:23] viceice commented on #5675
And what about composer? Do we need multiple versions? Or is it enough to use the latest stable version?

[2020-03-17 06:59] rarkins commented on #5675
Lets build all versions like we did with others - not much work once it’s automated

[2020-03-17 07:03] vidavidorra opened #5733 "Add support to update action in GitHub Actions workflow"
**What would you like Renovate to be able to do?**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]
I'd like to update actions in an GitHub Action workflow. In the example workflow (shortened) below the `wagoid/commitlint-github-action` can be updated to `1.6.0`.

[code]

**Describe the solution you'd like**

I'd like the `github-actions` manager to crea

[2020-03-17 07:06] viceice commented on #5675
Starting with 1.9.x, and 1.10.x

[2020-03-17 11:15] viceice commented on #4816
I need this too.

Sample file:
[code]

The `datasource` would be `nuget`.

[2020-03-17 11:17] viceice commented on #4816
@rarkins Do you think we can use the generic replace for this? Or should we do it like npm in new manager as its a simple `json` file

[2020-03-17 11:17] secustor opened #5734 "Git-tags fails to sort correctly"
**What Renovate type are you using?**

self hosted Gitlab

**Describe the bug**

The git-tags datasource seems to fail to correctly sort tags.
This is known and fixed issue #5477

And got probably reintroduced with #5548 on [line](https://github.com/renovatebot/renovate/commit/4bcdd18515b06ad79b5f1a8367c03c0442411884#diff-3254677a7917c6c01f55212f86c57fbfL32)

**Did you see anything helpful in debu

[2020-03-17 11:23] viceice commented on #5734
The update git comes from out base image and should be up to date.

https://github.com/renovatebot/docker-base/blob/master/Dockerfile#L22-L26
https://github.com/renovatebot/docker-node/blob/master/Dockerfile
https://github.com/renovatebot/docker-yarn/blob/master/Dockerfile

[2020-03-17 11:23] viceice commented on #5734
what renovate type and version are you using?

[2020-03-17 11:34] secustor commented on #5734
If I pull the newest image and check the git version I get this:

[code]

If I look at the PPA meta data it would be `2.25.1`:

[code]

[2020-03-17 11:36] secustor commented on #5734
I use a self hosted instance with the newest release of version 19

[2020-03-17 11:59] rarkins commented on #5734
Confirmed that `renovate/renovate:19` does appear to be being updated: ![image](https://user-images.githubusercontent.com/6311784/76854293-1ad39380-684f-11ea-8622-eee2646fcb07.png)

[2020-03-17 12:00] danez opened #5735 "pipes are not correctly escaped in github PR description"
**What Renovate type are you using?**

Github

**Describe the bug**

When renovate bot widens the  range of a dependency the description in the PR is broken, because the pipes (||) are somewhow clashing with the table which also uses pipes.

**To Reproduce**

https://github.com/researchgate/tooling/pull/23

Relevant raw source
[code]

**Additional context**

https://stackoverflow.com/a/17320389/37

[2020-03-17 12:09] rarkins commented on #5735
Can you past the source markdown here too, in raw form?

[2020-03-17 12:12] viceice commented on #5734
Found it, is an error in base image

[2020-03-17 12:19] viceice commented on #5735
duplicate of #5397

[2020-03-17 12:22] viceice commented on #5734
we need to wait for renovatebot/docker-base#27 bubble.

@rarkins you need publish yarn again after base images are updated

[2020-03-17 12:37] harrytang opened #5736 "GitLab this commit was signed with an unverified signature"
**What Renovate type are you using?**

GitLab

**Describe the bug**

this commit was signed with an unverified signature

**Did you see anything helpful in debug logs?**

N/A

**To Reproduce**

commits made by the bot are using unverified signature.

[2020-03-17 12:51] #5735 closed

[2020-03-18 07:21] jGleitz opened #5739 "Gradle Wrapper not Updated If Spaces in gradle.properties"
**Describe the bug**

If `gradle.properties` is formatted to use whitespace around the `=` sign, the gradle wrapper is not being updated. Using whitespace there is valid for `properties` files and can happen if automatic formatting is applied.

**To Reproduce**

[Example File](https://github.com/renovatebot/renovate/pull/5740/files#diff-536b06f70d19b48a0e94f4ad32ce787e)
[Unit Test](https://github.

[2020-03-18 08:10] rarkins opened #5741 "@rarkins @JamieMagee We should move the regexes to module scope, otherwise they are recreated on every loop iteration, which is unnessessary"
@rarkins @JamieMagee We should move the regexes to module scope, otherwise they are recreated on every loop iteration, which is unnessessary

_Originally posted by @viceice in https://github.com/_render_node/MDI0OlB1bGxSZXF1ZXN0UmV2aWV3Q29tbWVudDM5NDE1MjQ1OA==/comments/review_comment_

[2020-03-18 08:10] #5739 closed

[2020-03-18 08:55] #4959 closed

[2020-03-18 09:19] viceice commented on #5741
fixed by #5742

[2020-03-18 09:19] #5741 closed

[2020-03-18 15:33] CommonGuy opened #5743 "GitLab: Two pipelines per MR"
**What Renovate type are you using?**

We are using the Docker version (`renovate/renovate:19`) on https://gitlab.com. It is scheduled to run all 2 hours.

**Describe the bug**

We configured renovate with `stabilityDays: 3`. In GitLab, this creates a new job, which makes the MR wait for the specified time. So far, all good.

However, sporadically the `renovate/stability-days` job will be placed o

[2020-03-18 16:03] rarkins commented on #5743
Keeping debug logs would help with this, especially for the job that creates the extra/incorrect pipeline. Also, once such an MR exists it would be very good to query the API manually to get a complete list of its checks. I definitely don't rule out a Renovate bug here.

[2020-03-18 16:12] CommonGuy commented on #5743
@rarkins I added the debug logs. Note that the case I observed was even more strange. It created a single pipeline for the stability-days job, then created the normal pipelines.

[2020-03-18 16:19] viceice commented on #5743
i think this is a gitlab bug, because renovate puts the status check on commits, not on pipelines.

Maybe something is triggering two pipelines on a pr update?

[2020-03-18 19:42] JamieMagee commented on #5741
Was this comment made from the new GitHub app by any chance? Cause the formatting and link is very strange 🤔

[2020-03-18 20:51] rarkins commented on #5741
No, it was created using the web UI but I did it from mobile so couldn't be bothered to edit it once I created it. It's this option when you view a comment:

![image](https://user-images.githubusercontent.com/6311784/77006384-a722ab00-6962-11ea-8323-6c3e6a5e2aa4.png)

[2020-03-18 22:54] JamieMagee commented on #4040
@gmelillo @detj I would appreciate your review on the chart here https://github.com/JamieMagee/helm-renovate.

Feel free to leave any comments in this thread.

[2020-03-19 01:48] bengummer commented on #5585
Got a PR up at #5587 which i think is good to go if anyone has some time to review & merge 👍

[2020-03-19 05:38] #5585 closed

[2020-03-19 05:41] rarkins commented on #4040
@JamieMagee although we document `config.js` for bot configuration, `config.json` is also supported because of the way Renovate does a `require` for `config`. I see that you are configuring `config.js` using a string, so is there any benefit remaining from the "dynamic" nature of a JS file or would things be simpler with JSON?

[2020-03-19 05:50] rarkins commented on #5734
https://hub.docker.com/r/renovate/yarn/tags?page=1&ordering=last_updated

[2020-03-19 08:32] StinkyLord123 commented on #5705
Yes there's an ## explicit in modules txt, started in version go "1.14"
dos anyone know what the ##explicit is for?

[2020-03-19 08:51] rarkins commented on #5705
I'm updating our Go image right now so within an hour or two the app should be running all `go` commands with 1.14. Only concern is if there's any backwards-incompatibility, so we should switch to supporting dynamic versioning.

[2020-03-19 09:03] rarkins commented on #5734
https://github.com/renovatebot/renovate/pull/5745

[2020-03-19 11:01] JamieMagee commented on #4040
@rarkins Is there anything we miss by just using `config.js`?

We can definitely do JSON as well, but I would need to do some extra work to translate all our configuration options to the chart, setup the automation to keep new configuration options in sync, and update the defaults. I think that just using a string for `config.js` is the simplest option for now.

[2020-03-19 11:19] viceice commented on #4040
@JamieMagee I think @rarkins  don't want to change the string to json. I think he would like the string to be a json object and you map that string to `config.json`.

[2020-03-19 12:32] rarkins commented on #4040
Yeah, I just thought it would be much nicer if it was a stringified JSON object instead of a JS file

[2020-03-19 15:00] lindell commented on #3498
Hi. It's currently impossible for me to start using renovate bot unless this issue is fixed since most of our dependencies are hosted on GitHub enterprise. Just writing hoping the priority of the issue will be increased 🙂

[2020-03-19 20:37] JamieMagee commented on #4040
Ah, gotcha. Yeah, that should be possible.

[2020-03-19 20:51] rarkins commented on #3498
@lindell so you have dependencies on other repos within the same GHE host? in other words no extra config would be needed on your part - Renovate just needs to pass its GHE token to `go`?

[2020-03-19 20:58] #5165 closed

[2020-03-19 22:23] JamieMagee commented on #4040
@rarkins @viceice https://github.com/JamieMagee/helm-renovate/commit/d48c6c2b0903d4fb374320d0b274b0b0319a62db

[2020-03-20 04:55] viceice commented on #4040
Do we need to manually synchronize the readme files or is there a way for automation?

[2020-03-20 06:56] stuart-warren opened #5751 "Snapshot tests failing locally lib/manager/gomod/artifacts.spec.ts"
**What Renovate type are you using?**

Running master branch tests as per `docs/development/local-development.md`

**Describe the bug**

Failing snapshot tests in one file (lib/manager/gomod/artifacts.spec.ts) due to differing `GOPATH` env variable and differing volume directory passed into a `docker run` command

[code]

[code]

**Did you see anything helpful in debug logs?**

**To Reproduce**

f

[2020-03-20 07:04] rarkins commented on #5751
Looks like it might be because it's picking up your local `GOPATH` setting. Possibly we could manually override `process.env.GOPATH` in that test file to make the result predictable

[2020-03-20 07:11] rarkins commented on #5751
Can you locate the artifacts test file and play around with setting or unsetting `GOPATH`? e.g. maybe just a `delete process.env.GOPATH;` in the file might work

[2020-03-20 07:47] stuart-warren commented on #5751
that worked, will raise a PR

🥂

[2020-03-20 07:54] lindell commented on #3498
@rarkins I think that one part would be to pass the GHE token:
https://github.com/renovatebot/renovate/blob/master/lib/manager/gomod/artifacts.ts#L23

But the problem originates here:
https://github.com/renovatebot/renovate/blob/master/lib/datasource/go/index.ts#L25
Where renovate tries to fetch the information as if it is a pure go modules server.
[code]
Since it tries to fetch it as if it was ho

[2020-03-20 07:59] rarkins commented on #3498
Thanks. Yes, we need to treat it as a fit/GitHub source and not a regular go source. Can you give an example of your go.mod entry for local dependencies?

[2020-03-20 08:06] sebarthel89 opened #5752 "AGPL Licence and questions about commercial use"
Hey there,

I really like your project and how to approach all the complicated issues around dependency management.

I have a question about commercial use. Right now, you use an AGPL Licence that is a copyleft license. Are companies allowed to use your docker container on private servers on their private code? I met different people with different opinions. It would be great if you clarify the re

[2020-03-20 08:08] lindell commented on #3498
Sure 🙁
[code]

[2020-03-20 08:40] #5751 closed

[2020-03-20 08:51] rarkins commented on #5752
As a disclaimer: the license itself (i.e. AGPL) is ultimately what applies, and nothing I say here is legal advice or overrides the license text.

Personal opinion on AGPL generally and not Renovate specifically follows:

The AGPL license itself definitely does not exclude commercial or private use. Many references for this including https://tldrlegal.com/license/gnu-affero-general-public-license-

[2020-03-20 09:17] sebarthel89 commented on #5752
Thanks for the fast response, Keep up the good work 👍

[2020-03-20 09:17] #5752 closed

[2020-03-20 10:46] SamuelLundmark commented on #3498
+1

[2020-03-20 12:47] JamieMagee commented on #4040
The versions should be handled by [Renovate](https://github.com/JamieMagee/helm-renovate/blob/master/renovate.json#L5-L30).

The [chart README ](https://github.com/JamieMagee/helm-renovate/blob/master/charts/renovate/README.md)is generated by [helm-docs](https://github.com/norwoodj/helm-docs). I could probably add a step to run helm-docs, and block a PR if running it changes the content of the REA

[2020-03-20 12:49] viceice commented on #4040
and maybe also copy to repo root? or will helm-doc do that too?

[2020-03-20 13:04] JamieMagee commented on #4040
The README's need to be separate. The README at the root should have details related to the helm repository, whereas the one in the chart directory should have the chart specific details.

The README in the root of the repository should not need to change as frequently as the chart one, so I don't see the benefit of automating it too heavily.

[2020-03-20 13:08] viceice commented on #4040
ok

[2020-03-20 16:43] JamieMagee commented on #4040
I added a [`lint-docs`](https://github.com/JamieMagee/helm-renovate/blob/master/.github/workflows/ci.yaml#L20-L37) step. It will fail the build if the docs aren't updated, but I decided not to make it commit back to a PR branch.

[2020-03-20 16:57] viceice commented on #4040
nice. you should use `actions/checkout@v2` which does a `fetch-depth:1` by default

[2020-03-21 06:11] ZHEL12 commented on #5733
加上qq群；933241376

[2020-03-21 08:31] R-omk commented on #3498
As I mentioned earlier  https://github.com/renovatebot/renovate/issues/4601 , this just need to use native tools, example:

`go list -m -u -json all`

see:
https://blog.golang.org/using-go-modules
https://golang.org/pkg/cmd/go/internal/list/

The ability to add a custom config for the git already exists at the moment:

.gitconfig
[code]

[2020-03-21 13:08] rarkins opened #5759 "Refactor: remove dynamic requires from runtime"
We changed Renovate to do dynamic detection/requiring of packages so that people contributing new datasources or managers didn't need to update so many files, update snapshots, etc. The problem now is that this isn't exactly best practice, and can prevent us from bundling Renovate for runtime.

We should instead aim for a solution that satisfies both of these:
- Allows each datasource, manager and

[2020-03-21 13:14] rarkins commented on #5759
Note: the dynamic detection at runtime had a nice side-effect that it theoretically made it easier for people to customize their copy of Renovate with their own proprietary managers and/or datasources. Such capability was never "officially supported" though so I'm not concerned if this breaks it.

I think we could achieve the same extensibility later with a process where:
- Such would *build* thei

[2020-03-21 13:41] lukasmrtvy commented on #2438
Also something that can work with `latest` tag would be great..

Latest images can be referenced like ( digest ): `nginx:latest@sha256:3936fb3946790d711a68c58be93628e43cbca72439079e16d154b5db216b58da`
Just replace never image with same tag. Tools ( Docker ) like https://github.com/pyouroboros/ouroboros and https://github.com/containrrr/watchtower does same thing, its has quite large userbase so I

[2020-03-21 13:52] rarkins commented on #2438
@lukasmrtvy can you give an example? Renovate already updates digests for `latest`

[2020-03-21 14:55] viceice commented on #5759
I think breaking things here is not a problem, because we don't have it really long time and we can provide a official api to register own datasource / manger / versioning ....

My preferred way to solve it would be to generate code at compiletime, so we have full type check at compiletime. We can use [`rootDirs`](https://www.typescriptlang.org/docs/handbook/module-resolution.html#virtual-director

[2020-03-21 16:25] viceice commented on #5759
ok, `rootDirs`does not work as expected, we would need another post processing, because `dist` would become:
[code]

[2020-03-21 16:45] rarkins commented on #5759
Something like this? https://github.com/kentcdodds/babel-plugin-preval

[2020-03-21 17:45] mountainash commented on #4635
I'm not sure what Renovate uses as the version for Docker images (the tag, or the hash)?
 Would something like the following work?

For tag capture:
[code]

For hash capture:
[code]

"Variable substitution" for docker images in docker-compose is given as an example in the [in the official docs](https://docs.docker.com/compose/compose-file/#variable-substitution) so it would be awesome if Renovate

[2020-03-21 21:24] lukasmrtvy commented on #2438
Its working, You are right. Sry about confusion.

[2020-03-22 06:19] viceice commented on #4635
You can use`currentDigest` as capture group name:

[code]

[2020-03-22 09:07] mountainash commented on #4635
Is there a group name to capture [docker] registry?

[2020-03-22 09:14] viceice commented on #4635
Registry should be contained in `depName`.

You can use `datasource` capture group or `datasourceTemplate` in `regexManager` rule.

[2020-03-22 15:07] JamieMagee commented on #5672
@ppmathis I can't assign this to you, but I marked this as "in progress"

[2020-03-22 16:07] rarkins commented on #5672
FYI issues can be assigned to anyone who comments on them

[2020-03-22 16:41] ppmathis commented on #5672
Let me comment here then - feel free to assign the issue to me afterwards :+1:

Got a working implementation here, however the project grouping which Repology automatically applies is cumbersome, as e.g. `pulseaudio-doc`, `pulseaudio-utils`, `libpulse0`, ... are all grouped underneath a project called `pulseaudio`. The current API does not allow to search for a specific package name, so I've raise

[2020-03-22 19:59] mountainash commented on #4635
So to search for an image on a non-docker hub registry, an image ref like:
[code]
Should break into:
- datasourceTemplate: ?
- depName: `gitlab.example.com:4567/project-group/imagename`
- currentValue: `3.2.1`
- currentDigest: `876876g378guyd8t78t732`

What should `datasourceTemplate` be? Thank you very much for your help.

[2020-03-22 20:25] viceice commented on #4635
`datasourceTemplate='docker'`

[2020-03-23 08:53] rarkins opened #5763 "Presets: npm vs github"
Presets were written originally to be published as npm packages. Later GitHub support was added. Supporting pinned "versioning" of presets have never been done, although it's maybe still a good idea to prevent breakage.

Still, I would like to switch to regular github repositories as the primary preset instead of npm - especially considering that many Renovate users may not use npm at all. I think

[2020-03-23 10:14] secustor commented on #5734
The image contains now version `2.25.1` and the issue is gone.

[2020-03-23 10:14] #5734 closed

[2020-03-23 11:24] mountainash commented on #4635
Sorry to hijake the original issue (but it's nearly the same issue - just some regex mods).

For others - using the below regexManager, Renovate can run against a self-hosted/or host referenced image reference in a docker-compose.yml with a variable age with a default value, eg.

[code]

[code]

[2020-03-23 17:57] micheelengronne commented on #3634
I think, we can handle the lock update indirectly if the custom script feature is implemented.

https://github.com/renovatebot/renovate/issues/5004

[2020-03-24 06:24] #4905 closed

[2020-03-24 08:33] LeJeanbono commented on #4754
No more problem with Git at this moment, did nothing...
A new one with Gradle :
`WARN: Gradle extraction failed`
`{
  "errMessage": "Command failed: docker run --rm --name=renovate_gradle --label=renovate_child -v \"/mnt/renovate/gl/csuite/datawarehouse\":\"/mnt/renovate/gl/csuite/datawarehouse\" -v \"/tmp/renovate-cache\":\"/tmp/renovate-cache\" -w \"/mnt/renovate/gl/csuite/datawarehouse/api\" re

[2020-03-24 08:44] viceice commented on #4754
🤔  Does graddle wrapper work locally after `git clean -fdx` ?

[2020-03-24 09:04] viceice commented on #4754
Which java version do you use locally? out docker image uses java11 (default jre on ubuntu 18.04)

[2020-03-24 09:12] LeJeanbono commented on #4754
`openjdk 11.0.6 2020-01-14`
`OpenJDK Runtime Environment (build 11.0.6+10-post-Ubuntu-1ubuntu118.04.1)`
`OpenJDK 64-Bit Server VM (build 11.0.6+10-post-Ubuntu-1ubuntu118.04.1, mixed mode, sharing)`

`git clean -fdx` => Remove my `.gradle` folder and so the `gradle-wrapper`

[2020-03-24 09:13] LeJeanbono commented on #4754
Got `/.gradle/` in my '.gitignore'

[2020-03-24 09:15] viceice commented on #4754
ok, did you commit `/gradle/wrapper` directory? it's required if you have the `/gradlew` and `/gradlew.bat` files in repo root

[2020-03-24 09:18] LeJeanbono commented on #4754
Yep, I've got `/gradle/wrapper` and `/gradlew` in the repo

[2020-03-24 09:23] LeJeanbono commented on #4754
Properties :
[code]

[2020-03-24 09:26] viceice commented on #4754
Oh, I've goot a warning too

[code]

@jGleitz Can you help here?

[2020-03-24 09:32] viceice commented on #4754
trying to create a simple repro

[2020-03-24 09:41] viceice commented on #4754
![image](https://user-images.githubusercontent.com/1798109/77410963-08f87000-6dbc-11ea-846b-a10d7ee15170.png)

[2020-03-24 10:08] LeJeanbono commented on #4754
Not the same error, but yes

[2020-03-24 10:23] viceice commented on #4754
Even more strange. locally i get another error

![image](https://user-images.githubusercontent.com/1798109/77414729-c76ac380-6dc1-11ea-8d11-a766b7dc7d30.png)

[2020-03-24 10:59] viceice commented on #4754
![image](https://user-images.githubusercontent.com/1798109/77418176-d1db8c00-6dc6-11ea-8c23-0aabbd839b8b.png)

Last known successful run for my selfhosted bot was around 28.2. 🤔

[2020-03-24 12:17] rarkins commented on #4754
Do you use `renovate/grade` ?

[2020-03-24 12:28] ZyanKLee opened #5772 "[Bug] bb-cloud: changing reviewers leads to changed body"
**What Renovate type are you using?**

self-hosted on bitbucket cloud

**Describe the bug**

when changes on the PR are made (i.e.: reviewer modified) the body is being changed by bitbucket while saving the PR.
In front of each `\n` a `\r` is inserted on PR editing. (strange thing to do, imho, but we are talking about an Atlassian tool afterall)

After manual edit of the PR (added one reviewer):

[2020-03-24 12:33] ZyanKLee commented on #4515
I created #5772 to track the body changes during saving etc.

Here I would like to continue tracking the issue concering reviewers getting lost when renovate updates a PR on bitbucket.

**requirement**
* when updating PRs renovate needs to first get a list of the reviewers already in the PR and re-send that list with the PR-update

[2020-03-24 12:45] viceice commented on #4754
yes,  using `renovate/renovate:19.179.0-slim` in gitlab pipeline.  Its also failing in renovate app on github

[2020-03-24 12:45] ZyanKLee commented on #5726
we moved to a multiline attempt due to this restriction in docker build:

**Dockerfile:**
[code]

**renovate config.js**
[code]

[2020-03-24 12:49] viceice commented on #5726
this is now fixed and live at https://docs.renovatebot.com/modules/manager/regex/#advanced-capture

[2020-03-24 12:49] #5726 closed

[2020-03-24 12:56] rarkins commented on #4754
Did we upgrade the gradle image around that time?

[2020-03-24 12:59] viceice commented on #4754
![image](https://user-images.githubusercontent.com/1798109/77427970-9e552d80-6dd7-11ea-9a5f-b42fdac84d94.png)

nope, only base digest updates since last year. it worked atleast until 28.2.2020

[2020-03-24 13:12] rarkins commented on #4754
Weird. I was sure I had updated `renovate/gradle` to use gradle v6

[2020-03-24 13:15] rarkins commented on #5772
We can maybe smarten up our compare to ignore line returns, or to explicitly convert `\r\n` before comparing. We could potentially also set `\r\n` ourselves from the very beginning, although that seems messy.

[2020-03-24 13:15] viceice commented on #4754
![image](https://user-images.githubusercontent.com/1798109/77429369-d8273380-6dd9-11ea-8b21-5a2bdfe2ba3e.png)
 last changes to gradle, after this only parent digest changes

[2020-03-24 13:26] ZyanKLee commented on #5772
on the other hand this seems to be what bitbucket cloud expects.

[2020-03-24 14:08] zharinov opened #5773 "Support "releaseTimestamp" field for Docker datasource"
**What would you like Renovate to be able to do?**
We need to make one more request for each tag retrieved from Docker Hub API.
Though, each manifest contains lots of history records.

**Describe the solution you'd like**
Choose latest timestamp and save it in cache.
The invalidation strategy remains open, because tags are mutable.

**Describe alternatives you've considered**
Omit "releaseTimestam

[2020-03-24 15:22] rarkins commented on #5772
True. Are you able to experiment with adding the conversion to https://github.com/renovatebot/renovate/blob/5fdd261d5ab0a182955b3c166a1454ee8bf001f3/lib/platform/bitbucket/index.ts#L549-L560 and making sure it has no unanticipated/undesired side effects?

[2020-03-24 15:23] rarkins commented on #5772
BTW we *might* need to do the conversion prior to the smartTruncate, but then that itself might interfere with the smart truncation feature.

[2020-03-24 15:38] micheelengronne commented on #3634
It seems that https://github.com/renovatebot/renovate/pull/5202 can fulfill my usecase. I will try it.

[2020-03-24 16:55] rarkins opened #5774 "Refactor: move changelog retrieval to post-lookup / pre-commit"
Currently, changelog retrieval is done "just in time" right before the PR is created. Let's move the existing logic so that it is done after lookups are complete and we know the list of upgrades, but before we create the branch / make a commit.

Doing it this way would mean that release notes could be used/exposed in the commit body if desired.

Todo:

- [ ] work out what structure/fields it can b

[2020-03-24 19:42] rarkins commented on #5773
The challenge here is:
- Queries required is O(n) number of tags
- Tag release dates are not immutable, so we have to choose between potentially outdated cache vs many queries

Right now the releaseTimestamp is used only for the final selected tag/update in order to determine if it's stable or not. So potentially we could "lazily" query it (perhaps another datasource API), however in future we mig

[2020-03-24 20:11] viceice commented on #5773
Does the docket registry API last-modified-since header oder something similar? So we can do a head request to check if there is a change, so we need to update our cache. 🤔

[2020-03-24 20:16] zharinov commented on #5773
Good point, I'll check this tomorrow

[2020-03-25 06:17] NateScarlet opened #5775 "Gitea: status will never be green"
There is a bug in lib/platform/gitea/gitea-helper.ts :

https://github.com/renovatebot/renovate/blob/63b5094915bfa85a9de849950fe0b7c749218ad6/lib/platform/gitea/gitea-helper.spec.ts#L792-L797

says recent status is most important

But it tested in same order as https://github.com/renovatebot/renovate/blob/63b5094915bfa85a9de849950fe0b7c749218ad6/lib/platform/gitea/gitea-helper.ts#L179-L186

If sta

[2020-03-25 06:38] viceice commented on #5775
@NateScarlet Feel free to send a PR to fix it. 🙃

[2020-03-25 06:40] ppmathis commented on #5775
@NateScarlet Thanks for the report. You are right, the API endpoint seems to return all previous states with the same context instead of only the most recent one, so the implementation would have to filter for the most recent state of the given context instead of analyzing all returned states. Feel free to submit a PR if you want, otherwise I'm also happy to take a look at it.

[2020-03-25 10:02] LupusUmbrae opened #5777 "Master issue reference in commit message template"
**What would you like Renovate to be able to do?**
I would like to auto reference the master issue in the renovate commit message template

**Describe the solution you'd like**
I would like there to be a built in variable like `{{{masterIssue}}}` that is replaced with the correct issue reference

**Describe alternatives you've considered**
We have started hard coding the issue reference, but in at

[2020-03-25 12:36] rarkins commented on #5777
This is a good idea. So do we expose it as `1234` or `#1234`? I think using the `#` is more future-proof in case one platform needs a reference like `Issues!1234`.

[2020-03-25 16:32] LupusUmbrae commented on #5777
For me the `#` works, but if it's used a platform that uses something else then just the number might be best

[2020-03-25 17:14] jcornaz opened #5780 "Support Gradle versioning/sorting"
**What Renovate type are you using?**
GitHub

**Describe the bug**

I received pull requests with this kind of message:

But [documentation says](https://docs.renovatebot.com/configuration-options/#ignoreunstable):

As I was on the *stable* version `1.3.5`, renovate should not propose me to update to the *unstable* version `1.3.5-native-mt-1.3.71-release-429`.

**Did you see anything helpful in de

[2020-03-25 17:24] rarkins commented on #5780
We should be using the Maven specification for determining stability and sort order, and fix if we’re non-compliant.

According to the Maven *specification*:
- is the new version considered unstable?
- which way do they sort?

[2020-03-25 19:51] jcornaz commented on #5780
Given: https://docs.oracle.com/middleware/1212/core/MAVEN/maven_version.htm#MAVEN400

Applied to my example: `1.3.5-native-mt-1.3.71-release-429` is older than `1.3.5`, and therefore should not be proposed as an update.

[2020-03-25 19:54] viceice commented on #5780
Looks like we have a bug here.

[2020-03-25 20:48] rarkins commented on #5780
Sounds like it, but this would be the best way to confirm for sure: https://octopus.com/blog/maven-versioning-explained

[2020-03-25 20:50] rarkins commented on #5780
BTW I have a doubt about whether that Oracle document is up to date, considering the results shown in that blog post I linked to:
![image](https://user-images.githubusercontent.com/6311784/77584103-88805f00-6ee2-11ea-8ea5-45b5bbd80a2e.png)

You can see there are multiple cases that sort *after* the version without the qualifier, including `1.0-a` and `1.0-whatever`

[2020-03-25 20:51] rarkins commented on #5780
In fact the blog post claims:

[2020-03-25 21:11] jcornaz commented on #5780
mmh... indeed. But that's quite problematic then. Because this behavior would be against [semantic versioning](https://semver.org/).

Could at least maybe an option to let the user define the ordering of version numbers semantic-versioning vs maven?

[2020-03-25 21:11] viceice commented on #5780
So the update is correct. Maven has a very weird versioning scheme.

[2020-03-25 21:20] jcornaz commented on #5780
Yes, apparently, maven has a very weird versioning scheme, and order of version is not intuitive.

But still, this is not about version order. This is about renovate proposing to go from *stable* to *unstable*. Even if the version proposed is newer, renovate is not supposed to propose an unstable version.

I cannot find any clear documentation about what must be considered *stable* or not in maven

[2020-03-25 21:35] rarkins commented on #5780
I think you're incorrect here. The package is stable according to the Maven ecosystem it's been published into. `1.3.5-native-mt-1.3.71-release-429` is stable in Maven the same way `1.3.5-i-swear-on-my-life-this-is-stable` is unstable in semver. Versioning schemes have specifications and we follow those by default or fix our code if they're not to spec.

Maven is not semantic versioning - it's ind

[2020-03-26 05:42] #5775 closed

[2020-03-26 08:14] jcornaz commented on #5780
Thanks @rarkins.

Indeed,

given it default seems compliant to maven versioning scheme, and that I have an option to configure renovate for using a semantic versioning scheme, I am fine.

Thanks for your help.

[2020-03-26 08:22] jcornaz commented on #5780
One more question, @rarkins is it possible to configure all my dependencies to consider `semver` by default?

[2020-03-26 08:26] viceice commented on #5780
use a `packageRule`

[code]

[2020-03-26 08:29] jcornaz commented on #5780
Thanks @viceice.

However, sorry to reopen this, but according to the doc, renovate uses `semver` by default:

https://docs.renovatebot.com/configuration-options/#versioning

So *something* is wrong. Either the doc, or the implementation.

[2020-03-26 08:31] viceice commented on #5780
Yes, but `managers` can set a different default versioning. And `maven` is overriding it:

https://github.com/renovatebot/renovate/blob/7dd49f9b5df51c75afd9765468f0d01346ea5497/lib/manager/maven/index.ts#L11

[2020-03-26 08:33] jcornaz commented on #5780
So this is the doc which is wrong. I'm okay with that, but it shall be fixed.

[2020-03-26 08:44] viceice commented on #5780
I don't think the docs are wrong:
![image](https://user-images.githubusercontent.com/1798109/77626915-57d21100-6f46-11ea-81bf-0e10bf7141b9.png)

[2020-03-26 08:48] jcornaz commented on #5780
The fact that renovate "implements" some its own such as "docker" or "maven" does not imply that it is set by default.

However the default is explicitly documented to be "semver":

![image](https://user-images.githubusercontent.com/2535178/77627175-c57e3d00-6f46-11ea-8e08-60a62a820587.png)

[2020-03-26 08:58] jcornaz commented on #5780
And event if I set the package rule:

[code]

I still get this pull requests: https://github.com/jcornaz/renovate-issue-reproducer-2/pull/2

[2020-03-26 09:00] viceice commented on #5780
can you please past the relevant logs here?

[2020-03-26 09:02] jcornaz commented on #5780
Job ID is: 156834609

I'm not sure what part is *relevant* thought.

Should I past the full log here?

[2020-03-26 09:15] viceice commented on #5780
yes, because i can't see your job, if i'm not a maintainer of your project. Currently only @rarkins  can see all job

[2020-03-26 09:16] rarkins commented on #5780
@viceice @jcornaz isn't this a gradle dependency? i.e. should be

[code]

or

[code]

However I don't recommend *always* using semver like the above

[2020-03-26 09:18] viceice commented on #5780
@rarkins You are right. @jcornaz Sorry, i havn't seen this.

[2020-03-26 10:14] jcornaz commented on #5780
Ok, thanks.

But since I am indeed using gradle, I'd expect to have gradle ordering:

https://docs.gradle.org/current/userguide/single_versions.html#version_ordering

To sum up there is two problems to solve:

1. Document the fact that the default depends on the manager and is not "semver"
2. Fix version ordering for gradle manager

[2020-03-26 10:43] mmoayyed opened #5784 "Renovate crash: JavaScript heap out of memory (many Gradle dependencies)"
**What Renovate type are you using?**

Renovate is running via CLI under Travis CI as:

[code]

**Describe the bug**

Renovate crashes with a fatal error that shows: "Ineffective mark-compacts near heap limit Allocation failed - JavaScript heap out of memory"

**Did you see anything helpful in debug logs?**

[code]

See the job log here: https://travis-ci.org/github/apereo/cas/jobs/667118883

**To

[2020-03-26 11:03] viceice commented on #5784
' --max-old-space-size=4096'  is not an renovate argument. you  would need to pass it to node.

eg `node --max-old-space-size=4096 renovate/dist/renovate.js ...`

![image](https://user-images.githubusercontent.com/1798109/77639891-bce33200-6f59-11ea-8b8f-b38662a5f61f.png)
 So many deps 😮

[2020-03-26 12:11] rarkins commented on #5780
Good catch! I was not aware that Gradle had taken a different ordering path to Maven. We need to have `versioning/gradle` added @zharinov - can you take a look?

[2020-03-26 17:35] micheelengronne opened #5791 "postUpgradeTasks always executed even when no package is updated"
**What Renovate type are you using?**

I use the self-hosted Renovate.

**Describe the bug**

I configured the following renovate.json file:

[code]
to update the following inspec.yml:

[code]

and the inspec.lock:

[code]

The first time renovatebot updates the new version (2.4.0) and its new ref in the lockfile. But, when renovatebot parses it again, it only updates the ref and not the version.

[2020-03-26 17:49] rarkins commented on #5791
Can you reproduce it in a public repo? Ideally as simply as possible. Then it can hopefully be debugged and stepped through.

[2020-03-26 21:01] piclemx opened #5794 "Adding Pulumi as Manager"
**What would you like Renovate to be able to do?**
Pulumi is a tool like Terraform, Helm, Ansible and others that do the infrastructure as code. It will be great add to the project.

**Describe the solution you'd like**
I will be great to detect the container image and updated it if possible. Otherwise since it used real language. Javascript,Golang,Python are already handle.

**Describe alternativ

[2020-03-26 22:13] jef commented on #3798
How would we read secrets (GitHub Secret) if we didn't want to commit them to our repository?

[2020-03-26 23:50] mangas opened #5795 "Goland submodules version not detected"
**What Renovate type are you using?**

Running npm start inside a container.

**Describe the bug**

When check for golang dependencies if there are nested modules the submodule versions do not get detected correctly:

**To Reproduce**

github.com/org/mod depends on github.com/org/mod/a

Tags are present for both as v1.2.3 and a/v2.3.4

In this case, renovate will see v1.2.3 but not a/v2.3.4 as a c

[2020-03-27 04:00] NateScarlet opened #5797 "Gitea: wrong pagination handling"
https://github.com/renovatebot/renovate/blob/22f76073c3d42d5c5f923a918253eb6f4758492e/lib/platform/gitea/gitea-got-wrapper.ts#L33-L36

when `url.query.page` is `undefined` , `NaN || 1 + 1` is equivalent to `NaN || 2`, so nextPage starts from 3.

~~I have 26 repo, gitea default repo search page size is 10, so repo 21-26 got executed multiple times, and repo 11-20 will never got executed.~~

~~## Fi

[2020-03-27 05:47] rarkins commented on #5794
Does Pulumi have any concept of linking to its own datasources, e.g. like Helm charts link to Helm charts? Or is it specifying containers, golang packages, etc?

[2020-03-27 06:45] viceice commented on #5794
if you only need to update `image: "nginx:2.3.45"`, you can use the regex manager

[2020-03-27 10:25] #5795 closed

[2020-03-27 10:52] viceice commented on #3798
Renovate can't read github secrets. Please open a new [issue](https://github.com/renovatebot/config-help/issues/new?labels=&template=config-help.md&title=) if you need configuration help.

[2020-03-27 11:53] jGleitz opened #5799 "Renovate Uses sh to Call gradlew"
If the `gradlew` script in a repository is not executable, renovate falls back to executing `gradlew` via a shell. This is necessary because the file is often not executable if it was created by somebody who is working on a Windows machine.

**Describe the bug**

Renovate uses `sh` to execute the script, even though it requires `bash`, as seen in the shebang:

[code]

**Did you see anything helpfu

[2020-03-27 11:55] jGleitz commented on #4754
I had a look at https://github.com/viceice/renovate-test. Here is what I found:

When I first executed renovate on my for of the repo, I also got this error:

[code]

This is caused by renovate using `sh` instead of `bash`, see https://github.com/renovatebot/renovate/issues/5799

When trying to execute `gradle` locally in this repository, it fails. This is because the Gradle setup is missing repos

[2020-03-27 11:59] jGleitz commented on #4754
Please be aware that updating gradle in the Docker image would be a breaking change!

While we should have an eye on versions in the Docker image, this is not relevant here, because the repository uses the Gradle Wrapper. That means that the gradle installation from docker should not be used.

[2020-03-27 12:08] micheelengronne opened #5800 "Make git-tags work with hostRules"
**What would you like Renovate to be able to do?**
I would like to be able to use `git-tags` datasource with private repositories and credentials set in `hostRules`.

**Describe alternatives you've considered**
Currently, as the projects are in a private instance, I hardcode the credentials in the repositories. But that canno't be used in a production environment.

**Additional context**
Here is t

[2020-03-27 12:18] viceice commented on #4754
@jGleitz sorry, missed to add the root `build.gradle` to the test repo. Fixed that

[2020-03-27 12:31] rarkins commented on #4754
I'm not sure we can abide by this. In general, we will continue to support the latest version of each tool in the pre-built image. Anyone who needs different needs to build their own image.

- Should a major update of a third party dependency cause a major version bump to  our published Docker image? Highly undesirable as we want to keep Docker image versions matching the published Renovate versio

[2020-03-27 12:31] viceice commented on #5799
@jGleitz  Maybe we can simply fix that by calling `chmod +x gradlew` ?  and remove the `sh` prefix?

[2020-03-27 12:35] jGleitz commented on #4754
I agree that this is a difficult topic. However, I also think that updating gradle without a major version change is not okay. It will break people’s builds.

In the case of gradle, we could avoid this issue by stopping to support repositories that don’t use the gradle wrapper. However, this does not solve the issue for other managers.

[2020-03-27 12:36] jGleitz commented on #5799
That should be possible, as well. I don’t know why the author of that piece of code chose to run via `sh` instead of calling `chmod`. Maybe there was a good reason?

[2020-03-27 12:40] viceice commented on #4754
I think we do not break other peoples builds by updating our (internal) tools. But we can break renovate when the new version is not compatible with the old files in the users repository. That case we always try to fix.

For gradle i think most users use the wrapper now?

[2020-03-27 12:42] viceice commented on #5799
so adding executable bit fixed it for my internal repo, so i think we can simply run `chmod`

[2020-03-27 12:44] viceice commented on #5799
or simply use bash, as the script requires bash anyway.

[2020-03-27 13:07] jGleitz commented on #4754
Yes, this is what I wanted to say.

That is also my impression.

[2020-03-27 13:08] jGleitz commented on #5799
@viceice I am working on this already, including unit tests. Just that we don’t do the same work twice

[2020-03-27 13:58] #5797 closed

[2020-03-27 14:01] jef commented on #3798
I got this setup correctly using an [encrypted password](https://renovatebot.com/encrypt).

`hostRules`:

[code]

and `packageRules`:

[code]

[2020-03-27 14:43] jGleitz commented on #5799
Okay, this bug is kind of strange: In https://github.com/viceice/renovate-test, the gradle wrapper script is indeed using `bash`. However, in all the gradle wrappers I tried to install via `gradle wrapper`, the resulting `gradlew` hat a `#!/usr/bin/env sh` shebang.

[2020-03-27 14:54] micheelengronne commented on #5791
Ok, I tried to reproduce it in a public repo. But another error occurs. We don't have to change the title as I suspect this is related.

* On Github (issue of reference): https://github.com/micheelengronne/renovatebot-debug-postupgradetask/issues/2

* On Gitlab: https://gitlab.com/micheelengronne/renovatebot-debug-postupgradetask/-/issues/1

[2020-03-27 15:18] viceice commented on #5799
It was generated from an ancient android studio while converting the eclipse project to android studio with gradle. I've done that on windows.

[2020-03-27 15:26] viceice commented on #5799
[code]

[2020-03-27 16:41] #5605 closed

[2020-03-27 17:14] ikesyo commented on #4807
Resolved by #5786.

[2020-03-27 17:14] #4807 closed

[2020-03-28 04:55] BryanHunt opened #5821 "Can't find scoped package in private repo when using .yarnrc"
### Which Renovate are you using?

Renovate Open Source CLI
### Which platform are you using?

GitLab self-hosted

### Have you checked the logs? Don't forget to include them if relevant

The logs say the same thing that the MR does.  It couldn't find the scoped package in our private repo.

### What would you like to do?

I'm trying to onboard a new repository that uses a scoped package that is i

[2020-03-28 11:38] ali-kamalizade opened #5810 "Typo in "Pin dependencies" PR template"
**What Renovate type are you using?**

 I am using Renovate in a private project hosted on Gitlab.com

**Describe the bug**

It's not a bug but a simple typo. If you start using Renovate, it will usually create a "Pin dependencies" pull request. The [PR template](https://github.com/renovatebot/renovate/blob/6c4892b59336ecb7bcb09ad1678f068f4ac11045/lib/workers/pr/body/notes.ts#L45) contains a typo:

[2020-03-28 16:47] #5799 closed

[2020-03-28 16:57] jGleitz commented on #4754
@LeJeanbono: This issue as developed quite a bit. I, at least, have lost the overview of what has been discussed here. Is there any problem left, now that #5806 is merged?

[2020-03-28 18:01] renovate-release opened #5819 "The automated release is failing 🚨"
## :rotating_light: The automated release from the `master` branch failed. :rotating_light:

I recommend you give this issue a high priority, so other packages depending on you could benefit from your bug fixes and new features.

You can find below the list of errors reported by **semantic-release**. Each one of them has to be resolved in order to automatically publish your package. I’m sure you c

[2020-03-28 18:17] viceice commented on #5819
🤯

[2020-03-29 06:01] rarkins commented on #5821
@BryanHunt No need - I've transferred this issue itself into the main repo and classified as a bug

[2020-03-29 06:30] rarkins opened #5822 "Display age/release date for updates"
**What would you like Renovate to be able to do?**

Give a clear indication to users about when an update was released (if we have that data)

**Describe the solution you'd like**

We might need to offer various approaches. Here are the possibilities I can think of:
- Raw release timestamp (accurate, but not user-friendly)
- Pretty timestamp (e.g. `16-Mar` if it's same year, or `12-Sep-2018` if it

[2020-03-29 07:01] #5819 closed

[2020-03-29 07:20] #5023 closed

[2020-03-29 09:18] rarkins opened #5825 "Path-based hostRules"
**What would you like Renovate to be able to do?**

Support greater granularity of `hostRules`. There may be cases where they are specific to a certain path, for example.

**Describe the solution you'd like**

Concrete example: npm `.npmrc` or Composer `auth.json` could be found within subdirectories, and maybe more than one per repo if it's a monorepo.

**Describe alternatives you've considered**

[2020-03-29 09:25] viceice commented on #5825
🤔 I like the idea to add hostRules from managers (eg read from `.npmrc` and others)

[2020-03-29 09:29] rarkins commented on #5825
If parsing `.npmrc`, we'd need to do at least this:
- Convert scoped instructions into `packageRules` containing the scope as `packagePatterns` and then the host as `registryUrls`
- Convert host into `hostRules` matching endpoint or hostname and with `token`

[2020-03-29 16:22] #5780 closed

[2020-03-29 16:35] renovate-release commented on #5780
:tada: This issue has been resolved in version 19.188.0 :tada:

The release is available on:
- [GitHub release](https://github.com/renovatebot/renovate/releases/tag/19.188.0)
- `19.188.0`

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-03-30 00:16] bilby91 commented on #4503
#5269 Has been merged!

[2020-03-30 00:45] bilby91 commented on #3061
@rarkins Would like to help with issue but I'm no uncertain of what the actual goal of this is.

Can you provide some extra input on what "Lock file Maintenance" means please ?

Thanks

[2020-03-30 03:52] #4503 closed

[2020-03-30 05:43] rarkins commented on #3061
"lock file maintenance" means that Renovate completely refreshes the lock file (i.e. including all transitive dependencies). The easiest way to do this is likely to delete the `Gemfile.lock` and then run a `bundle` command to recreate it, then commit it.

The best one to copy would probably be composer's implementation. Links:

https://github.com/renovatebot/renovate/blob/bb6ab0bed30502277a77423ef

[2020-03-30 05:44] #4618 closed

[2020-03-30 05:54] renovate-release commented on #4618
:tada: This issue has been resolved in version 19.188.1 :tada:

The release is available on:
- [GitHub release](https://github.com/renovatebot/renovate/releases/tag/19.188.1)
- `19.188.1`

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-03-30 06:59] rarkins opened #5829 "Check renovateRepository for memory leaks"
Possibly can we take a heap dump before and after renovateRepository() to check?

https://www.arbazsiddiqui.me/a-practical-guide-to-memory-leaks-in-nodejs/

[2020-03-30 08:23] rarkins commented on #5574
This might be resolved by #5807. If you can reproduce it in a public repo then I can test it with the CLI to confirm.

[2020-03-30 08:24] rarkins commented on #3406
Possibly fixed by #5807 in the OSS release

[2020-03-30 08:37] rarkins commented on #3150
I think this is fixed now, e.g.

![image](https://user-images.githubusercontent.com/6311784/77892179-756ae780-7272-11ea-8d55-f18db6da6834.png)

[2020-03-30 08:37] #3150 closed

[2020-03-30 08:39] rarkins commented on #3330
I know this issue is older, but let's track this feature in #5181 instead

[2020-03-30 08:39] #3330 closed

[2020-03-30 08:39] ViralRuparel commented on #3406
![image](https://user-images.githubusercontent.com/21654339/77892290-03090000-7290-11ea-8ca9-9184fe702d2a.png)
It's fixed!

[2020-03-30 08:40] edmorley commented on #3150
Thank you :-)

[2020-03-30 08:54] ViralRuparel commented on #5574
![image](https://user-images.githubusercontent.com/21654339/77893790-056c5980-7292-11ea-823c-f2b68699127a.png)
Fixed!

[2020-03-30 09:57] gmariotti opened #5830 "Renovate downgrades Spring Cloud dependencies"
**What Renovate type are you using?**

Hosted App (19.189.0)

**Describe the bug**

Renovate started downgrading Spring Cloud dependencies from `Hoxton.SR3` to `Hoxton.RELEASE`. This was not occurring in the past.

**Did you see anything helpful in debug logs?**

Nothing useful found.

**To Reproduce**

Any gradle project with the following dependency in the `build.gradle.kts` file.

[code]

**Add

[2020-03-30 10:02] rarkins commented on #5830
We did make an update to our Gradle versioning after some feedback, although it's possible there's also a regression failure. I think `SR` stands for `Service Release`, right?

I do not see it mentioned explicitly here: https://docs.gradle.org/current/userguide/single_versions.html#version_ordering

@zharinov can you take a look?

[2020-03-30 10:02] viceice commented on #5830
I think #5789 is the cause. Previously we used the maven version scheme for gradle, which was wrong.

[2020-03-30 10:05] rarkins commented on #5830
Let's check the Gradle source code to see if they have explicit rules for SR even if that documentation page doesn't explicitly mention

[2020-03-30 10:10] viceice commented on #5830
https://github.com/gradle/gradle/blob/master/subprojects/base-services/src/main/java/org/gradle/util/GradleVersion.java

[2020-03-30 10:10] micheelengronne commented on #5800
AFAIK. We just need to alter `lookupName` here :

https://github.com/renovatebot/renovate/blob/5ba8570699b041ea273cfb33a5a574cce84bf072/lib/datasource/git-refs/index.ts#L35

And just for this line.

[2020-03-30 10:15] viceice commented on #5830
Looks like `Hoxton.SR3` or `Hoxton.RELEASE` are not valid gradle versions.

[2020-03-30 10:26] zharinov commented on #5830
For Maven, we solved it with adding `SR` as one of reserved qualifiers. Now I'm adding it to Gradle too.

[2020-03-30 11:05] LeJeanbono commented on #4754
Hi @jGleitz Thanks for your commit, but still same error :
`WARN: Gradle extraction failed
{
  "errMessage": "Command failed: docker run --rm --name=renovate_gradle --label=renovate_child -v \"/mnt/renovate/gl/csuite/datawarehouse\":\"/mnt/renovate/gl/csuite/datawarehouse\" -v \"/tmp/renovate-cache\":\"/tmp/renovate-cache\" -w \"/mnt/renovate/gl/csuite/datawarehouse/api\" renovate/gradle bash -l -

[2020-03-30 11:28] micheelengronne commented on #5800
I know I can make it work with ssh keys. But, that means 2 secrets systems to maintain (2 times the attack surface): the `config.js` and the `ssh key`.

[2020-03-30 11:34] gmariotti commented on #5830
@rarkins I'm not familiar with Spring versioning system, it does not look that conventional to me, but if @zharinov solution solves it, I would go with it. Spring is huge in the JVM world, and it is probably easier to just support it instead of telling everyone to have a custom rule in their renovate configuration.

[2020-03-30 11:44] rarkins commented on #5830
@gmariotti yes, I think we can support it even if it's non-standard. The important thing is that I don't think anyone would expect it to behave the *opposite* way (i.e. how it is today) so I think it's safe. @zharinov any others we should consider at the same time?

[2020-03-30 11:46] rarkins commented on #5800
So do we have a reliable way to check if the lookupName matches with the configured endpoint? e.g. parse both and compare hostname?

[2020-03-30 11:54] zharinov commented on #5830
There is more maven/gradle mismatches (e.g. `milestone`, `alpha`, `beta`, etc), but probably it makes sense to expand it gradually as soon as we get actual misbehavior for Gradle manager

[2020-03-30 11:58] ikesyo commented on #5830
ref: #5182

[2020-03-30 12:48] #5830 closed

[2020-03-30 12:53] gmariotti commented on #5830
Thanks for quickly supporting it, this project is amazing!! 🚀

[2020-03-30 12:59] renovate-release commented on #5830
:tada: This issue has been resolved in version 19.189.1 :tada:

The release is available on:
- [GitHub release](https://github.com/renovatebot/renovate/releases/tag/19.189.1)
- `19.189.1`

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-03-30 13:14] rarkins commented on #5830
I’ll put it live in the app later today

[2020-03-30 13:33] mmaeller opened #5894 "Problem updating private Docker registry implicit library/ image"
### Which Renovate are you using?
Renovate docker image 19.156.0

### Which platform are you using?

GitLab self-hosted

### Have you checked the logs? Don't forget to include them if relevant

[code]

### What would you like to do?
The gitlab project `myproject` in gitlab group backend contains a Dockerfile.
This file is being scanned, but the tags cannot be resolved since the URL is not built pr

[2020-03-30 14:31] pixelastic commented on #351
*Sorry to revive this old thread, but it seemed more relevant than opening a new one.*

My understanding is that `requiredStatusChecks` set to `null` will completely bypass the checks: it will automerge if there are no checks, or if they fail, or if they succeed.

Is there a way to have renovate automerge if 1/ there are tests and they pass or 2/ there are no tests.

I'd like to use the same share

[2020-03-30 14:35] LeJeanbono commented on #4754
This problem is solved : `/mnt/renovate/gl/csuite/datawarehouse/api\" renovate/gradle bash -l -c \"./gradlew --init-script renovate-plugin.gradle` => I have 2 modules `api` and `e2e` and a gradlew in `api` which reference gradle wrapper in `api` not in project root. I deleted it and now It's ok.
**But It come back to the first error of this issue :**
`WARN: Gradle extraction failed
{
  "errMessage

[2020-03-30 14:36] rarkins commented on #351
Currently it's not possible to have that because Renovate can't reliably determine if there are no tests. If GitHub had an outage with webhooks for example then you might see no status checks because the CI or other bots didn't know to run. Renovate automerges immediately when requiredStatusChecks is null because users complained when it didn't.

[2020-03-30 15:56] YuraBeznos commented on #5774
Hey, hello!
I've made this as simple as possible:
https://github.com/ocadotechnology/renovate/commit/13c33696186f1f456f585076a22567f3d480f75e

I've tested it on live repository and everything looks good: https://github.com/YuraBeznos/npm13/pulls

If you like how it looks I'll fix tests and make PR.

[2020-03-30 18:07] bilby91 commented on #3061
@rarkins Got it! How is the lock file maintenance triggered ?

[2020-03-30 18:10] aaronjensen commented on #5023
@rarkins Thanks for merging! Is this live yet? It doesn't appear to work, so just wanted to see if it's pending a deployment or I'm doing something wrong.

[2020-03-30 18:13] rarkins commented on #5023
@aaronjensen yes, it's live. I added some documentation here: https://docs.renovatebot.com/modules/manager/bundler/#authenticating-private-registry

[2020-03-30 18:39] ViralRuparel opened #5834 "chore: Add @ViralRuparel to contributor list"
Add @ViralRuparel to contributor list.

[2020-03-30 18:40] viceice commented on #5834
haha, You don't have to open an issue for this. 🙃  Just send a PR

[2020-03-30 18:41] viceice commented on #5774
Please open a PR, to we can review and suggest changes more easy

[2020-03-30 18:47] ViralRuparel commented on #5834
😂okay!

[2020-03-30 18:48] YuraBeznos commented on #5774
Done. Thank you.

[2020-03-30 19:08] aaronjensen commented on #5023
@rarkins Thanks, though those docs appear to be inaccurate. `hostname` is invalid (`hostName`)? And I think I need `username` and `password`, not `token`, right?

[2020-03-30 19:12] driver733 opened #5837 "Renovate does not update gradle wrapper`s execution files"
**What Renovate type are you using?**

Self-hosted

**Describe the bug**

Renovate should (but does not as of v.19.189.1) update the gradle wrapper version this way:
[code]
instead of simply changing the version in the `distributionUrl`.

The `version` param should be extracted from the original distributionUrl.
The optional`distribution-type` param should not be specified since, as per the Gradle

[2020-03-30 19:14] msvab opened #5838 "All locks refreshed displayed instead of version numbers"
**What Renovate type are you using?**

Using Renovate as a Github app

**Describe the bug**

We have Renovate configured to create a single PR with all changes once a week. There is an issue with the table of changes generated in the PR description. When the `lockFileMaintenance` is the first row in the table then all following rows say `All locks refreshed` in the Change column. However if there

[2020-03-30 19:15] bilby91 commented on #5023
@aaronjensen Yes, it should be `hostName`. You can use `username` and `password` if that is your authentication mechanisms. `token` is also supported.

[2020-03-30 19:24] #5834 closed

[2020-03-30 19:28] rarkins commented on #3061
By default, it's disabled, and when you update it, it's scheduled for Monday mornings. To get it to run every time, add this to your config:

[code]

Then I recommend putting a debugger/breakpoint in the artifacts file to catch when it's called.

[2020-03-30 19:34] driver733 commented on #5837
@rarkins I can try to fix this issue. Can you assign it to me?

[2020-03-30 19:37] bilby91 commented on #3061
@rarkins Good! I'll make some progress on this!

Thanks!

[2020-03-30 19:39] ikesyo commented on #5837
This is a duplicate of #3565.

[2020-03-30 19:39] rarkins commented on #5837
@driver733 thank you very much for trying. I actually wasn't sure though how it should be implemented though, so it may not be an easy one. The [updateDependency](https://github.com/renovatebot/renovate/blob/ed5792ad5d028688a90cad31070816e76e2e524f/lib/manager/gradle-wrapper/update.ts#L29) function is not meant to return multiple files, so it might be necessary to implement it using the "artifacts

[2020-03-30 19:39] rarkins commented on #5837
Thanks @ikesyo. @driver733 can you comment in #3565 and I'll assign it there?

[2020-03-30 19:39] #5837 closed

[2020-03-30 19:41] driver733 commented on #3565
@rarkins I can try to fix this issue. Can you assign it to me?

[2020-03-30 23:28] aaronjensen opened #5840 "pr hourly limit reached when there isn't one"
**What Renovate type are you using?**

GitHub App

**Describe the bug**

My log says below, which seems to indicate it cannot create any prs because a limit that I do not have set is blocked.

Here are the relevant parts of my config:

[code]

And the log:

[code]

**Did you see anything helpful in debug logs?**

See above

**To Reproduce**

I could share our Gemfile and Gemfille.lock privately

*

[2020-03-30 23:51] aaronjensen commented on #5840
They all just showed up, so i guess this was a temporary thing.

[2020-03-30 23:51] #5840 closed

[2020-03-31 01:58] aaronjensen commented on #5023
Thank you, I was able to get this working.

[2020-03-31 06:01] renovate-release commented on #5834
:tada: This issue has been resolved in version 19.189.2 :tada:

The release is available on:
- [GitHub release](https://github.com/renovatebot/renovate/releases/tag/19.189.2)
- `19.189.2`

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-03-31 08:10] JamieMagee commented on #4040
The Renovate helm chart is now available at https://github.com/renovatebot/helm-charts

[2020-03-31 08:10] #4040 closed

[2020-03-31 09:09] pixelastic commented on #351
Thanks! That clarifies things. I'll manually add `requiredStatusChecks` on the projects I know don't have tests.

[2020-03-31 15:34] YuraBeznos commented on #5774
I've moved update/write logic from processRepo (lib/workers/repository/index.ts) to new updateRepo so it is possible to add new logic (like generating commit message with full changelog) between them.

[2020-03-31 17:12] maplesteve commented on #5646
This still doesn't work correctly. Renovate tries to fetch a GitHub Package from the npmjs registry though the registry is configured as per @viceice last comment above.
BTW: The package-lock.json has the correct URL for the private package; it points to GitHub.

Please see #158961503 for an example of "Dependency lookup failure: not found"

[2020-04-01 04:03] bilby91 commented on #3061
@rarkins https://github.com/renovatebot/renovate/pull/5844

Some tests are failing but they don't seem to be related. Are there some tests failing randomly ?

[2020-04-01 05:13] rarkins commented on #3061
Seems to be. I'm retrying them now

[2020-04-01 09:51] Tanuel opened #5847 "git-tags datasource doesnt work anymore"
**What Renovate type are you using?**

Self hosted on GitLab 12.9 CE

Broken on version **19.189.3**
Works on version **19.183.1**

Possibly introduced in #5727

**Describe the bug**

Renovate cannot upgrade our terraform modules anymore. They are implemented like this:

[code]

**Did you see anything helpful in debug logs?**

[code]

**To Reproduce**

i hope the stack is enough. basically you try

[2020-04-01 18:20] WarmVissarutRonaldoDude opened #5850 "Support create as Draft PR in Github"
**What would you like Renovate to be able to do?**
Has configuration options to be able to create as draft PR.

**Describe the solution you'd like**
if configuration like `draftPR` as boolean is `true` then renovate-bot just create PR as draft in github. (default value should be `false`)

**Misc**
Github API for create pull request as draft is already provided https://developer.github.com/v3/pulls

[2020-04-01 20:09] #5847 closed

[2020-04-01 20:38] renovate-release commented on #5847
:tada: This issue has been resolved in version 19.189.4 :tada:

The release is available on:
- [GitHub release](https://github.com/renovatebot/renovate/releases/tag/19.189.4)
- `19.189.4`

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-04-02 05:18] rarkins opened #5853 "error: unknown option `sort=-v:refnam"
**What Renovate type are you using?**

WhiteSource Renovate App

**Describe the bug**

Getting a git-raw-refs lookup error.

**Did you see anything helpful in debug logs?**

[code]

**To Reproduce**

Fork github.com/kradalby/munin and run Renovate

**Additional context**

Presumably related to #5848 Cc @Tanuel @viceice

[2020-04-02 05:20] rarkins commented on #5853
Possibly related to outdated `git`?

[2020-04-02 05:21] rarkins commented on #5853
I don't think we actually need the sort call anyway.

[2020-04-02 05:33] Tanuel commented on #5853
https://github.com/git/git/blob/master/Documentation/RelNotes/2.18.0.txt#L69-L70

The sort feature has been added in git 2.18.0, released on 2018-06-21. While the git version is kinda outdated i guess sorting can be removed. I do not remember why i added the flag tbh.

[2020-04-02 05:35] viceice commented on #5853
Ubuntu lts default git version is very outdated.

Do we need the versions return by datasources somehow sorted?

[2020-04-02 05:39] rarkins commented on #5853
I'll update git, but also remove that flag. We do sorting later in the process anyway.

[2020-04-02 05:40] #5853 closed

[2020-04-02 05:50] renovate-release commented on #5853
:tada: This issue has been resolved in version 19.190.1 :tada:

The release is available on:
- [GitHub release](https://github.com/renovatebot/renovate/releases/tag/19.190.1)
- `19.190.1`

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-04-02 09:39] rarkins opened #5854 "Support kpt"
**What would you like Renovate to be able to do?**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Additional context

[2020-04-02 10:40] piotr-s-brainhub opened #5855 "renovate not showing release notes written down in CHANGELOG.md"
I don't know whether it's supposed to work so I cannot tell whether it's a bug or a feature request.

In https://github.com/brainhubeu/react-carousel/pull/391, I see:
<img width="777" alt="Screenshot 2020-04-02 at 12 36 08" src="https://user-images.githubusercontent.com/20856232/78239895-92a3ee00-74de-11ea-93c6-4058bdd44b73.png">

The release page (https://github.com/gatsbyjs/gatsby/releases) does

[2020-04-02 10:40] piotr-s-brainhub commented on #5855
I see there's already https://github.com/renovatebot/renovate/issues/1470 but closed.

[2020-04-02 10:49] viceice commented on #5855
Currently we have a static list for changelog files. feel free to send a pr to extend it.

https://github.com/renovatebot/renovate/blob/202c416d38b1147c92a6dd32ae0caba7200b613f/lib/datasource/metadata.ts#L8-L37

[2020-04-02 10:49] rarkins commented on #5855
We might be favouring github releases over changelog files, would need debugging to be sure.

[2020-04-02 11:19] rarkins commented on #5855
Yes I see it’s also in a subdirectories although I hoped we handled that already.

[2020-04-02 11:41] piotr-s-brainhub commented on #5855
I opened a PR https://github.com/renovatebot/renovate/pull/5856 but the build is failing.
I don't know what exactly I should write in the commit message.

[2020-04-02 12:35] #5855 closed

[2020-04-02 12:53] renovate-release commented on #5855
:tada: This issue has been resolved in version 19.191.0 :tada:

The release is available on:
- [GitHub release](https://github.com/renovatebot/renovate/releases/tag/19.191.0)
- `19.191.0`

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-04-02 13:01] rarkins opened #5857 "Cocoapods parseLine error"
**What Renovate type are you using?**

WhiteSource Renovate for GitHub.com

**Describe the bug**

[code]

**To Reproduce**

github.com/ikesyo/renovate-cocoapods-sample

**Additional context**

@ikesyo @zharinov

[2020-04-02 17:34] #5857 closed

[2020-04-02 17:45] renovate-release commented on #5857
:tada: This issue has been resolved in version 19.191.1 :tada:

The release is available on:
- [GitHub release](https://github.com/renovatebot/renovate/releases/tag/19.191.1)
- `19.191.1`

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-04-02 19:20] viceice commented on #5854
They use git under the hood and a metadata `Kptfilefile` which is a yml file.

https://googlecontainertools.github.io/kpt/guides/consumer/update/

[2020-04-03 09:04] #3565 closed

[2020-04-03 09:17] renovate-release commented on #3565
:tada: This issue has been resolved in version 19.192.0 :tada:

The release is available on:
- [GitHub release](https://github.com/renovatebot/renovate/releases/tag/19.192.0)
- `19.192.0`

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-04-03 11:46] rarkins opened #5865 "refactor: port platforms from util/got to util/http"

[2020-04-03 15:34] frbuceta opened #5866 "Duplicate versions when updating the version of NodeJS in Travis"
**What Renovate type are you using?**

**Describe the bug**

RenovateBot tries to duplicate the NodeJS version in the Travis configuration file. Also the versions do not correspond either because you should leave it like this ... Versions 10, 12 and 13

**Did you see anything helpful in debug logs?**

[code]

**To Reproduce**

https://github.com/frbuceta/restify-jwt-community/pull/101

**Additiona

[2020-04-04 09:48] rarkins commented on #5557
Three possible outcomes from a lookup:
- Success (data)
- Ignored failure (null)
- DatasourceError

Success/data doesn't need any special handling, so we only need to care about thrown errors.

Three types of errors:
- HTTP status codes (500 etc)
- HTTP error codes (ECONNECT etc)
- Error messages (`ParseError` etc)

We could approach it one of two ways:
- Specify which errors to throw DatasourceEr

[2020-04-04 11:39] felixfbecker opened #5872 "Improve story for creating PRs to update to nightly builds"
**What would you like Renovate to be able to do?**
I'd like to use Renovate to open PR for select packages that publish nightly builds, e.g. TypeScript or eslint-typescript. This way I can check builds and see if the next version will break anything, and can open issues when they crash (potentially even automatically).

At the same time, I'd still like PRs for upgrades to the `latest` version.

Cu

[2020-04-04 11:41] rarkins commented on #5872
I don’t think it completely satisfies your requirement but how dues this compare to`followTag`?

[2020-04-04 11:43] felixfbecker commented on #5872
`followTag` is basically what I want, but I need it to be an array to accept multiple tags. Right now, if I set it to `nightly`, I won't get any PRs more to upgrade to stable versions :/

[2020-04-04 12:19] driver733 opened #5873 "Renovate does not update gradle wrapper execution files due to a bug in the implementation."
**What Renovate type are you using?**

19.194.0

**Describe the bug**

Renovate does not update gradle wrapper execution files due to a bug in the implementation.

**To Reproduce**

1. Repo has gradle v. 5.6.4
2. Run Renovate
3. `gradle-wrapper.properties` is updates, however, gradle-wrapper execution files are not. (They are updated, but not commited)

[2020-04-04 16:27] rarkins commented on #5557
![image](https://user-images.githubusercontent.com/6311784/78456065-f4f91c00-76a1-11ea-847c-1eff562a19f2.png)

[2020-04-04 18:04] #5873 closed

[2020-04-04 18:18] renovate-release commented on #5873
:tada: This issue has been resolved in version 19.195.1 :tada:

The release is available on:
- [GitHub release](https://github.com/renovatebot/renovate/releases/tag/19.195.1)
- `19.195.1`

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-04-04 20:26] driver733 opened #5875 "Gradle-wrapper updater sets gradles execution files content to null"
**What Renovate type are you using?**

19.195.1

**Describe the bug**

Renovate sets gradle wrapper execution files content to `null` due to a bug in the implementation.

**To Reproduce**

1. Repo has gradle v. 5.6.4
2. Run Renovate
3. `gradle-wrapper.properties` is updated, however, gradle-wrapper execution files contents are `null`.

[2020-04-04 22:53] piclemx commented on #5794
@rarkins It's using containers image for k8s.

[2020-04-05 05:34] rarkins commented on #5825
`hostRules` would come from:
- Global config init (bot config)
- per-repo init (repo config)
- Extraction of manager files

`hostRules` are currently used in:
- datasources: docker, npm, packagist
- manager artifacts: bundler, composer, gomod, npm
- all platforms
- changelog retrieval

[2020-04-05 05:48] rarkins commented on #5825
Platforms should save the token or username/password passed during `initPlatform()` and then add it using their own http wrapper. Each platform request *won't* use `hostRules`.

Platforms could return one rule for the hostName alone, and another for hostName + hostType, to allow for cases where managers search for rules by hostType.

hostRules order:
- platform-generated
- global bot config
- repo

[2020-04-05 09:06] Djiit opened #5881 "Error when using Renovate on Github Actions"
**What Renovate type are you using?**

Self-hosted Renovate, run on Github Actions periodically (see https://github.com/wikiwarsgg/webapp/blob/master/.github/workflows/schedule.yml)

**Describe the bug**

I have this error when running Renovate on a PR (see https://github.com/wikiwarsgg/webapp/pull/22)

[code]

**Did you see anything helpful in debug logs?**

See above

**To Reproduce**

All the l

[2020-04-05 09:24] viceice commented on #5881
I don't know what's happening, but you can try our official github [action](https://github.com/renovatebot/github-action)

[2020-04-05 14:30] kolaente opened #5883 "Include cron in the official docker image"
**What would you like Renovate to be able to do?**
It would be cool if the renovate docker image would contain configurable cron support to run at a certain schedule automatically.

**Describe the solution you'd like**
An environment variable which would configure the cron schedule, something like `CRON_SCHEDULE=0 * * * *` - if provided the docker image would stay running and execute renovate at t

[2020-04-05 14:39] rarkins commented on #5883
The existing Docker image doesn’t require kubernetes.

[2020-04-05 14:48] kolaente commented on #5883
@rarkins I know I can run it without kubernetes but when starting the docker image, it will run the CLI once and exit afterwards. If I want renovate to check for updates in my repos, I need to manually run the docker image every time or with an external cron tool. Kubernetes has such functionality and is mentioned for this in the docs. I could also stick a shell script in the crontab on my server

[2020-04-05 14:53] rarkins commented on #5883
It’s intended that you use cron on your server to schedule it as we prefer to keep the image simple. At this point we are not wanting to support a stateful container due to the additional edge cases it introduces (eg error/restart handling or memory clearing).

[2020-04-05 14:54] #5883 closed

[2020-04-05 17:44] Trim21 opened #5884 "use `poetry lock` for lockFileMaintenance to workaround a poetry bug"
**What Renovate type are you using?**

GitHub app

**Describe the bug**

current `lockFileMaintenance` command `poetry update --lock --no-interaction` may cause a bug downgrade deps version

related issue: https://github.com/python-poetry/poetry/issues/617

**To Reproduce**

try lockfile maintain on

https://github.com/Trim21/poetry-update-downgrade

or current PR: https://github.com/Trim21/pol/pu

[2020-04-06 04:57] bdwyertech commented on #2927
Loose'ish pins in Pipfile and hard pins for only whats needed.  Thats how we use pipenv at least.  Would love to see this added.

The logic would basically be to run `pipenv update --dry-run` and see if it does anything or run `pipenv update` and do a diff of before/after of pipfile.lock.

[2020-04-06 07:41] Tanuel opened #5889 "Allow filtering Managers without autoclosing existing PRs (self-hosted)"
**What would you like Renovate to be able to do?**

We are running (selfhosted) Renovate across a lot of projects. Now we want to implement a new level of automation into our pipelines.

We have a set of Portals hosted in the Cloud, rolled out with Terraform. Those modules will be tagged with Semantic Release on each push.

We then want renovate to run across said projects but only enable the Terr

[2020-04-06 07:45] rarkins commented on #5889
If you use a separate `branchPrefix` then the two Renovate instances shouldn't conflict with each other.

[2020-04-06 07:45] viceice commented on #5889
You should be able to do this with a different `branchPrefix`.

[2020-04-06 16:10] renovate-release commented on #5875
:tada: This issue has been resolved in version 19.196.0 :tada:

The release is available on:
- [GitHub release](https://github.com/renovatebot/renovate/releases/tag/19.196.0)
- `19.196.0`

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-04-06 17:34] driver733 commented on #5875
@viceice This issue is not resolved as of `19.196.0`

[2020-04-06 19:20] chinskiy commented on #5065
Hello!
I've faced the same issue with `newrelic` and `datadog` providers
and as I see these providers not exist in `registry.terraform.io` from what renovate try to get the [list](https://github.com/renovatebot/renovate/blob/20e18b643732b5107f80018aae597c892fbaddc0/lib/datasource/terraform-module/index.ts#L27) of providers and versions.

At the same way, I've run `terraform init` in debug mode and

[2020-04-06 19:51] chinskiy opened #5892 "Updating required_providers section for terraform"
**What would you like Renovate to be able to do?**

For now, renovate update `version` field for `provider` resource but if I use [`required_providers` ](https://www.terraform.io/docs/configuration/modules.html#provider-version-constraints-in-modules) block - it doesn't do anything with it.

**Describe the solution you'd like**
Update `required_providers` block in the same way as `provider` resour

[2020-04-07 05:27] #3238 closed

[2020-04-07 05:40] renovate-release commented on #3238
:tada: This issue has been resolved in version 19.198.0 :tada:

The release is available on:
- [GitHub release](https://github.com/renovatebot/renovate/releases/tag/19.198.0)
- `19.198.0`

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-04-07 06:30] mmaeller commented on #5894
I'm wondering because this should be a common issue, since artifactory provides this repository grouping as a common feature. :(

[2020-04-07 10:05] #5682 closed

[2020-04-07 10:16] renovate-release commented on #5682
:tada: This issue has been resolved in version 19.200.0 :tada:

The release is available on:
- [GitHub release](https://github.com/renovatebot/renovate/releases/tag/19.200.0)
- `19.200.0`

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-04-07 10:31] bodinsamuel commented on #4408
Hi,
Just pinging to see if you had any traction on this? ☺️

[2020-04-07 10:46] ikesyo commented on #5733
Good news https://github.blog/changelog/2020-04-07-github-apps-workflow-permission

[2020-04-07 11:14] #5743 closed

[2020-04-07 11:22] rarkins commented on #5390
FYI I added a `replace` function to handlebars yesterday.

Example of using it from https://github.com/renovatebot/renovate/blob/aa7f29127554b63aac08b53cbfe88749fc9b0295/lib/manager/npm/index.ts#L17:

[code]

So you could do something similar like this with config:

[code]

[2020-04-07 12:47] bytestream commented on #2355
@rarkins what are you willing to accept to see this fixed?

This is causing me an issue where:

My composer:
[code]

Endroid composer:
[code]

The `Pin Dependencies` PR pins `endroid/qr-code` to `3.7.7`, but then updates `symfony/property-access` from `4.4.5` to `5.0.7` which later results in:
[code]

I'm not sure why renovate is updating `symfony/property-access`? I thought I could bypass the iss

[2020-04-07 13:59] strarsis opened #5901 "[CE] Webhook"
**What would you like Renovate to be able to do?**
Being triggered by a repository system like GitLab.

**Describe the solution you'd like**
Add minimal webhook support.

**Describe alternatives you've considered**
Put renovate on schedule. But could it run each minute? All 10 seconds? Are race conditions avoided by its programming (e.g. lockfile)?

**Additional context**
Is a webhook something ha

[2020-04-07 14:55] rarkins commented on #5901
This is not within the scope of this repository, as this is a CLI tool. You're welcome to check out https://renovate.whitesourcesoftware.com/on-premises/, which is free to use with registration.

[2020-04-07 14:55] #5901 closed

[2020-04-07 15:59] strarsis commented on #5901
@rarkins: Nice! Just a question though: When the CLI tool is used, it would be normally set on schedule for a GitLab repository?

[2020-04-07 16:28] rarkins commented on #5901
Most people schedule it to be run hourly or daily.

[2020-04-07 16:52] strarsis commented on #5901
@rarkins: So when I run the docker container of renovate, it will exit itself after it finished.
Should I set the container to `restart: always`?

[2020-04-07 16:54] rarkins commented on #5901
You’ll probably exhaust your rate limits if you do so. It’s meant to be “docker run”, not “docker up”. Schedule it using pipelines or cron.

[2020-04-07 17:33] strarsis commented on #5901
@rarkins: Thanks! With pipelines the GitLab pipelines are meant?

[2020-04-07 17:37] rarkins commented on #5901
Yes. If you google it you can find a few people have blogged about their setups

[2020-04-07 17:40] strarsis commented on #5901
@rarkins: Thanks! `renovate` is great! I use it mainly for updating WordPress plugins (composer-based roots.io Bedrock setup).

[2020-04-07 21:54] officialpatterson opened #5911 "renovate manager for R?"
I've worked with renovate in a Java environment before and found it moderately useful and was wondering if there's a manager for R/cran repositories?

If there isn't one available, how hard is it to create one?

[2020-04-08 06:12] rarkins commented on #5911
There's no R support currently. What is needed when adding new support is:

- Add any new datasources required (unless it can reuse existing sources like git/github). i.e. in lib/datasource
- Add a new "manager" in lib/manager

So as a first step, can you write down here what you know about what we'd need to do?

[2020-04-08 06:37] rarkins opened #5914 "Nuget manager does not find lower case nuget.config"
**What Renovate type are you using?**

App

**Describe the bug**

The `findUp` module is only looking for case-sensitive `NuGet.config` and ignores any `nuget.config`.

[2020-04-08 06:37] rarkins commented on #5914
FYI @fgreinacher

[2020-04-08 07:14] #5759 closed

[2020-04-08 07:24] #5884 closed

[2020-04-08 07:33] renovate-release commented on #5759
:tada: This issue has been resolved in version 19.202.0 :tada:

The release is available on:
- [GitHub release](https://github.com/renovatebot/renovate/releases/tag/19.202.0)
- `19.202.0`

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-04-08 10:20] ikesyo commented on #5733
@rarkins Could you add the new permission to the hosted GitHub App?

[2020-04-08 10:44] rarkins commented on #5733
@ikesyo can you first double check that our current `github-actions` manager is fully up to date with GitHub's latest syntax? I thought I'd wait until verifying that before asking for more permissions.

[2020-04-08 10:53] ikesyo commented on #5733
@rarkins Current `github-actions` manager partially supports the latest (YAML) syntax; only docker images https://github.com/renovatebot/renovate/blob/69fedcfcfd3f81141fa9b182e33e06f99b2d355e/lib/manager/github-actions/extract.ts#L15. To update actions on GitHub repo, we need to use regex manager or update `github-actions` manager.

[2020-04-08 11:40] viceice commented on #5733
@rarkins  I think it's save to enable `github-actions`, we can update the manager later and use the regex manager for now.

@ikesyo  Will you send a pr to update the `github-actions` manager?

[2020-04-08 11:44] rarkins commented on #5733
I've updated the app's permissions so that existing org admins will get a request to approve them. We need to make sure that we *gracefully* handle permission failures though.

- Today: The `git push` fails, which is problematic error
- Better: Ignore the workflows push fail, keep going
- Best: Enable/disable the `github-actions` manager based on whether we have permissions or not

[2020-04-08 11:47] viceice commented on #5733
ok, so currently users have to explicit enable the `github-action` manager for the app?

[2020-04-08 12:58] Djiit commented on #5881
Shouldn't it be under the renovate org ?
Also, the action use a `config.js` file, which ask me to have two config files : `renovate.config.js` (or whatever I want) and `renovate.json` (created when onboarding with only one line reffering to a remote schema).

I think we should be able to use a unique json file. (`renovate.json`imho)

[2020-04-08 13:49] rarkins commented on #5733
Yes, until we're sure that we're handing the lack of permissions gracefully enough

[2020-04-08 14:01] viceice commented on #5881
the action is on our renovatebot org. The action runs the selfhosted cli version of the bot, so it will use the `config.js` for admin config. You can use an simple  empty export for this

[code]

[2020-04-08 16:03] Djiit commented on #5881
Ok, my bad, I don't know why I ended up in https://github.com/vidavidorra/github-action-renovate.

Can we provide this empty object as a default if there is no configurationFile ?

[2020-04-08 16:29] viceice commented on #5881
Sure, the repo you've found is the old one, we cloned to our org. Can you please file an issue there for a default config.

[2020-04-08 16:46] Djiit commented on #5881
Sure, let's close this one. Thanks !

[2020-04-08 16:46] #5881 closed

[2020-04-08 17:56] fgreinacher commented on #5914
Eek - will take care!

[2020-04-08 19:31] #5914 closed

[2020-04-08 19:32] ViralRuparel commented on #5822
will it go to each version like below:

![image](https://user-images.githubusercontent.com/21654339/78825277-518b6c80-79fd-11ea-97af-edcc76b9e0a3.png)

or only to the latest version to which we are upgrading?

and also will it look pretty in the PR body if we show this four formats, would't it make sense to just show one thing probably `timestampPrettyDay`, I think.

[2020-04-08 19:51] renovate-release commented on #5914
:tada: This issue has been resolved in version 19.202.3 :tada:

The release is available on:
- [GitHub release](https://github.com/renovatebot/renovate/releases/tag/19.202.3)
- `19.202.3`

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-04-09 04:51] rarkins commented on #5822
I was anticipating this to just be shown in the table, which would mean it reflects the latest version. Also, not to show all four at once but to give people the choice of which to display (because we support templates).

[2020-04-09 05:43] #5875 closed

[2020-04-09 05:54] renovate-release commented on #5875
:tada: This issue has been resolved in version 19.203.1 :tada:

The release is available on:
- [GitHub release](https://github.com/renovatebot/renovate/releases/tag/19.203.1)
- `19.203.1`

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-04-09 06:47] viceice commented on #2958
`@octokit/rest` v17 blocked by `@actions/github`

[2020-04-09 07:54] augi opened #5925 "Previous version in PR title and commit message"
**What would you like Renovate to be able to do?**
It would be great if title of a newly created PR and commit message contained also information about the previous version. It's useful esp. in commit message because then it is obvious from changelog if it's a major version update, or just a patch.

[2020-04-09 09:10] driver733 opened #5926 "Renovate uses a wrong downloadUrl while updating gradle-wrapper"
**What Renovate type are you using?**

19.203.1

**Describe the bug**

Renovate uses a wrong downloadUrl while updating gradle-wrapper.properties due to a bug in the implementation.

**To Reproduce**

1. Repo has gradle v. 5.6.4
2. Run Renovate
3. `gradle-wrapper.properties` has downloadUrl = `... -gradle-6.3.0-bin.zip` (should be `... -gradle-6.3-bin.zip`)

[2020-04-09 10:48] #5926 closed

[2020-04-09 11:29] renovate-release commented on #5926
:tada: This issue has been resolved in version 19.203.4 :tada:

The release is available on:
- [GitHub release](https://github.com/renovatebot/renovate/releases/tag/19.203.4)
- `19.203.4`

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-04-09 13:51] JamieMagee opened #5933 "Add support for Conan"
**What would you like Renovate to be able to do?**
Add support for [Conan](https://conan.io/), a C/C++ package manager

**Describe the solution you'd like**
Native support for Conan (using Bintray) as a datasource, and Conan as a manager.

**Describe alternatives you've considered**
Regex manager, but we don't provide support for Bintray as a datasource, so it won't work.

**Additional context**
-

[2020-04-09 14:11] JoTrdl opened #5971 "parentDir in branch name"
### Which Renovate are you using?

Renovate Open Source CLI
Renovate Version: `19.202.2`

### Which platform are you using?

GitHub.com

### What would you like to do?
From that question https://github.com/renovatebot/config-help/issues/457, I would like to split Renovate PRs based on the `parentDir`.

First, I tried the proposed solution:
[code]
And got that warning:
[code]

Then I tried the conf

[2020-04-09 17:21] bytestream commented on #5675
Did anything come of this?

I believe this would also semi solve https://github.com/renovatebot/renovate/issues/2355 as you could create a docker container with the minimum supported PHP version as a means of bypassing the lack of `platform` support.

[2020-04-09 17:39] bytestream commented on #4396
This duplicates https://github.com/renovatebot/renovate/issues/2355

I agree with these points. `--ignore-platform-reqs` should be avoided unless you know what you're doing.

You should be using the `config.platform` option if you're trying to run `composer <command>` in an environment that is missing all of your requirements.
[code]

People should really be using `npm run renovate` inside their o

[2020-04-09 18:07] rarkins commented on #4396
Removing `--ignore-platform-reqs` may cause the app to fail, so we need to consider that too.

Going forward, there will be three approaches to using third party binaries with Renovate:
- If you're happy to always have the latest, use our pre-built Dockerfile
- Else, run it in your own environment and/or build it yourself with the appropriate versions
- Or, map docker.sock into the container so th

[2020-04-09 18:20] bytestream commented on #4396
Will you accept a PR which adds a config option to disable `--ignore-platform-reqs` as you requested in another issue?

[2020-04-10 14:36] JamieMagee commented on #4992
@jmhodges I think we can achieve this with the `github-releases` datasource and the `regex` manager. Something like:

[code]

[2020-04-10 20:14] ViralRuparel commented on #5822
Okay, got it.

[2020-04-10 21:42] splincode opened #5944 "Renovate cannot download packages when usage package.json from repo"
**What Renovate type are you using?**

Platform: Bitbucket

**Describe the bug**

Hello, I can’t understand why in the timeout requests when Renovate run:
`"cmd": "node /app/node_modules/yarn/bin/yarn.js"`

**Did you see anything helpful in debug logs?**

I have `config.js`

[code]

And

[code]

[code]

When I run this command locally on my machine, everything works fine, but when I run on Jenkins

[2020-04-11 11:52] bytestream commented on #5675
Renovate `192.205.0` now has the option to specify `composerIgnorePlatformReqs: false` (https://github.com/renovatebot/renovate/pull/5937)

No. Composer has a minimum requirement of PHP 5.3+

----

I think this issue needs clarifying that the builtin `Dockerfile` should be updated.

There is no legacy PHP code in renovate itself...

[2020-04-11 11:55] bytestream commented on #4396
Can I suggest this is closed as a duplicate of https://github.com/renovatebot/renovate/issues/2355 to avoid confusion?

[2020-04-11 11:58] bytestream commented on #2355
Renovate `192.205.0` now has the option to specify `composerIgnorePlatformReqs: false` (#5937)

The lack of `config.platform` support can now be bypassed by building your own Docker image that contains your minimum PHP requirements and setting the above config option.

[2020-04-11 14:23] vestimir opened #5945 "Bundler update fails"
**What Renovate type are you using?**

Self-hosted with docker in docker executor.

**Describe the bug**

Renovate is detecting the Gemfile in the “Extraction statistics” step, but failing to read it in the docker execution. However, the rest of the dependency updates are handlet right – packages.json, Dockerfile and .ruby-version.

**Did you see anything helpful in debug logs?**

[code]

**To Rep

[2020-04-11 14:38] viceice commented on #5945
You need to mount `/tmp` to renovate image.

You can mount the config.js to `/usr/src/app/config.js`

[2020-04-11 15:43] vestimir commented on #5945
I've updated the gitlab file like this:

[code]

Now the error is `Fatal error: EACCES: permission denied, rmdir '/tmp/renovate/repos/gitlab/example-grouo/example-project'`

Please note that the executor is privileged.

[2020-04-11 15:52] viceice commented on #5945
Renovate docker images running as user 1000, this needs write access to tmp

[2020-04-12 08:51] vestimir commented on #5945
I added `chown 1000 /tmp` right before the `docker run` in gitlab-ci, but it still reports the same error.

[2020-04-12 11:02] edmorley opened #5951 "Rebase checkbox remains checked after rebase when prCreation=not-pending"
**What Renovate type are you using?**

Hosted App

**Describe the bug**

The Renovate bot does not untick the "rebase" checkbox, after performing the rebase. It used to do so, but stopped a while back (a few months ago?).

**Did you see anything helpful in debug logs?**

Did not look

**To Reproduce**

1. Open a renovate PR that needed rebasing (eg https://github.com/neutrinojs/webpack-chain/pull/

[2020-04-12 12:15] rarkins commented on #5951
@viceice I wonder if it was this change? https://github.com/renovatebot/renovate/blob/07281a3e3ff76a5b001149778bd7b21a27319276/lib/workers/branch/index.ts#L268-L277

[2020-04-12 12:26] viceice commented on #5951
Maybe, I'm not sure. Maybe we need to check for rebase request there. So we need to update pr if it exists 🤔

[2020-04-13 01:20] NullVoxPopuli opened #5956 "GitHub: Automerge blocked due to skipped build step"
**What Renovate type are you using?**

GitHub

**Describe the bug**

Over here: https://github.com/NullVoxPopuli/ember-jsqr/pull/6
I have a skipped build step (using a condition), and I think this may be holding up the auto-merge on success.

The build is successful, but not every step ran / needed to run.

**Did you see anything helpful in debug logs?**

I could not find anything in the logs rela

[2020-04-13 01:21] NullVoxPopuli commented on #5956
This repo appears to have the same issue: https://github.com/NullVoxPopuli/ember-autostash-modifier/pulls

[2020-04-13 05:11] rarkins commented on #5956
Where are you looking, and what "search"? There is no search feature in the dashboard. Please try again - the logs almost definitely contain information about this branch and its status.

[2020-04-13 10:29] NullVoxPopuli commented on #5956
When the logs show in a _modal_ there is a center field and a field on the right for both branch and dependency.........
![Screenshot_20200413-062829](https://user-images.githubusercontent.com/199018/79113978-14521200-7d50-11ea-91a3-e4373237f409.png)

[2020-04-13 10:38] NullVoxPopuli commented on #5956
I get info if I don't fill in the third field.p. but.. idk, seem broken.

Anyway. With search results:
![Screenshot_20200413-063749](https://user-images.githubusercontent.com/199018/79114490-68112b00-7d51-11ea-8889-29335ae72821.png)

It says it can't automerge, even though there are no errors

[2020-04-13 10:42] NullVoxPopuli commented on #5956
![Screenshot_20200413-064008](https://user-images.githubusercontent.com/199018/79114620-bc1c0f80-7d51-11ea-9651-933cc07b0948.png)
![Screenshot_20200413-064045](https://user-images.githubusercontent.com/199018/79114626-c0482d00-7d51-11ea-868b-f8831550eb5a.png)

My hunch in that whatever code is checking for merge status isn't accounting for this skipped state.

Maybe it's doing something like:

Sta

[2020-04-13 10:56] rarkins commented on #5956
please copy/paste those logs in text form

[2020-04-13 10:57] NullVoxPopuli commented on #5956
What information are you looking for?

[2020-04-13 10:59] rarkins commented on #5956
I'm looking for the logs in text form.

[2020-04-13 11:17] NullVoxPopuli commented on #5956
Now that I'm on a computer (phone kept freezing):

[code]

[2020-04-13 11:18] NullVoxPopuli commented on #5956
looks like here is the issue: https://github.com/renovatebot/renovate/blob/4f59b62da40a653352c839b344cbfbbf9597f98a/lib/platform/github/index.ts#L1178
'skipped' needs to be added to that array

[2020-04-13 12:59] christophehurpeau commented on #5230
So I tried the latest release and there is another issue:

[code]

Code: https://github.com/renovatebot/renovate/blob/master/lib/manager/npm/extract/yarn.ts#L1

I think we should use `@yarnpkg/parsers` instead which supports both lockfile versions, but I don't know how I could adapt that line:
https://github.com/renovatebot/renovate/blob/master/lib/manager/npm/extract/locked-versions.ts#L21-L22

[2020-04-14 04:38] #5956 closed

[2020-04-14 04:50] renovate-release commented on #5956
:tada: This issue has been resolved in version 19.207.1 :tada:

The release is available on:
- [GitHub release](https://github.com/renovatebot/renovate/releases/tag/19.207.1)
- `19.207.1`

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-04-14 04:58] #5774 closed

[2020-04-14 05:05] #3019 closed

[2020-04-14 09:30] ThibautMarechal commented on #2094
I don't think that the postUpgradeTasks is capable of a such thing.
I also wanted to update the Changelog file of the repository. I don't think there is a way to get the pull-request information in the task. (correct me if I'm wrong)
What about parsing the command to the template engine to be able to put some arguments in the command.
That way, we could run a command like "npm run my-script --argA

[2020-04-14 09:59] renovate-release commented on #3019
:tada: This issue has been resolved in version 19.208.0 :tada:

The release is available on:
- [GitHub release](https://github.com/renovatebot/renovate/releases/tag/19.208.0)
- `19.208.0`

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-04-14 09:59] renovate-release commented on #5774
:tada: This issue has been resolved in version 19.208.0 :tada:

The release is available on:
- [GitHub release](https://github.com/renovatebot/renovate/releases/tag/19.208.0)
- `19.208.0`

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-04-14 10:07] Pascalmh opened #5963 "Docker Image 19.207.1 broke Gradle projects"
**What Renovate type are you using?**

self-hosted Renovate on GitLab CI using

**Describe the bug**

When we updated to the newest version of renovate this morning our Gradle Projects started failing.

**Did you see anything helpful in debug logs?**

[code]

**To Reproduce**

[Use this Docker Image](https://hub.docker.com/layers/renovate/renovate/latest/images/sha256-e02b1242d4f2cb458d10ba70f5ba7

[2020-04-14 10:31] thib3113 opened #5964 "19.208.0 crash for NPM"
**What Renovate type are you using?**
19.208.0

Hosted, run by gitlab Ci, with the docker image .
with command :
`docker pull -q renovate/renovate:latest && docker run -e RENOVATE_TOKEN="$RENOVABOT_GITLAB_TOKEN" -e "RENOVATE_PLATFORM=gitlab" -e GITHUB_COM_TOKEN="$RENOVABOT_GITHUB_TOKEN" -v $PWD/renovate.js:/usr/src/app/config.js $(cat repositories.txt)`
each two hours (last time run with 19.207 an

[2020-04-14 10:53] rarkins commented on #5964
Can you confirm which version of Renovate does not contain the problem? e.g. 19.207.1?

[2020-04-14 10:58] rarkins commented on #5964
This should be fixed by https://github.com/renovatebot/renovate/commit/c9071a7e5457b26fc6c3e05c37f3ad269675962b

(it's awaiting automated release still though)

[2020-04-14 10:58] #5964 closed

[2020-04-14 11:20] rarkins commented on #5963
Thanks for reporting. I've pushed a fix in 19.208.1 for that particular line, however I wasn't able to reproduce the problem with my own demo gradle repo. If the problem still occurs, we'll need an example *repository* that can reproduce the problem.

[2020-04-14 11:20] #5963 closed

[2020-04-14 11:32] thib3113 commented on #5964
Yes last working version was        "renovateVersion": "19.207.1"

Thanks you for the fix, I will try on the next schedules (or after if automated process not ended)

[2020-04-14 11:34] rarkins commented on #5964
Included in release 19.208.1: https://github.com/renovatebot/renovate/releases/tag/19.208.1

[2020-04-14 12:20] rarkins commented on #5964
@thib3113 FYI we've been unable to reproduce this, so there's the possibility the same or similar problem could be introduced again in future. Would be able to save a full DEBUG log and/or reproduce the problem in a public repo?

[2020-04-14 12:42] TVNOWAccountSQ commented on #5963
Thank you @rarkins - that was quick! We are back on the "latest" image and it works again as expected!

[2020-04-14 12:42] Pascalmh commented on #5963
Thank you @rarkins - that was quick! We are back on the "latest" image and it works again as expected!

[2020-04-14 16:25] YuraBeznos commented on #5964
Reproduction of this is in using `baseBranches` config parameter.

[2020-04-14 17:07] SpainTrain commented on #2443
Until recently, we had observed the correct behavior of `package.json` -> `engines` and `.circleci/config.yaml` both having node version updated in the same PR.  Recently, we have had these open in separate PRs.  Is this intended and there is some config now to ensure they are in the same PR?  If they are not in the same PR, we end up with failing CI, naturally.

Thanks!

Note: Please LMK if this

[2020-04-14 17:55] rarkins commented on #2443
We haven’t intentionally changed it. Can you reproduce in a public repo?

[2020-04-14 18:02] rarkins commented on #2443
In a new issue please

[2020-04-15 07:21] manuelleduc opened #5977 "Maven: 1.4.12-java7 considered stable and sorted higher than 1.4.12"
### Which Renovate are you using?

WhiteSource Renovate App

### Which platform are you using?

GitHub.com

### What would you like to do?

I have a maven project which depends of `com.thoughtworks.xstream:xstream:1.4.11.1`.

Renovate opened a pull request for `com.thoughtworks.xstream:xstream:1.4.12-java7` but I would prefer to see an pull request with `com.thoughtworks.xstream:xstream:1.4.12` si

[2020-04-15 07:30] mountainash commented on #3019
Internally our GitLab-ci ran over night [using Docker Image renovate/renovate:19.208.2].

[code]

[2020-04-15 07:41] viceice commented on #3019
Can you please check the `DEBUG` logs, there should be a message

[2020-04-15 08:16] mountainash commented on #3019
[code]

I'm guessing the "Preset fetch error" has something to do with it, but it doesn't really expand much on the "why".
I just created a new GH token and still got the same error - so I don't think it's a permission issue.

[2020-04-15 08:20] viceice commented on #3019
can you please open a new issue with all infos and reference this issue

[2020-04-15 08:33] #5971 closed

[2020-04-15 08:36] RmStorm opened #5972 "Add kubernetes api updates to kubernetes manager"
**What would you like Renovate to be able to do?**
As described [here](https://kubernetes.io/blog/2019/07/18/api-deprecations-in-1-16/) the kubernetes api will continue to change over time. When this happens the kubernetes team publishes which api updates should be executed by everyone. Currently I use renovatebot to update the docker images in my kubernetes manifests. It would be very helpful if

[2020-04-15 08:42] renovate-release commented on #5971
:tada: This issue has been resolved in version 19.208.4 :tada:

The release is available on:
- [GitHub release](https://github.com/renovatebot/renovate/releases/tag/19.208.4)
- `19.208.4`

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-04-15 08:43] rarkins commented on #5972
I don't understand exactly what you need - an example/diff would help.

e.g. What logic can Renovate use to determine if an API is being deprecated? Do you mean you don't want Renovate to update the API version if it's updated but *not* being deprecated? If you just mean that Renovate should update the `apiVersion` field whenever it changes, then please clarify that.

We would also need to identif

[2020-04-15 09:15] mountainash commented on #3019
Still need another issue created? It looks like you already done all the hard work. Thanks.

[2020-04-15 09:19] viceice commented on #3019
no, i found the problem. Need to wait for merge. You can now reference your internal presets from gitlab. See samples below.

[code]

[2020-04-15 09:20] driver733 opened #5974 "Gradle wrapper update fails for gradle-wrapper v. 2.x"
**What Renovate type are you using?**

Self-hosted

**Describe the bug**
Renovate fails to update gradle wrapper that has version `2.x.`, because gradle `2.x` does not support `Java 11`.

**Did you see anything helpful in debug logs?**

`Could not determine java version from '11.0.5'.`

**To Reproduce**

1. Set up gradle wrapper `v. 2.x` and install Java 11
2. Run renovate

Expected:
`gradle-wrapp

[2020-04-15 09:22] mountainash commented on #3019
Yes thanks. That was the plan, so it was pretty good that it actually failed (as it reminds us to update all our repos to point from GH to internally). But I wanted to raise it as it could break many other setups for other users that which to continue referencing a public config.

[2020-04-15 09:37] viceice commented on #5974
You can easily build your own renovate image from our and set java8 as default

https://github.com/facebook/react-native/issues/22487#issuecomment-453822589

[code]

[2020-04-15 09:44] driver733 commented on #5974
@viceice Of course. I just thought that I could help to prevent this issue from happening to other Renovate users.

[2020-04-15 09:50] RmStorm commented on #5972
I think these depreciation cycles will happen maybe yearly for the next couple of years and everyone will need to update their kubernetes manifests. My suggestion is basically that a mapping is hardcoded into renovatebot that is updated when new depreciations are announced by kubernetes. So as an example I might have a DaemonSet defined somewhere in my repo. Currently only the image is checked and

[2020-04-15 11:37] jGleitz commented on #2893
@rarkins: any updates?

[2020-04-15 11:51] rarkins commented on #2893
Some questions:

- Would you perform these steps in order, and stop once you have reached the desired length? Or perform all of them if the original length is too long?
- Would the PR title remain the same, or you would truncate that too? Currently it's copied from the commitMessage in most cases

[2020-04-15 11:59] jGleitz commented on #2893
I would perform them in order and stop as soon as we reached the desired length.

I, personally, would not change the PR title but leave it in its long version. However, I have no strong opinion on this. Maybe it might be desirable to have a shorter PR title as well, or to have the title always match the commit message.

[2020-04-15 12:10] elharo opened #5978 "Document versionScheme in packageRules #2914"
#2914 added support for versionScheme in packageRules. However this is not mentioned in https://docs.renovatebot.com/configuration-options/#packagerules

[2020-04-15 12:10] manuelleduc commented on #5977
Thanks a lot @rarkins  & @zharinov !

Another more question. Let's say that in another maven module, I only want to receive PR for new versions that end with `/\d+\.\d+\.\d+-java7/`.
How could I define such constraint in my renovate.json file ?

PS: If you prefer I ask that question again in a new issue, let me know.

[2020-04-15 12:19] elharo commented on #5977
"1.4.12-java7" is not a misuse of Maven versioning. Maven makes no claim about what any part of any version number "means". It does not assume this means stability, compatibility, or anything else. It simply defines an algorithm for ordering version strings.

semver might define that but not every project follows semver.

[2020-04-15 12:36] rarkins commented on #5977
@elharo if you insist that Maven versioning is meaningless except for sorting then be sure not to expect that clients can somehow know that `1.4.11-java7` -> `1.4.12-java7` is a valid upgrade while `1.4.11-java7` -> `1.4.12` is not. You can't have it both ways. A very large majority of maven packages do numbering sensibly and small majority do not.

FYI semver has no compatibility concept so not r

[2020-04-15 12:49] rarkins commented on #5977
Back to the topic, Maven does define the sorting of certain qualifiers: https://github.com/apache/maven/blob/ec92934bf08f11e8541e897c0f466f1f03c73a78/maven-artifact/src/main/java/org/apache/maven/artifact/versioning/ComparableVersion.java#L44-L55

Copy/pasting with some cleanup:

----

Features:
<ul>
<li>mixing of '<code>-</code>' (hyphen) and '<code>.</code>' (dot) separators,</li>
<li>transition

[2020-04-15 12:54] rarkins commented on #5977
Assuming that the above is correct, it means that our default behavior currently is correct, and that this is not a bug to be fixed.

We then need to work on *features* to help users overcome this:
- For users who don't want suffixes like `-java7` then they probably would like an option to opt into non-suffixed versions only (i.e. to avoid being updated from `1.14.1.1` to `1.14.2`.
- If we support