[2021-10-16 07:12] HonkingGoose commented on #6011
I just checked the GitLab docs on merge trains so I'm on the same page as you. [^merge-train-example]

Wow! I'm really impressed with the smart behavior that GitLab managed to build! 🤯

Maybe GitHub is thinking of something similar, it's a bit hidden in this quote:

The bolded part sounds a bit similar to GitLabs merge train?

In any case, even if GitHub "only" builds a "brute-force" mechanism tha

[2021-10-16 09:00] strowi opened #12191 "docs: repology-datasource example not working"
### How are you running Renovate?

Self-hosted

### Please select which platform you are using if self-hosting.

gitlab.com

### If you're self-hosting Renovate, tell us what version of Renovate you run.

latest/3c42fc80c29c

### Describe the bug

repology documentation example seems to be missing some `"`.
renovate-config:
[code]
doesn't fit the Dockerfile syntax
[code]

and will skip the regex/r

[2021-10-16 09:05] HonkingGoose commented on #12191
I think you're talking this page? [^renovate-docs] If you want you can open a PR to change the source file. [^source]

[^renovate-docs]: https://docs.renovatebot.com/modules/datasource/#repology-datasource
[^source]: https://github.com/renovatebot/renovate/blob/main/lib/datasource/repology/readme.md

[2021-10-16 11:12] rarkins commented on #6011
Yes, that quote does sound like they're planning something similar

[2021-10-18 04:47] RahulGautamSingh commented on #12097
I have already worked on the specified file and function while fixing #12025 , I can update this function and close this issue with #12025.

[2021-10-18 09:51] HonkingGoose commented on #10476
If the config given above works, maybe we can add that config to the documentation in some appropriate place and then close this issue?

[2021-10-18 10:14] rarkins commented on #12156
@viceice can you elaborate? What do we set them to and does codespaces change it? Can we alternatively create our own tmp to use instead, Eg /usr/src/tmp ? (Note: lots of our docs may need to change..)

[2021-10-18 11:08] HonkingGoose commented on #11617
I think `@viceice` already said what the "recipe" is for the changes. So I'd say we're `status:ready` and can maybe assign `@olegkrivtsov` to this issue, as they volunteered to make the feature for us?

[2021-10-18 13:15] irrandon opened #12199 "Helmv3 OCI dependencys with aliases"
### What would you like Renovate to be able to do?

OCI registry lookup with the helmv3 manager should also work with aliases.

renovate.json:
[code]

Chart.yaml:
[code]

### If you have any ideas on how this should be implemented, please tell us here.

Remove/rewrite [this](https://github.com/renovatebot/renovate/blob/c43554b69343fb131209997c52cac518b3048fe0/lib/manager/helmv3/extract.ts#L60) if/

[2021-10-18 13:31] rebbuh opened #12200 "build.gradle: Patch version of spring-boot-gradle-plugin is not updated"
### How are you running Renovate?

Self-hosted

### Please select which platform you are using if self-hosting.

GitLab self-hosted

### If you're self-hosting Renovate, tell us what version of Renovate you run.

28.1.4

### Describe the bug

The patch version of `org.springframework.boot:spring-boot-gradle-plugin` is not updated, e.g. from 2.4.10 to the latest 2.4.11.
I've disabled major and mino

[2021-10-18 14:04] #12200 closed

[2021-10-18 14:50] rarkins commented on #11781
What we would need is this:

- Create a two new private repos: one to be the upstream and one the downstream
- Configure the downstream repo so that it works for you locally
- Install the bot into both repos (presumably it then reproduces the failure)
- Save the log of the bot's failure to update (app.renovatebot.com)
- Uninstall the bot from both repos
- Switch the repos to both be public

If the

[2021-10-18 15:38] rarkins commented on #11617
Could this may be be `renovate --diagnose`? So that it doesn't need to be a new installed binary and also can be used even when renovate is installed via npm.

[2021-10-18 15:49] HonkingGoose commented on #12013
Thank you for reducing it to a more minimal repository! ❤️

[2021-10-19 06:13] rarkins commented on #10476
Sure, it can be added as an example to https://github.com/renovatebot/renovate/blob/main/lib/manager/git-submodules/readme.md

[2021-10-19 09:52] DanySK opened #12212 "Update GitHub Actions reusable workflows"
### What would you like Renovate to be able to do?

It is now possible to write [reusable workflows in GitHub Actions]. This proposal is to support updates to referenced reusable workflows, just as it does for actions.

[code]

### If you have any ideas on how this should be implemented, please tell us here.

I have not checked the github actions manager code yet, but I guess it does extract a rep

[2021-10-19 09:55] DanySK commented on #12212
Actually, by [looking at the code](const actionRe =
  /^\s+-?\s+?uses: (?<replaceString>(?<depName>[\w-]+\/[\w-]+)(?<path>\/.*)?@(?<currentValue>.+?)(?: # renovate: tag=(?<tag>.+?))?)\s*?$/;), I *guess* this is supported already. We should maybe update the docs to document the support, then.

[2021-10-19 13:04] renovate-release commented on #11875
:tada: This issue has been resolved in version 28.1.7 :tada:

The release is available on:
- [GitHub release](https://github.com/renovatebot/renovate/releases/tag/28.1.7)
- `28.1.7`

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-10-19 13:20] XFNeo opened #12217 "Automerge on PRs on GitLab"
### How are you running Renovate?

Self-hosted

### Please select which platform you are using if self-hosting.

GitLab self-hosted

### If you're self-hosting Renovate, tell us what version of Renovate you run.

renovate/renovate:27

### Describe the bug

Renovatebot can't set "Automerge" on PRs on GitLab (GitLab Community Edition 13.3.5).

Config:
[code]

### Relevant debug logs

<details><summa

[2021-10-19 14:03] #12217 closed

[2021-10-19 16:15] drewboswell commented on #10524
I am having the same problem in the following configuration
* renovate: self-hosted
* github-enterprise: self-hosted

[2021-10-19 16:27] micah opened #12222 "lib/manager/regex/readme.md typo"
### How are you running Renovate?

Self-hosted

### Please select which platform you are using if self-hosting.

gitlab.com

### If you're self-hosting Renovate, tell us what version of Renovate you run.

28

### Describe the bug

On https://docs.renovatebot.com/modules/manager/regex/ which comes from `lib/manager/readme.md` in the Advanced Capture section, there is this regexp in the second code

[2021-10-19 17:09] HonkingGoose commented on #12222
Feel free to create a pull request to fix the typo! 😉

The file you'd need to edit is here: https://github.com/renovatebot/renovate/blob/main/lib/manager/regex/readme.md

[2021-10-19 21:09] nils-a opened #12226 "Cannot find preset's package: github>whitesource/merge-confidence:beta"
### How are you running Renovate?

WhiteSource Renovate hosted app on github.com

### Please select which platform you are using if self-hosting.

_No response_

### If you're self-hosting Renovate, tell us what version of Renovate you run.

_No response_

### Describe the bug

I had two issues opened by renovate recently, which I can not explain.
One is https://github.com/cake-contrib/Cake.ESLint

[2021-10-19 22:45] stephtr commented on #12226
I had the same issue, but it just got automatically closed by renovatebot.

[2021-10-20 02:50] JamieMagee commented on #12226
GitHub was returning 404s for that API call temporarily. We use [`got`](https://github.com/sindresorhus/got) and it's not configured to retry HTTP calls for 404s.

I think this was an external (to Renovate) issue and not something we can really fix. If this occurs again I can investigate more from the GitHub side, but for now I would close this issue as a transient error.

Do you agree with that @

[2021-10-20 02:55] JamieMagee commented on #10524
@drewboswell This issue is about the hosted Renovate app, not self-hosted. Could you please create a new issue?

[2021-10-20 03:22] rarkins commented on #12226
@JamieMagee any idea if "random 404s" is a known problem from GitHub? It's hitting me during initRepo too

[2021-10-20 04:53] rarkins commented on #10552
That's my recollection too. I prefer to close this issue because I think it's solving the wrong problem. Instead the problem to solve is that metadata should be fetched from the tag which is used, and not "latest".

[2021-10-20 07:41] drewboswell opened #12228 "Allow datasource choice for argocd manager (git, github, gitlab)"
### What would you like Renovate to be able to do?

Currently the argocd manager uses git-refs as a datasource, and is hardcoded.

I would like to see the ability to use git-refs, github-tags or gitlab-tags.

Benefits: reuse of credentials, hostRules already in place in case of github or gitlab use.

### If you have any ideas on how this should be implemented, please tell us here.

hardcoded githu

[2021-10-20 08:28] rarkins opened #12229 "Add GOPROXY caching"
### What would you like Renovate to be able to do?

Cache results from GOPROXY lookups to reduce number of API requests.

### If you have any ideas on how this should be implemented, please tell us here.

Example (abbreviated) logs when running against https://github.com/renovate-tests/go-storage:

[code]

That value of 668 happens every run - i.e. no caching appears to be done.

### Is this a fea

[2021-10-20 09:01] nils-a commented on #12226
@JamieMagee agreed. Both issues were closed automatically with the next run.

Perhaps the text of the issue could be adapted to provide a link to the dashboard (`https://app.renovatebot.com/dashboard`) like it's done on the PRs. (Most likely the logs should be analysed anyways.) And maybe also add some text to ensure the use that this issue will be auto-closed when the problem is fixed.

[2021-10-20 11:16] #11060 closed

[2021-10-20 14:02] deiga opened #12231 "Renovate fails to run on projects that use Ruby 3.0"
### How are you running Renovate?

WhiteSource Renovate hosted app on github.com

### Please select which platform you are using if self-hosting.

_No response_

### If you're self-hosting Renovate, tell us what version of Renovate you run.

_No response_

### Describe the bug

I have a repository that uses Ruby 3.0 and Renovate fails to update the Gemfile.lock because it's trying to use ruby 2.7

[2021-10-20 15:39] rarkins commented on #12231
More importantly, is there any indication in this repo we missed where we should know what the version used is? Eg inside Gemfile.lock or a rubyenv file

[2021-10-20 15:43] viceice commented on #12231
[`Gemfile`](https://github.com/deiga/dorcadiini/blob/e5fdf5d88690a5ead67e5aa6f5747c4a4310a765/Gemfile#L9)

[2021-10-20 17:10] mirland opened #12238 "Failed to look up dependency defaults:integer"
### How are you running Renovate?

WhiteSource Renovate hosted app on github.com

### Please select which platform you are using if self-hosting.

github.com

### If you're self-hosting Renovate, tell us what version of Renovate you run.

_No response_

### Describe the bug

Renovate stopped to work some time ago and I've not changed anything, so I think some change in your side broke something.

[2021-10-20 17:41] mirland commented on #12238
A minor comment is that the app module depends on a git submodule. Maybe the submodule it's not cloned in the right way and it's related to that. I'm not sure, but it's something to keep in mind

[2021-10-20 23:07] Xuanwo commented on #11778
@rarkins , it LGTM now!

[2021-10-21 02:20] olegkrivtsov commented on #8141
My plan for implementing this:

1. Install `expect-more-jest` npm package: `npm install expect-more-jest --save-dev`
2. Read the docs of `expect-more-jest` and find out which expects it introduces.
3. Look through existing unit tests for vague `expect` statements, e.g. `expect(paws.length % 2 === 0).toEqual(true)` and replace them with more readable expects: `expect(paws.length).toBeEvenNumber()`.

[2021-10-21 05:54] viceice commented on #8141
Use `yarn add -D ...` to install 😉

[2021-10-21 06:31] #12229 closed

[2021-10-21 07:45] rarkins commented on #7361
I think `getAll` followed by your own filter is ok

[2021-10-21 07:55] renovate-release commented on #11848
:tada: This issue has been resolved in version 28.8.0 :tada:

The release is available on:
- [GitHub release](https://github.com/renovatebot/renovate/releases/tag/28.8.0)
- `28.8.0`

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-10-21 08:53] rarkins opened #12247 "Error: fatal: No such ref: refs/remotes/origin/HEAD"
### How are you running Renovate?

WhiteSource Renovate hosted app on github.com

### Please select which platform you are using if self-hosting.

_No response_

### If you're self-hosting Renovate, tell us what version of Renovate you run.

_No response_

### Describe the bug

When attempting to determine the default branch, this line fatally errors: https://github.com/renovatebot/renovate/blob/8

[2021-10-21 10:57] morremeyer opened #12251 "Enable upgrading of terraform_version for terraform cloud workspaces"
### What would you like Renovate to be able to do?

Terraform Cloud has a [terraform module](https://registry.terraform.io/providers/hashicorp/tfe/latest/docs/resources/workspace#terraform_version) with a `terraform_version` setting that allows to set the terraform version used.

This is currently not detected by renovate and solved by us using a regexManager configuration:

[code]

Where the terr

[2021-10-21 11:14] #12247 closed

[2021-10-21 12:05] cascornelissen opened #12255 "Cloning of repositories fails with ___ since 27.0"
### How are you running Renovate?

Self-hosted

### Please select which platform you are using if self-hosting.

Bitbucket Server

### If you're self-hosting Renovate, tell us what version of Renovate you run.

28.6.0, based on renovate/renovate:slim

### Describe the bug

We're using the [`renovate/renovate` Docker image](https://github.com/renovatebot/docker-renovate) and are seeing problems sin

[2021-10-21 12:16] olegkrivtsov commented on #9783
Hi @rarkins oh sorry, the correct error code would be `REPOSITORY_NO_PACKAGE_FILES`.

[2021-10-21 12:49] rarkins commented on #12255
Probably a duplicate of #11759

[2021-10-21 17:16] DanySK opened #12260 "Renovate's GH Actions updates propose to delete YAML inline comments"
### How are you running Renovate?

WhiteSource Renovate hosted app on github.com

### Please select which platform you are using if self-hosting.

_No response_

### If you're self-hosting Renovate, tell us what version of Renovate you run.

_No response_

### Describe the bug

I think this diff provides a good idea of the bug:

https://github.com/DanySK/Tutorial-GitHub-Actions-Minimal/pull/4/file

[2021-10-22 02:25] aarongoldenthal opened #12263 "Error updating v1 package-lock.json with renovate/node17"
### How are you running Renovate?

Self-hosted

### Please select which platform you are using if self-hosting.

gitlab.com

### If you're self-hosting Renovate, tell us what version of Renovate you run.

renovate-dind template at https://gitlab.com/renovate-bot/renovate-runner

### Describe the bug

Renovate fails launching container to update v1 `package-lock.json` with `renovate/node17.0.1` ima

[2021-10-22 02:28] olegkrivtsov commented on #8005
Hi @viceice @rarkins thank you for this info. I was able to determine what is `jest-debug` - it is a script in `package.json` and it can be executed as `yarn jest-debug`. The script currently looks like:

https://github.com/renovatebot/renovate/blob/21e204896aa7d4a7128399e93a337588a542e72b/package.json#L24

My revised plan for implementing this:

1. Modify `package.json`, so the `jest-debug` run s

[2021-10-22 03:18] aarongoldenthal commented on #12263
I tried upgrading the package-lock to v2, and the job completes and creates branches/MRs, but only with `package.json` changes, no `package-lock.json` changes. And the error now shows up even in the job log.

<details><summary>Job Log</summary>

[code]

</details>

<details><summary>Debug Log</summary>

[code]

</details>

[2021-10-22 04:51] viceice commented on #8005
https://github.com/renovatebot/renovate/blob/21e204896aa7d4a7128399e93a337588a542e72b/.vscode/launch.json#L49

Simply add this to the jest debug command. 😉

[2021-10-22 11:57] rarkins opened #12269 "Refactor status checks logic into worker layer"
### Describe the proposed change(s).

We should see if it's feasible for our platform implementations to have less (common/non-DRY) logic regarding branch statuses and instead pass them through to the worker layer as transparently as possible. This will help e.g. for #7800.

We should also consider #359, e.g. to allow automerging despite optional status check failure.

[2021-10-22 13:52] christopherfrieler opened #12270 "URLs to look up Pypi dependencies are not normalized"
### How are you running Renovate?

Self-hosted

### Please select which platform you are using if self-hosting.

GitLab self-hosted

### If you're self-hosting Renovate, tell us what version of Renovate you run.

27.19.3

### Describe the bug

renovate is not normalizing Python package names corectly. From [PEP 503](https://www.python.org/dev/peps/pep-0503/):

renovate does not normalize the URLs,

[2021-10-22 16:29] sclorng opened #12279 "Support intermediate captured groups in recursive strategy"
### What would you like Renovate to be able to do?

I have a file with multiple group sections like

[code]

I would like to be able to first match a group content  and capture baseRepository, and then capture each component.
so that I can write a depNameTemplate as  `{{baseRepository}}/{{repository}}`
with something like :

[code]

It should give out dependencies: `foo/banana` and `bar/apple`

##

[2021-10-23 18:13] HonkingGoose opened #12290 "Renovate GitHub-native automerge debug message when `merge` method is not allowed"
### How are you running Renovate?

WhiteSource Renovate hosted app on github.com

### Please select which platform you are using if self-hosting.

_No response_

### If you're self-hosting Renovate, tell us what version of Renovate you run.

28.8.3

### Describe the bug

## Intro

I'm trying out the new automerge on my `honkinggoose/gitgosling` repo, with Renovate version `28.8.3`.

## Steps to re

[2021-10-24 01:50] #11981 closed

[2021-10-24 22:16] scrocquesel opened #12300 "Add a regex recursive strategy narrowing content at each recursion"
### What would you like Renovate to be able to do?

Recursive should allow to narrow the content at each step. Instead of applying the next regex on the complete match of the previous one, it should be possible to capture an inner content to work on.

This would allow this use case:

[code]

on

[code]

to return depName :

[code]

instead of

[code]

It may exists a way to capture `second` with a

[2021-10-25 08:04] dsimon-onventis opened #12303 "Error getBranchNameWithoutRefsheadsPrefix(undefined) during PR creation"
### How are you running Renovate?

Self-hosted

### Please select which platform you are using if self-hosting.

Azure DevOps Server

### If you're self-hosting Renovate, tell us what version of Renovate you run.

28.8.5

### Describe the bug

Occasionally, renovate throws the following error, while creating a Pull Request:

In this case, the Pull Request is actually created, but it seems like Ren

[2021-10-27 15:46] esetnik opened #12362 "Automerge Blocked"
### How are you running Renovate?

WhiteSource Renovate hosted app on github.com

### Please select which platform you are using if self-hosting.

_No response_

### If you're self-hosting Renovate, tell us what version of Renovate you run.

_No response_

### Describe the bug

Automerge appears to have stopped working since https://github.com/renovatebot/renovate/issues/12202

### Relevant debug

[2021-10-28 01:10] danewilson opened #12363 "Auto-merge using GitHub native auto-merge doesn't work in some scenarios"
### How are you running Renovate?

WhiteSource Renovate hosted app on github.com

### Please select which platform you are using if self-hosting.

_No response_

### If you're self-hosting Renovate, tell us what version of Renovate you run.

_No response_

### Describe the bug

Auto-merge no longer works in our repos since [Renovate switched to using GitHub native auto-merge](https://github.com/re

[2021-10-28 08:04] ankitabhopatkar13 opened #12371 "`gitLabIgnoreApprovals` to work on MR's created when `automergeType=branch`"
### What would you like Renovate to be able to do?

There is an option to ignore approvals for Gitlab as mentioned https://docs.renovatebot.com/configuration-options/#gitlabignoreapprovals

But that also explicitly says that the option only works when the settings below are enabled, but in our case -

`automerge=true` - is enabled
`automergeType=pr` - we set this to `branch` to avoid noise
`platfo

[2021-10-29 09:54] carstendietrich opened #12394 "Go modules: custom import path, `<meta name="go-import" content="">` not handled correctly"
### How are you running Renovate?

Self-hosted

### Please select which platform you are using if self-hosting.

gitlab.com

### If you're self-hosting Renovate, tell us what version of Renovate you run.

_No response_

### Describe the bug

It is common to distribute your Go modules via a custom domain. For example go.uber.org/zap. According to the Go specifications, the correct repository URL ca

[2021-10-29 12:20] huisam opened #12397 "Renovate doesn't scans the latest version based on gradle multi module project using gradle.kts"
### How are you running Renovate?

Self-hosted

### Please select which platform you are using if self-hosting.

github.com

### If you're self-hosting Renovate, tell us what version of Renovate you run.

latest(docker)

### Describe the bug

## Expected

`buildSrc/src/main/kotlin/Dependencies.kt`

`buildSrc/src/main/kotlin/Plugins.kt`

must be detected by renovate version check dependecy

## Happ

[2021-10-29 18:41] tennox commented on #9958
Note that this is also relevant for Dockerfiles:
[code]

[see gitlab docs](https://docs.gitlab.com/ee/user/packages/dependency_proxy/#store-a-docker-image-in-dependency-proxy-cache) + I use it like this in my pipelines

[2021-10-29 19:14] ylemkimon commented on #12290
This would be fixed by #12393 and #12398.

[2021-10-29 21:39] scrocquesel commented on #12300
I'm wondering if this could lead to unwanted replacement.
The captured replace string is the final match only and we will have no clue of the path it takes.

If we take this exemple:
[code]

We will be able to extract

[code]

But during replacement, if backup/test/python:3.90 has a new version, I guess, renovate will replace both occurence of the capture replace string.

[code]

which can then le

[2021-10-30 06:31] rarkins commented on #5933
So user/channel is optional, and it's essentially a namespace? If so then could it be part of lookupName? If so, would that work.. would we need to invent our own syntax or is there a way of putting it in a single string already?

[2021-10-30 07:38] rarkins opened #12408 "Use GitHub: hasIssuesEnabled"
### What would you like Renovate to be able to do?

Detect disabled issues during initRepo

### If you have any ideas on how this should be implemented, please tell us here.

Detect disabled issues during initRepo

### Is this a feature you are interested in implementing yourself?

Yes

[2021-10-30 08:33] rarkins commented on #12363
Pending closure unless confirmed not fixed

[2021-10-30 08:35] #12290 closed

[2021-10-30 11:21] RahulGautamSingh commented on #12062
@rarkins
[code]
===
[code]
Are these changes enough?

[2021-10-30 14:07] jgarec opened #12411 "json parsing error with repository cache enabled, command line arguments provided and renovate.json5"
### How are you running Renovate?

Self-hosted

### Please select which platform you are using if self-hosting.

gitlab.com

### If you're self-hosting Renovate, tell us what version of Renovate you run.

28.17.0 (latest)

### Describe the bug

Hi,

Here is the context :
* renovate.json5 config file (with a comment)
* repository-cache enabled
* some other arguments provided on the command line

My

[2021-10-30 14:11] jgarec commented on #12411
Should i fix it with :
[code]
like here : https://github.com/renovatebot/renovate/blob/346924c19ae21eddf99432db303f23b156a7f148/lib/config-validator.ts#L59-L63

?

[2021-10-31 01:10] danewilson commented on #12363
I recreated a Renovate PR and it seemed to detect the correct auto-merge type without any changes on our end, so I think this can be closed. Thanks for the quick turnaround.
![image](https://user-images.githubusercontent.com/2070695/139562645-4e2c7fa6-ffca-403a-89e3-b11243287cb6.png)

[2021-10-31 01:10] #12363 closed

[2021-10-31 05:17] #12411 closed

[2021-10-31 05:18] rarkins commented on #12062
Is the only reason we do lower casing for semantic commits?

[2021-10-31 05:31] renovate-release commented on #12411
:tada: This issue has been resolved in version 28.17.1 :tada:

The release is available on:
- [GitHub release](https://github.com/renovatebot/renovate/releases/tag/28.17.1)
- `28.17.1`

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-10-31 06:02] RahulGautamSingh commented on #12062
It seems so. To get more details we will have test it by opening a PR and then the check details in CodeCov site.
I am not familiar with coverage so I cannot be sure.

[2021-10-31 06:14] RahulGautamSingh commented on #12070
@rarkins The node-re2 docs suggests the following for lookbacks & backreferences

_The most noteworthy missing features are backreferences and lookahead assertions. If your application uses these features, you should continue to use RegExp. But since these features are fundamentally vulnerable to ReDoS, you should strongly consider replacing them._
[node-re2 docs](https://github.com/uhop/node-re2/

[2021-10-31 06:15] rarkins commented on #12062
It looks like `upgrade.toLowerCase` is only set due to semantic commits. So we should rename it to be e.g. `upgrade.semanticCommitCasing` and afterwards do a more intelligent lower-casing (of only the first letter, not all)

[2021-10-31 06:16] #12408 closed

[2021-10-31 06:16] rarkins commented on #12070
We should aim to replace them

[2021-10-31 06:28] renovate-release commented on #12408
:tada: This issue has been resolved in version 28.17.2 :tada:

The release is available on:
- [GitHub release](https://github.com/renovatebot/renovate/releases/tag/28.17.2)
- `28.17.2`

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-10-31 06:45] #12279 closed

[2021-10-31 06:57] renovate-release commented on #12279
:tada: This issue has been resolved in version 28.18.0 :tada:

The release is available on:
- [GitHub release](https://github.com/renovatebot/renovate/releases/tag/28.18.0)
- `28.18.0`

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-10-31 07:06] #7361 closed

[2021-10-31 07:20] renovate-release commented on #7361
:tada: This issue has been resolved in version 28.19.0 :tada:

The release is available on:
- [GitHub release](https://github.com/renovatebot/renovate/releases/tag/28.19.0)
- `28.19.0`

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-10-31 07:22] #4635 closed

[2021-10-31 07:42] renovate-release commented on #4635
:tada: This issue has been resolved in version 28.20.0 :tada:

The release is available on:
- [GitHub release](https://github.com/renovatebot/renovate/releases/tag/28.20.0)
- `28.20.0`

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-10-31 16:59] esetnik commented on #12362
![image](https://user-images.githubusercontent.com/664434/139594161-3dc8488f-430d-4c13-a8b1-0d78069e0025.png)

[2021-10-31 17:10] rarkins commented on #12362
That screenshot shows that *you* aren't blocked, but it doesn't test whether `renovate[bot]` is blocked. Can you take a screenshot of your branch protection rules for `develop`?

[2021-10-31 17:23] mhetzel commented on #5933
Correct super optional and basically a namespace.  I can mess around with appending it to the lookupName, that shouldn't be hard at all.  It will look weird since the format for conan is: name/version@user/channel.  I could also let it be part of the version string and let it get filtered out via isCompatible

[2021-11-01 00:09] scrocquesel opened #12414 "Add labels on dependency dashboard issue depending on its content"
### What would you like Renovate to be able to do?

When having a lot of project, it can be painful to open each dependency dashboard issue to know if manual action are required.

I was first thinking of having a label for when there is a repo problem or pending approval, but maybe other sections can have there own label.

This issue can try to list which labels can be helpfull and how to name the

[2021-11-01 06:20] rarkins commented on #5933
Does lookupName include `the /version` part though?

[2021-11-01 09:26] astellingwerf opened #12417 "Fix for #10464 added arbitrary constraints"
### How are you running Renovate?

Self-hosted

### Please select which platform you are using if self-hosting.

GitLab self-hosted

### If you're self-hosting Renovate, tell us what version of Renovate you run.

28.20.0

### Describe the bug

With the commit 10ca7b3 for #10464, the addition of filtering of tags puts arbitrary constraints on what's considered the latest tag, while (as [product doc

[2021-11-01 10:30] astellingwerf commented on #12414
I like the idea! I do see a slight potential issue/confusion with `prPendingBranchAutomerge`, when relying on the platform handling the automerging.

Would it make sense to have a package rule to decide on the label on the dashboard? I can imagine scenarios where different package results would be reason for different labels to be added to the dashboard.

[2021-11-01 10:36] JustArchi opened #12420 "Renovate removes additional variables from version when bumping Docker image versions"
### How are you running Renovate?

WhiteSource Renovate hosted app on github.com

### Please select which platform you are using if self-hosting.

_No response_

### If you're self-hosting Renovate, tell us what version of Renovate you run.

_No response_

### Describe the bug

Please check out https://github.com/JustArchiNET/ArchiSteamFarm/pull/2440 for reproduction example.

I have a `FROM` Dock

[2021-11-01 10:46] rarkins commented on #12420
@olegkrivtsov can you try to reproduce and fix?

[2021-11-01 11:37] #11368 closed

[2021-11-01 11:41] RahulGautamSingh commented on #12062
New code:-
[code]

[code]

[2021-11-01 11:50] renovate-release commented on #11368
:tada: This issue has been resolved in version 28.21.0 :tada:

The release is available on:
- [GitHub release](https://github.com/renovatebot/renovate/releases/tag/28.21.0)
- `28.21.0`

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-11-01 12:26] HonkingGoose commented on #4911
I think we can close this issue then?

Quote for the new feature from our docs: [^docs]

[^docs]: https://docs.renovatebot.com/configuration-options/#dependencydashboardlabels

[2021-11-01 12:31] huisam commented on #12397
Maybe it will be awesome that able to specify some files on the version detecting

[2021-11-01 13:20] fsramalho commented on #12003
I don't know if it helps, I had a run of Renovate App working for a private PyPI working on the 17th Sep 21.

As expected, Renovate App created a PR in the internal repo of the organisation where I work and updated the `pyproject.toml` and `poetry.lock` with the new version for a private dependency release. Then it started to fail again few days after (cannot be precise when once I can't go back t

[2021-11-01 13:40] #4911 closed

[2021-11-01 13:49] jochenberger opened #12424 "Update PMD tool version"
### What would you like Renovate to be able to do?

For Gradle builds with the PMD plugin applied, you can specify the PMD version that is to be used. Renovate does not pick that up and does not create PRs to update it.

This is how it looks in the build file.
[code]

See also https://docs.gradle.org/current/dsl/org.gradle.api.plugins.quality.PmdExtension.html#org.gradle.api.plugins.quality.PmdExt

[2021-11-01 14:10] rarkins commented on #5933
When you define both, depName is kind of the "human readable name" while lookupName is the actual string passed to the datasource for lookup

[2021-11-01 14:15] universam1 opened #12426 "ignores patch updates if major/minor are disabled"
### How are you running Renovate?

Self-hosted

### Please select which platform you are using if self-hosting.

GitLab self-hosted

### If you're self-hosting Renovate, tell us what version of Renovate you run.

28.20.2

### Describe the bug

For ClusterAutoscaler, only patch updates are permitted since this donates the K8s compatibility.
However, Renovate is only interested in the major updates

[2021-11-01 14:18] #12426 closed

[2021-11-01 17:08] esetnik commented on #12362
It seems that renovate was no longer able to merge due to branch protection rules. I'm not sure why it got removed but this issue was fixed by adding the renovate bot back to the list of who can push to the branch under branch protection rules.

![image](https://user-images.githubusercontent.com/664434/139711344-13a2242a-0ac7-478b-a71b-f3a3283b2a48.png)

[2021-11-01 17:08] #12362 closed

[2021-11-01 19:07] jab commented on #6955
Looks like this issue affects the `pip-compile` manager as well, not just `pip-requirements` (hi from https://github.com/renovatebot/renovate/discussions/12432 :). Does that perhaps bump priority on getting a fix rolled out?

[2021-11-01 19:09] rarkins commented on #6955
PRs welcome

[2021-11-01 21:01] guidojw opened #12437 "Not getting nvm major updates"
### How are you running Renovate?

WhiteSource Renovate hosted app on github.com

### Please select which platform you are using if self-hosting.

_No response_

### If you're self-hosting Renovate, tell us what version of Renovate you run.

_No response_

### Describe the bug

I'm not getting nvm major updates in my project, minor updates do work and are getting grouped correctly.

Minimal reprod

[2021-11-01 21:12] #12437 closed

[2021-11-01 21:34] kramvan1 opened #12439 "GitHub Enterprise v2 does not support hasIssuesEnabled GraphQL field"
### How are you running Renovate?

Self-hosted

### Please select which platform you are using if self-hosting.

GitHub Enterprise Server

### If you're self-hosting Renovate, tell us what version of Renovate you run.

v28.17.0

### Describe the bug

v28.16.0 worked fine.

v28.17.0 breaks our Github Enterprise bot

This appears to be a small change for detecting issues enabled for a repo, but some

[2021-11-01 21:38] kramvan1 commented on #12439
@rarkins Hi, disabled issues PR seems to have broken the Github Enterprise support.

[2021-11-01 21:39] rarkins commented on #12439
Which version of GHE are you running?

[2021-11-01 22:08] kramvan1 commented on #12439
I believe the version is `Github Enterprise Server 2.22.22`

[2021-11-02 05:15] rarkins commented on #12439
This feature wasn't knowing/intentionally breaking, but I see that GitHub Enterprise 2.22.x is now EOL:

![image](https://user-images.githubusercontent.com/6311784/139790294-a620c63a-7d37-4838-aa38-5ff7f01d0109.png)

If GitHub aren't going to make any patch updates even for critical security issues, isn't that a huge risk for you?

[2021-11-02 08:11] malmor commented on #11809
Hey, we are facing this issue aswell.

Versions:
- Renovate: 28.21.2 (latest) self-hosted
- Platform: GitLab self-hosted

Same use-case: we are removing a `v` using extractVersion, which results in the github-releases datasource calling `https://api.github.com/repos/prometheus/node_exporter/releases/tags/1.1.2` instead of `https://api.github.com/repos/prometheus/node_exporter/releases/tags/v1.1.2`

[2021-11-02 08:34] viceice commented on #11809
I don't think this is easily fixable.

@rarkins Maybe we need to return an `originalVersion` value from datasource after extraction and pass through, so getDigest can use that value?

[2021-11-02 08:38] rarkins commented on #11809
Maybe. I think it will need someone with this problem determined to fix it

[2021-11-02 08:58] olegkrivtsov commented on #12420
Hi @rarkins I've addressed this issue in https://github.com/renovatebot/renovate/pull/12447

[2021-11-02 09:01] rarkins opened #12448 "New feature: automergeQueueLength"
### What would you like Renovate to be able to do?

Optionally limit the amount of pending automerge branches/PRs. The goal is to limit concurrently open automerging PRs because it creates a lot of rebasing each time one is merged.

### If you have any ideas on how this should be implemented, please tell us here.

New option `automergeQueueLength`, defaulting to `0` (disabled).

If set to a non-ze

[2021-11-02 09:28] #12420 closed

[2021-11-02 09:42] renovate-release commented on #12420
:tada: This issue has been resolved in version 28.21.5 :tada:

The release is available on:
- [GitHub release](https://github.com/renovatebot/renovate/releases/tag/28.21.5)
- `28.21.5`

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-11-02 10:12] picnic-sven opened #12449 "Renovate PR Title, CommitMessage and Branchname bug when using `{{ ` and `}}`."
### How are you running Renovate?

Self-hosted

### Please select which platform you are using if self-hosting.

github.com

### If you're self-hosting Renovate, tell us what version of Renovate you run.

27.18.1

### Describe the bug

# Renovate PR Title, CommitMessage and Branchname bug when using ``{{ and }}``.

Given a repository with the structure:
[code]

and upgrading packages using the `Pi

[2021-11-02 10:15] MartinodF opened #12450 "Handle preview qualifiers in Maven versioning"
### What would you like Renovate to be able to do?

Renovate offered us an update for [com.nimbusds:nimbus-jose-jwt](https://search.maven.org/search?q=g:com.nimbusds%20AND%20a:nimbus-jose-jwt&core=gav) version 9.16-preview.1, considering it stable.

While this is technically correct, as `preview` is not a special qualifier according to the Maven versioning spec and thus should be treated as stable

[2021-11-02 10:22] KnisterPeter opened #12451 "Unnoticed breaking change: Field 'autoMergeAllowed' doesn't exist on type 'Repository'"
### How are you running Renovate?

Self-hosted

### Please select which platform you are using if self-hosting.

GitHub Enterprise Server

### If you're self-hosting Renovate, tell us what version of Renovate you run.

28.15.2

### Describe the bug

Since some versions (minor/patch updates) renovate complains with these error output:

[code]

### Relevant debug logs

<details><summary>Logs</summar

[2021-11-02 10:29] KnisterPeter commented on #12451
This is most likely caused by https://github.com/renovatebot/renovate/pull/12398
The field `autoMergeAllowed` is not supported to at least GitHub Enterprise Server 3.0.16.

[2021-11-02 10:29] viceice commented on #12451
With version of GitHub Enterprise are you using? Looks like v2 which is EOL, so no longer supported by renovate.

Seems to be related to #12439.

[2021-11-02 10:34] viceice commented on #12451
V3.0 seems to get EOL soon too at `2022-02-16`

https://docs.github.com/en/enterprise-server@3.0/admin/release-notes

[2021-11-02 10:37] viceice commented on #12451
I think you should update to 3.0.18 as fast as possible because of known security issues.

[2021-11-02 10:42] KnisterPeter commented on #12451
We are using GitHub Enterprise Server 3.0.16 which is still supported but will be dropped as you stated.

[2021-11-02 10:48] rarkins commented on #12451
@KnisterPeter are you running it using a github app token or a PAT?

[2021-11-02 10:49] KnisterPeter commented on #12451
We are using both, the app token in our production setup a PAT for your integration tests.

[2021-11-02 10:49] rarkins commented on #12451
Are you able to tell if both fail? (trying to work out if it's app-specific)

[2021-11-02 10:51] KnisterPeter commented on #12451
According to the docs of github, the field `autoMergeAllowed` does not exist in the GraphQL schema.
https://docs.github.com/en/enterprise-server@3.0/graphql/reference/objects#repository

It's quite are to get an app token and test it, but I can do so if you think that it could really make a difference.

[2021-11-02 10:55] rarkins commented on #12451
https://docs.github.com/en/github-ae@latest/graphql/overview/changelog#schema-changes-for-2021-08-03

Looks like we're going to need to go back to detecting the GHE version and changing our behavior based on that.

We probably need to do it during `initPlatform()`

[2021-11-02 11:12] jochenberger commented on #12424
https://github.com/jochenberger/renovate-issue-12424

[2021-11-02 11:22] rarkins commented on #12451
A `HEAD` to the URL should return header `X-GitHub-Enterprise-Version` with value e.g. `3.0.1`

[2021-11-02 11:30] rarkins commented on #12424
Which package (e.g. on Maven Central) does this map to?

[2021-11-02 11:48] MartinodF commented on #8239
We (Klarna, ~1600 engineers) are in the same situation: our Bitbucket server has force push disabled globally for compliance and auditing purposes, and that's not really something we can change. We're testing out renovate on a small subset of repositories, but this issue prevents us from doing a wider rollout.

We tried deleting all renovate branches and open PRs (thus also avoiding having to set

[2021-11-02 13:17] #12371 closed

[2021-11-02 13:27] rarkins commented on #8239
I'm open to reconsidering it (that's why we kept the issue open), but it's going to require quite a bit of planning/research to think about a viable approach. It is definitely not simple. If you or any of your colleagues can dedicate some time to helping us scope out the work and and how the new git logic would work, then we can maybe work out a viable solution. Let me know.

Currently when rebasi

[2021-11-02 13:32] rarkins commented on #12449
Renovate compiles using handlebars. Have you experimented with any of its escaping techniques? when I googled I saw some recommendations for "Whitespace control": https://handlebarsjs.com/guide/expressions.html#whitespace-control

[2021-11-02 13:59] rarkins commented on #12450
Yes, I think that's OK

[2021-11-02 14:01] kramvan1 commented on #12439
Looks like we are moving to GHE 3.x in a couple weeks, so no need to revert for us.
Maybe need to make this clear in the docs, what GHE api version you support.
And also consider putting in a simple GHE version check to help avoid this completely.

[2021-11-02 14:10] rarkins commented on #12451
@zharinov have you found anything which confirms that `autoMergeAllowed` is supported in *any* GHE versions?

[2021-11-02 14:26] jochenberger commented on #12424
Seems to be https://search.maven.org/artifact/net.sourceforge.pmd/pmd-java

[2021-11-02 14:36] MartinodF commented on #8239
Hi @rarkins, thank you for getting back to me so quickly!
Yes, I'm more than willing to dedicate as much time as needed to find a solution to this issue 😃

I guess revert + merge + new commit should work in theory, though I'm slightly afraid there's some edge case we're not considering. Is it always a single commit to revert, or could it be multiple?

Just out of curiosity, why did you exclude the

[2021-11-02 14:51] languitar opened #12459 "Current docker image ships a broken poetry installation"
### How are you running Renovate?

Self-hosted

### Please select which platform you are using if self-hosting.

_No response_

### If you're self-hosting Renovate, tell us what version of Renovate you run.

v28.20.0

### Describe the bug

Recent Docker images contain a version of CacheControl inside the venv containing poetry that renders poetry unusable in some cases. The respective upstream bug

[2021-11-02 14:54] rarkins commented on #12459
Thanks for the heads-up, although it's not something we can fix here so I will close this issue.

The full image is built here: https://github.com/renovatebot/docker-renovate-full

And that is built using scripts from https://github.com/containerbase/buildpack

As I'm not familiar with CacheControl so not sure where would be best to raise a fix. If you can work it out, can you raise an issue in th

[2021-11-02 14:54] #12459 closed

[2021-11-02 14:56] languitar commented on #12459
Sorry, I didn't know about that repository. Can you transfer this issue to the correct repository. I can try to come up with a fix then.

[2021-11-02 15:03] rarkins commented on #8239
I thought that deleting and starting over would be *very* noisy and unacceptable to most teams. But it could be feasible technically if you think the noise would not a problem for you?

[2021-11-02 15:08] evg-tso opened #12460 "Renovate creates multiple PRs for common versions"
### How are you running Renovate?

WhiteSource Renovate hosted app on github.com

### Please select which platform you are using if self-hosting.

_No response_

### If you're self-hosting Renovate, tell us what version of Renovate you run.

_No response_

### Describe the bug

When using variables for common version names, a single change in the common variable will trigger the creation of multip

[2021-11-02 15:09] viceice commented on #8239
I still think your compliance settings are strange.
You are not allowed to force push a branch, but you can delete and recreate it, which is effectively the same as a `force-push`.

I think the revert commit would be best solution, as renovate will currently always only create one commit per branch.

@rarkins this should definetly be disabled by default and only be configurable globally.

[2021-11-02 15:11] renovate-release commented on #12371
:tada: This issue has been resolved in version 28.21.7 :tada:

The release is available on:
- [GitHub release](https://github.com/renovatebot/renovate/releases/tag/28.21.7)
- `28.21.7`

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-11-02 15:20] MartinodF commented on #8239
Yes, I agree the settings are strange and I'm not advocating for them. I would guess there must be some difference in the audit trail which makes it easier to accept deleting the entire branch rather than rewriting it, but I'm not really the right person to answer that question 🤷

The revert commit strategy might also be more useful in general since it's not really platform-specific, though I'm no

[2021-11-02 16:05] viceice commented on #12460
i think you need to group the deps.

@zharinov Is there any auto grouping like in maven for leiningen?

[2021-11-02 16:09] gustavkj commented on #12451
FYI, I did also run into this problem today after bumping `renovate` and we're using Github Enterprise 3.2.2.

[2021-11-02 16:12] zharinov commented on #12460
It should group it, but for some reason, it doesn't  🤔

[2021-11-02 16:13] viceice commented on #12451
@zharinov it seems we need to check for `3.2.x` too 🤔

[2021-11-02 16:13] evg-tso commented on #12460
Would you like me to paste the full log from the runner?

[2021-11-02 16:15] zharinov commented on #12460
Thank you for reproduction repo, I think it would be enough

[2021-11-02 16:22] zharinov commented on #12451
Okay, so I've just excluded `3.2.x` branch completely. This one seems really strange to me.

[2021-11-02 16:23] latipun7 commented on #4436
My issue is kind of similar, but for repo with [`prettier`](https://prettier.io/) and configure the Github Actions to check the formatting on every pull request.

## Step to Reproduce
1. Create repository with the `prettier` with [prettier config files](https://prettier.io/docs/en/configuration.html) or without the config files (default prettier config).
2. Set `scripts` in `package.json` with `"f

[2021-11-02 16:36] gustavkj commented on #12451
The auto-merge feature is available, it was added in [3.1](https://docs.github.com/enterprise-server@3.1/admin/release-notes#pull-request-auto-merge). It seems it's only the GraphQL field that has not been added.

[2021-11-02 16:41] rarkins commented on #12451
Let's remove the automerge detection completely from GHE for now. But keep version detection as I'll use it for the issue disabling detection.

[2021-11-02 16:42] viceice commented on #4436
@latipun7 You've a different issue, so please open a new feature request, as this issue is only about indentation

[2021-11-02 16:42] #12450 closed

[2021-11-02 17:36] latipun7 opened #12463 "Respect `prettier` formatting in the onboarding PR"
### What would you like Renovate to be able to do?

I'd like renovate to respect `prettier` formatting when doing onboarding PR.

---

This issue occurs in repo with [`prettier`](https://prettier.io/) and configure the Github Actions to check the formatting on every pull request.

### Step to Reproduce
1. Create repository with the `prettier` with [prettier config files](https://prettier.io/docs/e

[2021-11-02 18:19] rarkins opened #12464 "Disable platform automerge for unsupported GHE versions"
### How are you running Renovate?

Self-hosted

### Please select which platform you are using if self-hosting.

GitHub Enterprise Server

### If you're self-hosting Renovate, tell us what version of Renovate you run.

_No response_

### Describe the bug

Renovate should not attempt platform automerge on unsupported GHE versions

### Relevant debug logs

<details><summary>Logs</summary>

[code]

<

[2021-11-02 18:27] rarkins commented on #12463
Sorry, but I prefer not to do this:
- possibility of running malicious code
- complexity (including if trying to work around malicious code)

[2021-11-02 18:27] #12463 closed

[2021-11-02 18:31] #7575 closed

[2021-11-02 18:31] #8408 closed

[2021-11-02 18:31] #8823 closed

[2021-11-02 18:32] rarkins commented on #4436
Sorry, I declined that feature request :-/

I don't think the complexity and risk are worth it at this point

[2021-11-02 18:36] rarkins commented on #8239
I think this is ready for someone to experiment with, but I consider it low priority so it's unlikely to be someone from the core team unless another need arises.

I think add a new globalOnly config option `rebaseMode` which defaults to `force-push` but can be changed to `revert`.

And in such cases it needs to try what I described above:
- Revert the previous commit (assuming it's not edited.. i

[2021-11-02 18:51] renovate-release commented on #12450
:tada: This issue has been resolved in version 28.22.0 :tada:

The release is available on:
- [GitHub release](https://github.com/renovatebot/renovate/releases/tag/28.22.0)
- `28.22.0`

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-11-02 19:49] rarkins commented on #12439
We're doing to revert it until we have more robust detection of GHE version. GitHub hasn't been great about documenting it either :-/

[2021-11-02 19:53] #12439 closed

[2021-11-02 20:06] renovate-release commented on #12439
:tada: This issue has been resolved in version 28.22.2 :tada:

The release is available on:
- [GitHub release](https://github.com/renovatebot/renovate/releases/tag/28.22.2)
- `28.22.2`

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-11-02 21:05] mhetzel commented on #5933
Defining both worked perfectly

[2021-11-02 21:16] asoneji commented on #6568
We may attempt to fix this and create a PR for contribution.

1. Should we create a [discussion](https://github.com/renovatebot/renovate/discussions) for the implementation discussion or just use this issue for the discussion
2. Any guidance or possible suggestions we should start with to fix this issue?
3. Anything else besides https://github.com/renovatebot/renovate/blob/main/.github/contributin

[2021-11-03 04:39] olegkrivtsov commented on #2804
My plan for implementing this:

1. Edit `lib/config/options/index.ts` and add the new option `executionTimeout`, e.g.:

[code]

2. Describe this option in documentation.

3. Edit `lib/util/exec/index.ts` and use the new option instead of the default:
https://github.com/renovatebot/renovate/blob/db5137b39a472dc8e386bcbc6397e6e01d0422fa/lib/util/exec/index.ts#L82

[2021-11-03 05:21] JamieMagee commented on #7135
I'm working on this upstream https://github.com/vcpkg/vcpkg.github.io/pull/60

[2021-11-03 05:43] viceice commented on #2804
I think.we can allow setting this via cli.

[2021-11-03 05:48] #2271 closed

[2021-11-03 06:00] renovate-release commented on #2271
:tada: This issue has been resolved in version 28.23.0 :tada:

The release is available on:
- [GitHub release](https://github.com/renovatebot/renovate/releases/tag/28.23.0)
- `28.23.0`

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-11-03 08:13] KnisterPeter commented on #12451
There was an attempt to fix this with https://github.com/renovatebot/renovate/pull/12458
But in fact it is still not working with latest version (v28.23.1).

There are the logs I get.

[code]

@zharinov @rarkins Can you reopen this?

[2021-11-03 08:15] KnisterPeter commented on #12451
There was an attempt to fix this with https://github.com/renovatebot/renovate/pull/12458
But in fact it is still not working with latest version (v28.23.1).

There are the logs I get.

[code]

@zharinov @rarkins Can you reopen this?

[2021-11-03 08:17] viceice commented on #12451
@KnisterPeter Where are the `console.log` comes from?

[2021-11-03 08:24] KnisterPeter commented on #12451
I've added them locally to inspect the query and the result.
Just to prove that the fields are still in there.

[2021-11-03 08:32] viceice commented on #12451
you should see a debug message on error here:
https://github.com/renovatebot/renovate/blob/6be7e756fcf699bb29d59d437ddecd3a24d32e23/lib/util/http/github.ts#L287

[2021-11-03 08:38] KnisterPeter commented on #12451
Interesting, since without the console.log statements I only saw this:
[code]

[2021-11-03 08:57] stedel commented on #12303
Hello,
we're seeing the same error message occasionally.
PRs get created correctly as far as I can see, including Description with Release Notes if available.
The created PRs are also getting automerged as intended after PR validation builds are done.

### How are you running Renovate
Self-hosted

### Please select which platform you are using if self-hosting
Azure DevOps Server 2020 Update 1.1

#

[2021-11-03 09:02] viceice commented on #12451
ok, so the api returns a 200 but the body contains errors, thats why we don't see the log message

[2021-11-03 09:09] viceice commented on #12303
Somebody with a devops server needs to debug this

here is the error written:
https://github.com/renovatebot/renovate/blob/b8e36daa87e4275caa5b66bffa6fe3f4d5d8a77e/lib/platform/azure/util.ts#L72-L75

[2021-11-03 10:04] olegkrivtsov commented on #3310
I'd like to help with this one.

[2021-11-03 10:05] rarkins commented on #3310
I'm not sure there's much demand for this anymore, but hopefully it's quick/simple

[2021-11-03 10:09] olegkrivtsov commented on #3093
I'd like to take this one.

[2021-11-03 10:14] rarkins commented on #3093
Actually, I think this one is not ready to start. We should focus on transitive remediation of Yarn first (it's currently supported for npm@6 only) and after that resolutions.

[2021-11-03 13:42] larasika opened #12476 "rez versioning: match range precision"
### What would you like Renovate to be able to do?

Using `rez` package manager, I would like Renovate to be able to upgrade the version of dependencies while matching the current version precision of those dependencies.

For example, if `foo-3.2.1` is the latest version available to update to, then:
If the current version in the project is `foo-1`, then it should be updated to `foo-3`.
If the cur

[2021-11-03 15:18] picnic-sven commented on #12449
Thanks for responding so quickly! I tried both approaches, but sadly no success.

## [Approach 1](https://github.com/picnic-sven/Renovate-PRTitle-CommitMessage-Branchname-Bug/commit/3f32784b9f80be35256a1c3490e2eb4382a0c8f7) (raw block helpers):

- Only 1 PR was created.
- PR title, commit message and branchname(`renovate/rawparentdirraw`) all incorrect.
- Relevant logs:

[code]

## [Approach 2](ht

[2021-11-03 15:58] rarkins commented on #12449
I think you should try Approach 2 with valid JSON. It should be possible to try it with JSON that parses. e.g. check in https://jsonlint.com/

[2021-11-03 15:58] larasika commented on #12476
Reproduction repo : https://github.com/larasika/test-renovate

cc @rarkins

[2021-11-03 17:26] ste93cry commented on #12157
Any news about this?

[2021-11-03 17:55] taha51595 opened #12479 "When GHE root api page requires authentication Renovate fails to run"
### How are you running Renovate?

Self-hosted

### Please select which platform you are using if self-hosting.

_No response_

### If you're self-hosting Renovate, tell us what version of Renovate you run.

28.23.1

### Describe the bug

When starting GHE will send a request to the configured endpoint (`https://hostname/api/v3/`)
https://github.com/renovatebot/renovate/blob/aa73a7bb22bd0945fc25b0

[2021-11-03 18:07] viceice commented on #12479
@rarkins @zharinov  Bad `GithubHttp` 😏 . Why is it always overriding `throwHttpErrors`?

[2021-11-03 18:14] rarkins commented on #12479
Don't know! Let's supply the token though as that's safer. I'll PR

[2021-11-03 18:20] rarkins commented on #12479
Incorporated into #12473

[2021-11-04 01:42] wwuck opened #12480 "regexManagers:dockerfileVersions preset doesn't allow pep440 versioning"
### How are you running Renovate?

Self-hosted

### Please select which platform you are using if self-hosting.

_No response_

### If you're self-hosting Renovate, tell us what version of Renovate you run.

28.23.1

### Describe the bug

The current regex for preset regexManagers:dockerfileVersions doesn't allow for pep440 versioning.

Current regex: https://regex101.com/r/0tWjPt/1
Fixed regex: h

[2021-11-04 01:50] #12137 closed

[2021-11-04 04:36] zharinov commented on #12464
Have #12473 fixed this one?

[2021-11-04 05:16] rarkins commented on #12479
Should be resolved in 28.23.2

[2021-11-04 05:16] #12479 closed

[2021-11-04 05:17] #12460 closed

[2021-11-04 05:17] rarkins commented on #12464
No, it just disables the autoMergeEnabled check in the graphql. Does not stop Renovate from trying platform-native automerge

[2021-11-04 05:21] zharinov commented on #12464
Okay, I get it

[2021-11-04 05:29] renovate-release commented on #12460
:tada: This issue has been resolved in version 28.23.3 :tada:

The release is available on:
- [GitHub release](https://github.com/renovatebot/renovate/releases/tag/28.23.3)
- `28.23.3`

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-11-04 05:34] #12480 closed

[2021-11-04 05:45] renovate-release commented on #12480
:tada: This issue has been resolved in version 28.23.4 :tada:

The release is available on:
- [GitHub release](https://github.com/renovatebot/renovate/releases/tag/28.23.4)
- `28.23.4`

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-11-04 06:07] rarkins opened #12484 "Debugging error: Do not import `@jest/globals` outside of the Jest test environment"
### How are you running Renovate?

Self-hosted

### Please select which platform you are using if self-hosting.

_No response_

### If you're self-hosting Renovate, tell us what version of Renovate you run.

_No response_

### Describe the bug

Running `yarn debug` no longer works for me

### Relevant debug logs

<details><summary>Logs</summary>

[code]

[2021-11-04 06:47] #8542 closed

[2021-11-04 07:00] renovate-release commented on #8542
:tada: This issue has been resolved in version 28.23.6 :tada:

The release is available on:
- [GitHub release](https://github.com/renovatebot/renovate/releases/tag/28.23.6)
- `28.23.6`

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-11-04 07:03] at-wat opened #12486 "Release notes are disappered on Go module update PRs"
### How are you running Renovate?

WhiteSource Renovate hosted app on github.com

### Please select which platform you are using if self-hosting.

_No response_

### If you're self-hosting Renovate, tell us what version of Renovate you run.

_No response_

### Describe the bug

`Release Notes` and link to the repository on Go module update PRs have been disappeared since Oct 31.
Other managers lik

[2021-11-04 07:05] rarkins commented on #12486
This is probably related to our switch to using `GOPROXY` in the app. FYI @zharinov

[2021-11-04 14:37] wwuck opened #12494 "regexManagers:dockerfileVersions preset doesn't allow quoted ENV or ARG"
### How are you running Renovate?

Self-hosted

### Please select which platform you are using if self-hosting.

Bitbucket Server

### If you're self-hosting Renovate, tell us what version of Renovate you run.

28.24.0

### Describe the bug

The regex used for regexManagers:dockerfileVersions preset doesn't allow for ENV or ARG values to be optionally double-quoted strings.

Original regex example

[2021-11-04 14:57] #12494 closed

[2021-11-04 15:08] renovate-release commented on #12494
:tada: This issue has been resolved in version 28.25.1 :tada:

The release is available on:
- [GitHub release](https://github.com/renovatebot/renovate/releases/tag/28.25.1)
- `28.25.1`

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-11-04 15:43] mattwynne commented on #10616
We'd also like something like this. We're currently manually upgrading gemspecs using a [bash script](https://github.com/cucumber/.github/pull/1).

[2021-11-04 15:53] picnic-sven commented on #12449
Thanks again for the quick reply.
One step closer; adding `\\` before `{{parentDir}}` at `additionalBranchPrefix` and `commitMessagePrefix` does [result](https://github.com/picnic-sven/Renovate-PRTitle-CommitMessage-Branchname-Bug/pulls) in the correct naming of the branch and commit message!

Adding `\\` before `{{parentDir}}` at `packageRules:[{“groupName”:{{parentDir}}”}]` does not generate the

[2021-11-04 16:17] Turbo87 commented on #11488
As it turns out, this can be achieved using the existing `regex` manager.

I've created a shareable preset that implements this: https://github.com/Turbo87/renovate-config/blob/7cc52ff9/rust/updateToolchain.json

It can be used in other projects via:

[code]

and will result in PRs like:

- https://github.com/Turbo87/segelflug-classifieds/pull/144

[2021-11-04 16:17] #11488 closed

[2021-11-04 16:35] rarkins commented on #12449
groupName might get compiled twice. Can you set your repo to reproduce this particular problem?

[2021-11-04 16:56] picnic-sven commented on #12449
I've update the `README.md` in my [repo](https://github.com/picnic-sven/Renovate-PRTitle-CommitMessage-Branchname-Bug). The rest of the repo is setup to produce the unexpected behaviour.

[2021-11-04 18:03] AIGeneratedUsername commented on #6955
What is a current workaround?

Imagine, I have a file with unpinned packages:

[code]

Do I need to pin all my packages manually to make Renovatebot working until the issue is not solved?

[2021-11-04 19:40] jmahlik commented on #2214
Is it possible that the `setup.cfg` manager's code could be used to implement this? The `tox.ini` file is the same `ini` style format.  The deps are just in a separate section.

So basically, it would just be looking for `[testenv*]` sections and extracting the `deps =`.  So, just need to implement the a custom extract that looks for these sections?

https://tox.wiki/en/latest/config.html

There a

[2021-11-04 20:04] voxpelli commented on #8614
Another example: Apollo has moved to a restrictive license for some of their modules and both Renovate and Dependabot will likely push people to update to those modules without making them aware of the license change and the likelihood of becoming non-compliant: https://twitter.com/b0neskull/status/1456336497980764160?s=21

[2021-11-05 01:05] FSuman opened #12503 "Do poetry lock maintenance for multiple packages in one command"
### What would you like Renovate to be able to do?

When creating the lock file, poetry is updating it one package at a time. This is inefficient since poetry runs the whole dependency resolving multiple times.

poetry supports multiple arguments to update multiple packages at once, and renovate could take advantage of that.

### If you have any ideas on how this should be implemented, please tell

[2021-11-05 01:31] FSuman commented on #12503
I've created https://github.com/renovatebot/renovate/pull/12504 to address this

[2021-11-05 01:32] FSuman commented on #12503
This is my first github contribution ever, so I apologise if I'm skipping any steps here

[2021-11-05 01:50] #11911 closed

[2021-11-05 02:12] olegkrivtsov opened #12505 "Renovate created an onboarding PR for a repo I didn't configure to use with it"
### How are you running Renovate?

WhiteSource Renovate hosted app on github.com

### Please select which platform you are using if self-hosting.

github.com

### If you're self-hosting Renovate, tell us what version of Renovate you run.

_No response_

### Describe the bug

Today I received a notification from GitHub that Renovate created an onboarding PR for my repo https://github.com/olegkrivts

[2021-11-05 04:28] RahulGautamSingh commented on #12070
@rarkins There is this regex `/\/?$/` (ensureTrailingSlash) which for some reason which cannot figure out when used with RE2 adds a slash at the front of the text instead of at the end.
Is it okay if I use `/(\/)+$/` instead.
While using the new regex a workaround is needed, instead of replace I use `.test` to check if there is a trailing slash or not and incase there is none I add one.
Example:
[

[2021-11-05 05:22] rarkins commented on #12505
The point of onboarding is to create a renovate.json

[2021-11-05 05:22] #12505 closed

[2021-11-05 05:30] rarkins commented on #12070
No, that's a bit too hacky. Leave it out for now

[2021-11-05 06:52] rarkins commented on #12449
Unfortunately I can't work out any way to get it to work, but maybe on day someone will figure it out

[2021-11-05 07:10] #11387 closed

[2021-11-05 07:10] #12155 closed

[2021-11-05 07:24] renovate-release commented on #12155
:tada: This issue has been resolved in version 29.0.0 :tada:

The release is available on:
- [GitHub release](https://github.com/renovatebot/renovate/releases/tag/29.0.0)
- `29.0.0`

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-11-05 07:24] renovate-release commented on #11387
:tada: This issue has been resolved in version 29.0.0 :tada:

The release is available on:
- [GitHub release](https://github.com/renovatebot/renovate/releases/tag/29.0.0)
- `29.0.0`

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-11-05 09:17] olegkrivtsov commented on #12505
Hi @rarkins sorry, I probably explained in a wrong way.

I agree that the onboarding would create renovate.json. But Renovate shouldn't have created an onboarding PR for that particular repo since I didn't command it to do so. I've just checked my GitHub Renovate App settings and for some reason that particular repo was in the list of repos Renovate has access to.

So this is not a bug, but probab

[2021-11-05 09:26] viceice commented on #12505
@olegkrivtsov The [`onboardingNoDeps`](https://docs.renovatebot.com/self-hosted-configuration/#onboardingnodeps) settings was enabled on hosted app recently.

[2021-11-05 09:26] rarkins commented on #12505
It's a result of the `onboardingNoDeps` feature you implemented. It is now enabled in the hosted app any time user "selects" individual repos for the app instead of chooses "All repositories". If you have chosen "Select repositories" when installing/configuring the app, and you have selected a particular repo - whether by accident or not - it's a very clear signal that you want Renovate running on

[2021-11-05 09:32] rarkins opened #12509 "Ubuntu versioning should consider 22.04 unstable"
### How are you running Renovate?

WhiteSource Renovate hosted app on github.com

### Please select which platform you are using if self-hosting.

_No response_

### If you're self-hosting Renovate, tell us what version of Renovate you run.

_No response_

### Describe the bug

Renovate is currently proposing people to upgrade to Ubuntu 22.04 however it's not yet stable (but being published to Doc

[2021-11-05 13:11] thetoolsmith opened #12516 "add exclude option to autoDiscoverFilter"
### What would you like Renovate to be able to do?

We use autoDiscoverFilter to scan all repos in a particular project in source (azure devops Git). This is scheduled to run everyday with renovatebot.
We should have the option to exclude repositories in this high level filter scan.

### If you have any ideas on how this should be implemented, please tell us here.

add a config option autoDiscover

[2021-11-05 13:25] #4436 closed

[2021-11-05 13:40] renovate-release commented on #4436
:tada: This issue has been resolved in version 29.1.0 :tada:

The release is available on:
- [GitHub release](https://github.com/renovatebot/renovate/releases/tag/29.1.0)
- `29.1.0`

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-11-05 14:03] zharinov opened #12518 "Improve Gradle parser"
### How are you running Renovate?

WhiteSource Renovate hosted app on github.com

### If you're self-hosting Renovate, tell us what version of Renovate you run.

_No response_

### Please select which platform you are using if self-hosting.

_No response_

### If you're self-hosting Renovate, tell us what version of the platform you run.

_No response_

### Describe the bug

There is some space fo

[2021-11-05 15:10] #12503 closed

[2021-11-05 15:24] renovate-release commented on #12503
:tada: This issue has been resolved in version 29.2.0 :tada:

The release is available on:
- [GitHub release](https://github.com/renovatebot/renovate/releases/tag/29.2.0)
- `29.2.0`

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-11-06 04:59] #12516 closed

[2021-11-06 06:20] #12464 closed

[2021-11-06 06:32] #12486 closed

[2021-11-06 06:46] renovate-release commented on #12486
:tada: This issue has been resolved in version 29.2.2 :tada:

The release is available on:
- [GitHub release](https://github.com/renovatebot/renovate/releases/tag/29.2.2)
- `29.2.2`

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-11-06 07:21] #12509 closed

[2021-11-06 07:33] renovate-release commented on #12509
:tada: This issue has been resolved in version 29.2.3 :tada:

The release is available on:
- [GitHub release](https://github.com/renovatebot/renovate/releases/tag/29.2.3)
- `29.2.3`

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-11-06 07:40] viceice commented on #12509
I think we need a new issue to track Ubuntu versioning optimization.

[2021-11-06 08:06] AKorezin opened #12529 "`gitlabci-include` manager may fail if `yml` file is empty"
### How are you running Renovate?

Self-hosted

### If you're self-hosting Renovate, tell us what version of Renovate you run.

29.2.0

### Please select which platform you are using if self-hosting.

gitlab.com

### If you're self-hosting Renovate, tell us what version of the platform you run.

14.5.0-pre

### Describe the bug

Since renovate version 28.15.0 `gitlabci-include` is enabled for all

[2021-11-06 08:13] rarkins commented on #12529
Does it still extract other dependencies, or does the presence of an empty file cause all extraction to fail? And what do you expect instead as behavior?

[2021-11-06 08:35] AKorezin commented on #12529
The main problem here that the bot creates message in [the issue](https://gitlab.com/AKorezin/renovate-issue-12529/-/issues/2).

So the expected behavior should be no warning about empty files like with `gitlabci` manager.

I have never tried to use `gitlabci-include` dependencies. So I'll try to do that.

[2021-11-06 10:45] AKorezin opened #12532 "[GitLab] Change email source in `gitAuthor`"
### What would you like Renovate to be able to do?

There's a special email for commits in gitlab user profile.
The name of the parameter is `commit_email`.
It has been added in gitlab 13.11.
I think that `commit_email` should be used instead of `email` parameter for `gitAuthor`.
[code]

I don't know why it's not documented in `/user` [api](https://docs.gitlab.com/ee/api/users.html#list-current-us

[2021-11-06 10:51] rarkins commented on #12532
I think we need to have fallback logic too, for anyone not on 13.11 or later

[2021-11-06 11:10] AKorezin commented on #12529
Just done some testing. It seems that overall version extraction by `gitlabci-include` is not broken, if one of the files is empty.

[2021-11-06 12:30] fgreinacher commented on #12156
@viceice @rarkins Can I do anything to bring this forward? I'd really like to have devcontainer support back 😀

[2021-11-06 12:31] rarkins commented on #12156
I'm ok with using one of the default containers if we can't get our own working yet

[2021-11-06 12:34] viceice commented on #12156
Let me try to fix it tomorrow.

[2021-11-06 12:41] viceice commented on #12529
I think we need a null check to fix that warning. Empty files shouldn't be a warning.

[2021-11-06 16:13] renovate-release commented on #12127
:tada: This issue has been resolved in version 29.2.5 :tada:

The release is available on:
- [GitHub release](https://github.com/renovatebot/renovate/releases/tag/29.2.5)
- `29.2.5`

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-11-06 19:18] pret-a-porter commented on #10009
@zharinov @HonkingGoose I have already introduced using `mock-fs` in repository. I would like to take this issue.

[2021-11-06 20:26] DanySK commented on #12212
The dependency is found, but updates are not. In the case I report below, there was an available update for `DanySK/workflows/.github/workflows/build-and-deploy-gradle-project.yml`. The dependency was initially set to 0.1.3-dev3, and 0.1.4 was available. It is (correctly, I think) identified as `DanySK/workflows`.

I'm having a hard time understanding why.

<details><summary>Renovate run log</summ

[2021-11-06 20:28] HonkingGoose opened #12535 "Optimize Ubuntu versioning"
### What would you like Renovate to be able to do?

Quote from @viceice:

We recently merged a "hacky" PR #12528 which makes it so we consider Ubuntu `22.04` unstable (right now this is released as a "early testing" build, not a proper stable release).

### If you have any ideas on how this should be implemented, please tell us here.

How about we create a `.json` file and put the Ubuntu release s

[2021-11-06 20:29] HonkingGoose commented on #12509
See issue:

- https://github.com/renovatebot/renovate/issues/12535

[2021-11-07 07:17] #12518 closed

[2021-11-07 07:30] renovate-release commented on #12518
:tada: This issue has been resolved in version 29.2.6 :tada:

The release is available on:
- [GitHub release](https://github.com/renovatebot/renovate/releases/tag/29.2.6)
- `29.2.6`

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-11-07 12:13] rarkins opened #12540 "Research git notes"
### Describe the proposed change(s).

Possibly we could use git notes for "state" storage.

Refs:
- https://git-scm.com/docs/git-notes
- https://stackoverflow.com/questions/2683248/can-i-add-metadata-to-git-commits-or-can-i-hide-some-tags-in-gitk

[2021-11-07 13:33] viceice commented on #12540
Will this work with upcoming GitHub API commits?

[2021-11-07 13:42] rarkins commented on #12540
Probably not :)

[2021-11-07 13:45] viceice commented on #12540
Maybe we can fetch the API commit and add and push the notes after that. 🤔

[2021-11-08 08:18] HonkingGoose commented on #12535
@rarkins what do you think of my idea to put the Ubuntu supported dates into a JSON file?

[2021-11-08 08:48] rarkins commented on #12535
Is such a file already published by Ubuntu anywhere?

[2021-11-08 09:04] HonkingGoose commented on #12535
There's a `releases.yaml` file that's in the `canonical-web-and-design/ubuntu.com` repository. [^release.yml]

I've checked the history of `releases.yaml` and they overwrite earlier Ubuntu versions.  [^example]

The Node.js JSON file lists all prior versions of Node.js, which seems a safer route than clobbering over the history with new edits.

I'm not sure if the `release.yml` file is stable enou

[2021-11-08 09:34] larasika commented on #12476
hi hi @rarkins @viceice !
Just wondering and want to follow up – is there any update regarding this issue ?
Thanks !

[2021-11-08 10:18] viceice commented on #12535
I think that file is good enough, as we only need to know which is lates lts and which are not eol.

[2021-11-08 10:22] viceice commented on #12476
I think this is ready, but will not implemented by a maintainer.
So will require a community contribution to get done.

[2021-11-08 10:51] thejan2009 opened #12549 "Broken auth for private go mod on selfhosted gitlab"
### How are you running Renovate?

Self-hosted

### If you're self-hosting Renovate, tell us what version of Renovate you run.

latest

### Please select which platform you are using if self-hosting.

GitLab self-hosted

### If you're self-hosting Renovate, tell us what version of the platform you run.

GitLab Community Edition 14.4.1

### Describe the bug

Probably related to https://github.com/r

[2021-11-08 11:40] BeeeQueue commented on #8323
I can confirm @Hebilicious's issue in our private pnpm monorepo using renovate.

[2021-11-08 12:23] #12549 closed

[2021-11-08 12:26] setchy opened #12554 "PR Release Notes: Add the dependency release date for each dependency"
### What would you like Renovate to be able to do?

It would be handy to know the release date for each of the dependencies within the PR Release Notes section.  This would help repository maintainers understand how old/new the specific dependency release is

### If you have any ideas on how this should be implemented, please tell us here.

-

### Is this a feature you are interested in implementi

[2021-11-08 12:30] wwuck opened #12555 "Renovate should allow ed25519 keys for gitPrivateKey"
### What would you like Renovate to be able to do?

It would be nice to have renovate allow ed25519 keys for gitPrivateKey config.

### If you have any ideas on how this should be implemented, please tell us here.

I have no idea how ed25519 can be added to the existing support for RSA keys.

### Is this a feature you are interested in implementing yourself?

No

[2021-11-08 12:32] HonkingGoose commented on #12554
Duplicate of #5822

[2021-11-08 12:32] #12554 closed

[2021-11-08 12:38] HonkingGoose commented on #12554
Do you know about GitHub Dependency Review? There's a button you can click in the `Files changed` tab when you're looking at a dependency file that's changed.

https://github.blog/changelog/2021-10-05-dependency-review-is-generally-available/

[2021-11-08 12:38] viceice commented on #12555
Have you tried to simply assign an  `ed25519` key? What errors are happen? I think it should just work.

[2021-11-08 12:49] viceice opened #12556 "Lint: Enum Member name `...` must match one of the following formats: PascalCase"
### Describe the proposed change(s).

Enum Member name `manifestV1` must match one of the following formats: PascalCase

[2021-11-08 13:02] wwuck commented on #12555
Hmmm I think I ran into the same problem as https://github.com/renovatebot/renovate/discussions/10017.

Can we get the docs for `gitPrivateKey` updated to mention that the generated PGP/GPG key should not have a passphrase?  Or alternatively, could a new `gitPrivateKeyPassphrase` option be added to allow keys with a passphrase?  Currently, if a key is created with a passphrase and assigned to `git

[2021-11-08 14:34] #12555 closed

[2021-11-08 17:17] micheh opened #12561 "Renovate does not add assignee when pipeline failed and automerge=true"
### How are you running Renovate?

Self-hosted

### If you're self-hosting Renovate, tell us what version of Renovate you run.

29.3.0

### Please select which platform you are using if self-hosting.

GitLab self-hosted

### If you're self-hosting Renovate, tell us what version of the platform you run.

_No response_

### Describe the bug

When an assignee is set and automerge is enabled, Renovate

[2021-11-08 23:44] wwuck opened #12566 "Add gitPrivateKeyPassphrase config option"
### What would you like Renovate to be able to do?

Renovate should include a `gitPrivateKeyPassphrase` config option to allow `gitPrivateKey` to use GPG keys with a passphrase.

### If you have any ideas on how this should be implemented, please tell us here.

Add a new config option `gitPrivateKeyPassphrase` that will be used in combination with `gitPrivateKey` when the private GPG key is create

[2021-11-09 10:29] Kesin11 commented on #12451
I'm also facing this issue when renovate v28.20.0.
I just retry using v29.3.4 and it works correctly.

My environment:

- Self-hosted ( javascript. not docker )
- GitHub Enterprise Server v3.1.8

[2021-11-09 10:54] rarkins commented on #12451
I think we can now close this

[2021-11-09 10:54] #12451 closed

[2021-11-09 11:39] HonkingGoose commented on #6568
Here are some things you asked about:

1. Discuss the implementation in this issue please, I don't think we should spread the discussion out over multiple places, as that will be confusing.

2. Unfortunately I do not have any guidance/suggestions for you.

3. I recommend going into the `docs/development` folder, and clicking on the `.md` files in there to learn more. [^development-docs]

[^develop

[2021-11-09 12:09] viceice commented on #12556
@rarkins @JamieMagee Any preference about enum member consistency, default rule value would be `camlCase` but i switched it to `PascalCase` as most of our enums follow that.

[2021-11-09 12:12] rarkins commented on #12556
No preference

[2021-11-09 12:18] viceice commented on #12556
So i suggest to use the default `camlCasing` as recommend by `@typescript-eslint/naming-convention`.

[2021-11-09 12:37] MartijnVisser opened #12576 "Renovatebot logs continuously shows 'external-host-error'"
### How are you running Renovate?

WhiteSource Renovate hosted app on github.com

### If you're self-hosting Renovate, tell us what version of Renovate you run.

_No response_

### Please select which platform you are using if self-hosting.

github.com

### If you're self-hosting Renovate, tell us what version of the platform you run.

_No response_

### Describe the bug

Since a couple of weeks,

[2021-11-09 12:41] rarkins commented on #6568
If what you need it *git* authentication when `pod` is run, then this work which was done for Go Modules might be reusable: #12230

[2021-11-09 12:59] rarkins commented on #12576
As you can see in the logs, it appears to be because of a 60s timeout on an angular package. Is it the same package timing out every run?

[2021-11-09 13:10] MartijnVisser commented on #12576
No, it differs. Some examples:

`"lookupName": "@angular/animations"`
`"lookupName": "@angular/common"`
`"lookupName": "@angular/core"`
`"lookupName": "@angular/compiler"`

[2021-11-09 13:55] rarkins commented on #12576
This repo has a very heavy request load when I ran against a fork locally, mainly to maven central:

[code]

npmjs is not so bad, but the angular packages are probably "big".

Here's the repo's job history, from most recent to oldest: https://gist.github.com/rarkins/93b640c79af31d6243b09e071a76668a

In general, it went from `done` to `external-host-error` to `done` and then now has stuck on `exter

[2021-11-09 14:05] rarkins commented on #12576
@zharinov this touches a couple of areas you've worked on before, e.g. it's a 200 OK:

[code]

But also timed out

[2021-11-09 14:06] MartijnVisser commented on #12576
It's definitely a really big project. I can totally understand if it's too big for a non-commercial version. I mainly wanted to flag it to you in case you were unaware and/or if it causes undesirable side-effects on your end.

[2021-11-09 14:40] rarkins commented on #12576
It runs OK for me locally but in production it looks like it's tripping a bug due to too many concurrent large requests, probably in the `got` library we use. Cc @szmarczak

[2021-11-09 14:50] szmarczak commented on #12576
Got doesn't alter any logic (nor it does implement its own) in terms of concurrency. Either it doesn't receive the last chunk or it's a Node.js bug. Please use Wireshark or a similar tool to see if the response is received in full.

[2021-11-09 14:58] rarkins commented on #12576
@szmarczak is any of the above logs of use for your question? It looks like the response is missing the *start*. FYI we're running on Node 14, which I'd hope is pretty stable by now.

![image](https://user-images.githubusercontent.com/6311784/140947736-5acb57ec-d682-45a1-b41c-dd82b0a97984.png)

[2021-11-09 15:35] szmarczak commented on #12576
Seems like a flashback from https://github.com/sindresorhus/got/issues/1062#issuecomment-586557309 will investigate this.

[2021-11-09 16:10] rarkins commented on #12576
Yeah, it reminds me of that too. Both times it was triggered by repos with multiple concurrent GETs of npm libraries with 10s of MB each.

[2021-11-09 19:26] JavierSegoviaCordoba commented on #3616
I would like to add my use case for the new GitHub boards.

1. I would be able to add all pull requests automatically there, and if possible, rerun Renovate without opening the card.
2. I would like to have a global Dashboard for all repositories.

Why this last one? Currently, I have to open a lot of dashboards to rerun renovate on specific PRs

![image](https://user-images.githubusercontent.com/

[2021-11-09 20:25] HonkingGoose commented on #3616
I think you'll always need to open the card yourself to click on the checkbox in the issue, at least right now. Maybe there's another way though.

On the new GitHub Project boards layout, you can show a "label" column, and you can change the labels in a row in a that column. If Renovate could take commands from a label, it could work like this:

1. Go to project board.
2. Assign label to PR on boa

[2021-11-10 00:22] JavierSegoviaCordoba opened #12584 "Actions with non final version are not being update to the next non final version"
### How are you running Renovate?

WhiteSource Renovate hosted app on github.com

### If you're self-hosting Renovate, tell us what version of Renovate you run.

_No response_

### Please select which platform you are using if self-hosting.

_No response_

### If you're self-hosting Renovate, tell us what version of the platform you run.

_No response_

### Describe the bug

As you can see in [thi

[2021-11-10 01:50] #11781 closed

[2021-11-10 05:41] viceice commented on #12584
It's not a bug, we use docker versioning for actions by default. So everything after the version is considered as compatibility tag and must be same on every version.

You need a package rule and assign another versioning like semver.

[2021-11-10 08:06] ruudvanderweijde opened #12586 "Read COMPOSER_AUTH environment variable"
### What would you like Renovate to be able to do?

The composer manager does not use the provided

After reading [getting started docs on private composer packages](https://docs.renovatebot.com/getting-started/private-packages/) I was expecting that providing a `COMPOSER_AUTH` variable works, as described in [the composer documentation](https://getcomposer.org/doc/articles/authentication-for-priv

[2021-11-10 09:10] viceice commented on #12177
npx will fail on npm v7

https://github.com/renovatebot/renovate/blob/53e3cb17fef44032c11ac2ae33e94ccd1131fb3b/.github/workflows/build.yml#L208

Seen this on buildpack

![image](https://user-images.githubusercontent.com/1798109/141084064-a320b566-f4df-4827-82b1-01b0f458d1e6.png)

[2021-11-10 09:17] DOliana opened #12590 "Invalid extended configuration does not lead to error"
### How are you running Renovate?

Self-hosted

### If you're self-hosting Renovate, tell us what version of Renovate you run.

latest docker image (29.3.5)

### Please select which platform you are using if self-hosting.

Azure DevOps Server

### If you're self-hosting Renovate, tell us what version of the platform you run.

_No response_

### Describe the bug

We use a default.json and dedicated

[2021-11-10 09:22] viceice commented on #12177
https://github.com/mysticatea/npm-run-all/issues/196

[2021-11-10 09:40] aepfli opened #12591 "Gradle plugin version resolving does not work within plugin block with variables"
### How are you running Renovate?

Self-hosted

### If you're self-hosting Renovate, tell us what version of Renovate you run.

_No response_

### Please select which platform you are using if self-hosting.

gitlab.com

### If you're self-hosting Renovate, tell us what version of the platform you run.

_No response_

### Describe the bug

Renovate seems like to be not able to resolve variables wit

[2021-11-10 09:59] viceice commented on #12127
Seen today with v29.2.6

[code]

Followed by this on nex repos.

[code]

[2021-11-10 10:52] JavierSegoviaCordoba commented on #12584
But it is strange having different default behavior for maven artifacts or Gradle Wrapper and actions, no? I think all should be aligned so all or no one required that rule.

[2021-11-10 10:57] rarkins commented on #12584
`2.0-rc.3` is not semver compatible though, but I think `gradle` versioning would work.

Renovate like most software is a bunch of if/else statements, and currently no if statement exists to look specifically for `gradle/gradle-build-action` and assign it non-default versioning. If you want to submit a PR which detects `gradle/gradle-build-action` (or perhaps just anything starting with `gradle/`?

[2021-11-10 11:00] #12590 closed

[2021-11-10 11:08] rarkins commented on #12591
Does that example reproduce publicly? I see current version is 4.0.0 while https://plugins.gradle.org/plugin/at.schrottner.gitlab-repositories reports 0.5.0 as latest.

[2021-11-10 11:11] timmkrause opened #12595 "Subpresets no longer working since v29.1.0"
### How are you running Renovate?

Self-hosted

### If you're self-hosting Renovate, tell us what version of Renovate you run.

29.3.5 (28.26.0 still works for us)

### Please select which platform you are using if self-hosting.

Azure DevOps Server

### If you're self-hosting Renovate, tell us what version of the platform you run.

Azure DevOps Server 2020 Update 1

### Describe the bug

We're us

[2021-11-10 11:12] aepfli commented on #12591
if you take a look at the reproducer, you see that spotless is getting updated with a written version - versus at.schrottner.gitlab-repositories is not getting updated as the version is a references to a variable. - i just wrote the reproducer and left the prs as is, without interaction

[2021-11-10 11:15] aepfli commented on #12591
uh i just realise my issue what you meant, i will adapt the reproducier

[2021-11-10 11:19] rarkins commented on #12591
Thanks, I understand now that you changed the example to expect 0.4.0 -> 0.5.0 to be updated.

[2021-11-10 11:20] #10090 closed

[2021-11-10 11:20] JavierSegoviaCordoba commented on #12584
I thought that version was following semver, then it has sense, thank you for the answer :)

[2021-11-10 11:20] HonkingGoose commented on #12535
We could copy/paste their `releases.yml` file into our repository, this way we keep control over the file. This means extra maintenance work, as we don't have a easy way right now to let Renovate sync the file (we do have a issue open somewhere for simple file syncing with Renovate).

Then after we've copy/pasted the file, we can change our Renovate code to refer to the `releases.yml` file when wo

[2021-11-10 11:29] thor commented on #12042
To chime in, @rarkins: we have a similar use-case, except it's not Nexus we're using. In our case, perhaps similarly to @dprilmueller's, we cannot use a `HTTPS_PROXY`.

In our case the URLs look something like `https://service.company.com/some/api/path/github/$GITHUB_ENDPOINT`.

Alternatively, we'd need to look closer into "solving" the problem of missing `HTTPS_PROXY` for us to use.

[2021-11-10 11:34] renovate-release commented on #10090
:tada: This issue has been resolved in version 29.4.0 :tada:

The release is available on:
- [GitHub release](https://github.com/renovatebot/renovate/releases/tag/29.4.0)
- `29.4.0`

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-11-10 11:58] rarkins commented on #12595
So there's no error but you think every single preset config he not being applied?

[2021-11-10 12:18] timmkrause commented on #12595
Exactly. The only symptom we can observe is that the settings in `default.json` (especially groupings) are not being applied.

[2021-11-10 12:25] rarkins commented on #12595
Do you have any way to determine which release between 28.26.0 and 29.3.5 broke it for you, without causing yourself further noise/pain?

My best guess would be 29.1.0, caused by #11565, although there wasn't any specific Azure code in that.

[2021-11-10 13:12] timmkrause commented on #12595
Yep, thanks! I will get back with the exact version.

[2021-11-10 17:00] timmkrause commented on #12595
Impressing. Your best guess was 100% accurate. 29.0.1 works, 29.1.0 breaks it.

Thes debug messages are missing as of 29.1.0:

`DEBUG: Dependency Microsoft.Extensions.Http is part of group Microsoft dependencies (repository=foo/bar)`

[2021-11-10 17:20] lkwg82 opened #12599 "Update terraform module from git repository based on tags"
### How are you running Renovate?

Self-hosted

### If you're self-hosting Renovate, tell us what version of Renovate you run.

29.3.1

### Please select which platform you are using if self-hosting.

GitLab self-hosted

### If you're self-hosting Renovate, tell us what version of the platform you run.

13.12

### Describe the bug

A terraform repo referencing a module via git (git::https://..) wi

[2021-11-10 17:30] HonkingGoose commented on #12599
Please put long logs in a `<details>` and `<summary>` element. This will hide the logs until somebody clicks on the toggle. 😉

## Example

<details><summary>Click me to see logs</summary>

[code]

</details>

## Instructions

1. Copy/paste the Markdown I've put below.
2. Copy your log, and paste it between the backticks.
3. Remove/redact private or secret information.

[code]

[2021-11-10 17:40] rarkins commented on #12595
Are you able to disclose the actual string for `"local>project/renovate"`? I'm wondering if there's some special characters or something like that

[2021-11-10 17:54] HonkingGoose commented on #12133
We have another open issue [^issue-1] that's about "waiting until all dependencies in a group have new versions before opening/merging PR". It sounds similar in concept:

I also found a issue that wants to "force same versions inside package group", which also sounds related. [^issue-2]

I don't know which issues we want to keep/close.

I'll let @rarkins decide what to do with each issue. 😉

[^iss

[2021-11-10 18:11] timmkrause commented on #12595
I kept the whole pattern: `local>A2B CD/A2B_Renovate`

[2021-11-10 20:15] rarkins commented on #12133
Duplicate of #12310

[2021-11-10 20:15] #12133 closed

[2021-11-10 21:01] aepfli commented on #12591
well i opened a pr, with some changes, not the best typescript developer but i hope it helps

[2021-11-10 21:18] rarkins commented on #12591
Amazing! I'll wait for @zharinov to review

[2021-11-10 21:27] lkwg82 commented on #12599
thx, this reads a lot better.

[2021-11-10 22:42] secustor commented on #12599
Looks like the versioning is not working for you.

You are capturing with your `major` capture group a value which will not produce a valid semantic version.
Your tags would produce following semantic versions:
[code]
As semantic versioning allows only numbers, except an optional leading `v` and the separating dots, the values can not be compared after generation and are therefore dropped.

If my

[2021-11-10 22:42] #12599 closed

[2021-11-11 01:37] asoneji commented on #6588
I see this is marked with `status: ready` what does this mean?

Any guidance or possible suggestions we should start with to fix this issue? I wonder how the Renovate GitHub app can solve this problem?

[2021-11-11 04:00] RahulGautamSingh commented on #12062
Hey @rarkins , do you approve of this [suggestion](https://github.com/renovatebot/renovate/pull/12440/commits/d94827ebfeadd7bd06dbede23538c70028e17aa9#r744269814/)

[2021-11-11 05:28] JamieMagee opened #12605 "Handle more complex yarn resolutions"
### What would you like Renovate to be able to do?

Currently Renovate can handle yarn replacements that are either exact, or are wildcards:

https://github.com/renovatebot/renovate/blob/9f8155b2bf46c089329e5f16442e337aa24e08d7/lib/manager/npm/update/dependency/index.ts#L107-L111

Renovate should be able to handle resolutions at any level

### If you have any ideas on how this should be implemente

[2021-11-11 05:46] viceice commented on #6588
☝️

[2021-11-11 05:51] viceice commented on #12062
In general yes, but I hope we don't need to pass the CommitMessage instance around.

I hope it can be used in a single function where the message is currently generated. And then the ready message is used as now.

[2021-11-11 08:49] olegkrivtsov commented on #3368
I'd like to take this one.

[2021-11-11 08:54] olegkrivtsov commented on #3933
I'd like to take this one.

[2021-11-11 10:08] HonkingGoose commented on #7927
@rarkins Do you want a new issue from me to track the migration of secrets out of the main `renovatebot/renovate` repository?

[2021-11-11 10:44] HonkingGoose opened #12608 "Remove all secrets from this repository"
### Describe the proposed change(s).

Quote from @rarkins [^quote]:

[^quote]: https://github.com/renovatebot/renovate/issues/7927#issuecomment-954385272

[2021-11-11 11:10] rarkins commented on #12608
We have the following Actions secrets:

Repository:
- Codecov token: I think we can *leave* this, because there's nothing catastrophic if it leaks
- Semantic release uses a GitHub PAT to publish releases and an npm token to publish to npmjs
- The WhiteSource scanner uses a token that we are ok with leaving in

Org-wide:
- We have a docker username/password which every repo inherits, but this repo

[2021-11-11 11:18] viceice commented on #12608
Codecov is not used and can be removed.

I think we can use the buildin `GITHUB_TOKEN` to publish to github releases now, so no need for a GitHub PAT.

This works fine at https://github.com/containerbase/buildpack
![image](https://user-images.githubusercontent.com/1798109/141289213-e786ce2d-43d9-4669-b3c7-4aa0fb08db13.png)

So we only need the npm token in this repo.

[2021-11-11 11:20] viceice commented on #12608
@rarkins We can switch all our docker images to only publish to ghcr.io with `GITHUB_TOKEN` then we create a single repo to sync from ghcr to hub.

[2021-11-11 11:51] rarkins commented on #11984
I started work on this, thinking of doing this manager-by-manager with non-root.

[2021-11-11 12:57] olegkrivtsov commented on #3310
My plan for implementing this (according to Travis Build Matrix spec https://docs.travis-ci.com/user/build-matrix/):

1. Edit the file `lib/manager/travis/extract.ts`:

https://github.com/renovatebot/renovate/blob/2bb64f0d7b9e2d0ca740849b6f633b3d771a6087/lib/manager/travis/extract.ts#L7-L29

In the function `extractPackageFile()`, check if we have the `jobs.include` key or `matrix.include` key. If

[2021-11-11 13:26] rarkins commented on #3310
I think you might find cases with more than one version of Node (i.e. the "matrix")

[2021-11-11 15:28] screendriver opened #12610 "Tabs instead of spaces"
### How are you running Renovate?

Self-hosted

### If you're self-hosting Renovate, tell us what version of Renovate you run.

29.4.3

### Please select which platform you are using if self-hosting.

GitLab self-hosted

### If you're self-hosting Renovate, tell us what version of the platform you run.

14.4.1-ee

### Describe the bug

Since five days Renovate is not respecting our Prettier config

[2021-11-11 15:28] andy-paine opened #12611 "Assignees/reviewers from CODEOWNERS require all changed files to match a single rule"
### How are you running Renovate?

Self-hosted

### If you're self-hosting Renovate, tell us what version of Renovate you run.

29.2.6

### Please select which platform you are using if self-hosting.

GitHub Enterprise Server

### If you're self-hosting Renovate, tell us what version of the platform you run.

3.0.13

### Describe the bug

(Similar to #11877 I think)

Renovate expects every changed

[2021-11-11 15:34] HonkingGoose commented on #12417
@viceice Can you triage this issue please? I'm not sure if the new behavior is a regression or intended.

[2021-11-11 15:38] edude03 opened #12612 "Concurrency issue with Cargo dependencies in the same private repo?"
### How are you running Renovate?

Self-hosted

### If you're self-hosting Renovate, tell us what version of Renovate you run.

29.3

### Please select which platform you are using if self-hosting.

github.com

### If you're self-hosting Renovate, tell us what version of the platform you run.

Public cloud version

### Describe the bug

We use cloudsmith to host our cargo private dependencies. Whe

[2021-11-11 15:47] viceice commented on #12417
This is currently by design. 🤷‍♂️

[2021-11-11 15:48] rarkins commented on #12612
crate private repositories uses git, so your guess about concurrency is probably correct. We should see if there's a way to enforce that the cloning is done once, but unless it's a really easy fix it's likely going to have to wait for someone who can reproduce it locally.

[2021-11-11 15:53] #12610 closed

[2021-11-11 15:56] rarkins commented on #12042
Does your alternative URL support the full API of GitHub.com? As in it's essentially a full transparent proxy?

[2021-11-12 00:00] bencooper222 commented on #4263
Would love support for this. If there's firm confirmation that it would be accepted, I could look into writing a PR for it.

[2021-11-12 01:50] #12012 closed

[2021-11-12 02:09] olegkrivtsov commented on #3310
Hi @rarkins thank you, so my updated plan regarding the `node_js` key would be: find all versions under that key and push a dependency for each of them.

[2021-11-12 03:43] olegkrivtsov commented on #3933
My plan for fixing this issue:

1. Edit `lib/workers/repository/index.ts`:

https://github.com/renovatebot/renovate/blob/6732fce9b4a69a794fb6bb2ca69eab5d75b10034/lib/workers/repository/index.ts#L71-L77

This block deletes the repo directory after repo was processed. I think I need to replace the call to `deleteLocalFile()` with `rimraf()`: https://www.npmjs.com/package/rimraf From the docs it look

[2021-11-12 04:34] olegkrivtsov commented on #3368
I checked GitLab docs and the Issues API endpoint allows to set the `confidential` field when an issue is created: https://docs.gitlab.com/ee/api/issues.html#new-issue

Regarding MRs (https://docs.gitlab.com/ee/api/merge_requests.html#create-mr), there is no `confidential` field for MRs. I guess when an MR is created, we specify the source branch, and if the source branch is confidential, the MR b

[2021-11-12 05:22] rarkins commented on #3368
Let's leave it as issues only for now

[2021-11-12 05:27] rarkins commented on #3933
Can you reproduce the problem?

[2021-11-12 05:29] rarkins commented on #4263
@bencooper222 please go ahead! Can you ensure it works for Yarn 1-3 though?

[2021-11-12 08:01] rarkins opened #12618 "Bundler/Rubygems: support registries with incomplete releases lists"
### Discussed in https://github.com/renovatebot/renovate/discussions/12497

<div type='discussions-op-text'>

<sup>Originally posted by **15joeybloom** November  4, 2021</sup>
I have found a bug that causes renovate to miss some dependency updates.

I've configured renovate (cloud hosted, version 28.21.0) on a ruby project with our artifactory rubygems repository as a datasource. I have the `licen

[2021-11-12 08:10] #2223 closed

[2021-11-12 08:10] #3339 closed

[2021-11-12 08:10] #5535 closed

[2021-11-12 08:24] renovate-release commented on #2223
:tada: This issue has been resolved in version 29.6.0 :tada:

The release is available on:
- [GitHub release](https://github.com/renovatebot/renovate/releases/tag/29.6.0)
- `29.6.0`

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-11-12 08:24] renovate-release commented on #5535
:tada: This issue has been resolved in version 29.6.0 :tada:

The release is available on:
- [GitHub release](https://github.com/renovatebot/renovate/releases/tag/29.6.0)
- `29.6.0`

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-11-12 08:24] renovate-release commented on #3339
:tada: This issue has been resolved in version 29.6.0 :tada:

The release is available on:
- [GitHub release](https://github.com/renovatebot/renovate/releases/tag/29.6.0)
- `29.6.0`

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-11-12 08:52] astellingwerf commented on #5667
Now that #5558 is merged into the trunk, I'd like to take a stab at this one. I had already worked on this this summer, but @JamieMagee was not fully done with the replacement impl back then.

[2021-11-12 10:44] olegkrivtsov commented on #3933
Hi @rarkins I tried to reproduce on this repo: https://github.com/olegkrivtsov/renovate-special-chars

I created several test files with special chars and tried to run Renovate in Linux Ubuntu 20.04 with `{enabled: true}` and `{enabled:false}`. But it worked as expected, I see no errors.

What OS should I use for reproducing? I guess Linux?

[2021-11-12 11:34] rarkins commented on #3933
Let's close until we can get a working reproduction

[2021-11-12 11:34] #3933 closed

[2021-11-12 12:13] olegkrivtsov commented on #2868
I tried to map those functions to the API endpoints (https://docs.aws.amazon.com/codecommit/latest/APIReference):

[code]
The above are not available. CodeCommit doesn't support issues.

[code]
It seems that vulnerability alerts are not supported by CodeCommit.

[code]
https://docs.aws.amazon.com/codecommit/latest/APIReference/API_GetFile.html

[code]
https://docs.aws.amazon.com/codecommit/latest/

[2021-11-12 12:24] XFNeo opened #12621 "Assignees is not working on GitLab"
### How are you running Renovate?

Self-hosted

### If you're self-hosting Renovate, tell us what version of Renovate you run.

renovate/renovate:29

### Please select which platform you are using if self-hosting.

GitLab self-hosted

### If you're self-hosting Renovate, tell us what version of the platform you run.

13.3.5

### Describe the bug

I have set assignees on renovate.json in my repo, b

[2021-11-12 15:23] scrocquesel opened #12623 "Replacing deprecated dependencies for docker datasource only replace version"
### How are you running Renovate?

WhiteSource Renovate hosted app on github.com

### If you're self-hosting Renovate, tell us what version of Renovate you run.

_No response_

### Please select which platform you are using if self-hosting.

_No response_

### If you're self-hosting Renovate, tell us what version of the platform you run.

_No response_

### Describe the bug

Using the following co

[2021-11-12 16:03] JamieMagee commented on #12623
Replacements are currently only implemented for npm, so I'll change this to a feature and update the documentation to make that clearer.

[2021-11-12 19:21] HonkingGoose opened #12625 "Replacement PR body text consfusion if repo has own custom rules"
### Describe the proposed change(s).

I suggested we add a text to the PR body during the review process [^PR]:

https://github.com/renovatebot/renovate/blob/a2c39b91fd95693a6bb5970c7d192382ca8fb1f2/lib/config/options/index.ts#L1231-L1233

But I just realized: a repository admin set their own replacements in the `renovate.json` file and then the wording is confusing.

Maybe we can change the code

[2021-11-12 19:30] HonkingGoose opened #12626 "Replacement PRs are only implemented for npm right now"
### Describe the proposed change(s).

Replacement PRs are only implemented for npm right now [^issue]. The docs should be updated to mention this limitation.

[^issue]: https://github.com/renovatebot/renovate/issues/12623#issuecomment-967228811

[2021-11-13 04:23] RahulGautamSingh commented on #12062
@viceice I have made the certain changes to the commit-message model and added test cases for the same.
I was wondering if I should check for empty commit messages or not, if yes what should I return in such case.
[code]

[2021-11-13 05:25] RahulGautamSingh commented on #10962
Was making changes to the same file when I came across this issue, and it seemed that minor update will close this issue so I wrote this snippet.
[code]
added a test
[code]
 Will this addition resolve this issue?

[2021-11-13 10:31] RahulGautamSingh commented on #12071
Hey @rarkins I can start working on this issue once #12572 gets merged you can assign this to me.

[2021-11-13 14:25] philippe-granet opened #12635 "Gitlab - autodiscover by groups"
### What would you like Renovate to be able to do?

When using `autodiscover` (https://github.com/renovatebot/renovate/blob/main/docs/usage/self-hosted-configuration.md#autodiscover), Renovate retrieve all repositories that the bot account can access.
On my Gitlab Hosted instances, there is thousands of projetcs, and it takes long time to retrieve all theses projects.
I want to be able to retrieve

[2021-11-13 19:07] scrocquesel commented on #12414
@astellingwerf I think that package result is unaware of the state of the PR. We can already add label on the PR with package rule based on Package Results, so they are searchable.
Maybe we should be able to add label on the PR based on their state. IMHO, the only state it can be usefull is `prEdited`. This can be tracked in an another issue.

I'm not sure for `otherBranches` as I don't really und

[2021-11-13 22:54] pret-a-porter opened #12639 "Refactor global config to singleton class"
### Describe the proposed change(s).

As part of #9996 global config class can implement next interface:
[code]

[2021-11-14 05:44] rarkins commented on #12414
I'm ok with the idea if it can be implemented elegantly. Need to consider what empty array [] means. I'd prefer it means the same as null, and could be used as default instead.

Also, should these be top-level options only? E.g. not within packageRules

[2021-11-14 05:46] rarkins commented on #12635
Before moving to status:ready, it needs more information on the exact APIs used compared to today and how the config option would be named/used.

[2021-11-14 06:02] #8866 closed

[2021-11-14 06:14] renovate-release commented on #8866
:tada: This issue has been resolved in version 29.7.0 :tada:

The release is available on:
- [GitHub release](https://github.com/renovatebot/renovate/releases/tag/29.7.0)
- `29.7.0`

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-11-14 08:22] fgreinacher commented on #12635
Are you aware of the `autodiscoverFilter` option? It filters project based on their full path. On GitLab this includes the group, so you could set it to something like `{group-a,group-b}/*` to consider a subset of groups.

[2021-11-14 09:19] chalkygames123 opened #12642 "Revanote cannot find a preset that actually exists"
### How are you running Renovate?

WhiteSource Renovate hosted app on github.com

### If you're self-hosting Renovate, tell us what version of Renovate you run.

_No response_

### Please select which platform you are using if self-hosting.

_No response_

### If you're self-hosting Renovate, tell us what version of the platform you run.

_No response_

### Describe the bug

Revanote reports ["Can

[2021-11-14 09:39] rarkins commented on #12642
Use of : in custom preset names doesn't seem to be supported

[2021-11-14 11:06] at-wat opened #12645 "Go modules digest update is not working"
### How are you running Renovate?

WhiteSource Renovate hosted app on github.com

### If you're self-hosting Renovate, tell us what version of Renovate you run.

_No response_

### Please select which platform you are using if self-hosting.

_No response_

### If you're self-hosting Renovate, tell us what version of the platform you run.

_No response_

### Describe the bug

Existing Go modules up

[2021-11-14 11:19] philippe-granet commented on #12635
@fgreinacher I already use `autodiscoverFilter` option, but all projects are retrieved before filter them with `autodiscoverFilter`.
In my case, it retrieve 4767 projects in 1 minute (and lots of requests to Gitlab), and then filter them with `autodiscoverFilter: my-group/**` and keep only 229 projects:
[code]
The priority of this issue is low, as it actually works, it's only slow and do lots of r

[2021-11-14 11:20] rarkins commented on #12645
The hosted app switched to using the default golang proxy and it means that not every git commit triggers a new valid digest update. Previously Renovate was probably too eager to update digests

[2021-11-14 11:41] at-wat commented on #12645
In the reproduction repo I posted, current version of `golang.org/x/net` is on Aug 26 and the oldest update after the current version is on Sep 3.
![image](https://user-images.githubusercontent.com/8390204/141679309-312ad64d-21c9-40a4-8511-643d96d8e931.png)

[2021-11-14 12:06] rarkins commented on #12645
I can confirm that in a new go modules I run `go get -u golang.org/x/net` and get a result of `v0.0.0-20211112202133-69e39bad7dc2`. Also see it in the list here: https://pkg.go.dev/golang.org/x/net?tab=versions

Next things to check are:
1. Are we getting a value through the go proxy?
2. If not, should we get it through the proxy?
3. If we shouldn't get it through the proxy, then are we correctly

[2021-11-14 12:08] chalkygames123 commented on #12642
Given that [this PR](https://github.com/chalkygames123/front-end-template/pull/341) has been created, it should have worked before. Do you mean it was not intended to?

[2021-11-14 12:27] rarkins commented on #12642
It wasn't intended to work before, and was accidentally broken by a refactoring.

[2021-11-14 12:34] chalkygames123 commented on #12642
Okay, I'll update my config accordingly. Thank you! 😊

[2021-11-14 12:34] #12642 closed

[2021-11-14 13:01] JavierSegoviaCordoba opened #12646 "Renovate doesn't get the version from MavenCentral"
### How are you running Renovate?

WhiteSource Renovate hosted app on github.com

### If you're self-hosting Renovate, tell us what version of Renovate you run.

_No response_

### Please select which platform you are using if self-hosting.

_No response_

### If you're self-hosting Renovate, tell us what version of the platform you run.

_No response_

### Describe the bug

Renovate is failing to

[2021-11-14 13:19] fgreinacher commented on #12635
Understood, thanks for clarifying!

[2021-11-14 14:35] #12646 closed

[2021-11-14 14:47] renovate-release commented on #12646
:tada: This issue has been resolved in version 29.7.1 :tada:

The release is available on:
- [GitHub release](https://github.com/renovatebot/renovate/releases/tag/29.7.1)
- `29.7.1`

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-11-14 15:32] astellingwerf commented on #12417
Looks like someone has hit by the same design decision, and is working around it: #12646

[2021-11-14 16:24] HonkingGoose commented on #12639
I think you mean singleton, not single-tone. 🎵

[2021-11-14 17:00] rarkins commented on #7840
https://github.blog/2021-11-10-make-your-monorepo-feel-small-with-gits-sparse-index/

[2021-11-14 18:30] scrocquesel commented on #12414
I use the same design as the existing `dependencyDashboardLabels`. Whatever the default value is, the three options should be aligned.

Repo errors may not be hit with package rules as it can result in no package or update. It may be interesting for package lookup errors (e.g. authent issues) but I don't see why only some errors should be notified by a label. E.g. npm dev dependencies but not npm

[2021-11-14 18:44] JavierSegoviaCordoba commented on #12646
Do you know when my repos will start to use that release? Currently, I am still seeing errors.

[2021-11-14 18:46] pret-a-porter commented on #12639
@HonkingGoose yeah, indeed :))

[2021-11-14 18:56] szmarczak commented on #12576
I ran locally 100k+ requests to npm and all were successful 🤔 Does it happen only with npm?

[2021-11-14 19:00] MartijnVisser commented on #12576
Yes, nothing in the logs outside of NPM

[2021-11-14 19:26] rarkins commented on #12646
You can check the version of renovate running in production in each log at the start. Typically new versions are updated in production any time between an hour and a few days

[2021-11-14 19:49] szmarczak commented on #12576
From the logs, it skipped the first 114688 bytes, saved the next 4726 bytes, and paused before the next 1212171 bytes (total: 1331585). Having in mind no there's no `keepAlive`, this is a very unusual bug. I went through the source code (v11.8.2) again and can't see how it would leak. A tcpdump of the request would help (maybe).

Can you try setting `decompress` to `false`?

[2021-11-14 21:42] scrocquesel commented on #12414
If we can have a rule object with at least `matchBranchResult` and `dependencyDashboardLabels`, it could solve the issue (apart from repo problems that still need a top-level options).

Assuming we can use PackageRule to do so, use cases could be :

[code]

[2021-11-15 00:13] thor commented on #12042
Yes and no: in terms of making simple reading-based requests, I'd say yes. In terms of altering content, or pushing any type of updates, I'm not sure: I've never tried to `POST` through it. That being said, when it comes to fetching it does feel as though it is a fully transparent proxy. We've never had issues with any typically read-based method such as `LIST`, `GET` or `OPTIONS`.

[2021-11-15 01:57] at-wat commented on #12645
If there is a staging instance of renovate server, connecting staging renovate to some repositories which always have dependencies not yet updated would help finding this kind of problems, I guess.

[2021-11-15 06:16] #12645 closed

[2021-11-15 06:29] renovate-release commented on #12645
:tada: This issue has been resolved in version 29.8.3 :tada:

The release is available on:
- [GitHub release](https://github.com/renovatebot/renovate/releases/tag/29.8.3)
- `29.8.3`

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-11-15 08:23] HonkingGoose commented on #12639
@zharinov, @viceice and @JamieMagee, can you take a look at this issue, and say if this is a good course of action or not? In the linked issue [^issue] you also got asked to look at the proposal before starting, so that's why I'm asking for your review here as well.

[^issue]: https://github.com/renovatebot/renovate/issues/9996#issuecomment-913129658

[2021-11-15 10:01] lpfann opened #12664 "Renovate specifying non-existing PyPI version"
### How are you running Renovate?

Self-hosted

### If you're self-hosting Renovate, tell us what version of Renovate you run.

27.19.2

### Please select which platform you are using if self-hosting.

github.com

### If you're self-hosting Renovate, tell us what version of the platform you run.

_No response_

### Describe the bug

We are self-hosting Renovate and found an issue with one of the d

[2021-11-15 10:39] rarkins commented on #12664
The chances that Renovate "invents" a version which doesn't exist - especially one so feasible as 1.9.1.1 - is close to zero. If you cannot reproduce the problem with the public registry but it reproduces internally, it means there's something strange going on with your private registry. *Maybe* it's still a Renovate bug, but the only chance for it to be fixed is if you debug it.

Therefore we nee

[2021-11-15 11:10] rarkins commented on #12042
You'd need token authentication for github.com too, otherwise you'd hit rate limiting very quickly. How is that handled?

[2021-11-15 11:45] at-wat commented on #12645
Confirmed that PRs updating digest are back on reproduction repo.
Thank you for the speedy fix.

[2021-11-15 12:10] astellingwerf commented on #5667
Watchers, can you guide me a bit, as I'm not too familiar with the standard development practices in this community?

There are the datasource aspects of this task, and then there are the managers. The datasource was easy to get done, but now that it detects the replacement, none (but the NPM changes set up by @JamieMagee) of the managers know how to handle it. The DD will propose to create a PR,

[2021-11-15 14:07] rarkins commented on #5667
Yes, could be good to add that flag and log a warning if we find an attempted replacement for a manager which doesn't support it.

[2021-11-15 14:52] thor commented on #12042
Artifactory handles that on its side; we configure Artifactory to use the specified token for communication with github.com. If multiple teams need access to the extent that we need multiple tokens, we could/would create `some/api/path/new-team/github` and allow users to point to that. Currently we only use the one `some/api/path/github` where we have a read token.

If it's a straightforward `Bear

[2021-11-15 15:04] XFNeo commented on #12621
I have notice that without deleting branch\MR assignee is not being set

[2021-11-15 15:23] MartijnVisser commented on #12576
@szmarczak Can I do that in the Github hosted app? I can't find that option in the documentation at https://docs.renovatebot.com/configuration-options/ ?

[2021-11-15 16:16] The-Code-Monkey opened #12670 "Fix current security issues"
### How are you running Renovate?

WhiteSource Renovate hosted app on github.com

### If you're self-hosting Renovate, tell us what version of Renovate you run.

_No response_

### Please select which platform you are using if self-hosting.

_No response_

### If you're self-hosting Renovate, tell us what version of the platform you run.

_No response_

### Describe the bug

It doesn't seem to be

[2021-11-15 20:44] pret-a-porter commented on #12639
Yeah, I had provided few examples but did not receive any feedback

[2021-11-15 20:46] viceice commented on #12639
@pret-a-porter  please go ahead, looks good so far. 🤗

[2021-11-16 00:49] vntw commented on #12595
Hey, looks like this is a general issue, not specific to Azure. Just spent a few hours debugging this since it stopped working for me too - we're using the following preset format in self-hosted GitLab:
[code]
This accesses a `presetfile.json` and searches for the `presetname` key after loading the file.

## 29.0.1
This works as expected:
[code]

## 29.0.1 with 75798754151ef4078eff9ba0a57b8f861678

[2021-11-16 04:27] viceice commented on #12595
Yes, they where supported by accident.

[2021-11-16 04:29] viceice commented on #12595
@vntw can you try to removbe the space: `gitlab>some/group/configs:presetfile/presetname(1,monday)`

[2021-11-16 04:56] timmkrause commented on #12595
This implies that it won't come back?

[2021-11-16 05:01] viceice commented on #12595
No decision yet, waiting for some other maintainer reponses. But spaces seems to be bad practice anyway to me 🤷‍♂️

[2021-11-16 05:12] JamieMagee commented on #5667
I'm not sure we require a new flag. I was looking into this for Docker, and this is the key codepath:

https://github.com/renovatebot/renovate/blob/ab018191fac6961b5f9d0a73261ac8fba0b4566f/lib/workers/branch/get-updated.ts#L97-L103

If a manager has a custom `updateDependency` method defined, we use that, otherwise use `doAutoReplace`. In the case of `npm` and `maven` managers, they do have a cust

[2021-11-16 05:32] timmkrause commented on #12595
I agree with you. But at least some platforms do allow it though and it's questionable if an unspecifiale number of users which may not be in full control of their ("legacy") project names (organizational constraints, conventions etc.) should be locked out.

Personally I see this as a chance/reason to get rid of it.

Would an error message make sense in case it stays?

[2021-11-16 07:35] rarkins commented on #12595
I don't think anyone's forced to add presets to "legacy" projects though are they? So then the only scenario would be if someone has an org-wide policy that they must use spaces. Or have I misunderstood?

[2021-11-16 07:40] rarkins commented on #5667
FWIW (not related to Maven) I'm assuming that autoReplace could be enhanced to support a replacement name in a similar way it today can support a new value/version. I would suggest we do them as two separate routines, i.e. don't try to replace both package name and version at once.

[2021-11-16 07:50] rarkins commented on #12042
We could potentially solve this with a new config option as part of hostRules, e.g. called `replaceHost` or similar.

Can someone give a more concrete example, for example what would the URL `https://api.github.com/repos/mapstruct/mapstruct/tags?per_page=100` be replaced with?

And do you have a separate proxy endpoint for `https://github.com/` too?

[2021-11-16 07:54] rarkins commented on #12576
This requires code changes from us and affects most requests we send, right?

![image](https://user-images.githubusercontent.com/6311784/141943666-4c852983-4ff5-4305-8310-95efe2cbccc5.png)

[2021-11-16 08:28] tomirio619 opened #12682 "pipenv aws-cdk dependencies cannot be resolved"
### How are you running Renovate?

Self-hosted

### If you're self-hosting Renovate, tell us what version of Renovate you run.

29.8.4

### Please select which platform you are using if self-hosting.

gitlab.com

### If you're self-hosting Renovate, tell us what version of the platform you run.

14.4.2-ee

### Describe the bug

I have private Gitlab repository that contains a `Pipfile` with the fo

[2021-11-16 09:10] dprilmueller commented on #12042
The URL would be replaced with something like:
https://proxy.company.com/some/repos/mapstruct/tags?per_page=100

Yes, if renovate also accesses https://github.com (not only api.github.com) we need a seperate proxy endpoint for that as well.

[2021-11-16 09:28] rarkins commented on #12042
So the new option could be called `hostProxy` and accepts a URL like `https://githubapiproxy.company.com` or `https://proxy.company.com/githubapi/`.

It would be somewhat similar to `insecureRegistry` in that it changes the URL (https://github.com/renovatebot/renovate/blob/4b16903ff1868a75a9598dad685fde7a60e2b2bd/lib/datasource/docker/common.ts#L252-L254) although should be implemented in [lib/uti

[2021-11-16 09:54] olegkrivtsov commented on #3653
I'd like to take this one.

[2021-11-16 09:56] rarkins commented on #3653
I think we need a reproduction repo or two first

[2021-11-16 10:03] rarkins commented on #12414
Another related point: users have different expectations on what dependency dashboard labels means:
- Is it labels that are added on issue creation, and then never again modified after it exists?
- Is it labels that Renovate should ensure are always there (meaning that if you modify your config, or remove labels, you'll see Renovate add the labels to the issue). It means that if you had label "foo

[2021-11-16 10:13] The-Code-Monkey commented on #12670
@rarkins I added the logs now that I am on my PC.

[2021-11-16 10:31] olegkrivtsov commented on #7612
I'd like to take this one.

[2021-11-16 10:47] tomirio619 commented on #12682
I've added an reproduction repository to my issue description

[2021-11-16 10:50] rarkins opened #12687 "Handle GitHub GraphQL ECONNRESET"
### Describe the proposed change(s).

Example log from the hosted app:

[code]

We should try reducing the pagination count in such a case

[2021-11-16 11:06] rarkins commented on #12670
Here's the vulnerability summary:

[code]

I don't think any of these are your direct dependencies, so right now Renovate can't update them. Hopefully "coming soon" though.

[2021-11-16 11:08] The-Code-Monkey commented on #12670
Ah right that makes sense, so it can only update the ones that are directly referenced in the package.json, no worries.

[2021-11-16 11:10] viceice commented on #12670
You can try our lockfile maintenance to update transitive does to latest in-range versions

[2021-11-16 11:25] tobiasgies opened #12690 "ignoreSpringCloudNumeric workaround no longer appropriate"
### How are you running Renovate?

Self-hosted

### If you're self-hosting Renovate, tell us what version of Renovate you run.

29.8.5

### Please select which platform you are using if self-hosting.

GitLab self-hosted

### If you're self-hosting Renovate, tell us what version of the platform you run.

14.4.1

### Describe the bug

Dear Maintainer,

the workaround preset `ignoreSpringCloudNumeric

[2021-11-16 11:35] vntw commented on #12595
Unfortunately not, it **isn't related to spaces** and/or parameters, they are parsed before any regexp is executed (which is what was changed in the mentioned commit, parameters weren't touched):
https://github.com/renovatebot/renovate/blob/4aa5b52992c5b26b4b91ced4a589e61045784c6d/lib/config/presets/index.ts#L103-L109

Previously, for my preset string, a simpler regexp was used to define the vario

[2021-11-16 11:41] viceice commented on #12595
I think we won't revert that, a slash is also a bad char for JavaScript identifiers, so should be avoided.

So simply replace that by a dash or something else which is supported. 🤷‍♂️

[2021-11-16 13:12] vntw commented on #12595
Sorry I don't get that. I'm trying to pass `presetfile/presetname` as the `filePreset` so that `fetchPreset` can split at `/`, read `presetfile.json` and access the `presetname` key:

https://github.com/renovatebot/renovate/blob/4aa5b52992c5b26b4b91ced4a589e61045784c6d/lib/config/presets/gitlab/index.ts#L66-L75

https://github.com/renovatebot/renovate/blob/4aa5b52992c5b26b4b91ced4a589e61045784c6d/

[2021-11-16 13:15] patrickuhlmann opened #12695 "Fail to update Spring Boot Maven project"
### How are you running Renovate?

Self-hosted

### If you're self-hosting Renovate, tell us what version of Renovate you run.

29.6.0

### Please select which platform you are using if self-hosting.

Bitbucket Server

### If you're self-hosting Renovate, tell us what version of the platform you run.

Atlassian Bitbucket v7.16.0

### Describe the bug

When I run renovate the following error occurs

[2021-11-16 13:18] patrickuhlmann commented on #12695
In one case it was unable to create a branch and pull request, in another example it could create the pull request but the pom was invalid (as shown in the debug logs)

[2021-11-16 14:09] viceice commented on #12595
Ok, sorry, i misunderstand. It really looks like a regession of #11565.

Before we hat the double slash as delimitter for preset paths: `local>abc/foo//path/xyz`, so `local>abc/foo:filename/xyz` worked as subpreset.

I saw the docs where a little unclear about that and also we probably had no test for that, so the subpreset feature got's silently removed.

I think #8724 is also related.

@rarkins

[2021-11-16 14:29] rarkins commented on #12670
#3080 is for tracking this capability. It's already done for npm v6 but not yet for npm v7+ or yarn. I'll close this so we don't have a duplicate

[2021-11-16 14:29] #12670 closed

[2021-11-16 15:12] rarkins commented on #12595
I guess if we can't "roll forward" then we should roll back.

[2021-11-16 15:16] #12687 closed

[2021-11-16 15:30] renovate-release commented on #12687
:tada: This issue has been resolved in version 29.9.1 :tada:

The release is available on:
- [GitHub release](https://github.com/renovatebot/renovate/releases/tag/29.9.1)
- `29.9.1`

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-11-16 16:03] viceice commented on #12595
Maybe we can roll forward and move the path back to allow this: `local>org/repo//path/to/file:subpreset#1.5.4`

[2021-11-16 17:09] rarkins commented on #12695
Hi, can you create the reproduction repository on github.com so that we can fork it into our reproductions org?

[2021-11-16 17:12] rarkins commented on #12682
Hi, can you copy it over to github.com? We need that in order to fork it into our reproductions org

[2021-11-16 18:11] tomirio619 commented on #12682
@rarkins I've copied it over to Github (see updated issue description)

[2021-11-16 18:50] HonkingGoose commented on #12690
The head maintainer gave your proposal a thumbs up, so I'm labeling this issue `status:ready` and will assign it to you so you can work on the PR. 😉

[2021-11-16 18:51] tfabraham commented on #7310
Renovate is now using v11.0.1 of `azure-devops-node-api`, so the blocking issue noted by @JamieMagee in March should be resolved. Any possibility of getting a fix together now? This is causing us quite a bit of pain. Thanks!

[2021-11-16 21:43] tobiasgies commented on #12690
awesome, I'll probably have something ready tomorrow. Thanks!

[2021-11-16 23:37] szmarczak commented on #12576
Yes. I guess this could be an env option, right?

[2021-11-17 03:18] kamilic commented on #8323
any resolutions ?

[2021-11-17 05:20] m1n9o commented on #2334
Any progress on this?

[2021-11-17 06:37] rarkins commented on #9800
Here's what I think needs to be done:
1. The JSON file can likely be updated with autoReplace like most managers
2. There needs to be an "updateArtifacts()" function added for the new manager
3. That updateArtifacts would need to call `jb`, which therefore needs to be added to https://github.com/containerbase/buildpack. Looks like it's installable via Go, so would need to e.g. run in a Go-compatib

[2021-11-17 06:52] rarkins opened #12703 "Use repo cache to remember graphql pagination size"
### What would you like Renovate to be able to do?

Following on from https://github.com/renovatebot/renovate/pull/12689 it would be ideal if Renovate can remember what pagination size "worked" on a repo and use that the next time as starting pagination value instead of try/decrease/retry starting at 100.

### If you have any ideas on how this should be implemented, please tell us here.

Although

[2021-11-17 07:11] brechtvhb commented on #7310
OOoh, that would make me happy! :)

[2021-11-17 07:21] rarkins commented on #12576
We've greatly reduced the Maven Central request load but still seeing the npmjs timeouts in this repo, so they seem related.

@szmarczak are there any code snippets for converting from decompress=true to decompress=false? e.g. receiving a compressed Buffer.

[2021-11-17 07:48] xens commented on #6562
@JamieMagee any plans to do it ? Or looking for help ?

[2021-11-17 08:23] lukashass commented on #8323
@Hebilicious I tried to reproduce your issue in https://github.com/lukashass/renovate-pnpm-reproduction. Everything seems to be working as expected though.

Can you or @BeeeQueue provide a reproduction for your issue?

[2021-11-17 09:03] viceice opened #12707 "Launchpad Datasource"
### What would you like Renovate to be able to do?

Create a new launchpad datasource, so we can better apply git updates.

### If you have any ideas on how this should be implemented, please tell us here.

Sure, see https://github.com/containerbase/buildpack/issues/188

### Is this a feature you are interested in implementing yourself?

Yes

[2021-11-17 10:40] tobiasgies commented on #12690
PR is now open: #12711

[2021-11-17 14:15] cjpearson opened #12714 "Renovate reformats package-lock.json"
### How are you running Renovate?

Self-hosted

### If you're self-hosting Renovate, tell us what version of Renovate you run.

v29.10.0

### Please select which platform you are using if self-hosting.

gitlab.com

### If you're self-hosting Renovate, tell us what version of the platform you run.

_No response_

### Describe the bug

During an update renovate rewrites the package-lock.json to use

[2021-11-17 15:04] #6155 closed

[2021-11-17 15:09] viceice opened #12717 "Support Gitea draft PR's"
### What would you like Renovate to be able to do?

Renovate should support draft PR's on Gitea like it works on Gitlab.

A Gitea draft PR has the `WIP:`  or `[WIP]:`  prefix by default, but this value is configurable.

https://docs.gitea.io/en-us/config-cheat-sheet/#repository---pull-request-repositorypull-request

### If you have any ideas on how this should be implemented, please tell us here.

[2021-11-17 15:18] renovate-release commented on #6155
:tada: This issue has been resolved in version 29.11.0 :tada:

The release is available on:
- [GitHub release](https://github.com/renovatebot/renovate/releases/tag/29.11.0)
- `29.11.0`

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-11-17 15:21] #12714 closed

[2021-11-17 15:31] rarkins commented on #12695
It does not reproduce. Maybe you meant to use version 2.5.5 instead of 2.5.6?

[2021-11-17 15:33] #12695 closed

[2021-11-17 15:34] renovate-release commented on #12714
:tada: This issue has been resolved in version 29.11.1 :tada:

The release is available on:
- [GitHub release](https://github.com/renovatebot/renovate/releases/tag/29.11.1)
- `29.11.1`

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-11-17 15:42] rarkins commented on #12682
I've tested against #12544 and found it fixes the problem. See https://github.com/renovate-reproductions/renovate-12682/pull/1

[2021-11-17 16:02] cjpearson commented on #12714
Thanks for the quick fix!

[2021-11-17 16:02] #12682 closed

[2021-11-17 16:17] renovate-release commented on #12682
:tada: This issue has been resolved in version 29.12.1 :tada:

The release is available on:
- [GitHub release](https://github.com/renovatebot/renovate/releases/tag/29.12.1)
- `29.12.1`

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-11-17 17:00] #12621 closed

[2021-11-17 17:00] #12561 closed

[2021-11-17 17:15] renovate-release commented on #12621
:tada: This issue has been resolved in version 29.12.2 :tada:

The release is available on:
- [GitHub release](https://github.com/renovatebot/renovate/releases/tag/29.12.2)
- `29.12.2`

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-11-17 17:15] renovate-release commented on #12561
:tada: This issue has been resolved in version 29.12.2 :tada:

The release is available on:
- [GitHub release](https://github.com/renovatebot/renovate/releases/tag/29.12.2)
- `29.12.2`

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-11-17 18:07] HonkingGoose commented on #6237
@rarkins I saw you wanted to support the Deno datasource and manager on Slack. Turns out you already had a issue to add the Deno package manager. 😄

Do you want a new issue that tracks Deno datasource support, or do you want to use the current issue for that?

You might want to increase the priority of this issue as well maybe?

[2021-11-17 18:16] rarkins commented on #6237
Yes, let's implement the datasource first, and it can be a separate issue

[2021-11-17 18:22] HonkingGoose opened #12724 "Deno datasource"
### What would you like Renovate to be able to do?

Create a Deno datasource.
This is needed before we can start on the Deno package manager support in issue #6237.

### If you have any ideas on how this should be implemented, please tell us here.

No ideas on how to implement this. 😉

### Is this a feature you are interested in implementing yourself?

No

[2021-11-17 18:38] lukasmrtvy commented on #9800
What about https://github.com/grafana/tanka? Do We need to implment another manager? Tanka is using jb too.

[2021-11-17 18:49] rarkins commented on #12595
I've prepared the revert in #12725 but unfortunately that too would be *breaking* for anyone who's added preset tags already.

[2021-11-17 19:05] rarkins commented on #12595
Still attempting to "roll forward", I think this PR fixes @timmkrause's original problem in this issue: #12726

[2021-11-17 19:06] h3llrais3r opened #12727 "Renovate skips packages in requirements.txt with environment markers"
### How are you running Renovate?

WhiteSource Renovate hosted app on github.com

### If you're self-hosting Renovate, tell us what version of Renovate you run.

_No response_

### Please select which platform you are using if self-hosting.

_No response_

### If you're self-hosting Renovate, tell us what version of the platform you run.

_No response_

### Describe the bug

I have a requirements

[2021-11-17 21:27] rarkins commented on #12595
@viceice I'm not seeing any quick way forward with the sub-presets. Was your idea to support them exactly as they were before, or require a slight change in syntax?

[2021-11-17 21:31] viceice commented on #12595
I'm not sure, but my idea was to revert the new syntax partially and hope we don't cause too many issues.

I'll try to open a PR tomorrow morning. If I'm not able to fix it, we probably need to revert in a major bump?

[2021-11-17 21:39] #12612 closed

[2021-11-17 21:52] rarkins commented on #12727
Please reduce it to a minimal reproduction (sounds like a single outdated dependency in a requirements.txt is enough) so that we can fork it into our reproductions org for testing

[2021-11-17 22:07] scrocquesel commented on #12414
Currently, for dependency dashboard labels, Renovate ensure the configured labels and only them are set on the issue (it replaces all labels with the one configured when the dashboard board issue is updated (which may not be on each run)).
The purpose of this issues is to reflect the current content of the dashboard issue as label. Therefore, the only meaningfull option is to replace labels too.
T

[2021-11-17 23:06] 100terres commented on #3670
Hi :wave: On one of the project I'm working, we are currently migrating from dependabot to renovate :tada: :slightly_smiling_face:

But we've noticed that PRs opened for `rubygems` do not include the change logs/release notes and the link to the repository as it does for `npm`. It's also a feature provided by `dependabot`. It is probably related to [this current issue](https://github.com/renovateb

[2021-11-18 08:14] GoetzGoerisch opened #12732 "git-submodule: Raises PR to set deps to an older commit although the submodule is up-to-date"
### How are you running Renovate?

WhiteSource Renovate hosted app on github.com

### If you're self-hosting Renovate, tell us what version of Renovate you run.

_No response_

### Please select which platform you are using if self-hosting.

_No response_

### If you're self-hosting Renovate, tell us what version of the platform you run.

_No response_

### Describe the bug

Using git-submodule to

[2021-11-18 08:36] rarkins commented on #12732
Provided repository is not a minimal reproduction

[2021-11-18 08:38] rarkins commented on #12732
Link to the updated commit in the example: https://github.com/amrayn/easyloggingpp/commit/56370b0

It's from 2013 so not even close. If you can create a minimal reproduction repo then we can debug it further.

[2021-11-18 08:44] rarkins commented on #12414
Good point, this functionality wouldn't work unless we also remove labels

[2021-11-18 09:01] rarkins opened #12734 "Renovate can't push git refs if tags match branch names"
### How are you running Renovate?

WhiteSource Renovate hosted app on github.com

### If you're self-hosting Renovate, tell us what version of Renovate you run.

_No response_

### Please select which platform you are using if self-hosting.

_No response_

### If you're self-hosting Renovate, tell us what version of the platform you run.

_No response_

### Describe the bug

If a repo uses Renovat

[2021-11-18 09:45] GoetzGoerisch commented on #12732
@rarkins thanks for the explanation.

Minimal example: https://github.com/GoetzGoerisch/renovate-minimal

[2021-11-18 09:45] #12595 closed

[2021-11-18 09:48] rarkins commented on #12732
Does it only reproduce if there's 7 submodules?

[2021-11-18 09:56] GoetzGoerisch commented on #12732
Removed the 5 submodules in https://github.com/GoetzGoerisch/renovate-minimal/commit/84fc3a5d4705e55b3d3744f81290a1a5b62951e4 which worked so far in the production repo above.

renovate is raising PRs to older commits for these remaining two dependencies.

[2021-11-18 10:00] renovate-release commented on #12595
:tada: This issue has been resolved in version 29.12.6 :tada:

The release is available on:
- [GitHub release](https://github.com/renovatebot/renovate/releases/tag/29.12.6)
- `29.12.6`

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-11-18 11:15] olegkrivtsov commented on #11792
I'd like to help with this one.

[2021-11-18 11:17] HonkingGoose commented on #12584
Is this something you want to work on @JavierSegoviaCordoba?

[2021-11-18 11:21] HonkingGoose commented on #12417
If the new behavior is intended, maybe we can close the issue, if we're not going to change things?

What do you think @rarkins?

[2021-11-18 11:25] olegkrivtsov commented on #7620
I'd like to take this one.

[2021-11-18 11:34] rarkins commented on #12584
I have reclassified this as a low-importance feature, ready to be worked on if someone wants. Without it, you need to use packageRules to apply the custom versioning

[2021-11-18 11:41] #12734 closed

[2021-11-18 11:43] rarkins commented on #12732
logs locally:

[code]

[2021-11-18 11:51] rarkins commented on #12732
Here's the rawRefs:

[code]

`HEAD` is correct, but `master` is what we look for. Using raw git:

[code]

[2021-11-18 11:55] renovate-release commented on #12734
:tada: This issue has been resolved in version 29.12.7 :tada:

The release is available on:
- [GitHub release](https://github.com/renovatebot/renovate/releases/tag/29.12.7)
- `29.12.7`

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-11-18 11:55] astellingwerf commented on #12417
I don't understand the design: "Despite versioning on Docker being extremely muddy, we must enforce some rules to find a few tags on a reliably but rather arbitrarily selected image, and that hope they make any sense for the image that is selected based on actual in-depth knowledge and configuration."

[2021-11-18 12:22] olegkrivtsov commented on #7612
My plan for implementing this:

1. Edit `lib/workers/branch/schedule.ts` and modify the code which validates the schedule:
https://github.com/renovatebot/renovate/blob/4c36af9d6ccf4c02ddbe6eec632805abccbcfebc/lib/workers/branch/schedule.ts#L26

Make it check for cron syntax as well. Use https://github.com/cheap-glitch/mi-cron and try to parse each schedule string. If it parses ok, consider it vali

[2021-11-18 12:41] JavierSegoviaCordoba commented on #12584
@HonkingGoose, sadly I have no experience in web development and/or JavaScript and I have no time to learn about it right now, maybe in the future.

If you were asking because you want to work on it, feel free to take it :)

[2021-11-18 13:26] onigoetz opened #12736 "Big performance regression in Renovate 28.11.1 because of `re2`"
### How are you running Renovate?

Self-hosted

### If you're self-hosting Renovate, tell us what version of Renovate you run.

28.11.1

### Please select which platform you are using if self-hosting.

GitHub Enterprise Server

### If you're self-hosting Renovate, tell us what version of the platform you run.

GHE 3.2.1

### Describe the bug

As mentioned in : https://github.com/renovatebot/renova

[2021-11-18 13:36] #12732 closed

[2021-11-18 13:44] GoetzGoerisch commented on #12732
Thanks!

[2021-11-18 13:46] rarkins commented on #12736
I think that's a clever workaround and worth applying immediately. @viceice WDYT?

[2021-11-18 13:50] renovate-release commented on #12732
:tada: This issue has been resolved in version 29.12.8 :tada:

The release is available on:
- [GitHub release](https://github.com/renovatebot/renovate/releases/tag/29.12.8)
- `29.12.8`

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-11-18 14:08] viceice commented on #12736
this can cause side effects on `string.replace` as the passed regex can't be reused. Not sure if this still applies to modern node v14+

[2021-11-18 14:10] onigoetz commented on #12736
What do you mean by string.replace and RegEx reuse ? it just answers with a RegEx instance, it still allows to use that instance more than once.

[2021-11-18 14:16] rarkins commented on #12736
PR: #12738

I ran it on a small repo and added some temporary stats and found it had a cache hit ratio of about 70%. For bigger repos with more dependencies I assume it's even higher.

[2021-11-18 14:17] viceice commented on #12736
https://stackoverflow.com/questions/2141974/javascript-regex-literal-with-g-used-multiple-times

[2021-11-18 14:20] rarkins commented on #12736
If we think it can be a concern, then we could exclude global patterns from the cache, however there's at least two ways to define tags.

[2021-11-18 14:22] onigoetz commented on #12736
Oh thanks for the link, I didn't know about that.

BTW maybe one remark, is it important to reset the cache between runs ? Just to be sure that the cache doesn't grow infinitely

[2021-11-18 14:25] viceice commented on #12736
One more interesting thing, regex like `/(b)/g` are statically compiled, so the same string is reused all the time, so it's all the same regex instance.

So caching should be ok as fast perf fix.

[2021-11-18 14:27] viceice commented on #12736
![image](https://user-images.githubusercontent.com/1798109/142433916-bcc6ca16-f361-4c53-a2fc-86661d657183.png)
So the issue from no longer seems to apply to nodejs

[2021-11-18 14:32] rarkins commented on #12736
I think it should stay the same size, shouldn't it?

[2021-11-18 14:41] rarkins commented on #12736
Let's close this once we confirm the new release is working and performance returned

[2021-11-18 15:03] onigoetz commented on #12736
I don't know if new regexes are created on-the-fly with custom parameters (user provided patterns)

[2021-11-18 15:14] HonkingGoose opened #12739 "All tests which use `aws-sdk` should use the `mockClient`"
### Describe the proposed change(s).

As requested by @viceice:

[^comment]: https://github.com/renovatebot/renovate/pull/11869#discussion_r750121279

[2021-11-18 16:07] vntw commented on #12595
Sorry for the noise but thank you for fixing this so quickly ❤️

[2021-11-18 16:13] ahoj-k8s opened #12742 "Disable auto-merge for .0 releases"
### What would you like Renovate to be able to do?

For our current project we would like to disable auto-merges for fresh minor releases, meaning `.0` releases. Experience shows lots of `.0` releases are error prone. Thus we want to wait until the next release after the `.0` one. So do not install automatically if there is a patch .0 release, just create a MR.

**Example**
Don't auto-merge if cur

[2021-11-18 16:55] #12742 closed

[2021-11-18 16:55] h3llrais3r commented on #12727
Minimal repo created: https://github.com/h3llrais3r/renovate-issue

[2021-11-18 17:11] rarkins commented on #12727
I think as a first step let's fix our extract parsing so that we no longer *skip* these dependencies. Doing so let's skip the constraints/markers but I'm interested if anyone wants to create a feature request for supporting those, with supporting documentation/links.

[2021-11-18 17:38] rarkins commented on #12736
Not seeing too much of a performance boost in the hosted app. Let me know what you find from your own testing.

[2021-11-18 18:28] onigoetz commented on #12736
Hmm that's curious. On my side most repos are 99% of maven (pom.xml) + yarn/npm packages.json files.
Maybe on that subset the performance difference is visible ?

[2021-11-18 18:43] rarkins commented on #12736
I think repos usually lean towards npm anyway, but maybe maven makes some difference

[2021-11-18 18:48] h3llrais3r commented on #12727
@rarkins
For me it would already be great if the dependencies are no longer skipped, because that's the main issue.
I'm not interested in the constraints/markers, but maybe it would be good to put it in a backlog as a possible improvement. 😉

[2021-11-18 18:56] onigoetz commented on #12736
Sorry it didn't improve anything for you then :/

I'll deploy your latest release tomorrow morning and confirm if it fixes the issue on my side (waiting for the Docker image to be released)

[2021-11-18 19:10] MartijnVisser commented on #12576
Since 3 hours ago, it suddenly appears to work again. Not sure if you've done anything on your end, but it is now progressing again:

![image](https://user-images.githubusercontent.com/2989614/142481069-a08af122-e03a-43d9-b27b-1551a3432436.png)

[2021-11-18 19:51] viceice commented on #12736
Docker images for 29.13.4 released. 🤗

[2021-11-18 19:54] viceice commented on #12736
@rarkins it looks like the issue description mixed v28 and v29 versions. 😏

[2021-11-18 22:27] szmarczak commented on #12576
Well, you can set the `accept-encoding` header manually and set `responseType` to `buffer`.

[2021-11-18 23:21] rarkins commented on #12576
And then also call a function like gzip too?

[2021-11-19 00:48] szmarczak commented on #12576
Correct. I'd try getting uncompressed data though, then when it happens I'm pretty sure that would be a Node.js bug.

[2021-11-19 00:48] szmarczak commented on #12576
Related: https://github.com/nodejs/node/issues/10358

[2021-11-19 02:51] olegkrivtsov commented on #11792
My plan for fixing this:

1. Edit `lib/platform/gitlab/index.ts` functions `createPr` and `updatePr`:

https://github.com/renovatebot/renovate/blob/789caadbb49e232ef74f59f5c41c1a6fbffee5c0/lib/platform/gitlab/index.ts#L545

Ensure that the `description` length is less than the limit of 1,048,576 characters (https://docs.gitlab.com/ee/api/merge_requests.html#create-mr). If it is longer, remove the

[2021-11-19 02:57] crystalGuo opened #12749 "Renovate doesn't recognize SBT double percent sign %% for private repository manager Nexus"
### How are you running Renovate?

Self-hosted

### If you're self-hosting Renovate, tell us what version of Renovate you run.

1.6.2

### Please select which platform you are using if self-hosting.

_No response_

### If you're self-hosting Renovate, tell us what version of the platform you run.

_No response_

### Describe the bug

Renovate doesn't recognize double percent sign(%%) from SBT when

[2021-11-19 07:08] viceice commented on #11792
You need to add an else block here:
https://github.com/renovatebot/renovate/blob/789caadbb49e232ef74f59f5c41c1a6fbffee5c0/lib/platform/gitlab/index.ts#L681-L688

[2021-11-19 08:31] rarkins commented on #7883
To solve this, we need to step through Renovate's logic and "unblock" the concept.

First of all, let's get a reproduction repo with maybe one dependency with a defined Gemfile constraint (needs updating) and another with no constraint but a Gemfile.lock value which needs updating.

From there, we need to make sure that gems without constraints in `Gemfile` are not populated with `skipReason` and

[2021-11-19 09:04] olegkrivtsov commented on #11792
Hi @viceice thank you, so my plan would be to check the version and if it is greater than 13.4, truncate to 1048576 chars.

[2021-11-19 09:06] rarkins commented on #11792
Make it 100,000 to be safe..

[2021-11-19 09:15] olegkrivtsov commented on #7620
I checked on my Ubuntu VM, and `require()` throws a `ReferenceError` when it can't find an env var:

[code]

If it can't find `config.ts`, `require()` throws an `Error` with the `code` field set to `MODULE_NOT_FOUND`: https://stackoverflow.com/questions/13197795/handle-errors-thrown-by-require-module-in-node-js

[code]

So, my plan for fixing this issue:

1. Edit `lib/workers/global/config/parse/f

[2021-11-19 09:19] andrein commented on #9800
I'm not using tanka, but this manager should work.

[2021-11-19 09:38] rarkins commented on #7620
@viceice I think this might conflict with or be made redundant by #12644, maybe should be canceled or deferred?

[2021-11-19 09:52] dsimon-onventis commented on #12303
I had a deeper look into it, and due to the position where the error is thrown, I'm pretty confident that this is happening while transforming the Azure PR to the Renovate PR format:

https://github.com/renovatebot/renovate/blob/b8e36daa87e4275caa5b66bffa6fe3f4d5d8a77e/lib/platform/azure/index.ts#L444

`pr` variable doesn't seem to contain the required information. This variable is set a few lines

[2021-11-19 09:59] #11863 closed

[2021-11-19 10:05] viceice commented on #11792
I think you simply need to add the else block and add the truncate there

[2021-11-19 10:12] renovate-release commented on #11863
:tada: This issue has been resolved in version 29.14.0 :tada:

The release is available on:
- [GitHub release](https://github.com/renovatebot/renovate/releases/tag/29.14.0)
- `29.14.0`

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-11-19 10:41] viceice commented on #7620
Yes, @olegkrivtsov Please defer this issue until we get this merged:
- #12644

[2021-11-19 10:43] viceice commented on #11792
I think you mean `1,000,000`. 😉

[2021-11-19 11:21] littldr commented on #7883
Sorry I was maybe a bit too eager with starting to implement something.

I created a reproduction repo: https://github.com/littldr/renovate-testing
It contains three gems, one without a version constraint, one with a "normal" version constraint and another one with an open ended constraint (as recommended in the [docs](https://docs.renovatebot.com/ruby/#caveats)). The current versions (in `Gemfile

[2021-11-19 12:41] rarkins commented on #7883
Everything about the idea is fine, it's more that setting currentValue artificially won't work. What should work is adding a few if/else statements around the place so that we can internally treat an empty/non-existing constraint as if it means "any". First step is to modify bundler/extract to *not* skip non-constrained dependencies plus make sure we've recorded their lockedVersion.

[2021-11-19 14:16] onigoetz commented on #12736
Confirmed that the issue is fixed with the docker image 29.13.3. 🤗  thanks for the quick fix !

No my issue was indeed with Renovate 28.11.1, it appeared when we upgraded from 27.21.0 to 29.3.3.
We directly noticed the performance drop. (Yeah next time we'll upgrade faster)
We first tried to upgrade to 29.8.3 see if it was an issue specific to 29.3.3 but that wasn't the case.
I then tried many oth

[2021-11-19 14:16] #12736 closed

[2021-11-19 14:29] rarkins commented on #12736
Thanks for your help

[2021-11-19 15:03] tennox opened #12762 "package age policy"
### What would you like Renovate to be able to do?

In thinking about recent npm package malware I thought it would be great to be able to only install upgrades that are older than X (e.g. 1 month) - and have no reported security issues.

### If you have any ideas on how this should be implemented, please tell us here.

The only way I found will reading through existing issues and docs is maybe a

[2021-11-19 15:23] viceice commented on #12762
https://docs.renovatebot.com/configuration-options/#stabilitydays ?

[2021-11-19 15:24] HonkingGoose commented on #12762
We already have this feature, it's called `stabilityDays` [^docs]. 😉

You can set `stabilityDays` to `31` so that you'll only ever get updates for packages that are a month old:

[code]

[^docs]: https://docs.renovatebot.com/configuration-options/#stabilitydays

[2021-11-19 15:26] mbrodala opened #12763 "Packages not grouped with "update-lockfile" range strategy"
### How are you running Renovate?

WhiteSource Renovate hosted app on github.com

### If you're self-hosting Renovate, tell us what version of Renovate you run.

_No response_

### Please select which platform you are using if self-hosting.

_No response_

### If you're self-hosting Renovate, tell us what version of the platform you run.

_No response_

### Describe the bug

Given the following `r

[2021-11-19 15:35] HonkingGoose commented on #12762
If you're going to follow the route of "delay all updates for 31 days" I recommend you check that you have:

- [ ] Turned on the Dependency Graph (if using GitHub)
- [ ] Enabled Dependabot alerts (if using GitHub)

Or you may miss critical security updates.

https://docs.renovatebot.com/configuration-options/#vulnerabilityalerts

[2021-11-19 21:02] edmeister opened #12769 "Terraform modules with bitbucket URLs could use the StabilityDays configuration option"
### What would you like Renovate to be able to do?

Terraform modules using bitbucket source URL's should be parsed as the `bitbucket-tags` datasource. This will enable the `StabilityDays` functionality.

See https://github.com/renovatebot/renovate/discussions/12565.

### If you have any ideas on how this should be implemented, please tell us here.

The terraform manager should have an extra claus

[2021-11-19 22:12] littldr commented on #7883
ah okay, I think I understand.

Extracting the `lockedVersion` works already for non-constrainted dependencies. `Gemfile.lock` contains the currently used version and the existing code extracts it as `lockedVersion`, so nothing to do here.

I changed #12744 to not skip non-constrained dependencies (and to enforce `rangeStrategy=update-lockfile`, because nothing else makes sense in this case). With

[2021-11-20 01:14] JamieMagee commented on #6562
@xens I would like to do it, but I don't have time right now. If you're interested in implementing it soon, I can provide support.

[2021-11-20 01:49] #12394 closed

[2021-11-20 06:15] ZetraDev opened #12771 "Wrong yarn lockfile version commited in every pr"
### How are you running Renovate?

WhiteSource Renovate hosted app on github.com

### If you're self-hosting Renovate, tell us what version of Renovate you run.

_No response_

### Please select which platform you are using if self-hosting.

_No response_

### If you're self-hosting Renovate, tell us what version of the platform you run.

_No response_

### Describe the bug

Everytime renovate bot

[2021-11-20 08:00] ZetraDev commented on #12771
here is the link of the reproduction repo:
https://github.com/ZetraDev/Temp-NextJS-App

The typescript version is 4.4 (which is not latest) to test renovate

[2021-11-20 08:04] viceice commented on #12771
You're repo is missing the yarn executable.

[2021-11-20 08:06] ZetraDev commented on #12771
what do you mean?

[2021-11-20 08:08] viceice commented on #12771
And the yarnrc. How do you invoke yarn manually?

[2021-11-20 08:08] ZetraDev commented on #12771
yarn cretae next-app

[2021-11-20 08:09] viceice commented on #12771
Normally yarn V2+ will install itself to the `.yarn` folder

[2021-11-20 08:11] viceice commented on #12771
Please create a github workflow so we can see the required command to restore deps and build the app.

[2021-11-20 08:13] ZetraDev commented on #12771
`yarn install` to install deps and `yarn build` to build the app

[2021-11-20 08:23] ZetraDev commented on #12771
and i have initialize yarn v3 in the repo

[2021-11-20 08:26] viceice commented on #12771
Can you now enable renovate on that repo to see the reproduction

[2021-11-20 09:04] rarkins commented on #12763
Groups are split between major and minor by default. If you really want them to be combined, you could try setting separateMajorMinor=false

[2021-11-20 09:13] ZetraDev commented on #12771
I have installed renovate and let it run check, for some reason it actually use yarn v3 to run check

[2021-11-20 09:47] HonkingGoose commented on #12762
@rarkins Not sure if we want to keep this issue for the `and have no reported security issues` part?

I don't think Renovate currently checks things like GitHub Vulnerability Warnings or `npm audit` output when it creates a PR?

[2021-11-20 10:42] scrocquesel commented on #12414
I'm stuck trying to implement this as it become more complex than I first thought. Package rules cannot be applied to `BranchConfig`. Thus, we need to reimplement the flattenning logic with `BranchConfig`.
We can tried to flow the matching package rules on the Branch Config during package analysis but the current logic will not be able to match the two last use case . Unless it knows there is some

[2021-11-20 12:47] andrein opened #12772 "Support for updating docker images in jib maven plugin"
### What would you like Renovate to be able to do?

Renovate should be able to update the base image used by the [jib maven plugin](https://github.com/GoogleContainerTools/jib/tree/master/jib-maven-plugin)

Example `pom.xml`:
[code]

### If you have any ideas on how this should be implemented, please tell us here.

I'm thinking of changing [depFromNode()](https://github.com/renovatebot/renovate/bl

[2021-11-20 13:00] viceice commented on #12772
As workaround you can use regex manager for now

[2021-11-20 13:07] andrein commented on #12772
I've thought of that, but I have about a hundred apps to keep up to date :) I'd rather implement this in renovate directly.

[2021-11-20 13:09] viceice commented on #12772
What about shared presets? we recommend to use them when you need same settings for multiple repos.
We do so ourself. :wink

[2021-11-20 13:12] rarkins commented on #12772
Is this (`plugin.configuration.from.image`) standardized in any way or essentially a proprietary?

[2021-11-20 13:12] #12762 closed

[2021-11-20 13:16] rarkins commented on #7883
We don't want to set `rangeStrategy=update-lockfile` automatically. Doing so would be inconsistent with the way things are in every other package manager. We may one day *default* to `update-lockfile` in general but in the meantime we don't want this.

[2021-11-20 13:17] andrein commented on #12772
I think we could use that. If we add it to onboardingConfig, is it possible to tell renovate to update all the repos with the new config?

I don't think it is standardized. I've only seen it used by the jib plugin so far.

[2021-11-20 13:17] rarkins commented on #12414
No to the concept of branch rules

[2021-11-20 13:18] #12772 closed

[2021-11-20 17:48] SamuelCabralCruz commented on #11428
Same for me

[2021-11-20 18:07] SamuelCabralCruz commented on #6647
I just faced same issue.
Solved my problem using:
[code]

[2021-11-20 22:29] SamuelCabralCruz commented on #6647
Finally, my reply above is wrong.
The way I succeed to fix is by specifying the "placeholder version" in the replace statement.

Example:

[code]

[2021-11-20 22:29] SamuelCabralCruz commented on #11428
@daniel-zhang-dz finally got it working see [issue comment](https://github.com/renovatebot/renovate/issues/6647#issuecomment-974720502)

[2021-11-21 12:52] #12303 closed

[2021-11-21 13:06] renovate-release commented on #12303
:tada: This issue has been resolved in version 29.14.1 :tada:

The release is available on:
- [GitHub release](https://github.com/renovatebot/renovate/releases/tag/29.14.1)
- `29.14.1`

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-11-22 06:45] peterjuras opened #12786 "Lockfile maintenance branch not automerged"
### How are you running Renovate?

WhiteSource Renovate hosted app on github.com

### If you're self-hosting Renovate, tell us what version of Renovate you run.

_No response_

### Please select which platform you are using if self-hosting.

_No response_

### If you're self-hosting Renovate, tell us what version of the platform you run.

_No response_

### Describe the bug

I have lockfile mainte

[2021-11-22 07:29] mbrodala commented on #12763
That makes sense, and indeed adding `separateMajorMinor: false` to the `PHPStan` package group made Renovate behave like expected:

![image](https://user-images.githubusercontent.com/5037116/142820588-ee012437-08e9-4666-a517-a58d6d457f59.png)

Maybe this fact should be mentioned in the docs for `separateMajorMinor`.

[2021-11-22 07:45] #12763 closed

[2021-11-22 07:48] #12786 closed

[2021-11-22 08:03] #3310 closed

[2021-11-22 08:20] renovate-release commented on #3310
:tada: This issue has been resolved in version 29.16.0 :tada:

The release is available on:
- [GitHub release](https://github.com/renovatebot/renovate/releases/tag/29.16.0)
- `29.16.0`

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-11-22 10:14] olegkrivtsov commented on #10388
I'd like to take this one.

[2021-11-22 10:18] olegkrivtsov commented on #9902
I'd like to take this one.

[2021-11-22 10:23] #11792 closed

[2021-11-22 10:24] tomirio619 commented on #12682
Great, thanks!

[2021-11-22 10:40] renovate-release commented on #11792
:tada: This issue has been resolved in version 29.16.1 :tada:

The release is available on:
- [GitHub release](https://github.com/renovatebot/renovate/releases/tag/29.16.1)
- `29.16.1`

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-11-22 11:21] tennox commented on #6277
FYI GitLab's Vulnerability DB has a variant that is allowed to be use by 3rd party tools:
https://gitlab.com/gitlab-org/advisories-community

& tools to check for those dependencies:
https://gitlab.com/gitlab-org/security-products/analyzers/gemnasium

Sadly, I cannot assess how much effort it would be to integrate with renovate / if it's worth it.
But I thought the info might help :)

(& I thought

[2021-11-22 12:59] viceice commented on #12771
I tend to move this to a discussion, as it seems you repo config was wrong if you can't create a reproduction.

[2021-11-22 15:25] #12771 closed

[2021-11-22 15:36] #9800 closed

[2021-11-22 15:50] Kevenvz commented on #10851
Hey,

In my current renovate setup I require to use the `squash` merge type because of a branch policy. I'm planning on trying to add support for this but I see @JamieMagee is the assignee. Did you already do some work or should I just submit a PR with the implementation and let you review it?

Thanks.

[2021-11-22 17:01] nlamirault commented on #9800
Great ! How can i use this version @rarkins  ? According to my Renovate App Dashboard, execution use an older version:

[code]

[2021-11-22 18:13] nlamirault commented on #9800
Works fine ! So good : https://github.com/nlamirault/monitoring-mixins/pull/72/files
Thanks

[2021-11-22 18:53] ReginFell opened #12794 "Renovate can't parse toml file that contains strict version"
### How are you running Renovate?

WhiteSource Renovate hosted app on github.com

### If you're self-hosting Renovate, tell us what version of Renovate you run.

_No response_

### Please select which platform you are using if self-hosting.

_No response_

### If you're self-hosting Renovate, tell us what version of the platform you run.

_No response_

### Describe the bug

With Gradle Version Ca

[2021-11-22 20:46] kevincox opened #12797 "Renovate app disabled on gitlab.com"
### What would you like Renovate to be able to do?

Use hosted Renovate Bot on gitlab.com

Was:
- https://github.com/renovatebot/renovate/issues/7843
- https://github.com/renovatebot/app-support/issues/106

GitLab now believes that this is unblocked (https://gitlab.com/gitlab-org/gitlab/-/issues/11561#note_740498950) due to https://gitlab.com/gitlab-org/gitlab/-/issues/328553.

It would be interes

[2021-11-22 21:09] #12797 closed

[2021-11-22 21:17] littldr commented on #7883
Of course, consistency makes sense. And adjusting the docs that setting `rangeStrategy=update-lockfile` is necessary to get updates for gems without version constraint is good enough.

I now digged a bit deeper into the code and reached a point where I  don't know if proceeding makes sense. To make my example repo work, I replaced at some spots `currentValue` with `currentValue || lockedVersion`.

[2021-11-22 23:12] rarkins commented on #7883
I've been able to play with it and got a promising result: https://github.com/renovate-reproductions/3929/pull/2

It's not too many lines of code so will PR it within the next day or two

[2021-11-23 05:37] JamieMagee commented on #10851
I think it's assigned to me because I'm the area owner for Azure DevOps. I'll reassign it to you and happily review and PR 😀

[2021-11-23 06:45] rarkins commented on #10851
Wasn't there an associated PR for this?

[2021-11-23 11:21] #7883 closed

[2021-11-23 11:34] renovate-release commented on #7883
:tada: This issue has been resolved in version 29.18.0 :tada:

The release is available on:
- [GitHub release](https://github.com/renovatebot/renovate/releases/tag/29.18.0)
- `29.18.0`

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-11-23 12:20] Kevenvz commented on #10851
Started digging into the source code and found out about the `getMergeMethod` function, saw that it doesn't work with a Default branch policy (which we have configured). Will create a new issue + pr that'll fix that.

Can anyone answer @rarkins his comment? Is there already a PR? If not I'll start working on this.

[2021-11-23 12:36] Kevenvz opened #12805 "Azure DevOps merge strategy derivation doesn't work with default branch policy"
### How are you running Renovate?

Self-hosted

### If you're self-hosting Renovate, tell us what version of Renovate you run.

29.17.2

### Please select which platform you are using if self-hosting.

Azure DevOps (dev.azure.com)

### If you're self-hosting Renovate, tell us what version of the platform you run.

_No response_

### Describe the bug

When using `platformAutomerge`, renovate will d

[2021-11-23 12:46] Kevenvz commented on #10851
Reported #12805 and created PR #12806, hope you can review these @JamieMagee :)

[2021-11-23 18:05] killermoehre opened #12810 "Broken dependencies"
### How are you running Renovate?

Self-hosted

### If you're self-hosting Renovate, tell us what version of Renovate you run.

0.0.0-semantic-release

### Please select which platform you are using if self-hosting.

_No response_

### If you're self-hosting Renovate, tell us what version of the platform you run.

linux

### Describe the bug

A current `git clone` and `npm install .` of this repos

[2021-11-23 23:06] igas commented on #7883
I have not tested it yet, but I'm keen to see this use-case covered: https://github.com/littldr/renovate-testing/pull/10/files

[2021-11-24 03:11] wwuck opened #12815 "pypi package name normalize doesn't run on group package names"
### How are you running Renovate?

Self-hosted

### If you're self-hosting Renovate, tell us what version of Renovate you run.

29.18.1-slim

### Please select which platform you are using if self-hosting.

Bitbucket Server

### If you're self-hosting Renovate, tell us what version of the platform you run.

7.18.0

### Describe the bug

Test repository: https://github.com/wwuck/renovate-sqlalchemy

[2021-11-24 03:38] rarkins commented on #7883
@igas please create a new discussion describing your use case.

[2021-11-24 03:52] rarkins commented on #12815
This is intended behavior. The field matchPackageNames is case sensitive, so you'll need to include both cases if you have both in your repository.

[2021-11-24 03:54] #12815 closed

[2021-11-24 05:14] #3368 closed

[2021-11-24 05:28] renovate-release commented on #3368
:tada: This issue has been resolved in version 29.19.0 :tada:

The release is available on:
- [GitHub release](https://github.com/renovatebot/renovate/releases/tag/29.19.0)
- `29.19.0`

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-11-24 05:46] viceice commented on #12535
Ok, we can't copy the `releases.yml` directly because of licensing.

What about download and convert to JSON on prepare /compile stage?

[2021-11-24 05:53] rarkins commented on #12535
I think it would be better if it can be transformed as part of the dev/build stage

[2021-11-24 08:48] mkrauser commented on #2355
@herndlm Thanks for working on this in composer (https://github.com/composer/composer/commit/7eca450d9bbcb1c379fe380064d0c045fa445dc8).

It would increase renovate's value for us a lot, if this is fixed.

Thank you all for your incredible work!

[2021-11-24 09:14] viceice opened #12820 "add flutter-version datasource"
### What would you like Renovate to be able to do?

We need a flutter datasource to solve those issues:

- #6049
- #11132
- https://github.com/containerbase/buildpack/pull/24

### If you have any ideas on how this should be implemented, please tell us here.

should be like `adoptium-java`, https://storage.googleapis.com/flutter_infra/releases/releases_linux.json can be used to fetch available vers

[2021-11-24 09:25] viceice commented on #6049
Updated description

[2021-11-24 10:06] bobvandevijver commented on #2355
Note that you can already configure what is added as `--ignore-platform-req`, so you can already configure this yourself.

I'm using the following:
[code]

[2021-11-24 10:08] mkrauser commented on #2355
@bobvandevijver Thank you, I'll try that right away

[2021-11-24 11:07] olegkrivtsov commented on #12449
I'd like to help with this one.

[2021-11-24 11:12] rarkins commented on #12449
Only if it's a quick fix

[2021-11-24 11:33] #12805 closed

[2021-11-24 11:49] renovate-release commented on #12805
:tada: This issue has been resolved in version 29.23.1 :tada:

The release is available on:
- [GitHub release](https://github.com/renovatebot/renovate/releases/tag/29.23.1)
- `29.23.1`

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-11-24 21:59] fgreinacher commented on #12623
@JamieMagee Are you planning to look into this soon? If not I'd happily help here! Just wondering a bit why it's only working for NPM at the moment, the [search results for `replacementName`](https://github.com/renovatebot/renovate/search?q=replacementName&type=code) seem to be datasource-agnostic.

[2021-11-24 22:20] JamieMagee commented on #12623
The changes to get this working with Docker are actually pretty minimal. I outlined them in a comment here: https://github.com/renovatebot/renovate/issues/5667#issuecomment-969866663. I've got a proof-of-concept working as well: https://github.com/JamieMagee/renovate-replacements-docker/pull/1/files

The main thing that's preventing me from opening a PR right now is docker uses `doAutoReplace`, so

[2021-11-25 02:27] twarner-sofi opened #12837 "Gradle not updating custom versioning scheme"
### How are you running Renovate?

Self-hosted

### If you're self-hosting Renovate, tell us what version of Renovate you run.

29.17.4

### Please select which platform you are using if self-hosting.

gitlab.com

### If you're self-hosting Renovate, tell us what version of the platform you run.

_No response_

### Describe the bug

When hitting our private repository with a custom (non-semver) ve

[2021-11-25 08:38] LucasDemea opened #12839 "matchPackageTypes"
### What would you like Renovate to be able to do?

It would be useful to have an option to filter package types, e.g. composer's `"type": "wordpress-plugin"`.

### If you have any ideas on how this should be implemented, please tell us here.

Not familiar enough with renovate codebase.

### Is this a feature you are interested in implementing yourself?

No

[2021-11-25 10:15] BeeeQueue commented on #8323
Could it be related to the repo being private? If not I could try setting up a repro

[2021-11-25 10:23] osigida opened #12840 "Renovate updates a dependency only once"
### How are you running Renovate?

Self-hosted

### If you're self-hosting Renovate, tell us what version of Renovate you run.

v29.23.3

### Please select which platform you are using if self-hosting.

Bitbucket Cloud (bitbucket.org)

### If you're self-hosting Renovate, tell us what version of the platform you run.

_No response_

### Describe the bug

When renovate has updated a dependency one,

[2021-11-25 10:42] rarkins commented on #12839
Can you point to an example project using these types? Typically this would fit into our `depType` field but I see we use that for composer already with `require` and `require-dev`. One possibility is that we support multiple `depTypes`, e.g. `"depTypes": ["require", "wordpress-plugin"]`

[2021-11-25 10:45] rarkins commented on #12840
This is currently by design, but I think we can loosen it so that an existing *merged* PR does not block the creation of a new PR, it only blocks *automerge* the second time, if it was enabled.

[2021-11-25 11:18] #2804 closed

[2021-11-25 11:34] renovate-release commented on #2804
:tada: This issue has been resolved in version 29.24.0 :tada:

The release is available on:
- [GitHub release](https://github.com/renovatebot/renovate/releases/tag/29.24.0)
- `29.24.0`

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-11-25 11:46] osigida commented on #12840
I guess the status of the last PR should be considered:
if the PR was merged - free to open PR again
if the PR was rejected/declined - the version should be skipped

[2021-11-25 13:05] ap-vishal commented on #8231
Hello, it would be awesome if we get this working, we use flux together with renovate bot and this is the only missing piece for us.

[2021-11-25 16:16] mzeijen opened #12843 "Disabling Github via host rules has no effect on release notes retrieval for Github"
### How are you running Renovate?

Self-hosted

### If you're self-hosting Renovate, tell us what version of Renovate you run.

29.23.3

### Please select which platform you are using if self-hosting.

GitLab self-hosted

### If you're self-hosting Renovate, tell us what version of the platform you run.

not relevant

### Describe the bug

When disabling Github via `hostRules` configuration, I exp

[2021-11-25 16:18] ymajoros opened #12844 "renovate cannot get npm dependencies from private registry (npm)"
### How are you running Renovate?

Self-hosted

### If you're self-hosting Renovate, tell us what version of Renovate you run.

29.23.3

### Please select which platform you are using if self-hosting.

GitLab self-hosted

### If you're self-hosting Renovate, tell us what version of the platform you run.

14..12

### Describe the bug

Renovate tries to look up a package in our private npm repositor

[2021-11-25 20:25] twarner-sofi commented on #12837
Added self-contained reproduction at https://gitlab.com/twarner-sofi/renovate-12837

[2021-11-25 21:06] #12769 closed

[2021-11-25 21:23] renovate-release commented on #12769
:tada: This issue has been resolved in version 29.25.0 :tada:

The release is available on:
- [GitHub release](https://github.com/renovatebot/renovate/releases/tag/29.25.0)
- `29.25.0`

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-11-25 21:30] fgreinacher commented on #12623
Sweet! Happy to help try things out, just ping me on the PR!

[2021-11-26 07:29] viceice commented on #12844
This is not a renopvate bug, it's a nexus issue, as we fetch the package metadata with the first request, which other known registries supports.

see `curl -s https://registry.npmjs.org/@angular%2Fanimations`

[2021-11-26 07:31] viceice commented on #12840
This would also cause a new PR if the previous was reverted after merge. 🤔

[2021-11-26 07:54] ymajoros commented on #12844
@viceice is there a specification for that, so that I can file a Nexus issue, or is this just some common practise? Any workaround in the meantime?

[2021-11-26 08:00] viceice commented on #12844
No workaround, sorry.

Here's some api documentation: https://github.com/npm/registry/blob/master/docs/REGISTRY-API.md

[2021-11-26 08:05] viceice commented on #12844
@rarkins It looks like we can reduce the npm metadata payload a lot by sending this herader `Accept: application/vnd.npm.install-v1+json; q=1.0, application/json; q=0.8, */*`

[2021-11-26 08:07] ymajoros commented on #12844
Actually, the request works in Nexus. The URL above that I extracted from the logs just works when tried locally:
`curl -s https://nexus.yyyy.be/repository/npm-all/%40angular/animations`

Now, I don't understand why _renovate_ says it's a 404 then.

[2021-11-26 08:10] viceice commented on #12844
@ymajoros you're suing another package encoding than renovate.

@rarkins We can't use the short version, release times are missing there 😕

[2021-11-26 08:19] ymajoros commented on #12844
@viceice what do you mean by _package encoding_? How can I solve this?

[2021-11-26 08:26] viceice commented on #12844
Compare my url and your url. I've url encoded the slash in package name.

[2021-11-26 08:33] osigida commented on #12840
@viceice you still have and ability to decline version update, and renovate will notice that next time, right?

[2021-11-26 08:36] ymajoros commented on #12844
`curl https://nexus.vdab.be/repository/npm-all/%40angular%2Fanimations` also works. Or any combination.

[2021-11-26 08:46] LucasDemea commented on #12839
You can have a look at [roots/bedrock](https://github.com/roots/bedrock).

It's a custom wordpress stack where plugin are managed as composer dependencies having the `wordpress-plugin` type.

Typically, you would install a plugin with e.g. `composer require wpackagist-plugin/akismet` and the [composer/installers](https://github.com/composer/installers) package would handle the installation in the

[2021-11-26 08:57] rarkins commented on #12839
How/where are types declared? For example it's not in https://github.com/roots/bedrock/blob/f4a3185251566708a4fa14f71bff879d7831aca1/composer.json#L38

I'm trying to understand how Renovate would learn this type, if it's not from `composer.json`

[2021-11-26 08:59] LucasDemea commented on #12839
I think it could be confusing to use the same option to specify "depTypes" and "packageTypes", as this is not represented by the same object in `composer.json`. The "packageType" is declared in the dependency's `composer.json`, while the "depType" is declared in the project main `composer.json`.

e.g.
Main project:
[code]

Dependency:
[code]

[2021-11-26 08:59] ymajoros commented on #12844
@viceice any idea why it doesn't work from renovate taking that last info into account?

[2021-11-26 09:00] rarkins commented on #12844
![image](https://user-images.githubusercontent.com/6311784/143554622-137a27e3-e64d-4d18-bfaf-3bcc94f94f17.png)

[2021-11-26 09:01] ymajoros commented on #12844
@rarkins yeah, it's either http on port 8081 or https on default. They both work the same with all encoding combinations of / and @. Any idea why I get a 404?

[2021-11-26 09:03] LucasDemea commented on #12839
You can use any type you want. There is no list of predefined types. [composer/installers](https://github.com/composer/installers) makes use of specific types, but you could use any type if you wanted to implement a custom installer, for example.

[2021-11-26 09:04] LucasDemea commented on #12839
I don't think Renovate could learn them. It would need to be able to use any arbitrary value.

[2021-11-26 09:30] olegkrivtsov commented on #12449
Hi @rarkins I'm sorry, but I feel that I lack Renovate intrinsics knowledge to fix this quickly enough, without investing time into familiarizing myself with Handlebars compilation and commit message prefixes.

[2021-11-26 10:07] viceice commented on #12844
What about `curl -H 'Accept: application/json' https://nexus.yyyy.be/repository/npm-all/%40angular%2Fanimations`?

Can you run the curl from the same envoronment, where your bot runs? mayybe you've some proxy between, so that fails on renovate env?

[2021-11-26 10:12] viceice commented on #12840
Sure, but what if i don't remeber that i've reverted it 😉

Disable automerge wourld be mandatory for that, otherwise we can get some kind of ping-pong

[2021-11-26 10:15] rarkins commented on #12844
Or does the port trip up our hostRules? Can experiment with removing it from the `.npmrc`

[2021-11-26 10:17] rarkins commented on #12839
So the type can only be learned after downloading the dependency details from packagist?

[2021-11-26 10:19] rarkins commented on #12840
Maybe we have the ability to add a prBodyNotes entry saying that it could possibly be a duplicate PR from previously

[2021-11-26 10:21] viceice commented on #12844
I don't think so, as he told, that all access is anonymous.

[2021-11-26 10:36] ymajoros commented on #12844
Seems we get a redirect to https from port 8081, and renovate isn't following redirects. Looks like that was the issue, I don't get the error anymore. I still don't get why it gets misreported as a 404, as it seems that that never happens.

[2021-11-26 11:12] ymajoros commented on #12844
@rarkins @viceice my problem is solved, but should renovate follow redirects?

[2021-11-26 14:11] h-no opened #12852 "Be able to run "go mod tidy -compat=1.17""
### What would you like Renovate to be able to do?

(This relates to #11294)

I ~~sometimes~~ often run into an issue with `go mod tidy` that isn't automatically solved by itself.
My modules are upgraded to Go 1.17,  I run go version 1.17, and sometimes run into the following:
[code]
If using postUpdateOption `gomodTidy` renovate will encounter this problem and report above message back to me in m

[2021-11-26 14:17] LucasDemea commented on #12839
Idk if it's useful but with `composer show` you can get the type of an installed package (present in lock file).

e.g. `composer show wpackagist-plugin/better-wp-security --format json` :
[code]

[2021-11-26 14:23] esetnik opened #12853 "postUpgradeTasks does not warn that it is unusable on Github Bot"
### How are you running Renovate?

WhiteSource Renovate hosted app on github.com

### If you're self-hosting Renovate, tell us what version of Renovate you run.

_No response_

### Please select which platform you are using if self-hosting.

_No response_

### If you're self-hosting Renovate, tell us what version of the platform you run.

_No response_

### Describe the bug

The documentation avai

[2021-11-26 14:39] rarkins commented on #12844
It sounds like it should, but unless you can reproduce it publicly somehow, we have little chance of being able to solve it. If you can reproduce it, please raise it as a new issue with description relating to redirects.

[2021-11-26 14:39] #12844 closed

[2021-11-26 15:06] rarkins commented on #12839
If it's in the lock file then that's easier for us - we can get it during the extract phase

[2021-11-26 15:09] augi opened #12854 "Gradle skips some dependencies with variables"
### How are you running Renovate?

Self-hosted

### If you're self-hosting Renovate, tell us what version of Renovate you run.

29.25.0

### Please select which platform you are using if self-hosting.

GitHub Enterprise Server

### If you're self-hosting Renovate, tell us what version of the platform you run.

3.1.1

### Describe the bug

Top-level `build.gradle`:
[code]

`build.gradle` in a subdi

[2021-11-26 16:51] HonkingGoose commented on #12853
Our Renovate documentation sidebar is ordered like this:

- Configuration
  - Self-hosted
  - Repository <-- `postUpgradeTasks` is in this category
  - Presets

Some of our config options documentation is auto-generated.

First read the comment in the code snippet (it's at the very top) and then scroll down to see line `306` for the `postUpgradeTasks` mention:

https://github.com/renovatebot/renov

[2021-11-26 18:14] esetnik commented on #12853
@HonkingGoose what about adding a note [here](https://github.com/renovatebot/renovate/blob/main/docs/usage/configuration-options.md#postupgradetasks) that says something like:

[code]

[2021-11-26 20:22] ylemkimon opened #12858 "Refactor and add tests for npm/extract and post-update"
### Describe the proposed change(s).

Currently, dependency extraction logic is too complex and spread across: https://github.com/renovatebot/renovate/blob/4fef60daaf30c4e176b14c3db4e424955b8ad5b8/lib/manager/npm/extract/index.ts#L169 https://github.com/renovatebot/renovate/blob/4fef60daaf30c4e176b14c3db4e424955b8ad5b8/lib/manager/npm/extract/locked-versions.ts#L8 https://github.com/renovatebot/re

[2021-11-26 20:26] viceice commented on #12858
Do you like to start on this? We should first try to  add tests to get full coverage, so we can verify code changes

[2021-11-26 20:31] rarkins commented on #12854
Can you work out a way to reproduce this using public packages?

[2021-11-26 20:37] rarkins commented on #12852
I like your implementation idea, but ideally we have a reproduction repo to test against (one that fails in the manner you describe).

[2021-11-26 20:43] ymajoros commented on #12844
@rarkins @viceice It's rather costly for me, not knowing the internals of your project, to provide a reproducer, which I guess would involve an rpm repository, a test project using it, a reverse proxy with redirect, and renovate. OTOH, you probably have all of that in your test setup already. I'd suggest to add a rule in your existing setup in your server config to redirect from a path to another,

[2021-11-27 05:16] rarkins commented on #12844
For now we're not aware of the problem affecting anyone else, so without a reproduction and with a workaround I frankly don't see anyone looking into it.

[2021-11-27 05:26] rarkins commented on #12843
So your "real requirement" is the ability to tell Renovate "I intentionally don't want to access GitHub.com, so please stop warning me"? For example if we allowed something like GITHUB_COM_TOKEN=disabled as a special value that would also serve the same purpose?

[2021-11-27 05:29] rarkins commented on #12837
What was the branch name when it used to work? I think it was kind of an accident that it did.

I suggest now that you add a package rule for that package which sets versioning=loose and see if you get PRs again.

[2021-11-27 05:34] rarkins commented on #8323
I'm not sure what causes it, which is why we need the reproduction somehow.

[2021-11-27 06:35] olegkrivtsov commented on #10388
My plan for fixing this issue:

1. Edit `lib/manager/nuget/artifcats.ts`

https://github.com/renovatebot/renovate/blob/main/lib/manager/nuget/artifacts.ts#L46

and add quotes like this:

[code]

[2021-11-27 06:38] rarkins commented on #10388
Try using shlex instead

[2021-11-27 11:09] #12639 closed

[2021-11-27 14:09] HonkingGoose commented on #12853
@esetnik Sounds good to me, do you want to make the pull request to fix it?

[2021-11-27 18:19] twarner-sofi commented on #12837
Branch name was `renovate/sofi-dependencies`, probably because of the group name in the package rule.

Adding `"versioning": "loose",` did not bring back the PRs, but now logs say:

[code]

Setting `"versioning": "regex:^release-(?<minor>\\d+)$",` does seem to do what I want however so I'll run tests against that...

[2021-11-28 11:05] zharinov opened #12869 "Enforce strict null checks for versioning schemes"
### Describe the proposed change(s).

- [x] `aws-machine-image`
- [x] `cargo`
- [x] `composer`
- [x] `docker`
- [x] `git`
- [x] `gradle` #13554
- [x] `hashicorp`
- [x] `helm`
- [x] `hex` #13394
- [x] `ivy`
- [x] `loose` #13454
- [x] `maven` #13332
- [x] `node` #13404
- [x] `npm` #13404
- [x] `nuget`
- [x] `pep440` #13409
- [x] `poetry`
- [x] `regex`
- [x] `rez` #13334
- [x] `ruby` #13278
- [x] `se

[2021-11-28 11:57] olegkrivtsov commented on #10388
Hi @rarkins thank you. So, my updated plan would be to use https://www.npmjs.com/package/shlex and quote the value as follows:

[code]

[2021-11-28 12:00] viceice commented on #10388
[code]
😉

[2021-11-28 12:58] RahulGautamSingh opened #12870 "refactor: moo states not compatible with re2"
### Describe the proposed change(s).

moo state uses the below function to validate a regex
[code]
  In which `isRegExp` looks like this
[code]
At the `toString.call(o)` re2 returns `[object object]` thus failing the validation.

[2021-11-28 13:16] TheDutchCoder opened #12871 "Repo "not found" on rebase request"
### How are you running Renovate?

WhiteSource Renovate hosted app on github.com

### If you're self-hosting Renovate, tell us what version of Renovate you run.

_No response_

### Please select which platform you are using if self-hosting.

_No response_

### If you're self-hosting Renovate, tell us what version of the platform you run.

_No response_

### Describe the bug

When asking for a reba

[2021-11-28 13:21] rarkins commented on #12871
Does it produce the same result for every rebase request? And works every time for scheduled runs?

[2021-11-28 13:23] rarkins commented on #12870
Can we contribute a patch upstream to mop so that it can recognise re2? @zharinov

[2021-11-28 13:43] RahulGautamSingh opened #12872 "refactor: regex with syntax not supported by re2"
### Describe the proposed change(s).

All the regex flagged with this issue use syntax which isn't supported by `node-re2`.
For eg:-
lookahead `(?=re)`
after text matching `(?<=re)`
after text not matching `(?<=re)`
named backreference `\k<name>`

[2021-11-28 14:12] RahulGautamSingh opened #12873 "refactor: coverage issues when using re2"
### Describe the proposed change(s).

When we use re2 at these 2 instances, it causes coverage issues.
Instance 1
https://github.com/renovatebot/renovate/blob/04d161252fb2e3eb60a937e16448f372a351dc9f/lib/util/template/index.ts#L14-L16
Instance 2
https://github.com/renovatebot/renovate/blob/04d161252fb2e3eb60a937e16448f372a351dc9f/lib/util/template/index.ts#L150

[2021-11-28 14:15] RahulGautamSingh opened #12874 "refactor: cyclic dependency issue when re2 is used"
### Describe the proposed change(s).

When re2 is used in any file in the `lib/logger` folder it causes cyclic dependency error.

[2021-11-28 14:31] RahulGautamSingh opened #12875 "refactor: unexpected behaviour when re2 is used"
### Describe the proposed change(s).

The regex flagged with this issue show unexpected behaviour when they are updated to re2.
These need to be tested and modified if possible to worked as expected.

[2021-11-28 15:17] TheDutchCoder commented on #12871
Second time around it seems to have worked normally, though it's still marked as "unsuccessful" in Github:
![image](https://user-images.githubusercontent.com/1668207/143774046-1d4a9452-a047-4335-8a02-6dfe7f48c860.png)

The first issue might've just been a network hiccup I assume?
Not sure about the second. Shouldn't it update to be "passing" after it successfully rebased and ran?