[2022-02-21 11:51] rarkins commented on #14336
You should see a dump of URLs at the end of each run. Is there one for listing PRs there?

[2022-02-21 11:56] rarkins commented on #13973
Sorry but yes, we don't think this feature's benefit would outweigh the complexity it would add. Managers do not today return `assignees` and we don't wish to add that.

[2022-02-21 11:56] #13973 closed

[2022-02-21 11:58] mmalyska commented on #14336
this is the list of urls to my gitea instance:
[code]

[2022-02-21 12:26] PhilipAbed commented on #13929
ok ill open a PR, this task should be re-assigned to me then, i removed assignment xD

[2022-02-21 12:32] PhilipAbed commented on #13929
i still want an agreement from the maintainers on this, it was agreed by you @gaeljw that we should group by the group id :D
now it will be grouped by the variable only. regardless of the group id. its either both or this according to what i see in code..
see conversation:
![image](https://user-images.githubusercontent.com/42116482/154955846-ad124052-a912-4f0c-8b4e-a2313b081e1c.png)

[2022-02-21 12:42] dominik-bln opened #14338 "`dep.depName?.trim is not a function`"
### How are you running Renovate?

Self-hosted

### If you're self-hosting Renovate, tell us what version of Renovate you run.

v31.81.2

### Please select which platform you are using if self-hosting.

GitLab self-hosted

### If you're self-hosting Renovate, tell us what version of the platform you run.

14.7.3

### Was this something which used to work for you, and then stopped?

It used to work

[2022-02-21 13:01] MaronHatoum commented on #10910
Hi
can you please assign this issue to me?

[2022-02-21 13:19] dominik-bln commented on #14338
I've just tried changing a dependency in a `values.yaml` for Helm from `latest` to a version like `v1.0.2`, but that just gets rid of the first log message and still fails with the error. Now it seems pretty hard to narrow down which dependency is causing the issue from the log messages 🤔

[2022-02-21 13:40] rarkins commented on #14338
Relevant code: https://github.com/renovatebot/renovate/blob/15c393f79115c0a5fe6429396c5a9e51127ffc67/lib/workers/repository/process/fetch.ts#L13-L21

I'm guessing `depName` is not a string

[2022-02-21 13:42] rarkins commented on #14338
We should skip any dep where `depName` is not a string. Ideally even earlier in the flow though, before lookups

[2022-02-21 13:46] dominik-bln commented on #14338
Yup, I added a log statement now and am getting `{ '[object Object]': null }` on:

[code]

[2022-02-21 13:51] dominik-bln commented on #14338
The three failing repos are using `helmfile` and contain a local Helm chart, so my guess would be that the following line is where the problem is coming from:

https://github.com/renovatebot/renovate/blob/a859c7f279863028414377f5660e7bff15b94bcd/lib/manager/helmfile/extract.ts#L39

[2022-02-21 13:51] svengt opened #14340 "gitlab-ci manager incorrectly detects some dependencies"
### How are you running Renovate?

Self-hosted

### If you're self-hosting Renovate, tell us what version of Renovate you run.

31.89.5

### Please select which platform you are using if self-hosting.

GitLab self-hosted

### If you're self-hosting Renovate, tell us what version of the platform you run.

14.7

### Was this something which used to work for you, and then stopped?

It used to work, a

[2022-02-21 13:52] rarkins opened #14341 "depName/lookupName -> depName/packageName"
### Describe the proposed change(s).

Our approach to extracting and looking up dependencies might be easier to understand and align with external concepts if we:
- use `packageName` instead of `lookupName` (it's a package name we look up)
- default to extracting `packageName` and extract `depName` only if there's some sort of "alias" or "short name" for it, which 95% of the time doesn't happen

A

[2022-02-21 13:54] rarkins commented on #14338
Thanks. I'll add a fix to the exception but the root cause appears to be in `helmfile`, so if you can submit a separate bug with reproduction for `helmfile` extract functionality then it would be great

[2022-02-21 13:57] dominik-bln commented on #14338
I'll try to come up with something.

[2022-02-21 14:38] #14338 closed

[2022-02-21 15:15] MaronHatoum commented on #11450
I have 2 different ideas:
1. to implement a new interface I will call it `GotOptions` which extends `HttpOptions`:
https://github.com/renovatebot/renovate/blob/36a29974bbf94251f640e3c06be816b16a79c252/lib/util/http/index.ts#L26-L40
and the new interface will look like this:
`export interface GotOptions extends HttpOptions {`
`GotOptions: GotBufferOptions | GotJSONOptions;`
`}`

2. just to add the

[2022-02-21 15:17] dominik-bln opened #14344 "Helmfile extract fails with local-chart and templated name"
### How are you running Renovate?

Self-hosted

### If you're self-hosting Renovate, tell us what version of Renovate you run.

31.81.0

### Please select which platform you are using if self-hosting.

GitLab self-hosted

### If you're self-hosting Renovate, tell us what version of the platform you run.

14.7.3

### Was this something which used to work for you, and then stopped?

I never saw this

[2022-02-21 15:31] viceice commented on #11450
Second Variant

[2022-02-21 16:04] dominik-bln commented on #14344
One problem with the current Helmfile extract seems to be that it tries to read the file as plain YAML. Even though the file is called `helmfile.yaml` it is essentially a go template like other files in Helm Charts and supports complex constructs like `{{ if env "MY_ENV_VAR" }}` that will probably make a YAML parser fail in a lot of cases.

I'm also not sure whether using the name of the release f

[2022-02-21 16:11] #13861 closed

[2022-02-21 16:22] jobubo opened #14348 "Support bumpVersion for nuget package manger"
### What would you like Renovate to be able to do?

Hi, first i would like to thank you for renovate. It is awesome! I really like how configurable it is.

Quoting from the detailed [docs](https://docs.renovatebot.com/configuration-options/#bumpversion):

I would love the [bumpversion](https://docs.renovatebot.com/configuration-options/#bumpversion) feature for Nuget Package manager. So, here's th

[2022-02-21 16:44] DanySK opened #14349 "Support git submodule updares by tags"
### What would you like Renovate to be able to do?

This feature request is the follow-up of [this discussion](https://github.com/renovatebot/renovate/discussions/14258).

Currently, renovate can update submodules, and does so following the specification in `.gitmodules`: if no branch is specified, it proposes updates pointing to the remote `HEAD`, otherwise, it proposes updates for the specified

[2022-02-21 17:14] Jacob-Roberts opened #14350 "Allow stability days to be configurable on a per-package level"
### What would you like Renovate to be able to do?

I like having my stability days set to 3 days, however for some internal packages that my team publishes we want it to merge immediately (after CI). Currently there is no way to set the stabilityDays property inside the packageRules objects.
I would love to be able to have a configuration like this:
[code]

### If you have any ideas on how this s

[2022-02-21 17:20] CleanCodeDeveloper commented on #14348
[code]

Increment `<Version>` field from 1.1.4 to 1.1.5 when updating a dependency.

[2022-02-21 17:21] jobubo commented on #14348
[code]

Increment `<Version>` field from 1.1.4 to 1.1.5 when updating a dependency.

[2022-02-21 17:37] viceice commented on #14349
I don't like the config options, i would prefer to configure a Renovate comment in the submodules file.

That file is a simple ini file, so it should support comments.

So renovate can update the comment to a tag and do a digest update for the corresponding commit.

Digest pinning would be adding the renovate comment.

[2022-02-21 17:44] DanySK commented on #14349
OTOH, that would taint the configuration of git with information about renovate, and the option would not be shareable in a configuration.
Please note that the information in the `.gitmodules` file is not sufficient, as per [this discussion](https://github.com/renovatebot/renovate/discussions/14258): setting a tag there does not work as expected. Renovate apparently needs to fetch the current chec

[2022-02-21 17:55] gaeljw commented on #13929
Not sure to understand: grouping by the `groupId` still makes sense for dependencies that do not use a variable for the version.

But as soon as variable is used for a dependency, we shouldn't care about the groupId of this dependency.

I can provide an example repo with both kind to ensure behaviour is correct if you want.

[2022-02-21 18:22] rarkins commented on #14348
Thanks, please create a repo with this as well as a dependency which needs updating

[2022-02-21 20:54] ivankatliarchuk commented on #14328
fixed and code merged

[2022-02-21 20:54] #14328 closed

[2022-02-21 21:09] renovate-release commented on #13861
:tada: This issue has been resolved in version 31.89.7 :tada:

The release is available on:
- [GitHub release](https://github.com/renovatebot/renovate/releases/tag/31.89.7)
- `31.89.7`

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-02-22 07:18] jobubo commented on #14348
Sure, there you go: https://github.com/jobubo/Support-bumpVersion-for-nuget-package-manger-14348

[2022-02-22 08:05] rarkins commented on #14348
Thanks, reproduction forked to https://github.com/renovate-reproductions/14348

[2022-02-22 08:09] rarkins commented on #14349
I also downvote this if it means adding new options like suggested. Instead, could we do this?

1. Use the branch name as `currentValue`
2. If that `currentValue` is a version, then look for newer "versions" in git refs (so either branch names or tag names would work)
3. If there's a newer version, it's treated like any other patch, minor or major update for Renovate
4. If you don't want this, the

[2022-02-22 08:15] rarkins commented on #13568
Can you give some example changes showing both current `depName` and proposed `depName`?

Also, we usually use the `depName` in both the branch name as well as commit message and PR title. Can we at least shorten to `github.com/foo/bar/baz-wow` instead of `https://github.com/foo/bar/baz-wow`?

[2022-02-22 08:47] rarkins opened #14355 "Extend dryRun options to extract, lookup, update"
### What would you like Renovate to be able to do?

Change `dryRun` option from boolean to enum, supporting:
- `"extract"`: Performs extract only, prints results, exits
- `"lookup"`: Performs extract and lookup, but exits before running through branches
- `"full"`: Same as today's `true` - runs through as far as it can

### If you have any ideas on how this should be implemented, please tell us he

[2022-02-22 09:04] PhilipAbed commented on #13929
@gaeljw yeah, as far as i can see the variable only worked with groupId, now it works alone,
regardless, if there's no variable, the groupid will be the thing that groups the PRs

[2022-02-22 09:49] DanySK commented on #14349
@rarkins sounds good, I propose this clarification:
* "branch name" is the name of the branch in `.gitmodules`
* "current commit" is the commit checked out

I tried to produce a diagram:
![activity diagram](http://www.plantuml.com/plantuml/svg/TPBBhjCm48RtUOfP9X67imS9jIALkcB52qoSSMBm9NZ6eBuzTjocQWGxsnb__yKviM2Kv6opBPh6Q6WRW1L5BU_E-13V7Vu84T8weH03UHmjJQ3pcIm4iv4tJgCBKxB4uD3ZJ34Z-lxyRUZxl58fHl82AZXd

[2022-02-22 11:00] rarkins commented on #14349
I think that unfortunately this logic flow will not work as-is, because we do not pass rules about patch/minor/major into our extract function.

Can you help me understand what "a tag has been checked out" means? At the time of package extraction today, it's optional even init submodules. We generally only recommend initializing them prior to extraction unless you've got some package files referen

[2022-02-22 13:47] DanySK commented on #14349
OK, I had to study a little bit. The information we need are:
1. the information in .gitmodules to restrict the search of updates (all refs vs. current branch)
2. the currently checked out branch, which is memorized in the tree even if the submodule has not been checked out: `git ls-tree HEAD path/to/submodule` or `git submodule status`

In any case, we will need to fetch the submodule somehow, bu

[2022-02-22 16:15] redstonedesigner commented on #14059
Appears to be an upstream issue with Gtea rather than issue with Renovate.

The permissions system was changed in 1.16.0 leading to the wrong value "read-only" being returned by Renovate's permission checks, rather than "read-write".  Currently, the only way to fix this is to add the Renovate user to a team with "Administrator Access" to repositories.

[2022-02-22 16:15] #14059 closed

[2022-02-22 22:17] ChipWolf commented on #10149
I can't seem to get this method to work, can you elaborate a little more on it please?

[2022-02-23 00:55] maxbrunet commented on #13568
There is one in the description, but let me improve

### Example 1

**Input**

[code]

**Current `depName`:** `jsonnet-libs`
**Proposed `depName`:** `github.com/grafana/jsonnet-libs/memcached-mixin`

### Example 2

**Input**

[code]

**Current `depName`:** `jsonnet-libs`
**Proposed `depName`:** `github.com/grafana/jsonnet-libs`

### Example 3

**Input**

[code]

**Current `depName`:** `some-other-

[2022-02-23 02:20] jimsynz commented on #13618
Happy to help if needed.

[2022-02-23 04:52] rarkins commented on #13568
Thanks for the clarification, and it sounds good to me, even if it essentially means a "breaking change" for anyone who's written `matchPackageNames` rules based on the `depName`. Not sure if there are any other stakeholders in this who'd like to weigh in or not to confirm?

[2022-02-23 09:21] alexkvak commented on #10149
try to add `git-submodules` to `enabledManagers`:

`"enabledManagers": ["git-submodules"],`

[2022-02-23 09:34] ChipWolf commented on #10149
I spent several hours on this last night, just ran into the same issue I posted about last year https://github.com/renovatebot/renovate/issues/11810#issuecomment-922549292

[2022-02-23 11:30] PhilipAbed commented on #13882
Hi @froque
The reproduce is too complicated for me, i'm not sure how to debug this with all the docker runs and machine,
is it possible to reproduce using a normal repository and normal runs?
or maybe a way to reproduce using the .devContainer?

Hi @rarkins
can you please take a look at that reproduce file and tell me if its possible to debug that and how?

I'm currently trying to find the logic b

[2022-02-23 12:07] TobiX opened #14371 "Gradle-Wrapper not complete for projects in sub-directories"
### How are you running Renovate?

WhiteSource Renovate hosted app on github.com

### If you're self-hosting Renovate, tell us what version of Renovate you run.

_No response_

### Please select which platform you are using if self-hosting.

GitLab self-hosted

### If you're self-hosting Renovate, tell us what version of the platform you run.

_No response_

### Was this something which used to wo

[2022-02-23 12:34] froque commented on #13882
The gist is:
 - renovate should create a PR to upgrade a dependency
 - this PR should be kept open, without closing it or merging it
 - a new version of the dependency should be released
 - renovate detects this new version and updates the branch, but fails to update the PR title and description

the flags `stabilityDays` and `prCreation` seem important for this issue

[2022-02-23 13:17] mxey opened #14373 "rollbackPrs: Excluded versions should behave the same as missing versions"
### How are you running Renovate?

Self-hosted

### If you're self-hosting Renovate, tell us what version of Renovate you run.

31.89.5

### Please select which platform you are using if self-hosting.

GitLab self-hosted

### If you're self-hosting Renovate, tell us what version of the platform you run.

14.8.0

### Was this something which used to work for you, and then stopped?

I never saw this

[2022-02-23 13:36] rarkins commented on #10354
I think this was the problematic update:
![image](https://user-images.githubusercontent.com/6311784/155329961-6ef0569c-b095-43c3-89d7-908ead7c2b56.png)

It goes from a "major width" (>=7.1 <8) to a "minor release" (>=8.0.1 <8.1).

I think instead it should be updated to `~=8.0`

[2022-02-23 13:39] rarkins commented on #13882
Unfortunately we're doing to need a more specific description of what is being reproduced so that we can determine what/where to debug. Ideally this would be as simple as a single dependency and single branch, then we don't need to selectively debug.

[2022-02-23 13:55] rarkins commented on #14349
Can we avoid that during the extract phase? Because today we avoid cloning submodules in most cases and only need it if we are updating.

[2022-02-23 13:58] rarkins commented on #14349
Could you edit your examples above so that the table at the bottom (with three rows) maps to the three rows in `git submodule status`? I think I'll understand it easier that way.

Also can you clarify, does `git submodule status` provide all the info which `.gitmodules` does, or do we need to correlate both?

[2022-02-23 14:03] mxey commented on #14373
I created a public reproduction repository, reran Renovate against it and provided the debug log from that run.

[2022-02-23 14:05] PhilipAbed commented on #13882
@rarkins  i'm still trying other ways to debug from ide, when i fail ill let u know

[2022-02-23 14:12] rarkins commented on #14373
Thanks. Please tell me if I understand the reproduction right below. Ideally this would be good to add a reproduction readme in future:

- You have version `v0.1645577121.19399578`
- You set `allowedVersions` to be `!/\\d{4,}/` which means "nothing which contains 4 or more digits in a row" (btw would the comma be redundant in this case?)
- You expect that Renovate will *roll back* your version fro

[2022-02-23 14:27] froque commented on #13882
@rarkins I don't understand the reproduction needed change.  The provided repository only contains a single dependency and a single branch.
What else should I provide ?

[2022-02-23 14:30] PhilipAbed commented on #13882
@froque hi, the reproduction contains lots of dockers and connection between docker installations,
it's a bit complicated, so what im trying to do is split it into multiple small steps on my machine, where i can run the docker nexus, and run everything else manually, because in order to locate the problem i need to run in the IDE in debug mode, and go over the lines and see what's up.
just reprodu

[2022-02-23 14:42] hasanwhitesource commented on #10354
@rarkins Do we handle or take into account when there is `~=`?
Shouldn't https://github.com/renovatebot/renovate/blob/c5d50f6da3502d9f2a8f805fb65292a98246a6bf/lib/workers/repository/process/lookup/filter.ts#L12 take care of filtering the incompatible new versions according to the versioning api ?
I see here that we are always taking the higher versions :
https://github.com/renovatebot/renovate/blo

[2022-02-23 14:47] rarkins commented on #10354
@hasanwhitesource I think you're maybe misunderstanding the issue, or I don't understand your question.

The upgrade is valid. `8.0.1` does not satisfy `~=7.1`. Therefore it's correct to offer an upgrade. The problem is that the `newValue` should be `~=8.0` and not `~=8.0.1`. Does that make sense?

[2022-02-23 14:51] SchroederSteffen opened #14374 "@types/jest shouldn't get pinned separately"
### How are you running Renovate?

WhiteSource Renovate hosted app on github.com

### If you're self-hosting Renovate, tell us what version of Renovate you run.

_No response_

### Please select which platform you are using if self-hosting.

_No response_

### If you're self-hosting Renovate, tell us what version of the platform you run.

_No response_

### Was this something which used to work fo

[2022-02-23 16:26] rarkins commented on #14349
Thanks. This is something I'm not familiar with. It's interesting to me that the nvm submodule in `.gitmodules` does not specify anything about `v0.39.1` yet that's what you have checked out. If you clone the same repo on a different computer/directory will you also get `v0.39.1`'s sha? I guess it must be stored somewhere inside `.git/` in that case

[2022-02-23 16:39] rprovodenko opened #14376 "stabilityDays not working as expected?"
### How are you running Renovate?

Self-hosted

### If you're self-hosting Renovate, tell us what version of Renovate you run.

_No response_

### Please select which platform you are using if self-hosting.

_No response_

### If you're self-hosting Renovate, tell us what version of the platform you run.

_No response_

### Was this something which used to work for you, and then stopped?

I never

[2022-02-23 16:44] JamieMagee commented on #6562
Yesterday's announcement makes this much easier to do now: https://github.blog/2022-02-22-github-advisory-database-now-open-to-community-contributions/

[2022-02-23 17:04] mxey commented on #14373
@rarkins Your understanding is correct.

Your conclusion makes sense. Can we convert this into a feature request?

[2022-02-23 17:52] maxbrunet commented on #13568
Maybe @andrein, who is the original author (#12720)

[2022-02-23 19:29] MShekow commented on #6562
CVE support based on GitHub's advisory database would indeed be amazing :)

[2022-02-23 20:14] andrein commented on #13568
I agree that the current naming behaviour is confusing and I think that using the absolute import path is a great idea.

@maxbrunet would you like to submit a PR for this?

[2022-02-23 21:00] maxbrunet commented on #13568
Thank you @andrein for your input, yes, I will open a PR asap

[2022-02-24 00:12] herb-ng opened #14383 "Support Chef Berkshelf and Supermarkets"
### What would you like Renovate to be able to do?

I would like renovate to update cookbook dependency versions found in the Chef Cookbooks Berksfile and metadata.rb files.

Berkshelf is a dependency manager for Chef cookbooks. https://docs.chef.io/workstation/berkshelf/

Chef Supermarket is the repository / site for cookbooks. https://docs.chef.io/supermarket/

Cookbook's repository and dependen

[2022-02-24 02:19] gitfool opened #14385 "Cake manager should set `depType` to `cake`"
### What would you like Renovate to be able to do?

The Cake manager should set `depType` to `cake` to be able to differentiate its dependencies. It's currently not assigned.

### If you have any ideas on how this should be implemented, please tell us here.

I tried setting it via a package rule to no avail:
[code]
So it probably just needs to be set explicitly in [lib/manager/cake/index.ts](https

[2022-02-24 04:27] JamieMagee opened #14386 "Replacements are filtered out if the version is exactly the same"
### How are you running Renovate?

WhiteSource Renovate hosted app on github.com

### If you're self-hosting Renovate, tell us what version of Renovate you run.

_No response_

### Please select which platform you are using if self-hosting.

_No response_

### If you're self-hosting Renovate, tell us what version of the platform you run.

_No response_

### Was this something which used to work fo

[2022-02-24 05:15] rarkins commented on #14385
This doesn't seem right. Manager is "cake". depType is used to distinguish between e.g. dev and test dependencies

[2022-02-24 05:18] rarkins commented on #14383
Sounds like supermarket would be a datasource while Berkshelf would be the manager

[2022-02-24 05:47] gitfool commented on #14385
Cake is effectively a dev dependency since it's used for build orchestration.

There isn't much documentation on `devType`, but from what I've found while perusing the source, it's used to differentiate all sorts of things, not just dev and test dependencies; e.g. Docker `stage` vs `final` layers.

[2022-02-24 06:19] JamieMagee commented on #6562
After some further investigation, I am going to use Open Source Vulnerabilities' API instead. It's supported by Google and the Open Source Security Foundation, and collates vulnerability information from GitHub's security advisory database (as well as many other sources).

The API is rate limited to 100 requests/minute (per IP address), but the data is updated once per day, so we can heavily cache

[2022-02-24 06:36] rarkins commented on #6562
Are you sure? I'd thought that cloning and parsing the GitHub repo at start of a global run would have worked pretty well

[2022-02-24 06:37] rarkins commented on #14385
depType is only needed to differentiate between different dependency types within one manager. If 100% of dependencies are the same type, then it's not needed

[2022-02-24 07:23] rarkins commented on #14374
Reproduction forked to https://github.com/renovate-reproductions/14374

We need to find a way to "force" the "Pin Dependencies" title and associated branch name, even if the package belongs to some other grouping, such as monorepos.

[2022-02-24 07:26] rarkins commented on #14374
Reproduction forked to https://github.com/renovate-reproductions/14374

We need to find a way to "force" the "Pin Dependencies" title and associated branch name, even if the package belongs to some other grouping, such as monorepos.

[2022-02-24 09:12] MaronHatoum commented on #11450
Hi @viceice
regarding the third part of this refactor (remove legacy.ts)
should I remove `legacy.ts` with the properties and their usages?
or
to move the properties to another place then remove to `legacy.ts` and change the property usages to the new properties place?
thanks.

[2022-02-24 09:14] jase88 opened #14388 "Support updating versions on npx calls within the package.json"
### What would you like Renovate to be able to do?

There might be cases where an npm dependency should not be part of the dependencies within the `package.json`.
This could be mainly CLIs, but there may be other use-cases as well.

Renovate should be able to scan npx usages within the scripts section in the `package.json` and update the used version of a package.

Example
[code]

### If you have

[2022-02-24 09:24] viceice commented on #11450
Remove, but you need to check the whole codebase for usage. Typescript don't know all of them. Also check the `global.d.ts` file for obsolete `Error` properties.

[2022-02-24 09:41] #14302 closed

[2022-02-24 09:58] #13967 closed

[2022-02-24 10:09] viceice commented on #14388
Too complicated, use regex manager.

[2022-02-24 10:24] renovate-release commented on #13967
:tada: This issue has been resolved in version 31.90.1 :tada:

The release is available on:
- [GitHub release](https://github.com/renovatebot/renovate/releases/tag/31.90.1)
- `31.90.1`

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-02-24 10:24] renovate-release commented on #14302
:tada: This issue has been resolved in version 31.90.1 :tada:

The release is available on:
- [GitHub release](https://github.com/renovatebot/renovate/releases/tag/31.90.1)
- `31.90.1`

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-02-24 11:01] PhilipAbed commented on #13882
@rarkins I successfully started debugging!, but i'm facing another issue, the code is not Uploading any pull request and returns with Failed to update warning... so i debugged and i noticed something weird take a look at this, maybe its another issue or a new issue i'm not sure, check this out:
![image](https://user-images.githubusercontent.com/42116482/155511669-cb9a50f0-c0bb-450c-a8ef-3549e53e35

[2022-02-24 11:17] xoxys commented on #14059
I'm facing the same issue. @redstonedesigner is there an existing Gitea issue already?

[2022-02-24 11:36] PhilipAbed commented on #13882
after deeper investigation, if i copy the file content to Notepad++ and GOTO offset `position` , it will point directly to the right location!!
but when i do `fileContent.slice(0,position)` it splits into wrong location

[2022-02-24 12:40] xoxys commented on #14059
The strange thing is, it is still working on other repos on the same Gitea (v1.16.1) server. So the current operation is:

- successful Renovate PR creation on multiple repos
- faulty PR creation on a single repo with the same error message as in the initial issue; what looks strange to me is that the branch + commit to the branch was created and pushed successfully so "just" the PR creation fails

[2022-02-24 12:43] redstonedesigner commented on #14059
I don't believe there is currently an open issue for this on Gitea.

[2022-02-24 12:45] viceice commented on #14059
Open a new bug report with an exact reproduction. So it's probably a PR body issue.
Maybe you can reproduce it on https://try.gitea.io

[2022-02-24 13:41] xoxys opened #14396 "Renovate failing to make PR on Gitea"
### How are you running Renovate?

Self-hosted

### If you're self-hosting Renovate, tell us what version of Renovate you run.

31.89.12

### Please select which platform you are using if self-hosting.

Gitea

### If you're self-hosting Renovate, tell us what version of the platform you run.

Gitea Version: 1.17.0+dev-201-gf1b147263

### Was this something which used to work for you, and then stop

[2022-02-24 13:44] #10354 closed

[2022-02-24 13:46] viceice commented on #14396
Does it work on gitea v1.15 or v1.16.0?

[2022-02-24 13:47] PhilipAbed commented on #13882
after investigating with nabeel, it appears the code is Parsing the file with "\r\n" on windows, but when we do git.show(origin/{branch}/{pathToFile}), the file comes with "\n" only, which causes the problem. i will bypass this then hopefully i will reproduce the issue 100%.

maybe we should open an issue for this case? or is it only because i took a linux project and used docker while running fro

[2022-02-24 13:48] xoxys commented on #14396
Don't know, I don't have an old Gitea version available to test. What I can tell is that the same config works in some cases on 1.16.1.

[2022-02-24 13:51] viceice commented on #13882
I think we should open an Uber issue for windows. We have some more line ending issues on windows.

[2022-02-24 13:53] xoxys commented on #14396
It seems to be related to `sematicCommits` but only in some situations :thinking: https://try.gitea.io/xoxys/test/commit/a7865a9b1254d7e5cefd073a1a645741a3c2c4ee removing the presets from the renovate config "fixed" it in the test repo.

[2022-02-24 13:56] xoxys commented on #14396
It's really strange, as I can promise that semantic comments definitely work on Gitea 1.16.1, but I haven't found the exact "trigger" that causes renovate to fail -.-

![image](https://user-images.githubusercontent.com/3391958/155537340-c4553807-10e3-4b59-8a91-46bcd1a1af2b.png)

[2022-02-24 13:59] xoxys commented on #14396
To make it even more strange: https://try.gitea.io/xoxys/test/pulls/4 The PR was created successfully. If you now add back `:semanticCommits` and `:semanticCommitType(deps)` to the renovate config, renovate will **successfuly** rename the existing PR. Closing and renaming the PR will trigger the failure again and PR cant be recreated.

[2022-02-24 14:00] PhilipAbed commented on #13882
yeah i found that when we get the file we read it from the temporary folder,
but when we are inside update we do git.show(origin/branch/filePath)
![image](https://user-images.githubusercontent.com/42116482/155538081-d32e6a9d-2c78-42d2-bad5-2972b5cc88bc.png)

vs

![image](https://user-images.githubusercontent.com/42116482/155538157-fc7ed5a1-3e94-4396-8aea-afbc88f208dc.png)

[2022-02-24 14:03] viceice commented on #14396
Can you try to debug and get the PR title and body, which will fail? Maybe there is a gitea bug.

If we have the exact body, we can manually try to create the PR and see if it's failing too.

[2022-02-24 14:04] xoxys commented on #14396
How can I get the PR title and body?

[2022-02-24 14:08] wolfgangwalther opened #14397 "`gitlabci-include` manager doesn't work with wildcards"
### How are you running Renovate?

Self-hosted

### If you're self-hosting Renovate, tell us what version of Renovate you run.

31.89.5

### Please select which platform you are using if self-hosting.

GitLab self-hosted

### If you're self-hosting Renovate, tell us what version of the platform you run.

14.7.3

### Was this something which used to work for you, and then stopped?

I never saw this

[2022-02-24 14:29] fancybear-dev commented on #14397
test

[2022-02-24 14:32] #11537 closed

[2022-02-24 14:42] xoxys commented on #14396
I was not able to get the exact body from renovate but I played a bit with the PR body template:

[code]

So this might be some quoting/escaping foo in the gitea api?

[2022-02-24 14:51] renovate-release commented on #11537
:tada: This issue has been resolved in version 31.91.0 :tada:

The release is available on:
- [GitHub release](https://github.com/renovatebot/renovate/releases/tag/31.91.0)
- `31.91.0`

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-02-24 14:55] viceice commented on #14397
This isn't a bug. This isn't simply supported by renovate.

[2022-02-24 14:55] #14397 closed

[2022-02-24 14:57] wolfgangwalther commented on #14397
If you didn't consider this a bug, wouldn't this be a feature request then? Am I missing something fundamental why this wouldn't be possible to support?

[2022-02-24 15:03] wolfgangwalther commented on #14397
Ah, I think I understand now. `gitlabci-include` is about something different - basically everything **except** `local`.

[2022-02-24 17:03] rarkins commented on #14300
On a Maven registry, is `1.0-SNAPSHOT` a "real" version, or is it an alias for an artifact version like `1.0-........`? Is there any official link between the snapshot and the version you mention as an example, or you expect Renovate to loo up all the artifact versions and just pick the latest?

BTW I'm not sure yet if "digest" is the right term for this - because it still looks like a version - b

[2022-02-24 19:39] maxbrunet commented on #13528
I have solved my issue with using semantic commits, there is a `mergePattern`[^mergePattern] parser option which allows to use the Bitbucket merge message as-is:

[code]

So #13567 is enough for now, the full message format being:

[code]

[^mergePattern]: https://github.com/conventional-changelog/conventional-changelog/tree/master/packages/conventional-commits-parser#mergepattern

[2022-02-24 19:39] #13528 closed

[2022-02-24 21:00] xoxys commented on #14396
Ok tracing helps, will try to

[code]

Creating the PR manually with an exact copy of the body from the trace works for me:

[code]

PR created successfully.

[2022-02-24 21:22] gitfool commented on #14385
I see. I'm also looking at the information in the update table in the pull request created by renovate, when grouping them into a single pull request. It would be nice for the `Type` column, which seems to come from `depType` to be `cake` instead of blank, because the cake manager is using the nuget datasource, and this would differentiate updates to cake scripts at a glance.

[2022-02-24 21:36] xoxys commented on #14396
Adding a minimal header like `RENOVATE_PR_HEADER=## Updates` let renovate bot create the PR successfully as well -.- I don't really understand it :D

[2022-02-24 21:41] gitfool commented on #11342
I'm new to renovate and immediately hit this scenario where I want to update dotnet sdk references wth both github actions:
[code]
and Dockerfiles:
[code]
I'm also wondering how to constrain the dotnet 3.1 and dotnet 5.0 sdks to their major.minor version range. Any ideas?

[2022-02-24 21:46] viceice commented on #11342
Use docker datasource and docker image name as lookupName.

[2022-02-24 21:53] gitfool commented on #11342
I'll try that as a workaround, thanks! How would I constrain them?

[2022-02-25 00:42] JamieMagee commented on #6562
I wanted to go with Open Source Vulnerabilities (OSV) over GitHub Security Advisories (GHSA) because OSV is a superset of GHSA.

Mapping the OSV schema to a relational database doesn't really make sense. SQLite can do document database-style queries, but not easily. Deferring all this to the OSV API makes this easier, at the cost of more API calls.

I'll prototype an API client for now, and come b

[2022-02-25 01:54] #13964 closed

[2022-02-25 04:45] herb-ng commented on #14383
# New package manager questionnaire

**Did you read our documentation on adding a package manager?**

- [x] I've read the [adding a package manager](adding-a-package-manager.md) documentation.

## Basics

### Name of package manager
Berkshelf
https://docs.chef.io/workstation/berkshelf/

### What language does this support?
Ruby

### How popular is this package manager?
Very popular. Berkshelf is t

[2022-02-25 05:11] rarkins commented on #14385
You can already customise the columns in a PR body using config. Eg adding a manager column. Adding a redundant/unnecessary depType to cake for cosmetic reasons isn't something I'd like to do

[2022-02-25 05:13] gitfool commented on #14385
Fair enough.

[2022-02-25 05:14] #14385 closed

[2022-02-25 09:29] rimas-kudelis opened #14408 "Renovate downgraded npm lockfile version from v2 to v1"
### How are you running Renovate?

Self-hosted

### If you're self-hosting Renovate, tell us what version of Renovate you run.

31.89.12

### Please select which platform you are using if self-hosting.

Bitbucket Cloud (bitbucket.org)

### If you're self-hosting Renovate, tell us what version of the platform you run.

_No response_

### Was this something which used to work for you, and then stopp

[2022-02-25 09:38] rimas-kudelis commented on #14408
I could enable debug logging and attach the logs if necessary, but is it really necessary?

[2022-02-25 09:56] jelhan commented on #13804
I tried to use `{ skipInstalls: false }`.

[code]

I'm still seeing the bug from time to time. Both in a mono repository as well as in a regular repository. :sob:

[2022-02-25 10:01] svenXY commented on #7674
Hi, having happily migrated all my renovate.json to renovate.json5, I was more than surprised to then find out (the hard way) that my presets must be json.

Is there any reason except time why this has not been further pursued? Thanks

[2022-02-25 11:25] rarkins commented on #7674
No reason except time. I think we could refactor to use the JSON5 parser for presets too. PRs welcome

[2022-02-25 11:53] rarkins commented on #9940
I want to do this on the next major release:

[code]

From experimenting on modules today, I found that the follow-up tasks included:
- Updating the ts strict config
- Looking for `jest.mock('../` and adding an extra `../` to it
- Updating snapshots

[2022-02-25 14:21] avaly opened #14415 "Split renovate-config-validator as separate package"
### What would you like Renovate to be able to do?

I would like to setup a CI test for our Renovate config file using the `renovate-config-validator` binary.

However, installing the NPM `renovate` package brings in a **huge** list of dependencies, which most likely are not used by the validator script.

### If you have any ideas on how this should be implemented, please tell us here.

Publish th

[2022-02-25 14:38] JavierSegoviaCordoba opened #14416 "Dynamic commit message"
### What would you like Renovate to be able to do?

In GitHub Actions, I am not being able to change the commit message to be a concrete value based on a previous step.

As a workaround, I can modify the config file in a previous step to set the commit message

### If you have any ideas on how this should be implemented, please tell us here.

- Add `RENOVATE_COMMIT_MESSAGE` environment variable an

[2022-02-25 14:41] JavierSegoviaCordoba commented on #14416
Sorry, not sure where I was reading the docs, but I landed on another page where it looks that renovate has already that environment variable.

[2022-02-25 14:41] #14416 closed

[2022-02-25 16:02] mdehollander commented on #2213
Thanks for starting the work on this! I am happy to start testing, but I am not sure how since I am new to renovate. I gave it a try with adding a `renovate.json` to my repo (https://github.com/mdehollander/orochi/blob/master/renovate.json). The conda environment files are the folder `src/envs/`. But I did not manage to set it up correctly since I get this error:
[code]
What is the best way to tes

[2022-02-25 17:38] morremeyer commented on #2213
@mdehollander You're not too early, but there's no **manager** implemented yet, just a **datasource**. I'll take a first shot at a manager next Friday.

You can check the datasource documentation at https://docs.renovatebot.com/modules/datasource/#conda-datasource.

If you want to use it right now, here's an example for how to do so. In your `environment.yaml`, add a comment that annotates the lin

[2022-02-25 21:48] zephraph commented on #14245
Given the codepath that's there I suspect that it won't, but I'll create a test project to verify. The more that I've dug into it the issue the more that I suspect may be technically valid given the rangeStrategy but is a behavior that wouldn't be expected generally by rust users.

I'd like to keep this open a little bit longer to see if I can dig in further. I may end up closing and trying to PR

[2022-02-26 01:56] gitfool opened #14420 "Add manual source urls for dotnet docker images"
### What would you like Renovate to be able to do?

The [dotnet docker](https://github.com/dotnet/dotnet-docker) images do not seem to have oci source labels, so renovate does not link back to the source repo and releases.

See [gitfool/cake-docker/pull/48](https://github.com/gitfool/cake-docker/pull/48):

![image](https://user-images.githubusercontent.com/750121/155824091-1dd86e50-62f5-4ed1-b73c-

[2022-02-26 08:22] ivankatliarchuk opened #14421 "Support for regions in AWS Resources (aws-machine-image)"
### What would you like Renovate to be able to do?

In the meantime, Renovate does not support multiple regions. AWS has different resources in different region/location. From [the code ](https://github.com/renovatebot/renovate/blob/f5cc1de36f7d6f3ce7d689a9b6675a930d81337c/lib/datasource/aws-machine-image/index.ts#L38) the region is supplied with environment variable e.g. AWS_REGION or AWS_DEFAULT

[2022-02-26 10:34] rarkins commented on #14340
@svengt can you install Renovate or run the bot locally to show the wrong PR in your reproduction repo?

[2022-02-26 10:56] rarkins commented on #14421
Could the regions be represented as registryUrls in Renovate?

I also don't like implicit env reading where we can avoid it

[2022-02-26 11:15] ostrya commented on #14300
1.0-SNAPSHOT is an alias for the individual versions with timestamps. There is a maven-metadata.xml file next to the POM file that contains the most recent individual version (see e.g.[https://oss.sonatype.org/service/local/repositories/jetty-snapshots/content/org/eclipse/jetty/http3/http3-client/11.0.9-SNAPSHOT/maven-metadata.xml).

I agree that digest is probably the wrong term. Might be better

[2022-02-26 11:18] viceice commented on #14421
Should be doable.

Agree

[2022-02-26 12:43] svengt commented on #14340
@rarkins done, you can find the wrong PR here https://github.com/svengt/renovate-reproduction-pin-dependencies/pull/1

[2022-02-26 12:57] ivankatliarchuk commented on #14421
I've created an example repository with different cases, that I came across. There are around 18+ AWS regions. It should be great, if there is no need to change a Renovate config every time, the new region is added to infrastructure e.g. Convention over configuration (also known as coding by convention). Seems like `lookupName` is more extensible option, when `registryUrl` is more like a fallback

[2022-02-26 14:30] rarkins commented on #14340
Thanks. What does the `packageFiles with updates` debug log message say? I want to know if it's an incorrect pinning or *incorrect detection of a non dependency in the first place*

[2022-02-26 14:36] rarkins opened #14427 "Experimental feature handling"
### What would you like Renovate to be able to do?

"Experimental" features are ones which could change - or even be removed - at any time until they are no longer experimental. We should make sure these are always properly documented.

### If you have any ideas on how this should be implemented, please tell us here.

 We've used various terms for this in the past, including "beta".

I think we sh

[2022-02-26 14:59] #9588 closed

[2022-02-26 15:23] rarkins commented on #9940
I know, but for some reason it's not getting all of them. It doesn't catch `jest.mock()` either

[2022-02-26 17:08] svengt commented on #14340
@rarkins Thank you for taking the time to look in to this. I have added te `packageFiles with updates` logs in the issue description.

[2022-02-26 18:14] rarkins commented on #14340
Thanks. Can you confirm which if those dependencies are incorrect? Seems to be a few of them.

[2022-02-26 18:53] svengt commented on #14340
@rarkins Yes indeed, only the first two `alpine` and `mooseagency/postgresql` are correct.

The following are incorrect:

- command
- postgres
- -cfsync=off
- -cfull_page_writes=off
- -cautovacuum=off
- variables

[2022-02-26 20:33] chrisjenkinson opened #14430 "PHP 8.0.16 docker image not available"
### How are you running Renovate?

Self-hosted

### If you're self-hosting Renovate, tell us what version of Renovate you run.

renovate/renovate:31.91.0-slim

### Please select which platform you are using if self-hosting.

gitlab.com

### If you're self-hosting Renovate, tell us what version of the platform you run.

_No response_

### Was this something which used to work for you, and then stop

[2022-02-26 20:50] rarkins commented on #14430
Trying to re-run https://github.com/renovatebot/docker-php/runs/5254267228?check_suite_focus=true

[2022-02-26 22:23] #14430 closed

[2022-02-27 11:18] renovate-release commented on #9588
:tada: This issue has been resolved in version 31.92.1 :tada:

The release is available on:
- [GitHub release](https://github.com/renovatebot/renovate/releases/tag/31.92.1)
- `31.92.1`

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-02-27 13:20] PhilipAbed commented on #13882
![image](https://user-images.githubusercontent.com/42116482/155877042-3a8cba00-ecf7-426f-bee2-3223213d4c37.png)
what do you mean by Status Checks? what if i dont have status checks or what status checks??

Basically i might have a clue about what's happening, what i'm, thinking right now is we are opening a branch but not a PR, because:  `"prCreation": "not-pending"`

then when we are upgrading ag

[2022-02-27 18:33] NoamTD opened #14438 "[Azure DevOps] Renovate hangs after getProjectAndRepo step"
### How are you running Renovate?

Self-hosted

### If you're self-hosting Renovate, tell us what version of Renovate you run.

31.94.0

### Please select which platform you are using if self-hosting.

Azure DevOps (dev.azure.com)

### If you're self-hosting Renovate, tell us what version of the platform you run.

_No response_

### Was this something which used to work for you, and then stopped?

[2022-02-27 18:49] rarkins commented on #14438
I'm not sure what Renovate can do if an API takes minutes to respond, assuming that's a necessary API to call

[2022-02-27 19:35] NoamTD commented on #14438
@rarkins I see a couple options here:
1. We filter for the merge policy guid here: https://github.com/renovatebot/renovate/blob/b8dd3e8493083ea1e4e2e982bf420ba9d685e583/lib/platform/azure/azure-helper.ts#L144 after calling the API. We can greatly improve efficiency by filtering the policy type in the API call itself, with the  `policyType` query parameter.

2. Instead of fetching all available pol

[2022-02-28 01:54] #14029 closed

[2022-02-28 01:58] 417-72KI commented on #9077
Same issue.

Renovate creates PR with Swift package as

| Package | Update | Change |
|---|---|---|
| [hackiftekhar/IQKeyboardManager](https://togithub.com/hackiftekhar/IQKeyboardManager) | patch | `from: "6.5.6"` -> `from: "v6.5.9"` |

and CI fails.

[code]

[2022-02-28 10:07] MaronHatoum commented on #14355
Hi @nabeelsaabna
I would like to do this task

[2022-02-28 10:40] neee opened #14447 "Renovate doesn't update bazel deps"
### How are you running Renovate?

WhiteSource Renovate hosted app on github.com

### If you're self-hosting Renovate, tell us what version of Renovate you run.

_No response_

### Please select which platform you are using if self-hosting.

github.com

### If you're self-hosting Renovate, tell us what version of the platform you run.

_No response_

### Was this something which used to work for y

[2022-02-28 10:48] PhilipAbed commented on #13882
the only reason you see this is because of prCreation = "not-pending" and stabilityDays = 3
The self hosted renovate is supposed to pick up the changes after 3 days i guess ( status checks are done for stability days)
so the actual logs after 3 days aren't showing where we do "Ensuring PR",

I'm not able to reproduce at all using the given information.

what i think happened is this: we send 2 upg

[2022-02-28 11:43] HonkingGoose commented on #14438
@rarkins I think you meant `platform:azure` and _not_ `platform:gitea`, so I've swapped the labels. Feel free to revert if needed. 😉

[2022-02-28 14:28] #7755 closed

[2022-02-28 14:52] keyute opened #14452 "Parsing problem with Gradle Version Catalog"
### How are you running Renovate?

Self-hosted

### If you're self-hosting Renovate, tell us what version of Renovate you run.

31.94.0

### Please select which platform you are using if self-hosting.

GitLab self-hosted

### If you're self-hosting Renovate, tell us what version of the platform you run.

14.8.2-ee

### Was this something which used to work for you, and then stopped?

I never saw t

[2022-02-28 15:13] keyute commented on #14452
Repository can be found here: https://github.com/keyute/renovate-issue

Confirmed reproducible via your hosted dashboard.

[2022-02-28 16:23] rarkins commented on #4051
Work was started in https://github.com/renovatebot/renovate/pull/14092 but is not able to continue. Anyone who needs/wants this is welcome to pick up from where that PR left off.

[2022-02-28 16:39] #13590 closed

[2022-02-28 17:21] HonkingGoose commented on #14427
## Picking one term

I agree we should use one word only for this concept, so it's the same in all our docs.

How do you feel about using the word `trial` instead of `experimental`? It's a simpler word, and covers the same ground.

We should stay away from terms like `alpha`, `beta` as those are only meaningful for software developers.

## One issue per experimental feature

I like the idea to hav

[2022-02-28 17:49] rarkins commented on #14427
I don't like the term trial due to potential confusion with paying and plans.

[2022-02-28 18:01] #13929 closed

[2022-02-28 18:12] braunsonm opened #14455 "Maven manager does not parse environment variables of settings files"
### How are you running Renovate?

Self-hosted

### If you're self-hosting Renovate, tell us what version of Renovate you run.

31.95.0

### Please select which platform you are using if self-hosting.

_No response_

### If you're self-hosting Renovate, tell us what version of the platform you run.

_No response_

### Was this something which used to work for you, and then stopped?

I never saw th

[2022-02-28 18:19] #14455 closed

[2022-02-28 18:22] dominikg opened #14456 "invalid output in pr body for multiple updates in a pnpm monorepo managed with changesets"
### How are you running Renovate?

WhiteSource Renovate hosted app on github.com

### If you're self-hosting Renovate, tell us what version of Renovate you run.

_No response_

### Please select which platform you are using if self-hosting.

_No response_

### If you're self-hosting Renovate, tell us what version of the platform you run.

_No response_

### Was this something which used to work fo

[2022-02-28 18:47] #3391 closed

[2022-02-28 19:11] renovate-release commented on #3391
:tada: This issue has been resolved in version 31.95.2 :tada:

The release is available on:
- [GitHub release](https://github.com/renovatebot/renovate/releases/tag/31.95.2)
- `31.95.2`

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-02-28 19:11] renovate-release commented on #13590
:tada: This issue has been resolved in version 31.95.2 :tada:

The release is available on:
- [GitHub release](https://github.com/renovatebot/renovate/releases/tag/31.95.2)
- `31.95.2`

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-02-28 19:11] #14197 closed

[2022-02-28 19:52] renovate-release commented on #14197
:tada: This issue has been resolved in version 31.96.0 :tada:

The release is available on:
- [GitHub release](https://github.com/renovatebot/renovate/releases/tag/31.96.0)
- `31.96.0`

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-02-28 21:18] kezz opened #14460 "Dependency updates strip quotes from YML files"
### How are you running Renovate?

WhiteSource Renovate hosted app on github.com

### If you're self-hosting Renovate, tell us what version of Renovate you run.

_No response_

### Please select which platform you are using if self-hosting.

_No response_

### If you're self-hosting Renovate, tell us what version of the platform you run.

_No response_

### Was this something which used to work fo

[2022-03-01 02:01] #14063 closed

[2022-03-01 02:01] #14062 closed

[2022-03-01 06:17] rarkins commented on #9077
You may be able to work around this using the extractVersion feature

[2022-03-01 07:16] irudoy opened #14463 "Broken yarn lockfile update"
### How are you running Renovate?

Self-hosted

### If you're self-hosting Renovate, tell us what version of Renovate you run.

31.96.0

### Please select which platform you are using if self-hosting.

GitLab self-hosted

### If you're self-hosting Renovate, tell us what version of the platform you run.

14.8.0

### Was this something which used to work for you, and then stopped?

It used to work,

[2022-03-01 07:23] steffen-4s1 commented on #14463
Same problems seems to be with PNPM lockfile.

[2022-03-01 07:37] viceice commented on #14463
How are you running renovate (exactly)?

[2022-03-01 08:16] rarkins commented on #14452
Hi, you mention "Renovate looks up maven-metadata.xml at the wrong path" but could you provide more details about what you think is the right path?

Can you also include here the `packageFiles with updates` log and any relevant error logs *from the reproduction repo*?

[2022-03-01 08:31] steffen-4s1 commented on #14463
In my setup a crontab job starts renovate via a script file which contains the following command:

[code]

[2022-03-01 08:31] cauterize commented on #14463
Same Problem. Renovate is unable to edit yarn.lock. Had to downgrade Renovate from `31.96.0` to `31.89.8` now it works again...

[2022-03-01 08:37] rarkins commented on #14463
I've created #14464 to revert what is the most likely culprit. Would be helpful if anyone is able to confirm that it's broken on `31.94.1` exactly

[2022-03-01 08:44] MaronHatoum commented on #11450
Hi @viceice
regarding the third part of this task remove `legacy.ts`
should I remove this field from `GotExtraOptions` too ?

https://github.com/renovatebot/renovate/blob/1684b1c3e14e74aa1d47fe50e42bf8a020ae446a/lib/util/http/types.ts#L18

[2022-03-01 08:46] steffen-4s1 commented on #14463
I tried and can confirm that 31.94.1 is broken.

[code]

[2022-03-01 08:47] rarkins commented on #14463
Can you test `31.94.0`?

[2022-03-01 08:47] viceice commented on #14463
@rarkins maybe a coincidence with latest buildpack changes?

Can somebody verify that yarn is globally available in the full image?

[2022-03-01 08:48] rarkins commented on #14463
Yes, that's why I'd like to confirm first

[2022-03-01 08:50] steffen-4s1 commented on #14463
While you are writing your message my test with 31.94.0 was running. This version works very well.

[2022-03-01 08:54] rarkins commented on #14463
I can't reproduct it in `31.94.1` this way:

[code]

But I think that the evidence from @steffen-4s1 of something broken in `31.94.0` seems strong enough that we may as well revert the suspected commit and see if that resolves it.

[2022-03-01 08:55] rarkins commented on #14463
#14464 is now merged, it usually takes a few hours to roll out to the full image. Hoping it resolves the problem for you and looking forward to confirmation. I will leave this issue open until then

[2022-03-01 10:23] viceice commented on #14463
/cc @olegkrivtsov we need to debug what's going wrong. 🤔

[2022-03-01 10:27] keyute commented on #14452
With the above example, the correct path would be
`https://repo.maven.apache.org/maven2/org/jetbrains/exposed/exposed-core/maven-metadata.xml`
instead of
`https://repo.maven.apache.org/maven2/exposed-core/org.jetbrains.exposed/maven-metadata.xml`

[2022-03-01 10:30] keyute commented on #14452
Here's the full log for the minimal repository I've included which confirms the issue

<details><summary>Logs</summary>
[code]
</details>

[2022-03-01 12:14] breun commented on #3566
Maven Wrapper has migrated from Takari to an official Maven project: https://maven.apache.org/wrapper/

[2022-03-01 12:45] marcovmun commented on #14463
We have the same problem in pnpm lockfile updates.

[2022-03-01 13:09] marcovmun commented on #14463
Suggestion: Maybe add stack to the output when the stdout and/or stderr is empty. Now it was very unclear what was going wrong.
![image](https://user-images.githubusercontent.com/16606883/156174229-d5a95c2d-545e-41a8-a383-7448abe2b067.png)

[2022-03-01 13:34] steffen-4s1 commented on #14463
The full images just arrived the docker registry.
31.96.2 fixes the problem, all lockfiles are in sync with `package.json`.

Thanks for your quick response.

[2022-03-01 13:52] rarkins commented on #14463
This normally happens. If you can reproduce or fix, either contributions would be welcome.

[2022-03-01 13:53] #14463 closed

[2022-03-01 15:01] sksat opened #14471 "PR title/commit message for update docker image digest is something wrong"
### How are you running Renovate?

WhiteSource Renovate hosted app on github.com

### If you're self-hosting Renovate, tell us what version of Renovate you run.

_No response_

### Please select which platform you are using if self-hosting.

github.com

### If you're self-hosting Renovate, tell us what version of the platform you run.

_No response_

### Was this something which used to work for y

[2022-03-01 15:13] yanorei32 commented on #14471
I found a related message in the source code, but it looks like it's not being used.
https://github.com/renovatebot/renovate/blob/47fbdb250e08fadab8bbc5161931e4b47edc2342/lib/datasource/docker/index.ts#L312-L313

[2022-03-01 15:31] rarkins commented on #14471
Can you isolate the problem to a simple repo with one dependency?

[2022-03-01 15:58] yanorei32 commented on #14471
Simply reproduction here:
https://github.com/yr32infra/ghcr-test/pull/3

[2022-03-01 16:37] NoamTD commented on #14438
just updating that I've created [this issue](https://github.com/microsoft/azure-devops-node-api/issues/491)  in the azure-devops-node-api repo to allow fetching git policy configurations by repo id. One this is resolved, it should be easy to implement the second option I mentioned abolve

[2022-03-02 10:21] viceice commented on #4051
@bodinsamuel Please Don't flood issue with "me too" comments, this will cause a lot of noise for subscribers.

[2022-03-02 10:33] kezz commented on #14460
Possibly related, after manually updating the dependency Renovate can't seem to figure out that it's been updated? It closed the PR originally, but since then it reopened it and an update is still sitting in the Dependency Dashboard for the repo.

See https://github.com/KyoriPowered/adventure-webui/pull/82.

[2022-03-02 12:06] rarkins commented on #14460
Regarding the initial topic of this bug report: if it's valid to have no quotation marks for that field's value then it's not *erroneous*, it's *undesirable*. We do aim to preserve formatting like this where we can though, which is why I accepted it as a bug.

Regarding the second point, you've closed the PR and the branch is deleted, so I can't tell anymore what happened. Needs a reproduction to

[2022-03-02 13:40] hasanwhitesource commented on #13081
@henrist Is this https://github.com/hasanwhitesource/renovate-repro-gradle-wrapper/pull/4/files the update that you were expecting ?

[2022-03-02 13:41] henrist commented on #13081
That seems correct (at least `distributionSha256Sum` is changed)!

[2022-03-02 13:52] PhilipAbed commented on #9940
@viceice nope, github/ webstorm/ vs code, i checked all, none of them move imports or any hardcoded tests/mocks, doing everything manually with regexes

[2022-03-02 13:56] hasanwhitesource commented on #13081
dep.txt was ignored. I'll check out why

[2022-03-02 13:58] rarkins commented on #9940
I can confirm that `typescript.updateImportsOnFileMove.enabled` *does* work, especially for imports. But:
- it seems like VSCode can get overloaded and not catch them all, so I recommend small updates at a time (e.g. move one modules at a time)
- it misses `jest.mock()` because that's library-specific and not a JS/TS concept

[2022-03-02 14:25] rarkins commented on #9940
Let's do just the potentially "breaking" changes for now:
- All modules
- Move branch and pr workers under global worker

[2022-03-02 14:28] kezz commented on #14460
Alright, in that case I'll see if I can reproduce this and if so I'll open a new issue - will keep this one for quotation marks.

[2022-03-02 15:55] rubasace opened #14482 "Renovate only updating each dependency once per day (Maven)"
### How are you running Renovate?

Self-hosted

### If you're self-hosting Renovate, tell us what version of Renovate you run.

renovate:31.84.3@sha256:896d3109de352d4cc7806db5ac51cc1331713781272da14d83b6c2e4b19409e7

### Please select which platform you are using if self-hosting.

Bitbucket Cloud (bitbucket.org)

### If you're self-hosting Renovate, tell us what version of the platform you run.

[2022-03-02 16:24] rarkins commented on #14482
How often are you running Renovate?

Renovate caches registry results, although it's not our intention that it caches them for a day. Can you say if you the same problem doesn't occur for any other managers?

If the problem is reproducible for you, you could try running with `RENOVATE_EXPERIMENTAL_NO_MAVEN_POM_CHECK=true` in your env to see if that fixes it.

[2022-03-03 01:59] #14113 closed

[2022-03-03 06:03] JamieMagee commented on #6562
I found an offline document database[^1], with a mongo-like interface that I've based my experiment around. I've renamed my `ghsa-offline` project to `osv-offline`[^2], and I'm ready to start initial integration with Renovate.

To anyone following this issue, this will not be a straightforward or quick change, because our current vulnerabilities implementation is very tightly coupled to the GitHub

[2022-03-03 07:30] rarkins commented on #9940
Some observations:

VSCode indeed does a good job of updating imports. But beware:
- Make sure you've opened at least one .ts file since restarting, or else the "ESLint server" won't be running
- After moving a folder, and letting VSCode make the changes, you should wait until the errors/warnings in the bottom bar stabilize and no longer change in count. Only once this is stable can you be free to

[2022-03-03 07:32] rarkins commented on #14471
![image](https://user-images.githubusercontent.com/6311784/156517590-e709c5bb-0a0f-4e9b-ae1f-4890cbc16429.png)

The only thing wrong here is that it should say "digest" instead of "commit hash", right?

[2022-03-03 07:38] sksat commented on #14471
Currently, yes. And commit messages.
![2022-03-03_16-36](https://user-images.githubusercontent.com/23310673/156518232-2ebde6c3-f9a8-40f4-920b-36cee17fde5b.png)

[2022-03-03 10:15] HonkingGoose opened #14491 "Working on new major version, no contributor PRs will get merged today"
### Describe the proposed change(s).

Hi there!

We're working on a new major version of Renovate! 🥳

To prevent dealing with merge conflicts, we will not merge any contributor's PRs today.

We will review and merge contributor PRs again when we're done.

The Renovate maintainers

[2022-03-03 10:16] HonkingGoose commented on #14491
@rarkins Can you pin this issue, so that people will see it?

[2022-03-03 10:40] rubasace commented on #14482
We run Renovate every 5 mins but it takes around 20 to deal with all our repos, so it runs every 20-25 minutes.

I can say that this doesn't occur for Docker manager, I can see how Renovate created 2 PRs for the same dependency in less than an hour.

The problem is definitely reproducible, so I'll give it a try to `RENOVATE_EXPERIMENTAL_NO_MAVEN_POM_CHECK=true` and see how it goes. I'll update her

[2022-03-03 10:50] #6241 closed

[2022-03-03 11:05] hasanwhitesource commented on #13081
@henrist
https://github.com/hasanwhitesource/renovate-repro-gradle-wrapper/pull/10#issue-1158270497
Does that look good for you ?

[2022-03-03 11:11] henrist commented on #13081
Yep - that looks good!

[2022-03-03 11:41] rubasace commented on #14482
Ok, I can confirm the envar fixes the behaviour, I can see two PRs for the same Maven dependency being raised in less than an hour.

Is this something that needs more investigation from your side? or something I can fix somehow in a more stable way from mine?

[2022-03-03 12:13] renovate-release commented on #6241
:tada: This issue has been resolved in version 31.97.3 :tada:

The release is available on:
- [GitHub release](https://github.com/renovatebot/renovate/releases/tag/31.97.3)
- `31.97.3`

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-03-03 12:46] rarkins commented on #14482
This variable is used in this function: https://github.com/renovatebot/renovate/blob/a86f23df0943b910e4ac143f40af8e79c4cb5729/lib/datasource/maven/index.ts#L240-L249

I suspect what's happening is that our cache behavior is not as desired. I'm guessing that you're getting a hit for `oldReleaseMap`, which doesn't contain the new version, so gets assigned `null`: https://github.com/renovatebot/renov

[2022-03-03 14:41] ocofaigh commented on #13491
Thank you @hasanwhitesource - this works well!

[2022-03-03 14:41] #13491 closed

[2022-03-03 21:13] avorima opened #14504 "Cannot update versions in multi-line `replace` block in go.mod"
### How are you running Renovate?

Self-hosted

### If you're self-hosting Renovate, tell us what version of Renovate you run.

31.81.3, also 32.26.2

### Please select which platform you are using if self-hosting.

github.com

### If you're self-hosting Renovate, tell us what version of the platform you run.

ubuntu-latest

### Was this something which used to work for you, and then stopped?

I n

[2022-03-04 03:24] zml2008 opened #14507 "Failure reading Gradle libs.versions.toml"
### How are you running Renovate?

WhiteSource Renovate hosted app on github.com

### If you're self-hosting Renovate, tell us what version of Renovate you run.

_No response_

### Please select which platform you are using if self-hosting.

_No response_

### If you're self-hosting Renovate, tell us what version of the platform you run.

_No response_

### Was this something which used to work fo

[2022-03-04 03:56] zml2008 opened #14508 "github-actions manager strips quotes and does not correctly handle end-of-line comments"
### How are you running Renovate?

WhiteSource Renovate hosted app on github.com

### If you're self-hosting Renovate, tell us what version of Renovate you run.

_No response_

### Please select which platform you are using if self-hosting.

_No response_

### If you're self-hosting Renovate, tell us what version of the platform you run.

_No response_

### Was this something which used to work fo

[2022-03-04 03:59] zml2008 commented on #14460
There's a reproduction repository for this issue, also covering its interaction with end-of-line comments in #14508

[2022-03-04 05:22] rarkins commented on #14460
Duplicate of #14508

[2022-03-04 05:22] #14460 closed

[2022-03-04 05:45] zml2008 commented on #14507
Reproduction repository dashboard with failure message: https://github.com/zml2008/renovate-gradle-toml-reproducer/issues/1

The debug log shows the same failure as above.

[2022-03-04 08:04] rarkins commented on #13490
Closed by #14490

[2022-03-04 08:04] #13490 closed

[2022-03-04 08:04] rarkins commented on #14341
Closed by #14490

[2022-03-04 08:04] #14341 closed

[2022-03-04 08:05] rarkins commented on #9940
This was mostly implemented in #14490. Remaining parts are no longer "breaking"

[2022-03-04 08:26] rona-tombo opened #14510 "Add support for maven snapshot version updates"
### What would you like Renovate to be able to do?

I am currently implementing a project called MockPaper.
This project's dependency `paper-api` (familiar from Minecraft) uses the SNAPSHOT release.
If you specify a dependency using the `-SNAPSHOT` suffix (e.x. `1.18.1-R0.1-SNAPSHOT`), depending on when you build, the build may failed due to changes in method signatures, etc.
Therefore, we are usi

[2022-03-04 09:34] benkelaar commented on #3566
As mentioned in [this discussion](https://github.com/renovatebot/renovate/discussions/14512) @trystian1 and I are working on this feature.

[2022-03-04 11:07] andreisilviudragnea opened #14516 "Renovate does not know how to expand Maven placeholders recursively"
### How are you running Renovate?

WhiteSource Renovate hosted app on github.com

### If you're self-hosting Renovate, tell us what version of Renovate you run.

_No response_

### Please select which platform you are using if self-hosting.

_No response_

### If you're self-hosting Renovate, tell us what version of the platform you run.

_No response_

### Was this something which used to work fo

[2022-03-04 11:23] karlhorky commented on #12005
@viceice to use the new GitHub default branch `main`, does #11565 mean that a configuration of the following is needed?

[code]

Or is the default `main` branch supported by default?

[2022-03-04 11:26] viceice commented on #12005
Renovate uses the default branch, so `main` should work as is.

- fixed in #11565

[2022-03-04 11:26] #12005 closed

[2022-03-04 11:27] karlhorky opened #14517 "Support JSON5 and JavaScript configs for Shareable Config Presets?"
### What would you like Renovate to be able to do?

Hi there, first of all, thanks for your continued work on Renovate, it's amazing! 🙌

It would be great if [Shareable Config Presets](https://docs.renovatebot.com/config-presets/) (first implemented in https://github.com/renovatebot/renovate/issues/647 by @rarkins ) would be able to also support JSON5 and JavaScript configuration files, to allow c

[2022-03-04 11:34] viceice commented on #14517
We can simply switch to `JSON5` parser to resolve this.

[2022-03-04 11:35] viceice commented on #14517
I think there is already a feature request.

[2022-03-04 11:36] karlhorky commented on #12005
Yep it does, confirmed now, thanks!

[2022-03-04 11:37] karlhorky commented on #14517
Ah, sorry, that's over here: #7674

Closing...

[2022-03-04 11:37] #14517 closed

[2022-03-04 11:43] #14491 closed

[2022-03-04 13:25] HonkingGoose commented on #14510
I found this issue, which looks related:

- #14300

[2022-03-04 13:29] HonkingGoose commented on #14507
The dashboard in the reproduction doesn't show the error anymore. But you can see the error by going into the "edit history" of the dashboard. 😉

[2022-03-04 15:55] fgreinacher opened #14524 "Renovate ignores Kustomization files without header"
### How are you running Renovate?

Self-hosted

### If you're self-hosting Renovate, tell us what version of Renovate you run.

31.94.0

### Please select which platform you are using if self-hosting.

GitLab self-hosted

### If you're self-hosting Renovate, tell us what version of the platform you run.

14.8.2

### Was this something which used to work for you, and then stopped?

I never saw this

[2022-03-04 15:58] viceice commented on #14524
This is not a bug. This is intentional, as there are so many other yaml type files.

[2022-03-04 16:50] fgreinacher commented on #14524
Hm, the filematch is pretty specific for this manager, and in case someone really uses the name `kustomization.yaml` for something else, it will probably not contain the Kustomize-specific sections, causing a no-op.

[2022-03-04 19:39] mdehollander commented on #2213
Thanks for the extra information and the example config. With this I managed to get a PR triggered for an update of a conda environment.
From the logs:
[code]

And 2 PRs for 2 packages that I enabled: https://github.com/mdehollander/orochi/pulls

![image](https://user-images.githubusercontent.com/262872/156830355-867da2d7-66b9-4788-bf8a-4b65388d48dd.png)

To get the environment files in subfolders

[2022-03-05 02:13] halkeye commented on #14304
I'm working on a more streamlined case, I'll repopen when I have something

[2022-03-05 02:13] #14304 closed

[2022-03-05 07:47] joelgrimberg opened #14529 "Unsupported engine in latest renovate/renovate docker image"
### How are you running Renovate?

Self-hosted

### If you're self-hosting Renovate, tell us what version of Renovate you run.

@latest

### Please select which platform you are using if self-hosting.

GitLab self-hosted

### If you're self-hosting Renovate, tell us what version of the platform you run.

Linux

### Was this something which used to work for you, and then stopped?

I never saw this

[2022-03-05 09:22] rarkins opened #14531 "Default to binarySource=install"
### What would you like Renovate to be able to do?

Default to binarySource=install behavior, mainly for the flow-on benefit in the `renovate/renovate` image.

### If you have any ideas on how this should be implemented, please tell us here.

Change the default in a major release. Make sure that non-buildpack users don't get confusing warnings.

### Is this a feature you are interested in implemen

[2022-03-05 10:19] jelhan commented on #13804
I finally found an open source project, which is affected by this: https://github.com/adopted-ember-addons/ember-file-upload/pull/720/files

[2022-03-07 05:01] rarkins commented on #13804
@jelhan yes we do, please read the document linked from "minimal reproduction" above

[2022-03-07 05:07] rarkins commented on #14510
#14300 includes essentially two feature requests, so let's keep this one for the "update snapshot versions" request and #14300 for "pin snapshot versions" (which should come second).

For this one, we need a reproduction where there's a public package with these same characteristics.

[2022-03-07 07:41] alexg-axis opened #14546 "Support common monorepo tag patterns as a datasource"
### What would you like Renovate to be able to do?

There are multiple common git tagging patterns when it comes to monorepos:

* Name and version - `my-app/1.0.0`, `my-app-1.0.0`
  * https://stackoverflow.com/questions/47316073/monorepo-version-tags-conventions
  * https://github.com/prometheus-community/helm-charts/tags
* Path and version (similar to Go) - `apps/my-app/1.0.0`

What they all have

[2022-03-07 07:42] alexg-axis commented on #14546
I'm pretty sure I got some of the package rules wrong, but I think the idea gets across. I'm working on a simple repo to reproduce this.

[2022-03-07 08:06] viceice commented on #14546
Do you know [`extractVersion`](https://docs.renovatebot.com/configuration-options/#extractversion)? With it you can extract versions from arbitrary strings from any renovate datasource.

Also for regex manager: [`extractVersionTemplate`](https://docs.renovatebot.com/configuration-options/#extractversiontemplate)

[2022-03-07 08:17] MaronHatoum commented on #14355
hi @rarkins,
I added all the new dryRun options, the `full` option runs as is like `dryRun=true`.
`lookup` and `extract` options runs in different way
this part of code https://github.com/renovatebot/renovate/blob/06f8802c5428fa5ca82eeb8b76a382ed42ad3e13/lib/workers/repository/process/index.ts#L103-L109
changed to:
`    logger.debug('No baseBranches');
const packageFiles = await extract(config);
a

[2022-03-07 08:29] rarkins commented on #14355
@MaronHatoum start by running with `LOG_LEVEL=debug` in your env and you'll get a lot more logs to guide you

[2022-03-07 08:34] rarkins commented on #14546
My first question is whether it's possible for us to automatically detect such a tag naming convention (I'm not sure it is, with accuracy). Let's start by having a reproduction which can be tested against

[2022-03-07 08:43] alexg-axis commented on #14546
I think I got a reproduction that conveys the general idea working here: https://github.com/alexg-axis/renovate-14520. I'm currently trying out the `extractVersion*` options.

[2022-03-07 08:44] alexg-axis commented on #14546
@rarkins I noticed you added the github-tags, label, I'm not sure if it matters, but I've mostly been looking into the git-tags datasource. If I understand correctly, the two are not the same.

[2022-03-07 08:54] jume-dev commented on #6787
Did anybody fix this already?
Because we found that within our setup, it works with private gems from a gemstash server.

[2022-03-07 08:58] micheelengronne commented on #6787
Sorry, I was busy on other matters and this sunk down in my backlog. I don't when I would be able to fix this properly.

[2022-03-07 09:01] jume-dev commented on #6787
Yeah, no problem.
Indeed, maybe I worded it wrong, but we found it works. Something fixed it somehow. Maybe there isn't even something to do anymore if it works for others too.

[2022-03-07 09:09] PhilipAbed commented on #14516
reproduction confirmed, the parsing is only finding the last change, not all of them.

[2022-03-07 09:55] tversteeg opened #14549 "Pip-compile ignores python `registryUrls`"
### What would you like Renovate to be able to do?

I would like the pip-compile manager to parse and use the python `registryUrls` configuration similarly to pip_requirements.

### If you have any ideas on how this should be implemented, please tell us here.

It looks like pip_requirements contains a [`extract.ts`](https://github.com/renovatebot/renovate/blob/main/lib/modules/manager/pip_requirem

[2022-03-07 10:08] marcindabrowski opened #14550 "Gradle: do not get update for Spock from 2.0-groovy-3.0 to 2.1-groovy-3.0"
### How are you running Renovate?

WhiteSource Renovate hosted app on github.com

### If you're self-hosting Renovate, tell us what version of Renovate you run.

_No response_

### Please select which platform you are using if self-hosting.

github.com

### If you're self-hosting Renovate, tell us what version of the platform you run.

_No response_

### Was this something which used to work for y

[2022-03-07 10:21] christoferolaison opened #14551 "Pull request creation error - body is too long (maximum is 65536 characters)"
### How are you running Renovate?

WhiteSource Renovate hosted app on github.com

### If you're self-hosting Renovate, tell us what version of Renovate you run.

_No response_

### Please select which platform you are using if self-hosting.

_No response_

### If you're self-hosting Renovate, tell us what version of the platform you run.

_No response_

### Was this something which used to work fo

[2022-03-07 10:30] viceice commented on #14551
Looks like we need to trim PR body ? `body is too long (maximum is 65536 characters)`

[2022-03-07 10:37] mfrechePgest opened #14552 "Java + Gradle : "Error updating branch""
### How are you running Renovate?

Self-hosted
Github.com fails too, see reproduction repository

### If you're self-hosting Renovate, tell us what version of Renovate you run.

At least since 31.93.3, problem still present with 32.32.0

### Please select which platform you are using if self-hosting.

Bitbucket Server

### If you're self-hosting Renovate, tell us what version of the platform you r

[2022-03-07 11:10] hasanwhitesource commented on #13619
@KayBestmann1123

I have forked your test repo and added this [config](https://github.com/hasanwhitesource/renovatetest/blob/39c700c2a550b8944e8d12f7d3c0c1baacb4ee6a/renovate.json) and received the expected update.

 Would you kindly verify and run on the latest renovate version and also check if my config satisfies your needs?

[2022-03-07 11:32] MPV commented on #14137
@rarkins Here's an example of a _complete_ (expected) PR:
https://github.com/pnordh/renovate-14137-reproduction/pull/3

...compared to the already shown actual behavior in:
https://github.com/pnordh/renovate-14137-reproduction/pull/1

[2022-03-07 11:40] marcindabrowski commented on #14550
As I wrote I am using WhiteSource. I don't know where is the problem - there is nothing in the logs.
To reproduce you can clone my repo - https://github.com/marcindabrowski/examples-rooms-booking. This link was provided in the description.
But in the bug form I posted the logs - I don't know why there are not there. But I just took the last one. I don't think it will help you.

[2022-03-07 11:41] marcindabrowski commented on #14550
Here are the logs:
[code]

[2022-03-07 12:52] JoergHeinicke5005 commented on #13619
@hasanwhitesource Do you know why it hasn't picked up spotbugs_annotations upgrade from 4.5.2 to 4.5.3 in your test repo?

[2022-03-07 13:53] rarkins commented on #14550
Please read https://github.com/renovatebot/renovate/blob/main/docs/development/minimal-reproductions.md to understand why this has been labeled this way

[2022-03-07 16:02] rarkins opened #14559 "Fully specified monorepos should do an exact match"
### How are you running Renovate?

WhiteSource Renovate hosted app on github.com

### If you're self-hosting Renovate, tell us what version of Renovate you run.

_No response_

### Please select which platform you are using if self-hosting.

_No response_

### If you're self-hosting Renovate, tell us what version of the platform you run.

_No response_

### Was this something which used to work fo

[2022-03-07 16:04] rarkins commented on #14559
I think we need a new match, which is just `matchSourceUrl` exactly, and monorepos should be in that.

[2022-03-07 16:34] rarkins opened #14561 "matchSourceUrls"
### What would you like Renovate to be able to do?

Add a new `packageRules` option `matchSourceUrls`, which is similar to `matchSourceUrlPrefixes` but does exact matches only.

### If you have any ideas on how this should be implemented, please tell us here.

Per above

### Is this a feature you are interested in implementing yourself?

Maybe

[2022-03-08 04:54] #14507 closed

[2022-03-08 05:17] renovate-release commented on #14507
:tada: This issue has been resolved in version 32.0.3 :tada:

The release is available on:
- [GitHub release](https://github.com/renovatebot/renovate/releases/tag/32.0.3)
- `32.0.3`

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-03-08 10:58] mujtaba-ahmed12 opened #14569 "Replace method does not update commit message topic."
### How are you running Renovate?

Self-hosted

### If you're self-hosting Renovate, tell us what version of Renovate you run.

31.89.10

### Please select which platform you are using if self-hosting.

GitHub Enterprise Server

### If you're self-hosting Renovate, tell us what version of the platform you run.

31.89.10

### Was this something which used to work for you, and then stopped?

I never

[2022-03-08 11:37] hasanwhitesource commented on #13619
@zharinov Do we need a special config for the Gradle parser to identify dependencies in this [file](https://github.com/hasanwhitesource/renovatetest/blob/c8d2222b82d0130513fa1a973fb9a75675def6ab/gradle/dependencies.gradle)

[2022-03-08 11:43] HonkingGoose opened #14572 "Use Jest `--shard` option to speed up tests"
### What would you like Renovate to be able to do?

Jest `v28` comes with the `--shard` option, which splits the testing load over multiple machines. We could probably use this to speed up our Jest tests.

### If you have any ideas on how this should be implemented, please tell us here.

Try out the `--shard` option in Jest [v28.0.0](https://github.com/facebook/jest/releases/tag/v28.0.0) and see i

[2022-03-08 11:46] Sayali1638 opened #14573 "Failure of Whitesource Renovate azure pipeline"
### How are you running Renovate?

Self-hosted

### If you're self-hosting Renovate, tell us what version of Renovate you run.

Renovate Me Plugin

### Please select which platform you are using if self-hosting.

Azure DevOps (dev.azure.com)

### If you're self-hosting Renovate, tell us what version of the platform you run.

_No response_

### Was this something which used to work for you, and the

[2022-03-08 11:47] HonkingGoose commented on #14569
Hi @mujtaba-ahmed12, 👋

I cannot find a link to your minimal reproduction repository, can you edit your post and put the link in?

[2022-03-08 11:49] PhilipAbed commented on #14233
Hi, Can you please shed some light? What is the main problem? What is the expected result?

as far as i can see the problem is in the installation? the code tries to install using a newer pnpm version while not respecting the constraint?

i need some clarifications

[2022-03-08 11:50] mujtaba-ahmed12 commented on #14569
Hi @HonkingGoose,

Since this is private repository and we are running renovate bot as cloudbuild job. I can not share link to the repo.

[2022-03-08 11:54] HonkingGoose commented on #14573
I think this issue should be raised at https://github.com/jycouet/VSTSExtensions/issues.

Relevant part of our README:

[2022-03-08 11:58] HonkingGoose commented on #14491
One of the maintainers still needs to unpin this issue. 😉

[2022-03-08 11:59] zharinov commented on #13619
Unfortunately, we need to add support for this variable definition syntax

[2022-03-08 12:04] zharinov commented on #13619
Btw, I'm working on parsing library which would help to handle Gradle syntax variations: https://github.com/zharinov/good-enough-parser/

I had plans to port current Gradle implementation to use this library (actually, it was inspired by Gradle implementation)

[2022-03-08 15:52] #14471 closed

[2022-03-08 15:56] rarkins commented on #14569
@mujtaba-ahmed12 please click the link above to see a description of what we mean by reproduction repository. We do not mean you linking to your actual repository.

[2022-03-08 16:33] renovate-release commented on #14471
:tada: This issue has been resolved in version 32.0.4 :tada:

The release is available on:
- [GitHub release](https://github.com/renovatebot/renovate/releases/tag/32.0.4)
- `32.0.4`

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-03-08 17:25] simon-abbott commented on #519
Has there been any movement on this recently? It would be really nice to have.

[2022-03-08 18:50] rarkins commented on #14546
Yes, the solution might be datasource-agnostic

[2022-03-09 01:59] #14226 closed

[2022-03-09 11:00] edmeister commented on #14243
I ran into this very same issue today. Is there any workaround?

[2022-03-09 11:21] astellingwerf commented on #14559
Wouldn't adding a slash at the end of the URL solve this?

[2022-03-09 11:57] rarkins commented on #14559
Only if we also add a trailing slash to our "sourceUrl" string before comparing

[2022-03-09 11:59] herndlm opened #14584 "package-lock.json has incorrect modifications with rangeStrategy=update-lockfile"
### How are you running Renovate?

WhiteSource Renovate hosted app on github.com

### If you're self-hosting Renovate, tell us what version of Renovate you run.

_No response_

### Please select which platform you are using if self-hosting.

_No response_

### If you're self-hosting Renovate, tell us what version of the platform you run.

_No response_

### Was this something which used to work fo

[2022-03-09 12:56] #13081 closed

[2022-03-09 13:17] renovate-release commented on #13081
:tada: This issue has been resolved in version 32.0.5 :tada:

The release is available on:
- [GitHub release](https://github.com/renovatebot/renovate/releases/tag/32.0.5)
- `32.0.5`

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-03-09 13:19] rarkins commented on #14137
Definitely looks similar to the `gomod` manager support for "vendored" modules. Is `charts/` reserved for this purpose?

[2022-03-09 13:25] rarkins commented on #14584
As a first simple attempt at fixing this, I'd try "massaging" the lock file entry back to what it was.

[2022-03-09 13:57] renovate-release commented on #14482
:tada: This issue has been resolved in version 32.0.6 :tada:

The release is available on:
- [GitHub release](https://github.com/renovatebot/renovate/releases/tag/32.0.6)
- `32.0.6`

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-03-09 15:45] PhilipAbed commented on #14233
@rarkins

i can do (1) easily in npm/extract/index.ts::postExtract()

[code]

i can add   `await inheritConstraints(packageFiles)`

i need to investigate further about (2)

[2022-03-09 15:51] viceice commented on #14233
(2) is my preferred approach, so we don't need to detect, if a renovate user has configured it already manually.

[2022-03-09 15:59] simonbasle commented on #13586
I see this issue is marked as `in-progress`. any update on this? even as a MVP where only a single `baseBranch` is supported?

currently we're caught between a rock and a hard place, as if I change my repo's default branch to be the "oldest" maintenance branch activately maintained, then other parts of our workflow fall apart (eg. GitHub will stop closing issues that get a commit in our "newest" m

[2022-03-09 17:17] rarkins commented on #13586
It was released and then reverted, because the original problem was found to be due to token permissions and the implementation was an it hacky. Therefore it is not currently in progress, but someone could might make quick work of it if they take the original PR.

If you edit the target branch then Renovate will cease updating the PR unless you manually request a rebase.

[2022-03-09 17:53] HonkingGoose commented on #12222
This issue is still present in the published docs.

Do we know what the proper regex should be?

[2022-03-09 19:20] simao-silva commented on #9229
If anyone is still interest, I've managed to build for ARM64: https://github.com/simao-silva/docker-renovate

[2022-03-09 21:20] strayer commented on #6422
I like to do something similar in Dockerfiles when installing tools that don't provide GPG signed releases:

[code]

Would be great if Renovate could update the checksums too when opening PRs for those versions.

[2022-03-10 01:49] Goooler commented on #13575
Same issue https://github.com/Goooler/ktlint/pull/10.

[2022-03-10 02:02] #14238 closed

[2022-03-10 02:50] wada811 opened #14589 "Support repository content filtering of predefined registry in Gradle"
### What would you like Renovate to be able to do?

Renovate parses and matches a predefined registry that has [repository content filtering](https://docs.gradle.org/current/userguide/declaring_repositories.html#sec:repository-content-filtering) like below.

[code]

Now, Renovate doesn't support repository content filtering of a predefined registry in Gradle.
Reproduction: https://github.com/wada8

[2022-03-10 04:43] rarkins commented on #14589
Ideally, we support all formats/syntax which are valid for a package manager and which our users might reasonably use. However, with something like Groovy, when there's far too many ways to do things so then our pragmatic approach should be:
- Pick at least one reasonable syntax to support
- Make sure it's documented

I agree with your proposal on supporting syntax (1)

[2022-03-10 06:40] wada811 commented on #14589
Thank you for your comment.
I sent a pull request #14592.
Please review it when you're available.

[2022-03-10 08:56] viceice commented on #9229
Remember, that only npm is supported, as all other renovate images are not arm compatible.

[2022-03-10 08:58] Gabriel-Ladzaretti commented on #13645
Are we ok with using a data file under renovate/data
with the content of `ubuntu-distro-info --all -f`?
installed and ran on `ubuntu:lastest` (70mb~ image) -
[code]

[2022-03-10 09:53] PhilipAbed commented on #14233
I'm a bit confused, what do you mean by "Artifacts Updating"..
should the change be in `manager/npm/post-update/pnpm.ts`?

I'm not sure i understand which step is "artifacts updating", is it updating to a new version? detecting a new version? `updates/generate.ts`? or when? where? help plz

[2022-03-10 09:55] hasanwhitesource commented on #14374
@rarkins let's combine updates having the same dependency name ?

[2022-03-10 10:20] rarkins commented on #14233
Yes, in post-update/pnpm

"Artifacts updating" is a generic term we use to refer to updating other files after a package file update, Eg updating the lock file like here, or checksum file in go, vendored dependencies in some, etc

[2022-03-10 11:06] simao-silva commented on #9229
What other images are you talking about?

[2022-03-10 11:08] viceice commented on #9229
When using `binarySource=docker` renovate will start docker sidecar containers to run lockfile updates, eg `npm install`

[2022-03-10 12:11] PhilipAbed commented on #14233
ok, so in post-update/pnpm i have the config:{"packageFile": "package-x/package.json"...}
should i look in the root folder for another package.json and check its constraint?

i believe in (1) i have both files parsed, but here in the `post-update/pnpm` i have only 1 file, the one that is being updated,
it already checks there for:
[code]
if i add the constraint in the extract it would appear here

[2022-03-10 12:28] #14589 closed

[2022-03-10 12:49] renovate-release commented on #14589
:tada: This issue has been resolved in version 32.1.0 :tada:

The release is available on:
- [GitHub release](https://github.com/renovatebot/renovate/releases/tag/32.1.0)
- `32.1.0`

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-03-10 13:20] hasanwhitesource commented on #14374
@rarkins @viceice  A suggestion for a solution :
For `branchUpgrades` Lets group the updates of type "pin" into the pin-dependencies branch if there are any in a separate branch.

I see in this case that the "jest-monorepo" branch is having an `updateType` of "pin" and the "pin-dependencies" branch is of course having update types of pins.

Lets add a logic to check if there needs to be a grouping

[2022-03-10 13:23] pnordh commented on #14137
While `charts/` is the common convention it's not reserved for it. Users of the helm chart inflator also have the possibility of using another path, see https://github.com/kubernetes-sigs/kustomize/blob/master/api/types/helmchartargs.go#L7-L19

[2022-03-10 13:29] rubasace commented on #14482
I'm not sure the issue has been solved.  Actually, now it seems a bit worse, as I only got a single PR on one repository for each specific Maven dependency: if a common library changes version (`1.0.0` -> `1.0.1`), only the first repository using `1.0.0` gets the PR, but the rest repositories don't. Same as before, if I release a `1.0.2` version afterwards, no PR is created for any service. I gues

[2022-03-10 15:15] Gabriel-Ladzaretti commented on #13645
https://github.com/ladzaretti/docker-testing/pull/3

[2022-03-10 15:38] bavedarnow opened #14599 "Pre-commit dependencies with pep440 versioning fails"
### How are you running Renovate?

Self-hosted

### If you're self-hosting Renovate, tell us what version of Renovate you run.

31.94.1

### Please select which platform you are using if self-hosting.

GitHub Enterprise Server

### If you're self-hosting Renovate, tell us what version of the platform you run.

3.2.1

### Was this something which used to work for you, and then stopped?

I never saw

[2022-03-10 16:49] rarkins commented on #9229
`renovate/python`, `renovate/go`, etc

[2022-03-10 18:14] robertlindner opened #14602 "Terraform modules discovery not working on gitlab.com terraform registry"
### How are you running Renovate?

Self-hosted

### If you're self-hosting Renovate, tell us what version of Renovate you run.

renovate/renovate:31.97.3@sha256:58ab4f71169a955888c0a89c3c94e7adadfebee75679ebc42aff06f9fbc9e485

### Please select which platform you are using if self-hosting.

gitlab.com

### If you're self-hosting Renovate, tell us what version of the platform you run.

_No response

[2022-03-10 18:29] rarkins commented on #14374
We ideally shouldn't need to "hardcode" logic about pinning inside the branch grouping.

Here's the config which is meant to make this work: https://github.com/renovatebot/renovate/blob/22062e6efc8070d7c47e2e476c33364b10ecf4f0/lib/config/options/index.ts#L1218-L1235

But here's the hostRules entry which supersedes it: https://github.com/renovatebot/renovate/blob/22062e6efc8070d7c47e2e476c33364b10e

[2022-03-10 18:33] JanMalte commented on #13633
https://github.com/renovatebot/renovate/discussions/14596

[2022-03-10 18:33] rarkins commented on #14233
The pnpm post-update logic already knows which directory it's going to run in: https://github.com/renovatebot/renovate/blob/22062e6efc8070d7c47e2e476c33364b10ecf4f0/lib/modules/manager/npm/post-update/pnpm.ts#L13

I think you can add logic which looks for `engines.pnpm` inside `${cwd}/package.json` and uses it in https://github.com/renovatebot/renovate/blob/22062e6efc8070d7c47e2e476c33364b10ecf4f0

[2022-03-10 21:22] or-adar opened #14604 "Exposing hooks for renovate"
### What would you like Renovate to be able to do?

Hi,
I'm currently running renovate on a self hosted GitLab Runner
and I would love renovate to expose a hook that will allow me to run some custom scripts
only if it updated all dependencies and after all relevant pull requests were created/updated.

My use case for this currently is that my team manages a lot of repos and we want to run a custom

[2022-03-10 21:22] Gabriel-Ladzaretti commented on #13645
As @viceice suggested, ill be using a generated JSON file using
`ubuntu-distro-info --all -f | sed -r 's/Ubuntu|"//g ; s/([0-9]+.[0-9]+) /\1=/; s/^[ \t]*//' | jo`
might be handful in the future ^^

[code]

[2022-03-10 22:43] viceice commented on #13645
Should be improved some more. So we don't need to parse a lot at runtime.

[2022-03-10 22:44] viceice commented on #14604
What about post upgrade tasks?

[2022-03-10 23:12] aairey commented on #9268
If I understood correclty, the IAM route would work for the public renovatebot but not for self-hosted ones?
So I think we need another solution ... we could create a support case with AWS and ask for the right API calls?

[2022-03-11 01:52] rarkins commented on #9268
Ref: https://github.com/aws/containers-roadmap/issues/1262

[2022-03-11 04:25] JamieMagee opened #14605 "Find a more permanent home for `@jamiemagee/osv-offline` package"
### Describe the proposed change(s).

In order to allow me to iterate quickly on #6562 I created a package `@jamiemagee/osv-offline`[^1] which is in my GitHub account[^2]. In the long run, I think it should either be owned by the `renovate` org or `ossf`[^3] org.

The OpenSSF question is still open for debate. Currently the OSV schema is owned by the OpenSSF[^4]. However, OSV the service is owned

[2022-03-11 05:33] rarkins commented on #14604
It sounds like you're asking for a "post run" hook, rather than per-branch/PR?

[2022-03-11 06:20] viceice commented on #14605
I think we should move it to renovate org for now. As long as we don't require review @JamieMagee should be able to push new changes pretty fast without other maintainers.

We can also add semantic release, like we do in our other npm libs to continuous deliver to npm registry.

[2022-03-11 08:14] #8324 closed

[2022-03-11 08:56] or-adar commented on #14604
@rarkins Correct! but only if renovate updated the Dependency Dashboard issue

@viceice I read about it, however that hook runs per branch and before renovate creates a commit (or even creates/updates PRs) which is less ideal for me, as I'll want to get the latest content of "Dependency Dashboard" issue (which renovate maintains).

[2022-03-11 08:58] renovate-release commented on #8324
:tada: This issue has been resolved in version 32.2.0 :tada:

The release is available on:
- [GitHub release](https://github.com/renovatebot/renovate/releases/tag/32.2.0)
- `32.2.0`

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-03-11 10:51] HonkingGoose opened #14608 "Publish the `readme.md` files for `datasources`, `versioning` and `platforms`"
## Problem

There's a [`readme.md`](https://github.com/renovatebot/renovate/blob/main/lib/modules/datasource/aws-machine-image/readme.md) file for the AWS Machine Image datasource. But the content of this readme is **not** published on the [AWS Machine Image Datasource docs page](https://docs.renovatebot.com/modules/datasource/#aws-machine-image-datasource).

This problem was found in https://gith

[2022-03-11 12:19] rarkins commented on #14137
Sorry I don't understand exactly how that file works. If the user changes the default path would we see it in a file in the repo we can parse?

[2022-03-11 12:28] andrein commented on #14137
@rarkins yes, we can read that field from `kustomize.yaml`, with a default of `charts` if it's not present.

See [this example](https://github.com/kubernetes-sigs/kustomize/blob/master/examples/chart.md#build-the-base-and-the-variants).
[code]

[2022-03-11 14:11] robertlindner commented on #14602
Hi,
I have created a minimal setup in gitlab.com:
https://gitlab.com/renovate-issue-14602

It contains one terraform module with two versions:
https://gitlab.com/renovate-issue-14602/mymodule/-/infrastructure_registry

A repo for renovate to update:
https://gitlab.com/renovate-issue-14602/update-this

And a project running renovate as a gitlab pipeline:
Here you can see the 404: https://gitlab.com

[2022-03-11 15:16] wrslatz opened #14611 "Support updating version-specific info inside compatibility suffixes"
### What would you like Renovate to be able to do?

Renovate should be able to analyze version-specific info (major, minor, patch) within the `compatibility` section of the version of a dependency.

In Docker tags, it is common for the `compatibility` part of the tag to include version info (i.e. `-alpine3.14`). Without this capability, `Dockerfile` tags that include version info in the `compatibi

[2022-03-11 20:01] wrslatz commented on #10371
Linking related issue for awareness: https://github.com/renovatebot/renovate/issues/3080

[2022-03-11 20:03] wrslatz commented on #13852
Cross-posting issue for lock file v2 support: https://github.com/renovatebot/renovate/issues/10371

[2022-03-11 20:29] #14420 closed

[2022-03-11 20:50] renovate-release commented on #14420
:tada: This issue has been resolved in version 32.2.1 :tada:

The release is available on:
- [GitHub release](https://github.com/renovatebot/renovate/releases/tag/32.2.1)
- `32.2.1`

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-03-11 20:52] viceice opened #14614 "Wrong pr commit title for pin pr"
### How are you running Renovate?

WhiteSource Renovate hosted app on github.com

### If you're self-hosting Renovate, tell us what version of Renovate you run.

_No response_

### Please select which platform you are using if self-hosting.

_No response_

### If you're self-hosting Renovate, tell us what version of the platform you run.

_No response_

### Was this something which used to work fo

[2022-03-11 20:56] viceice commented on #14614
Probably caused by
- https://github.com/renovatebot/renovate/pull/14337

[2022-03-11 21:49] gitfool commented on #14420
@viceice I see the github renovate app is still using version `31.97.3`. How often does it get updated to latest?

[2022-03-12 07:16] rarkins commented on #14614
@hasanwhitesource this appears to be a regression error

[2022-03-12 07:56] rarkins commented on #13852
FYI any of these branches which can't be opened will usually be fixed with a lock file maintenance PR instead.

[2022-03-12 08:17] rarkins commented on #10371
This is now partially supported. If a transitive remediation bubbles all the way up to to cause a `package.json` change, then the PR will be created. But any transitive remediation which affects the `package-lock.json` only will not create a PR. This is still due to npm 7+ limitations we have not been able to overcome. The good news it that any such vulnerabilities would be remediated by a simple

[2022-03-12 08:25] rarkins commented on #14482
@zharinov could you take another look at this? Here's how we want this HEAD logic to work:
- Fetch the cached lookups from before. It should be a list of releases with found/not found results
- If the cache has expired, we discard it and check everything again
- Otherwise, for each release we are interested in now, we apply the same found/not found results from before
- For all remaining releases

[2022-03-12 08:28] rarkins commented on #14396
Lowered priority to normal as I'm not sure if this is even a Renovate problem or how to fix

[2022-03-12 08:37] rarkins commented on #7281
@hasanwhitesource you're not mistaken.. the problem was that my example was outdated. We decided to remove `additionalBranchPrefix` from datasource default configs after I created this issue.

Here's Docker's current default config: https://github.com/renovatebot/renovate/blob/079c219f49a1f3bcbb1c367d74bb60dd2044d941/lib/modules/datasource/docker/index.ts#L305-L330

I think we've now removed enoug

[2022-03-12 08:37] #7281 closed

[2022-03-12 08:40] rarkins commented on #13807
Marking this as blocked and lowering priority due to our inability to reproduce it or work out where/how to fix it

[2022-03-12 08:49] xoxys commented on #14396
Is there something else I can provide?

[2022-03-12 09:02] rarkins commented on #6213
I'll ensure this issue doesn't get autoclosed due to lack of reproduction, but wanted to add this label to make it clear that the number one thing standing in the way of us fixing this is being able to reproduce it locally

[2022-03-12 09:05] rarkins commented on #7834
Hi, I tried reproducing this locally but the large size of the example repo makes debugging impractical. We need a *minimal* reproduction if we are to take a further look (e.g. spotbugs only)

[2022-03-12 09:07] rarkins commented on #11356
Reproduction forked to https://github.com/renovate-reproductions/11356

[2022-03-12 09:17] rarkins commented on #4726
A way forward: I think we might be able to implement this as a feature flag - potentially even hidden at first - and opt ourselves into it as test subjects first.

[2022-03-12 09:27] rarkins commented on #4726
Here's how to convert a config into all `packageRules`.

First of all, there's going to be some certain config which can't go into `packageRules`, such as `hostRules`, which I'm going to ignore for now.

[code]

[2022-03-12 09:37] rarkins commented on #4726
Summarizing:
- new hidden config option, `convertToPackageRules`, defaults to `false`
- All `extends` will be converted first (therefore take lower priority)
- Top-level config (e.g. `"labels": ["deps"]`) get converted next
- Nested config objects (such as `"npm": { "labels": ["foo"] }` are converted last
- Any existing packageRules get added in the same order they appeared in the input config

[2022-03-12 09:41] rarkins commented on #10232
I've hidden a bunch of comments here as I want to remain focused on the branch state caching first, and dashboard reuse of it second

[2022-03-12 09:47] rarkins commented on #11426
Proposal for manager fingerprinting:
- Do not separate out extract from update fingerprinting and instead fingerprint the whole
- Use a managers *tests* to fingerprint it, not its code. i.e. if spec or snapshot files change, then consider the manager changed

[2022-03-12 09:50] rarkins commented on #11426
@RahulGautamSingh would you like to take this?

[2022-03-12 09:51] rarkins commented on #10232
Blocked by #11426

[2022-03-12 09:51] rarkins commented on #11445
Duplicate of #10232

[2022-03-12 09:51] #11445 closed

[2022-03-12 09:52] RahulGautamSingh commented on #11426
Yes, please.😁

[2022-03-12 09:56] rarkins commented on #2409
Closing as won't do because GraphQL doesn't allow us to do etag/modified-since caching

[2022-03-12 09:56] #2409 closed

[2022-03-12 10:02] rarkins opened #14617 "Use REST instead of GraphQL to fetch closed Pull Requests"
### Describe the proposed change(s).

We should switch back to using REST instead of GraphQL for fetching closed PRs in order to enable #11419.

[2022-03-12 10:02] rarkins commented on #11419
Blocked by #14617

[2022-03-12 10:07] rarkins commented on #8420
I think we can unblock this because in the initial implementation, the proxy can be public packages only.

[2022-03-12 10:18] rarkins commented on #8420
Updated ideas on how the proxy should work:
- One proxy GET request per dependency
- Support known `defaultRegistryUrls` only
- Proxy should answer back from cache only. If the package is not found or has reached cache expiry, answer back immediately and enqueue a task to query the upstream registry again. So e.g. at startup time it will answer back with 404 for everything but quickly start popula

[2022-03-12 10:21] rarkins commented on #14396
Have you identified the root cause? e.g. is it a Gitea problem or a Renovate problem? And if it's a Gitea problem, do we know exactly how to work around it reliably?

Sorry if I missed it from the above.

[2022-03-12 10:29] rarkins commented on #11418
Blocked by #11419

[2022-03-12 10:31] rarkins commented on #1502
Blocked by #11459

[2022-03-12 10:32] rarkins commented on #11459
I've upgraded this to important priority because it blocks #1502

@pret-a-porter can you provide an estimate for what % of migrations now support retaining ordering, versus those that don't?

[2022-03-12 14:18] xoxys commented on #14396
No, I have not found the exact root cause, but that might be related to my very limited knowledge of the renovate source code. The summary so far is:

- I was able to reproduce it in try.gitea.io with a minimal reproduction repo
- I have used renovates trace mode to get the PR body of the faulty renovate run
- While renovate fails to create the PR I was able to copy and paste the exact body to a c

[2022-03-12 15:16] #14516 closed

[2022-03-12 17:33] Mogztter opened #14621 "Renovate should not be case-sensitive regarding repository name"
### How are you running Renovate?

Self-hosted

### If you're self-hosting Renovate, tell us what version of Renovate you run.

31.97.3

### Please select which platform you are using if self-hosting.

github.com

### If you're self-hosting Renovate, tell us what version of the platform you run.

_No response_

### Was this something which used to work for you, and then stopped?

I never saw this

[2022-03-12 17:43] renovate-release commented on #14516
:tada: This issue has been resolved in version 32.2.2 :tada:

The release is available on:
- [GitHub release](https://github.com/renovatebot/renovate/releases/tag/32.2.2)
- `32.2.2`

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-03-12 18:55] gitfool commented on #14420
Never mind. I see it's updated now! 🎉🚀

[2022-03-12 19:46] rarkins commented on #5646
As we have deprecated npm preset support, we won't be making fixes/changes to this before then.

[2022-03-12 19:46] #5646 closed

[2022-03-12 19:51] rarkins commented on #14621
This can be fixed by adding `toLowerCase()` to the compared fields on that line

[2022-03-12 20:11] rarkins opened #14623 "Extract cache fingerprinting"
### What would you like Renovate to be able to do?

Intelligently invalidate extract caches.

### If you have any ideas on how this should be implemented, please tell us here.

If the extract config changes for any detected manager, or the manager's fingerprint, then invalid the whole extract cache.

### Is this a feature you are interested in implementing yourself?

Maybe

[2022-03-12 20:11] rarkins commented on #14623
Blocked by #11426

[2022-03-12 20:11] rarkins commented on #11444
This is already described in sub-issues

[2022-03-12 20:11] #11444 closed

[2022-03-12 20:14] gitfool commented on #14385
@rarkins I was just looking at adding a manager column as you suggested, but according to docs this is not in the [template fields](https://docs.renovatebot.com/templates/#template-fields).

[2022-03-12 20:17] rarkins commented on #14385
https://github.com/renovatebot/renovate/pull/14624

[2022-03-12 21:48] rarkins commented on #11143
Poetry and Terraform seem to be the only two left

[2022-03-12 22:07] pret-a-porter commented on #11459
@rarkins Around 60% migrations already refactored

[2022-03-13 07:34] rarkins opened #14631 "hostRules: default concurrency and timeout"
### Describe the proposed change(s).

Currently we have no default concurrency at the http layer, but there is a configuration option.  We have a lot of application-level concurrency limits in our code:

<img width="415" alt="image" src="https://user-images.githubusercontent.com/6311784/158050000-741e24b8-18e8-4440-8b3d-3dcab9c7ebb2.png">

Meanwhile we have a default timeout of 60s per http reques

[2022-03-13 08:19] rarkins commented on #14631
https://github.com/sindresorhus/got/blob/main/documentation/6-timeout.md

I think our concern is mainly for connect/lookup timeouts and not download timeouts.

[2022-03-13 09:02] rarkins opened #14632 "Consolidate package cache usage in datasources"
### Describe the proposed change(s).

Most datasources now use the cache decorator. The following have direct access:

<img width="359" alt="image" src="https://user-images.githubusercontent.com/6311784/158052431-3f9f038d-ada3-421d-8ec0-d86d3f1592d4.png">

The purpose of this task is to research and describe "why" they need direct access, and refactor any that's possible.

For example in Maven we

[2022-03-13 09:07] viceice commented on #14632
In docker it makes sense to make a head request to tags, so we can easily and fast check if we need to fetch again.

[2022-03-13 09:18] rarkins commented on #14632
I think many of the datasources could benefit from storing an ETag or modified-since header and reusing it, but that's perhaps a different topic?

[2022-03-13 09:24] viceice commented on #14632
Sure, but we should think about required API changes, so we don't have to make huge work twice. 🤔

[2022-03-13 11:35] hasanwhitesource commented on #14614
@rarkins @viceice  Could you please mention the expected pr title ?

[2022-03-13 11:56] hasanwhitesource commented on #14614
I have been checking this commit message template that we are having in this case :
`' Pin {{{depName}}} action to {{#if isMajor}}v{{{newMajor}}}{{else}}{{#if isSingleVersion}}v{{{newVersion}}}{{else}}{{{newValue}}}{{/if}}{{/if}} '`

Shouldn't this commit message template in this case compile to : `Pin {{{depName}}} action to {{{newValue}}}` since there is no version update ?

[2022-03-13 12:20] hasanwhitesource commented on #14614
Here is a reproduction that I've created : https://github.com/hasanwhitesource/14614/pulls

[2022-03-13 13:28] rarkins commented on #14614
If it's pinning to a digest then it should display the short version of the new digest

[2022-03-13 13:55] hasanwhitesource commented on #14614
In case of a digest pinning the `newValue` field of the `LookupUpdate` type should have the new digest and not the `newVersion` field right?

[2022-03-13 14:21] rarkins commented on #14614
Yes, the value should be in newDigest

[2022-03-13 14:47] hasanwhitesource commented on #14614
@rarkins Right now its being picked up as a dependency update and not as a digest update.

I suggest we change or create a new update type here :
https://github.com/renovatebot/renovate/blob/2e1dd754a19e1badcab481d2bce9373b79ddc161/lib/workers/repository/process/lookup/index.ts#L337
Changing the type to `digest` will fix this. Here is a link to an example repo after the change : https://github.com

[2022-03-13 15:39] PhilipAbed commented on #14233
i noticed that i dont need to use the "cwd" i could just "readLocalFile" but not sure if its ok so i used cwd as you suggested

i have a constraint now, it works fine according to the debug, now what do i expect to see different? renovate doesnt try to run installation anymore?

the only thing i see changed is: this doesnt appear in my run
https://github.com/roni-frantchi/renovate-repro-issue-1423

[2022-03-13 15:40] rarkins commented on #14614
Maybe time to use updateType=pinDigest?

[2022-03-13 18:18] Mogztter opened #14638 "The issue Dependency Dashboard is recreated each time the renovatebot is running"
### How are you running Renovate?

WhiteSource Renovate hosted app on github.com

### If you're self-hosting Renovate, tell us what version of Renovate you run.

v32.0.1

### Please select which platform you are using if self-hosting.

github.com

### If you're self-hosting Renovate, tell us what version of the platform you run.

_No response_

### Was this something which used to work for you, an

[2022-03-13 18:21] rarkins commented on #14638
You incorrectly selected hosted app on GitHub.com when actually you're self hosting.

This is also not a bug.

Your gitAuthor is wrong, and needs to match your app's built-in email.

[2022-03-13 18:40] ZacSweers opened #14640 "Gradle repo matching does not recognize maven content pattern"
### How are you running Renovate?

Self-hosted

### If you're self-hosting Renovate, tell us what version of Renovate you run.

32.0.6

### Please select which platform you are using if self-hosting.

github.com

### If you're self-hosting Renovate, tell us what version of the platform you run.

GitHub Actions on github.com

### Was this something which used to work for you, and then stopped?

I n

[2022-03-13 18:40] ZacSweers commented on #14640
I can create a reproducing repo if need be, but I figured this case was fairly simple to demonstrate just in this issue

[2022-03-13 19:35] rarkins commented on #14640
We always want to test against a real repo before / after so a reproduction would be good (without your workaround)

[2022-03-13 19:56] viceice commented on #14640
This looks like a recent gradle issue we fixed. It was something about the content parsing of buildin registries.

[2022-03-13 20:38] ZacSweers commented on #14640
Do you know which version it should be fixed in? I can test that and put together a repro repo if it's still not working

[2022-03-13 23:38] viceice commented on #14640
https://github.com/renovatebot/renovate/releases/tag/32.1.0

Looks like the fixed version

[2022-03-14 01:33] mizdra commented on #10371
## Workaround: Use dependabot for security updates
Official support is now in place, but since I'm here, I'd like to introduce the workaround I use. This allows normal package updates to be opened in renovate and security updates in dependabot. This may be useful for those who want to automate the review of security updates.

[code]

[2022-03-14 05:02] rarkins commented on #14233
You need to be running using binarySource=install so that constraints are used to select the right version of pnpm to install

[2022-03-14 06:54] ZacSweers commented on #14640
Let me test that out!

[2022-03-14 08:13] #10110 closed

[2022-03-14 08:45] PhilipAbed commented on #14233
@rarkins Thanks,
according to the logs its doing just that!

[code]

ill open pull request now

[2022-03-14 09:43] Shegox opened #14648 "maven versioning doesn't support underscore (`_`)"
### How are you running Renovate?

Self-hosted

### If you're self-hosting Renovate, tell us what version of Renovate you run.

31.94.0

### Please select which platform you are using if self-hosting.

GitHub Enterprise Server

### If you're self-hosting Renovate, tell us what version of the platform you run.

_No response_

### Was this something which used to work for you, and then stopped?

I n

[2022-03-14 09:47] fgreinacher commented on #14524
[The documentation](https://kubectl.docs.kubernetes.io/faq/kustomize/versioningpolicy/#default-values-for-k8s-kind-and-apiversion) is pretty clear that those fields are optional and also most examples don't have the headers.

I think that this should "just" work, but as a compromise we could also make this configurable. But again, I really think the file name `kustomization.ya?ml` is safe to be in

[2022-03-14 09:53] #12251 closed

[2022-03-14 09:54] rhuanbarreto opened #14649 "Poetry: treat python as a dependency"
### What would you like Renovate to be able to do?

Today, updates proposed in Dockerfile's doesn't count on restrictions in pyproject.toml

For example:

`pyproject.toml`
[code]
`Dockerfile`
[code]

Renovate comes with a [PR](https://github.com/rhuanbarreto/renovate-test/pull/2) trying to update python in the Dockerfile to 3.10, but in pyproject.toml 3.10 is not compatible. So both dependencies s

[2022-03-14 09:55] viceice commented on #14524
Ok, update the check, so if the property is there, it must have right value.

[2022-03-14 10:18] fgreinacher commented on #13148
Duplicate of #12156

[2022-03-14 10:21] fgreinacher commented on #12156
@viceice Sorry to ping you here all the time but this really bugs me every time I want to do a smaller contribution. What do you think about moving to the standard image suggested by @JamieMagee until the issue in `containerbase/node` is fixed?

[2022-03-14 10:22] #13148 closed

[2022-03-14 10:23] viceice commented on #12156
ok, will look at it now

[2022-03-14 10:29] viceice commented on #12156
Getting a different error on windows 😕
![image](https://user-images.githubusercontent.com/1798109/158154346-d1b2d2a9-b6a5-4c52-9d02-b23ebd96e838.png)

[2022-03-14 10:55] renovate-release commented on #10110
:tada: This issue has been resolved in version 32.4.0 :tada:

The release is available on:
- [GitHub release](https://github.com/renovatebot/renovate/releases/tag/32.4.0)
- `32.4.0`

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-03-14 10:56] renovate-release commented on #12251
:tada: This issue has been resolved in version 32.4.0 :tada:

The release is available on:
- [GitHub release](https://github.com/renovatebot/renovate/releases/tag/32.4.0)
- `32.4.0`

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-03-14 11:17] edmeister opened #14655 "bitbucket-tags datasource only fetches 1st page of tags (in oldest to latest order)"
### How are you running Renovate?

Self-hosted

### If you're self-hosting Renovate, tell us what version of Renovate you run.

32.0.3

### Please select which platform you are using if self-hosting.

Bitbucket Cloud (bitbucket.org)

### If you're self-hosting Renovate, tell us what version of the platform you run.

_No response_

### Was this something which used to work for you, and then stopped

[2022-03-14 11:19] JavierSegoviaCordoba opened #14656 "Renovate is permanently force pushing after a `gitIgnoredAuthors` push"
### How are you running Renovate?

WhiteSource Renovate hosted app on github.com

### If you're self-hosting Renovate, tell us what version of Renovate you run.

_No response_

### Please select which platform you are using if self-hosting.

_No response_

### If you're self-hosting Renovate, tell us what version of the platform you run.

_No response_

### Was this something which used to work fo

[2022-03-14 11:22] JavierSegoviaCordoba commented on #14656
Relevant update:
[code]

[2022-03-14 11:34] JavierSegoviaCordoba commented on #14656
Another unexpected behavior is that if a version is shared and only one dependency is already updated in MavenCentral, Renovate can't update it, which I think is the real issue that provokes this loop.

And Renovate is not going to be able to update it because there is only one variable used by two dependencies, I mean the version is not duplicated in each dependency as you can see in the TOML fil

[2022-03-14 11:40] JavierSegoviaCordoba commented on #14656
I know there is an option for adding a safe space to update dependencies, but that is not deterministic and can be problematic if the library author is not considering updating some specific dependency until some random date, which indeed could be happening if I was using another dependency of the kotest group as I read yesterday in Slack.

![image](https://user-images.githubusercontent.com/746356

[2022-03-14 12:28] alexg-axis commented on #14546
@viceice I've tried the `extractVersion` options without any progress. Do you have some concrete examples in the context of the reproduction I've included above?

[2022-03-14 12:32] JavierSegoviaCordoba commented on #14656
@rarkins added logs

[2022-03-14 12:58] rarkins commented on #14656
Relevant logs (I think):

[code]

So it knows it doesn't need to rebase due to staleness, but it thinks it needs to update the package file. Does it repeat the same every run?

[2022-03-14 13:03] #14549 closed

[2022-03-14 13:11] JavierSegoviaCordoba commented on #14656
Looks like that.

The conflict with the shared variable is like: I want to update one, I want to not update another one, but both can't be satisfied, so it is being re-triggered constantly.

About the problem with the single PR preset, I have no logs for it because it was a lot of months ago. The loop was exactly the same, but not sure 100% it is the same issue, of course. Without logs, is it poss

[2022-03-14 13:19] rarkins commented on #1502
The branch name should be `{{{branchPrefix}}}migrate-config`.

[2022-03-14 15:58] codyoss commented on #6213
I know one area we still see more tidying required is when we have replace statements in our module that relate to another local module. I just had to update https://github.com/GoogleCloudPlatform/golang-samples/pull/2478. You can see the additional go mod tidy that was required in a subsequent commit, because we replace another local module that had dep updates: [commit](https://github.com/Google

[2022-03-14 16:27] rarkins commented on #6213
@codyoss did you run just `go mod tidy` to achieve that, or any other commands?

[2022-03-14 16:33] codyoss commented on #6213
Just `go mod tidy`.

[2022-03-14 21:14] anomiex opened #14666 "packageRules separateMajorMinor not working in self-hosted mono-config"
### How are you running Renovate?

Self-hosted

### If you're self-hosting Renovate, tell us what version of Renovate you run.

32.4.1

### Please select which platform you are using if self-hosting.

github.com

### If you're self-hosting Renovate, tell us what version of the platform you run.

_No response_

### Was this something which used to work for you, and then stopped?

I never saw this w

[2022-03-14 23:47] #10046 closed

[2022-03-15 01:47] renovate-release commented on #10046
:tada: This issue has been resolved in version 32.6.0 :tada:

The release is available on:
- [GitHub release](https://github.com/renovatebot/renovate/releases/tag/32.6.0)
- `32.6.0`

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-03-15 07:20] viceice commented on #12156
So my summary is, because our user is a member of root group we dont have access to `/tmp` somehow, at least on codespaces

[code]

That why we switch to root user for now until we find a better solution. see #14652

[2022-03-15 09:16] rarkins commented on #14655
Can you reproduce this using a public repo with tags (dummy if necessary)?

[2022-03-15 09:23] edmeister commented on #14655
Hi @rarkins, I've already got a fix. I just need to add an extra test, so expect a PR soon.

[2022-03-15 10:54] arnisoph commented on #14602
I can reproduce this issue. :)

[2022-03-15 11:19] djice opened #14670 "Do not use parent property in artifactId dependency for maven project"
### How are you running Renovate?

WhiteSource Renovate hosted app on github.com

### If you're self-hosting Renovate, tell us what version of Renovate you run.

_No response_

### Please select which platform you are using if self-hosting.

github.com

### If you're self-hosting Renovate, tell us what version of the platform you run.

_No response_

### Was this something which used to work for y

[2022-03-15 15:04] PhilipAbed commented on #4910
I've tried to reproduce this but got:
[code]

for some reason it errors out to update the file, The descriptions says it uploads wrongly.. on my machine its failing to start the change and the PR ,
should i open another issue for my case on this repository?

[2022-03-15 15:23] PhilipAbed commented on #4910
issue is not reproducible , its already fixed i think please check it out https://github.com/StinkyLord/4910/pull/3/files

![image](https://user-images.githubusercontent.com/42116482/158411819-8f34a290-183b-404c-a457-7eb982aa932a.png)

[2022-03-15 17:33] rarkins commented on #14666
The reproduction doesn't show the relevant config (`separateMajorMinor`). Can you reproduce it in a regular Renovate setup using `renovate.json` and the hosted app?

[2022-03-15 17:41] anomiex commented on #14666
See https://github.com/anomiex/renovate-test/blob/cd9168e207b4da87cf82cf0a00ea99c2d57cb6bc/.github/renovate-config.js#L18

Also the logs show it being picked up, although I didn't quote that bit in the report:
[code]

I already said I was unable to reproduce it in the hosted app.

[2022-03-15 18:14] anomiex commented on #14666
I've now tried some dry runs with the self-hosted app using `renovate.json` instead of putting the config in `renovate-config.js`. It seems `separateMajorMinor` is only honored when the relevant `packageRules` is in `renovate.json` rather than in `renovate-config.js`.

We've found a few advantages to having the config in `renovate-config.js` rather than `renovate.json`: we can generate parts of th

[2022-03-15 20:22] renovate-release commented on #14655
:tada: This issue has been resolved in version 32.6.1 :tada:

The release is available on:
- [GitHub release](https://github.com/renovatebot/renovate/releases/tag/32.6.1)
- `32.6.1`

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-03-15 21:28] anomiex commented on #14666
Hmm. Looking at things in our production repo a little more widely, maybe it's not the `separateMajorMinor` that's not working, but the `extends: ["monorepo:wordpress"]` when used in the packageRules?

I had thought that part was working since it was still grouping the packages as expected. But maybe the grouping is only happening thanks to "config:base" pulling in "monorepo:all" which pulls in "m

[2022-03-16 04:16] #12156 closed

[2022-03-16 04:55] rarkins commented on #14666
Config works on config.js too, but you might be finding that there's a different *ordering* of packageRules, which affects behavior. Converting this to a discussion now.

[2022-03-16 08:28] HonkingGoose commented on #14608
@viceice Is this something you want to work on? I think you know all about our docs build scripts. 😉

[2022-03-16 08:32] viceice commented on #14608
Sure, but can't estimate a time frame yet. To busy 😉

[2022-03-16 09:17] #14584 closed

[2022-03-16 09:21] HonkingGoose commented on #11187
### User-created script to add old contributors (no license!)

There now is an automated way to migrate old contributions, see: https://github.com/all-contributors/all-contributors/issues/539#issuecomment-1036979017 for the discussion + link to a Python script. There's no license attached to the script, so I don't think we can use it under our own license.

It will still be hard for newcomers to a

[2022-03-16 09:37] renovate-release commented on #12156
:tada: This issue has been resolved in version 32.6.2 :tada:

The release is available on:
- [GitHub release](https://github.com/renovatebot/renovate/releases/tag/32.6.2)
- `32.6.2`

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-03-16 10:17] #14336 closed

[2022-03-16 13:15] morremeyer opened #14696 "terraform provider update fails when .terraform.lock.hcl does not contain a lock for the provider yet"
### How are you running Renovate?

WhiteSource Renovate hosted app on github.com

### If you're self-hosting Renovate, tell us what version of Renovate you run.

_No response_

### Please select which platform you are using if self-hosting.

_No response_

### If you're self-hosting Renovate, tell us what version of the platform you run.

_No response_

### Was this something which used to work fo

[2022-03-16 16:20] mrgesco commented on #10649
@herndlm After a while I finally had time to recheck this bug.
With the update, the fix for me was to add a hostRule with the token to access my private registry

`module.exports = {
    hostRules: [
      {
        matchHost: 'https://<GITLAB_URL>/api/v4/group/<group-id>/',
        username: '___token___',
        password: process.env.MY_SUPER_SECRET_TOKEN,
      }
    ],
    autodiscover: false

[2022-03-16 16:20] #10649 closed

[2022-03-16 17:20] markussiebert commented on #14421
I like this issue - as I don't run multi region workloads at the moment, i didn't thought of this.

I updated a PR that solves your issues with the docs - there also was a discussion regarding this, so I think more information are better. @rarkins I can't see the readme in the [docs](https://docs.renovatebot.com/modules/datasource/#aws-machine-image-datasource) anymore. Something broken?

@rarkins

[2022-03-16 21:55] Wirone opened #14699 "Print resolved config in DEBUG mode"
### What would you like Renovate to be able to do?

It would be helpful if Renovate could print resolved config (convert all options from `extends` to actual values) when `LOG_LEVEL=debug`.

I've spent some time debugging and reading why Renovate sets hourly limit for PRs to 2 when I did not set it explicitly. Then I found [this comment](https://github.com/renovatebot/renovate/issues/3833#issuecom

[2022-03-17 04:47] #14524 closed

[2022-03-17 05:08] renovate-release commented on #14524
:tada: This issue has been resolved in version 32.6.3 :tada:

The release is available on:
- [GitHub release](https://github.com/renovatebot/renovate/releases/tag/32.6.3)
- `32.6.3`

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-03-17 08:42] loadi-dev opened #14703 "Maven: bumpVersion does not respect parent dependency for childs in multi module projects"
### How are you running Renovate?

Self-hosted

### If you're self-hosting Renovate, tell us what version of Renovate you run.

32.6.1

### Please select which platform you are using if self-hosting.

GitLab self-hosted

### If you're self-hosting Renovate, tell us what version of the platform you run.

14.8.3

### Was this something which used to work for you, and then stopped?

I never saw this

[2022-03-17 08:44] rarkins commented on #11187
Sure, sounds good. It will be manual and subjective but that's probably OK. I'd likely just go through the list of `feat:` authors and pick most of them, plus anyone else who's made repeated non-feature contributions such as yourself or @astellingwerf

[2022-03-17 09:48] hasanwhitesource commented on #14374
@SchroederSteffen any updates here ?

[2022-03-17 09:57] viceice opened #14705 "Initialize file logging to more early"
### What would you like Renovate to be able to do?

Currently we miss a lot of log messages on file logging here
https://github.com/renovatebot/renovate/blob/dca3418bbdbf1024ac6807e591562b4042bc846d/lib/workers/global/config/parse/index.ts#L58-L70

I like to remove the config oiptions and initialize it via env only, like we do for `LOG_LEVEL`.

### If you have any ideas on how this should be imple

[2022-03-17 10:07] HonkingGoose commented on #14421
I don't know if it's something we broke when we migrated our build scripts to our main repository, or if we just never published the `readme.md` files at all.

See issue:

- https://github.com/renovatebot/renovate/issues/14608

[2022-03-17 10:08] SchroederSteffen commented on #14374
Sorry, I didn't investigate further as this seems to be Renovate standard config? Are you asking me to try to add additional custom config?

[2022-03-17 10:42] viceice commented on #14421
They never got published before. I've validated via diff to not change anything.

[2022-03-17 11:11] vlagorce opened #14708 "ACR Datasource unauthorized while fetching tags list."
### How are you running Renovate?

Self-hosted

### If you're self-hosting Renovate, tell us what version of Renovate you run.

32.6.0

### Please select which platform you are using if self-hosting.

GitLab self-hosted

### If you're self-hosting Renovate, tell us what version of the platform you run.

14.8.2

### Was this something which used to work for you, and then stopped?

I never saw this

[2022-03-17 11:24] HonkingGoose commented on #14421
@viceice Thank you for the explanation! 😉

[2022-03-17 11:43] vlagorce commented on #14708
Seems to be ACR specific.
https://docs.microsoft.com/en-us/azure/container-registry/container-registry-repository-scoped-permissions#authenticate-with-token (metadata/read)

[2022-03-17 11:47] 417-72KI commented on #9077
@rarkins
I tried with below but seems not working. Is there any mistake?

[code]

[2022-03-17 11:54] Wirone opened #14712 "Semantic (conventional) commits does NOT require lowercase"
### How are you running Renovate?

Self-hosted

### If you're self-hosting Renovate, tell us what version of Renovate you run.

Latest renovate/renovate image (32.6.2)

### Please select which platform you are using if self-hosting.

GitLab self-hosted

### If you're self-hosting Renovate, tell us what version of the platform you run.

Official image

### Was this something which used to work for

[2022-03-17 12:00] rhuanbarreto commented on #14649
Please read the referencing issue.

Repo is on https://github.com/rhuanbarreto/renovate-test/pull/2

[2022-03-17 12:07] Shegox commented on #14648
@rarkins I would look into implementing that.
What do you think, should we
a) just treat `_` as a "letter" (This would be the easier and safer approach)
b) follow [mavens approach](https://github.com/apache/maven/blob/31193cbf0c93205a63c8c7b372b09200f60e69f4/maven-artifact/src/main/java/org/apache/maven/artifact/versioning/ComparableVersion.java#L627-L713) to treat all non-digit, `.` and `-` as "l

[2022-03-17 12:08] #14712 closed

[2022-03-17 12:17] Wirone commented on #14712
You're quick as lightning @rarkins 😅 Sorry for duplicate, I did search but somehow didn't find it 🤔

[2022-03-17 12:19] mstoetzer commented on #11774
This also applies for Mergerequest descriptions:

e.g.

[code]

:)

[2022-03-17 12:48] hasanwhitesource commented on #14374
@SchroederSteffen
[code]
For the second config you will have a pr that looks like this :
![image](https://user-images.githubusercontent.com/90554456/158811554-8fc12b0a-1ea2-4a85-ad06-a1f5e5f8293a.png)

[2022-03-17 12:53] rarkins commented on #14712
No problem, these types of ones can be hard to find with search. I knew it existed this time..

[2022-03-17 12:56] rarkins commented on #14648
I think it's ok for any fix which improves the situation, even if it doesn't fix anything. In general we want to mimic exactly how the original versionings work and maybe should even split them off into their own repos where we might even fuzz them against the original libraries in their own languages to check that we have the same "valid" results, same compares results, etc.

[2022-03-17 13:01] rarkins commented on #14649
The problem should be described in full here, and until it is, it will remain labeled as `status:requirements`. To make things worse, the PR you link to is *irrelevant* to this feature request and may confuse things. You should instead be highlighting the line in the poetry file which is seemingly being ignored and not upgraded.

[2022-03-17 17:04] viceice commented on #14374
i think [this ](https://github.com/renovatebot/renovate/pull/14715) pr should fix the grouping issue

[2022-03-17 17:13] scarmouchesupralog opened #14716 "Bitbucket : reviewers config seems to always return "Malformed reviewers list""
### How are you running Renovate?

Self-hosted

### If you're self-hosting Renovate, tell us what version of Renovate you run.

32.6

### Please select which platform you are using if self-hosting.

Bitbucket Cloud (bitbucket.org)

### If you're self-hosting Renovate, tell us what version of the platform you run.

_No response_

### Was this something which used to work for you, and then stopped?

[2022-03-17 17:17] viceice commented on #9077
i think this won't work, you need to match packages or datasource

[2022-03-17 20:00] markussiebert commented on #14421
I'm 100% sure I saw my complete readme in the docs of the datasource after it was merged!

[2022-03-17 22:15] renovate-release commented on #14374
:tada: This issue has been resolved in version 32.6.4 :tada:

The release is available on:
- [GitHub release](https://github.com/renovatebot/renovate/releases/tag/32.6.4)
- `32.6.4`

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-03-18 00:55] allstar-app[bot] opened #14721 "Security Policy violation Binary Artifacts"
_This issue was automatically created by [Allstar](https://github.com/ossf/allstar/)._

**Security Policy Violation**
Project is out of compliance with Binary Artifacts policy: binaries present in source code

**Rule Description**
Binary Artifacts are an increased security risk in your repository. Binary artifacts cannot be reviewed, allowing the introduction of possibly obsolete or maliciously su

[2022-03-18 05:27] rarkins commented on #14721
@JamieMagee @viceice do you think we're justified in ignoring it?

[2022-03-18 05:29] JamieMagee commented on #14721
Maybe...

If yes, we might open an issue upstream asking if we can configure ignore patterns. If no, we should see if there is an alternative to having gradle files in the repo

[2022-03-18 05:58] viceice commented on #14721
We should ignore them.

[2022-03-18 07:18] SchroederSteffen commented on #14374
That's great. Many thanks! 👍

[2022-03-18 08:32] viceice commented on #14708
@rarkins This PR is only a workaround which can break any time soon. A better solution is to make a HEAD request to the real resource (like tags list) and use the auth header values to get a token, looks like this is the way other docker api clients work. WDYT?

[2022-03-18 08:56] rarkins commented on #14708
Sounds good

[2022-03-18 09:14] HonkingGoose commented on #14721
There are issues asking for ignore lists already:

- https://github.com/ossf/scorecard/issues/1270
- https://github.com/ossf/scorecard/issues/1406

[2022-03-18 09:27] rarkins commented on #14721
Seems like `testdata` is or was a magic name they ignore: https://github.com/ossf/scorecard/issues/1256#issuecomment-969059871

Maybe we could make `__fixtures__/testdata/` ?

[2022-03-18 11:13] rhuanbarreto commented on #14649
Sorry for being a noob that don't know how to write good descriptions. Description updated. Hope it's acceptable.

[2022-03-18 11:38] dominik-bln opened #14723 "Not opening MRs with "Branch is 3 hours old - skipping PR creation""
### How are you running Renovate?

Self-hosted

### If you're self-hosting Renovate, tell us what version of Renovate you run.

32.6.4

### Please select which platform you are using if self-hosting.

GitLab self-hosted

### If you're self-hosting Renovate, tell us what version of the platform you run.

14.8

### Was this something which used to work for you, and then stopped?

It used to work, an

[2022-03-18 12:39] rarkins commented on #14723
`"prCreation": "not-pending"` means "do not open a PR if any checks are still pending". `"stabilityDays": 2` will mean that a branch containing any dependency less than 2 days old will have a pending status check added it by Renovate itself. I'm guessing these two factors are interacting together. If it always says 3 hours for every branch, then that's strange though.

Something else you could do

[2022-03-18 12:44] rarkins commented on #14649
Actually, now that you expand on the description I think we have two different topics here getting mixed up.

"treat python as a dependency", which I suggested to you, means "if the python field in poetry says `>=3.9,<3.10` then propose to upgrade it to allow `3.10`".

What you are asking for - that we suppress an update to a Dockerfile based upon a dependency range in a poetry toml file - is not

[2022-03-18 13:05] rhuanbarreto commented on #14649
I'm happy to have a PR from renovatebot upgrading in both places as I said in the description. But only having one can lead the developer to make the things wrong once both sides must be in sync.

[2022-03-18 14:53] viceice commented on #14705
Yes `LOG_FILE`  and  `LOG_FILE_LEVEL`.

[2022-03-18 15:16] Eurymone opened #14726 "Changelog not fetched when the github-tags datasource is used"
### How are you running Renovate?

WhiteSource Renovate hosted app on github.com

### If you're self-hosting Renovate, tell us what version of Renovate you run.

_No response_

### Please select which platform you are using if self-hosting.

_No response_

### If you're self-hosting Renovate, tell us what version of the platform you run.

_No response_

### Was this something which used to work fo

[2022-03-18 15:39] rarkins commented on #14649
In this case the description and reproduction can be simplified so that we can isolate why python is not getting updated

[2022-03-18 16:00] therufuser commented on #14177
Hey, I unfortunately only found this github-issue after spending some time debugging it. This matches what I've been able to find out.

My Workaround was the opposite:
[code]

After bisecting the renovate-history I found the version which introduced digest-extraction for GitLab-repositories and this behaviour. It's v31.17.0 created by this PR: https://github.com/renovatebot/renovate/pull/13361

[2022-03-18 19:27] viceice commented on #14726
This is not a bug. It's simply currently not supported.

[2022-03-18 19:29] viceice commented on #14726
A datasource usually returns a package source url, which renovate uses to fetch release notes from.

That's what I told in the PR too.

[2022-03-18 20:37] lfrancke commented on #3486
The crates.io change has now been merged and should be available soon.

Could anyone help in making the relevant renovate changes or at least point us in the right direction?
The codebase is not only unfamiliar to us it's also not a language we use :)

[2022-03-18 20:45] RahulGautamSingh commented on #14561
Hey @rarkins
Will these additions suffice to get things going?
1. Adding new if-block to `[package-rules.ts](https://github.com/renovatebot/renovate/blob/main/lib/util/package-rules.ts)` for `matcSourceUrls` options and adding tests for them in the test file
2. Adding `matchSourceUrls` option to type <[PackageRule](https://github.com/renovatebot/renovate/blob/72efbfff998d553c026384b2cfe5884836dcd6

[2022-03-18 20:52] viceice commented on #14561
Also needs to be added to config options and the config docs

[2022-03-18 22:27] cmplank opened #14730 "Renovate ignores gradle custom repository"
### How are you running Renovate?

Self-hosted

### If you're self-hosting Renovate, tell us what version of Renovate you run.

32

### Please select which platform you are using if self-hosting.

Bitbucket Server

### If you're self-hosting Renovate, tell us what version of the platform you run.

docker

### Was this something which used to work for you, and then stopped?

It used to work, and th

[2022-03-19 11:24] KeiNishikawa218 commented on #14546
I applied own regex pattern to look for monorepo tag and it worked for me.
[code]

I'm not sure if this answers to your problem, but hope it helps you.

[2022-03-20 01:34] woohgit opened #14733 "Golang Artifact update problem - replace - invalid version: unknown revision 000000000000"
### How are you running Renovate?

WhiteSource Renovate hosted app on github.com

### If you're self-hosting Renovate, tell us what version of Renovate you run.

_No response_

### Please select which platform you are using if self-hosting.

github.com

### If you're self-hosting Renovate, tell us what version of the platform you run.

_No response_

### Was this something which used to work for y

[2022-03-20 02:25] woohgit commented on #14733
Actually I figured out the problem.

I had to amend the replace directive from:

[code]
to:
[code]

[2022-03-20 02:25] #14733 closed

[2022-03-20 03:59] woohgit commented on #12999
With golang `1.17` and above the indirect dependencies should be updated too, otherwise it'll fail with:

[code]

I hope someone will pick this up and make the necessary changes to make this happen.

[2022-03-20 08:17] #14340 closed

[2022-03-20 08:43] renovate-release commented on #14340
:tada: This issue has been resolved in version 32.6.6 :tada:

The release is available on:
- [GitHub release](https://github.com/renovatebot/renovate/releases/tag/32.6.6)
- `32.6.6`

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-03-20 09:31] PhilipAbed commented on #11952
problem is on this line in semver
![image](https://user-images.githubusercontent.com/42116482/159156293-4c01481f-3584-4ed7-b329-a964fa49718a.png)

[2022-03-20 10:00] PhilipAbed commented on #11952
do you mean that we need to convert the `0.4` to `0.4.0` in this case?

[2022-03-20 11:13] #14621 closed

[2022-03-20 11:28] PhilipAbed commented on #12611
"but as a user I would expect multiple people to be assigned if multiple different rules matched I think."
that is not related to the current issue right?, i honestly don't think the same task should be assigned to more than 1 person, but if you think differently maybe open a discussion about it.

lets focus on the current issue
What i see is that you are setting
CODEOWNERS:
/python-app-1/ andrew.

[2022-03-21 06:39] zharinov commented on #14632
Almost for each case, there is some reason that prevented us from using decorator. As the first step, I'll prepare the explicit list of those reasons in order to address them step by step.

[2022-03-21 07:39] zharinov commented on #14730
Does this custom repository require authentication, isn't it? If so, can you confirm this authentication worked for Renovate recently?

[2022-03-21 07:40] webnobis commented on #5619
It's possible to use a workaround until it's being fixed:

1. define a version variable
2. use it also at classified resources, like ":processor" for instance:
[code]

[2022-03-21 08:21] rarkins commented on #14730
Two checks:
1. Is Renovate even trying that registry? You can tell from the stats which are dumped at the end of each repo run
2. Is the auth working? If not then this is unlikely related to be a Gradle problem, more likely a hostRules (or lack of them) problem

[2022-03-21 08:41] Eurymone commented on #14726
Hey @viceice , I just followed @rarkins suggestion from my PR regarding the status of my issue. Apologies if it's not properly labelled.

[2022-03-21 09:07] zeshuaro commented on #12820
I would like to work on this issue, would you be able to assign it to me 🙂

[2022-03-21 09:57] simonbasle commented on #7850
Attempting to revive this issue. There is an API dedicated to syncing a fork with its upstream (branch by branch basis) since September 2021: https://docs.github.com/en/rest/reference/branches#sync-a-fork-branch-with-the-upstream-repository

Could this be used to synchronize `baseBranches` ? Or, as an MVP, to synchronize only if there is a single `baseBranch` in the array ?

With my limited unders

[2022-03-21 10:49] vlagorce commented on #14708
@rarkins @viceice
Doing a head request should be

1. for ACR when doing getDockerApiTags
2. for any registry when doing getDockerApiTags
3. for any registry when performing getAuthHeaders

I start to implement something but the amount of test to fix could be big

[2022-03-21 11:26] rarkins commented on #7850
Another challenge to solve is knowing the config filename to avoid many try/catch/retry attempts to read it. Or limiting it to renovate.json if baseBranches support is necessary. Also I think the original "hack" might work for base branches too using your proposed approach

[2022-03-21 11:38] viceice commented on #14708
@vlagorce What's the scope, when doing a head on `/v2` endpoint? PR looks promissing.

@rarkins I'm not sure if we cache the token response, so it it maybe miss scopes for fetching the json manifests?

[2022-03-21 11:59] PhilipAbed commented on #5791
Hi @micheelengronne , i'm trying to understand the issue, but i'm not sure how to reproduce,
I installed `gem install inspec`
i ran on my self-hosted renovate, github account, and i got the pull request..

now what do you mean by "the pull request is stuck in a loop"
and what do you mean by "when renovate parses it again" how does that trigger?

please clarify:
1) steps to reproduce
2) expected re

[2022-03-21 12:53] vlagorce commented on #14708
[code]
[code]
[code]

[2022-03-21 13:14] vlagorce commented on #14708
In my case the token is valid 10min. I do not know if it is set by our admin or the default settings.

There is an other option if we don't call first the resource with HEAD.
When the authentication is rejected for a wrong scope the header contains a error message with `insufficient_scope`.
In that case the expected scope is provided too.

[code]

[2022-03-21 13:27] simonbasle commented on #7850
Isn't that already the case with the current arrangement? Or maybe the current expectation is that the config is read from each "base branch(es)"?

Having a constraint on the renovate config file location seems like a small price to pay 👍

[2022-03-21 13:49] #14648 closed

[2022-03-21 14:01] lffss commented on #12003
I wonder if this is a possible security issue. I don't know the renovate internals well enough to evaluate this myself and didn't find anything in the docs about this, but if renovate doesn't respect the source and instead queries all registries, there is a risk that a "dangerous" package will be released on pypi.org under the same name as it is available internally. Is this the case or are the pr

[2022-03-21 15:29] PhilipAbed commented on #14371
Hi @TobiX
do you mean that
![image](https://user-images.githubusercontent.com/42116482/159294850-c25c822e-ae65-4abf-949e-fef43c81ec24.png)

arent updated?
but the expected results is for them to be updated?

[2022-03-21 17:04] TobiX commented on #14371
Yes, the one thing is the SHA256 sum and the other thing is the wrapper JAR and the scripts, there should be plenty examples on GitHub, for example:
 - https://github.com/mahoganykilo/android_sample_kotlin_dsl/pull/5/files
 - https://github.com/simlar/simlar-android/pull/687/files

(Related: Finding Renovate PRs where developers actually USE the SHA256SUM to increase the security of the wrapper wa

[2022-03-21 17:50] renovate-release commented on #14648
:tada: This issue has been resolved in version 32.6.9 :tada:

The release is available on:
- [GitHub release](https://github.com/renovatebot/renovate/releases/tag/32.6.9)
- `32.6.9`

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-03-21 18:09] christlang commented on #9442
We want to support puppet for renovate and have two week time from now. Should we continue here or should we open another issue for that?

At the moment we are still learning what we need and how we extend renovate with data source and manager

[2022-03-21 18:58] gajus opened #14748 "Allow to pair dependencies based on an overlapping pattern"
### What would you like Renovate to be able to do?

I want to pair all dependencies that match a pattern `@types/*` and `*`, e.g. `@types/react` and `react` both should be upgraded only if there is a version that is satisfied by both packages.

Some considerations: There should be an option to match up to a degree of accuracy. I would imagine that the most common use case would be to match based o

[2022-03-22 04:09] rarkins commented on #9442
@christlang Please continue here. I recommend starting with datasources normally

[2022-03-22 04:11] rarkins commented on #14726
Using https://github.com/actions/checkout from your example, where are the release notes you wish Renovate to find?

[2022-03-22 04:44] rarkins commented on #14748
Let's combine this together with https://github.com/renovatebot/renovate/issues/519. It happens to be this project's second-oldest open issue. It's been a while since I thought about that, so some fresh eyes could help.

[2022-03-22 04:44] rarkins commented on #14748
Duplicate of #519

[2022-03-22 04:44] #14748 closed

[2022-03-22 04:45] rarkins commented on #12999
@woohgit are you able to create a minimal reproduction for that type of failure?

[2022-03-22 04:46] rarkins commented on #3486
Next step: https://github.com/renovatebot/renovate/issues/11024 (crates datasource could be the first user of this)

[2022-03-22 04:48] rarkins commented on #14421
@viceice strange, it looks like we regressed

[2022-03-22 04:49] rarkins commented on #14696
FYI @secustor

[2022-03-22 04:56] viceice commented on #14421
Maybe, will try to fix it today.

[2022-03-22 05:04] woohgit commented on #12999
@rarkins

Yes probably I'll need to create a module (shared) which uses aws-go-sdk for example. Then create 2 more modules that uses the `shared` module and for `go 1.17`+ you have to have the indirect deps for the shared for all other modules too, even if they don't directly use the aws-sdk-go.

If you wan't I can create a minimal app with the proper setup to reproduce the issue.

[2022-03-22 05:20] rarkins commented on #12999
@woohgit thanks, that would be great. I would really like to get this issue solved, and this *might* be the root cause

[2022-03-22 08:06] loadi-dev commented on #14703
Hi,
I created a repository for reproduction here: https://github.com/loadi-dev/renovate-bumpversion-demo.

I added a minified `config.js` from my GitLab instance. But I'm not quite sure how to configure it properly on GitHub. The essential parts in my eyes are:

* Make renovate to handle maven
* Make renovate to bump the version (`bumpVersion: 'patch'`)

When running renovate on such a repository

[2022-03-22 08:07] simPod opened #14752 "Composer.json requires php ^8.1 but renovates runs the project with v7.4"
### How are you running Renovate?

Self-hosted

### If you're self-hosting Renovate, tell us what version of Renovate you run.

renovate/renovate:32

### Please select which platform you are using if self-hosting.

GitLab self-hosted

### If you're self-hosting Renovate, tell us what version of the platform you run.

14.8.2-ee

### Was this something which used to work for you, and then stopped?

[2022-03-22 08:13] simPod commented on #14752
I checked source code

https://github.com/renovatebot/renovate/blob/56c8616b9af4383b9b98a421a16bd185b6b10465/lib/modules/manager/composer/utils.ts#L75

and I guess it does not work for `^8.1`, since it extracts `^8.1` which resolves to following docker image tag `php:^8.1` which is invalid?

[2022-03-22 08:18] viceice commented on #14752
https://github.com/renovatebot/renovate/blob/56c8616b9af4383b9b98a421a16bd185b6b10465/lib/modules/manager/composer/artifacts.ts#L116-L119

We are using composer versioning to find a matching docker tag from https://hub.docker.com/r/renovate/php/tags

[2022-03-22 08:25] rarkins commented on #14752
Isn't this because the full image is being used, and for dynamic languages you need docker socket?

[2022-03-22 08:31] simPod commented on #14752
I've found some mention of it here https://github.com/renovatebot/renovate/issues/2355#issuecomment-1010015101

It says to use slim.

Let me set `binarySource: 'docker'`

[2022-03-22 09:05] zharinov commented on #14632
- Docker
    - Avoids caching when exception is thrown, probably can be safely converted to decorator
- Maven
    - `fetchReleasesFromMetadata` avoids caching for responses containing `Authoriazation` header
    - Decorator can be extracted from `addReleasesFromIndexPage`
    - `addReleasesUsingHeadRequests` updates cache and stores it’s TTL as the separate flag
- Npm
    - Functions using cache a

[2022-03-22 09:05] zharinov commented on #14632
Starting to work on those which can be converted

[2022-03-22 09:17] HonkingGoose opened #14755 "Rename `dart` datasource to `pub`"
### Describe the proposed change(s).

@zeshuaro proposed we rename the `dart` datasource to `pub` in a discussion on Slack.
`@rarkins` already agreed on Slack, so I'm capturing the discussion in a GitHub issue.

Artifactory calls private registries a pub registry. [^artifactory]

[^artifactory]: https://jfrog.com/blog/how-to-use-pub-repositories-in-artifactory/

[2022-03-22 09:18] zeshuaro commented on #14755
Can you assign the issue to me please? 🙂

[2022-03-22 09:21] HonkingGoose commented on #14421
@viceice I created an issue to track the "regression", so if you manage to fix it, remember to close that issue with your PR. 😉

- https://github.com/renovatebot/renovate/issues/14608

[2022-03-22 09:21] christlang commented on #9442
we have a dummy-manager and now we continue with the datasource

[2022-03-22 09:22] viceice commented on #14755
This would cause a name collision again, as our manager is also called `pub`

[2022-03-22 09:28] zeshuaro commented on #14755
I'm missing a lot of context of why we we can't have same names for datasource and manager. But if this is causing issue, should we continue with the renaming? If so, should we then rename the `pub` manager and/or the `dart` datasource to something else?

[2022-03-22 09:41] negibokken opened #14756 "Cannot handle yarn v3 and private registry"
### How are you running Renovate?

WhiteSource Renovate hosted app on github.com

### If you're self-hosting Renovate, tell us what version of Renovate you run.

_No response_

### Please select which platform you are using if self-hosting.

_No response_

### If you're self-hosting Renovate, tell us what version of the platform you run.

_No response_

### Was this something which used to work fo

[2022-03-22 10:03] Wirone commented on #7368
FYI in Gitlab it does not work too:

[code]

We use Gitlab groups as nested organisational structure, teams are assigned as code owners. It would be great if MR reviewers could be set using the same approach.

[2022-03-22 10:17] viceice commented on #7368
@Wirone You have a different issue, please open a new feature request, currently we only allow users, so it's failing here:

https://github.com/renovatebot/renovate/blob/dca3418bbdbf1024ac6807e591562b4042bc846d/lib/modules/platform/gitlab/http.ts#L7-L11

Please also provides API references we need to call for teams and how we can easily distingisch between user and team / group.

[2022-03-22 10:23] christlang commented on #9442
at the moment I'm wondering how to connect the datasource with the manager. We started a MR on a forked repository. When someone could provide some general insides to the process :)
https://github.com/synyx/renovate/pull/1/files

[2022-03-22 10:47] Eurymone commented on #14726
Here: https://github.com/actions/checkout/releases/tag/v3.0.0

[2022-03-22 11:40] christlang commented on #9442
okay we had to provide more info than the minimal valid:
[code]
now the datasource is called

[2022-03-22 11:59] PhilipAbed commented on #7295
You mention that the Lockfile is already updated by the dependency update, well that's true, but in this case you might get conflicted since the dependency update might not be the same as the lockfile maintenance result, now its outdated

There's no way to Auto close a conflicted PR, that doesn't make sense to me.
if there's a conflict that means the File in the PR is not the same as the Main..
ho

[2022-03-22 13:48] christoferolaison commented on #14551
Created a [minimal reproduction](https://github.com/christoferolaison/renovate-body-is-too-long). Let me know if you need additional  information!

[2022-03-22 14:37] christlang commented on #9442
in the mean time found out the minimal set
[code]
and the forge is used already https://github.com/synyx/renovate/pull/1/files

[2022-03-22 16:32] pellmont opened #14762 "bumpVersion for maven"
### How are you running Renovate?

Self-hosted

### If you're self-hosting Renovate, tell us what version of Renovate you run.

31.89.5

### Please select which platform you are using if self-hosting.

Bitbucket Server

### If you're self-hosting Renovate, tell us what version of the platform you run.

_No response_

### Was this something which used to work for you, and then stopped?

I never saw

[2022-03-22 17:19] dsch opened #14765 "Gitlab: Image with quotes failed to parse"
### How are you running Renovate?

Self-hosted

### If you're self-hosting Renovate, tell us what version of Renovate you run.

32.6.10

### Please select which platform you are using if self-hosting.

GitLab self-hosted

### If you're self-hosting Renovate, tell us what version of the platform you run.

14.8

### Was this something which used to work for you, and then stopped?

It used to work, a

[2022-03-22 18:27] rarkins commented on #14765
@hasanwhitesource could you take a look?

[2022-03-22 18:36] viceice commented on #14765
I think it's probably a non-greedy regex issue. I've seen something like this in the GitHub actions or today.

[2022-03-22 18:59] rarkins commented on #14721
FYI I've now suspended this app due to the noise caused by this false positive

[2022-03-22 18:59] #14721 closed

[2022-03-22 19:05] hasanwhitesource commented on #14765
I’ll also check it out

[2022-03-22 19:15] dsch commented on #14765
Makes it sense to use a YAML lib to parse the Gitlab CI definition, instead of trying to solve it with a bunch of regex's?
After all Gitlab CI supports a wide range of different notations:
Example service:

[code]

is the same as
[code]

[2022-03-22 19:20] viceice commented on #14765
Sure, we currently have two gitlab pipeline related manager which should be merged. One of them is using yaml parser and the other regex. I also prefer yaml based extraction.

[2022-03-22 20:09] rarkins commented on #14755
It's much easier when we have separate names for datasource and manager, although we don't want to be *wrong*. We have npm/npm and maven/maven for example.

[2022-03-22 23:31] jspenguin2017 commented on #7295
Hi @PhilipAbed , thank you for looking into this. If squash merge is being used, then it's possible for a file to be conflicted while being the same as the one in the main branch.

[2022-03-23 00:00] woohgit commented on #12999
@rarkins And it happened.

There you go: https://github.com/woohgit/renovate-12999/pull/3/files

This repo consists of a shared module (which depends on aws-sdk-go) and 2 other consumer modules which depend on the shared. For go 1.17+ the go.sum and go.mod has to contain indirect entries for the shared module but that's not updated with the PR. So if you want to build the consumer1 or consumer2 us

[2022-03-23 07:20] viceice commented on #14608
@HonkingGoose Can you open a new docs issue for the refactoring?

[2022-03-23 07:20] #14608 closed

[2022-03-23 08:35] HonkingGoose opened #14772 "Refactor docs so they have a sub-page for each module"
### Describe the proposed change(s).

## Current situation:

Checkout [manager](https://docs.renovatebot.com/modules/manager/) and [platform](https://docs.renovatebot.com/modules/platform/), each module has it's own (sub) page.

## Wanted situation:

Change things so that _all_ modules (datasources, versionings ...) use this doc schema.

## Benefits:

- Makes cross linking easier

## Related issue

[2022-03-23 08:36] HonkingGoose commented on #14608
See issue #14772. 😉

[2022-03-23 09:08] HonkingGoose commented on #14756
Thank you for writing a detailed bug report, and creating a minimal reproduction! ❤️

I found an issue that _might_ be related:

- https://github.com/renovatebot/renovate/issues/11985

I'll let the maintainers decide what to do with both issues.

[2022-03-23 09:35] HonkingGoose opened #14774 "Support Debian codenames"
### What would you like Renovate to be able to do?

Support Debian codenames.

https://github.com/renovatebot/renovate/pull/14601#discussion_r832585052

### If you have any ideas on how this should be implemented, please tell us here.

Similar to PR #14601, but adapted for Debian codenames.

### Is this a feature you are interested in implementing yourself?

No

[2022-03-23 12:02] ElgersNiels opened #14776 "Cannot read properties of null (reading 'isDisabled')"
### How are you running Renovate?

Self-hosted

### If you're self-hosting Renovate, tell us what version of Renovate you run.

32.6.3

### Please select which platform you are using if self-hosting.

Azure DevOps (dev.azure.com)

### If you're self-hosting Renovate, tell us what version of the platform you run.

_No response_

### Was this something which used to work for you, and then stopped?

[2022-03-23 12:30] Wirone opened #14777 "Gitlab: Support for reviewers taken from groups used in CODEOWNERS file"
### What would you like Renovate to be able to do?

We use Gitlab groups as nested organisational structure, teams are assigned as code owners. It would be great if MR reviewers could be set using the same approach. Currently with `reviewersFromCodeOwners=true` and `composer.lock @team/composer`-like rules in `CODEOWNERS` file the result of Renovate pass is:

[code]

Script that determines users f

[2022-03-23 22:13] cmplank commented on #14730
@zharinov Yes, the authentication is set in Renovate's own config. When I specify in Renovate to override gradle's default repository set in the project, it works fine. It looks at our local nexus for everything and creates branches/PRs for the respective dependencies.

So in Renovate server's `config.js`, I have:

[code]

And in my project's `renovate.json5`, when I add this then it looks at my c

[2022-03-24 01:16] negibokken commented on #14756
@HonkingGoose Thank you for your reply!

I'll wait for the decision then. Let me know if I can help with the team.

[2022-03-24 02:28] cmplank commented on #14730
@rarkins

1. No, Renovate doesn't appear to be looking at the custom registry at all in my project. The logs posted in this issue are the only ones I saw that seemed to have anything to do with it, but I will paste in the entire logs for this reproduction below.
2. Auth to the registry is working in my actual project when I override gradle registry using Renovate config (details about this are in

[2022-03-24 05:45] rarkins commented on #14730
@cmplank thanks for the clarifications. In that case, specifically you mean that Renovate appears to be ignoring these settings? https://github.com/cmplank/renovate-gradle-repo-repro/blob/7f7e634049862e598273cb3d92d0fa1cbf623e6b/build.gradle#L19-L25

[2022-03-24 05:50] zharinov commented on #14730
Most likely, it's the issue of parsing code. Just wanted to clarify whether it can be related to now-defunct `deep` functionality.

[2022-03-24 06:01] rarkins commented on #14777
Sounds good to me

[2022-03-24 06:08] rarkins commented on #14755
<img width="950" alt="image" src="https://user-images.githubusercontent.com/6311784/159852497-b5d33dfb-edf7-4a56-8aca-6941756a1082.png">

Dart is a programming language.

Flutter is.. a wrapper around Dart?

Pub is a package manager for both Dart and Flutter. But within Renovate will we need to have both `pub` and `flutter` "manager" modules, or just `pub`?

pub.dev is the default registry for thi

[2022-03-24 06:21] rarkins commented on #14776
I've added a check in #14784 to more gracefully handle and log this problem. It won't *solve* it, but the log should help pinpoint what the problem is.

[2022-03-24 06:32] rarkins commented on #14756
I think we may want to strip out any sections of the file which use environment variables. IIRC we did this for `.npmrc` long ago.

[2022-03-24 07:03] rarkins commented on #14703
Please enhance the reproduction to include in the README a description of (a) expected behavior and (b) observed behavior.  Ideally (b) should reference a PR in the same repo which shows the current behavior.

[2022-03-24 07:06] zeshuaro commented on #14755
Yes.

Flutter is a framework that uses Dart as the programming language. More like React/Angular that uses JavaScript for example.

Yes this is correct. Pub is also bundled within Dart and Flutter. For Dart projects, you can use `dart pub`, whereas for Flutter projects, you can use `flutter pub`. Every Flutter project is a Dart project but not every Dart project is a Flutter project if that makes

[2022-03-24 07:11] rarkins commented on #14755
On the other hand, if `dart` is the programming language, we usually don't use the language as the datasource name, e.g. we don't have `js`, `java` or `python` datasources. So in that case `pub` is better.

[2022-03-24 07:14] viceice commented on #14777
The referenced API is only for group members, we need to get the id from name.

Is there no way to distinguish group and user from name?

[2022-03-24 07:15] #14776 closed

[2022-03-24 07:32] viceice commented on #14755
Btw: can flutter be used to update dart only project lockfiles?

[2022-03-24 07:40] renovate-release commented on #14776
:tada: This issue has been resolved in version 32.6.13 :tada:

The release is available on:
- [GitHub release](https://github.com/renovatebot/renovate/releases/tag/32.6.13)
- `32.6.13`

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-03-24 07:45] Wirone commented on #14777
@viceice when you expand group to members you need to check each member just like now - retrieve ID from name.

[2022-03-24 07:47] zeshuaro commented on #14755
Yup I just tried using `flutter pub` to update a Dart project and was able to do so.

If you're curious on the differences between Dart and Flutter project config file `pubspec.yaml`, here's the two config files:

### Dart project

[code]

### Flutter project

[code]

Basically Flutter projects will have this dependency specified:

[code]

[2022-03-24 07:51] viceice commented on #14777
I think we currently don't flatten any group before we assign them as reviewers.

That would be a different request to the original issue.

[2022-03-24 08:10] Wirone commented on #14777
@viceice but actually it's described in the issue that groups should be expanded to users list and all of them should be assigned? 🤔 So it's THE request here 😅

[2022-03-24 08:25] viceice commented on #14777
Can you please clarify it, as it wasn't really clear in the PR requirements.

Does gitlab support assigning groups as reviewers? So the first step would be to support groups and a second step would be a new platform option to expand groups before assignment.

[2022-03-24 08:33] Wirone commented on #14777
I think everything it was clarified already 🤔 Gitlab does NOT allow assigning groups as reviewers, you need to expand groups to members' list and it was described above. So instead of printing error after `Cannot read property 'id' of undefined` script needs to fallback to Members API, try to expand group into members and then remap each member to get ID (as it's done right now for each `CODEOWNER

[2022-03-24 08:44] loadi-dev commented on #14703
Thanks for your feedback. I updated the repository. Let me know if anything else is missing.

[2022-03-24 09:08] PhilipAbed commented on #9989
so you are saying, in case the PR is conflicted, we will never reach the point where we `ensureComment`?
Per logic i see that if the PR is conflicted then Automerge shouldnt continue, do we really wanna change that logic?

if yes, what should we do in this case just remove the comment check above the prConflict? what else?
i'm not sure what to do here

[2022-03-24 10:02] #14730 closed

[2022-03-24 10:54] #13645 closed

[2022-03-24 11:34] renovate-release commented on #14730
:tada: This issue has been resolved in version 32.7.0 :tada:

The release is available on:
- [GitHub release](https://github.com/renovatebot/renovate/releases/tag/32.7.0)
- `32.7.0`

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-03-24 11:55] mikebryant opened #14790 "terraform module references through git are included in pinDigests and break"
### How are you running Renovate?

WhiteSource Renovate hosted app on github.com

### If you're self-hosting Renovate, tell us what version of Renovate you run.

_No response_

### Please select which platform you are using if self-hosting.

_No response_

### If you're self-hosting Renovate, tell us what version of the platform you run.

_No response_

### Was this something which used to work fo

[2022-03-24 12:12] williancolognesitrimble opened #14791 "fatal: couldn't find remote ref refs/heads/renovate/all-minor-patch"
### How are you running Renovate?

Self-hosted

### If you're self-hosting Renovate, tell us what version of Renovate you run.

32.6.11

### Please select which platform you are using if self-hosting.

Bitbucket Cloud (bitbucket.org)

### If you're self-hosting Renovate, tell us what version of the platform you run.

docker renovate/renovate:latest

### Was this something which used to work for yo

[2022-03-24 12:44] rarkins commented on #14791
You have not linked to any repository that I can see.

[2022-03-24 12:45] ElgersNiels commented on #14776
Thanks!

Thanks to the extra log line, I was able to determine that my build user only had access to the repository which contains the Renovate pipeline; while I was trying to update other repositories.

In my pipeline.yaml that executes Renovate, I now also check out the repositories. Which allows Renovate to find them and (optionally) their renovate.json.

Related:
[Azure DevOps multiple reposit

[2022-03-24 12:48] williancolognesitrimble commented on #14791
I don't think the problem is related to the upgrade, because the branch that the bot pushed to remote is everything right, the only problem is to open de pull request.

[2022-03-24 13:09] rarkins commented on #14791
I was referring to the first issue draft where you stated you'd linked to a reproduction repository

[2022-03-24 13:12] williancolognesitrimble commented on #14791
My mistake, sorry

[2022-03-24 13:25] williancolognesitrimble commented on #14791
*Update*
I did manually remove the branch from remote, and re-run the bot, then it opened the pull request.

The difference between the branch that already was in remote, and the new one it just one dependecy that have been updated.

[2022-03-24 13:59] williancolognesitrimble commented on #14791
Sounds good, thank you!

[2022-03-24 15:53] mikebryant commented on #14790
I've set up a reproduction repo here: https://github.com/mikebryant/renovate-repro-14790

<details><summary>Logs</summary>

[code]
</details>

[2022-03-24 16:34] rohitvermasrt commented on #14243
Hi guys,

I have started implementing renovate bot in our organization and I am busy testing some features. We are using bitbucket.org and also ran into this same issue. Is there any way to retrigger the pull request for the dependencies?

[2022-03-25 04:43] rarkins commented on #14790
Thanks @mikebryant.

Is the first thing "wrong" in the logs the facts that a "pin" update is being proposed? I.e. it should never happen, which would then mean the branch update would never be attempted?

[2022-03-25 04:53] rarkins commented on #14703
Thanks. The PR shown in your demo is updating the version in the updated Pom.xml exactly as intended/described, so most likely anything beyond that is a feature request and not a bug. Can you add a new commit manually on top of the automated PR to show the changes/differences you'd expect?

[2022-03-25 07:03] loadi-dev commented on #14703
I updated the PR accordingly.
* https://github.com/loadi-dev/renovate-bumpversion-demo/pull/3/commits/d6fbe3d7cbf29348684cd288826c1cfc790ad796 shows the changes made by renovate.
* https://github.com/loadi-dev/renovate-bumpversion-demo/pull/3/commits/405b433eec6a435a36b29625b10ed641d5c26643 shows the changes I'd expect to happen in addition.

In my opinion the version bump is incomplete for multi

[2022-03-25 08:31] mikebryant commented on #14790
Yes
I expect only one update to be being proposed in this example.
Though it's interesting that the version update is failing too - presumably because it's trying to update & pin at the same time

[2022-03-25 08:51] rarkins commented on #14790
I guess we need a way of disabling digests for `terraform`, and maybe the rest fixes itself.

[2022-03-25 08:55] rarkins commented on #14703
Thanks. You are welcome to submit a documentation PR in the meantime to clarify in our docs that multi module projects aren't currently supported for bumpVersion.

[2022-03-25 09:55] #12260 closed

[2022-03-25 11:12] renovate-release commented on #12260
:tada: This issue has been resolved in version 32.7.1 :tada:

The release is available on:
- [GitHub release](https://github.com/renovatebot/renovate/releases/tag/32.7.1)
- `32.7.1`

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-03-25 11:28] jgraichen opened #14797 "Yarn lock file maintenance using wrong version"
### How are you running Renovate?

WhiteSource Renovate hosted app on github.com

### If you're self-hosting Renovate, tell us what version of Renovate you run.

_No response_

### Please select which platform you are using if self-hosting.

_No response_

### If you're self-hosting Renovate, tell us what version of the platform you run.

_No response_

### Was this something which used to work fo

[2022-03-25 11:34] rarkins commented on #14797
What are the craft Docker commands run for those two PRs?

[2022-03-25 11:41] jgraichen commented on #14797
I just requested a rerun because the old logs were not available anymore.

Lock file maintenance:

[code]

Updating packages:

[code]

[2022-03-25 12:07] rohitvermasrt commented on #14716
Hi there,

Also came across the same error. I have been trying to use package rules and based on it, assign the pull request. But no matter what reviewers I add, it assigns to 2 users who are not even mentioned in the list. And after debugging the renovate cli step in the pipeline, I found out it is throwing the same error as mentioned here.

[2022-03-25 13:12] rarkins commented on #14797
It seems like the `yarn set version 3.2.0` command is missing from lock file maintenance? If you try to reproduce the steps Renovate takes manually locally, can you first reproduce the problem and then test if it's fixed by including that `yarn set` command?

[2022-03-25 15:13] lutin-malin opened #14799 "Ansible-galaxy datasource : enable the customRegistrySupport"
### How are you running Renovate?

Self-hosted

### If you're self-hosting Renovate, tell us what version of Renovate you run.

32.6.12

### Please select which platform you are using if self-hosting.

Bitbucket Server

### If you're self-hosting Renovate, tell us what version of the platform you run.

N/A

### Was this something which used to work for you, and then stopped?

I never saw this work

[2022-03-25 15:23] rarkins commented on #14799
So are the custom sources extracted correctly by the manager but then ignored by the datasource?

[2022-03-25 15:43] jgraichen commented on #14797
Adding `yarn set version` to the command is working, but has a few drawbacks:

[code]

The changes to the lock file look good:

[code]

Unfortunately, `yarn set version` does change the `.yarnrc.yml` too:

[code]

It also adds the `.yarn/releases/yarn-3.1.1.cjs`.

I explicitly do not have these files added to the repository, and not configured in `.yarnrc.yml`. With NodeJS [corepack](https://nodej

[2022-03-25 16:12] rarkins commented on #14797
We won't commit those files by default, so it may be OK. But I think it would be good to have a separate issue (feature) to discuss whether adding `corepack` can be done for Renovate containers. e.g. only if we see `packageManager` specified.

[2022-03-25 16:46] #14791 closed

[2022-03-25 16:54] lutin-malin commented on #14799
yes, out of the shelf !

[2022-03-25 16:59] rarkins commented on #14799
In that case this might work if we just set the custom registry flag from false to true

[2022-03-25 17:04] renovate-release commented on #14791
:tada: This issue has been resolved in version 32.7.3 :tada:

The release is available on:
- [GitHub release](https://github.com/renovatebot/renovate/releases/tag/32.7.3)
- `32.7.3`

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-03-25 19:29] simonbasle opened #14804 "should Renovate rewrite / sanitize full github links from a changelog ?"
### How are you running Renovate?

WhiteSource Renovate hosted app on github.com

### If you're self-hosting Renovate, tell us what version of Renovate you run.

_No response_

### Please select which platform you are using if self-hosting.

_No response_

### If you're self-hosting Renovate, tell us what version of the platform you run.

_No response_

### Was this something which used to work fo

[2022-03-26 03:09] ZacSweers commented on #14640
Apologies for the delay - looks like things are good now!

[2022-03-26 03:09] #14640 closed

[2022-03-26 04:21] rarkins commented on #14804
Yes, we should try to sanitize all. Can you create a reproduction public repo which generates a PR with non-sanitized changelog?

[2022-03-26 16:28] simonbasle commented on #14804
@rarkins although we use Renovate ourselves, it's an issue that manifests in other projects using Renovate. I cannot really perform a release just to reproduce the issue, and I have edited the referenced release on GitHub to avoid future back links piling up.

The issue is not as clear cut as I initially thought. From what I can see the PRs that link back to us are either from a self-hosted instan

[2022-03-26 16:40] rarkins commented on #14804
I'm on mobile so can't do this myself just yet, but next step would be to check for other public renovate PRs other than mulesoft's which link to the same changelog. It would be useful to confirm if the hosted service was sanitising correctly before you made the edit.

[2022-03-26 17:12] leotm opened #14810 "Nested matchPackagePattern regex end $ anchor matching as false positive"
### How are you running Renovate?

WhiteSource Renovate hosted app on github.com

### If you're self-hosting Renovate, tell us what version of Renovate you run.

_No response_

### Please select which platform you are using if self-hosting.

_No response_

### If you're self-hosting Renovate, tell us what version of the platform you run.

_No response_

### Was this something which used to work fo

[2022-03-26 18:04] rarkins commented on #14810
Package rules aren't meant to be nested, even if sometimes it works

[2022-03-26 18:07] leotm commented on #14810
gotcha ^ cheers

[2022-03-26 18:07] #14810 closed

[2022-03-27 05:27] #14482 closed

[2022-03-27 05:46] renovate-release commented on #14482
:tada: This issue has been resolved in version 32.7.5 :tada:

The release is available on:
- [GitHub release](https://github.com/renovatebot/renovate/releases/tag/32.7.5)
- `32.7.5`

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-03-28 02:04] ngshiheng commented on #2872
Correct me if I'm wrong but this sounds like what https://docs.renovatebot.com/configuration-options/#await-x-days-before-automerging is already doing

[2022-03-28 02:30] #2872 closed

[2022-03-28 06:36] tarioch opened #14817 "workarounds:mavenCommonsAncientVersion no more working?"
### How are you running Renovate?

Self-hosted

### If you're self-hosting Renovate, tell us what version of Renovate you run.

32.7.5

### Please select which platform you are using if self-hosting.

Bitbucket Server

### If you're self-hosting Renovate, tell us what version of the platform you run.

_No response_

### Was this something which used to work for you, and then stopped?

It used to w

[2022-03-28 07:12] tarioch commented on #14817
Checked, the PRs were created at March 25th 23:20, so I'm guessing it came in with one of the 32.7.x versions

[2022-03-28 07:32] tarioch commented on #14817
Manually adding

[code]

to the config works, so it seems to really be related to loading the preset

[2022-03-28 08:13] rarkins opened #14818 "globalExtends resolution should consider ignorePresets"
### How are you running Renovate?

WhiteSource Renovate hosted app on github.com

### If you're self-hosting Renovate, tell us what version of Renovate you run.

_No response_

### Please select which platform you are using if self-hosting.

_No response_

### If you're self-hosting Renovate, tell us what version of the platform you run.

_No response_

### Was this something which used to work fo

[2022-03-28 08:36] viceice opened #14820 "Missing source directory for bitnami helm charts"
### How are you running Renovate?

WhiteSource Renovate hosted app on github.com

### If you're self-hosting Renovate, tell us what version of Renovate you run.

_No response_

### Please select which platform you are using if self-hosting.

github.com

### If you're self-hosting Renovate, tell us what version of the platform you run.

_No response_

### Was this something which used to work for y

[2022-03-28 08:45] lutin-malin commented on #14799
that's what i did locally, and it is working 'almost' well.

[2022-03-28 09:38] simonbasle commented on #14804
@rarkins looks like the hosted service behaves correctly, sorry for the noise. I have reached out to people having approved the problematic PRs to see if they can improve the situation on their side. Maybe this could be turned into a Discussion if said people want to chime in?

[2022-03-28 10:07] ckstevenson opened #14824 "Jenkins plugin version scheme change not caught by Renovate"
### How are you running Renovate?

Self-hosted

### If you're self-hosting Renovate, tell us what version of Renovate you run.

31.14.1

### Please select which platform you are using if self-hosting.

github.com

### If you're self-hosting Renovate, tell us what version of the platform you run.

_No response_

### Was this something which used to work for you, and then stopped?

I never saw this

[2022-03-28 11:26] tarioch commented on #14817
I tried to reproduce it with github:

https://github.com/tarioch/renovate-repro

but weird enough even without any workarounds, the old commons-cli version isn't picked up, maybe there is some additional config somewhere in the github app that prevents this?

[2022-03-28 12:31] patrickhuy opened #14827 "Specifying sourceUrl on config.js no longer working"
### How are you running Renovate?

Self-hosted

### If you're self-hosting Renovate, tell us what version of Renovate you run.

32.7.5

### Please select which platform you are using if self-hosting.

GitHub Enterprise Server

### If you're self-hosting Renovate, tell us what version of the platform you run.

3.0.0

### Was this something which used to work for you, and then stopped?

It used to w

[2022-03-28 12:37] renovate-release commented on #14355
:tada: This issue has been resolved in version 32.9.0 :tada:

The release is available on:
- [GitHub release](https://github.com/renovatebot/renovate/releases/tag/32.9.0)
- `32.9.0`

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-03-28 12:37] rarkins commented on #14531
@viceice do you think this makes most sense in Renovate itself, or in the Docker image?

Maybe it's best to have our docs showing the actual defaults in our image, which would mean doing it here. Then we just need to make sure that it gracefully downgrades to global if in non-buildpack.

[2022-03-28 12:43] rarkins commented on #14817
This is why reproductions are alwys good. Maybe you're not using `config:base`?

[2022-03-28 12:49] tarioch commented on #14817
I was trying to first set the github project up that it doesn't have any workarounds (so it should create the PR) and then add the workaround to see if it works there. But without any config on github, it seems to already have workarounds in.

[2022-03-28 12:52] rarkins commented on #14817
Check the debug logs as it may give you a hint what's going on

[2022-03-28 13:43] ezloj opened #14828 "Local subpresets don't see local platform config"
### How are you running Renovate?

Self-hosted

### If you're self-hosting Renovate, tell us what version of Renovate you run.

32.6.10

### Please select which platform you are using if self-hosting.

Bitbucket Server

### If you're self-hosting Renovate, tell us what version of the platform you run.

5.16.5

### Was this something which used to work for you, and then stopped?

I never saw this w

[2022-03-28 13:48] rarkins commented on #14828
Please simplify it to the smallest example which reproduces. Eg the package rules are not relevant nor presumably is most of the config.

[2022-03-28 14:33] ezloj commented on #14828
done

[2022-03-28 15:46] viceice commented on #14531
I think we should do it here in a major bump. We should also extend the docs to explain the different settings a little bit more.

[2022-03-28 15:57] mlarente opened #14830 "Renovate throws a preset error because of github secondary rate limit"
### How are you running Renovate?

Self-hosted

### If you're self-hosting Renovate, tell us what version of Renovate you run.

32.7.5

### Please select which platform you are using if self-hosting.

GitLab self-hosted

### If you're self-hosting Renovate, tell us what version of the platform you run.

14.9.1-ee

### Was this something which used to work for you, and then stopped?

It used to wor

[2022-03-28 18:41] scarmouchesupralog commented on #14716
Finaly resolve the issue. The things is about the user ID which is use by bitbucket api ( through renovate ) . The right id for the API is the 'uuid' field returned  by this api :
` curl -X GET -u 'user:password' 'https://api.bitbucket.org/2.0/workspaces/{workspace}/members' | jq '.values[].user | "\(.display_name) \(.uuid)"'`
Then you can add an uuid list to your renovate.json
`{
  "$schema": "ht

[2022-03-28 18:41] #14716 closed

[2022-03-28 19:36] HonkingGoose opened #14835 "Try out Vale linter for our Markdown files"
### Describe the proposed change(s).

Find out if Vale will work for us.

## Introduction

Vale is a command line tool to lint our Markdown files for style errors.
The project can be found on GitHub: https://github.com/errata-ai/vale

## Todos:

- [x] Try out Vale with default settings
- [x] Find way to run Vale in Gitpod container (run `brew install vale`)
- [x] Find way to run Vale in `.devconta

[2022-03-28 22:48] maxbrunet opened #14837 "Datasource golang-version has stopped working"
### How are you running Renovate?

WhiteSource Renovate hosted app on github.com

### If you're self-hosting Renovate, tell us what version of Renovate you run.

_No response_

### Please select which platform you are using if self-hosting.

_No response_

### If you're self-hosting Renovate, tell us what version of the platform you run.

_No response_

### Was this something which used to work fo

[2022-03-28 23:06] ChipWolf opened #14838 "Commit messages have an extra `v` before the version with custom versioning"
An interesting side effect of this, PRs have an extra `v` before the tag name.
`chore(deps): update dependency our-org/monorepo to vfoo-pkg-v3.2.1`

_Originally posted by @ChipWolf in https://github.com/renovatebot/renovate/discussions/14759#discussioncomment-2456866_

[2022-03-29 00:51] viceice commented on #14355
Needs to be reverted because of breaking behavior.

- https://github.com/renovatebot/renovate/pull/14834
- https://github.com/renovatebot/renovate/pull/14836

[2022-03-29 00:53] viceice commented on #14355
[code]

Also short cli arg isn't working `--dry-run`.

[2022-03-29 02:07] #14550 closed

[2022-03-29 02:07] #13804 closed

[2022-03-29 03:37] rarkins commented on #6213
Not stale, still a priority

[2022-03-29 04:09] #12820 closed

[2022-03-29 04:16] rarkins commented on #14838
@ChipWolf unfortunately our issue templates are bypassed when issue are created from comments. Can you populate this one including reproduction repo or steps?

[2022-03-29 04:21] rarkins commented on #14828
Does it happen right after startup? Before trying any repo or while trying the repo? Can you include the full debug log from start to finish?

[2022-03-29 04:23] rarkins commented on #14804
There's likely still something we can do or fix with Renovate code - once we can work out why it's going wrong in certain cases - so I'm happy to keep this open.

In general Renovate has a test of "am I on GitHub.com? If so then sanitize all github.com links" so it's either the "am I on github.com?" test which is malfunctioning or it's the sanitizing.

[2022-03-29 04:28] rarkins commented on #14804
Here's the relevant entry point: https://github.com/renovatebot/renovate/blob/25d793f69043015f6ab09f47b2afc0482ed7290f/lib/modules/platform/github/index.ts#L1663-L1676

So for self-hosted users I'm wondering if the "isGhe" is somehow wrong, if they're actually on github.com.

https://github.com/renovatebot/renovate/blob/25d793f69043015f6ab09f47b2afc0482ed7290f/lib/modules/platform/github/index.ts#

[2022-03-29 04:30] renovate-release commented on #12820
:tada: This issue has been resolved in version 32.10.0 :tada:

The release is available on:
- [GitHub release](https://github.com/renovatebot/renovate/releases/tag/32.10.0)
- `32.10.0`

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-03-29 06:45] rarkins commented on #14827
I've created https://github.com/renovatebot/renovate/pull/14842

I guess we'll need to decide if/how to support `sourceUrl` officially for self-hosted. The reason we avoid it by default is so that nobody can "pollute" our changelog cache intentionally or by accident and people see the wrong log.

[2022-03-29 06:51] MaronHatoum commented on #14355
Hi @viceice
the issue is if we are trying to run Renovate with --dry-run without setting a value ? what should be the value of dry run in this case ?

[2022-03-29 06:53] viceice commented on #14355
see PR #14843

[2022-03-29 07:00] rarkins commented on #9740
Decision: we favor off-the-shelf parsers, and implement #7333

[2022-03-29 07:00] #9740 closed

[2022-03-29 07:01] #14827 closed

[2022-03-29 07:02] rarkins opened #14843 "Refactor gitlabci manager to use yaml parser"
### Describe the proposed change(s).

Refactor the existing implementation - which uses custom line-based parsing with regex - to instead use YAML parsing.

[2022-03-29 07:04] viceice commented on #14355
This isn't working too:

*config.js*
[code]

[2022-03-29 07:19] renovate-release commented on #14827
:tada: This issue has been resolved in version 32.10.1 :tada:

The release is available on:
- [GitHub release](https://github.com/renovatebot/renovate/releases/tag/32.10.1)
- `32.10.1`

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket: