[2020-05-19 11:09] #4208 closed

[2020-05-19 11:24] renovate-release commented on #4208
:tada: This issue has been resolved in version 20.0.0 :tada:

The release is available on:
- [GitHub release](https://github.com/renovatebot/renovate/releases/tag/20.0.0)
- `20.0.0`

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-05-19 15:54] bilby91 commented on #5945
I've been running with GitLab this way without any issues:

[code]

Having said that, I got a new error recently when we added a new dependency that came from GitHub directly.

I'm getting this error now:

[code]

I'm not sure if there is a why to tell bundler where to cache this gems.

[2020-05-19 15:57] viceice commented on #5945
@bilby91 please use `renovate --binary-source=docker --base-dir $RENOVATE_BASE_DIR_PATH $RENOVATE_EXTRA_FLAGS` as start script

[2020-05-19 15:58] bilby91 commented on #5945
@viceice Thanks for the quick response. What do you mean by start script ?

Thanks

[2020-05-19 16:00] viceice commented on #5945
[code]

It also looks like you are running renovate as `root` so you need to configure `dockerUser` as root too. See comments above.

[2020-05-19 16:19] bilby91 commented on #5945
Got it!

I've been running renovate on GitLab with my previous setup for some time without any issues, this seems to start only when I added a git dependency.

Also, when I run renovate on my mac (which doesn't run docker as root) I have the same issue.

[2020-05-19 16:21] viceice commented on #5945
@bilby91 You should use the slim image when you use docker, as it has all requirements to run.

Currently preparing some docs:
https://github.com/renovatebot/docker-renovate/blob/07e8b524ec7202a809bd62656852d3fe622656f6/docs/gitlab.md#renovate-slim-with-docker-in-docker

[2020-05-19 16:25] bilby91 commented on #5945
@viceice you are saying that if I move to slim the problem will go away?

I'll give it a try then!

[2020-05-19 16:30] viceice commented on #5945
@bilby91 Please check working solutions above, but i you like to use dind we recommend to use the slim docker image

[2020-05-19 16:39] viceice commented on #4426
done

[2020-05-19 16:39] #4426 closed

[2020-05-19 17:47] bilby91 commented on #5945
@viceice Same issue using the slim version. I think this is something unrelated to how I run docker because this was previously working for me and it stopped working while staying on the same version of renovate.

[2020-05-19 17:49] viceice commented on #5945
@bilby91 can you share a complete sample so I can try it on my own gitlab instance

[2020-05-19 19:22] bilby91 commented on #5945
@viceice

I just tried this modified version with the same problematic result:

[code]

`$RENOVATE_EXTRA_FLAGS` it's just adding the `--dry-run` flag.

[2020-05-19 19:47] viceice commented on #5945
Can you also share the a minimal repo which fails?

[2020-05-19 19:52] kolaente opened #6283 "Renovate opens and closes a bunch of PRs despite nothing changed"
**What Renovate type are you using?**

Self hosted version 19.239.9 with gitea.

**Describe the bug**

I have a go repo with renovate installed and correctly set up.
Renovate seems to open and closing a bunch of PRs randomly every time it runs, but neither the dependency nor my code did change. It goes a bit like this:

1. A dependency releases an update
2. Renovate opens a PR
3. My tests run, it

[2020-05-19 19:56] bilby91 commented on #5945
@viceice At the moment I don't have an easy way to make my repo sharable.

Having said that, I found an interesting thing. With `renovate/ruby-2.6.4` I don't have this issue, with `renovate/ruby-2.7.1` the problem shows up.

Has something changed in terms of how the image is built ?

I found that some things are installed in different places.

For 2.6, the bundler cache directory lives here `/usr/

[2020-05-19 20:11] JamieMagee commented on #6283
I can see that all the closed PRs have `- autoclosed` appended to them. That makes me think that you have `pruneStaleBranches` enabled? Could search the logs for "autoclosed" and "pruneStaleBranches"? You can also upload the logs here. Secrets are redacted from logs.

[2020-05-19 20:22] bilby91 commented on #5945
@viceice This looks suspicious, I'm not 100% sure yet if timing matches. I think it does.

https://github.com/renovatebot/docker-ruby/commit/3a12ef5a4c6fb2ae6067b67350bfd2a1565af367#diff-3254677a7917c6c01f55212f86c57fbf

[2020-05-19 20:33] kolaente commented on #6283
There are two log entries regarding autocloses:
[code]

I did not find anything related to `pruneStaleBranches`.

I've attached the full log I have since I set the log level to debug [here](https://github.com/renovatebot/renovate/files/4652964/renovate.log).

[2020-05-19 20:44] bilby91 commented on #5945
This line seems to have been removed:

[code]

[2020-05-19 21:02] JamieMagee commented on #6283
Okay, so it's definitely falling down [this logic here](https://github.com/renovatebot/renovate/blob/master/lib/workers/repository/finalise/prune.ts#L18-L35). I'll debug more tomorrow, but it looks like Gitea is returning true for `isModified`.

[2020-05-19 21:22] kolaente commented on #6283
Sounds great, thanks. I'm actually running the latest gitea (master build from a commit a few days old) so it could be this is an issue only happening with that and not a release... But on the other hand, I've seen this happen quite a while, so if its that the latest release may also have it.

Secondly, I'm also one of gitea's maintainers, so if there's anything that would need to get fixed on the

[2020-05-19 23:16] proton-ab opened #6285 "Renovate improperly parses Hex dependencies for Elixir"
**What Renovate type are you using?**

GitHub Marketplace app

**Describe the bug**

Renovate improperly parses Hex dependencies for Elixir. See repro repo below for details.

The short story is that I have dependency `timex` set to `== 3.6.1` (pinned to that exact version), and v3.6.2 was released. Renovate is trying to update `== 3.6.1` to `3.6` which is incorrect and fails: ```** (Hex.Version.I

[2020-05-20 01:04] maplesteve commented on #5646
@viceice Can you please check, if the above is correct? Esp. the second line with just "_authToken" seems off.
I still can't get it to work with the GitHub Package Registry. Renovate keeps looking at npmjs, not github. Pls see the "Dependency lookup failure: not found" errors, e.g. in #178750304
Thanks!

[2020-05-20 03:43] rarkins commented on #6283
Have you configured a GitHub.com token in your config? Lack of one could explain rate limiting of go modules lookup requests

[2020-05-20 03:47] viceice commented on #5945
@bilby91 looks like your issue is not related to gitlab. Looks like bundler tries to write to global cache instead of user home. I'll check it.

[2020-05-20 06:58] kolaente commented on #6283
I tried to configure one as per [this guide](https://docs.renovatebot.com/install-gitlab-app/#configuring-a-token-for-githubcom-hosted-release-notes) which was linked in a pr created by renovate, but it didn't seem to have worked.

[2020-05-20 07:01] rarkins commented on #6283
It's much simpler to configure when you're self-hosted. e.g. export it to `GITHUB_COM_TOKEN` before running Renovate.

[2020-05-20 07:01] viceice commented on #6283
@kolaente you can't use the renovate app encryption. You need to configure [encryption)(https://docs.renovatebot.com/self-hosted-configuration/#privatekey) to use encrypted token. ot you need to pass the token unencrypted.

You can simply pass it as env `GITHUB_COM_TOKEN=xxx`

[2020-05-20 07:02] kolaente commented on #6283
@viceice Ah that makes sense, thanks. I guess the docs should be fixed then :upside_down_face:

[2020-05-20 07:07] viceice commented on #6283
nope, the guide you mentioned is for gitlab app, so you just followed the wrong guide 🙃

but yes, we can improve the docs for those.

As you can see [here](https://github.com/renovatebot/docker-renovate/blob/master/docs/gitlab.md) we have some gitlab samples.

Can you help us to add a sample for `gittea`

[2020-05-20 07:17] viceice commented on #5945
issue resolved, need to wait for updated docker images currently rebuilding

[2020-05-20 07:18] viceice commented on #5945
for any other gitlab related hosting please check the new [samples](https://github.com/renovatebot/docker-renovate/blob/master/docs/gitlab.md)

[2020-05-20 07:24] rarkins commented on #6283
Relevant docs were here: https://github.com/renovatebot/renovate/blob/master/docs/development/self-hosting.md#gitea

![image](https://user-images.githubusercontent.com/6311784/82416950-2aec3700-9a7b-11ea-8b24-ea371b4f8b5f.png)

The message displayed in PRs is generated here: https://github.com/renovatebot/renovate/blob/680edf3d1ac15368a0b61f5e9f4842956e86ac06/lib/workers/pr/index.ts#L222-L232

It

[2020-05-20 07:29] rarkins commented on #6283
I've updated the PR warning text so that it's clearer for self-hosted users too.

[2020-05-20 07:56] viceice commented on #5945
@vestimir @bilby91 Please try again, the ruby images are fixed now

[2020-05-20 07:56] #5945 closed

[2020-05-20 08:08] kolaente commented on #6283
@rarkins Thanks! I've changed that in my config accordingly.

@viceice I'll take a look. Do these docs appear somewhere?

[2020-05-20 08:25] JamieMagee commented on #6283
Glad to see that it's just a configuration issue, rather than an issue with Gitea or Renovate :smile:

@kolaente I don't think the docs linked appear on docs.renovatebot.com anywhere... yet.

[2020-05-20 08:44] rarkins commented on #6283
Currently we don't publish the `development` docs to docs.renovatebot.com so that none of them confuse end users unnecessarily. However we should make sure all self-hosting guides are in the right place and published.

[2020-05-20 11:04] viceice commented on #5646
@maplesteve please share the debug logs where it fails, as i can't view your app dashboard

[2020-05-20 11:07] viceice commented on #6178
renovatebot/docker-renovate-full#33

[2020-05-20 11:07] #6178 closed

[2020-05-20 11:16] viceice commented on #6178
renovatebot/docker-gradle#36

[2020-05-20 11:23] maplesteve commented on #5646
@viceice  Ah, sorry. I assumed, that you have access..

[code]

[2020-05-20 12:07] viceice commented on #5646
can you please also share your renovate config

[2020-05-20 12:17] #6108 closed

[2020-05-20 12:22] maxdanilov commented on #5065
Hi, any update on this issue?

[2020-05-20 12:27] renovate-release commented on #6108
:tada: This issue has been resolved in version 20.0.3 :tada:

The release is available on:
- [GitHub release](https://github.com/renovatebot/renovate/releases/tag/20.0.3)
- `20.0.3`

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-05-20 12:55] maplesteve commented on #5646
[code]

[2020-05-20 13:01] viceice commented on #5646
ok, can you share your shared preset? maybe there is something wrong

What is `@orgName/foo-sdk` is it a normal npm dependency?

The default renovate presets are now embedded in renovate., so it looks like your `github>orgName/foo-renovate-presets` is wrong.

[2020-05-20 13:40] maplesteve commented on #5646
Yes. Points to a private package on the GitHub Package Registry.

"default.json" from the shared presets:
[code]

[2020-05-20 13:52] bilby91 commented on #5945
@viceice Stared working again with the new image.

Thanks!

[2020-05-20 13:58] viceice commented on #5646
so i think your `npmrc` renovate config should be:

[code]

[2020-05-20 16:00] Majkl578 opened #6291 "Latest Docker build fails to update PHP's composer.lock due to ENOENT errors"
**What Renovate type are you using?**

`renovate/renovate:latest` (digest 85c0d31afaa8) from official Docker Hub.

**Describe the bug**

Updating PHP dependencies currently doesn't work due to an internal bug.

**Did you see anything helpful in debug logs?**

All attempts to update `composer.lock` error out with: `"stderr": "spawn /bin/sh ENOENT"`.

**To Reproduce**

Try updating a PHP dependency

[2020-05-20 16:26] rarkins commented on #6291
Can you paste in the debug log from before and during the attempted lock file update? And also do you have any idea on which release it last worked?

[2020-05-20 16:28] Majkl578 commented on #6291
From the pipeline logs I can see that 19.236.5 was working fine but 19.239.9 is not working anymore.
I'll try to obtain the debug output.

[2020-05-20 16:28] viceice commented on #6291
Can you please share your gitlab pipeline too.

Here are some samples for gitlab for newest renovate.

https://github.com/renovatebot/docker-renovate/blob/master/docs/gitlab.md

[2020-05-20 16:30] Majkl578 commented on #6291
@viceice This is how our job script looks like:
[code]

[2020-05-20 16:33] viceice commented on #6291
Please share the debug logs, so we can see what's happening.

[2020-05-20 16:45] Majkl578 commented on #6291
Here's the relevant part using the `renovate/renovate:latest` image (stripped):

<details>
<summary>Renovate log</summary>

[code]

</details>

[2020-05-20 16:52] viceice commented on #6291
Looks like https://github.com/nodejs/node/issues/9644 🤔

[2020-05-20 16:55] viceice commented on #6291
@Majkl578 why do you pass the docket socket to renovate? It's useless for the full image. It only makes sense if you use the slim image which has `binarySource=docker`

[2020-05-20 16:59] Majkl578 commented on #6291
Not sure really, someone else configured/changed it ages ago (probably when setting Renovate up on GitLab) and it hasn't been revised since then. Maybe it'd be a good time now. 🙃 Thanks, I'll look into it, although it doesn't fix this issue, unfortunately.

[2020-05-20 17:06] viceice commented on #6291
@rarkins can you check if we had some composer changes related to paths recently?

[2020-05-20 17:12] rarkins commented on #6291
At this point I’d suspect a buildpack change, although can’t be sure. Can we reproduce this in a regular CLI scenario using the full image?

[2020-05-20 17:38] Majkl578 commented on #6291
Did a little bit of debugging, turns out this only happens when `composer.*` are in sub-directory (i.e. monorepo structure). You can see it live here: https://github.com/Majkl578/renovate-issue-6291/pull/2

[2020-05-20 18:10] rarkins commented on #6291
Good chance it’s a `cwd` Change I made a little while back. Will look into it - thanks

[2020-05-20 19:04] kolaente commented on #6283
I can confirm it didn't open any more PRs (since there are already some) since adding the github api token to my renovate config.

(I'll close this as it seems to be resolved)

[2020-05-20 19:04] #6283 closed

[2020-05-20 19:12] kolaente commented on #6283
I've opened a PR which clarifies the docs a bit further: #6292

[2020-05-20 19:25] #6291 closed

[2020-05-20 19:59] robstoll opened #6293 "variable substitution is wrong"
**What Renovate type are you using?**
GitHub

**Describe the bug**
Variable gets replaced without adding quotes.

**To Reproduce**

See https://github.com/tegonal/atrium-ktor/pull/64/commits/f80b7ad5aa6f87263b9b0e547e053bf5cd834f77

[2020-05-20 20:07] renovate-release commented on #6291
:tada: This issue has been resolved in version 20.2.1 :tada:

The release is available on:
- [GitHub release](https://github.com/renovatebot/renovate/releases/tag/20.2.1)
- `20.2.1`

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-05-20 20:09] rarkins commented on #6293
Please provide a clean reproduction repo we can test against

[2020-05-20 20:12] robstoll commented on #6293
Isn't the one above not good enough?

[2020-05-20 20:15] rarkins commented on #6293
No:
- It's an already merged commit
- There are multiple other PRs/updates for the same repo

An ideal reproduction has as much information as necessary to reproduce, and no more. e.g. 1 dependency and 1 PR, if that's all it takes

[2020-05-20 20:21] robstoll commented on #6293
Feel free to close the issue, it was easy to work around.
For me it is too much work to provide you with a clean repo as you want.
But I can give you a short description on what you need to do:
[code]
push to a new repo and configure renovate

[2020-05-20 20:42] #6293 closed

[2020-05-21 00:58] ChipWolf commented on #6177
This is no longer a priority for me, we've switched to conventional commits, still a useful feature request imo

[2020-05-21 05:10] k2snowman69 opened #6294 "Add workaround for bitbucket's lazy ref creation"
**What would you like Renovate to be able to do?**
Bitbucket server apparently [lazily generates pull request refs](https://jira.atlassian.com/browse/BSERV-12284) when pull requests are created. If renovate is running across enough repositories, this lazy ref generation backs up and if the CI for that branch gets kicked off before the lazy ref generation completes, the first CI fails because it is

[2020-05-21 05:21] rarkins commented on #6294
Doesn’t the problem apply to all PRs created, and if so wouldn’t the plugin by Charles K be a more complete solution?

[2020-05-21 07:08] viceice commented on #6294
I know this problem too, but that should be fixed on ci side, not on renovate.

See bitbucket-branch-source-plugin#287 and jenkinsci/bitbucket-branch-source-plugin#294 for jenkins

[2020-05-21 07:08] #6294 closed

[2020-05-21 11:26] hussainweb opened #6295 "Support specifying composer options"
**What would you like Renovate to be able to do?**
I'd like to be able to specify composer options like what flags to pass and what environment variables to set. For example, in [this comment](https://github.com/renovatebot/renovate/pull/6268#issuecomment-631430423), @JamieMagee rightly says he is nervous to give composer unlimited memory. But unfortunately, this is typically required for a comple

[2020-05-21 11:27] hussainweb commented on #6295
I'm happy to work on a PR. I don't know where to start writing code for specifying additional options. Can you help here please @rarkins @JamieMagee?

[2020-05-21 12:18] mmoayyed opened #6296 "JavaScript heap out of memory"
**What Renovate type are you using?**

GitHub Actions:

[code]

**Describe the bug**

Renovate crashes with a *JavaScript heap out of memory* error. This is similar to https://github.com/renovatebot/renovate/issues/5527

Full logs can be found here: https://pipelines.actions.githubusercontent.com/ePfLn0iIqxz8JuCECIwIirW2pOVzVs8hikfJwB5z3CS5TcFAfE/_apis/pipelines/1/runs/27/signedlogcontent/55?urlEx

[2020-05-21 16:40] k2snowman69 commented on #6294
Thanks @viceice !

[2020-05-21 22:37] dlouzan opened #6299 "Renovate exits with 0 status and stops processing further repos"
**What Renovate type are you using?**

* Renovate running in Docker as Gitlab-CI against self-hosted latest 12.10 Gitlab
* Tested latest 19.239 images

Launched with:

[code]

**Describe the bug**

~~We are observing renovate bot failing to process all auto-discovered projects in Gitlab when more than `100` projects are accessible. We suspect the pagination code is not properly iterating the pages

[2020-05-22 04:38] marcodejongh opened #6300 "RFC: Installs from alternative sources (git/https/etc)"
First off let me preface this by saying that I would be more than willing to build what I'm proposing here myself.

**What would you like Renovate to be able to do?**
In Atlassian we have a platform mono-repo that that contains our design system and publishes changes to NPM, when the changes are merged to master.

To QA platform changes in our products _before_ we ship them to NPM we upload the bu

[2020-05-22 05:56] rarkins commented on #6300
I don't quite "get" exactly what you mean, but will do my best to move the discussion forward:

[branchName is a template](https://github.com/renovatebot/renovate/blob/9740346f5ac0bc768a75410c5057d68717a8cbd5/lib/config/definitions.ts#L1171-L1177) already and can be manipulated, so this requirement is hopefully easy once everything else is figured out.

How/where could the flagging be done? I assu

[2020-05-22 06:28] rarkins commented on #6299
This can hopefully be reproduced easily by reducing the per_page from 100 to something low and then testing. i.e. it's hopefully not necessary to have 100+ projects in order to reproduce.

Cc @zharinov as I think you are refactoring GitLab API code right now

[2020-05-22 06:31] zharinov commented on #6299
I'll take a look

[2020-05-22 06:36] rarkins commented on #5065
@chinskiy thanks for that research. I took a little guess and was happy to find that https://releases.hashicorp.com/index.json exists - so we don't need to scrape HTML.

If I compare the releases list to https://github.com/hashicorp/terraform/blob/master/website/docs/providers/index.html.markdown then I see there are some in the releases list missing from the markdown and some in the markdown miss

[2020-05-22 06:40] marcodejongh commented on #6300
Thanks for your prompt reply! This definitely gives me some good starting points to investigate further on Monday.

I don't think the problem we're solving is specific to Atlassian. Essentially what has happened is that as the company grew we now have these different repo's that produce code used by other repo's. Because the barriers that creates, QA'ing your code as a developer has become hard. A

[2020-05-22 06:40] rarkins commented on #6295
There's a few ways to think about this:

1. Are any of the options potentially "dangerous" to the bot owner? e.g. could they let a repository user add a configuration that causes the bot to crash?

2. Does Renovate need to understand all the options individually, or could it just have a dumb configuration option like an `artifactOptions` string array and then it's up to the artifacts code to know

[2020-05-22 06:46] rarkins commented on #6301
I've looked at JSON pointer and JSONpath and don't fully like either. Unfortunately I don't see any other feasible approaches yet.

Here's my thinking so far:
- The goal of this is to have a custom manager similar to regex manager but which lets you operate on a JSON structure as input instead of raw text
- We could support not just JSON but also well-known formats like YAML and TOML. Parsing coul

[2020-05-22 06:54] rarkins commented on #6300
Yes, I agree, so would be happy to work with you to make sure it's immediately reusable to others. And of course a bit +1 for using automation and CI for these types of things.

At a high level this is no problem at all, because Renovate already has the concept. e.g. by default you can see one PR for a major upgrade (e.g. `2.2.0` -> `3.0.0`) and a separate one for non-major (e.g. `2.2.0` -> `2.2.1

[2020-05-22 07:04] marcodejongh commented on #6300
We install from the CDN url by commithash, so this is what the dependencies in the package.json of a product could look like:
[code]

I suspect that it would be easier for renovate to use a branch name instead of commithash. That way we can create a renovate branch for every branch name. We could build something like that into it.

[2020-05-22 07:10] rarkins commented on #6300
How does the version at the end play into it? Does that represent the current version it's replacing, or the next version to be published?

And also, do I understand correctly that there may be multiple `commithash` values at one time, and you'll need one PR per commit hash?

[2020-05-22 07:13] marcodejongh commented on #6300
We use https://github.com/atlassian/changesets/ to calculate the version number at publish time. The version number we use on branches is calculated based on that, we do this to help deduplication. So in the example of:
[code]

Most of the time if the branch producing that tarball is up-to-date with master, 6.3.7 will not exist in NPM yet. But it is possible that it does exist in NPM if the branch

[2020-05-22 07:42] mmoayyed commented on #5784
Are you certain the depCount is accurate? Is the tool also looking at transitive dependencies, and their transitive dependencies, and so on? A quick look at the repo in question suggests that candidate dependencies for updates are no more than 500, give or take. In addition to Gradle, there are is some python code there as well based on locust, and maybe that's adding to the count?

As a compariso

[2020-05-22 08:07] Marsup commented on #5650
Seems to have solved itself, closing.

[2020-05-22 08:07] #5650 closed

[2020-05-22 08:07] rarkins commented on #5784
It's a count of how many dependencies the gradle manager has returned. The manager may itself be returning too many.

[2020-05-22 09:37] rarkins commented on #6300
Is the base branch for PRs using artifacts or is it the stable npm release? e.g. would PRs look like this?

from

[code]
?

So far I see there are at least a few separate things to implement:

1. A datasource that can fetch the full set of releases for a package
2. A versioning scheme or approach so that Renovate can know which of these should be raised as PRs
3. Logic to enable multiple PRs at on

[2020-05-22 11:09] maxdanilov opened #6302 "Support for Jenkins plugin upgrades"
**What would you like Renovate to be able to do?**

Ability to update [Jenkins](https://jenkins.io) plugins listed in a [plugins.txt](https://github.com/fabric8io/jenkins-docker/blob/master/plugins.txt) file.

Jenkins has the [update center](https://updates.jenkins.io/) with plugins metadata.

The format of a file to be parsed by a manager:

[code]

**Describe the solution you'd like**

Have both

[2020-05-22 11:22] zharinov commented on #6299
I tried to reproduce it in debugger and pagination looks okay. Can this be somehow related to `prCommitsPerRunLimit` or other Renovate limits?

[2020-05-22 11:33] dlouzan commented on #6299
@rarkins @zharinov Thanks for the prompt response!

A couple of related comments:

- Is our approach of grepping `Repository started` in the logs to identify the processed repos correct? I'm definitely available for further debugging
- As you're mentioning improvements to the Gitlab API code (I'm assuming this is https://github.com/renovatebot/renovate/pull/6275, great job @zharinov), I'd like to

[2020-05-22 11:42] zharinov commented on #6299
I guess it's corrent. Now I'm about to create >100 gitlab projects via CLI and debug more

[2020-05-22 12:10] dlouzan commented on #6299
@zharinov We are not setting any limits and the [default seems to be disabled](https://docs.renovatebot.com/self-hosted-configuration/#prcommitsperrunlimit), but in any case I've just made a run with it explicitly deactivated, same result:

[code]

[2020-05-22 12:19] rarkins commented on #6299
Renovate needs to be a `Developer` level in order to create branches.

[2020-05-22 12:21] rarkins commented on #6299
Please raise a separate issue to discuss that if you anticipate needing it. I suspect that you'll probably hit other usability or scalability problems before you hit 50k active repositories :)

[2020-05-22 12:29] dlouzan commented on #6299
We are already over that repository limit significantly 😅  But renovate-bot onboarding is opt-in, so I don't think the bot will reach that checkup on our end soon.

But using the keyset pagination is probably a better future-proof option anyway, it's the recommended approach in 13.0+ and it's also mentioned it should be more efficient, since it doesn't depend on the number of entries.

[2020-05-22 12:30] rarkins commented on #6299
I've done a code review and can't see anything wrong. This is one of logged lines you mentioned: https://github.com/renovatebot/renovate/blob/53ca91301f6a36c0c87e7d6b06b1bd8c9ec1b283/lib/workers/global/autodiscover.ts#L40

The results of that pretty much go direct into a simple for loop here: https://github.com/renovatebot/renovate/blob/53ca91301f6a36c0c87e7d6b06b1bd8c9ec1b283/lib/workers/global/i

[2020-05-22 12:32] dlouzan commented on #6299
You are of course right, so most probably that is the appropriate query parameter value 👍

[2020-05-22 12:37] dlouzan commented on #6299
Is it possible to enable some logging  at e.g. package level that shows me the actual queries and responses obtained from gitlab at the API level? So I can see all traffic against the server.

I could do some network sniffing but it could be much more convenient to see a log file 🙇

[2020-05-22 12:38] rarkins commented on #6302
I think the 10MB JSON is probably the best way to go, and we make sure to cache it for something like an hour so that we are not querying it too often. We do something similar for the [rubygems.org index in that datasource](https://github.com/renovatebot/renovate/blob/master/lib/datasource/rubygems/get-rubygems-org.ts). That one is actually more complex because it's guaranteed to always append, wh

[2020-05-22 13:37] rarkins commented on #6299
We don't log at that level currently. You'd expect it to be pretty massive. I think what I suggested is a better first step and shouldn't be much effort.

I added a couple of things in renovate@20.2.3 just now:
- Log all autodiscovered repos at INFO level (so you can see the list and what order it's in)
- Added min_access_level=30 to the API call so that we only discover those we have adequate acc

[2020-05-22 14:48] dlouzan commented on #6299
@rarkins Thanks for that 💯 As soon as the image is available on docker hub I'll give it a run.

[2020-05-22 19:59] frangio opened #6303 "Npm aliased packages are removed from lockfile during unrelated update"
**What Renovate type are you using?**

GitHub App

**Describe the bug**

My package.json contains package aliases. Those aliased packages are being removed from package-lock.json in an update PR (that doesn't involve those dependencies at all).

The pull request is https://github.com/OpenZeppelin/solidity-docgen/pull/204.

This is the error in the CI run for Renovate's PR showing the dependencies

[2020-05-22 21:36] rarkins commented on #6303
Please provide more details about what specifically is wrong in the PR you linked to, e.g. which lines are the problematic ones?

Please also look into the logs via app.renovatebot.com for when the PR was created and paste in here the `npm` commands that were run during the update.

[2020-05-22 23:23] marcodejongh commented on #6300
Yes correct, that would be the diff.

[2020-05-23 02:12] frangio commented on #6303
This line range is removed but should be left untouched: https://github.com/OpenZeppelin/solidity-docgen/pull/204/files#diff-32607347f8126e6534ebc7ebaec4853dL5356-L5574

The command that renovate is running is `node /home/ubuntu/renovateapp/node_modules/npm/bin/npm-cli.js install --package-lock-only --no-audit @oclif/plugin-help@3.0.1 @types/lodash@4.14.152 @types/node@10.17.24 @types/semver@7.2.0

[2020-05-23 05:00] rarkins commented on #6303
What if you run the same command but omit `--package-lock-only` ? (removing `node_modules` first again)

[2020-05-23 06:10] rarkins commented on #6300
OK, that makes the "update" logic a bit more complicated (more than just replace version X with Y, but replace version X with a big long URL that includes Y), but not impossible.

More questions:

**What happens once an actual version is released to npm?**

e.g. `https://bigbucket.amazonaws.com/artefacts/commithash1/dists/avatar-17.1.12.tgz` may exist (and maybe commithash2, commithash3, etc) but

[2020-05-23 10:03] rarkins opened #6309 "Support dynamic writing of git private key"
**What would you like Renovate to be able to do?**

Configure the `gitPrivateKey` at runtime.

**Describe the solution you'd like**

It should be globally configured, but written *lazily* to the system at runtime (when the first commit is required).

**Describe alternatives you've considered**

Currently configuration of git signing key is out of scope for Renovate.

[2020-05-23 12:19] Liu233w opened #6310 "Renovate did not find all projects to update (nuget)"
**What Renovate type are you using?**

Hosted app in Github

**Describe the bug**

I have a project with directory structure like below:

- root
  - frontend (javascript project)
  - backend (.Net project)
    - src
      - Project A
      - Project B
      - Project C
    - test
      - Test Project A

In that case,  dependencies in Test Project A (in test directory) are not updated.

**Did you s

[2020-05-23 12:36] ChipWolf opened #6311 "Automerge on hold reason"
**What would you like Renovate to be able to do?**
If automerge is enabled, I’d like to be given the reason why the pull request isn’t being merged.

**Describe the solution you'd like**
In the body of the pull requests, beside the automerge enabled indicator, the reason renovate is not currently merging the PR should be displayed.

**Describe alternatives you've considered**
Manually merging pull

[2020-05-23 13:04] roni-frantchi commented on #6266
Hey @rarkins , any updates as to when this is expected to roll out?

[2020-05-23 13:04] rarkins commented on #6266
Sorry, should be live in the app already

[2020-05-23 13:05] roni-frantchi commented on #6266
Thanks @rarkins !

[2020-05-23 17:03] mightyiam opened #6313 "PR updates .travis.yml but not .nvmrc nor .node-version"
**What Renovate type are you using?**

Hosted GitHub

**Describe the bug**

I have `.nvmrc`, `.node-version` and a `.travis.yml`.

I expect a single PR to update all 3 together.

I get [a PR that updates `.travis.yml` only](https://github.com/snabbdom/snabbdom/pull/588/files).

**Did you see anything helpful in debug logs?**

Nope.

**To Reproduce**

Is the [public project repository](https://gith

[2020-05-23 17:04] mightyiam commented on #2443
Related: #6313

[2020-05-23 17:26] dlouzan commented on #6299
@rarkins I've just tested the latest version and found out that the issue is not pagination, the `100` vs `65` was just by chance and misled me. The new debug messages help identify that all projects are auto-discovered properly.

I failed to notice that this was missing:

[code]

The problem is that renovate is failing on a specific repository, and exiting with `0` status and no error. If I filte

[2020-05-23 17:32] rarkins commented on #6299
Well probably need the full debug for that repo in order to get the stack trace and work out what’s going wrong. Datasource lookups shouldn’t cause exits.

[2020-05-23 18:01] dlouzan commented on #6299
@rarkins I'll check internally if we can submit this as a confidential issue 👍 Thanks again for the prompt response.

[2020-05-23 18:05] rarkins commented on #6299
If you look in the source code, you'll see that `nuget registry failure: Unknown error` is a gracefully logged message that does not in itself trigger any exit or crash. The log and behavior seem correct too - it's an unknown error. Therefore it's quite possible that it's another red herring and not related to what you're ultimately trying to fix.

[2020-05-23 18:09] frangio commented on #6303
Without `--package-lock-only` npm is also removing these packages from the lockfile.

[2020-05-23 19:34] dlouzan commented on #6299
@rarkins You are right, I've just fixed the proxy issues and this repo still makes renovate exit on 20.2.3, no idea why, there's no errors in the logs anymore that I can see. The log before exit:

[code]

It just stops there, exiting with `0`. I'll send you a full trace if I get the ok internally.

[2020-05-23 19:38] rarkins commented on #6299
I think you might want to start looking into out of memory errors for example. It looks like it might be getting killed rather than exiting/failing if there’s no log or stack trace immediately prior. If there’s any easy way to greatly dial up the resources to quickly prove or disprove it, it could be a good use of time. It perhaps run it outside GitLab CI to see if it finishes in the same location

[2020-05-23 19:40] rarkins commented on #6303
That’s a pity! Can you test if:
- it fails the same way if you run any one of the updates alone? Or
- it’s one particular package that is causing it?

Either way it may unfortunately need an npm CLI fix.

[2020-05-23 19:49] dlouzan commented on #6299
@rarkins If it's being killed because of memory, then it must happen at the node level, because I made the last run directly on my localhost from the npm package only checking this failing repo, I wanted to rule out any docker issues 😕 :

[code]

[2020-05-23 19:52] rarkins commented on #6299
Can you clarify what you mean by this? e.g. do you mean you ran Renovate against just one repo and it still failed?

[2020-05-23 19:53] rarkins commented on #6299
BTW if you're running it locally using node, then setting `NODE_OPTIONS=--max_old_space_size=4096` into your env (make sure to quote or escape it..) should hopefully increase memory allocated substantially.

[2020-05-23 19:54] dlouzan commented on #6299
Yes, if you check the command above I'm setting a filter so only this repo is loaded. The logs show only this repo is being checked, still dies.

[2020-05-23 21:05] rarkins commented on #6299
Interesting. Same result if you disable autodiscover and just list the repo in the CLI?

[2020-05-23 21:15] dlouzan commented on #6299
Auto-discovery has no effect, I can just put the repo as a parameter and the output is the same.

I've just ried to no avail (all localhost macOS, node 12.16.3:

- `NODE_OPTIONS="--max_old_space_size=4096"`
- `--trace-uncaught --trace-exit --trace-warnings`

[2020-05-23 21:45] misterkramer opened #6318 "[docker-slim renovate image] replace the default index.docker.io"
### Which Renovate are you using?

Renovate Open Source CLI

### Which platform are you using?

Bitbucket Server

### Have you checked the logs? Don't forget to include them if relevant

[code]

### What would you like to do?

I want to use a slim docker image instead of a full one. In our corporate network, access to https://index.docker.io closed (only `registry-mirrors`), so an error occurs whe

[2020-05-24 05:07] rarkins commented on #6299
Is the last line always `DEBUG: getManifestResponse(https://mcr.microsoft.com, dotnet/core/sdk, latest) (repository=this/repo/fails)` ?

This is during the "lookup" phase where most work is done in parallel, so the actual code or package causing it is possibly unrelated to the root cause.

Can you possibly fork or copy the repo and start deleting package files until the problem stops? i.e. to try

[2020-05-24 16:07] misterkramer commented on #6318
May be to use `hostRules`?

[2020-05-24 16:29] viceice commented on #6318
I think we can pass registryUrls. This would possible solve other own hosting renovate images scenarios.

[2020-05-24 16:56] rarkins commented on #6318
The challenge is if you passed the `registryUrls` value from poetry artifacts -> docker exec -> docker datasource then you'd end up with the poetry registryUrls being passed to docker datasource.

[2020-05-24 17:20] viceice commented on #6318
Right, what about passing it while calling setDirectories. Of cause renaming the function then an passing all admin config.

[2020-05-24 17:46] rarkins commented on #6318
Can we detect the changed default host using a Docker command? If so then we can lazily detect it the first time there’s a Docker exec

[2020-05-24 17:53] viceice commented on #6318
Sure, we could call docker info to return a json object and filter the mirror config, or only use the format argument to print the mirror config.

[2020-05-24 18:56] rarkins commented on #6318
In that case let's do it that way and then pass `registryUrls` to docker datasource if necessary.

[2020-05-24 22:43] proton-ab commented on #6285
Do you need any additional information for this @rarkins?

https://hexdocs.pm/elixir/Version.html

[2020-05-24 22:59] proton-ab commented on #6285
I took a quick look and from what I can glance, the code simply does not support `==` as valid syntax, it only expects it in combination with `and`, `or`.

https://github.com/renovatebot/renovate/blob/6e9b0224ee0fa280243be141663a78d9ea812bd7/lib/versioning/hex/index.ts#L14

https://github.com/renovatebot/renovate/blob/6e9b0224ee0fa280243be141663a78d9ea812bd7/lib/versioning/hex/index.spec.ts#L9

In

[2020-05-25 05:48] rarkins commented on #6285
Can you submit a PR that corrects any existing tests and adds *failing* tests for syntax we don’t support but should? Ie your PR should be intentionally failing the tests you add, but we can use it as a base to add the new syntax support to

[2020-05-25 14:39] Nitrael86 opened #6323 "Renovate does not know where to increase the associated version number."
**What Renovate type are you using?**

WhiteSource Renovate App

**Describe the bug**

Renovate does not know where to increase the associated version number.

**build.gradle:**

[code]
**gradle.properties**

`abc_vers=1.3.1.3`

**To Reproduce**

Create a sample using the configuration from above

[2020-05-25 15:02] augi opened #6324 "Incorrect url used for getReleaseList call with Github Enterprise"
**What Renovate type are you using?**

Self-hosted Renovate, running from `renovate/renovate:20.3.1` Docker image, GitHub Enterprise.

**Describe the bug**
Looks like a regression of #3079 so Renovate makes requests to `https://git.int.company.com/repos/some_org/some_repo/releases?per_page=100` and gets `406 Not Acceptable` responses.

**Did you see anything helpful in debug logs?**
[code]

[2020-05-25 15:26] rarkins commented on #6324
Can you attach a debug log of prior to that error?

[2020-05-25 15:53] rarkins commented on #6324
Actually it's probably ok - I think I have identified the error

[2020-05-25 15:58] augi commented on #6324
Cool, thank you!

[2020-05-25 16:15] rarkins commented on #6323
Please create a public repo that we can fork and test against.

[2020-05-25 16:46] #6324 closed

[2020-05-25 16:56] renovate-release commented on #6324
:tada: This issue has been resolved in version 20.3.2 :tada:

The release is available on:
- [GitHub release](https://github.com/renovatebot/renovate/releases/tag/20.3.2)
- `20.3.2`

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-05-25 17:07] hussainweb commented on #6295
Thank you, @rarkins. Here are my thoughts:

1. I don't think so. It is possible `COMPOSER_MEMORY_LIMIT` could be considered borderline but it only impacts `composer`. The other option also impacts `composer` and has no impact on code outside the repository.

2. I am not sure what you mean by "artifacts" here. If you mean that `composer` is an artefact, then that makes sense. If you mean the files

[2020-05-25 18:54] rarkins commented on #6295
When we use a tool like `composer` to update lock files or other files, we call that "artifact" generation. So I mean, can Renovate just blindly pass these options through if we let a user configure them, or does it need to understand or filter them?

Only if you set `trustLevel=true`. Otherwise Renovate does not pass the full environment to child processes.

Perhaps start this way. Can you list t

[2020-05-25 19:22] hussainweb commented on #6295
Renovate can blindly pass these options, but there could be some difference in verbiage. For example, the config option name might be `updateWithAllDependencies` but the parameter passed to the composer command would be `--with-all-dependencies` instead of the current `--with-dependencies`.

I suppose the other option for the memory limit is slightly different. Here, you might not specify an optio

[2020-05-25 19:28] hussainweb commented on #6295
I suppose there could be more options but I have never really had to use any of these and so I am not sure if they are really valuable. I don't see people using this in an automated way in any case. Still, these are just options you pass to `composer` and you don't really need to worry about much.

1. --root-reqs
2. --prefer-stable
3. --prefer-lowest

Another thing I thought of. I see Renovate use

[2020-05-26 04:28] wolfgang42 opened #6329 "Dependency dashboard is confused about which branches have been created"
**Describe the bug**
I just set up renovate on a repo, merged the setup MR, and approved one of the updates in the master issue. The next time Renovate ran it updated the master issue description with this:

[code]
Other than the ruby docker tag (which is the one I approved), none of those other branches exist and they never have. As far as I can tell, Renovate hasn't actually *done* anything with

[2020-05-26 04:49] rarkins commented on #6329
I have seen this occur before and know why it's happening (although fixing the logic is complicated). So a reproduction is not necessary.

[2020-05-26 04:52] #6245 closed

[2020-05-26 05:01] renovate-release commented on #6245
:tada: This issue has been resolved in version 20.4.0 :tada:

The release is available on:
- [GitHub release](https://github.com/renovatebot/renovate/releases/tag/20.4.0)
- `20.4.0`

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-05-26 14:44] dlouzan commented on #6299
@rarkins Yes, it's really weird. I still haven't checked the source code, but I can give you something to narrow this down a bit in case it rings a bell, thanks to an internal tip: version 19.236.4 **does** work properly. So this is something introduced recently.

[2020-05-26 15:17] rarkins commented on #6299
Here's the diff: https://github.com/renovatebot/renovate/compare/19.236.4...19.239.11

Unfortunately a bit too much to manually code inspect. If you can narrow it down or even work out the exact version it breaks on, then that would be extremely helpful.

[2020-05-26 16:26] dlouzan commented on #6299
Did a bit of binary search and identified the version where the issue was introduced: [19.239.3](https://github.com/renovatebot/renovate/releases/tag/19.239.3)

This must be the change (it is compatible, since the failing project is dotnet): https://github.com/renovatebot/renovate/pull/6242

Incidentally, while testing the different versions I have noticed that tagged versions are missing from doc

[2020-05-26 16:31] viceice commented on #6299
Yes, we had some issues with the images, so we rebuild them. But for your issue the slim image should work. We also rebuild the last x docket images when the base image or nodejs or yarn ... Changed

[2020-05-26 16:45] dlouzan commented on #6299
I forgot what you state in https://renovate.whitesourcesoftware.com/blog/overcoming-dockers-mutable-image-tags/. Does that mean that you only mutate the `-slim` versions to reflect upstream changes in the base image?

Sorry I don't want to start a parallel discussion in this issue, maybe I should open a new one.

[2020-05-26 16:47] fgreinacher commented on #6299
Thanks @dlouzan, amazingly quick as always! For us it also seems like Renovate aborts while processing .NET repos.

[2020-05-26 16:52] viceice commented on #6299
@dlouzan all images should retain the renovate version specified, but we had a timeframe where multiple images where overwritten with the newest renovate version.

Ok, since the issue seems to be related to dotnet / nuget, we should be able to reproduce with vanilla renovate cli.

Can you create a sample repo to reproduce?

[2020-05-26 17:11] dlouzan commented on #6299
I'll need some time for that; I'm definitely not a windows guy and the project is internal, so I can't share a reference.

@fgreinacher Are you able to support with this quicker? My only approach right now is to go through the project I have listed in our shared Siemens issue and start removing packages until I find the one causing the crash. Maybe you have a smaller project that can be shared?

[2020-05-26 19:27] fgreinacher commented on #6299
Sure, I'll have a look tomorrow!

[2020-05-26 20:32] rarkins commented on #6299
I've refactored the code that was changed in #6242 to be simpler and more defensive, however I don't see what was obviously wrong with the original changes. Hopefully the pending release will resolve things for you - please let me know.

[2020-05-26 20:40] renovate-release commented on #6299
:tada: This issue has been resolved in version 20.5.1 :tada:

The release is available on:
- [GitHub release](https://github.com/renovatebot/renovate/releases/tag/20.5.1)
- `20.5.1`

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-05-26 20:57] proton-ab commented on #6285
I have submitted PR as you requested.

[2020-05-26 21:06] waghanza opened #6333 "[Go] Web go not detected"
Hi,

Following https://github.com/the-benchmarker/web-frameworks/pull/2715, I have `webgo` reference in https://github.com/the-benchmarker/web-frameworks/blob/4b9c42be452e1c12d16fb7c13bd5f993437299e7/go/webgo/go.mod#L3

However, even the `go.mod` is detected (shown on dashboard), I have not any `PR` for this framework.

Regards,

[2020-05-26 22:21] ChipWolf opened #6336 "Dependency Dashboard reporting some merged PRs are unmerged + closed"
As seen here https://github.com/HRZNStudio/playhrzn-k8s/issues/37

With `masterIssue` enabled, it seems there are some pull requests indicated to be closed unmerged whereas they are all merged.

[2020-05-27 02:45] bnkamalesh commented on #6333
Hello @waghanza, I did not quite understand what you said. Could you please tell me how to add the latest version of webgo to it?

[2020-05-27 06:03] rarkins commented on #6285
That's perfect, thanks. I have merged it to a repo branch so that it can be used to build the actual fix off

[2020-05-27 08:04] rarkins commented on #6336
We need to think of alternate wording. The ones in this list indicate that:
- There is an update/PR pending
- An identical update/PR already existed but is no longer open
- Therefore, the pending PRs are suppressed

Normally this is because the original PR was closed, and normally that's because the user wants to ignore it.

But there are also other cases:
- Something was wrong with the upgrade so

[2020-05-27 08:28] karlhorky commented on #1567
@rarkins so I guess #2321 added a feature to configure the security vulnerability PRs separately. What is not clear from this or the documentation is how a user would achieve resetting an existing schedule, as requested in this issue.

Trying to piece together the config documentation, maybe something like the following would work? The default schedule would be set to `before 6am on friday`, but f

[2020-05-27 08:40] dlouzan commented on #6299
@rarkins I've just checked and unfortunately and the fix did not solve the problem, so I think you can reopen :-( This will need some deeper analysis, hopefully @fgreinacher can provide a small repo project that reproduces the problem

[2020-05-27 08:54] rarkins commented on #6299
It's possible then that the *results* of this fetch are triggering the problem.

[2020-05-27 08:56] fgreinacher commented on #6299
After looking a bit at the repos where I saw it failing I noticed that all of them have a NuGet.config pointing to local directories (in addition to remote repos):

[code]

My current theory is the following:

- My PR https://github.com/renovatebot/renovate/pull/5757 added support for detecting NuGet config files and using them to decide which feeds to inspect.
- @JamieMagee's PR https://github.co

[2020-05-27 09:29] Nitrael86 commented on #6323
Sorry for the late response i tried several reproduction steps, to find the issue ... its cause of the method in the classifier ...

Public Repository:

[](https://github.com/Nitrael86/renovatetest)

[code]

[2020-05-27 09:36] jcornaz commented on #4762
Yes there is. https://doc.rust-lang.org/cargo/reference/specifying-dependencies.html#caret-requirements states:

[2020-05-27 09:59] mikebryant opened #6337 "Can't use changelog in commit body template"
**What Renovate type are you using?**

Hosted Github App

**Describe the bug**

I'm trying to use #5966 to put the release notes into the commit body, but I can't find a workable method. There's a bunch of stuff tried here: https://github.com/mikebryant/renovate-test-changelogjson/blob/master/renovate.json, with the output here: https://github.com/mikebryant/renovate-test-changelogjson/pull/2/comm

[2020-05-27 10:06] rarkins commented on #6323
Is it this line that you expect to be upgrade: https://github.com/Nitrael86/renovatetest/blob/master/gradle.properties#L2 ?

[2020-05-27 10:09] rarkins commented on #6337
I think logJSON could be an allowed field.

[2020-05-27 10:10] mikebryant commented on #6337
Ok, thanks. I'll work on that

[2020-05-27 10:16] Nitrael86 commented on #6323
yes

[2020-05-27 10:32] fgreinacher commented on #6299
Small update: I'm now able to reproduce it locally, but only when using our corporate proxy :O

[2020-05-27 11:27] bytestream opened #6338 "composer.lock not updated"
**What Renovate type are you using?**

GitLab Self-Hosted

**Describe the bug**

`composer.lock` is not updated when it should have been.

`mockery/mockery` changes from `1.3.1` to `1.4.0`

**Did you see anything helpful in debug logs?**

[code]

**To Reproduce**

Not sure.

**Additional context**

Base config:
[code]

Repository config:
[code]

[2020-05-27 11:28] bytestream commented on #6338
The log would suggest some issue surrounding these log lines:
[code]

[2020-05-27 11:32] bytestream commented on #5743
I have the exact same issue. Debug logs are permanently enabled but they don't seem to log anything regarding pipelines for stability days.

[2020-05-27 11:36] mikebryant commented on #6337
Been doing debugging, it's actually a deeper issue.

#5966 refactored things so that logJSON was set prior to compiling the commit message templates.

But then 6a8ceab6883cd0ba030f1cc4a3b21384ad73fc62 has refactored it again, back to being after. The commit messages are generated down inside `extractDependencies`, which is now before the call to generate the changelogs

[2020-05-27 11:39] bytestream commented on #5743
I may be something to do with a recent GitLab upgrade as for a while `renovate/stability-days` was a job appended to the default pipeline. Recently it's become a separate pipeline which seems to cause some kind of race condition, sometimes `renovate/stability-days` is generated after the repository pipeline, sometimes it's generated before.

[2020-05-27 12:05] bytestream commented on #5743
https://gitlab.com/gitlab-org/gitlab/-/issues/14064

I think this is a renovate bug?

[2020-05-27 12:16] bytestream commented on #5743
https://docs.gitlab.com/ee/api/commits.html#post-the-build-status-to-a-commit

On this line https://github.com/renovatebot/renovate/blob/master/lib/platform/gitlab/index.ts#L655, we need to pass `ref` with `branchSha`

[2020-05-27 12:36] rarkins commented on #6337
I don't actually remember why that change was made. I know that the changelog refactoring *had* caused problems so it was perhaps part of a few steps to fix those. However we do want to move that logic earlier again so that it can be used as part of the commit message.

[2020-05-27 12:38] rarkins commented on #6338
Please try to create a simple/reduced reproduction repo that can be tested/verified against. Most likely it shouldn't make a difference if it's on gitlab.com or github.com.

[2020-05-27 12:40] mikebryant commented on #6337
I've been trying to figure out where best to move it to - currently I'm working on calling it in the middle of `branchifyUpgrades`, to be able to retain the concurrency.

Alternatively it could be moved inside `generateBranchConfig` - but then the changelog generation can't be concurrent on it's own - though maybe all of generateBranchConfig could be?

I'm not sure what would be best - do you have

[2020-05-27 12:42] bytestream commented on #6338
I'll close for the time being and reopen if I manage to replicate.

[2020-05-27 12:48] rarkins commented on #6338
By the way, your log shows `DEBUG: branchExists=true`, meaning you've captured a *subsequent* run. If the lock file failed to update then it was at the time of the commit. Renovate won't keep retrying lock files every single run unless you instruct it to (e.g. by ticking the rebase/retry box).

[2020-05-27 12:53] rarkins commented on #6337
Changelog lookups currently takes a significant percentage of total time (e.g. ~20% of total) so it would ideally be done with concurrency. `branchifyUpgrades` uses a sequential `for` loop so putting it *inside* that would not yield concurrency. It might make most sense to put it inside the `extract` function right before `branchifyUpgrades`.

[2020-05-27 12:54] bytestream commented on #6338
I think stabilty-days generates the branches several days in advance but doesn't actually run a pipeline to update artifacts?

[2020-05-27 13:21] rarkins commented on #6338
Artifacts are always generated for the same commit as the package file update itself. Unrelated to stability days or other settings.

[2020-05-27 13:29] bytestream commented on #6338
[code]

The above occurred after forcing a rebase.

I suppose this error was hidden. Something like, the branch gets created, the artifacts run, it fails to update, 7 days later, stability days has passed so it opens a PR.

Ideally it needs some way to remember that the artifacts failed and post it on the PR or something?

[2020-05-27 13:43] mikebryant commented on #6337
I tried in extract, but the actual conversion to the upgrades objects doesn't occur until inside branchify at the moment, and refactoring that looked more complicated. I think I've got it in between the two sequential loops in branchify though, so we should still get concurrency.

[2020-05-27 14:44] maxdanilov opened #6342 "Support logging into a gcr.io private registry using JSON service account credentials"
**What would you like Renovate to be able to do?**
I would like Renovate (GitHub App) to get access to a private Docker registry in Google Cloud Platform (gcr.io).

GCR does not support logging in with plain username and password, and encourages this approach in case docker credential helper cannot be used:

[code]
where `$TOKEN` is a JSON-string of a service account in a GCP project.

I would lik

[2020-05-27 15:07] fgreinacher commented on #6299
Latest observations:

- As described above the issue is ultimately caused by the local path within the NuGet.confg
- The local path is passed on to the NuGet data source which crashes while executing the HTTP request https://github.com/renovatebot/renovate/blob/4f59b62da40a653352c839b344cbfbbf9597f98a/lib/datasource/nuget/v2.ts#L25 with a request URL like `packages/FindPackagesById()?id=%27Microso

[2020-05-27 15:11] dlouzan commented on #6299
@fgreinacher Great job Florian! What I find really puzzling is that a crash that terminates the node process does not show a stack trace, or exits with something different than zero

[2020-05-27 15:39] rarkins commented on #6299
If we add "test if it's a valid URL" filtering at the `datasource/nuget` `getReleases` stage, should that stop it? I was thinking we should add it at the `datasource/index` (so it's common for all datasources) although I'm not 100% sure yet if we do in fact have valid URLs in all scenarios for all datasources.

[2020-05-27 16:07] rarkins commented on #6338
Yes, when the PR is created days later it has no record of the artifacts failure. Possibilities:

- Write it into the commit message (could be length/messy though)
- Ideally that branch shouldn't be created if we know the status checks won't be met

[2020-05-27 16:21] fgreinacher commented on #6299
Yes, that should fix the issue 👍 I would still like to understand why it breaks that badly 🤔 Enojoying the sun a bit now, will continue tonight or tomorrow.

[2020-05-27 17:40] rarkins commented on #6299
We use @gajus's [global-agent](https://github.com/gajus/global-agent) for proxying. I believe it patches Node's http's routines to achieve its aim so possibly the crash is such that Node exits without a stack trace.

[2020-05-28 04:01] #4816 closed

[2020-05-28 04:10] renovate-release commented on #4816
:tada: This issue has been resolved in version 20.7.0 :tada:

The release is available on:
- [GitHub release](https://github.com/renovatebot/renovate/releases/tag/20.7.0)
- `20.7.0`

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-05-28 06:54] #6248 closed

[2020-05-28 07:03] renovate-release commented on #6248
:tada: This issue has been resolved in version 20.8.2 :tada:

The release is available on:
- [GitHub release](https://github.com/renovatebot/renovate/releases/tag/20.8.2)
- `20.8.2`

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-05-28 08:29] fgreinacher commented on #6299
#6348 fixes some issues in the nuget manager. I will invest one more hour trying to understand why the hard exit happens, then I'll give up 😴

[2020-05-28 08:33] #6299 closed

[2020-05-28 10:44] renovate-release commented on #6299
:tada: This issue has been resolved in version 20.8.3 :tada:

The release is available on:
- [GitHub release](https://github.com/renovatebot/renovate/releases/tag/20.8.3)
- `20.8.3`

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-05-28 10:56] #3323 closed

[2020-05-28 11:05] renovate-release commented on #3323
:tada: This issue has been resolved in version 20.9.0 :tada:

The release is available on:
- [GitHub release](https://github.com/renovatebot/renovate/releases/tag/20.9.0)
- `20.9.0`

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-05-28 13:53] fgreinacher commented on #6299
@rarkins @viceice The "full" Docker image is not available yet. Is it normal that it takes that long?

[2020-05-28 14:00] rarkins commented on #6299
Yes, these days it can be:
- new version released in this repo
- new npm version published from this repo
- renovate runs on renovatebot/docker-renovate repo
- renovate runs again and automerges
- slim image is built and pushed to Docker Hub
- renovate runs on renovatebot/docker-renovate-full
- renovate runs again and automerges
- full image is built and pushed to Docker Hub

Here's the full image

[2020-05-28 14:04] fgreinacher commented on #6299
Wow, that's a lot of steps. Any reason to not publish the Docker images from a single repo (maybe even this one)?

[2020-05-28 14:17] jjathman opened #6349 "Unable to reconfigure renovate"
**What Renovate type are you using?**

self-hosted renovate with Bitbucket server as the Git repository holder.

**Describe the bug**

Reading the documentation it looks like I should be able to create a PR with a title of "Reconfigure Renovate" and it will do some kind of validation on the `renovate.json` changes I have, but I am not seeing anything being done with it.

**Did you see anything hel

[2020-05-28 14:19] rarkins commented on #6299
Yes, we prefer to keep this repository for publishing the npm image and then other repos for building the various distributions on top. I don't think the full Renovate image will be used by too many end users soon, because it is both large and inflexible. Better to build your own, or use the slim image with mapped Docker sock

[2020-05-28 14:33] TerrapinStation commented on #6254
We are having similar issues with using subpaths within terraform. The regex matching is different when you have those extra `//` in the url. I think I might have a fix for this and will make a PR later today after I run some additional tests to verify its working as expected.

[2020-05-28 16:49] #1420 closed

[2020-05-28 16:50] rarkins opened #6351 "Support configurable Cocoapods version"
Dynamically detect and select the best Cocoapods version to use when binarySource=docker

[2020-05-28 16:52] rarkins opened #6352 "Support configurable Composer version"
Detect the best version of composer to user when binarySource=docker.

To decide
- Is it fast enough to dynamically install Composer? If so then we would decide which PHP base image to use and then install Composer
- Otherwise, we need to build every Composer version

[2020-05-28 20:26] maplesteve commented on #5646
@viceice Thanks for your help! We're getting closer. I changed the config as you proposed and Renovate now detects the private packages in the GitHub Package Registry. So far so good.

Renovate also detects updates of private packages, but then fails with an "artifact error" in the `npm install --package-lock-only --no-audit` step with a `404`:

The artifact error comment in the PR says:
[code]

[2020-05-29 05:35] #6254 closed

[2020-05-29 05:39] rarkins opened #6356 "Upgrade got to v11"

[2020-05-29 05:42] rarkins opened #6357 "Add back host stats"
Add host stats to util/http so that total requests and request performance can be tracked per-repo. Possibly track failed requests too.

[2020-05-29 05:45] renovate-release commented on #6254
:tada: This issue has been resolved in version 20.10.3 :tada:

The release is available on:
- [GitHub release](https://github.com/renovatebot/renovate/releases/tag/20.10.3)
- `20.10.3`

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-05-29 05:45] rarkins opened #6358 "Support limiting concurrent requests per host"
**What would you like Renovate to be able to do?**

Provide a configurable way and sensible defaults for concurrent limits per host.

**Describe the solution you'd like**

Implement it in the util/http logic. Mostly it should just work, but users can tweak it using hostRules.

**Describe alternatives you've considered**

Today we try to rate limit by manager and package file, etc. It would be easi

[2020-05-29 05:46] rarkins opened #6359 "Support maxRequestsPerSecond"
**What would you like Renovate to be able to do?**

Allow configuration of a maximum requests per X, e.g. 5 requests per second.

**Describe the solution you'd like**

hostRules

[2020-05-29 05:56] rarkins opened #6360 "Support configurable npm version"
Autodiscover node version:
 - .nvmrc
 - .node-version
 - package.json engines (likely a range)

Strip the leading `v` if present in `.nvmrc` and `.node-version` and check they're a valid constraint. If so then use them, if not then fall back to engines value if found.

The above should be common for npm, yarn, and pnpm.

Next, determine the `npm` version from package.json engines if present, other

[2020-05-29 05:58] rarkins opened #6361 "Support configurable pnpm version"

[2020-05-29 06:03] rarkins opened #6362 "Node versioning support isStable()"
**What would you like Renovate to be able to do?**

Use knowledge of Node's release schedule to correctly return `.isStable()` responses.

**Describe the solution you'd like**

Build it into versioning/node. Move the existing JSON releases schedule into there if necessary.

[2020-05-29 06:32] rarkins opened #6364 "Document third party binary use"
We ideally should have a complete list of all third party binaries we rely on (npm, gradle, poetry, etc) and also which images they map to. Ideally this should be dynamically generated but I don't think that's too easy.

[2020-05-29 06:45] rarkins commented on #6364
| manager        | command        | image              | buildpack? | dynamic? |
|----------------|----------------|--------------------|------------|----------|
| bundler        | bundle         | renovate/ruby      | Y          | Y        |
| cargo          | cargo          | renovate/rust      | N          | N        |
| cocoapods      | pod            | renovate/cocoapods | N          | N

[2020-05-29 07:03] rarkins opened #6365 "Support Rust/Cargo dynamic versioning"
**What would you like Renovate to be able to do?**

Pick the best version of Rust to use when running `cargo`.

**Describe the solution you'd like**

Similar to other managers, however it seems Rust doesn't currently specify minimum versions anywhere [link to RFC](https://github.com/rust-lang/rust/issues/65262). So therefore we should default to picking the latest semver version on Docker Hub, but

[2020-05-29 07:10] rarkins commented on #6351
It seems that:
- Cocoapods is not sensitive to Ruby version used
- Cocoapods is slow to install dynamically

So unlike Bundler, where we pick a Ruby version and then dynamically install Bundler, we should instead use our buildpack to build all `renovate/cocoapods` versions and pick the best version to use at runtime.

[2020-05-29 07:16] rarkins opened #6366 "Support configurable go version at runtime"

[2020-05-29 07:22] rarkins opened #6367 "Dynamically pick python version for pip_setup"
**What would you like Renovate to be able to do?**

Pick the best python version at runtime for `pip_setup`, or allow the user to override using `constraints`.

**Describe the solution you'd like**

Same as other managers so far.

**Additional context**

Here's an example `setup.py`: https://github.com/astrofrog/astropy/blob/7a58585ae5502d0b6066e59473555dd5b31a05b8/setup.py#L107

[2020-05-29 07:54] rarkins opened #6369 "Dynamic lerna + npm/yarn version selection"
**What would you like Renovate to be able to do?**

Select the right combinations of node + lerna + npm or yarn at runtime, when using Docker binarySource.

**Describe the solution you'd like**

Pick the best `renovate/node` version and then dynamically install the best npm or yarn plus lerna.

**Additional context**

Can use `npx` for `lerna` although it shouldn't matter.

[2020-05-29 07:57] rarkins opened #6370 "Use dynamic elixir/mix version selection"
**What would you like Renovate to be able to do?**

Pick the best version of elixir/mix to use at runtime

[2020-05-29 07:59] rarkins commented on #6351
Turns out this is already done.

[2020-05-29 07:59] #6351 closed

[2020-05-29 08:15] rarkins opened #6371 "Refactor global.appMode to support app tokens"
Currently `global.appMode` is used in a few places within the code to change behavior subtly if Renovate is running as a GitHub app. We should make this a first-class concept so that it's possible to supply an app-generated token for GitHub from the CLI.

[2020-05-29 08:22] rarkins commented on #6371
- [ ] 1. GitHub presets fetch code dynamically sets the accept header based on `global.appMode`. If it used `util/http/github` then that should handle it for it.
- [ ] 2. `gomod` artifacts code checks whether to use `x-access-token` in the `git config` line
- [ ] 3. `platform/github.initRepo()` sets the auth differently depending on app or not
- [ ] 4. `util/http/github` manipulates the `accept` h

[2020-05-29 08:23] mikebryant commented on #6337
@rarkins I'm not sure what you need of me here? It still needs #6346 merged for this to work

[2020-05-29 08:30] rarkins commented on #6371
I can think of two obvious choices for how to implement this:
- Make `appMode` an admin option in config, instead of a global, or
- Specify that `token` should be specified as `x-access-token:{token}` to implicitly trigger app mode

The second option would mean that a few of the above will no longer need "app awareness" because the token won't need massaging anymore.

In either case our `accept` h

[2020-05-29 09:05] viceice commented on #6371
related to #3376

[2020-05-29 09:42] rarkins opened #6372 "Optimize yarn lockfile updates"
**What would you like Renovate to be able to do?**

Skip installing `node_modules` if only a lockfile update is necessary.

**Additional context**

It seems like offline support requires a full install.

[2020-05-29 09:52] rarkins commented on #6371
More pieces: we use a GraphQL query to fetch "our" issues, and for that we need to know our username. e.g. it is `renovate[bot]` for the official app. I guess we could reuse the `username` field for this and make it mandatory is an app token is provided. We similarly will need the `gitAuthor` value to be provided in config if it is not detectable using the `/user` endpoint.

[2020-05-29 11:14] rarkins opened #6373 "Refactor: move got extensions into util/got wrapper"
Let's remove the extensions and perform all manipulations ourselves if possible

[2020-05-29 12:33] dlouzan commented on #6299
The patch fixed our issues, thanks all!

[2020-05-29 15:40] waghanza commented on #6029
I'm also interested in `crystal`. I thin, I'll try to contribute to this `PR`.

I used `dependabot` once, but I'm not sure it the **lock** files should be parsed @rarkins (I've no **lock** in the project I need `renovatebot` https://github.com/the-benchmarker/web-frameworks)

[2020-05-29 15:45] waghanza commented on #6029
I'm also interested in `crystal`. I thin, I'll try to contribute to this `PR`.

I used `dependabot` once, but I'm not sure it the **lock** files should be parsed @rarkins (I've no **lock** in the project I need `renovatebot` https://github.com/the-benchmarker/web-frameworks)

[2020-05-29 16:14] leipert opened #6375 "Failing Builds leads to constant re-assigning of reviewers / assignees"
#### This is a:

- [X] Bug report (non-security related)
- [ ] Feature request
- [ ] I'm not sure which of those it is

#### I'm using:

- [ ] The Renovate GitHub App
- [ ] Self-hosted GitHub
- [X] Self-hosted GitLab
- [ ] Self-hosted Azure DevOps

#### Please describe the issue:

Sorry for the bad title. It's late on Friday. But we have the following setup:

1. Updates with auto-merge
2. Sampling

[2020-05-29 18:08] rarkins commented on #6375
I think we can skip assigning if assignees exist as there shouldn’t be any scenario where that’s wanted. The only problem is if you unassign everyone, they’ll get added back

[2020-05-29 19:02] rarkins commented on #6029
It's not essential to *parse* lock files. It's even ok to not have lock file updating capabilities initially, however in that case we'd make crystal disabled by default so that only those without lock files can opt-in to using it. Adding lock file updating afterwards should not be too hard.

[2020-05-29 19:54] TerrapinStation opened #6376 "broken http and needed ssh support for terraform modules"
**What Renovate type are you using?**

self-hosted gitlab

**Describe the bug**

the regex for the terraform module doesnt work with http and also doesnt support ssh

**To Reproduce**

use a source with http or ssh, and renovate will fail querying the dependency
**Additional context**

a tweak to the regex fixes the problem. I will make a PR with fix and added tests

[2020-05-30 05:15] #6016 closed

[2020-05-30 05:27] renovate-release commented on #6016
:tada: This issue has been resolved in version 20.13.0 :tada:

The release is available on:
- [GitHub release](https://github.com/renovatebot/renovate/releases/tag/20.13.0)
- `20.13.0`

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-05-30 08:57] #6372 closed

[2020-05-30 08:59] rarkins commented on #3153
Superseded by #6364

[2020-05-30 08:59] #3153 closed

[2020-05-30 09:06] renovate-release commented on #6372
:tada: This issue has been resolved in version 20.14.0 :tada:

The release is available on:
- [GitHub release](https://github.com/renovatebot/renovate/releases/tag/20.14.0)
- `20.14.0`

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-05-30 09:34] #6376 closed

[2020-05-30 09:44] renovate-release commented on #6376
:tada: This issue has been resolved in version 20.15.0 :tada:

The release is available on:
- [GitHub release](https://github.com/renovatebot/renovate/releases/tag/20.15.0)
- `20.15.0`

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-05-30 10:54] tanettrimas commented on #5850
Hi! I would like to try to implement this feature. Just from looking at the code, am I correct assuming that the changes would need to be in lib/config/common.ts, lib/workers/pr/index.ts and lib/platform/common.ts and lib/platform/github/index.ts?

[2020-05-30 14:34] rarkins opened #6385 "New configuration option: fetchReleaseNotes"
**What would you like Renovate to be able to do?**

Allow users to disable release notes fetching, e.g. if they're airgapped.

**Describe the solution you'd like**

A new config option `fetchReleaseNotes` that defaults to `true`.

[2020-05-30 17:13] rarkins commented on #5850
You'll need to add the new config option (please call it `draftPr`, defaulting to `false`) to https://github.com/renovatebot/renovate/blob/master/lib/config/definitions.ts

And then to `docs/usage/configuration-options.md`

You'll need to add the field to `CreatePRConfig` and add the necessary implementation in platform/github's `createPr()` function.

It's possible you may need to add it to other

[2020-05-30 17:25] tanettrimas commented on #5850
@rarkins Seems I was on the right track, just had not added it to the definitions.ts file and docs. I will add that, test it in a repo I have and then push a PR if all goes well :) Thank you for help!

[2020-05-30 19:00] donny-dont opened #6388 "Unable to pin mcr.microsoft.com/windows docker images"
**What Renovate type are you using?**

Currently using the open source Renovate GitHub app at https://github.com/WebKitForWindows/docker-webkit-dev to pin docker versions in our base images.

**Describe the bug**

RenovateBot is unable to pin `mcr.microsoft.com/windows` images.

Recently Microsoft released the 2004 update for Windows 10 so I added a Dockerfile that referenced `mcr.microsoft.com/do

[2020-05-30 19:09] novas0x2a opened #6389 "go updater fails with unknown revision"
**What Renovate type are you using?**

Self-hosted, renovate/pro:0.18.5

**Describe the bug**

All Go updates to my repo (not just ones related to the sops module) with:

[code]

**Did you see anything helpful in debug logs?**

It looks like everything helpful in the debug logs ended up in the message above.

**To Reproduce**

This is a private repo. However, I suspect that any repo that depends o

[2020-05-31 10:42] roni-frantchi opened #6391 "Yarn lock doesn't get updated"
**What Renovate type are you using?**

GitHub

**Describe the bug**

`yarn.lock` file doesn't get updated, despite explicitly setting it to do so.

**Did you see anything helpful in debug logs?**
I _think_ this is the right job id:
https://app.renovatebot.com/dashboard#github/env0/env0/183248344

**To Reproduce**

Given the following `renovate.json5`:
[code]

And a Yarn Workspaces repo like so:
[c

[2020-06-01 05:30] #5850 closed

[2020-06-01 05:39] renovate-release commented on #5850
:tada: This issue has been resolved in version 20.17.0 :tada:

The release is available on:
- [GitHub release](https://github.com/renovatebot/renovate/releases/tag/20.17.0)
- `20.17.0`

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-06-01 08:03] jarosevcik opened #6397 "[python] Support for --extra-index-url"
**What Renovate type are you using?**
We are using latest version of renovate bot, self-hosted integrated with GitLab.

**Describe the bug**
I have found some issue that should be already resolved wrt support for --extra-index-url, but we are not able to set it up. I am not able to find anything related to it in documentation, so all our attempts were based on code.

**Did you see anything helpful

[2020-06-01 08:59] rarkins commented on #6397
There is definitely code for looking for `--extra-index-url`. You need to run at debug level and look at is being extracted.

[2020-06-01 12:34] msheakoski commented on #3558
The issue occurs when Symfony does a major or minor version upgrade. Renovate correctly updates the require and require-dev sections, but there is another part in composer.json that also needs to be changed because it restricts the maximum allowed version of the symfony/* packages:

[code]

These links explain in more detail:
* [Upgrading a Major Version (e.g. 4.4.0 to 5.0.0)
](https://symfony.com

[2020-06-01 13:01] jarosevcik commented on #6397
tried to run it debug but it still doesnt say much
tried to extract relevant parts from trace(if other parts are relevant, let me know)
[code]

It just says it found a dependency, but without update. The latest version of this private package is
1.1.105. Any suggestions please?

[2020-06-01 13:34] rarkins commented on #6397
The good news is that it's found the dependency and the URL, right? I assume it's the second one here:

[code]

[2020-06-01 13:57] rarkins commented on #3558
@msheakoski good find, thanks. I'm confused though because the docs for this `extra` field do not include any mention of the meaning of "require": https://getcomposer.org/doc/04-schema.md#extra

I was trying to work out if this extra field is used by other packages or just symfony ones.

If we are trying to solve symfony alone, would it work if we treat `extra.symfony.requires` as if it represents

[2020-06-01 14:03] #5865 closed

[2020-06-01 14:07] rarkins opened #6399 "refactor: move cacheGet from util/got to util/http"
The logic in util/got/cache-get should be part of util/http/* and no longer use the `handler` - it should be done "inline".

[2020-06-01 14:08] rarkins opened #6400 "refactor: move util/got/renovate-agent into util/http"

[2020-06-01 14:10] rarkins opened #6401 "refactor: move hostRules from util/got/host-rules to util/http/*"
automatic host-rules application should be part of util/http and not util/got and should not use `handler`

[2020-06-01 14:11] rarkins opened #6402 "refactor: move util/got/auth to util/http/*"
Waiting on #6401

[2020-06-01 14:12] #6373 closed

[2020-06-01 14:30] msheakoski commented on #3558
@rarkins The [symfony/flex](https://packagist.org/packages/symfony/flex) package registers a [composer plugin](https://getcomposer.org/doc/articles/plugins.md) which uses the configuration in composer.json's `extra.symfony.*` section.

I'm not an expert in this domain, but I believe that the version in `extra.symfony.require` is the source of truth for the constraints of `symfony/*` packages.

The

[2020-06-01 14:35] nicolas-grekas commented on #3558
`extra.symfony.require` applies only to packages that are listed in the `replace` section of `symfony/symfony`.
`symfony/phpunit-bridge` is not one of them, neither is e.g `symfony/monolog-bundle`.

[2020-06-01 14:52] msheakoski commented on #3558
@nicolas-grekas Interesting, I always wondered how that worked!

@rarkins I think that it would be safe to treat `extra.symfony.require` the same way that you would treat `symfony/symfony`. This change should fix the issue of keeping Symfony dependencies up to date.

Packages like `symfony/monolog-bundle`, which are not affected by `extra.symfony.require`, look like they can be updated the usual w

[2020-06-01 14:57] rarkins commented on #3558
Thanks @msheakoski @nicolas-grekas.

Yes, it seems like we can use `symfony/symfony` as the package to determine the value in `extra.symfony.require`.

The next question I have is whether we need to modify Renovate's default installation of `composer`. e.g. do we need to install the Symfony Flex plugin so that the `composer.lock` is updated correctly?

https://github.com/renovatebot/docker-buildpa

[2020-06-01 15:01] msheakoski commented on #3558
@rarkins It should work without any changes to the buildpack. If `extra.symfony.require` is present, it can be assumed that `symfony/flex` is already listed in the `require` section of `composer.json` and everything will update accordingly.

[2020-06-01 15:03] rarkins commented on #3558
Great. Last remaining step: can someone create a simple public repo that reproduces the current Renovate *not* working correctly?

[2020-06-01 15:17] msheakoski commented on #3558
@rarkins See https://github.com/msheakoski/issue-3558-symfony

It should want to update from 5.0.9 -> 5.1.0.

[2020-06-01 18:35] ChipWolf commented on #6336
@rarkins I'd normally be inclined to agree with you, but I just removed the 'branch protection rules' from master and they all merged in

[2020-06-01 18:38] ChipWolf commented on #6311
On removal of 'branch protection rules' from our master branch, automerges continued, which confirmed this issue for me.

[2020-06-01 19:08] rarkins commented on #6311
We can probably cover a few of these reasons but not all branch protection rules may be easily visible to us at the API level unfortunately. I saw a case today where all status checks returned "success" yet `mergeStateStatus = BLOCKED` in the PR. i.e. GitHub isn't great at responding with "You can't merge because of X reason". We may need to query the branch protection rules themselves and try to

[2020-06-01 19:09] rarkins commented on #6311
Needs some exploration of the GitHub API to determine which of the failure conditions we can determine and from which queries.

[2020-06-01 19:13] viceice commented on #6311
Maybe an idea: try automerge PR's as usual, if failed, check protection rules for possible causes. 🤔

[2020-06-01 22:30] frangio commented on #6303
I migrated to Yarn as a workaround.

Reported to npm as https://github.com/npm/cli/issues/1369

[2020-06-02 04:59] rarkins commented on #6311
Good idea. If it takes any extra queries to determine then we should do it lazily and once per repo, as rules are common per-repo and not per-PR.

[2020-06-02 05:00] rarkins commented on #6303
Thanks for the info. I'm going to close this because there's nothing we can do in the meantime, and nothing we need to do even once it's fixed, because we already adopt the latest `npm` each time anyway.

[2020-06-02 05:00] #6303 closed

[2020-06-02 05:08] rarkins commented on #3558
@msheakoski thanks. I need your help understanding what the desired behavior is. For example the first PR raised is this one:

![image](https://user-images.githubusercontent.com/6311784/83482062-a7c9d880-a49f-11ea-80d6-14f78162d08e.png)

Renovate's default behavior is to "pin" dependencies for applications so that's what you're seeing. Should it be pinning `extras.symfony.require` as well? Or you

[2020-06-02 08:49] LeJeanbono opened #6406 "Update yarn.lock file"
**What Renovate type are you using?**
- hosted App
- Gitlab.com

**Describe the bug**

Since some days, `yarn.lock` is not updated with `package.json`

**Did you see anything helpful in debug logs?**
I use a private registry :
[code]
Config detected
[code]
Log on one dependency update
[code]
The connection error :
`An unexpected error occurred: \"http://nexus.tools.mycooperlsuite.io/repository/npm

[2020-06-02 09:08] jarosevcik commented on #6397
Yes, the second one is the private registry from where the package is. But i am still not getting why it didnt find an update - there is definitely newer version of specified package. Also i assume that its "connecting" to private registry correctly as long as there is no error regarding to authentication/connection itself.Any idea what could be wrong?

[2020-06-02 09:30] rarkins commented on #6397
The current pypi logic in Renovate means that it tries registry URLs sequentially and stops once it finds a hit. Is the package name you're using also found on pypi.org?

[2020-06-02 13:09] msheakoski commented on #3558
@rarkins Yes, I believe that `extras.symfony.require` should be pinned to whatever version that `symfony/symfony` would be pinned as.

[2020-06-02 15:55] renovate-release commented on #6264
:tada: This issue has been resolved in version 20.19.1 :tada:

The release is available on:
- [GitHub release](https://github.com/renovatebot/renovate/releases/tag/20.19.1)
- `20.19.1`

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-06-02 16:54] aexvir commented on #6397
Yep... that's indeed the problem 🙂
Could this logic be modified? `pip` chooses the one with the highest version, not the first one it finds.

[2020-06-02 17:12] rarkins commented on #6397
Yes, we can/should modify the logic if it does not reflect pip's approach. Do you have any links/references about what you described? e.g. When you say it chooses the one with the highest version, does that mean it discards all versions from the other host, or does it combine them?

[2020-06-02 19:01] viceice commented on #6397
Looks like the same wrong behavior we had for nuget before. We should check all datasource, which support more than one registry url for that behavior.

[2020-06-02 19:56] rarkins commented on #6397
https://github.com/pypa/pip/issues/3454

[2020-06-02 20:30] whilp opened #6412 "container_pull loses registry information"
**What Renovate type are you using?**

GitHub App

**Describe the bug**

When renovate evaluates `container_pull` Docker dependencies in a Bazel `WORKSPACE` file, it fails to extract the registry. In the renovate logs, I see a def like this:

[code]

But then:

[code]

The lookup fails because renovate is using the wrong registry (docker.io), even though the right one (gcr.io) is specified in the

[2020-06-02 20:37] viceice commented on #6412
Looks like we simply need to pass registry to dep. 🤔

[2020-06-02 20:39] whilp commented on #6412
Yep, I suspect that'd do it -- I wasn't sure about how to go from eg `index.docker.io` to the full URL that the underlying docker datasource appears to expect. But I'm certain a more clueful person could fix this real easily!

[2020-06-02 20:46] rarkins opened #6413 "util/exec should stream logs"
If we time out an exec call today (e.g. after 15 minutes) and kill it then we lose all logs. Also, we run the risk of overloading our buffer. We should instead use another approach (spawn?) to stream the logs and save our copy locally.

[2020-06-02 22:54] maplesteve commented on #5646
@viceice Maybe, the Docker container doesn't use the provided npmrc config?

From the log, where the error occurs:
[code]

It points to `/home/ubuntu/.npmrc`. Or does the "real" npmrc config get provided via the ENV vars  `NPM_CONFIG_CACHE`, `npm_config_store`?

[2020-06-03 01:47] jspenguin2017 opened #6416 "The "renovate/verify" status check sometimes fails to be set"
**What Renovate type are you using?**

GitHub marketplace app.

**Describe the bug**

The `renovate/verify` status check sometimes fails to be set. Example PR with this issue:

https://github.com/jspenguin2017/SimpleGitGUI/pull/112

I'm confident that my config is correct, but here are my config files just in case:

https://github.com/jspenguin2017/Config/blob/master/renovate/package.json
https://

[2020-06-03 01:56] buko106 commented on #2334
+1

We plan to use pip-tools managing dependencies only required for development (not in deployment) or not directly required (required by packages we actually use), so we have to turn off renovatebot.

[2020-06-03 04:25] rarkins commented on #6416
This feature was deprecated during our last major release. Please run the [renovate-config-validator](https://github.com/renovatebot/renovate/blob/a0b23148442e274a7a7e5dcdb330f977b2b42d84/package.json#L7) command that ships with Renovate if you need to validate a config.

[2020-06-03 04:25] #6416 closed

[2020-06-03 04:38] #6360 closed

[2020-06-03 04:40] rarkins commented on #5646
@maplesteve you should see a debug message for when the `.npmrc` is written to disk prior: https://github.com/renovatebot/renovate/blob/6c798e5fcdfd7958a1fe2e7a519e9dbd222e96af/lib/manager/npm/post-update/index.ts#L118-L120

[2020-06-03 04:48] renovate-release commented on #6360
:tada: This issue has been resolved in version 20.20.0 :tada:

The release is available on:
- [GitHub release](https://github.com/renovatebot/renovate/releases/tag/20.20.0)
- `20.20.0`

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-06-03 04:51] viceice commented on #5646
OK, i've traced the current code and you need some more changes to get it working.

*`.npmrc` in git repo root*
[code]

*`renovate.json` in git repo root*
[code]

@rarkins It seems we no longer use configured `npmrc` renovate config, if the package extract find a repo `.npmrc`, so the values are not written to disk for `post-update`. But we write `npm`host rules to `.npmrc` file

Here `.npmrc` fro

[2020-06-03 05:17] #6361 closed

[2020-06-03 05:25] #6281 closed

[2020-06-03 05:36] renovate-release commented on #6281
:tada: This issue has been resolved in version 20.22.0 :tada:

The release is available on:
- [GitHub release](https://github.com/renovatebot/renovate/releases/tag/20.22.0)
- `20.22.0`

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-06-03 05:36] renovate-release commented on #6361
:tada: This issue has been resolved in version 20.22.0 :tada:

The release is available on:
- [GitHub release](https://github.com/renovatebot/renovate/releases/tag/20.22.0)
- `20.22.0`

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-06-03 06:06] #6369 closed

[2020-06-03 06:15] renovate-release commented on #6369
:tada: This issue has been resolved in version 20.23.0 :tada:

The release is available on:
- [GitHub release](https://github.com/renovatebot/renovate/releases/tag/20.23.0)
- `20.23.0`

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-06-03 06:24] rarkins commented on #2565
This is now complete in v20.23.0

[2020-06-03 06:24] #2565 closed

[2020-06-03 06:53] #6412 closed

[2020-06-03 07:03] renovate-release commented on #6412
:tada: This issue has been resolved in version 20.23.1 :tada:

The release is available on:
- [GitHub release](https://github.com/renovatebot/renovate/releases/tag/20.23.1)
- `20.23.1`

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-06-03 08:39] #6366 closed

[2020-06-03 08:40] whilp commented on #6412
Thank you!

[2020-06-03 08:49] renovate-release commented on #6366
:tada: This issue has been resolved in version 20.25.0 :tada:

The release is available on:
- [GitHub release](https://github.com/renovatebot/renovate/releases/tag/20.25.0)
- `20.25.0`

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-06-03 12:52] whilp opened #6422 "Update sha256 values in regex managers"
**What would you like Renovate to be able to do?**

We have configured a regex manager to update file assets published in GitHub releases. We download these releases using a custom Bazel rule that we wrote. For this reason, and because these are files (more similar to Bazel's `http_file` than `http_archive`), we can't apply the (awesome) support for updating `http_archive` defs.

With the followin

[2020-06-03 13:01] rarkins commented on #6422
I need to think more about how this could be done. It's hard to make it generic because what you need is pretty specific to github releases.

[2020-06-03 13:28] rarkins commented on #6352
I'm unable to find any standardized way to specify which Composer version to install, so I think instead we should check the `composer.json` for a `php` constraint and use choose `renovate/php` instead, and then install Composer dynamically.

[2020-06-03 13:36] whilp commented on #6422
Thanks for the quick response! And I agree -- this would be a valuable (if perhaps tricky) feature.

Given that we successfully figure out the new URL, perhaps `getHashFromURL` could work without much modification:

https://github.com/renovatebot/renovate/blob/b74a491b4f3bb722835f8bca03984df0aeb6a6e2/lib/manager/bazel/update.ts#L47-L67

Maybe it'd be useful to think of GitHub releases (in concert

[2020-06-03 13:38] viceice commented on #6352
composer 1.10.0 add the used version to the lockfile

[2020-06-03 13:52] rarkins opened #6423 "Make work with reviewflow bot"
@christophehurpeau I'm noticing a lot of churned PR bodies in your repos using this bot, so we need to work out a solution.

[2020-06-03 14:10] adusumillipraveen opened #6428 "Fix aliases validation"
Unable to make aliases work for helm requirements, have tried few settings like :

[code]

and

[code]

### Which Renovate are you using?

WhiteSource Renovate App

### Which platform are you using?
GitHub.com

### Have you checked the logs? Don't forget to include them if relevant
INFO: Found renovate config errors
[code]
INFO: Repository has invalid config
[code]

### What would you like to do?

[2020-06-03 15:03] niorg opened #6424 "[bitbucket server] emoji in PR is triggering 500 error in BB"
Running renovate 20.19.2 docker against bitbucket server 7.0.1 is getting error:

[code]

bitbucket server is logging this:
```o.h.e.jdbc.spi.SqlExceptionHelper Data truncation: Incorrect string value: '\xF0\x9F\x93\x85 *...' for column `stash`.`sta_pull_request`.`description` at row 1```

Version 19.xx is running fine, changing unicodeEmoji to False in the renovate.json of the repository is not m

[2020-06-03 15:17] maplesteve commented on #5646
@viceice Thanks.

Would that be the workaround for the bug/change you mentioned regarding ```.npmrc``` getting overwritten? Then I'll rather wait for a fix, than changing the config on 30+ repos again.

If not: ```npmrc``` is now a property of the ```encrypted``` object in renovate.json (as per your [comment](https://github.com/renovatebot/renovate/issues/5646#issuecomment-631490937) above). The c

[2020-06-03 15:21] zharinov commented on #6413
So basically we want to preserve `stdout` for printing with PR warnings, but additionally log it string by string?

[2020-06-03 15:21] rarkins commented on #6424
Which database are you using, and exactly how did you try to configure `unicodeEmoji`?

[2020-06-03 15:23] rarkins commented on #6413
I was wondering if the experience for everyone would also be better if we combine stdout & stderr too actually (e.g. `2>&1`).

But the main reasons are:
- We still get logs even if we have to kill the child process, and
- No more worrying about child process running out of memory buffer

[2020-06-03 15:37] niorg commented on #6424
This is on MariaDB 10.3

I modified the renovate.json in one of the discovered repositories in the project like this:
[code]

But PR's on that repository still have this issue.

[2020-06-03 16:18] rarkins commented on #6424
You need to configure it in the bot and not repo

[2020-06-03 20:06] houda95 commented on #3796
Would also love to see a similar feature for integrating Renovate with Bitbucket cloud. Having this functionality would definitely help Renovate adoption within my team.

[2020-06-03 20:45] rarkins commented on #3796
How would you suggest?

[2020-06-03 21:10] yangm97 opened #6427 "Can't run under react native repositories"
**What Renovate type are you using?**

Renovate Pro (self hosted)

**Describe the bug**

It seems like renovate doesn't run `yarn` before running the gradlew command, resulting in errors due missing files.

**Did you see anything helpful in debug logs?**

[code]

**To Reproduce**

I suppose it's enough to create a react native app from the boilerplate though I haven't tried reproducing that way ju

[2020-06-03 21:46] christophehurpeau commented on #6423
reviewflow should ask renovate to update a PR only when the PR is approved and ready to merge and there is a conflict with master. It also has a queue to prevent doing that in multiple PR at the same time, in theory.
The code is there: https://github.com/christophehurpeau/reviewflow/blob/c8a97e94d933045828cec18d43e10d4e7998a1ca/src/events/pr-handlers/actions/autoMergeIfPossible.ts#L145-L165
I can

[2020-06-03 22:09] niorg commented on #6424
Ah yes, thank you, that seems to work. Wouldn't it make sense to make this the default for bitbucket server platform?

[2020-06-03 22:12] rarkins commented on #6423
I had noticed a PR in one of your repos earlier today that had been regularly flip/flop edited by reviewflow and renovate bots, although I can't find it now. There was some reviewflow body that your bot was editing and then renovate was editing it back again every time. Does that make sense?

[2020-06-03 22:20] rarkins commented on #6424
There was some discussion in https://github.com/renovatebot/renovate/issues/3799 about it. The problem is specific to MySql/MariaDB, not Bitbucket Server itself.

Atlassian's documentation says "MySQL and MariaDB, while supported by Bitbucket Server, are currently not recommended"

[2020-06-03 22:23] rarkins commented on #6427
I don't think this is a pre *upgrade* issue, isn't it a pre *extract* issue? I think having to do a full install of yarn/pod/etc just to extract Gradle dependencies is something we should try to avoid. Are you Gradle dependencies *changed* in any way based on the results of running yarn? Or is the only reason to run it just so that our gradle command doesn't error?

[2020-06-03 22:36] yangm97 commented on #6427
Precisely.

For instance, [react-native-unimodules](https://github.com/unimodules/react-native-unimodules):

This makes gradle commands depend, at very least, on a `yarn/npm install` to precede them.

[2020-06-04 05:49] rarkins commented on #6428
I think the solution is to add `aliases` awareness to https://github.com/renovatebot/renovate/blob/master/lib/config/validation.ts

We should check:
- aliases is an object
- The object is one deep
- values of each field are valid URIs

[2020-06-04 06:08] viceice commented on #6424
Emojis are working fine on bitbucket server with mssql server. We use them since available.

[2020-06-04 06:40] rarkins commented on #6424
Let's add it to our self-hosted instructions for Bitbucket Server

[2020-06-04 07:34] christophehurpeau commented on #6423
It's not supposed to do that, but it might I guess if there is a bug. Only auto approved prs where merged yesterday in my repositories, I checked some of them and it seemed they all merged whithout any conflicts.
I added logs in the bot, to understand more what's happening when it happens again. Let me know if you see not normal things on your end too
Thank you

[2020-06-04 07:43] rarkins commented on #6423
OK no problem. I'm like 99.9% certain I saw it, but cannot find it now. If it's not meant to happen then hopefully is fine in future and I will close this. Thanks!

[2020-06-04 08:14] davidwinter opened #6430 "No GitLab onboarding for a fresh setup"
**What Renovate type are you using?**

GitLab

**Describe the bug**

From the Renovate dashboard, I enabled my repo and can see that the bot has been added as a Developer, and the webhook added.

On the Renovate dashboard, after refreshing, the repo does not appear anywhere. If I click the settings again, I can see it is enabled for the repo still.

I've not received an Onboarding PR either, and t

[2020-06-04 08:45] JamieMagee commented on #5476
@rarkins I'm looking at this now, but for datasources instead of platforms.

I think datasources (in general) are simpler than platforms, and I want to do this for datasources to reduce the duplicated error handling code that I noticed when implementing #6284

[2020-06-04 09:09] rarkins commented on #5476
@JamieMagee sounds good. I'd also hoped that we can reduce the amount of duplicated code in datasources soon, especially in error handling. I had been thinking to do most of the heavy lifting in `lib/datasource/index.ts` though, and hadn't thought about classes. Anything that reduces the amount of boilerplate code per datasource would be great.

Something important to keep in mind: I think users w

[2020-06-04 09:14] viceice commented on #5476
Having a config options for error would be great. I would prefer to always throw datasource errors on our private registries, as they are unreachable more often.

This happens when renovate automerge a patch or digest update and our jenkins deploays the update, which can cause a registry down time of a few seconds.  so if renovate tries to fetch updates from that it will silently fail and close al

[2020-06-04 09:17] JamieMagee commented on #5476
Yeah, I think a config option would be possible. All the public repos are well known (docker.com, npmjs.com, etc.) so we can do a simple check like

[code]

[2020-06-04 09:22] viceice commented on #5476
Maybe we should split this feature for platfroms / datasources / versionings / mangers to have separate issues?

[2020-06-04 09:24] JamieMagee commented on #5476
@viceice Can we just keep this 1 for now? I can experiment and see how it works out before we start committing to all the work.

[2020-06-04 09:27] viceice commented on #5476
@JamieMagee Ok, as you like 🙃

[2020-06-04 14:28] rarkins commented on #6365
@viceice was it cargo.lock that you thought recorded the cargo version, or was that another manager?

[2020-06-04 14:56] viceice commented on #6365
No, don't use rustup. We use the binary release now

[2020-06-04 14:57] viceice commented on #6365
Also I think cargo version is bound to rust version.

[2020-06-04 15:15] dschafhauser opened #6432 "Error "Failed to determine code owners for PR." when using assigneesFromCodeOwners"
**What Renovate type are you using?**
Self-hosted via docker image 'renovate/renovate:20.25.5' on own GitLab instance.

**Describe the bug**

I've enabled the `assigneesFromCodeOwners` options as described in the docs:
https://docs.renovatebot.com/configuration-options/#assigneesfromcodeowners

However, renovate consistently fails to determine code owners for the PRs it creates.

**Did you see any

[2020-06-04 15:25] rarkins commented on #6365
Hmm. Using rustup would seem like a better solution. I noticed a lot of projects using nightly versions in their tool chain (not sure why) which could also influence cargo capabilities.

Cargo seems to have independent releases but be more tightly coupled with rust upgrades than npm is with node

[2020-06-04 15:39] viceice commented on #6365
ok, i'll check readding rustup with user mode and register system installed rust version

[2020-06-04 15:43] viceice commented on #6365
do you see any errors using latest rust release on repos with nighly versions now?

[2020-06-04 16:00] #6428 closed

[2020-06-04 16:02] #6432 closed

[2020-06-04 16:03] rarkins commented on #6432
I've fixed this particular warning, but I suspect there may be *another* problem, because `prFiles` shouldn't be empty. Cc @fgreinacher

[2020-06-04 16:03] rarkins commented on #6427
@yangm97 I have another idea I'd like to try. Can you get me a confirmed reproduction repo I can use?

[2020-06-04 16:15] rarkins commented on #6427
To clarify: a public repository which fails as you describe. I've tried a few including the react-native-unimodules and it doesn't.

[2020-06-04 16:16] rarkins commented on #6365
I'm not sure we'll see *errors* but we may see a `Cargo.lock` that's different from if we supported `rustup`.

[2020-06-04 16:21] adusumillipraveen commented on #6428
@rarkins It isn't working unfortunately. It just goes to the next step.
Config in logs:

[code]

But it doesn't upgrade hmctspublic charts, instead skips them with `"skipReason": "placeholder-url",` . I am suspecting the actual config is not getting till the manager https://github.com/renovatebot/renovate/blob/master/lib/manager/helm-requirements/extract.ts#L60  . I am traversing through the code

[2020-06-04 16:24] rarkins commented on #6428
Please raise a new issue, as it's a new problem.

Codewise, it's this:

[code]

Also, I suggest putting your `aliases` inside `helm-requirements`.

[2020-06-04 16:30] adusumillipraveen commented on #6428
That seems to have done the trick. Thanks

[2020-06-04 16:33] rarkins opened #6433 "lerna --ignore-scripts not working"
Although the command is this: `npx lerna@3.22.0 bootstrap --no-ci -- --ignore-scripts  --no-audit --package-lock-only`

It fails with an output ending in:

[code]

Is it because of `npx`, or `lerna`?

[2020-06-04 17:44] zharinov commented on #6413
I managed to redirect outputs for Cocoapods run:
![image](https://user-images.githubusercontent.com/1239644/83792615-5a6e8680-a6ac-11ea-91ad-1bf446f45b7c.png)

[2020-06-04 18:28] rarkins commented on #6413
Sorry, I think I confused you. I still want it collected into a single “result”, just done using streaming and not exec.

[2020-06-04 18:40] zharinov commented on #6413
https://stackoverflow.com/a/32872753/2506019 — is this approach correct? (Asynchronous part)
I'm trying to mimic our current `rawExec` function, returning same `ExecResult` at the end.

If convenient, I can also immediately log spawned command output (like in the screenshot above).

[2020-06-04 18:59] rarkins commented on #6413
Logging immediately would result in a lot of additional logging *messages*, which is not ideal. So I prefer to buffer it and only return it at the end for logging.

Although we don’t really execute any other code while we’re waiting for the child process to finish, having an asynchronous implementation is most forwards compatible

[2020-06-04 20:22] christophehurpeau commented on #6423
In this PR I saw a lot of edits between renovate and reviewflow that happened in january, maybe that's what your refering to ? I didn't thought about this when I read your issue but reviewflow also edits PR body to add options (more user-friendly than labels). I could replace the body edits by a comment instead... I wonder why it happens only in some cases, in the meantime I can disable this in re

[2020-06-04 20:27] rarkins commented on #6423
Yes, that was the type I'd seen. I think a PR comment would be better if you can adapt to that. If you think about human-human PR review, it's not typical to edit someone else's PR *body*, so I think bots should normally mimic that too. There was one other bot that adds its code *last* in the PR body so I was able to just remove all its code before comparing PR bodies, so that's another option. Wh

[2020-06-04 23:08] jjathman opened #6435 "NuGet Dependency missing Project URL"
**What Renovate type are you using?**

* Self-Hosted Renovate
* Artifactory for dependencies

**Describe the bug**

It appears as though some of our internal NuGet libraries do not have the a `ProjectURL` so renovate will log an error when attempting to find the new version of the package. It looks as though this line assume whatever property is being searched for will always be available.

[code]

[2020-06-05 04:49] viceice opened #6436 "refactor(internal): optimize docker exec"
Currently we join all commands to a string before calling bash with that script. This way it's sometime difficult to distingish which command has faild.

**Idea**
* start container with dummy command in background
  * `docker run --rm -d --name renovate-helper -t -v /repo:/repo ... renovate/node cat -`
* execute each command in sequence
  * `docker exec -e NPM_TOKEN=XXX -w /repo -u 1001 ... renova

[2020-06-05 05:21] #6435 closed

[2020-06-05 05:26] rarkins commented on #6436
I can see pros and cons of this. Definitely adds some complexity. Have you seen cases where you can't work out which command failed?

Sounds hacky.. but should work?

Not sure about this. If a command fails, the output log from the previous commands could be useful.

I don't think the `&&` part is very hard, while the other commands would need same escaping anyway wouldn't they?

Somewhat related:

[2020-06-05 05:30] #6433 closed

[2020-06-05 05:35] viceice commented on #6436
Not hacky, most CI (eg gitlab, jenkins) use that approach (simply cat from stdin, need `--tty` run arg) for containers.

True 🤔

Currently we need double escaping because of wrapping in `bash -c '<commands>'`

This would be a benefit i havn't thought yet, but would be possible.
Sample: we have multiple npm package updates and need  to run npm lockfile update on every branch. This way we only need

[2020-06-05 05:40] renovate-release commented on #6435
:tada: This issue has been resolved in version 21.0.0 :tada:

The release is available on:
- [GitHub release](https://github.com/renovatebot/renovate/releases/tag/21.0.0)
- `21.0.0`

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-06-05 05:40] renovate-release commented on #6433
:tada: This issue has been resolved in version 21.0.0 :tada:

The release is available on:
- [GitHub release](https://github.com/renovatebot/renovate/releases/tag/21.0.0)
- `21.0.0`

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-06-05 07:15] rarkins opened #6438 "Add binary use description to managers and lint"
Managers that use third party binaries/images should have a section in their readme files that is then copied into the official docs.

[2020-06-05 07:57] rarkins opened #6439 "Add PRs to GitHub Projects"
**What would you like Renovate to be able to do?**

Support the option to add newly created PRs to GitHub Projects, similarly to how Assignees and Reviewers work.

**Describe the solution you'd like**

A configurable option to add one or more projects (including Organization projects) at PR creation. Should add them regardless of whether PR is automerging or not. Might need to support a project co

[2020-06-05 08:01] viceice commented on #6439
Bot for moving issues on projects: https://github.com/apps/project-bot

[2020-06-05 08:40] skorhone opened #6440 "Maven multi-module project handled incorrectly"
**What Renovate type are you using?**
Using self-hosted from latest container image.

**Describe the bug**
When multi-module project has dependencies between modules, renovate bot tries to manage their versions. If current snapshot version isn't the latest artifact in repository or if snapshot isn't in repository, this results to a wrong result.

Renovate should not dependencies that are contained

[2020-06-05 09:21] viceice commented on #6440
you should disable renovate updates for local modules as workaround

[2020-06-05 09:22] skorhone commented on #6440
@viceice Is there a config option that disables all local modules, or do I need to specify them each in config?

[2020-06-05 09:25] viceice commented on #6440
you need to use a `packageRule` with [`packagePatterns`](https://docs.renovatebot.com/configuration-options/#packagepatterns)

[2020-06-05 09:26] viceice commented on #6440
[code]

[2020-06-05 12:17] viceice opened #6443 "yarn lockfile update fails with skipInstalls and high trust"
If `skipInstalls=true && ( trustLevel === 'high' || ignoreScripts == false )` then `yarn install` fails on postinstall scripts, because `node_modules` are missing.

https://github.com/renovatebot/renovate/blob/a3d715981fa593e8faf8f79741a2dc2b354b89ad/lib/manager/npm/post-update/yarn.ts#L55-L68

Workaround: set `ignoreScripts=true` || `skipInstalls=false`

[2020-06-05 12:49] viceice opened #6444 "Artifact errors are not propagated"
Artifact failures are not propagated when branch status is `pending`
https://github.com/renovatebot/renovate/blob/59ea152087c22ef657b5321ede9235a652e5ee3f/lib/workers/branch/index.ts#L570

So the artifact status and comment checks should before the return event if pr is `pending` or `needs-pr-approval`.

[2020-06-05 12:50] viceice commented on #6444
I think we simply need to move the return checks below the artifact checks

[2020-06-05 12:59] adalgrim opened #6445 "ignoreUnstable doesn't work for scala -SNAP versioning convention"
**What Renovate type are you using?**

self-hosted (in fact docker one in version 21.0.1)

**Describe the bug**

Scala convention for Snapshots is not taken into account during ignoreUnstable check e.g.
version 3.3.0-SNAP2 is considered as stable and thus proposed by renovate.

https://mvnrepository.com/artifact/org.scalatest/scalatest

**To Reproduce**

Just add this dependency e.g. in version 3.

[2020-06-05 13:11] Nitrael86 commented on #6323
It looks like the version will also not increase when there is an "ext" defined in the build.gradle file. If i remove the "ext" all works fine

Example:
Doesn't work: `abc group: 'com.test.abc', name: 'myname', version: abc_vers, ext: 'zip'`
works: `abc group: 'com.test.abc', name: 'myname', version: abc_vers`

[2020-06-05 13:26] yangm97 commented on #6427
Managed to reproduce at: https://github.com/yangm97/renovate-rn-repro

https://app.renovatebot.com/dashboard#github/yangm97/renovate-rn-repro/185559544

[code]

[2020-06-05 14:09] rarkins commented on #6427
There’s a new release of Pro (now renamed) that syncs up Renovate versions. I’ll check out the repo, thanks

[2020-06-05 14:09] rarkins commented on #6323
Can you create a reproduction repo?

[2020-06-05 14:20] rarkins commented on #6445
Check out “allowedVersions” - you can use an excludes regex pattern

[2020-06-05 14:33] rarkins commented on #6444
Do you mean prCreation=not-pending ?

[2020-06-05 14:35] rarkins commented on #6444
I think artifact errors are always “lost” if the PR isn’t created in the same run as the commit

[2020-06-05 14:39] viceice commented on #6444
maybe, but we can add artifact branch status before returning, so we can see the state after branch was created

[2020-06-05 14:49] rarkins commented on #6444
True

[2020-06-05 18:14] adalgrim commented on #6445
@rarkins isn't a hack? ;) it's working as expected - thank you! But IMHO it should be just ignored during the check for unstable versions.

If you don't agree feel free to close.

[2020-06-05 18:16] rarkins commented on #6445
Can you find any spec/reference that says it’s unstable? We prefer to go by specs at all times so we don’t end up with arbitrary logic.

[2020-06-05 18:23] adalgrim commented on #6445
On their page: https://www.scalatest.org/install

Other pages:
https://stackoverflow.com/questions/5901378/what-exactly-is-a-maven-snapshot-and-why-do-we-need-it
https://vivaldi.com/pl/blog/snapshot-vs-stable/

[2020-06-05 18:58] rarkins commented on #6445
None of those are close to a spec though. I know to a human that it’s fairly obvious “snap” means “snapshot” and that’s probably unstable. But somewhere such stuff needs to be formally specified.

Example: if it ends in -NEVER-INSTALL-THIS-ITS-UNSTABLE-LOL that doesn’t mean it’s officially unstable.

[2020-06-05 19:14] rarkins commented on #6445
BTW is this the "sbt" manager in Renovate? If so then it is Ivy versioning that we're using, so we need to check the Ivy versioning spec.

[2020-06-05 19:22] rarkins commented on #6445
I don't find any references to SNAP being an official shorthand for SNAPSHOT (unlike how M is short for Milestone). Ref: https://maven.apache.org/ref/3.3.9/maven-artifact/apidocs/org/apache/maven/artifact/versioning/ComparableVersion.html

However I don't think there's much risk if we add this ourself even without finding a reference. @zharinov what do you think?

[2020-06-05 19:26] zharinov commented on #6445
Yep, should be okay

[2020-06-05 20:39] dominguezcelada commented on #6371
I would be happy to collaborate on this but I did not participate on the repo before. Woult it be ok if I draft PR somethig of this?

Thanks

[2020-06-05 20:43] viceice commented on #6371
sure, feel free to open a pr.

[2020-06-06 15:02] rarkins commented on #6371
@dominguezcelada see #6454 6454

[2020-06-07 03:24] caphrim007 commented on #2444
@rarkins can I ask (purely out of curiosity) why @zharinov 's PR was closed? Is there something that outside interested parties could add that would satisfy that PR and this issue? Thank you both for the work that has gone into this.

[2020-06-07 08:50] rarkins commented on #2444
We changed the architecture for how we do updates. I think now what we should do is:
1. Ignore the hashes when we extract (focus on versions/constraints only)
2. Ignore the hashes when we replace (use auto-replace)
3. Add getArtifacts() to the `pip_requirements` manager to update hashes after

The main question is whether we update the hashes using our own code or using a third party tool

[2020-06-07 08:52] rarkins commented on #2444
@peterbe can you give us an update on your current requirements? Some of the links above now 404

[2020-06-07 13:26] #3178 closed

[2020-06-07 13:40] rarkins commented on #3608
Time to revive this

[2020-06-07 13:40] #3403 closed

[2020-06-07 13:43] rarkins commented on #4644
Will solve with #3898

[2020-06-07 13:43] #4644 closed

[2020-06-07 13:44] rarkins commented on #5004
Please see https://docs.renovatebot.com/self-hosted-configuration/#allowedpostupgradecommands and https://docs.renovatebot.com/configuration-options/#postupgradetasks

[2020-06-07 13:44] #5004 closed

[2020-06-07 13:55] viceice commented on #3898
Isn't this a duplicate of #3608

[2020-06-07 14:32] #3898 closed

[2020-06-07 14:32] rarkins commented on #3608
Example files:
- https://github.com/Jasig/uPortal/blob/master/build.gradle
- https://github.com/Jasig/NotificationPortlet/blob/master/build.gradle
- https://github.com/bagage/gradle-template/blob/master/build.gradle
- https://github.com/bagage/gradle-template/blob/master/module1/build.gradle
- https://github.com/apereo/cas/blob/master/build.gradle

[2020-06-07 14:37] #6445 closed

[2020-06-07 14:48] renovate-release commented on #6445
:tada: This issue has been resolved in version 21.3.0 :tada:

The release is available on:
- [GitHub release](https://github.com/renovatebot/renovate/releases/tag/21.3.0)
- `21.3.0`

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-06-07 15:33] caphrim007 commented on #2444
@rarkins I'd like to add to the discussion since I have an interest in this feature.

I've created a sample repo using an actual set of requirements as they are laid out in a project I work on. It can be found here

https://github.com/caphrim007/sample-requirements

I think my use case (may?) be more simple than @peterbe ?

I don't have a need to specify the python version, the architecture, or th

[2020-06-07 15:57] rarkins commented on #2444
I think this should work. I checked out your example repository, manually updated `tox` to `3.15.2` in bootstrap.txt, then ran `hashin tox==3.15.2 -r bootstrap.txt` and it worked fine:

![image](https://user-images.githubusercontent.com/6311784/83973671-56c74380-a8e8-11ea-9286-3e996dced4e0.png)

[2020-06-07 16:20] caphrim007 commented on #2444
that is what I would expect to see, yes. Based off of the testing I did last night (and what @zharinov had in their PR) at present, renovate would not be able to detect the package name/hashes/ etc.

But what you've posted in the pic is essentially what I wanted to get out of renovate.

I figured this was the simplest case before tossing in features like python versions, archs, etc. Those too may

[2020-06-07 18:07] rarkins commented on #2444
@caphrim007 do you know why if you run `hashin readme_renderer==26.0 -r constraints.txt` that it appends it to the file instead of updates the existing version?

[2020-06-07 18:25] rarkins commented on #2444
Other than that, it's essentially working: https://github.com/renovate-tests/sample-requirements/pulls

[2020-06-07 19:24] caphrim007 commented on #2444
If I had to guess it's due to some quirk in how naming happens with some dependencies in pypi and req files.

I think I have a hack in one of my own scripts to handle this case actually. Let me just verify that though.

In a nutshell, it tries to find foo_package, but the dependency is actually foo-package but for whatever reason, the package online is named by hyphen or dash. I can't really expla

[2020-06-07 20:29] danmx opened #6462 "[Bazel] Support for repository_ctx download and download_and_extract"
**What would you like Renovate to be able to do?**
I would like Renovate to update my custom rule implementation dependencies that are downloaded using [`repository_ctx.download`](https://docs.bazel.build/versions/master/skylark/lib/repository_ctx.html#download) and [`repository_ctx.download_and_extract`](https://docs.bazel.build/versions/master/skylark/lib/repository_ctx.html#download_and_extract

[2020-06-07 22:15] caphrim007 commented on #2444
@rarkins what you're seeing appears to be what I was hacking around in my local scripts. pypi...somewhere....draws some sort of distinction between underscored and hyphenated packages.

Here's a specific package I was hacking around; https://pypi.org/project/websocket_client/

I'm not sure what the rules are for when to convert between underscored and hyphenated, orther than than underscores are "

[2020-06-08 06:25] rarkins commented on #2444
I think is beyond the scope of what Renovate should be responsible for. e.g. if `hashin` has a fault, or users should prefer hyphen over underscore but don't, then there's not much Renovate can do until it's fixed in hashin or pip or wherever necessary.

[2020-06-08 06:30] sebarthel89 commented on #6324
Getting the same issue for the current version 21.3.0

[code]

my log is full of these info error messages. I also use GitHub Enterprise Server 2.19.14.

[2020-06-08 06:40] rarkins commented on #6324
@sebarthel89 please raise a new issue and post debug logs

[2020-06-08 08:38] viceice opened #6466 "refactor tests to use nock instead of got mock"
We should replace all `got` mocks by `nock` in tests, so #6356 would become easier

[2020-06-08 10:08] toinehartman opened #6473 "GitLab: Renovate cannot merge without `CODEOWNERS` approval"
### Which Renovate are you using?

WhiteSource Renovate App

### Which platform are you using?

GitLab.com

### Have you checked the logs? Don't forget to include them if relevant

The logs confirm that the MR merge is rejected.

### What would you like to do?

I would like to configure Renovate to automerge (non-major) updates. The only requirement is that the pipeline should pass.

For our repos

[2020-06-08 13:16] rarkins opened #6469 "Optimize PR comment efficiency"
According to one of GitLab's API team, the Renovate app consumes a *lot* of the "get issue comments" endpoint. If we could reduce this, I'm sure app running time would decrease too.

[2020-06-08 13:27] rarkins commented on #6469
We currently call `ensureComment()` per run in these circumstances:
- once for every blocking (closed) PR
- once for every edited PR
- once per commit if there are artifacts errors
- once if a PR is created after a failed branch automerge
- once per PR if automergeType=pr-comment
- once per run for every orphan PR if skipAutoclose=true
- once per run to the onboarding PR if no config found

We cal

[2020-06-08 13:30] viceice commented on #6469
We can try to add current user as filter if the api supports it

[2020-06-08 13:30] rarkins commented on #6469
Possible ways to improve this:
- If we can fetch PRs and their comments using GraphQL then this would reduce the number of GET requests (not supported by GraphQL filtering currently)
- Stop removing "PR has been edited" comments. I think it's a pretty uncommon situation where users will choose to rebase the PR to wipe their changes, and even if so then the timeline should reflect the ordering accu

[2020-06-08 13:39] rarkins commented on #6469
Even if we do use GraphQL, it's still fairly inefficient to grab every comment too, unless we filter those by our user.

Let's study the UX implications of updating the PR body itself:

General downside: Comments show up in the correct timeline order in a PR, while editing the PR body may be non-obvious to most.

Closed ignore notification: most of the time it's pretty obvious to people that a PR

[2020-06-08 13:41] rarkins commented on #6469
Idea: remove per-run `ensureCommentRemoval()` for *open* PRs:
- edited
- artifacts

Remove them though when we know they should be gone, e.g. rebase request for edited PR or a new commit for the PR.

[2020-06-08 19:33] #5672 closed

[2020-06-08 19:42] renovate-release commented on #5672
:tada: This issue has been resolved in version 21.4.0 :tada:

The release is available on:
- [GitHub release](https://github.com/renovatebot/renovate/releases/tag/21.4.0)
- `21.4.0`

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-06-08 22:38] katz12 opened #6470 "npm prepare script run when lerna is passed --ignore-scripts"
**What Renovate type are you using?**

I am using the hosted app on Github.

**Describe the bug**

4 days ago I noticed that one of the PRs opened by our renovatebot had encountered an error when running `lerna bootstrap`. It is failing at a step in our build that runs `grunt dist` as part of `npm run prepare` for one of the modules in our monorepo. This step has not changed since we began using r

[2020-06-08 23:27] dobesv opened #6471 "Wait with creating PR until all checks are not pending, even if one fails"
**Request**

I would like if `prCreation: not-pending` would wait for all checks to complete, even if one fails.  Alternatively, a new value could be created, like `prCreation: none-pending` which has this behavior.

**Why?**

I would like to only see PRs for package at least a few days after released, e.g. to allow serious bugs to be hotfixed after release, and to avoid merging updates every day

[2020-06-09 05:01] rarkins commented on #6470
It's not our intention to be running `grunt` in order to just update lockfiles with lerna. If you are able to reproduce this problem in a public repo then we can take a look at whether it's possible to avoid it.

[2020-06-09 05:06] rarkins commented on #6471
I think it would be best to create a new value `none-pending` and also ensure that our documentation is clear about the difference between them.

[2020-06-09 07:02] augi opened #6474 "Same pull requests grouping"
**What would you like Renovate to be able to do?**
It would be great if Renovate didn't open multiple pull requests that contain exactly the same change.

**Describe the solution you'd like**
Instead of creating multiple pull requests with exactly the same _source code_ change, create just one PR. In different words, group the same pull requests to a single one.

**Describe alternatives you've con

[2020-06-09 07:06] ikesyo commented on #6474
ref: #4673

[2020-06-09 09:00] viceice commented on #6470
@rarkins looks like `--ignore-scripts` is somehow ignored

[2020-06-09 09:36] rarkins commented on #6470
I'm wondering if `lerna` explicitly calls `prepare` or if `--ignore-scripts` is not being passed to `yarn install`.

Also wondering if we can stop using `lerna bootstrap` when Yarn Workspaces are in use and instead just call `yarn install` directly. I had thought calling `lerna bootstrap` was more future-compatible but happy to skip it if it's causing problems.

[2020-06-09 11:42] #6469 closed

[2020-06-09 11:46] mpeyper commented on #6470
Could this be the same issue that's causing the dependency updates in my libraries to fail?

https://github.com/ioof-holdings/redux-subspace/pulls
https://github.com/ioof-holdings/redux-dynostore/pulls

They are all failing with [a comment like this](https://github.com/ioof-holdings/redux-dynostore/pull/287#issuecomment-638979371) where it's failing to find a dependency used in a `prepublish` scri

[2020-06-09 11:52] renovate-release commented on #6469
:tada: This issue has been resolved in version 21.5.0 :tada:

The release is available on:
- [GitHub release](https://github.com/renovatebot/renovate/releases/tag/21.5.0)
- `21.5.0`

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-06-09 12:04] KnisterPeter opened #6475 "Support extra tasks to execute per repository"
**What would you like Renovate to be able to do?**

We are using [`patch-package`](https://github.com/ds300/patch-package) to fix things in our dependencies until upstream packages keep up.

`patch-package` puts version numbers into the patch files and warns if you update dependencies with patches but do not update the patches.
This is normally just a simple call to `npx patch-package <package-nam

[2020-06-09 12:31] rarkins commented on #6470
We were probably doing a full install (unintentionally) of dependencies until recently.

[2020-06-09 12:36] mpeyper commented on #6470
Sorry @rarkins, I don't quite follow.

Should the `prepublish` script not be running?  Do I need to change anything in my repo and/or renovate config to get them passing again?

[2020-06-09 12:45] rarkins commented on #6470
Correct - the prepublish script shouldn’t be running. If it was running before, it was accidental. But now, we need to get it all working again one way or another. First task is to try to work out why Lerna isn’t honouring our —ignore-scripts setting.

[2020-06-09 12:54] mpeyper commented on #6470
Thanks for the clarification.

I notice there was recently an issue that around this that has been closed (#6433) and an older issue in the lerna repo about it being ignored with `yarn` (lerna/lerna#1800).  Not sure if either are relevant here.

[2020-06-09 12:59] zharinov opened #6476 "Gradle: handle null values produced with 'dependency' keyword"
**What Renovate type are you using?**

Standalone

**Describe the bug**

Gradle report generator handles deps declared with `classpath` keyword, while sections with `dependency` produce `version: null`.

While running, `DefaultExternalModuleDependency` instances are initiated with `null` version fields.

**To Reproduce**

Clone example repo (see below) and run Renovate.

**Additional context**

Ex

[2020-06-09 13:08] viceice commented on #6476
I think this will be fixed with #3608, which is in progress

[2020-06-09 13:25] katz12 commented on #6470
Thanks yall for engaging with this with little repro information.

It would make a lot of sense if this `prepare` step just wasn't being called before but it now is. The issue with `grunt` having nothing to do with renovatebot, only my configuration.

It is also interesting that both `yarn` and `lerna` are used. Locally I always use `lerna bootstrap` and similar to @mpeyper it works when run local

[2020-06-09 13:35] rarkins commented on #6470
There shouldn't be any `npx` call anymore. Is that log extract a little old?

The first `yarn` was intended for updating the "root" lock file while `lerna bootstrap` was for the child packages. We can reconsider this if it's unnecessary. Are you using a single lock file or many?

[2020-06-09 13:36] rarkins commented on #6476
I think #3608 might take some time though! I was hoping there's a quick fix here with the existing manager.

[2020-06-09 13:38] rarkins commented on #6475
If you're self-hosting then `postUpdateTasks` are available already.

[2020-06-09 13:41] KnisterPeter commented on #6475
@rarkins Didn't know about `postUpdateTasks`, thats nice.
A solution for the public app would be nice as well, but that could be some security involved topic.

[2020-06-09 13:42] katz12 commented on #6470
No we are using multiple lock files. And I believe it is necessary to use `yarn` to update the root lock file. Again, sorry, I do not own our configuration so I don't understand it fully.

That log extract was created on June 5 around 10AM UTC.

[2020-06-09 13:45] rarkins commented on #6475
I think patch-package could be whitelisted. Do you know what happens if it’s run on a package that doesn’t have a patch configured?

[2020-06-09 13:46] KnisterPeter commented on #6475
It exits with 1 and prints some info:

[code]

[2020-06-09 13:48] zharinov commented on #6476
For quick fix, we can scan package file, collecting versions for null values. Should be pretty straightforward to implement.

[2020-06-09 13:49] rarkins commented on #6475
Would you expect Renovate to automatically detect and run patch-package if a patch is available, or be happy to configure a package rule per-package?

[2020-06-09 13:50] KnisterPeter commented on #6475
It would be awesome if that happy automatically :smile:

[2020-06-09 13:52] rarkins commented on #6475
Can you write out a description of exactly how that could be done?

[2020-06-09 13:53] mpeyper commented on #6470
I'm actually seeing a mixture of `npx` and regular lerna output in "Artifact update problem" comments:

https://github.com/ioof-holdings/redux-dynostore/pull/287#issuecomment-638979371
https://github.com/ioof-holdings/redux-dynostore/pull/286#issuecomment-638503438

Because some of our dependencies have a restriction of using a singleton reference (`react`, `react-redux`), we use the [`--hoist`](h

[2020-06-09 13:56] KnisterPeter commented on #6475
Sure, I'd be glad to do that. Is a shell script okay or do you prefer some node.js script?

[2020-06-09 13:59] rarkins commented on #6475
I was more thinking pseudo-code is fine. Just making sure someone describes exactly how it could be done and thinks of edge cases

[2020-06-09 14:01] rarkins commented on #6475
Actually, I'm a little confused. Isn't patch-package operating on the node_modules content, which *isn't* committed to the repo? What exactly would it be patching?

[2020-06-09 14:03] KnisterPeter commented on #6475
`patch-packages` does this:

If one changes files in node_modules and run `patch-package` then a file is created in the `patches` folder.
After installing/updating node_modules (postinstall) `patch-package` applies the patches found in the `patches` folder.

[2020-06-09 14:05] KnisterPeter commented on #6475
Assumes we have a folder `patches`.
E.g. patches/webpack+4.1.0.patch

[code]

[2020-06-09 14:09] rarkins commented on #6475
ok, can you create a reproduction repo to demonstrate? e.g. have a dependency that's out of date and that will require some patch-package with the PR of the new version.

[2020-06-09 14:15] viceice commented on #6476
@zharinov Feel free to send a pr to fix this 🙃

[2020-06-09 14:33] KnisterPeter commented on #6475
This is the repo: https://github.com/KnisterPeter/renovate-with-patch-package

If renovate is executed on it, there should be an update for react.
And with the execution of yarn then (after renovate) a big warning is output by `patch-package` that the patch is outdated.

[2020-06-09 15:16] bytestream commented on #2355
@rarkins I think this should be simpler than expected to implement.

1. When parsing the composer.json file, look for `config.platform` and extract all values (it's an object of `{"name": "version", "name": "version"}` - see https://getcomposer.org/doc/01-basic-usage.md#platform-packages
2. Before running `composer update / composer install` loop through extracted platform packages and run `compos

[2020-06-09 15:33] #6139 closed

[2020-06-09 15:39] viceice commented on #2355
@bytestream Why do we need to set the config options to composer? I think extracting the `compatibility` for php would be enough, so we can use the right php version.

Does composer have problems with different php patch releases, because our php docker images currently only allows to build latest current php version. we are using https://deb.sury.org/ as php source

[2020-06-09 15:43] renovate-release commented on #6139
:tada: This issue has been resolved in version 21.6.0 :tada:

The release is available on:
- [GitHub release](https://github.com/renovatebot/renovate/releases/tag/21.6.0)
- `21.6.0`

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-06-09 15:54] bytestream commented on #2355
@viceice

I don't fully understand how renovate bot works but it ignores the `config.platform.php` defintion in `composer.json`. https://github.com/renovatebot/renovate/issues/2355#issue-348303223 mentioned that it should be passed to packagist but then seemed to run into a road block as the API doesn't have that kind of support.

`composer config platform.php 7.2.0` is equalivent to it being set

[2020-06-09 16:02] viceice commented on #2355
@bytestream My questions was simply can we use php 7.2.6 if the composer platform config says 7.2.3? So using a higher php patch release to update the lockfile.

[2020-06-09 16:15] bytestream commented on #2355
Yes, anything greater than the specified platform version.

Sent via mobile.
Please excuse the spelling, brevity and punctuation.

On Tue, 9 Jun 2020, 17:03 Michael Kriese, <notifications@github.com> wrote:

[2020-06-09 17:17] ArchdukeNavaron opened #6503 "Append labels"
### Which Renovate are you using?

Renovate Open Source

### Which platform are you using?

GitLab self-hosted

### What would you like to do?

I would like to append labels to merge requests. Currently labels will be overwritten completely. For example, I would like to add labels depending on language and update type. But I dont want to write a lot of rules depending on their combined status.

[c

[2020-06-09 17:42] viceice commented on #5784
I think this would be solved by https://github.com/renovatebot/renovate/issues/3608

[2020-06-09 17:51] dword-design opened #6478 "Deprecation Issue not created"
**What Renovate type are you using?**

Hosted App with GitHub

**Describe the bug**
I create a Node.js project with a deprecated dependency. After pushing, I expect that an issue with a deprecation warning is created.

**Did you see anything helpful in debug logs?**
In the logs I see that the deprecation is detected, but it doesn't lead to a warning.

**To Reproduce**
I built a minimal example her

[2020-06-09 18:21] peterbe commented on #2444
@caphrim007 I don't mean to sound lazy but can you, for a moment, look into whether this can be fixed in `hashin` (hi! I'm its maintainer) so that `hashin` becomes conveniently agnostic?
I think it's perfectly reasonable that a user might have...
[code]
in their requirements file but forgot that and typed:
[code]
or, the other way around. That it was written as `python_memcached` already in `requi

[2020-06-09 18:21] bytestream commented on #2355
So how do you think this should be implemented @viceice ? I'm keen to get movement because my previous fix is not feasible when using renovate bot on multiple repositories with different platform requirements.

[2020-06-09 18:26] rarkins commented on #2444
@peterbe it’s a little different. The user has x_y in their requirements file and we run hashin x_y==1.0.1 but hashin appends x-y==1.0.1 to the file and leaves the existing x_y in place.

[2020-06-09 18:38] peterbe commented on #2444
My point is that if run `hashin x_y==1.0.1` or `hashin x-y==1.0.1` is should work the same. If the file already called it `x_y` it should continue that. If it called it `x-y` is should continue that too.

I.e. `hashin` doesn't try to correct anything.

[2020-06-09 19:01] caphrim007 commented on #2444
@peterbe I can look into that with hashin. if I open an issue over there, do you have time to talk at me on how we want to implement it?

From renovate's perspective i think it can continue to just use hashin. @rarkins hasn't added any special handling to the renovate code, just at the moment it behaves in such a way that it would append the hyphenated/underscored version if it didn't find the oth

[2020-06-09 19:08] peterbe commented on #2444
Yes indeed! I think the issue should be fairly straightforward. We basically want `hashin` to not over-correct but respect whatever the user's preferred "convention" is. Even if the user is "wrong" if you know what I mean.

[2020-06-09 19:44] caphrim007 commented on #2444
@peterbe going to open that issue right now. For the renovate specific usage of this though, should we block this feature until hashin adds the enhancement? Or would this just be a dependency that is updated/installed automatically when renovate runs.

I noticed in @rarkins pr that it does a "pip install hashin".

[2020-06-10 02:34] nishants opened #6480 "Support for Basic Authenticaiton scheme for npm"
Can we please allow using the **Basic** authentication scheme for npm?

For the npm repositories, currently, Bearer authentication scheme is hardcoded: https://github.com/renovatebot/renovate/blob/5ba8570699b041ea273cfb33a5a574cce84bf072/lib/datasource/npm/get.ts#L87.

To allow using Basic authentication scheme, it would be nice to have a flag in configuration i.e.
[code]
For our private npm regis

[2020-06-10 02:43] nishants commented on #4577
`git clone https://<PAT>@MYHOST/collection/project/_git/repo works` does not seem to work for self-hosted Azure Devops Server.

Though `git clone https://<user:passoword>@MYHOST/collection/project/_git/repo works` did work.

Like bitbucket allowing user/password configuration for self-hosted Azure DevOps Server should work.

[2020-06-10 04:22] viceice commented on #4577
@nishants please open a new issue [here](https://github.com/renovatebot/config-help/issues/new/choose) and fill the template. `Azure DevOps Server` should generally work

[2020-06-10 05:19] rarkins commented on #6478
Depreciation issues in the app are currently disabled due to a previous bug we encountered. I’ll look int testing and enabling them again

[2020-06-10 05:54] viceice commented on #2355
first we need to add before here:
https://github.com/renovatebot/renovate/blob/aed8d75c7358af065ad007c20b46c11ca54369b0/lib/manager/composer/extract.ts#L185

[code]

then we need to add `tagConstraint` and `tagScheme` to here:
https://github.com/renovatebot/renovate/blob/aed8d75c7358af065ad007c20b46c11ca54369b0/lib/manager/composer/artifacts.ts#L112-L114

`image` needs to be changed to `renovate/p

[2020-06-10 06:25] rarkins commented on #2355
Doing this will make the artifacts update fail but not stop our lookup from picking an incompatible update in the first place.

[2020-06-10 07:51] dword-design commented on #6478
@rarkins ah ok. Would be great to have this feature enabled again!

[2020-06-10 08:30] #6476 closed

[2020-06-10 08:40] renovate-release commented on #6476
:tada: This issue has been resolved in version 21.6.2 :tada:

The release is available on:
- [GitHub release](https://github.com/renovatebot/renovate/releases/tag/21.6.2)
- `21.6.2`

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-06-10 08:54] bytestream commented on #2355
Setting the config should stop it picking incompatible versions

[2020-06-10 08:59] nishants opened #6482 "Renovate re-writes description on every run"
**What Renovate type are you using?**
Azure Devops Server **(self hosted)**

**Describe the bug**
If I change the pull request description manually, the renovate bot resets the description every time and manual changes are lost.

**Did you see anything helpful in debug logs?**
Nothing relevant.

**To Reproduce**
Change the description of the pull request created by renovate and run renovate again.

[2020-06-10 08:59] viceice commented on #2355
@bytestream I don't think so, because renovate does not respect the config and would update the versions in `composer.json` with latest available. So after it the lockfile update can fail because of incompatible plattform.

So we need first extract platform settings (easy) as mentioned above, then the `packagist` datasource needs to be aware of the platform contraints and only return usable versio

[2020-06-10 09:00] viceice commented on #6482
@nishants This is by design.

[2020-06-10 09:07] rarkins commented on #2355
Something to consider: if Renovate stops suggesting dependency updates because the PHP is out of date, and the PHP version is never updated, then the project may get horribly out of date and the person may not be aware. Do we at least propose PHP version updates currently e.g. if they're defined in `composer.json` too?

[2020-06-10 09:37] bytestream commented on #2355
I think this would be OK. If you detect the update failed because of the platform constraints then you can decide whether to open a PR or not.

Packagist doesn't have support to check platform constraints so there needs to be an alternative solution.

I think its fine to suggest the updates so long as they fail. Though this could get tedious if you don't intend to bump the platform constraint.

Mi

[2020-06-10 09:41] rarkins commented on #2355
Thanks for the feedback. In that case I think that once we use the exact PHP version specified to run Composer then the artifacts should fail, giving an indication of compatibility as you'd like. Do you have any example repository we can use where today the problem is hidden in the PR whereas it should show an error?

[2020-06-10 09:42] viceice commented on #2355
i see one more problem, if we do not ignore platform deps, artifacts can fail because we don't have the required native extensions installed.

I also don't like the idea to install all php extensions to the images

[2020-06-10 09:54] rarkins commented on #2355
So "platform" reqs includes not just PHP version but also extensions?

Can we install the extensions dynamically?

[2020-06-10 09:57] viceice commented on #2355
yes

No, because we install them from dep packages which needs root to install

[2020-06-10 09:57] bytestream commented on #2355
You can see how composer handles the platform constraints here - https://github.com/composer/composer/blob/e85da00dff099370ef6a367ca836461a26243573/src/Composer/Package/Version/VersionSelector.php#L73

I'll see if I can generate one on GitLab.com

I suppose you could use `--ignore-platform-reqs` when `config.platform` is not defined. If it is defined then don't specify `--ignore-platform-reqs` and

[2020-06-10 10:23] KnisterPeter commented on #5951
We updated yesterday from renovate 19 to 21 (self hosted).
Since then we see a few hundred builds triggered on our CI, caused by this checkboxes.

[2020-06-10 10:37] KnisterPeter commented on #5951
In our logfiles I've seeing this entries:

[code]

But after renovate finishes the PR isn't changed (even though the log says `DEBUG: PR updated`).
Next time the body will again be changed, this will trigger a loop I think.

[2020-06-10 10:42] rarkins commented on #5951
I’ve found some times you need a hard refresh of the page to see the updated PR. Always check it in an incognito browser to be sure. This is a GitHub UI problem when that happens, not Renovate

[2020-06-10 10:55] KnisterPeter commented on #5951
Not sure but maybe these lines are helping:

[code]

Its says here that `yarn install` is executed, then that its up-to-date.
But renovate has two files to commit and one 'updatedArtifacts' - the `yarn.lock`.

[2020-06-10 10:59] KnisterPeter commented on #5951
If I run `yarn install --ignore-engines --ignore-platform --network-timeout 100000 --ignore-scripts` locally checkouted on the `renovate/master-sentry-cli-1.x` branch there is no difference generated for the `yarn.lock`

[2020-06-10 11:03] KnisterPeter commented on #5951
Forget my comments above as well. These are, because the branch is recreated and compared to the base (caused by the checkbox)...

[2020-06-10 11:28] KnisterPeter commented on #5951
So, now I think I have the cause:
1. The branch is recreated
2. It is flagged as `pending`
3. No update of the PR is done, because the branch is `pending` -> the checkbox is not unflagged.

I guess if its pending but the checkbox is ticked, the PR need to be updated.
But there isn't even checked if a PR exists, because it is returned early in `processBranch`.

[2020-06-10 11:34] rarkins commented on #5951
I think we should update the PR as otherwise it will be rebased every run, right? What config reproduces this?

[2020-06-10 11:40] KnisterPeter commented on #5951
Just the default but `:prNotPending` is defined.

[2020-06-10 17:11] kreig303 opened #6485 "`draftPR` for gitlab?"
**What would you like Renovate to be able to do?**
there is a `draftPR` configuration option for github. even though gitlab has a corollary feature (WIP:) there doesn't appear to be an implementation for it.

**Describe the solution you'd like**
`'draftPR': true` in a renovate config file will allow renovate installations on gitlab to create the analogous "WIP:" merge requests

**Describe alternat

[2020-06-10 18:31] waghanza opened #6487 "Wrong parsing of nuget constraint"
Hi,

**What Renovate type are you using?**

I'm using hosted version of `renovatebot`

**Describe the bug**

I have this
[code]
appearing on my logs.

However, `2.5.*` is a valid version constraint, like said at https://github.com/the-benchmarker/web-frameworks/pull/2922#discussion_r438276600

To verify, I have create a `F#` manifest, with :
+ `<PackageReference Include="Frank" Version="5.0.*" />`

[2020-06-11 04:47] rarkins commented on #5024
From https://stackoverflow.com/a/22666646/3005034

Looks like we can pass to `gradlew` through CLI: `gradlew -Dhttp.proxyHost=127.0.0.1 -Dhttp.proxyPort=3128 - Dhttps.proxyHost=127.0.0.1 -Dhttps.proxyPort=3129 -Dhttps.proxyUser=user -Dhttps.proxyPassword=pass -Dhttp.proxyUser=user -Dhttp.proxyPassword=pass -Dhttp.nonProxyHosts=host1.com|host2.com`

[2020-06-11 05:07] rarkins commented on #5024
I'm marking this as `ready` but would need someone willing and able to test out a feature branch with a real setup before I would start it.

[2020-06-11 05:11] rarkins commented on #6487
Needs a change in https://github.com/renovatebot/renovate/blob/master/lib/versioning/nuget/index.ts

`2.5.*` is valid for npm's semver, however our nuget versioning is leaning on the `loose` versioning scheme. We can maybe add a specific exception case for this for now, even though it would be a little hacky.

[2020-06-11 07:09] janjagusch opened #6488 "Python private package index support for poetry"
**What would you like Renovate to be able to do?**

I would like Renovate to be able to update `poetry.lock` files that contain dependencies from a private package index.

Similar to #4487, you can add a `hostRule`, such as

[code]

to the `config.js` file. This allows Renovate to find outdated dependencies, but not **update them**. The result is that the `pyproject.toml` file gets updated, wherea

[2020-06-11 07:22] viceice commented on #6488
looks like it can be configured with environment variables, so should be easy to implement. PR's welcome

[2020-06-11 07:28] rarkins commented on #6488
This should be pretty similar to what we do with Bundler artifacts updating. In that case we query for all hostRules matching hostType=bundler and then add an environment variable for each one found.

@janjagusch would a few commands like the following satisfy your needs?

[code]

My main concern is that those commands aren't *host-based* - i.e. it seems like they're be sent to every PyPi host, in

[2020-06-11 07:31] viceice commented on #6488
@rarkins We can do it fgor all configured repos:
![image](https://user-images.githubusercontent.com/1798109/84357658-553a9b80-abc6-11ea-8334-fd4507ef0849.png)

[2020-06-11 07:34] viceice commented on #6488
maybe we need to read the toml

[code]

so we can match the url to host rule, to get the matching env var names

[2020-06-11 09:33] waghanza commented on #6487
Actually `[2.5,2.6)` is the understood. However, this could lead to have `2.5.0` (even if **2.5.4** is available).

Their is 2 solutions :
1. using 2 possibilities, `[2.5,2.6)` and `2.5.*`
2. using 1 possibility **only**, `2.5.*`

Both are working, according to what `renovatebot` purpose -> keeping dependency up-to-date

The first solution has the advantage to let user decide to use a `loose` depe

[2020-06-11 12:29] janjagusch commented on #6488
thanks for your lightning fast feedback, @viceice and @rarkins! :zap:

configuring poetry through environment variables seems like a good idea. :+1:
there seems to be [an issue](https://github.com/python-poetry/poetry/issues/1871) with processing environment variables for authentication in poetry, though.

i will see today whether i can make the environment variable configuration work. i will keep

[2020-06-11 12:35] viceice commented on #6488
there is also a workaround for the bug https://github.com/python-poetry/poetry/issues/1871#issuecomment-600816090

[2020-06-11 12:43] janjagusch commented on #6488
i think this issue has been resolved in the [1.09 release](https://github.com/python-poetry/poetry/blob/master/CHANGELOG.md#109---2010-06-09).

updating seemed to have resolved the issue for me.

[2020-06-11 12:45] viceice commented on #6488
Ok, but why the issue is still open?

[2020-06-11 12:50] janjagusch commented on #6488
okay, this seems to work for me.

from a clean poetry v1.0.9 installation, have a `pyproject.toml` like:

[code]

after setting `POETRY_HTTP_BASIC_MYSOURCE_USERNAME` and `POETRY_HTTP_BASIC_MYSOURCE_PASSWORD`, running `poetry install` will succeed.

[2020-06-11 12:52] janjagusch commented on #6488
I am not sure, I will leave a comment there.

[2020-06-11 13:00] rarkins commented on #6488
Are you running self-hosted? And passing env variables through worked?

[2020-06-11 13:02] janjagusch commented on #6488
For now I can only confirm that configuring poetry works in a clean python docker container. I cannot say anything yet about how it integrates with renovate.

(But once I test this with renovate, it will be running in a container on my personal machine)

[2020-06-11 13:15] viceice commented on #6488
@janjagusch No, we need to pass the env explicitly to docker, so need to change renovate.

You can try to install petry globaly, configure auth env before starting renovate with `--trust-level high`

[2020-06-11 14:35] aexvir commented on #6397
Hi there @rarkins , could I ask for a conclusion on this issue? Is it something that renovate will be supporting?

[2020-06-11 14:37] rarkins commented on #6397
Yes, I've now marked it accordingly.

[2020-06-11 15:31] KRonst opened #6498 "Support Maven registries with no metadata xml"
### Which Renovate are you using?

Renovate Open Source CLI

### Which platform are you using?

Bitbucket Server

### Have you checked the logs? Don't forget to include them if relevant
Yes

### What would you like to do?

In my gradle project I have some plugins
[code]
Configuration for bot
[code]
After bot competes checking my repo I have some PRs for dependencies but there is no RP for any plug

[2020-06-11 16:18] proton-ab commented on #6285
Any movement on this? There are now two PRs with the issue https://github.com/proton-ab/SupportBot/pulls

[2020-06-11 16:26] rarkins commented on #6285
Nobody has stepped forward to fix it yet. You’ll see here if they do.

[2020-06-11 17:04] adriencohen commented on #5230
While waiting for the full support is there any special config/patch which could make renovate work with yarn berry even if it breaks yarn 1 support ?

[2020-06-11 18:12] rarkins commented on #5230
No, but after some recent refactoring I think we’re in a much better position to implement this. So you have any example repo you can contribute towards testing?

[2020-06-11 19:32] JamieMagee commented on #5230
@adriencohen We're waiting on yarnpkg/berry#1278 before we can fully support yarn v2. It's got a lot of attention right now, so I expect it won't be too much longer to wait.

[2020-06-11 19:45] janjagusch commented on #6488
Can confirm that setting the `POETRY_HTTP_BASIC_MYSOURCE_USERNAME` and `POETRY_HTTP_BASIC_MYSOURCE_PASSWORD` and setting `trust-level="high"` solved this issue for me. Thanks, @viceice and @rarkins!

It would still be a great feature, if renovate set those poetry env vars for me, based on the information provided in the `hostRules`.

What do you think?

[2020-06-11 20:35] viceice commented on #6488
Yes we like to support this.

We are always happy to review pr's which solves this or other issues 🙃

[2020-06-11 21:33] adriencohen commented on #5230
Thank you for the update, unfortunately I can't share with you my repo but it's a yarn 2 monorepo and if you need to test some stuff i'll try on it and report to you.
Right now I have the issue mentionned above about the unknown  parameters of `yarn install`

[2020-06-12 05:32] janjagusch commented on #6488
@viceice, I can try to put something together this weekend.
it will be my first PR in this repo and my first PR with JS in general - so your review will be much appreciated. :)

[2020-06-12 12:18] rarkins commented on #6498
Moved it into the main repo as a feature request. I guess we need to fetch `/repositories/gradle/m2/org/springframework/boot/org.springframework.boot.gradleplugin/` and then parse the HTML?

@KRonst can you paste in the raw HTML for that so we can see how parseable it is?

[2020-06-12 12:24] janjagusch opened #6499 "Gitlab app hangs"
**What Renovate type are you using?**

Gitlab Hosted App

**Describe the bug**

I am trying to use the Gitlab dashboard at https://app.renovatebot.com/dashboard

1. Trying to access the logs of a project results in an infinite loading screen. I waited up to 30 minutes and it was still showing the loading screen.
1. All projects in the "Install/Uninstall Repositories" section (after pressing the ge

[2020-06-12 12:26] KRonst commented on #6498
Here is HTML from page [/repositories/gradle/m2/org/springframework/boot/org.springframework.boot.gradle.plugin/](https://gist.github.com/KRonst/b81a92ee286d153b72bb43963699f06c)

[2020-06-12 12:53] rarkins commented on #6498
Are you 100% sure that's the raw HTML and not transformed by the browser? I'm a little surprised that the links are absolute (including full url/domain) and not relative.

[2020-06-12 12:59] viceice commented on #6498
If they use nexus  from sonatype, they can force the metadat generation, see [here](https://stackoverflow.com/a/51841883/10109857)

[2020-06-12 13:01] #6399 closed

[2020-06-12 13:11] renovate-release commented on #6399
:tada: This issue has been resolved in version 21.7.0 :tada:

The release is available on:
- [GitHub release](https://github.com/renovatebot/renovate/releases/tag/21.7.0)
- `21.7.0`

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-06-12 13:14] janjagusch opened #6500 "Poetry: Trying to look up Python as dependency causes warning"
**What Renovate type are you using?**

Self-Hosted (v20.20)

**Describe the bug**

In the `pyproject.toml` file the required Python version is specified among actual Python packages in the tool.poetry.dependencies section (more details here: https://github.com/python-poetry/poetry/issues/2551). However, contrary to all other element in that section, Python is not a package. This means that renovat

[2020-06-12 13:42] KRonst commented on #6498
It was HTML from registry based on Sonatype Nexus 2.11.3-01
We also have another registry based on Sonatype Nexus OSS 3.22.1-02. And here is HTML from one of the artifact from there: [Spring Boot](https://gist.github.com/KRonst/8a715d6ea4e1ed20e59670a162266f16)

[2020-06-12 14:14] rarkins commented on #6498
The latest HTML is what I was expecting.

[2020-06-12 14:16] rarkins commented on #6500
Fixed by #6490 ?

[2020-06-12 14:32] janjagusch commented on #6500
Looks good to me, @rarkins. Looking forward to the merge.

[2020-06-12 16:15] #6401 closed

[2020-06-12 16:24] renovate-release commented on #6401
:tada: This issue has been resolved in version 21.8.0 :tada:

The release is available on:
- [GitHub release](https://github.com/renovatebot/renovate/releases/tag/21.8.0)
- `21.8.0`

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-06-12 18:36] viceice commented on #6498
As read [here](https://stackoverflow.com/a/53161088/10109857), nexus should auto generate the `maven-metadata.xml`

[2020-06-12 19:04] #6498 closed

[2020-06-13 04:17] #6402 closed

[2020-06-13 04:19] caphrim007 commented on #2444
@rarkins while I wait for the PR I have open for review in hashin, I was curious about @peterbe's other remarks about Python version.

For example, I have the following in a repo

[code]

I'm curious if there are any conventions that have been made in other managers to support manager specific options to trickle down to the manager, or if there is only a common set of options for all managers (`en

[2020-06-13 04:36] caphrim007 commented on #2444
Mousing around the code, I think what I'm wondering about is specifying Artifact configuration.

It does appear that some managers allow for that (I looked at bundler and composer), and that such options could provide input to hashin's `-p` argument.

However, these settings appear to apply to renovate's configuration, and not the configuration found in a source repo, is that correct? As such, one

[2020-06-13 06:38] #6357 closed

[2020-06-13 06:48] renovate-release commented on #6402
:tada: This issue has been resolved in version 21.9.0 :tada:

The release is available on:
- [GitHub release](https://github.com/renovatebot/renovate/releases/tag/21.9.0)
- `21.9.0`

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-06-13 06:48] renovate-release commented on #6357
:tada: This issue has been resolved in version 21.9.0 :tada:

The release is available on:
- [GitHub release](https://github.com/renovatebot/renovate/releases/tag/21.9.0)
- `21.9.0`

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-06-13 11:44] KRonst commented on #6498
Thanks to all for help :)

[2020-06-13 12:33] waghanza opened #6508 "Julia support"
Hi,

It will be awesome if `renovatebot`, could parse `Project.toml` in **Julia** Project.

Dependencies in **julia** could be specified in various ways :

+ `^1.2.3 `  => [1.2.3, 2.0.0)
+ `^1.2`     => [1.2.0, 2.0.0)
+ `^1`       => [1.0.0, 2.0.0)
+ `^0.2.3`   => [0.2.3, 0.3.0)
+ `^0.0.3`   => [0.0.3, 0.0.4)
+ `^0.0`     => [0.0.0, 0.1.0)
+ `^0`       => [0.0.0, 1.0.0)
+ `~1.2.3`   => [1.2.3, 1.3

[2020-06-13 14:13] rarkins commented on #6508
First thing is: do we need a new `datasource`? Seems like we do, is it https://github.com/JuliaRegistries/General? Example versions list for a random package: https://raw.githubusercontent.com/JuliaRegistries/General/master/G/GaussianProcesses/Versions.toml

After `datasource` we need to verify `versioning`. I checked the full list of ranges above and npm's `semver` implementation actually follows

[2020-06-13 14:18] rarkins commented on #2444
We do have a precedent of attempting compatibility of language versions including python. So far this is for package managers that have a field for specifying the python version though.

We have some precedent for package manager configuration options such as `npmDedupe` or one composer one, but we try to minimize those or else our list of config options will really blow up.

[2020-06-13 16:40] gibbsonn opened #6527 "onboarding description for base branch doesn't match baseBranches value"
### Which Renovate are you using?
Renovate Open Source CLI
### Which platform are you using?
Azure
### What would you like to do?
I'm using the `baseBranches: ["some-other-branch"]` option in the config but in the onboarding pr description I get "You have configured Renovate to use branch **master** as base branch."

When renovate creates pr's for dependency updates, it does target the branch in `

[2020-06-13 16:54] codeneomatrix commented on #6508
Hi.

Starting with Julia version 1.4, it is also possible to use hyphens in the version specification of dependencies.

So it is recomended to also add
[code]
to the project file when using them.

- `0.2.3 - 4.5.6` => [0.2.3, 4.5.6]

Any unspecified trailing numbers in the first end-point are considered to be zero:

- `1.2 - 4.5.6`   => [1.2.0, 4.5.6]
- `1 - 4.5.6`     => [1.0.0, 4.5.6]

Any unspe

[2020-06-14 04:51] rarkins commented on #6508
I underestimated a little. First, the `deps` section in `Project.toml` contains a form of checksum, while also these's a `Manifest.toml` file that needs to be updated by `pkg`.

The `pkg` examples on https://docs.julialang.org/en/v1/stdlib/Pkg/index.html also shows that the `pkg` command is run from *within* a repl, so I'm not sure how it would be run "headless".

I have concluded that someone mor

[2020-06-14 04:57] rarkins commented on #6508
Some things not done yet:
- [ ] Verify if hyphen ranges are supported by our existing implementation of `getNewValue()` in npm semver
- [ ] Look up and cache each Julia General source URL
- [ ] Work out what the `deps` value in `Project.toml` represents. Does not seem to be a sha1
- [ ] Determine if users would expect Renovate to update either the `Project.toml` `deps` section or `Manifest.toml` e

[2020-06-14 06:57] rarkins opened #6512 "Git refs errors"
Source repo: https://github.com/lsst-sqre/roundtable

Triggers errors like:

[code]

[2020-06-14 06:58] rarkins commented on #6512
Now lowered error to info but root cause needs to be addressed.

[2020-06-14 16:45] codeneomatrix commented on #6508
**Project.toml**
The project file describes the project on a high level, for example the package/project dependencies and compatibility constraints are listed in the project file. The file entries are described below.

- The name field
The name of the package/project is determined by the name field, for example:
`name = "Example"`
The name can contain word characters [a-zA-Z0-9_], but can not star

[2020-06-14 16:45] codeneomatrix commented on #6508
https://discourse.julialang.org/t/how-to-give-a-valid-uuid-to-an-existing-package-and-how-to-desactivate-an-environment/19236/5

[2020-06-14 16:46] codeneomatrix commented on #6508
https://stackoverflow.com/questions/55320875/how-to-get-julia-package-uuid

[2020-06-14 16:46] codeneomatrix commented on #6508
https://discourse.julialang.org/t/how-can-i-know-the-uuid-of-a-registered-package/14081/4

[2020-06-14 16:46] codeneomatrix commented on #6508
https://discourse.julialang.org/t/pkg-api-for-getting-uuid-of-another-package/15061/3

[2020-06-15 05:45] rarkins commented on #6508
Thanks for the pointers. It seems like the `deps` section should not need updating by Renovate, even if the `compat` values do.

The next question is:
- If we manually update the `Project.toml` file with a new `compat` value, what is the most lightweight `pkg` command to run to update the corresponding `Manifest.toml`. I'm also still confused by the `Manifest.toml` is empty in the example provided

[2020-06-15 13:41] janjagusch commented on #6488
Sorry guys, I tried to add the feature but didn't succeed! :disappointed:

I believe it would be better if someone worked on this who knows JS/TS.

[2020-06-15 14:21] Trim21 opened #6515 "poetry version widen broken"
**What Renovate type are you using?**

github app

**Describe the bug**

when widen, `^2.2` should become `^2.2 || ^3.0.0`, got `^2.2, ||, ^3.0.0` which doesn't work as expected in poetry.

**To Reproduce**

https://github.com/trim21-archive/transmission-rpc/pull/2

[2020-06-15 14:43] tony1377 opened #6555 "individual @types/react pr includes react"
### Which Renovate are you using?

Renovate Open Source CLI

### Which platform are you using?

Azure DevOps

### Have you checked the logs? Don't forget to include them if relevant

yes, nothing relevant that I could see

### What would you like to do?

When a repo has `@types/react` and `react` in it and mono repo grouping has been turned off, it will create a pr titled `Update dependency @types

[2020-06-15 15:30] janjagusch opened #6516 "Missing single quote when updating Docker image dependency"
**What Renovate type are you using?**

Self-hosted (v20.20)

**Describe the bug**

When the version of a Docker image dependency is put in single quotes and then updated through renovate, the trailing single quote gets removed. This produces an invalid `.yaml` file.

Example from `.gitlab-ci.yml`:

`image: 'ruby:2.5.0'` is turned into `image: 'ruby:2.7.1` (<- missing single quote)

![image](https:

[2020-06-15 18:25] caphrim007 commented on #2444
@rarkins,

@peterbe and I have resolved the issue you were seeing in the appending of package names. It is available in hashin 0.15.0.

At this point I would say it is acceptable to move forward on your draft implementation of hashes which you have linked in this issue. Let us know if there is anything else you need from us.

[2020-06-15 19:20] codeneomatrix commented on #6508
currently REQUIRE is no longer used

https://discourse.julialang.org/t/whats-the-use-a-project-toml-file-and-the-the-use-of-a-manifest-toml-in-a-julia-project/22524/2

[2020-06-15 19:35] codeneomatrix commented on #6508
https://julialang.github.io/Pkg.jl/v1.4/api/#Pkg.instantiate

[2020-06-15 19:35] codeneomatrix commented on #6508
https://julialang.github.io/Pkg.jl/v1.4/api/#Pkg.update

[2020-06-16 03:17] hussainweb opened #6521 "Run git commit with --no-verify option"
**What would you like Renovate to be able to do?**
When Renovate commits files to a branch to create a MR/PR, it should run commit with `--no-verify` option. Right now, commits are failing on my instance because a pre-commit check fails.

**Describe the solution you'd like**
I'd like to be able to control this flag via an option, if possible, or have it set by default.

**Describe alternatives you

[2020-06-16 04:16] rarkins commented on #6521
This could maybe be default behavior. @viceice @JamieMagee what do you think?

[2020-06-16 05:14] rarkins commented on #6466
![image](https://user-images.githubusercontent.com/6311784/84734367-f5b30600-afa0-11ea-965f-b4ac6be5d634.png)

[2020-06-16 05:23] rarkins opened #6522 "Remove util/got"
This change:

![image](https://user-images.githubusercontent.com/6311784/84734817-33fcf500-afa2-11ea-8f4f-213d5ade1f42.png)

Results in:

![image](https://user-images.githubusercontent.com/6311784/84735029-c2717680-afa2-11ea-870e-86d6d360fd63.png)

[2020-06-16 05:27] rarkins commented on #6522
Cc @viceice

[2020-06-16 05:29] rarkins commented on #6522
When I run `yarn jest util/http` it all passes though, but they fail when run as part of `yarn jest`.

[2020-06-16 05:54] zharinov commented on #6522
For some failed cases, it's something to do with retries on 4xx/5xx responses

[2020-06-16 06:22] viceice commented on #6521
Sure, should also be set on push to ignore `pre-push` hook

[2020-06-16 06:26] viceice commented on #6522
Yes, can be the default got retry or some tests doing wrong mocking.

[2020-06-16 07:11] viceice commented on #6466
I think this should be reopened, because the are some left got mocks

[2020-06-16 07:12] viceice commented on #6466
Ref #6523

[2020-06-16 08:08] rarkins commented on #6521
@hussainweb would you like to submit a PR?

[2020-06-16 12:11] #6466 closed

[2020-06-16 12:11] #6522 closed

[2020-06-16 12:42] rarkins commented on #6356
I think this one is unblocked now @viceice @zharinov @szmarczak

[2020-06-16 12:56] rarkins commented on #6356
The challenges of types for this is beyond me. Anyone able to step up?

[2020-06-16 13:17] alclonky opened #6524 "Gradle daemon still running after renovating repository"
**What Renovate type are you using?**
whitesource/renovate

**Describe the bug**

Renovate startes an gradle daemon for each repository with gradle inside (same gradle version is reused, different version stays running)

gradle can be started without daemon (the daemon will be ended after run)
[https://docs.gradle.org/current/userguide/gradle_daemon.html](https://docs.gradle.org/current/userguide/

[2020-06-16 14:14] rarkins commented on #6356
I've found that the changes to get it working in a simple case are small: https://github.com/renovatebot/renovate/compare/refactor/got-11

Need help on the types though.

[2020-06-16 14:22] viceice commented on #6356
I can have a look at it tomorrow

[2020-06-16 14:45] rarkins commented on #6524
@alclonky I'm not a Gradle user or expert but are you able to experiment with adding `/home/ubuntu//.gradle/gradle.properties` to your running container containing `org.gradle.daemon=false` and confirm if that prevents the problem?

[2020-06-16 14:48] rarkins commented on #6524
@viceice @JamieMagee @ikesyo any opinions? We don't seem to be using `GRADLE_OPTS` yet so could set that easily.

[2020-06-16 15:00] renovate-release commented on #6466
:tada: This issue has been resolved in version 21.11.1 :tada:

The release is available on:
- [GitHub release](https://github.com/renovatebot/renovate/releases/tag/21.11.1)
- `21.11.1`

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-06-16 15:00] renovate-release commented on #6522
:tada: This issue has been resolved in version 21.11.1 :tada:

The release is available on:
- [GitHub release](https://github.com/renovatebot/renovate/releases/tag/21.11.1)
- `21.11.1`

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-06-16 15:11] viceice commented on #6524
@rarkins the daemon should already be disabled for our gradle docker images. So passing the env looks easier band will work for global tools too

[2020-06-16 15:21] michaelkotkov opened #6626 "Ignore repository configs"
### Which Renovate are you using?

renovate:20.5.2-slim

### Which platform are you using?

Bitbucket Server

### Have you checked the logs? Don't forget to include them if relevant

yes

### What would you like to do?

Use bot side configuration only (config.js) and ignore/disable any configuration files in the repositories (renovate.json, .renovaterc, ...). Is this achievable?
Tried "force", but

[2020-06-16 15:27] rarkins commented on #6524
@viceice do you mean disabled for our `renovate/gradle` images but not for `renovate/renovate` ?

[2020-06-16 15:41] viceice commented on #6524
Yes I think so, have not verified it

[2020-06-16 15:55] rarkins commented on #6524
The `renovate/gradle` container contains all the following in `gradle.properties`:

[code]

Should we have all of them for `renovate/renovate` too?

[2020-06-16 16:04] viceice commented on #6524
We should do it while install gradle with our buildpack, so it will work transparently

[2020-06-16 19:27] hussainweb commented on #6521
@rarkins @viceice, thanks for looking at this. I just created a PR for this at #6526.

[2020-06-17 04:48] #6521 closed

[2020-06-17 04:58] renovate-release commented on #6521
:tada: This issue has been resolved in version 21.12.0 :tada:

The release is available on:
- [GitHub release](https://github.com/renovatebot/renovate/releases/tag/21.12.0)
- `21.12.0`

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-06-17 05:49] rarkins commented on #6527
I think this might be a fixable cosmetic issue in the description, so have moved it into the main repo.

[2020-06-17 07:48] #6527 closed

[2020-06-17 07:49] LeJeanbono commented on #4754
@rarkins @viceice @jGleitz
You've got the public repo to reproduce https://github.com/LeJeanbono/renovate_gradle
Since a long time, renovate work juste one time :
[code]
Then fail the next job :
[code]

[2020-06-17 08:04] rarkins commented on #4754
When I run against a fork of this locally I get the error first time (`Compliance error - Unable to determine develop version as git describe did not return expected value`).

Searching these terms on Google still just returns hits related to this issue.

[2020-06-17 08:16] Trim21 opened #6528 "github app can't find preset config"
**What Renovate type are you using?**

github app

**Describe the bug**

github app raise a issue `Action Required: Fix Renovate Configuration` saying `Error type: Cannot find preset's package (@trim21)`

**Did you see anything helpful in debug logs?**

[code]

**To Reproduce**

https://github.com/Trim21/bgm38/issues/54

**Additional context**

it works fine when I try cli on commit 4b2f523a1

[2020-06-17 08:17] renovate-release commented on #6527
:tada: This issue has been resolved in version 21.12.1 :tada:

The release is available on:
- [GitHub release](https://github.com/renovatebot/renovate/releases/tag/21.12.1)
- `21.12.1`

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-06-17 08:24] tony1377 opened #6529 "ignoreUnstable doesn't appear to be working for this lib"
**What Renovate type are you using?**

Cli

**Describe the bug**

We have a repo using `popper.js@1.16.0` which is a deprecated version. There is one more version available which is also deprectated `popper.js.@1.16.1` but renovate is not updating to it

**Did you see anything helpful in debug logs?**

[code]

**To Reproduce**

https://github.com/tony1377/renovate-deprecated-lib-test

**Additional

[2020-06-17 08:32] rarkins commented on #6529
Here's the logic that's meant to apply here: https://github.com/renovatebot/renovate/blob/f5a588eb5a25f3de31d66dbfeccca1a55cdfc5ef/lib/workers/repository/process/lookup/filter.ts#L47-L62

It would seem Renovate doesn't think 1.16.0 is deprecated but I checked the registry data just now to confirm that it is.

[2020-06-17 10:16] rarkins opened #6533 "Move registryUrls handling into datasource"
**What would you like Renovate to be able to do?**

Shift the complexity of trying multiple registries into the shared datasource logic instead of re-implemented into each datasource type.

**Describe the solution you'd like**

Default behavior for multiple datasources should be "hunt" - i.e. try the registryUrls in order and return as soon as there's one result. An alternative would be "merge" or

[2020-06-17 10:16] rarkins commented on #6533
@JamieMagee does this conflict with any of the ideas you've had about Datasource classes?

[2020-06-17 10:17] rarkins commented on #6533
First step we need to do before moving this to `ready` is to survey which datasources support multiple `registryUrls` today, how they support them, and if there are any "spanners in the works" I haven't thought of that would make this too hard in their case.

[2020-06-17 10:58] rarkins commented on #6533
- `docker`: uses the first one only
- `git-submodules`: seems to abuse `registryUrls` into something it's not meant to be??
- `gitlab-tags`: uses the first one only
- `gradle-version`: merges multiple
- `helm`: uses the first one only
- `maven`: combines multiple
- `nuget`: combines multiple
- `packagist`: hunts multiple
- `pod`: seems to take the *last* one today (intentional?)
- `pypi`: also tak

[2020-06-17 12:50] rarkins commented on #6533
Datasources can optionally export a new field `registryStrategy` with values of:
- `none` (no `registryUrl` needed)
- `first` (only the first url is used)
- `hunt` (try registry urls in sequence)
- `merge` (try all registry urls and merge the results)

[2020-06-17 13:27] rarkins commented on #6533
This also gives us the possibility to record *which* registry/registries that results were found on, although I haven't thought of a use for that.

[2020-06-17 14:24] JamieMagee commented on #6533
I don't think my work with datasources should be affected by this. Rather, I think it might actively help us to achieve this.

I have been sitting on the conversion of the cndjs for over a week now. I should tidy it up and send it out for (draft) PR and get some feedback on the approach.

[2020-06-17 14:40] rarkins opened #6535 "Refactor extract/lookup for baseBranches"
**What would you like Renovate to be able to do?**

Perform all extractions and then all lookups sequentially.

**Describe the solution you'd like**

When e.g. two base branches are configured, Renovate currently does extract/lookup/extract/lookup. Instead it should be extract/extract/lookup/lookup

[2020-06-17 14:42] rarkins commented on #6533
Haha, I was also starting with `cdnjs`

[2020-06-17 14:43] rarkins commented on #6533
It's actually not the perfect one for me to start with though because it's one of the datasources that is best doing its own caching instead of delegating it to the main datasource.

[2020-06-17 17:50] LeJeanbono commented on #4754
When running `git describe` in shell :
[code]
For what this command is usefull ?
Maybe `--all` option is missing or the quote in the middle is not valid

[2020-06-17 18:02] rarkins commented on #4754
I have no idea where “git describe” is even being called

[2020-06-17 22:48] nejch opened #6537 "Allow overriding hardcoded branch for git submodules"
**What would you like Renovate to be able to do?**
Add the ability to configure a branch to update git submodules from, instead of the default master, e.g. in cases where you want to update internal dependencies from `devel`/`develop`/`development` etc.

Currently the git submodule manager defaults to a hardcoded master if the super-repo `.gitmodules` doesn't explicitly specify a branch for the su

[2020-06-17 23:16] mpeyper commented on #6470
Any update on this? Is there anything I can do to help it along? I'm unfamiliar with the codebase, but willing to learn.

[2020-06-18 05:07] rarkins commented on #6470
The best thing would be to confirm if `lerna` is at fault here. e.g. why is it running `npm` prepare scripts if we pass `--ignore-scripts`.

[2020-06-18 06:04] rarkins commented on #6537
This may require a refactor of our git-submodules first.

[2020-06-18 07:05] rarkins opened #6538 "Refactor datasource tests to all use index"
An example of a datasource that needs refactoring is cdnjs: https://github.com/renovatebot/renovate/blob/73b213ce8375f5054f60d32da216ad0be0a93dd2/lib/datasource/cdnjs/index.spec.ts#L4

An example of one that does not is pod: https://github.com/renovatebot/renovate/blob/73b213ce8375f5054f60d32da216ad0be0a93dd2/lib/datasource/pod/index.spec.ts#L1

[2020-06-18 07:06] rarkins commented on #6533
Waiting on #6538

[2020-06-18 07:30] #5051 closed

[2020-06-18 07:32] #5001 closed

[2020-06-18 07:32] #4917 closed

[2020-06-18 07:33] #3142 closed

[2020-06-18 07:38] #6400 closed

[2020-06-18 07:39] #6309 closed

[2020-06-18 07:41] #6083 closed

[2020-06-18 07:43] #5680 closed

[2020-06-18 07:44] #5675 closed

[2020-06-18 07:48] #5408 closed

[2020-06-18 07:49] #5397 closed

[2020-06-18 07:51] rarkins commented on #4996
Duplicate of #1458

[2020-06-18 07:51] #4996 closed

[2020-06-18 07:54] #4566 closed

[2020-06-18 07:54] #4371 closed

[2020-06-18 07:55] #4351 closed

[2020-06-18 07:56] #4207 closed

[2020-06-18 07:57] #3851 closed

[2020-06-18 07:58] #3798 closed

[2020-06-18 07:58] rarkins commented on #3722
@ppmathis do you think your repology datasource now satisfies this?

[2020-06-18 08:02] #2894 closed

[2020-06-18 08:03] #2416 closed

[2020-06-18 08:04] ikesyo opened #6539 "Impossible to suppress 'Found encrypted data but no privateKey' errors in a specific situation"
### Which Renovate are you using?

Both Renovate Open Source CLI (through [the GitHub Action](https://github.com/renovatebot/github-action)) and WhiteSource Renovate App

### Which platform are you using?

GitHub.com

### Have you checked the logs? Don't forget to include them if relevant

[code]

### What would you like to do?

I'd like to suppress the errors in a situation:

- A repository is co

[2020-06-18 08:06] #2034 closed

[2020-06-18 08:08] #1854 closed

[2020-06-18 08:09] #6337 closed

[2020-06-18 08:10] #5439 closed

[2020-06-18 08:11] #3740 closed

[2020-06-18 08:12] #5763 closed

[2020-06-18 08:13] #5088 closed

[2020-06-18 08:14] #4654 closed

[2020-06-18 08:15] #4209 closed

[2020-06-18 08:15] #4058 closed

[2020-06-18 08:16] #3508 closed

[2020-06-18 08:17] #2105 closed

[2020-06-18 08:20] #6423 closed

[2020-06-18 08:22] #6158 closed

[2020-06-18 08:22] rarkins commented on #6188
@ppmathis is this also potentially resolved using repology?

[2020-06-18 08:25] rarkins commented on #5422
@ppmathis is this also enabled by your repology datasource?

[2020-06-18 08:25] #5191 closed

[2020-06-18 08:28] #4633 closed

[2020-06-18 08:29] #4172 closed

[2020-06-18 08:32] #2800 closed

[2020-06-18 08:38] Nitrael86 commented on #6323
i created a second repository ... https://github.com/Nitrael86/renovate_issue_2_6323  but i'm not sure if its reproduceable with it, cause the renovate github app doesn't create a logfile for this repo in the dashboard.

[2020-06-18 08:57] #4988 closed

[2020-06-18 09:00] rarkins commented on #6323
You can verify the reproduction using the CLI tool (if you have Gradle installed locally) or with the Docker Hub image (which comes bundled with Gradle)

[2020-06-18 09:29] rarkins commented on #1261
@viceice anything left to do here?

[2020-06-18 09:34] rarkins opened #6540 "Remove global.gitAuthor"

[2020-06-18 09:35] rarkins opened #6541 "Refactor trustLevel"
1. Don't use a global
2. Break it into its separate components

[2020-06-18 09:36] rarkins commented on #3376
Closing in favor of child issues

[2020-06-18 09:36] #3376 closed

[2020-06-18 09:40] viceice commented on #1261
I think this is done

[2020-06-18 09:40] #1261 closed

[2020-06-18 09:41] viceice commented on #6540
This is used by the app too?

[2020-06-18 09:56] rarkins commented on #6540
Yes, because of two challenges:
1. The app calls renovateRepository() directly instead of global
2. GitHub's automatically-assigned app email addresses are invalid email and get rejected by Renovate (`renovate[bot]@no-reply.users.github.com`). The `[]` is not allowed. So I need to bypass our existing check.

[2020-06-18 09:57] #6500 closed

[2020-06-18 10:07] #6031 closed

[2020-06-18 10:08] #6030 closed

[2020-06-18 10:17] #5506 closed

[2020-06-18 10:20] #5162 closed

[2020-06-18 11:06] ppmathis commented on #5422
This specific issue can indeed be solved by using the new repology datasource. While I am mostly working with Alpine packages, Repology supports all other kinds of OS repositories.

As Debian unfortunately does not keep old package versions, a Dockerfile with outdated package versions immediately breaks as described by @felixfbecker. As I was struggling with the same issue on Alpine, I've decided

[2020-06-18 11:18] #5422 closed

[2020-06-18 11:27] viceice commented on #5422
We should add the grouping info to the docs

[2020-06-18 11:29] ppmathis commented on #6188
This should basically be resolved by the repology datasource, however the `tools/project-by` endpoint of Repology is still "early-access" and does not include [all supported repositories](https://repology.org/repositories/statistics). I've raised a comment [here](https://github.com/repology/repology-webapp/issues/66#issuecomment-645946683) to ask for CentOS support.

I will keep track of this and

[2020-06-18 11:47] ppmathis commented on #3722
This specific issue could indeed be solved by using the new repology datasource. While I am mostly working with Alpine packages, Repology supports all kinds of OS repositories.

As Debian unfortunately does not keep old package versions, a Dockerfile with outdated package versions immediately breaks. As I was struggling with the same issue on Alpine, I've decided to configure Renovate to group all

[2020-06-18 12:41] #3722 closed

[2020-06-18 13:17] mpeyper commented on #6470
So my investigations have led me to this:

Calling lerna [as you are now ](https://github.com/renovatebot/renovate/blob/master/lib/manager/npm/post-update/lerna.ts#L96) results in the following command being run

[code]

If I run lerna in my project this way it results in the scripts *not* being ignored.  However, the scripts are ignored if I change the command to the following

[code]

The differ

[2020-06-18 13:24] viceice commented on #6470
The question is, do we need to run Lerna to update the lockfiles or would it be enough to run the package manager only.

[2020-06-18 13:45] alclonky commented on #6188
I don't think repology whould be a fix for the RPM datasource or any other.
We need support for our own RPMs in self hosted RPM repos which wont be supported by repology

[2020-06-18 13:48] rarkins commented on #6188
OK, let's keep this issue for a dedicated rpm datasource. I'll move this back to "Needs Requirements" because I don't think we fully understand what's needed yet.

[2020-06-18 13:48] mpeyper commented on #6470
For what it's worth, I just reconfigured one of my project to use yarn, and then to use yarn with workspaces, and both cases are ignoring the scripts when just using

[code]

So moving it to the other side of the `--` should work in all three cases (I don't believe lerna supports any others package managers yet).

I think you want lerna to manage the lock files.  The managed packages are not inclu

[2020-06-18 13:51] rarkins commented on #6470
Last time I looked it seemed like lerna + yarn workspaces works ok if you just call `yarn` directly, however my concern was that we can't be sure that lerna won't change something in future, so `lerna bootstrap` is most safe.

[2020-06-18 13:54] alclonky commented on #6188
Maybe an generic webserver filelisting and search for the latest version would work for RPM too.
Don't know if this is possible already?

[2020-06-18 14:29] ppmathis commented on #6188
If I understand @alclonky correctly, the goal is to support any kind of available RPM repository including internal package repositories. This would require Renovate to act like the OS package manager (in this case most likely `dnf` / `yum`), so we would have to fetch the repository/package index, parse the available data and look for the correct package version. In that case, Repology is not a so

[2020-06-18 14:54] alclonky commented on #6188
@ppmathis: Yes you got it right. But the Version has to match the arch.
Maybe there is some kind of yum/dnf client which can be used for the update check
Chef has apt, rpm etc. support so there should be python and/or ruby clients
https://github.com/chef/chef/tree/5028d674c113ecadd82d2688fdbcef6adaa77a94/lib/chef/provider/package

[2020-06-18 15:27] maplesteve commented on #5646
@viceice, @rarkins This still leads to a lot of failed Renovate-PRs. Could you please provide an update regarding a bug fix or the questions in my last comment? Thanks!

[2020-06-18 15:40] viceice commented on #5646
🤔 I think we need a public repo to reproduce the issue. We only need the npmrc files, we can remove the credentials and use npmjs and yarnpkg as test sources

@maplesteve can you create a sample repo, which has the structure of your repo? So we can debug this with the local renovate CLI

[2020-06-18 16:09] maplesteve commented on #5646
@viceice Thanks for getting back so quickly!

I thought, we tracked it down to the problem, that Docker doesn't use the provided `.npmrc` (see [here](https://github.com/renovatebot/renovate/issues/5646#issuecomment-637849459))

The authorization and other problems where solved by using the "correct" encrypted npmrc in "renovate.json". The Docker problem is left.

I created a [repo](https://github.

[2020-06-18 16:25] Lucas-C opened #6544 "setup.py importing stuff from its own package"
**What Renovate type are you using?**

Tested with latest Docker image & source code version.

**Describe the bug**
Renovate fail to parse a `setup.py` file if it contains a line like `from the_pkg_itself import ...`

**Did you see anything helpful in debug logs?**
[code]

**To Reproduce**
Example minimal `setup.py` to reproduce the issue:
[code]

**Additional context**
I am working on a PR to fix

[2020-06-18 17:10] rarkins commented on #6538
Still a few to clean up, e.g. terraform-module

[2020-06-18 19:31] #6538 closed

[2020-06-18 21:36] renovate-release commented on #6538
:tada: This issue has been resolved in version 21.12.5 :tada:

The release is available on:
- [GitHub release](https://github.com/renovatebot/renovate/releases/tag/21.12.5)
- `21.12.5`

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-06-19 06:52] fgreinacher opened #6548 "Renovate exits with error on invalid Gemfiles"
**What Renovate type are you using?**

Self-hosted Renovate/GitLab

**Describe the bug**

Given an invalid Gemfile like this:

[code]
(The `end` is missing)

Renovate exit with messages like these:

[code]

**Additional context**

This behavior was already mentioned in https://github.com/renovatebot/renovate/issues/5232#issuecomment-578761280.

[2020-06-19 06:55] fgreinacher commented on #6548
Possible fix: Change https://github.com/renovatebot/renovate/blob/af81de40552c10e35bb18fdd064b83813c9cafab/lib/manager/bundler/extract.ts#L119 to log a warning instead?

[2020-06-19 12:35] KnisterPeter opened #6552 "Allow to define a 'blocked' label"
**What would you like Renovate to be able to do?**

If there is a certain label on a renovate PR not more rebases will happen.
There are issues (mainly major updates) you cannot do, because that would lead to breaking changes for your users. We currently flag them with a label to come back later and resolve this for the next major release.

While these PRs are blocked renovate does rebase them aga

[2020-06-19 12:41] viceice commented on #6552
Can't you use the master issue approval feature for this? So PR will be opened after approval

[2020-06-19 12:42] KnisterPeter commented on #6552
Hmm, @viceice how would that work with all the issues which should be created, reviewed and merged which are non blocking?

[2020-06-19 12:46] KnisterPeter commented on #6552
To make this a bit more clear, not all major updates lead to breaking changes. Only libraries with (intentionally) leaking interfaces would probably cause breaking changes.
These are the ones to be defered.

[2020-06-19 13:13] viceice commented on #6552
Which platform are you using?

You should always enable master issue. You can enable approval for major versions only. If there is a new major then, the master issue will show it, so you can check if there are any issues with it. If you are ok, you only need to tick the approval checkbox and renovate will open the PR.

[2020-06-19 13:16] KnisterPeter commented on #6552
We are using the open source and self-hosted version and we are using the master issue. Thats not the point.

Renovate couldn't know upfront which of our dependencies shouldn't be renovated currently, most of them should be.
That would mean either maintaining a list of exceptions in the renovate configuration versus adding labels to PRs.
From the user perspective adding labels to PRs seems to be s

[2020-06-19 13:20] rarkins commented on #6552
And you don’t want to “close to ignore”? You’ll still see the ones you ignored in the master issue

[2020-06-19 13:22] KnisterPeter commented on #6552
@rarkins That is kind of good idea. I will discuss this with my colleagues. But there might be issues I close and want to ignore and its harder to to filter this and track this. I have to github search to list them. But in the end it could work.

[2020-06-19 13:24] rarkins commented on #6552
The master issue’s Closed/Ignored list should save you from needing to search the closed PRs manually. Or do you mean something else?

[2020-06-19 13:26] KnisterPeter commented on #6552
The master issue will keep all closed issues in the list. Not only the ones which are 'blocked'. There may be issues which should stay closed for reasons.
The features I was requesting is more about defering PRs to a later time. Thats doable with the master issue 'closed list', but not that comfortable. :smiley:

[2020-06-19 14:32] rarkins opened #6553 "datasource.getDigest should reuse registrytUrl from getPkgReleases"

[2020-06-19 14:33] rarkins commented on #6552
So your ideal solution is to have a user-configurable label whose purpose is to tell Renovate "stop updating this PR ever" ?

[2020-06-19 14:35] KnisterPeter commented on #6552
Yes, as long as the label is preset, renovate wouldn't touch that PR in this case.

[2020-06-19 14:55] rarkins commented on #6552
Proposal:
- New string configuration option, `stopRebasingLabel`, defaults to `null`
- If configured, and if the PR has the label, then Renovate won't rebase automatically
- What about if the label is there but the rebase/retry checkbox is checked?
- Should double check that all platforms return labels with PRs

[2020-06-19 15:14] KnisterPeter commented on #6552
I would propose to see that as user request and therefore override the label and to a rebase. But not remove the label, just rebase once.

[2020-06-19 19:29] #6533 closed

[2020-06-19 19:39] renovate-release commented on #6533
:tada: This issue has been resolved in version 21.13.0 :tada:

The release is available on:
- [GitHub release](https://github.com/renovatebot/renovate/releases/tag/21.13.0)
- `21.13.0`

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-06-20 06:17] pharindoko commented on #6470
Hey,

I do get these errors as well.
I can confirm that I still have the same issue with lerna bootstrap

npm WARN deprecated resolve-url@0.2.1: https://github.com/lydell/resolve-url#deprecated
npm WARN deprecated urix@0.1.0: Please see https://github.com/lydell/urix#deprecated
npm WARN deprecated request@2.88.2: request has been deprecated, see https://github.com/request/request/issues/3142
npm W